Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

🛠️ [fix] Persist monitor state before cache updates
  electron/managers/monitorManager/applyMonitorStateOperation.ts
  electron/test/strictTests/monitorManager.applyMonitorStateOperation.100percent.test.ts
Due: electron

🛠️ [fix] Refresh cache after manual checks
  electron/managers/monitorManager/checkSiteManuallyOperation.ts
  electron/test/strictTests/monitorManager.additionalOperations.100percent.test.ts
Due: electron

🛠️ [fix] Clone SiteManager mutation results
  electron/managers/SiteManager.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
Due: electron, üåê Site Management Domain

🛠️ [fix] Clone database-loaded cache entries
  electron/managers/DatabaseManager.ts
  electron/managers/siteManager/getSiteSnapshotForMutation.ts
  electron/managers/siteManager/loadSiteInBackground.ts
  electron/services/database/SiteRepositoryService.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/utils/database/SiteRepositoryService.comprehensive.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Clone refreshed database site results
  electron/managers/DatabaseManager.ts
  electron/test/managers/DatabaseManager.100-percent-coverage.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Normalize production security headers
  electron/services/window/utils/productionSecurityHeaders.ts
  electron/test/services/window/utils/productionSecurityHeaders.test.ts
Due: electron, ü™ü Window Management

🛠️ [fix] Redact state sync diagnostics URLs
  electron/services/events/RendererEventBridge.ts
  electron/test/services/events/RendererEventBridge.test.ts
Due: electron

🛠️ [fix] Enforce sync artifact write limits
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
Due: electron

🛠️ [fix] Preserve Google Drive listed filenames
  electron/services/cloud/providers/googleDrive/googleDriveApiSchemas.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.test.ts
Due: electron

🔧 [chore] Keep JSCPD and Lychee out of lint all
  package.json
Due: none

🛠️ [fix] Reject credentialed monitor URLs
  electron/services/monitoring/shared/monitorServiceHelpers.ts
  electron/test/services/monitoring/shared/monitorServiceHelpers.test.ts
Due: electron, üéØ Monitoring Core Engine

🛠️ [fix] Harden native HTTP connectivity URLs
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
Due: electron, üéØ Monitoring Core Engine

🛠️ [fix] Enforce HTTP URL validator protocols
  shared/test/utils/urlSafety.test.ts
  shared/utils/urlSafety.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Reject noncanonical Dropbox paths
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/services/cloud/providers/dropbox/dropboxSdkSchemas.ts
  electron/test/services/cloud/providers/dropbox/DropboxCloudStorageProvider.test.ts
Due: electron

🛠️ [fix] Reject unsafe backup write bases
  electron/services/database/dataBackupService/writeFileWithinDirectory.ts
  electron/test/services/database/dataBackupService/writeFileWithinDirectory.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Sanitize IPC success metadata
  electron/services/ipc/utils.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
Due: electron, üîó IPC Communication Layer

🛠️ [fix] Enforce preload event epoch timestamps
  electron/preload/utils/eventsGuardHelpers.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
Due: electron

🛠️ [fix] Reject reserved SQLite backup filenames
  shared/test/validation/dataSchemas.test.ts
  shared/validation/dataSchemas.ts
Due: shared, üß© Shared Core, üîó Integration Layer

🛠️ [fix] Block private 6to4 preview URLs
  shared/test/utils/urlSafety.test.ts
  shared/utils/urlSafety.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Block private NAT64 preview URLs
  shared/test/utils/urlSafety.test.ts
  shared/utils/urlSafety.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Reject duplicate OAuth callback params
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/test/services/cloud/oauth/LoopbackOAuthServer.test.ts
Due: electron

🛠️ [fix] Enforce Google token metadata invariants
  electron/services/cloud/providers/googleDrive/GoogleDriveTokenManager.ts
  electron/services/cloud/providers/googleDrive/googleDriveTokenSchemas.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveTokenManager.test.ts
Due: electron

🛠️ [fix] Reject stale Dropbox refresh results
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
  electron/test/services/cloud/providers/dropbox/DropboxTokenManager.test.ts
Due: electron

🛠️ [fix] Clear empty OAuth token secrets
  electron/services/cloud/providers/oauthStoredTokens.ts
  electron/test/services/cloud/providers/oauthStoredTokens.test.ts
Due: electron

🛠️ [fix] Prefer fallback after secret write failures
  electron/services/cloud/secrets/SecretStore.ts
  electron/test/services/cloud/secrets/SafeStorageSecretStore.test.ts
Due: electron

🛠️ [fix] Clear empty derived encryption keys
  electron/services/cloud/internal/derivedEncryptionKeyState.ts
  electron/test/services/cloud/internal/derivedEncryptionKeyState.test.ts
Due: electron

🛠️ [fix] Decrypt empty encrypted cloud payloads
  electron/services/cloud/crypto/cloudCrypto.ts
  electron/test/services/cloud/crypto/cloudCrypto.test.ts
Due: electron

🛠️ [fix] Copy encrypted sync provider keys
  electron/services/cloud/providers/EncryptedSyncCloudStorageProvider.ts
  electron/test/services/cloud/providers/EncryptedSyncCloudStorageProvider.test.ts
Due: electron

🛠️ [fix] Zero cloud backup encryption keys
  electron/services/cloud/CloudService.backupOperations.ts
  electron/services/cloud/CloudService.ts
  electron/test/services/cloud/CloudService.backupOperations.test.ts
Due: electron

🛠️ [fix] Hide filesystem upload artifacts
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/test/services/cloud/FilesystemCloudStorageProvider.test.ts
Due: electron

🛠️ [fix] Normalize imported settings keys
  electron/services/database/DataImportExportService.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Reject oversized restore buffers early
  electron/services/database/DataBackupService.ts
  electron/test/utils/database/DataBackupService.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Sanitize updater event payloads
  electron/preload/domains/eventsApi.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
Due: electron

🛠️ [fix] Canonicalize renderer event payloads
  electron/preload/domains/eventsApi.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
Due: electron

🛠️ [fix] Align shared validation declarations
  shared/types/stateSync.ts
  shared/validation/cloudBackupSchemas.ts
Due: shared, üß© Shared Core, üìù Type Definitions, üîó Integration Layer

🛠️ [fix] Canonicalize site update payloads
  electron/test/services/cloud/providers/oauthStoredTokens.test.ts
  electron/test/utils/database/SiteRepositoryService.comprehensive.test.ts
  src/services/SiteService.ts
  src/test/strictTests/SiteService.critical.test.ts
Due: electron, frontend, üîå Frontend Services

🎨 [style] Apply Prettier formatting cleanup
  electron/managers/DatabaseManager.ts
  electron/services/cloud/crypto/cloudCrypto.ts
  electron/services/cloud/migrations/syncResetPreview.ts
  electron/services/database/DataImportExportService.ts
  electron/test/services/cloud/oauth/LoopbackOAuthServer.test.ts
  electron/test/services/cloud/providers/BaseCloudStorageProvider.test.ts
  electron/test/services/cloud/providers/oauthStoredTokens.test.ts
  electron/test/services/events/RendererEventBridge.test.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
  electron/test/services/monitoring/MonitorOperationRegistry.test.ts
  shared/test/utils/jsonSafety.behavior.test.ts
  shared/test/utils/urlSafety.test.ts
  shared/test/validation/cloudEncryptionPassphrase.test.ts
  shared/test/validation/importExportSchemas.test.ts
  shared/utils/urlSafety.ts
  shared/validation/dataSchemas.ts
  shared/validation/importExportSchemas.ts
  src/hooks/useMount.ts
  src/services/DataService.ts
  src/services/MonitoringService.ts
  src/services/SettingsService.ts
  src/services/SiteService.ts
  src/stores/settings/state.ts
  src/test/services/MonitoringService.edge-cases.test.ts
  src/test/stores/sites/useSiteMonitoring.edge-cases.test.ts
  src/test/utils/fileDownload.test.ts
Due: electron, frontend, shared, üß© Shared Core, üóÑÔ∏è Database Layer, ‚öôÔ∏è Configuration Management, üîå Frontend Services, üß∞ Frontend Utilities, üîó Integration Layer

🧹 [chore] Remove stale Biome and Renoma tooling
  .secretlintignore
  config/linting/biome.json
  config/tools/.pre-commit-config.yaml
  config/tools/knip.config.ts
  electron/events/eventTypes.ts
  package-lock.json
  package.json
  scripts/devtools-snippets/Debugger-Pause-After-5.js
  scripts/devtools-snippets/Debugger-Pause-Countdown.js
  scripts/devtools-snippets/Debugger-Pause-Element-Hover.js
  scripts/devtools-snippets/Debugger-Pause-Element.js
  scripts/devtools-snippets/Debugger-Pause-Hover.js
  src/components/common/Tooltip/Tooltip.tsx
Due: electron, frontend, üîß Common UI Components, üîó Integration Layer

🧹 [chore] Remove redundant package script aliases
  package.json
Due: none

🚜 [refactor] Keep HTTP monitor URL helper private
  electron/services/monitoring/shared/monitorServiceHelpers.ts
  electron/test/services/monitoring/shared/monitorServiceHelpers.test.ts
Due: electron, üéØ Monitoring Core Engine

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
