Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, electron, UI Components, State Management (Stores), Frontend Services, React Hooks, Frontend Utils, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Settings & Configuration, Dashboard & Analytics, Error Handling, Theme System, Type Definitions, Constants

Bump version to 11.0.0
  package.json
Due: none

🛠️ [fix] Handle missing monitor intervals and settings safely
  electron/services/monitoring/MonitorScheduler.ts
  electron/utils/database/DataImportExportService.ts
  shared/types.ts
  src/hooks/useBackendFocusSync.ts
Due: frontend, electron, React Hooks, Core Backend Services, Backend Utils, Monitoring Engine

🧪 [test] Unskips and refines tests, removes obsolete files
  electron/services/ipc/validators.comprehensive.test.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/events/middleware.comprehensive.test.ts
  electron/test/main.comprehensive.test.ts
  electron/test/managers/DatabaseManager.integration.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.debug.test.ts
  electron/test/services/ServiceContainer.debug-sitemanager.test.ts
  electron/test/services/ServiceContainer.debug.test.ts
  electron/test/services/ServiceContainer.factory-bypass.test.ts
  electron/test/services/ServiceContainer.minimal.test.ts
  electron/test/services/ServiceContainer.targeted.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/DataImportExportService.final.test.ts
  electron/test/services/database/DataImportExportService.isolated.test.ts
  electron/test/services/database/DataImportExportService.working.test.ts
  electron/test/services/monitoring/MonitorScheduler.comprehensive.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/PingMonitor.test.ts
  electron/test/utils.test.ts
  electron/test/utils/logger.test.ts
  electron/test/utils/sharedValidation.test.ts
  scripts/eslint-config-uptime-watcher/index.js
  shared/test/utils/validation.comprehensive.test.ts
  shared/test/utils/validation.test.ts
  src/test/App.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/components/Settings/Settings.comprehensive.test.tsx
  src/test/main.simple.test.tsx
  src/test/monitorOperations.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/strictTests/IpcService.comprehensive.test.ts
  src/test/theme/useTheme.comprehensive.test.ts
  src/test/theme/useTheme.functional.test.ts
  src/test/useSettingsStore.test.ts
  src/test/utils/monitorValidation.test.ts
Due: frontend, electron, Core Backend Services, IPC Communication

📝 [docs] Clarify DNS monitor as example, update patterns
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
Due: none

🔧 [build] Add advanced ESLint/Prettier plugins and update config
  .prettierrc
  eslint.config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  sonar-project.properties
Due: none

⚡ [perf] Optimize React rendering with memoization
  electron/utils/cache/StandardizedCache.ts
  src/App.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/DynamicMonitorFields.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/components/shared/SaveButton.tsx
  src/hooks/site/useSite.ts
  src/hooks/useBackendFocusSync.ts
  src/hooks/useDynamicHelpText.ts
  src/hooks/useMonitorTypes.ts
  src/hooks/useSelectedSite.ts
  src/hooks/useThemeStyles.ts
  src/stores/error/ErrorBoundary.tsx
  src/theme/components/MiniChartBar.tsx
  src/theme/components/StatusIndicator.tsx
  src/theme/components/ThemedCard.tsx
  src/theme/components/ThemedIconButton.tsx
  src/theme/components/ThemedInput.tsx
  src/theme/useTheme.ts
Due: frontend, electron, UI Components, State Management (Stores), React Hooks, Backend Utils, Site Management, Settings & Configuration, Error Handling, Theme System

📝 [docs] Update repository and event ADRs; add clean template
  docs/Architecture/ADRs/ADR-001-Repository-Pattern.md
  docs/Architecture/ADRs/ADR-002-Event-Driven-Architecture.md
  docs/Architecture/Templates/Repository-Template-Clean.md
Due: none

🧪 [test] Expand mocks and assertions for coverage; update labels
  electron/test/managers/DatabaseManager.test.ts
  electron/test/managers/SiteManager.debug.test.ts
  index.html
  src/test/components/Settings/Settings.branch-coverage.test.tsx
Due: frontend, electron

🎨 [style] Add eslint-disable comments for etc plugin rules
  electron/events/TypedEventBus.ts
  electron/events/middleware.ts
  electron/services/database/utils/typedQueries.ts
  electron/services/ipc/types.ts
  electron/services/ipc/utils.ts
  electron/utils/monitoring/monitorLifecycle.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/utils/operationHelpers.ts
  src/theme/components/ThemedInput.tsx
  src/types/ipc.ts
  src/utils/monitorTitleFormatters.ts
Due: frontend, electron, State Management (Stores), Frontend Utils, Core Backend Services, Backend Utils, Database Layer, IPC Communication, Site Management, Theme System

✨ [feat] Add advanced linting plugins and strict schema validation
  eslint.config.mjs
  package-lock.json
  package.json
  shared/validation/schemas.ts
  vite.config.ts
Due: none

🎨 [style] Improves code formatting and consistency
  docs/Architecture/ADRs/ADR-001-Repository-Pattern.md
  docs/Architecture/ADRs/ADR-002-Event-Driven-Architecture.md
  docs/Architecture/Templates/Repository-Template-Clean.md
  docs/Architecture/Templates/Repository-Template.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.debug.test.ts
  electron/test/services/ServiceContainer.debug-sitemanager.test.ts
  electron/test/services/ServiceContainer.debug.test.ts
  electron/test/services/ServiceContainer.factory-bypass.test.ts
  electron/test/services/ServiceContainer.minimal.test.ts
  electron/test/services/ServiceContainer.targeted.test.ts
  scripts/eslint-config-uptime-watcher/index.js
  shared/test/utils/validation.test.ts
  src/test/components/shared/formUtils.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/strictTests/IpcService.comprehensive.test.ts
  src/test/utils/monitorValidation.test.ts
Due: frontend, electron

Bump version to 11.1.0
  package.json
Due: none

📝 [docs] Improve documentation structure and clarity
  electron/UptimeOrchestrator.ts
  electron/events/TypedEventBus.ts
  electron/main.ts
  electron/managers/DatabaseManager.ts
  electron/managers/validators/MonitorValidator.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/utils/typedQueries.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/services/notifications/NotificationService.ts
  shared/types/configTypes.ts
  shared/utils/errorHandling.ts
  shared/utils/safeConversions.ts
  src/components/Dashboard/SiteCard/SiteCardMetrics.tsx
  src/index.css
  src/types.ts
  src/utils/cache.ts
  src/utils/fallbacks.ts
  src/utils/monitorTypeHelper.ts
Due: frontend, electron, UI Components, Frontend Utils, Core Backend Services, Domain Managers, Uptime Orchestrator, Database Layer, Monitoring Engine, Dashboard & Analytics, Type Definitions

🧹 [chore] Modernize config files for security, CI, and tooling
  .checkov.yml
  .codecov.yml
  .cspell.json
  .devskim.json
  .djlintrc
  .gitleaks.toml
  .grype.yaml
  .hintrc
  .htmlhintrc
  .jscpd.json
  .lintstagedrc.json
  .markdown-link-check.json
  .markdownlint.json
  .pre-commit-config.yaml
  .secretlintignore
  .secretlintrc.json
  .yamllint
  ActionLintConfig.yaml
  biome.json
  cliff.toml
  commitlint.config.js
  flatpak-build.yml
  io.github.uptimewatcher.desktop
  kics.yaml
  knip.json
  lychee.toml
  postcss.config.mjs
  repomix.config.json
  sonar-project.properties
  stylelint.config.js
Due: none

⚡ [perf] Streamlines linting, upgrades deps, and modernizes config
  .mega-linter.yml
  .prettierrc
  .vscode/settings.json
  AnyUsage.report.md
  eslint.config.mjs
  package-lock.json
  package.json
  stylelint.config.mjs
  tailwind.config.mjs
  tsdoc.json
  typedoc.electron.json
  typedoc.json
  vite.config.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: none

🧪 [test] Achieve 100% coverage for components, stores, and utils
  docs/testing-methodology-react-components.md
  shared/test/utils/stringConversion.comprehensive.test.ts
  shared/test/utils/stringConversion.targeted-coverage.test.ts
  shared/test/validation/testHelpers.comprehensive.test.ts
  shared/test/validation/testHelpers.ts
  src/test/components/ActionButtonGroup.complete-coverage.test.tsx
  src/test/components/AddSiteForm.complete-coverage.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.targeted.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.uncovered-lines.test.tsx
  src/test/components/ErrorAlert.complete-coverage.test.tsx
  src/test/components/HistoryChart.complete-coverage.test.tsx
  src/test/components/MonitorSelector.complete-coverage.test.tsx
  src/test/components/SiteMonitoringButton.complete-coverage.test.tsx
  src/test/hooks/site/useSiteDetails.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.targeted.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/utils/fallbacks.targeted-coverage.test.ts
  src/test/utils/monitorUiHelpers.branch-coverage.test.ts
Due: frontend

🚜 [refactor] Simplify site monitoring state updates
  src/hooks/site/useSiteDetails.ts
Due: frontend, React Hooks

🧹 [chore] Enhance Stylelint config and add rule discovery scripts
  .prettierrc
  .vscode/settings.json
  package-lock.json
  package.json
  stylelint.config.mjs
Due: none

🔧 [build] Reorganizes stylelint scripts and config overrides
  package.json
  stylelint.config.mjs
Due: none

📝 [docs] Clarifies formatting in code documentation comments
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/utils/httpStatusUtils.ts
  shared/utils/siteStatus.ts
  shared/utils/typeHelpers.ts
  src/hooks/site/useSiteAnalytics.ts
Due: frontend, electron, React Hooks, Core Backend Services, Monitoring Engine

🧪 [test] Achieves 100% coverage for React components and stores
  .prettierrc
  .secretlintrc.json
  docs/testing-methodology-react-components.md
  electron/test/managers/DatabaseManager.test.ts
  knip.json
  shared/test/utils/stringConversion.comprehensive.test.ts
  shared/test/utils/stringConversion.targeted-coverage.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/schemas.test.ts
  shared/test/validation/testHelpers.comprehensive.test.ts
  src/test/components/ActionButtonGroup.complete-coverage.test.tsx
  src/test/components/AddSiteForm.complete-coverage.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.targeted.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.uncovered-lines.test.tsx
  src/test/components/ErrorAlert.complete-coverage.test.tsx
  src/test/components/HistoryChart.complete-coverage.test.tsx
  src/test/components/MonitorSelector.complete-coverage.test.tsx
  src/test/components/SiteMonitoringButton.complete-coverage.test.tsx
  src/test/hooks/site/useSiteDetails.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.targeted.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/utils/fallbacks.targeted-coverage.test.ts
  src/test/utils/monitorUiHelpers.branch-coverage.test.ts
  tailwind.config.mjs
  tsdoc.json
Due: frontend, electron

🎨 [style] Unifies CSS logical properties and improves theme utility
  src/components/Header/Header.css
  src/components/SiteDetails/SiteDetails.css
  src/index.css
  src/theme/components.css
Due: frontend, UI Components, Site Management, Theme System

🧹 [chore] Remove unused lint and Vite plugins; modernize test mocks
  knip.json
  package-lock.json
  package.json
  shared/test/validation/testHelpers.comprehensive.test.ts
  src/test/components/HistoryChart.complete-coverage.test.tsx
  src/test/dom-setup.ts
  src/test/global-setup.ts
  src/test/main.comprehensive.test.tsx.backup
  src/test/mock-setup.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.test.ts
  src/test/stores/settings/useSettingsStore.targeted.test.ts
  src/test/utils/fallbacks.targeted-coverage.test.ts
Due: frontend

🎨 [style] Enhance UI styles and clarify hook dependencies
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/common/HistoryChart.tsx
  src/theme/components.css
  src/theme/useTheme.ts
Due: frontend, UI Components, Site Management, Theme System

chore: format code with Prettier [skip-ci]
  CONTRIBUTING.md
  docs/AI-CONTEXT.md
  docs/Archive/Historical-Analysis/Code-Analysis-Missing-Interfaces-Complexity-Plan.md
  docs/Archive/Historical-Analysis/CodeComplexityReductionPlan.md
  docs/Archive/Implementation-Records/Lessons-Learned-Race-Condition-Implementation.md
  docs/Archive/Reviews/DB_Utils_Services_Summary.md
  docs/Archive/Reviews/FR.ConfigurationManager.md
  docs/Archive/Reviews/FR.DatabaseManager.md
  docs/Archive/Reviews/FR.UptimeOrchestrator.md
  docs/Archive/Reviews/FR.databaseBackup.md
  docs/Archive/Reviews/LC.AI.R-AddSiteFormComponents.md
  docs/Archive/Reviews/LC.AI.R-ApplicationService-DatabaseBackup-Review.md
  docs/Archive/Reviews/LC.AI.R-Final-Report.md
  docs/Archive/Reviews/LC.AI.R-FrontendInfrastructure.md
  docs/Archive/Reviews/LC.AI.R-MonitoringUtilities.md
  docs/Archive/Reviews/LC.AI.R-OperationalUtilities.md
  docs/Archive/Reviews/LC.AI.R-ReactAppEntryPoints.md
  docs/Archive/Reviews/LC.AI.R-SharedUtilities.md
  docs/Archive/Reviews/LC.AI.R-SiteCard-Components.md
  docs/Archive/Reviews/LC.AI.R-SiteCard-Supporting-Components.md
  docs/Archive/Reviews/LC.AI.R-SiteWriterService-monitorLifecycle.md
  docs/Archive/Reviews/LC.AI.R-Submit-HistoryChart-MonitorUI.md
  docs/Archive/Reviews/LC.AI.R-TypeSafetyUtilities.md
  docs/Archive/Reviews/LC.AI.R-ValidationSystem.md
  docs/Archive/Reviews/LC.AI.R-historyManipulation.md
  docs/Archive/Type-Safety-Migration/Final-Type-Safety-Analysis-Complete.md
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Guides/TESTING.md
  docs/LOGGER_MIGRATION_COMPLETE_REPORT.md
  src/index.css
  src/theme/components.css
Due: frontend, Theme System

✨ [feat] Improve monitor display logic for clarity
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
Due: frontend, UI Components, Site Management, Dashboard & Analytics

⚡ [perf] Optimize theme application and app startup UX
  electron/UptimeOrchestrator.ts
  index.html
  shared/test/validation/testHelpers.ts
  src/App.tsx
  src/components/Header/Header.css
  src/stores/settings/useSettingsStore.ts
  src/theme/ThemeManager.ts
  src/theme/components.css
  src/theme/useTheme.ts
Due: frontend, electron, UI Components, State Management (Stores), Uptime Orchestrator, Settings & Configuration, Theme System

🧪 [test] Improve monitor formatting and mocks in tests
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  src/test/SiteCardMetrics.test.tsx
  src/test/components/MonitorSelector.complete-coverage.test.tsx
  src/test/components/SiteDetails/tabs/SiteOverviewTab.comprehensive.test.tsx
  src/theme/components.css
Due: frontend, electron, Theme System

✨ [feat] Resume only active monitors after restart; add Prettier plugins
  .prettierrc
  electron/UptimeOrchestrator.ts
  package-lock.json
  package.json
  vite.config.ts
Due: electron, Uptime Orchestrator

🎨 [style] Improve array formatting for readability
  shared/types.ts
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/utils/fallbacks.ts
Due: frontend, UI Components, Frontend Utils, Site Management

🔧 [build] Update formatting and plugin configs for Prettier and ESLint
  .gitleaks.toml
  .prettierrc
  eslint.config.mjs
  package.json
Due: none

🔧 [build] Update dev dependencies to latest versions
  package-lock.json
  package.json
Due: none

🛠️ [fix] Prevents invalid site selection and port 0 usage
  shared/validation/validatorUtils.ts
  src/stores/sites/utils/operationHelpers.ts
  src/theme/useTheme.ts
Due: frontend, State Management (Stores), Site Management, Theme System

🚜 [refactor] Streamline theme application and lint scripts
  package-lock.json
  package.json
  src/theme/useTheme.ts
Due: frontend, Theme System

Path conditions:
  frontend: any of: src/
  electron: any of: electron/
  UI Components: any of: src/components/**
  State Management (Stores): any of: src/stores/**
  Frontend Services: any of: src/services/**
  React Hooks: any of: src/hooks/**
  Frontend Utils: any of: src/utils/**
  Core Backend Services: any of: electron/services/**
  Domain Managers: any of: electron/managers/**
  Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  Backend Utils: any of: electron/utils/**, electron/electronUtils.ts
  Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts
  Monitoring Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts
  IPC Communication: any of: electron/services/ipc/**, electron/preload.ts
  Site Management: any of: electron/managers/SiteManager.ts, src/stores/sites/**, src/components/AddSiteForm/**, src/components/SiteDetails/**
  Settings & Configuration: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, src/components/Settings/**
  Dashboard & Analytics: any of: src/components/Dashboard/**, src/stores/stats/**, src/stores/ui/**
  Error Handling: any of: src/stores/error/**
  Theme System: any of: src/theme/**
  Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts
  Constants: any of: src/constants.ts, electron/constants.ts
