Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

🧪 [test] Remove stale database timestamp coverage shim
  shared/test/types/database-missing-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate shared type coverage shim
  shared/test/types/types-complete-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove redundant validation export coverage shim
  shared/test/types/validation-extra.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate validation function suite
  shared/test/types/validation-functions.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate schema final coverage suite
  shared/test/validation/schemas.final-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Consolidate utility coverage wrappers
  shared/test/utils/logTemplates-missing-coverage.test.ts
  shared/test/utils/logTemplates.functions.test.ts
  shared/test/utils/validation-extras.test.ts
  shared/test/utils/validation.missing-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Consolidate error catalog coverage wrapper
  shared/test/utils/errorCatalog.comprehensive.test.ts
  shared/test/utils/errorCatalog.function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate type guard helper wrapper
  shared/test/utils/typeGuards-and-helpers-complete-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Consolidate type helper export wrapper
  shared/test/utils/typeHelpers.comprehensive.test.ts
  shared/test/utils/typeHelpers.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate strict type guard wrapper
  shared/test/strictTests/typeGuards-complete-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate safe conversions wrapper
  shared/test/utils/safeConversions.comprehensive.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate cache key coverage wrapper
  shared/test/strictTests/cacheKeys-complete-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Consolidate cache config naming coverage
  shared/test/constants/cacheConfig.direct.test.ts
  shared/test/constants/cacheConfig.test.ts
Due: shared, üß© Shared Core

🧪 [test] Consolidate site status invalid coverage
  shared/test/fuzzing/siteStatus.fuzz.test.ts
  shared/test/utils/siteStatus-missing-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove redundant export coverage blocks
  shared/test/types.test.ts
  shared/test/utils/cacheKeys.test.ts
  shared/test/utils/safeConversions-extra.test.ts
Due: shared, üß© Shared Core

🧪 [test] Replace object safety coverage padding
  shared/test/strictTests/historyLimits.property.test.ts
  shared/test/types.fast-check-comprehensive.test.ts
  shared/test/utils/objectSafety.test.ts
  shared/test/utils/typeGuards.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove mock-only renderer coverage boosters
  shared/test/fuzzing/siteStatus.fuzz.test.ts
  shared/test/utils/cacheKeys.test.ts
  src/test/component-coverage-boost.test.tsx
  src/test/comprehensive-coverage-boost.test.ts
Due: frontend, shared, üß© Shared Core

🧪 [test] Remove dynamic function coverage push
  src/test/final-function-coverage-push.test.ts
Due: frontend

🧪 [test] Remove mixed function coverage booster
  src/test/function-coverage-boost.test.ts
Due: frontend

🧪 [test] Remove duplicate frontend function coverage target
  src/test/frontend-functions-coverage-target.test.tsx
Due: frontend

🧪 [test] Remove duplicate frontend coverage suites
  src/test/cacheKeys-coverage.test.ts
  src/test/environment-coverage.test.ts
  src/test/final-coverage-remaining-lines.test.ts
  src/test/frontend-functions-coverage.test.tsx
  src/test/safeConversions-coverage.test.ts
Due: frontend

🧪 [test] Remove mocked coverage padding suites
  src/test/additional-uncovered-lines.test.ts
  src/test/comprehensive-100-percent-coverage.test.tsx
Due: frontend

🧪 [test] Remove redundant edge case coverage catch-all
  src/test/edge-cases-100-coverage.test.ts
Due: frontend

🧪 [test] Remove shared utility coverage padding
  src/test/database-types-coverage.test.ts
  src/test/precision-function-coverage.test.ts
  src/test/remainingCoverage.test.tsx
  src/test/shared-types-coverage.test.ts
  src/test/working-utility-coverage.test.ts
Due: frontend

🧪 [test] Remove thin store coverage smoke tests
  src/test/stores/settings/useSettingsStore.coverage.test.ts
  src/test/stores/sites/useSitesStore-complete-coverage.test.ts
  src/test/stores/sites/useSitesStore.coverage.test.ts
Due: frontend

🧪 [test] Remove duplicated utility coverage padding
  src/test/final.coverage.enhancement.simplified.test.tsx
  src/test/objectSafety-coverage.test.ts
  src/test/stringConversion-coverage.test.ts
  src/test/typeHelpers-coverage.test.ts
Due: frontend

🧪 [test] Remove local component coverage reproductions
  src/test/FormFields.uncovered.test.tsx
  src/test/Settings.simple.coverage.test.tsx
Due: frontend

🧪 [test] Remove redundant store coverage padding
  src/test/stores/monitor/useMonitorTypesStore.simplified100.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
Due: frontend

🧪 [test] Remove duplicate UI store coverage padding
  src/test/stores/ui/useUiStore.100-coverage.test.ts
Due: frontend

🧪 [test] Remove redundant constants coverage padding
  src/test/constants-theme-100-coverage.test.ts
Due: frontend

🧪 [test] Remove fake monitor form data coverage
  src/test/types/monitorFormData.coverage.test.ts
Due: frontend

🧪 [test] Simplify component coverage suites
  src/test/components/ErrorAlert.complete-coverage.test.tsx
  src/test/components/StatusBadge.additional-coverage.test.tsx
Due: frontend

🧪 [test] Simplify site monitoring button coverage
  src/test/components/SiteMonitoringButton.complete-coverage.test.tsx
Due: frontend

🧪 [test] Simplify action button group coverage
  src/test/components/ActionButtonGroup.complete-coverage.test.tsx
Due: frontend

🧪 [test] Consolidate monitor selector coverage
  src/test/components/Dashboard/SiteCard/components/MonitorSelector.additional-coverage.test.tsx
  src/test/components/MonitorSelector.complete-coverage.test.tsx
Due: frontend

🧪 [test] Simplify history chart coverage
  src/test/components/HistoryChart.complete-coverage.test.tsx
Due: frontend

🧪 [test] Consolidate theme progress coverage
  src/test/theme/components.additional-coverage.test.tsx
  src/test/theme/components/ThemedProgress.arithmetic-mutations.test.tsx
Due: frontend

🧪 [test] Remove duplicate theme hook coverage
  src/test/theme/useTheme.complete-coverage.test.ts
Due: frontend

🧪 [test] Consolidate logger coverage
  src/test/logger.test.ts
  src/test/services/logger.basic.test.ts
Due: frontend

🧪 [test] Simplify base form field coverage
  src/test/components/AddSiteForm/BaseFormField.additional-coverage.test.tsx
Due: frontend

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
