Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, electron, UI Components, State Management (Stores), Frontend Services, React Hooks, Frontend Utils, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Settings & Configuration, Dashboard & Analytics, Error Handling, Theme System, Type Definitions, Constants

📝 [docs] Add ESLint error resolution prompt guidelines
  .github/prompts/Fix-Eslint-Errors.prompt.md
Due: none

🚜 [refactor] Improve state logic, error handling, and code clarity
  electron/events/TypedEventBus.ts
  electron/events/middleware.ts
  electron/managers/DatabaseManager.ts
  electron/services/ServiceContainer.ts
  electron/services/database/DatabaseService.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/monitorTypes.ts
  electron/services/window/WindowService.ts
  shared/types.ts
  shared/utils/siteStatus.ts
  src/App.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/DynamicMonitorFields.tsx
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Dashboard/SiteList/SiteList.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/constants.ts
  src/hooks/site/useSiteActions.ts
  src/hooks/site/useSiteAnalytics.ts
  src/hooks/site/useSiteDetails.ts
  src/hooks/useMonitorTypes.ts
  src/hooks/useThemeStyles.ts
  src/main.tsx
  src/services/chartConfig.ts
  src/stores/error/useErrorStore.ts
  src/stores/settings/useSettingsStore.ts
  src/stores/sites/services/MonitoringService.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/theme/components.tsx
Due: frontend, electron, UI Components, State Management (Stores), Frontend Services, React Hooks, Core Backend Services, Domain Managers, Database Layer, Monitoring Engine, IPC Communication, Site Management, Settings & Configuration, Dashboard & Analytics, Error Handling, Theme System, Constants

🔧 [build] Add Prettier plugins and update ESLint deps
  .prettierrc
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

🧪 [test] Update tests for theme and util changes, fix mocks
  electron/test/high-impact-coverage.test.ts
  electron/test/preload.missing-branches.test.ts
  src/test/App.comprehensive.test.tsx
  src/test/App.test.tsx
  src/test/chartConfig.test.ts
  src/test/logger.test.ts
  src/theme/useTheme.ts
Due: frontend, electron, Theme System

🎨 [style] Expand multiline arrays and objects for readability
  .cspell.json
  .devskim.json
  .jscpd.json
  .markdown-link-check.json
  .markdownlint.json
  biome.json
  electron/test/coverage-boosters/validation-edge-cases.test.ts
  electron/test/events/TypedEventBus.comprehensive.test.ts
  electron/test/managers/validators/MonitorValidator.comprehensive.test.ts
  electron/test/services.missing-branches.test.ts
  electron/test/services/database/utils/valueConverters.test.ts
  electron/test/services/monitoring/monitorTypes.test.ts
  electron/test/services/monitoring/utils/httpStatusUtils.test.ts
  electron/test/services/monitoring/utils/pingRetry.test.ts
  electron/test/utilities.missing-branches.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
  eslint.config.mjs
  scripts/download-docs-template.js
  scripts/download-nodeSqlite3-docs.js
  shared/test/utils/typeGuards.comprehensive.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/validation/schemas.test.ts
  src/test/Settings.simple.coverage.test.tsx
  src/test/final.coverage.enhancement.simplified.test.tsx
  src/test/logger.test.ts
  src/test/theme/components.additional-coverage.test.tsx
  src/test/theme/components.comprehensive.test.tsx
  src/test/theme/components.maximal-coverage.test.tsx
  src/test/themeTypes.test.tsx
  src/test/useUpdatesStore.test.ts
  src/test/utils/chartUtils.test.ts
  src/test/utils/status.test.ts
  src/test/utils/time.test.ts
  vite.config.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: frontend, electron

📝 [docs] Add comprehensive Chart.js Zoom plugin documentation
  docs/Packages/Chart.js-Plugin-Zoom/README.md
  docs/Packages/Chart.js-Plugin-Zoom/guide/animations.md
  docs/Packages/Chart.js-Plugin-Zoom/guide/developers.md
  docs/Packages/Chart.js-Plugin-Zoom/guide/index.md
  docs/Packages/Chart.js-Plugin-Zoom/guide/integration.md
  docs/Packages/Chart.js-Plugin-Zoom/guide/options.md
  docs/Packages/Chart.js-Plugin-Zoom/guide/usage.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/.eslintrc.yml
  docs/Packages/Chart.js-Plugin-Zoom/samples/api.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/basic.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/drag/category.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/drag/linear-ratio.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/drag/linear.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/drag/log.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/drag/reject-outside.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/drag/time.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/drag/timeseries.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/fetch-data.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/pan/region.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/pan/toggle.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/wheel/category-min-range.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/wheel/category.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/wheel/click-zoom.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/wheel/log.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/wheel/over-scale-mode.md
  docs/Packages/Chart.js-Plugin-Zoom/samples/wheel/time.md
  docs/Packages/Chart.js-Plugin-Zoom/scripts/defaults.js
  docs/Packages/Chart.js-Plugin-Zoom/scripts/register.js
  docs/Packages/Chart.js-Plugin-Zoom/scripts/utils.js
Due: none

📝 [docs] Add comprehensive Electron-Log and Electron-Updater docs
  docs/Packages/Electron-Log/errors.md
  docs/Packages/Electron-Log/events.md
  docs/Packages/Electron-Log/extend.md
  docs/Packages/Electron-Log/initialize.md
  docs/Packages/Electron-Log/migration.md
  docs/Packages/Electron-Log/transports/console.md
  docs/Packages/Electron-Log/transports/file.md
  docs/Packages/Electron-Log/transports/format.md
  docs/Packages/Electron-Log/transports/remote.md
  docs/Packages/Electron-Updater/Electron-Updater.md
Due: none

🛠️ [fix] Defer state updates in effects using named UI delay
  src/App.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/constants.ts
  src/hooks/site/useSiteDetails.ts
  src/theme/useTheme.ts
Due: frontend, UI Components, React Hooks, Site Management, Settings & Configuration, Theme System, Constants

🛠️ [fix] Improve error boundary retry and coverage mapping
  .codecov.yml
  src/components/error/DefaultErrorFallback.tsx
  src/stores/error/ErrorBoundary.tsx
Due: frontend, UI Components, State Management (Stores), Error Handling

🧪 [test] Expand and improve frontend test coverage
  electron/test/high-impact-coverage.test.ts
  electron/test/targeted-coverage.test.ts
  electron/test/utilities.missing-branches.test.ts
  shared/test/utils/jsonSafety.comprehensive.test.ts
  shared/test/utils/objectSafety.comprehensive.test.ts
  shared/test/validation/schemas.branch-coverage.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/validation/schemas.test.ts
  src/test/App.comprehensive.test.tsx
  src/test/ScreenshotThumbnail.test.tsx
  src/test/components/Settings/Settings.test.tsx
  src/test/components/error/DefaultErrorFallback.comprehensive.test.tsx
  src/test/main.test.tsx
  src/test/shared/utils/errorHandling.comprehensive.test.ts
  src/test/stores/error/ErrorBoundary.comprehensive.test.tsx
  src/test/stores/error/useErrorStore.test.ts
  src/test/stores/settings/useSettingsStore.additional.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/sites/useSiteMonitoring.comprehensive.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/stores/ui/useUiStore.test.ts
  src/test/theme/ThemeManager.branch-coverage.test.ts
  src/test/theme/components.additional-coverage.test.tsx
  src/test/theme/components.maximal-coverage.test.tsx
  src/test/theme/components.minimal.test.tsx
  src/test/theme/useTheme.basic.test.ts
  src/test/theme/useTheme.comprehensive.test.ts
  src/test/theme/useTheme.functional.test.ts
  src/test/theme/useTheme.working.test.ts
  src/test/utils/monitorUiHelpers.comprehensive.test.ts
  src/test/utils/siteStatus.import.test.ts
Due: frontend, electron

Bump version to 9.7.0
  package.json
Due: none

🔧 [build] Refactors TypeScript and test configs for consistency
  tsconfig.electron.json
  tsconfig.electron.test.json
  tsconfig.json
  tsconfig.test.json
  vite.config.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: none

Update vite.config.ts
  vite.config.ts
Due: none

👷 [ci] Update coverage workflow and test config; remove summary report
  .github/workflows/codecov.yml
  src/test/coverage.summary.report.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  vite.config.ts
  vitest.electron.config.ts
Due: frontend

🧪 [test] Update coverage exclusions and switch provider
  package-lock.json
  vite.config.ts
  vitest.electron.config.ts
Due: none

🎨 [style] Reformat and clean up test code for readability
  electron/test/high-impact-coverage.test.ts
  scripts/download-Zod-docs.js
  src/test/components/error/DefaultErrorFallback.comprehensive.test.tsx
  src/test/main.test.tsx
  src/test/stores/error/ErrorBoundary.comprehensive.test.tsx
  src/test/stores/settings/useSettingsStore.additional.test.ts
  src/test/theme/components.maximal-coverage.test.tsx
  src/test/theme/useTheme.basic.test.ts
  src/test/theme/useTheme.working.test.ts
Due: frontend, electron

📝 [docs] Add comprehensive guide for new monitor type integration
  docs/API/IPC-Standardization-Guide.md
  docs/API/Phase4-Quality-Assurance-Guide.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
Due: none

🧹 [chore] Update config files, remove changelog, add secretlint
  .devskim.json
  .github/CHANGELOG.md
  .github/Update-ChangeLogs.ps1
  .gitleaks.toml
  .grype.yaml
  .jscpd.json
  .lycheeignore
  .markdown-link-check.json
  .mega-linter.yml
  .secretlintignore
  .secretlintrc.json
  CONTRIBUTING.md
  cliff.toml
  custom-words.txt
  scripts/Analyze-ProjectFiles-SrcElectron.ps1
  scripts/Analyze-ProjectFiles.ps1
  scripts/List-Files.ps1
  scripts/getFileSizes.ps1
  scripts/rename-tests.ps1
Due: none

🛠️ [fix] Remove leading dots from ESLint and tsconfig paths
  eslint.config.mjs
  src/test/stores/settings/useSettingsStore.additional.test.ts
  tsconfig.test.json
Due: frontend

✨ [feat] Add modal-driven site creation and unified site monitoring controls
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  src/App.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Dashboard/SiteCard/SiteCardHeader.tsx
  src/components/Dashboard/SiteCard/components/ActionButtonGroup.tsx
  src/components/Header/Header.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/common/SiteMonitoringButton/SiteMonitoringButton.tsx
  src/hooks/site/useSiteActions.ts
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
Due: frontend, UI Components, State Management (Stores), React Hooks, Site Management, Dashboard & Analytics

✨ [feat] Add operation-correlated monitoring for race safety
  electron/managers/MonitorManager.ts
  electron/managers/validators/SiteValidator.ts
  electron/services/ServiceContainer.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/settingsMapper.ts
  electron/services/ipc/utils.ts
  electron/services/ipc/validators.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/EnhancedMonitoringServiceFactory.ts
  electron/services/monitoring/MonitorOperationRegistry.ts
  electron/services/monitoring/MonitorStatusUpdateService.ts
  electron/services/monitoring/OperationTimeoutManager.ts
  electron/services/monitoring/constants.ts
  electron/services/monitoring/utils/monitorTypeGuards.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  shared/types.ts
  shared/utils/validation.ts
  shared/validation/validatorUtils.ts
  src/components/AddSiteForm/Submit.tsx
  src/components/Settings/Settings.tsx
  src/hooks/site/useSiteDetails.ts
  src/stores/sites/utils/monitorOperations.ts
Due: frontend, electron, UI Components, State Management (Stores), React Hooks, Core Backend Services, Domain Managers, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Settings & Configuration

🚜 [refactor] Standardize import order and improve validator utils
  electron/managers/validators/SiteValidator.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/settingsMapper.ts
  electron/services/ipc/utils.ts
  electron/services/ipc/validators.ts
  electron/services/monitoring/utils/monitorTypeGuards.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  shared/types.ts
  shared/validation/validatorUtils.ts
  src/components/Settings/Settings.tsx
  src/hooks/site/useSiteDetails.ts
Due: frontend, electron, UI Components, React Hooks, Core Backend Services, Domain Managers, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Settings & Configuration

🔧 [build] Update ESLint config and package settings
  eslint.config.mjs
  package.json
Due: none

🚜 [refactor] Unifies monitor operation lifecycle and result handling
  electron/managers/MonitorManager.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorStatusUpdateService.ts
  electron/utils/monitoring/monitorLifecycle.ts
  src/stores/sites/utils/monitorOperations.ts
Due: frontend, electron, State Management (Stores), Core Backend Services, Domain Managers, Backend Utils, Database Layer, Monitoring Engine, Site Management

📝 [docs] Add comprehensive monitoring and UI architecture guides
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Guides/Lessons-Learned-Race-Condition-Implementation.md
  docs/Guides/Monitoring-Race-Condition-Solution-Plan.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/UI-Feature-Development-Guide.md
Due: none

🧪 [test] Improve validation test coverage and monitor lifecycle checks
  electron/test/services.missing-branches.test.ts
  electron/test/services/ServiceContainer.test.ts
  electron/test/services/monitoring/PingMonitor.test.ts
  electron/test/utilities.missing-branches.test.ts
  electron/test/utils/monitoring/monitorLifecycle.comprehensive.test.ts
  electron/test/validationUtils.test.ts
  shared/test/validation/validationUtils.test.ts
  src/test/monitorOperations.test.ts
Due: frontend, electron

Bump version to 9.8.0
  package.json
Due: none

chore: format code with Prettier [skip-ci]
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Guides/Lessons-Learned-Race-Condition-Implementation.md
  docs/Guides/Monitoring-Race-Condition-Solution-Plan.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/UI-Feature-Development-Guide.md
  docs/Reviews/LC.AI.R-SharedUtilities.md
Due: none

🛠️ [fix] Handle undefined monitor operations and improve URL validation
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorStatusUpdateService.ts
  shared/types.ts
  shared/validation/validatorUtils.ts
Due: electron, Core Backend Services, Monitoring Engine

🧪 [test] Add comprehensive unit tests for conversions and validation
  shared/test/utils/safeConversions.test.ts
  shared/test/utils/validation.test.ts
  src/test/App.comprehensive.test.tsx
  src/test/monitorOperations.test.ts
  src/test/stores/settings/useSettingsStore.additional.test.ts
Due: frontend

🧹 [chore] Update config paths and versioning
  .devskim.json
  .grype.yaml
  CONTRIBUTING.md
  package-lock.json
Due: none

✨ [feat] Improve form validation and modal accessibility
  shared/utils/validation.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
Due: frontend, UI Components, Site Management

🔧 [build] Update dependencies to latest versions
  package-lock.json
  package.json
Due: none

🚜 [refactor] Modularize config serialization and validators
  electron/services/ipc/IpcService.ts
  electron/services/ipc/validators.ts
  src/hooks/useThemeStyles.ts
Due: frontend, electron, React Hooks, Core Backend Services, IPC Communication

🧪 [test] Add and reorganize backend coverage tests for shared validation and conversions
  electron/test/services/ipc/validatorComposition.test.ts
  electron/test/shared/types/database.test.ts
  electron/test/shared/utils/safeConversions.test.ts
  electron/test/shared/utils/validation.test.ts
  electron/test/utils/sharedDatabaseTypes.test.ts
  electron/test/utils/sharedSafeConversions.test.ts
  electron/test/utils/sharedValidation.test.ts
  shared/test/utils/validation.comprehensive.test.ts
  shared/test/utils/validation.test.ts
  src/test/utils/fallbacks.test.ts
Due: frontend, electron

📝 [docs] Document complexity reduction, AI review fixes, and false positive findings
  docs/CodeComplexityReductionPlan.md
  docs/Implementation-Complete-Validator-IpcService-Refactor.md
  docs/Lessons-Learned-Race-Condition-Implementation.md
  docs/Reviews/LC.AI.R-AddSiteForm.md
  docs/Reviews/LC.AI.R-AddSiteModal.md
  docs/Reviews/LC.AI.R-FinalReport.md
  docs/Reviews/LC.AI.R-IpcServicets.md
  docs/Reviews/LC.AI.R-MonitorStatusUpdateService.md
  docs/Reviews/LC.AI.R-RemainingIssuesSummary.md
  docs/Reviews/LC.AI.R-SiteDetailsNavigation.md
  docs/Reviews/LC.AI.R-dynamicSchema.md
  docs/Reviews/LC.AI.R-fallbacks-test.md
  docs/Reviews/LC.AI.R-main.md
  docs/Reviews/LC.AI.R-useSettingsStore-test.md
Due: none

🧹 [chore] Move validation test file to correct directory
  shared/test/validation/schemas.test.ts
Due: none

Path conditions:
  frontend: any of: src/
  electron: any of: electron/
  UI Components: any of: src/components/**
  State Management (Stores): any of: src/stores/**
  Frontend Services: any of: src/services/**
  React Hooks: any of: src/hooks/**
  Frontend Utils: any of: src/utils/**
  Core Backend Services: any of: electron/services/**
  Domain Managers: any of: electron/managers/**
  Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  Backend Utils: any of: electron/utils/**, electron/electronUtils.ts
  Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts
  Monitoring Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts
  IPC Communication: any of: electron/services/ipc/**, electron/preload.ts
  Site Management: any of: electron/managers/SiteManager.ts, src/stores/sites/**, src/components/AddSiteForm/**, src/components/SiteDetails/**
  Settings & Configuration: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, src/components/Settings/**
  Dashboard & Analytics: any of: src/components/Dashboard/**, src/stores/stats/**, src/stores/ui/**
  Error Handling: any of: src/stores/error/**
  Theme System: any of: src/theme/**
  Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts
  Constants: any of: src/constants.ts, electron/constants.ts
