Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

✨ [feat] Update BeastMode agent configuration - Add wildcard support for agents to enhance flexibility - Reorganize tools list for improved clarity and functionality
  .github/agents/BeastMode.agent.md
Due: none

🛠️ [fix] Updates logging flags and CSS imports
  electron/main.ts
  electron/services/cloud/internal/cloudProviderDeps.ts
  electron/services/cloud/internal/resolveCloudProviderOrNull.ts
  electron/services/monitoring/shared/monitorServiceHelpers.ts
  electron/test/validationUtils.test.ts
  package.json
  playwright/tests/ui-site-card-actions.ui.playwright.test.ts
  shared/test/schemas.property.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/validationUtils.test.ts
  shared/test/validation/validatorUtils-complete-function-coverage.test.ts
  shared/test/validation/validatorUtils.test.ts
  shared/test/validatorUtils.property.test.ts
  shared/utils/urlSafety.ts
  shared/utils/zodIssueFormatting.ts
  shared/validation/validatorUtils.ts
  src/index.css
  src/stores/cloud/useCloudStore.ts
  src/types/monitorFormData.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üß∞ Frontend Utilities, üîó Integration Layer

🧹 [chore] Update dev dependencies
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: none

🔧 [build] Update .gitignore for Docusaurus outputs - 🗑️ Remove outdated Docusaurus generated output paths - ➕ Add back Docusaurus (repo-specific) generated outputs paths
  .gitignore
Due: none

🛠️ [fix] Update tools list in BeastMode agent configuration
  .github/agents/BeastMode.agent.md
Due: none

🛠️ [fix] Improves OAuth loopback stability
  electron/preload/utils/preloadLogger.ts
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/services/cloud/providers/dropbox/DropboxAuthFlow.ts
  src/App.tsx
  src/components/Dashboard/Overview/DashboardOverview.tsx
  src/components/Dashboard/SiteList/SiteList.tsx
  src/components/Dashboard/SiteList/SiteTableRow.tsx
  src/stores/utils.ts
Due: electron, frontend, üß© Core UI Components

🛠️ [fix] Improve cloud sync resilience
  electron/services/cloud/CloudService.providerOperations.ts
  electron/services/cloud/crypto/cloudCrypto.ts
  electron/services/cloud/internal/cloudServicePrimitives.ts
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/services/database/DataBackupService.ts
  electron/services/database/DataImportExportService.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/utils/mappers/settingsMapper.ts
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/services/sync/SyncEngine.ts
  electron/services/sync/syncEngineUtils.ts
  electron/test/services/cloud/CloudService.providerOperations.test.ts
  electron/test/services/cloud/CloudService.test.ts
  electron/test/services/cloud/FilesystemCloudStorageProvider.test.ts
  electron/test/services/cloud/crypto/cloudCrypto.test.ts
  electron/test/services/cloud/internal/cloudServicePrimitives.base64.test.ts
  electron/test/services/cloud/providers/dropbox/DropboxCloudStorageProvider.test.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
  electron/test/utils/database/DataBackupService.test.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
  shared/test/types/cloudSyncManifest.test.ts
  shared/types/cloudSyncManifest.ts
  shared/validation/persistedDeviceIdValidation.ts
Due: electron, shared, üß© Shared Core, üóÑÔ∏è Database Layer, üìù Type Definitions, üîó Integration Layer

🧹 [chore] Updates lint tooling
  .github/agents/BeastMode.agent.md
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

🛠️ [fix] Improves connectivity fallback
  .github/agents/BeastMode.agent.md
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
Due: electron, üéØ Monitoring Core Engine

🛠️ [fix] Adds IPC timeouts and sync actions
  .vscode/launch.json
  .vscode/tasks.json
  electron/managers/SiteManagerStateSync.ts
  electron/preload/core/bridgeFactory.ts
  electron/services/application/ApplicationService.ts
  electron/services/events/RendererEventBridge.ts
  electron/services/ipc/IpcService.ts
  electron/test/preload/core/bridgeFactory.comprehensive.test.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
  electron/test/utils/vitestConstructors.ts
  scripts/architecture-static-guards.mjs
  shared/types/events.ts
  shared/types/stateSync.ts
  src/components/Dashboard/SiteList/SiteTableRow.tsx
  src/services/StateSyncService.ts
  src/stores/sites/useSiteSync.ts
  src/test/utils/chartUtils.property.test.ts
Due: electron, frontend, shared, üß© Shared Core, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üß© Core UI Components, üîå Frontend Services, üìù Type Definitions

🚜 [refactor] Improves shared sync logic
  config/tools/knip.config.ts
  electron/services/ipc/validators/cloud.ts
  electron/services/ipc/validators/data.ts
  electron/services/ipc/validators/monitorTypes.ts
  electron/services/ipc/validators/monitoring.ts
  electron/services/ipc/validators/settings.ts
  electron/services/ipc/validators/shared.ts
  electron/services/ipc/validators/sites.ts
  electron/services/ipc/validators/stateSync.ts
  electron/services/ipc/validators/system.ts
  electron/services/ipc/validators/utils/commonValidators.ts
  electron/services/ipc/validators/utils/parameterValidation.ts
  electron/services/ipc/validators/utils/recordValidation.ts
  electron/test/main.comprehensive.test.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/services/EventsService.ts
  src/services/utils/preloadSubscriptions.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/utils/stateSyncEventHandler.ts
  src/stores/sites/utils/statusUpdateSubscriptionSummary.ts
  src/stores/updates/useUpdatesStore.ts
  src/stores/utils/refCountedAsyncSubscription.ts
  src/test/stores/refCountedAsyncSubscription.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
Due: electron, frontend, üåê Site Management Domain, üîó IPC Communication Layer, üì¶ Frontend State Stores, üîå Frontend Services

✨ [feat] Adds lint drift guards and mock helpers
  config/linting/plugins/uptime-watcher.mjs
  config/linting/rules/shared-contract-interfaces.mjs
  docs/Guides/CONSISTENCY_GUIDE.md
  docs/Guides/LINT_GUARDRAILS_AND_CUSTOM_RULES.md
  electron/test/main.comprehensive.test.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
  electron/test/utils/vitestConstructors.ts
  eslint.config.mjs
  shared/test/helpers/vitestConstructors.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
Due: electron, frontend, shared, üß© Shared Core

🔧 [build] Update eslint-plugin-jsdoc to version 62.4.1
  package-lock.json
  package.json
Due: none

🚜 [refactor] Streamlines async handlers
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  electron/UptimeOrchestratorEventHandlers.ts
  electron/coordinators/HistoryLimitCoordinator.ts
  electron/coordinators/MonitoringLifecycleCoordinator.ts
  electron/coordinators/OrchestratorEventForwardingCoordinator.ts
  electron/coordinators/SnapshotSyncCoordinator.ts
  electron/main.ts
  electron/managers/SiteManager.ts
  electron/services/ServiceContainerEventForwarder.ts
  electron/services/application/ApplicationService.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/monitorUiConfig.ts
  electron/services/monitoring/utils/httpMonitorUiConfig.ts
  electron/services/monitoring/utils/monitorCheckResultNormalization.ts
  electron/services/monitoring/utils/monitorTitleSuffixResolvers.ts
  electron/services/window/WindowService.ts
  electron/services/window/utils/pathGuards.ts
  electron/services/window/utils/productionSecurityHeaders.ts
  electron/utils/cache/StandardizedCache.ts
  electron/utils/fireAndForget.ts
  package-lock.json
  package.json
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/utils/helperBullets.ts
Due: electron, frontend, üéØ Monitoring Core Engine, üåê Site Management Domain, üîß Backend Services, ü™ü Window Management, üß© Core UI Components, üõ†Ô∏è Backend Utilities

🚜 [refactor] Splits orchestration and settings UI
  electron/UptimeOrchestrator.ts
  electron/managers/SiteManager.ts
  electron/managers/siteManager/createSiteMonitoringConfig.ts
  electron/managers/siteManager/formatSiteValidationErrors.ts
  electron/managers/siteManager/loadSiteInBackground.ts
  electron/managers/siteManager/updateSitesCache.ts
  electron/orchestrator/UptimeOrchestratorSubscriptions.ts
  electron/orchestrator/utils/createContextualApplicationError.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/monitorTypeRegistry/registerHttpMonitorTypes.ts
  electron/services/monitoring/monitorTypeRegistry/registerNonHttpMonitorTypes.ts
  src/components/Settings/cloud/CloudProviderSetupPanel.DisconnectControl.tsx
  src/components/Settings/cloud/CloudProviderSetupPanel.OAuthProviderPanel.tsx
  src/components/Settings/cloud/CloudProviderSetupPanel.ProviderLockNotice.tsx
  src/components/Settings/cloud/CloudProviderSetupPanel.ProviderPanel.tsx
  src/components/Settings/cloud/CloudProviderSetupPanel.ProviderTabList.tsx
  src/components/Settings/cloud/CloudProviderSetupPanel.StatusControl.tsx
  src/components/Settings/cloud/CloudProviderSetupPanel.model.ts
  src/components/Settings/cloud/CloudProviderSetupPanel.tsx
  src/components/Settings/cloud/CloudProviderSetupPanel.utils.ts
  src/components/SiteDetails/tabs/SettingsTab.DangerZoneCard.tsx
  src/components/SiteDetails/tabs/SettingsTab.MonitoringConfigurationCard.tsx
  src/components/SiteDetails/tabs/SettingsTab.NotificationsCard.tsx
  src/components/SiteDetails/tabs/SettingsTab.SiteConfigurationCard.tsx
  src/components/SiteDetails/tabs/SettingsTab.SiteInformationCard.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
Due: electron, frontend, üéØ Monitoring Core Engine, üéº Uptime Orchestrator, üåê Site Management Domain, üß© Core UI Components, üîß Common UI Components

🚜 [refactor] Split sync maintenance UI
  src/components/Settings/cloud/SyncMaintenancePanel.DangerZoneCard.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.DeviceIdsDetails.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.MismatchNoticeCard.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.OperationLogsDetails.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.PreviewMetrics.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.PreviewSummaryCard.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.StatusCard.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.ToolsCard.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.model.ts
  src/components/Settings/cloud/SyncMaintenancePanel.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.utils.ts
Due: frontend, üîß Common UI Components

🚜 [refactor] Extract backup/history helpers
  electron/services/database/DataBackupService.ts
  electron/services/database/dataBackupService/backupMetadata.ts
  electron/services/database/dataBackupService/pathWithinDirectory.ts
  electron/services/database/dataBackupService/replaceDatabaseFile.ts
  electron/services/database/dataBackupService/sanitizeBackupFileName.ts
  electron/services/database/dataBackupService/snapshot.ts
  electron/services/database/dataBackupService/tempDirectories.ts
  electron/services/database/dataBackupService/writeFileWithinDirectory.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/enhancedMonitorChecker/historyPruningState.ts
  electron/services/monitoring/enhancedMonitorChecker/saveHistoryEntry.ts
Due: electron, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer

🚜 [refactor] Improves retry orchestration
  electron/services/cloud/providers/dropbox/dropboxRetry.ts
  electron/services/database/DatabaseService.ts
  electron/services/window/WindowService.ts
  package-lock.json
  package.json
  shared/utils/retry.ts
  src/components/SiteDetails/tabs/SettingsTab.utils.ts
  src/services/utils/electronBridgeReadiness.ts
  src/theme/ThemeManager.ts
Due: electron, frontend, shared, üß© Shared Core, üóÑÔ∏è Database Layer, ü™ü Window Management, üß© Core UI Components, üé® Theme System, üîå Frontend Services, üß∞ Frontend Utilities

🚜 [refactor] Extract SiteDetails tab content into separate component
  .prettierignore
  .prettierrc
  config/linting/plugins/uptime-watcher.mjs
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/enhancedMonitorChecker/createServicesByTypeAndStrategyRegistry.ts
  electron/services/monitoring/enhancedMonitorChecker/performManualCheck.ts
  electron/services/monitoring/enhancedMonitorChecker/performScheduledCheck.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsTabContent.tsx
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
Due: electron, frontend, üéØ Monitoring Core Engine, üß© Core UI Components

🚜 [refactor] Extract MonitorManager operations and helpers for improved organization
  .github/agents/BeastMode.agent.md
  electron/managers/MonitorManager.ts
  electron/managers/monitorManager/createEnhancedLifecycle.ts
  electron/managers/monitorManager/createMonitorActionDelegate.ts
  electron/managers/monitorManager/handleScheduledCheckOperation.ts
  electron/managers/monitorManager/toggleMonitoringAllOperation.ts
  electron/managers/monitorManager/toggleMonitoringForSiteOperation.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  src/components/Settings/Settings.tsx
  src/components/Settings/useInAppAlertTonePreview.ts
  src/components/Settings/useSettingsChangeHandlers.ts
  src/hooks/site/useSiteDetails.ts
  src/hooks/site/useSiteDetails.uiStore.ts
Due: electron, frontend, üéØ Monitoring Core Engine, ü™ù Business Logic Hooks, üîß Common UI Components

🚜 [refactor] Tightens type safety and guards
  .github/agents/BeastMode.agent.md
  config/testing/vitest.zero-coverage.config.ts
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  electron/events/eventTypes.catalogue.core.d.ts
  electron/events/eventTypes.catalogue.internalCacheDatabase.d.ts
  electron/events/eventTypes.catalogue.internalMonitoringSite.d.ts
  electron/events/eventTypes.catalogue.public.d.ts
  electron/managers/databaseRepositorySets.d.ts
  electron/managers/validators/interfaces.d.ts
  electron/services/cloud/CloudService.operationContext.d.ts
  electron/services/monitoring/EnhancedMonitoringDependencies.d.ts
  electron/services/monitoring/enhancedMonitorChecker/historyPruningState.d.ts
  electron/services/monitoring/monitorUiConfig.d.ts
  electron/services/window/utils/pathGuards.ts
  package-lock.json
  package.json
  shared/types/componentProps.ts
  shared/types/themeConfig.ts
  shared/utils/logTemplates.ts
  shared/utils/objectSafety.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/common/PromptDialog/PromptDialog.tsx
  src/hooks/site/useSiteAnalytics.ts
  src/test/utils/monitorTypeHelper.test.ts
  src/theme/ThemeManager.ts
  src/utils/chartUtils.ts
  src/utils/monitorTypeHelper.ts
  src/utils/monitorValidation.ts
  tests/strictTests/electron/services/cloud/internal/cloudServiceFsUtils.test.ts
  tests/strictTests/electron/services/cloud/providers/googleDrive/googleDriveHttpClient.test.ts
  tests/strictTests/electron/services/database/dataBackupService/snapshot.test.ts
  tests/strictTests/electron/services/window/utils/pathGuards.test.ts
  tests/strictTests/electron/utils/fsSafeOps.test.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, ü™ü Window Management, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîó Integration Layer

🚜 [refactor] Improves runtime type safety
  electron/events/TypedEventBus.ts
  electron/main.ts
  electron/services/database/utils/queries/typedQueries.ts
  electron/services/ipc/validators/shared.ts
  electron/services/ipc/validators/utils/commonValidators.ts
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/MonitorOperationRegistry.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/monitorTypes.ts
  electron/services/monitoring/shared/monitorCoreHelpers.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/window/WindowService.ts
  electron/utils/eventMetadataForwarding.ts
  electron/utils/operationalHooks.ts
  shared/types.ts
  shared/types/cloudSyncManifest.ts
  shared/types/database.ts
  shared/types/themeConfig.ts
  shared/utils/abortUtils.ts
  shared/utils/errorCatalog.ts
  shared/utils/errorHandling.ts
  shared/utils/errorSerialization.ts
  shared/utils/ipcResponse.ts
  shared/utils/objectSafety.ts
  shared/utils/typeHelpers.ts
  shared/validation/cloudSchemas.ts
  shared/validation/monitorSchemas.ts
  shared/validation/validatorUtils.ts
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/common/MonitorUiComponents.tsx
  src/components/shared/formUtils.ts
  src/test/utils/data/generateUuid.comprehensive.test.ts
  src/theme/ThemeManager.ts
  src/theme/components/ThemedButton.tsx
  src/theme/components/ThemedSelect.tsx
  src/types/monitorFormData.ts
  src/utils/cache.ts
  src/utils/data/generateUuid.ts
  src/utils/status.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üîó IPC Communication Layer, ü™ü Window Management, üì¶ Frontend State Stores, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîó Integration Layer

🚜 [refactor] Improves stability and overlays
  electron/main.ts
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManagerEnhancedLifecycle.ts
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/SslMonitor.ts
  electron/test/managers/DatabaseManager.foundation.test.ts
  shared/utils/objectSafety.ts
  shared/utils/typeHelpers.ts
  shared/validation/statusUpdateSchemas.ts
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/Settings/Settings.tsx
  src/components/Settings/SettingsSections.tsx
  src/components/Settings/cloud/CloudSection.tsx
  src/components/Settings/sections/ApplicationSection.tsx
  src/components/Settings/sections/BackupSummary.ts
  src/components/Settings/sections/MaintenanceSection.tsx
  src/components/Settings/sections/MonitoringSection.tsx
  src/components/Settings/sections/NotificationSection.tsx
  src/components/Settings/sections/SettingsSection.tsx
  src/components/Settings/useSettingsController.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/common/Modal/Modal.tsx
  src/hooks/site/useSiteDetails.uiStore.ts
  src/hooks/ui/useOverflowMarquee.ts
  src/services/chartConfig.ts
  src/stores/settings/hydration.ts
  src/stores/settings/operations.ts
  src/test/components/AddSiteForm/AddSiteModal.test.tsx
  src/test/components/AddSiteModal.branch-coverage.test.tsx
  src/test/components/common/ConfirmDialog/ConfirmDialog.test.tsx
  src/test/components/common/PromptDialog/PromptDialog.test.tsx
  src/test/strictTests/AddSiteModal.behavioral-coverage.test.tsx
  src/theme/components/ThemedButton.tsx
  src/theme/components/ThemedCard.tsx
  src/theme/styles/components/overlays.css
  src/utils/cacheSync.ts
  src/utils/fallbacks.ts
  src/utils/monitorValidation.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, ‚öôÔ∏è Configuration Management, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üîó Integration Layer

🚜 [refactor] Simplifies sync, UI, and linting
  electron/UptimeOrchestrator.ts
  electron/services/cloud/migrations/backupMigration.ts
  electron/services/database/DataImportExportService.ts
  electron/services/database/MonitorRepository.updateUtils.ts
  electron/services/database/utils/converters/valueConverters.ts
  electron/services/database/utils/mappers/monitorMapper.ts
  electron/services/sync/SyncEngine.ts
  electron/services/sync/syncEngineState.ts
  electron/services/window/WindowService.ts
  electron/utils/operationalHooks.ts
  shared/utils/canonicalJson.ts
  shared/utils/errorCatalog.ts
  shared/utils/objectSafety.ts
  src/components/AddSiteForm/Submit.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/hooks/useThemeStyles.ts
  src/services/utils/cleanupHandlers.ts
  src/stores/sites/useSiteOperations.ts
  src/test/components/MonitorSelector.complete-coverage.test.tsx
  src/theme/styles/components/cards.css
  src/theme/themes.ts
  src/utils/duration.ts
Due: electron, frontend, shared, üß© Shared Core, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ü™ü Window Management, üß© Core UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities

🔧 [build] Update Electron to version 40.1.0
  package-lock.json
  package.json
Due: none

🧹 [chore] Streamlines sync linting rules
  .github/agents/BeastMode.agent.md
  electron/services/ipc/handlers/cloudHandlers.ts
  eslint.config.mjs
  src/App.tsx
  src/app/bootstrap/appBootstrap.ts
  src/services/CloudService.ts
  src/services/StateSyncService.ts
  src/stores/cloud/useCloudStore.ts
  src/stores/sites/useSiteSync.ts
Due: electron, frontend, üåê Site Management Domain, üîó IPC Communication Layer, üîå Frontend Services

🚜 [refactor] Improves IPC safety and linting
  electron/preload/core/bridgeFactory.ts
  eslint.config.mjs
  shared/utils/errorHandling.ts
  shared/utils/ipcResponse.ts
  shared/utils/logTemplates.ts
  shared/validation/siteIntegrity.ts
  src/components/AddSiteForm/fields/fieldFactories.tsx
  src/components/Dashboard/Overview/DashboardOverview.tsx
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/components/SiteDetails/charts/ResponseTimeChart.tsx
  src/hooks/useThemeStyles.ts
  src/main.tsx
  src/stores/error/ErrorBoundary.tsx
  src/test/main.comprehensive.test.tsx
  src/theme/components/ThemedSelect.tsx
  src/theme/themes.ts
  src/types/ipc.ts
  src/types/monitorFormData.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
Due: electron, frontend, shared, üß© Shared Core, üì¶ Frontend State Stores, üß© Core UI Components, üé® Theme System, üß∞ Frontend Utilities, üîó Integration Layer

🎨 [style] Refactor code formatting and documentation
  .prettierrc
  .remarkrc.mjs
  docs/Architecture/ADRs/ADR_001_REPOSITORY_PATTERN.md
  docs/Architecture/Patterns/COMPONENT_PROPS_STANDARDS.md
  docs/Architecture/TSDOC_STANDARDS.md
  docs/Architecture/Templates/IPC_HANDLER_TEMPLATE.md
  docs/Architecture/Templates/REPOSITORY_TEMPLATE.md
  docs/Guides/CONSISTENCY_GUIDE.md
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  eslint.config.mjs
  package.json
Due: none

🚜 [refactor] Clarifies monitoring wiring
  README.md
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  docs/Architecture/ADRs/ADR_032_SUPPORT_AND_DIAGNOSTICS_DATA_POLICY.md
  docs/Architecture/Patterns/COMPONENT_PROPS_STANDARDS.md
  docs/Architecture/Patterns/INITIALIZATION_AND_DATA_IMPORT_ORCHESTRATION.md
  docs/Architecture/Patterns/SITE_LOADING_ORCHESTRATION.md
  docs/Architecture/generated/IPC_CHANNEL_INVENTORY.md
  docs/Guides/CLOUD_SYNC_DROPBOX_SETUP.md
  docs/Guides/DOCUMENTATION_INDEX.md
  docs/Guides/DOCUMENTATION_STYLE_GUIDE.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/ORGANIZATION_SUMMARY.md
  docs/Guides/README.md
  docs/Guides/RENDERER_INTEGRATION_GUIDE.md
  docs/Guides/SITES_STORE_MUTATION_AND_SYNC_GUIDE.md
  docs/TSDoc/README.md
  docs/Testing/FAST_CHECK_FUZZING_GUIDE.md
  docs/Testing/PLAYWRIGHT_TESTING_GUIDE.md
  docs/docusaurus/README.md
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/MonitorTypeRegistry.types.d.ts
  electron/services/monitoring/enhancedMonitorChecker/emitStatusChangeEvents.ts
  electron/services/monitoring/enhancedMonitorChecker/fetchFreshMonitorWithHistory.ts
  electron/services/monitoring/enhancedMonitorChecker/handleSuccessfulCheck.ts
  electron/services/monitoring/enhancedMonitorChecker/performDirectCheck.ts
  electron/services/monitoring/enhancedMonitorChecker/saveHistoryEntry.ts
  electron/services/monitoring/monitorTypeRegistry/registerHttpMonitorTypes.ts
  electron/services/monitoring/monitorTypeRegistry/registerNonHttpMonitorTypes.ts
  electron/test/fuzzing/MonitorTypeRegistry.comprehensive.fuzz.test.ts
  src/theme/styles/components/overlays.css
Due: electron, frontend, üéØ Monitoring Core Engine, üé® Theme System

📝 [docs] Improve documentation formatting consistency
  .remarkrc.mjs
  docs/Architecture/ADRs/ADR_001_REPOSITORY_PATTERN.md
  docs/Architecture/ADRs/ADR_003_ERROR_HANDLING_STRATEGY.md
  docs/Architecture/ADRs/ADR_008_MONITOR_TYPE_REGISTRY.md
  docs/Architecture/Patterns/COMPONENT_PROPS_STANDARDS.md
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  docs/Architecture/TSDOC_STANDARDS.md
  docs/Architecture/Templates/IPC_HANDLER_TEMPLATE.md
  docs/Architecture/Templates/REPOSITORY_TEMPLATE.md
  docs/Architecture/Templates/ZUSTAND_STORE_TEMPLATE.md
  docs/Guides/API_DOCUMENTATION.md
  docs/Guides/CONSISTENCY_GUIDE.md
  docs/Guides/DOCUMENTATION_STYLE_GUIDE.md
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  docs/Guides/VALIDATION_STRATEGY.md
  docs/Guides/VITE_PERFORMANCE.md
  docs/TSDoc/TSDoc-Home.md
  docs/TSDoc/TSDoc-Package-Tsdoc.md
  docs/TSDoc/TSDoc-Spec-TagKinds.md
  docs/TSDoc/TSDoc-Tag-Example.md
  docs/Testing/CODEGEN_TEMPLATE_USAGE.md
  package.json
Due: none

🛠️ [fix] Adds success accent to settings modal
  README.md
  docs/Architecture/ADRs/ADR_001_REPOSITORY_PATTERN.md
  docs/Architecture/ADRs/ADR_003_ERROR_HANDLING_STRATEGY.md
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  docs/Architecture/ADRs/ADR_008_MONITOR_TYPE_REGISTRY.md
  docs/Architecture/ADRs/ADR_032_SUPPORT_AND_DIAGNOSTICS_DATA_POLICY.md
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  docs/Architecture/Patterns/INITIALIZATION_AND_DATA_IMPORT_ORCHESTRATION.md
  docs/Architecture/Patterns/SITE_LOADING_ORCHESTRATION.md
  docs/Architecture/TSDOC_STANDARDS.md
  docs/Architecture/Templates/ZUSTAND_STORE_TEMPLATE.md
  docs/Guides/CLOUD_SYNC_DROPBOX_SETUP.md
  docs/Guides/CONSISTENCY_GUIDE.md
  docs/Guides/DOCUMENTATION_INDEX.md
  docs/Guides/DOCUMENTATION_STYLE_GUIDE.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/ORGANIZATION_SUMMARY.md
  docs/Guides/README.md
  docs/Guides/RENDERER_INTEGRATION_GUIDE.md
  docs/Guides/SITES_STORE_MUTATION_AND_SYNC_GUIDE.md
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  docs/Guides/VALIDATION_STRATEGY.md
  docs/Guides/VITE_PERFORMANCE.md
  docs/Testing/CODEGEN_TEMPLATE_USAGE.md
  docs/Testing/FAST_CHECK_FUZZING_GUIDE.md
  docs/Testing/PLAYWRIGHT_TESTING_GUIDE.md
  docs/docusaurus/README.md
  electron/services/window/WindowService.ts
  eslint.config.mjs
  package-lock.json
  package.json
  playwright/tests/ui-addsitemodal-basic.ui.playwright.test.ts
  playwright/tests/ui-site-card-actions.ui.playwright.test.ts
  src/components/Settings/Settings.tsx
Due: electron, frontend, ü™ü Window Management, üîß Common UI Components

🔧 [build] Update ESLint configuration and plugins
  eslint.config.mjs
Due: none

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
