Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

🔧 [build] Update Docusaurus workflows and configuration
  .github/workflows/backup-docusaurus.yml
  .github/workflows/deploy-docusaurus.yml
  docs/docusaurus/docusaurus.config.ts
Due: none

📝 [docs] Improves docs structure and links
  .gitignore
  .vscode/settings.json
  README.md
  docs/Architecture/ADRs/README.md
  docs/Architecture/Patterns/README.md
  docs/Architecture/Templates/README.md
  docs/Guides/DEVELOPER_QUICK_START.md
  docs/Guides/DOCUMENTATION_INDEX.md
  docs/Guides/ERROR_HANDLING_GUIDE.md
  docs/InteractiveCharts/README.md
  docs/InteractiveCharts/engineering-tooling.md
  docs/InteractiveCharts/error-handling.md
  docs/InteractiveCharts/event-system.md
  docs/InteractiveCharts/ipc-communication.md
  docs/InteractiveCharts/service-container.md
  docs/InteractiveCharts/testing-architecture.md
  docs/TSDoc/TSDoc-Home.md
  docs/TSDoc/TSDoc-Intro-UsingTsdoc.md
  docs/Testing/TESTING_HOME.md
  docs/docusaurus/blog/2025-11-25-eslint-config-inspector-integration.mdx
  docs/docusaurus/blog/2025-11-25-property-based-testing-real-bugs.mdx
  docs/docusaurus/blog/2025-11-25-uptime-watcher-development-journey.mdx
  docs/docusaurus/docs/hierarchy.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/package.json
  docs/docusaurus/sidebars.ts
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/tsconfig.eslint.json
  docs/docusaurus/tsconfig.json
  docs/docusaurus/tsconfig.typedoc.json
  docs/docusaurus/typedoc-plugins/hashToBangLinks.mjs
  docs/docusaurus/typedoc-plugins/prefixDocLinks.mjs
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
Due: none

📝 [docs] Update multiple ADRs with revisions and enhancements
  .vscode/settings.json
  docs/Architecture/ADRs/ADR_001_REPOSITORY_PATTERN.md
  docs/Architecture/ADRs/ADR_002_EVENT_DRIVEN_ARCHITECTURE.md
  docs/Architecture/ADRs/ADR_003_ERROR_HANDLING_STRATEGY.md
  docs/Architecture/ADRs/ADR_004_FRONTEND_STATE_MANAGEMENT.md
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  docs/Architecture/ADRs/ADR_006_STANDARDIZED_CACHE_CONFIGURATION.md
  docs/Architecture/ADRs/ADR_007_SERVICE_CONTAINER_DEPENDENCY_INJECTION.md
  docs/Architecture/ADRs/ADR_008_MONITOR_TYPE_REGISTRY.md
  docs/Architecture/ADRs/ADR_009_VALIDATION_STRATEGY.md
  docs/Architecture/ADRs/ADR_010_TESTING_STRATEGY.md
  docs/Architecture/ADRs/ADR_011_SCHEDULER_AND_BACKOFF.md
  docs/Architecture/ADRs/ADR_012_NOTIFICATIONS_AND_ALERTING.md
  docs/Architecture/ADRs/ADR_013_DATA_PORTABILITY_AND_BACKUP.md
  docs/Architecture/ADRs/ADR_014_LOGGING_TELEMETRY_AND_DIAGNOSTICS.md
  docs/Architecture/ADRs/ADR_015_CLOUD_SYNC_AND_REMOTE_BACKUP.md
  docs/Architecture/ADRs/ADR_016_MULTI_DEVICE_SYNC_MODEL.md
  docs/Architecture/ADRs/ADR_017_EXTERNAL_ALERT_INTEGRATIONS.md
  docs/Architecture/ADRs/ADR_018_MAINTENANCE_WINDOWS_AND_SILENCING.md
  docs/Architecture/ADRs/ADR_019_TEMPLATES_AND_BULK_OPERATIONS.md
  docs/Architecture/ADRs/ADR_020_SUPPORT_DIAGNOSTICS_BUNDLE.md
  docs/Architecture/ADRs/ADR_021_CLOUD_PROVIDER_SELECTION_AND_SETTINGS_UI.md
  docs/Architecture/ADRs/ADR_022_OAUTH_LOOPBACK_REDIRECT_AND_CALLBACK_ROUTING.md
  docs/Architecture/ADRs/ADR_023_SECRET_STORAGE_AND_ENCRYPTION_POLICY.md
  docs/Architecture/ADRs/ADR_024_CLOUD_PROVIDER_SWITCHING_AND_MIGRATION_POLICY.md
  docs/Architecture/ADRs/ADR_025_RELEASE_ASSET_NAMING_AND_UPLOAD_STRATEGY.md
  docs/Architecture/ADRs/ADR_026_ELECTRON_SECURITY_MODEL_AND_RENDERER_ISOLATION.md
  docs/Architecture/ADRs/ADR_027_AUTO_UPDATE_STRATEGY_AND_RELEASE_CHANNELS.md
  docs/Architecture/ADRs/ADR_028_DATABASE_SCHEMA_VERSIONING_AND_MIGRATIONS.md
  docs/Architecture/ADRs/ADR_029_BACKUP_FORMAT_ENCRYPTION_AND_COMPATIBILITY_POLICY.md
  docs/Architecture/ADRs/ADR_030_APP_CONFIGURATION_AND_SETTINGS_PERSISTENCE_MODEL.md
  docs/Architecture/ADRs/ADR_031_PACKAGING_SIGNING_AND_NOTARIZATION_POLICY.md
  docs/Architecture/ADRs/ADR_032_SUPPORT_AND_DIAGNOSTICS_DATA_POLICY.md
Due: none

🔧 [build] Update configuration and ignore files for Docusaurus
  .secretlintignore
  config/tools/knip.config.ts
  docs/Architecture/ADRs/ADR_032_SUPPORT_AND_DIAGNOSTICS_DATA_POLICY.md
  eslint.config.mjs
  shared/test/utils/stringConversion-complete-function-coverage.test.ts
  shared/test/utils/stringConversion.comprehensive.test.ts
  shared/test/utils/stringConversion.edge-coverage.test.ts
Due: shared, üß© Shared Core

🎨 [style] Add stylistic overrides to ESLint configuration
  eslint.config.mjs
Due: none

fix: package.json to reduce vulnerabilities
  package.json
Due: none

🔧 [build] Update dependencies in package.json
  package-lock.json
  package.json
Due: none

🔧 [build] Update dependencies and add bootstrap labels script
  .github/labeler.yml
  assets/.wasm-version
  assets/node-sqlite3-wasm.wasm
  config/linting/plugins/uptime-watcher/package.json
  config/linting/plugins/uptime-watcher/rules/no-deprecated-exports.mjs
  docs/Guides/ESLINT_10_PLUGIN_BLOCKERS.md
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/bootstrap-labels.ps1
  vite.config.ts
Due: none

[skip-ci] Refactor Dependabot config for multi-ecosystem support
  .github/dependabot.yml
Due: none

🔧 [build] Update Node.js setup in workflow files
  .github/workflows/Build.yml
  .github/workflows/backup-docusaurus.yml
  .github/workflows/codacy-coverage-reporter.yml
  .github/workflows/codecov.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-docusaurus.yml
  .github/workflows/electronegativity.yml
  .github/workflows/eslint.yml
  .github/workflows/flatpak-build.yml
  .github/workflows/mirror-eslint-plugin.yml
  .github/workflows/playwright.yml
  .github/workflows/prettier.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/stryker-mutation-testing.yml
  .github/workflows/stylelint.yml
  .github/workflows/updateChangeLogs.yml
  .node-version
  .nvmrc
  config/linting/plugins/uptime-watcher/package.json
  config/linting/plugins/uptime-watcher/plugin.cjs
  config/linting/plugins/uptime-watcher/plugin.d.cts
  config/linting/plugins/uptime-watcher/plugin.d.mts
  docs/docusaurus/src/components/HomepageFeatures/styles.module.css.d.ts
  docs/docusaurus/src/pages/index.module.css.d.ts
  eslint.config.mjs
  package.json
  scripts/sync-node-version-files.mjs
  scripts/validate-doc-frontmatter.mjs
  src/stores/cloud/useCloudStore.ts
Due: frontend

🔧 [build] Update GitHub Actions workflows and permissions
  .github/workflows/Build.yml
  .github/workflows/cleanReleases.yml
  .github/workflows/deploy-docusaurus.yml
  .github/workflows/git-sizer-dispatch.yml
  .github/workflows/git-sizer.yml
  .github/workflows/gitleaks.yml
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/mega-linter.yml
  .github/workflows/mirror-eslint-plugin.yml
  .github/workflows/npm-audit.yml
  .github/workflows/release-stats.yml
  .github/workflows/repo-stats.yml
  .github/workflows/scorecards.yml
  .github/workflows/sitemap.yml
  .remarkrc.mjs
  benchmarks/electron/applicationService.bench.ts
  config/linting/remark/validate-uptime-watcher-docs.mjs
  electron/services/cloud/internal/googleOAuthConfig.ts
  electron/services/database/utils/backup/databaseBackup.ts
  playwright/tests/ui-monitoring-status-display.ui.playwright.test.ts
  scripts/detect-zero-coverage-tests.ts
  scripts/download-sqlite3-wasm.mjs
  scripts/run-fast-check-fuzzing.ts
  sonar-project.properties
Due: electron, üóÑÔ∏è Database Layer

🔧 [build] Update dependencies and configuration
  .ncurc.json
  config/linting/plugins/uptime-watcher/package.json
  docs/docusaurus/package.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

🔧 [build] Update monitor status handling and improve OAuth redirect URI
  electron/managers/MonitorManagerEnhancedLifecycle.ts
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/test/services/cloud/providers/dropbox/DropboxAuthFlow.test.ts
  shared/types/events.ts
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/components/common/SiteMonitoringButton/SiteMonitoringButton.tsx
  storybook/viteSharedConfig.ts
Due: electron, frontend, shared, üß© Shared Core, ‚öôÔ∏è Configuration Management, üß© Core UI Components, üîß Common UI Components, üìù Type Definitions

chore: stop ignoring markdown files in prettierignore
  .prettierignore
Due: none

chore: stop ignoring mdx in prettierignore
  .prettierignore
Due: none

Update Codecov action to v7.0.0
  .github/workflows/codecov.yml
Due: none

Add Dependabot auto-merge workflow
  .github/workflows/Build.yml
  .github/workflows/VirusTotal.yml
  .github/workflows/auto-merge-dependabot-caller.yml
  .github/workflows/backup-docusaurus.yml
  .github/workflows/cleanReleases.yml
  .github/workflows/codacy-coverage-reporter.yml
  .github/workflows/codecov.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-docusaurus.yml
  .github/workflows/flatpak-build.yml
  .github/workflows/gitleaks.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/mega-linter.yml
  .github/workflows/mirror-eslint-plugin.yml
  .github/workflows/playwright.yml
  .github/workflows/rebase.yml
  .github/workflows/release-stats.yml
  .github/workflows/scorecards.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/stale.yml
  .github/workflows/trufflehog.yml
  .github/workflows/updateChangeLogs.yml
  .github/workflows/upload-linux-ia.yml
  .github/workflows/upload-macos-ia.yml
  .github/workflows/upload-windows-ia.yml
  package.json
Due: none

Update Dependabot auto-merge workflow pin
  .github/workflows/auto-merge-dependabot-caller.yml
Due: none

👷 [ci] Use shared workflow callers
  .github/workflows/auto-merge-dependabot-caller.yml
  .github/workflows/dependency-review-enhanced-caller.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gitleaks-scan-enhanced-caller.yml
  .github/workflows/gitleaks.yml
  .github/workflows/labeler-caller.yml
  .github/workflows/labeler.yml
  .github/workflows/ossf-scorecard-caller.yml
  .github/workflows/scorecards.yml
  .github/workflows/stale-management-caller.yml
  .github/workflows/stale.yml
  .github/workflows/trufflehog-scan-caller.yml
  .github/workflows/trufflehog.yml
Due: none

chore: migrate shared lint configs
  .github/CODEOWNERS
  .github/workflows/AGENTS.md
  .gitleaks.toml
  .npmpackagejsonlintrc.json
  .prettierrc
  .remarkignore
  .remarkrc.mjs
  .secretlintrc.cjs
  .stylelintignore
  .vscode/extensions.json
  .yamllint
  agents.md
  config/linting/.secretlintrc.json
  config/linting/.taplo.toml
  config/linting/plugins/uptime-watcher/tsconfig.eslint.json
  config/tools/cliff.toml
  config/tools/knip.config.ts
  docs/AGENTS.md
  docs/InteractiveCharts/engineering-tooling.md
  docs/docusaurus/AGENTS.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/package.json
  docs/docusaurus/typedoc-plugin-markdown.json
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  eslint.config.mjs
  package-lock.json
  package.json
  prettier.config.mjs
  scripts/bootstrap-labels.ps1
  src/test/AGENTS.md
  stylelint.config.mjs
  tests/AGENTS.md
  tsdoc.json
  uptime-watcher-improvement-plan.txt
Due: frontend

🧹 [chore] Enforce stale ESLint suppression checks
  package.json
Due: none

fix: correct add site mono font stack
  src/components/AddSiteForm/AddSiteForm.css
Due: frontend, üß© Core UI Components

fix: allow typedoc validation warnings in docs build
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
Due: none

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
