Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**

🧪 [test] Remove duplicate dynamic field coverage
  src/test/components/AddSiteForm/DynamicField.additional-coverage.test.tsx
Due: frontend

🧪 [test] Consolidate submit form coverage
  src/test/components/AddSiteForm/Submit.additional-coverage.test.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
Due: frontend

🧪 [test] Remove redundant add site form coverage
  src/test/components/AddSiteForm/AddSiteForm.100-coverage.test.tsx
Due: frontend

🧪 [test] Remove duplicate add site branch coverage
  src/test/components/AddSiteForm/AddSiteForm.uncovered-lines.test.tsx
Due: frontend

🧪 [test] Remove weak add site form coverage
  src/test/components/AddSiteForm.complete-coverage.test.tsx
  src/test/components/AddSiteForm.coverage.test.ts
Due: frontend

🧪 [test] Remove redundant branch optimization coverage
  src/test/branch-coverage-optimization.test.tsx
Due: frontend

🧪 [test] Remove duplicate App coverage suite
  src/test/App.additional-coverage.test.tsx
Due: frontend

🧪 [test] Replace mixed branch coverage suite
  src/test/additional-branch-coverage.test.tsx
  src/test/components/shared/SettingItem.test.tsx
Due: frontend

🧪 [test] Remove fake SiteCard coverage assertions
  src/test/components/SiteCard.coverage.test.ts
Due: frontend

🧪 [test] Silence SiteCard test React warnings
  src/test/components/Dashboard/SiteCard/SiteCard.comprehensive.test.tsx
Due: frontend

🧪 [test] Consolidate SiteCard metrics coverage
  src/test/components/Dashboard/SiteCard/SiteCard.comprehensive.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.maximal-coverage.test.tsx
Due: frontend

🧪 [test] Remove fake useSiteActions coverage
  src/test/hooks/useSiteActions.coverage.test.ts
Due: frontend

🧪 [test] Replace maximal theme coverage suite
  src/test/theme/MiniChartBar.test.tsx
  src/test/theme/components.comprehensive.test.tsx
  src/test/theme/components.maximal-coverage.test.tsx
Due: frontend

🧪 [test] Remove root mutation snippet suites
  src/test/arithmeticoperator-frontend-mutations.test.tsx
  src/test/array-declaration-react-mutations.test.tsx
  src/test/arraydeclaration-mutations.test.tsx
  src/test/arrowfunction-mutations.test.tsx
  src/test/frontend-arithmetic-mutations.test.ts
Due: frontend

🧪 [test] Remove redundant fallback coverage suite
  src/test/utils/fallbacks.targeted-coverage.test.ts
Due: frontend

🛠️ [fix] Use compatible sidebar search landmark
  src/components/Layout/AppSidebar/AppSidebar.tsx
Due: frontend

⚡ [perf] Avoid redundant settings identifier updates
  src/components/SiteDetails/tabs/SettingsTab.utils.ts
Due: frontend, üß© Core UI Components

🧪 [test] Silence expected ErrorBoundary render errors
  src/test/stores/error/ErrorBoundary.comprehensive.test.tsx
Due: frontend

🛠️ [fix] Avoid redundant settings label updates
  shared/test/utils/objectSafety.test.ts
  shared/test/utils/typeHelpers.comprehensive.test.ts
  src/components/SiteDetails/tabs/SettingsTab.utils.ts
  src/test/components/ActionButtonGroup.complete-coverage.test.tsx
  src/test/components/MonitorSelector.complete-coverage.test.tsx
  src/test/components/SiteMonitoringButton.complete-coverage.test.tsx
  src/test/components/StatusBadge.additional-coverage.test.tsx
  src/test/theme/MiniChartBar.test.tsx
Due: frontend, shared, üß© Shared Core, üß© Core UI Components

🧪 [test] Remove snippet-only mutation suites
  electron/test/arithmetic-mutations.test.ts
  electron/test/array-declaration-mutations.test.ts
  electron/test/array-declaration-specific-mutations.test.ts
  electron/test/arrow-function-mutations.test.ts
  src/test/simple-utility-test.test.ts
Due: electron, frontend

🧪 [test] Remove redundant logger smoke tests
  electron/test/utils/logger-simple-test.test.ts
  src/test/services/logger.simple.test.ts
Due: electron, frontend

🧪 [test] Remove redundant ServiceContainer smoke tests
  electron/test/services/ServiceContainer.debug.test.ts
  electron/test/services/ServiceContainer.simple.test.ts
Due: electron

🧪 [test] Remove redundant ApplicationService smoke suite
  electron/test/services/application/ApplicationService.simple.test.ts
Due: electron

🧪 [test] Remove ServiceContainer debug constructor suites
  electron/test/services/ServiceContainer.debug-mock.test.ts
  electron/test/services/ServiceContainer.debug-sitemanager.test.ts
Due: electron

🧪 [test] Remove debug-only manager scheduler suites
  electron/test/managers/SiteManager.debug.test.ts
  electron/test/services/monitoring/MonitorScheduler.debug.test.ts
Due: electron

🧪 [test] Remove redundant frontend coverage suites
  src/test/components/SiteDetails/ScreenshotThumbnail.arithmetic-mutations.test.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.simple.test.tsx
  src/test/theme/useTheme.working.test.ts
Due: frontend

🧪 [test] Remove generic electron coverage padding
  electron/test/services.missing-branches.test.ts
  electron/test/targeted-coverage.test.ts
Due: electron

🧪 [test] Replace ServiceContainer working grab bag
  electron/test/services/ServiceContainer.working.test.ts
  electron/test/services/ServiceContainerEventForwarder.test.ts
  electron/test/utils/eventMetadataForwarding.test.ts
Due: electron

🧪 [test] Rename database behavior suites
  electron/test/services/database/DatabaseService.lifecycle-transactions.test.ts
  electron/test/services/database/MonitorRepository.orchestration.test.ts
  electron/test/services/database/SettingsRepository.operations.test.ts
  electron/test/services/database/utils/databaseSchema.unit.test.ts
Due: electron

🧪 [test] Retire stale branch coverage suites
  electron/test/main.cli-lifecycle.test.ts
  electron/test/preload.api-edge-cases.test.ts
  electron/test/utilities.missing-branches.test.ts
  shared/test/fuzzing/validation.working.fuzz.test.ts
  shared/test/fuzzing/validatorSimple.test.ts
Due: electron, shared, üß© Shared Core

🧪 [test] Replace stale monitor coverage suites
  electron/test/electronUtils.branch-coverage.test.ts
  electron/test/enhanced-monitor-checker-targeted.test.ts
  electron/test/high-impact-coverage.test.ts
  electron/test/services/monitoring/MonitorOperationCoordinator.test.ts
  electron/test/services/monitoring/enhancedMonitorChecker/saveHistoryEntry.test.ts
Due: electron

🧪 [test] Retire stale utility coverage suites
  electron/test/utils/logger-coverage.test.ts
  electron/test/utils/logger.behavior.test.ts
  electron/test/utils/operationalHooks.branch-coverage.test.ts
  electron/test/utils/operationalHooks.test.ts
Due: electron

🧪 [test] Rename database utility behavior suites
  electron/test/utils/database/SiteWriterService.test.ts
  electron/test/utils/database/siteDeletion.test.ts
Due: electron

🧪 [test] Rename DatabaseManager behavior suites
  electron/test/managers/DatabaseManager.edge-cases.test.ts
  electron/test/managers/DatabaseManager.operations.test.ts
Due: electron

🧪 [test] Rename IPC and container behavior suites
  electron/test/services/ServiceContainer.site-manager.test.ts
  electron/test/services/ipc/utils.duration-metadata.test.ts
Due: electron

🧪 [test] Rename monitoring behavior suites
  electron/test/services/monitoring/EnhancedMonitorChecker.lifecycle.test.ts
  electron/test/services/monitoring/HttpMonitor.active-counter.test.ts
  electron/test/services/monitoring/MonitorTypeRegistry.registration.test.ts
  electron/test/services/monitoring/PortMonitor.configuration.test.ts
Due: electron

🧪 [test] Rename MonitorManager behavior suites
  electron/test/managers/MonitorManager.interval-logging.test.ts
  electron/test/strictTests/enhancedMonitorChecker.helpers.test.ts
  electron/test/strictTests/monitorManager.additionalOperations.test.ts
  electron/test/strictTests/monitorManager.applyMonitorStateOperation.test.ts
  electron/test/strictTests/monitorManager.operations.test.ts
Due: electron

🧪 [test] Rename shared behavior suites
  shared/test/fuzzing/abortUtils.signals.fuzz.test.ts
  shared/test/fuzzing/stringConversion.edge-cases.fuzz.test.ts
  shared/test/fuzzing/typeHelpers.edge-cases.fuzz.test.ts
  shared/test/strictTests/errorCatalog.unknown-errors.test.ts
  shared/test/strictTests/errorHandling.behavior.test.ts
  shared/test/strictTests/historyLimits.behavior.test.ts
  shared/test/strictTests/loggerCommon.arguments.test.ts
  shared/test/strictTests/monitorStatusEvents.guards.test.ts
  shared/test/strictTests/monitoringConstants.intervals.test.ts
  shared/test/strictTests/rendererEvents.channels.test.ts
  shared/test/strictTests/siteConstants.defaults.test.ts
  shared/test/strictTests/siteSnapshotUtilities.sync.test.ts
  shared/test/strictTests/validationGuards.snapshots.test.ts
  shared/test/strictTests/validationUtils.canonical.test.ts
  shared/test/utils/abortUtils.behavior.test.ts
  shared/test/utils/abortUtils.edge-cases.fuzz.test.ts
  shared/test/utils/environment.property.fuzz.test.ts
  shared/test/utils/objectSafety.property.fuzz.test.ts
  shared/test/utils/safeConversions.property.fuzz.test.ts
  shared/test/validation/schemas.validation-results.test.ts
  shared/test/validation/validatorUtils.host-port.test.ts
Due: shared, üß© Shared Core

🧪 [test] Rename renderer behavior suites
  src/test/ScreenshotThumbnail.states.test.tsx
  src/test/components/ActionButtonGroup.actions.test.tsx
  src/test/components/AddSiteForm/BaseFormField.behavior.test.tsx
  src/test/components/AddSiteModal.behavior.test.tsx
  src/test/components/ErrorAlert.behavior.test.tsx
  src/test/components/Header/Header.status-counts.test.tsx
  src/test/components/HistoryChart.rendering.test.tsx
  src/test/components/MonitorSelector.behavior.test.tsx
  src/test/components/Settings/Settings.behavior.test.tsx
  src/test/components/SiteCardHistory.states.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.actions.test.tsx
  src/test/components/SiteDetails/tabs/SettingsTab.intervals.test.tsx
  src/test/components/SiteMonitoringButton.behavior.test.tsx
  src/test/components/StatusBadge.states.test.tsx
  src/test/hooks/site/useSiteDetails.behavior.test.ts
  src/test/hooks/useMount.lifecycle.test.ts
  src/test/hooks/useOverflowMarquee.resize.test.tsx
  src/test/hooks/usePrefersReducedMotion.media-query.test.tsx
  src/test/services/ipcServiceHelpers.initFailures.test.ts
  src/test/stores/error/ErrorBoundary.retry-count.test.tsx
  src/test/stores/monitor/useMonitorTypesStore.behavior.test.ts
  src/test/stores/settings/useSettingsStore.behavior.test.ts
  src/test/stores/sites/useSiteOperations.behavior.test.ts
  src/test/strictTests/AddSiteForm.behavior.test.tsx
  src/test/strictTests/AddSiteModal.behavior.test.tsx
  src/test/strictTests/DynamicField.behavior.test.tsx
  src/test/strictTests/Header.behavior.test.tsx
  src/test/strictTests/OverviewTab.behavior.test.tsx
  src/test/strictTests/SiteCardHeader.behavior.test.tsx
  src/test/strictTests/SiteTableRow.behavior.test.tsx
  src/test/strictTests/StatusIndicator.behavior.test.tsx
  src/test/strictTests/StatusSubscriptionIndicator.behavior.test.tsx
  src/test/strictTests/StatusSummary.behavior.test.tsx
  src/test/strictTests/settings/settingsHooks.behavior.test.ts
  src/test/strictTests/toSentenceCase.behavior.test.ts
  src/test/strictTests/useSiteDetails.uiStore.test.ts
  src/test/theme/ThemeManager.behavior.test.ts
  src/test/theme/components/ThemedProgress.ranges.test.tsx
Due: frontend

🧪 [test] Rename focused renderer behavior tests
  src/test/theme/ThemedBox.keyboard.test.tsx
  src/test/utils/fallbacks.monitor-types.test.ts
Due: frontend
