Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

🗄️ [fix] Preserve database import commit consistency
  electron/services/commands/DatabaseCommands.ts
  electron/test/services/commands/DatabaseCommands.test.ts
Due: electron

⏳ [fix] Aggregate operation loading state
  src/stores/error/useErrorStore.ts
  src/test/stores/error/useErrorStore.test.ts
Due: frontend, üì¶ Frontend State Stores

🔒 [fix] Serialize top-level database transactions
  electron/services/database/DatabaseService.ts
  electron/test/services/database/DatabaseService.lifecycle-transactions.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Pin and verify SQLite WASM artifacts
  assets/.wasm-version
  assets/node-sqlite3-wasm.wasm
  package.json
  scripts/download-sqlite3-wasm.mjs
  scripts/verify-sqlite3-wasm.mjs
  tests/tooling/docs/sqlite3WasmScripts.test.mjs
  vite.config.ts
Due: none

🔐 [fix] Coordinate database file maintenance
  electron/services/database/DataBackupService.ts
  electron/services/database/DatabaseService.ts
  electron/test/services/database/DatabaseService.lifecycle-transactions.test.ts
Due: electron, üóÑÔ∏è Database Layer

🧭 [fix] Guard renderer lifecycle ownership
  src/App.tsx
  src/app/bootstrap/appBootstrap.ts
  src/stores/settings/operations.ts
  src/test/app/bootstrap/appBootstrap.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: frontend, ‚öôÔ∏è Configuration Management

☁️ [fix] Serialize remote backup state changes
  src/components/Settings/cloud/RemoteBackupsPanel.tsx
  src/stores/cloud/useCloudStore.ts
  src/test/components/Settings/cloud/RemoteBackupsPanel.test.tsx
  src/test/stores/cloud/useCloudStore.comprehensive.test.ts
Due: frontend, üîß Common UI Components

🧹 [fix] Drain cloud scheduler during shutdown
  electron/services/ServiceContainer.ts
  electron/services/application/ApplicationService.ts
  electron/test/services/ServiceContainer.cloud-sync-cleanup.test.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
Due: electron, üîß Backend Services

🔄 [fix] Serialize checks per monitor
  electron/services/monitoring/enhancedMonitorChecker/performCorrelatedCheck.ts
  electron/services/monitoring/enhancedMonitorChecker/performManualCheck.ts
  electron/test/services/monitoring/enhancedMonitorChecker.performCorrelatedCheck.test.ts
Due: electron, üéØ Monitoring Core Engine

⬆️ [chore] Move runtime to Node 24 LTS
  .node-version
  .nvmrc
  CONTRIBUTING.md
  README.md
  config/tools/.pre-commit-config.yaml
  docs/Guides/DEVELOPER_QUICK_START.md
  docs/Guides/ENVIRONMENT_SETUP.md
  docs/docusaurus/README.md
  package.json
Due: none

🧪 [test] Isolate aggregate loading fuzz cases
  src/test/stores/error/useErrorStore.input-fuzzing.test.ts
Due: frontend

🧪 [test] Exercise real nested transaction ownership
  tests/strictTests/electron/services/database/DatabaseService.transactions.test.ts
Due: none

🛠️ [fix] Exit directly after graceful cleanup
  electron/main.ts
  electron/test/main.comprehensive.test.ts
Due: electron

🚜 [refactor] Remove unused renderer event channels
  CONTRIBUTING.md
  README.md
  docs/Architecture/ADRs/ADR_002_EVENT_DRIVEN_ARCHITECTURE.md
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  docs/Architecture/generated/IPC_CHANNEL_INVENTORY.md
  docs/Guides/API_DOCUMENTATION.md
  docs/Guides/DEVELOPER_QUICK_START.md
  docs/Guides/ENVIRONMENT_SETUP.md
  docs/Guides/EVENT_SYSTEM_GUIDE.md
  docs/Guides/TECHNOLOGY_EVOLUTION.md
  docs/Guides/TESTING.md
  docs/Guides/TESTING_METHODOLOGY_REACT_COMPONENTS.md
  docs/Guides/TROUBLESHOOTING.md
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  docs/Guides/ZUSTAND_STORE_PATTERN_GUIDE.md
  docs/InteractiveCharts/event-system.md
  docs/docusaurus/README.md
  electron/preload/domains/eventsApi.ts
  electron/services/application/ApplicationService.ts
  electron/test/preload.api-edge-cases.test.ts
  electron/test/preload.test.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  shared/ipc/rendererEvents.ts
  shared/test/strictTests/rendererEvents.channels.test.ts
  shared/types/events.ts
  shared/types/eventsBridge.ts
  shared/utils/logTemplates.ts
  src/services/EventsService.ts
  src/test/logTemplates.behavior.test.ts
  src/test/mock-setup.ts
  src/test/services/EventsService.comprehensive.test.ts
  src/test/types.test.tsx
  src/test/utils/cacheSync.test.ts
  storybook/setup/electron-api-mock.ts
Due: electron, frontend, shared, üß© Shared Core, ‚öôÔ∏è Configuration Management, üîß Backend Services, üîå Frontend Services, üß∞ Frontend Utilities, üìù Type Definitions

🛠️ [fix] Tolerate disappearing Playwright logs
  playwright/fixtures/electron-helpers.ts
Due: none

🚜 [refactor] Extract monitor execution state
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/MonitorSchedulerExecution.ts
  electron/test/services/monitoring/MonitorScheduler.comprehensive.test.ts
Due: electron, üéØ Monitoring Core Engine

🚜 [refactor] Extract Vite server readiness
  electron/services/window/ViteDevServerWaiter.ts
  electron/services/window/WindowService.ts
  electron/test/services/window/WindowService.test.ts
Due: electron, ü™ü Window Management

🚜 [refactor] Extract window session security
  electron/services/window/WindowService.ts
  electron/services/window/WindowSessionSecurity.ts
  electron/test/services/window/WindowService.test.ts
Due: electron, ü™ü Window Management

🩺 [fix] Keep service diagnostics complete
  docs/Architecture/ADRs/ADR_007_SERVICE_CONTAINER_DEPENDENCY_INJECTION.md
  electron/services/ServiceContainer.ts
  electron/test/services/ServiceContainer.comprehensive.test.ts
Due: electron

🛡️ [fix] Preserve committed database operations
  electron/services/commands/DatabaseCommands.ts
  electron/services/database/DataBackupService.ts
  electron/test/services/commands/DatabaseCommands.test.ts
  electron/test/utils/database/DataBackupService.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Serialize application startup and shutdown
  electron/UptimeOrchestrator.ts
  electron/services/application/ApplicationService.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
Due: electron, üéº Uptime Orchestrator, üîß Backend Services

🩺 [fix] Emit orchestrator readiness directly
  docs/Architecture/ADRs/ADR_002_EVENT_DRIVEN_ARCHITECTURE.md
  docs/Architecture/Patterns/INITIALIZATION_AND_DATA_IMPORT_ORCHESTRATION.md
  docs/Guides/API_DOCUMENTATION.md
  electron/UptimeOrchestrator.ts
  electron/UptimeOrchestratorEventHandlers.ts
  electron/events/eventTypes.catalogue.internalCacheDatabase.d.ts
  electron/orchestrator/UptimeOrchestratorSubscriptions.ts
  electron/test/UptimeOrchestrator.test.ts
Due: electron, üéº Uptime Orchestrator, üîó Integration Layer

🔒 [refactor] Enforce TypeScript project boundaries
  config/linting/tsconfig.electron.eslint.json
  tsconfig.json
  tsconfig.shared.json
Due: none

🧪 [test] Type database event bus mocks
  electron/test/services/commands/DatabaseCommands.test.ts
Due: electron

🧪 [test] Replace live HTTP monitor fixtures
  electron/test/services/monitoring/HttpMonitor.httpbin.test.ts
  electron/test/services/monitoring/HttpMonitor.local-server.test.ts
Due: electron

🛡️ [fix] Make cache replacements atomic
  electron/test/managers/SiteManager.test.ts
  electron/test/utils/cache/StandardizedCache.comprehensive.test.ts
  electron/utils/cache/StandardizedCache.ts
Due: electron, üõ†Ô∏è Backend Utilities

🛡️ [fix] Clear failed monitor operations
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorStatusUpdateService.ts
  electron/services/monitoring/coordinators/MonitorOperationCoordinator.ts
  electron/services/monitoring/enhancedMonitorChecker/performCorrelatedCheck.ts
  electron/test/services/monitoring/MonitorOperationCoordinator.test.ts
  electron/test/services/monitoring/MonitorStatusUpdateService.comprehensive.test.ts
  electron/test/services/monitoring/enhancedMonitorChecker.performCorrelatedCheck.test.ts
Due: electron, üéØ Monitoring Core Engine

🛡️ [fix] Cancel stale status subscriptions
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
Due: frontend

🛡️ [fix] Ignore stale state sync recovery
  src/services/StateSyncService.ts
  src/test/services/StateSyncService.comprehensive.test.ts
Due: frontend, üîå Frontend Services

🛡️ [fix] Serialize history limit persistence
  src/stores/settings/operations.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: frontend, ‚öôÔ∏è Configuration Management

🛡️ [fix] Roll back failed IPC setup
  electron/services/ipc/IpcService.ts
  electron/test/services/ipc/IpcService.test.ts
Due: electron, üîó IPC Communication Layer

🩺 [fix] Retry update event subscriptions
  src/stores/updates/useUpdatesStore.ts
  src/stores/utils/refCountedAsyncSubscription.ts
  src/test/stores/refCountedAsyncSubscription.test.ts
  src/test/useUpdatesStore.test.ts
Due: frontend, üì¶ Frontend State Stores

🛠️ [fix] Coalesce monitor type loading
  src/stores/monitor/operations.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
Due: frontend

🛠️ [fix] Abort sync on unreadable snapshots
  electron/services/sync/SyncEngine.ts
  electron/test/services/sync/SyncEngine.test.ts
Due: electron

🛠️ [fix] Delete persisted sites independently of cache
  electron/services/database/SiteRepository.ts
  electron/services/database/SiteWriterService.ts
  electron/test/integration/siteDeletion.integration.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Preserve concurrent site updates
  electron/services/database/SiteRepository.ts
  electron/services/database/SiteWriterService.ts
  electron/test/integration/siteDeletion.integration.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Avoid abandoned Dropbox OAuth callbacks
  electron/services/cloud/providers/dropbox/DropboxAuthFlow.ts
  electron/test/services/cloud/providers/dropbox/DropboxAuthFlow.test.ts
Due: electron

🛠️ [fix] Preserve colliding cloud backups
  electron/services/cloud/providers/cloudBackupIo.ts
  electron/test/services/cloud/providers/cloudBackupIo.test.ts
Due: electron

🛠️ [fix] Retain sync operations across manifest races
  electron/services/sync/SyncEngine.ts
  electron/test/services/sync/SyncEngine.test.ts
Due: electron

🛠️ [fix] Follow Drive lookup pagination
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.test.ts
Due: electron

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
