Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

🔧 [build] Remove duplicate electron rules from ESLint configuration
  eslint.config.mjs
Due: none

🔧 [build] Update dependencies and build scripts
  .github/workflows/mirror-eslint-plugin.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

🚜 [refactor] Standardizes monitor type typing
  docs/Architecture/TYPING_AUDIT_HISTORY.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  electron/services/ipc/handlers/monitorTypeHandlers.ts
  shared/types.ts
  shared/types/ipc.ts
  shared/types/monitorTypes.ts
  src/hooks/useMonitorTypes.ts
  src/services/MonitorTypesService.ts
  src/stores/monitor/types.ts
  src/test/component-coverage-boost.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.enhanced.test.tsx
  src/test/types/monitorFormData.comprehensive.test.ts
  src/utils/monitorTypeHelper.ts
Due: electron, frontend, shared, üß© Shared Core, üîó IPC Communication Layer, üîå Frontend Services, üß∞ Frontend Utilities, üìù Type Definitions

🔧 [build] Update dependencies and improve TypeScript checks
  config/linting/plugins/uptime-watcher/plugin.mjs
  config/linting/plugins/uptime-watcher/rules/no-local-error-normalizers.mjs
  config/linting/plugins/uptime-watcher/rules/no-local-record-guards.mjs
  config/linting/plugins/uptime-watcher/test/_internal/ruleTester.ts
  config/linting/plugins/uptime-watcher/tsconfig.eslint.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: none

✨ [feat] Adds Electron lint guardrails
  config/linting/plugins/uptime-watcher/docs/rules/electron-dialog-require-automation-bypass.md
  config/linting/plugins/uptime-watcher/docs/rules/electron-no-import-meta-dirname.md
  config/linting/plugins/uptime-watcher/plugin.mjs
  config/linting/plugins/uptime-watcher/rules/electron-dialog-require-automation-bypass.mjs
  config/linting/plugins/uptime-watcher/rules/electron-no-import-meta-dirname.mjs
  config/linting/plugins/uptime-watcher/test/docs-integrity.test.ts
  config/linting/plugins/uptime-watcher/test/electron-dialog-require-automation-bypass.test.ts
  config/linting/plugins/uptime-watcher/test/electron-no-import-meta-dirname.test.ts
  docs/Architecture/README.md
  electron/services/ipc/handlers/dataHandlers.ts
  electron/services/window/WindowService.ts
  electron/test/fuzzing/MonitorTypeRegistry.comprehensive.fuzz.test.ts
  playwright/fixtures/electron-helpers.ts
  playwright/tests/ui-monitor-types.ui.playwright.test.ts
  src/test/components/AddSiteForm/AddSiteForm.enhanced.test.tsx
  src/test/hooks/useMonitorFields.test.ts
  src/test/hooks/useMonitorTypes.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/utils/createMonitorTypeConfig.ts
  src/test/utils/monitorUiHelpers.comprehensive.test.ts
  src/test/utils/monitorUiHelpers.test.ts
Due: electron, frontend, üîó IPC Communication Layer, ü™ü Window Management

✨ [feat] Adds security-focused lint rules
  config/linting/plugins/uptime-watcher/docs/rules/electron-browserwindow-require-preload.md
  config/linting/plugins/uptime-watcher/docs/rules/electron-browserwindow-require-secure-webpreferences.md
  config/linting/plugins/uptime-watcher/docs/rules/electron-dialog-require-automation-bypass.md
  config/linting/plugins/uptime-watcher/docs/rules/electron-ipc-handler-require-validator.md
  config/linting/plugins/uptime-watcher/docs/rules/electron-no-app-getpath-at-module-scope.md
  config/linting/plugins/uptime-watcher/docs/rules/electron-no-browserwindow-outside-windowservice.md
  config/linting/plugins/uptime-watcher/docs/rules/electron-no-dialog-sync.md
  config/linting/plugins/uptime-watcher/docs/rules/electron-no-shell-open-external.md
  config/linting/plugins/uptime-watcher/docs/rules/electron-no-webcontents-execute-javascript.md
  config/linting/plugins/uptime-watcher/docs/rules/electron-open-devtools-require-dev-only.md
  config/linting/plugins/uptime-watcher/docs/rules/renderer-no-process-env.md
  config/linting/plugins/uptime-watcher/docs/rules/require-error-cause-in-catch.md
  config/linting/plugins/uptime-watcher/plugin.mjs
  config/linting/plugins/uptime-watcher/rules/electron-browserwindow-require-preload.mjs
  config/linting/plugins/uptime-watcher/rules/electron-browserwindow-require-secure-webpreferences.mjs
  config/linting/plugins/uptime-watcher/rules/electron-dialog-require-automation-bypass.mjs
  config/linting/plugins/uptime-watcher/rules/electron-ipc-handler-require-validator.mjs
  config/linting/plugins/uptime-watcher/rules/electron-no-app-getpath-at-module-scope.mjs
  config/linting/plugins/uptime-watcher/rules/electron-no-browserwindow-outside-windowservice.mjs
  config/linting/plugins/uptime-watcher/rules/electron-no-dialog-sync.mjs
  config/linting/plugins/uptime-watcher/rules/electron-no-shell-open-external.mjs
  config/linting/plugins/uptime-watcher/rules/electron-no-webcontents-execute-javascript.mjs
  config/linting/plugins/uptime-watcher/rules/electron-open-devtools-require-dev-only.mjs
  config/linting/plugins/uptime-watcher/rules/renderer-no-process-env.mjs
  config/linting/plugins/uptime-watcher/rules/require-error-cause-in-catch.mjs
  config/linting/plugins/uptime-watcher/test/electron-browserwindow-require-preload.test.ts
  config/linting/plugins/uptime-watcher/test/electron-browserwindow-require-secure-webpreferences.test.ts
  config/linting/plugins/uptime-watcher/test/electron-dialog-require-automation-bypass.test.ts
  config/linting/plugins/uptime-watcher/test/electron-ipc-handler-require-validator.test.ts
  config/linting/plugins/uptime-watcher/test/electron-no-app-getpath-at-module-scope.test.ts
  config/linting/plugins/uptime-watcher/test/electron-no-browserwindow-outside-windowservice.test.ts
  config/linting/plugins/uptime-watcher/test/electron-no-dialog-sync.test.ts
  config/linting/plugins/uptime-watcher/test/electron-no-shell-open-external.test.ts
  config/linting/plugins/uptime-watcher/test/electron-no-webcontents-execute-javascript.test.ts
  config/linting/plugins/uptime-watcher/test/electron-open-devtools-require-dev-only.test.ts
  config/linting/plugins/uptime-watcher/test/renderer-no-process-env.test.ts
  config/linting/plugins/uptime-watcher/test/require-error-cause-in-catch.test.ts
Due: none

🔧 [build] Update ESLint plugins and Vite bundle analyzer
  package-lock.json
  package.json
Due: none

🛠️ [fix] Adds IPC result checks
  .github/agents/BeastMode.agent.md
  config/linting/plugins/uptime-watcher/rules/electron-no-browserwindow-outside-windowservice.mjs
  electron/services/ipc/handlers/cloudHandlers.ts
  electron/services/ipc/handlers/dataHandlers.ts
  electron/services/ipc/handlers/diagnosticsHandlers.ts
  electron/services/ipc/handlers/monitorTypeHandlers.ts
  electron/services/ipc/handlers/monitoringHandlers.ts
  electron/services/ipc/handlers/notificationHandlers.ts
  electron/services/ipc/handlers/settingsHandlers.ts
  electron/services/ipc/handlers/siteHandlers.ts
  electron/services/ipc/handlers/systemHandlers.ts
  electron/services/ipc/types.ts
  electron/services/ipc/utils.ts
  electron/services/ipc/validators/data.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
Due: electron, üîó IPC Communication Layer

🔧 [build] Update dependencies in package.json
  package-lock.json
  package.json
Due: none

📝 [docs] Update BeastMode and Copilot instructions
  .github/agents/BeastMode.agent.md
  .github/copilot-instructions.md
Due: none

🚜 [refactor] Streamlines validation and linting
  config/linting/plugins/uptime-watcher/rules/electron-dialog-require-automation-bypass.mjs
  config/linting/plugins/uptime-watcher/rules/electron-no-local-string-safety-helpers.mjs
  config/linting/plugins/uptime-watcher/rules/electron-sync-no-local-ascii-digits.mjs
  config/linting/plugins/uptime-watcher/rules/monitor-fallback-consistency.mjs
  config/linting/plugins/uptime-watcher/rules/no-local-error-normalizers.mjs
  config/linting/plugins/uptime-watcher/rules/no-local-record-guards.mjs
  config/linting/plugins/uptime-watcher/rules/no-onedrive.mjs
  config/linting/plugins/uptime-watcher/rules/preload-no-local-is-plain-object.mjs
  config/linting/plugins/uptime-watcher/rules/shared-types-no-local-is-plain-object.mjs
  config/linting/plugins/uptime-watcher/rules/test-no-mock-return-value-constructors.mjs
  docs/Architecture/Templates/IPC_HANDLER_TEMPLATE.md
  docs/Architecture/Templates/REPOSITORY_TEMPLATE.md
  docs/docusaurus/.stylelintignore
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/stylelint.config.mjs
  docs/docusaurus/tsconfig.json
  electron/services/cloud/providers/googleDrive/googleDriveApiSchemas.ts
  eslint.config.mjs
  scripts/architecture-static-guards.mjs
  scripts/check-doc-links.mjs
  scripts/codegen.mjs
  scripts/download-sqlite3-wasm.mjs
  scripts/extract-test-names.mjs
  scripts/find-empty-dirs.mjs
  scripts/transform-test.mjs
  scripts/validate-doc-frontmatter.mjs
  shared/utils/zodIssueFormatting.ts
  src/types/monitorFormData.ts
  src/utils/monitorTypeHelper.ts
Due: electron, frontend, shared, üß© Shared Core, üß∞ Frontend Utilities

🚜 [refactor] Simplify directory path retrieval in WindowService
  electron/services/window/WindowService.ts
Due: electron, ü™ü Window Management

🔧 [build] Update @types/react to version 19.2.11
  docs/docusaurus/package-lock.json
Due: none

🔧 [build] Update dependency installation commands across workflows and documentation
  .github/Github-Actions.instructions.md
  .github/prompts/PR-Review.prompt.md
  .github/workflows/codeql.yml
  .github/workflows/eslint.yml
  .github/workflows/flatpak-build.yml
  .github/workflows/playwright.yml
  .github/workflows/stryker-mutation-testing.yml
  .github/workflows/stylelint.yml
  SUPPORT.md
  docs/Guides/ENVIRONMENT_SETUP.md
Due: none

🔧 [build] Update BeastMode agent prompt for enhanced code review
  .github/agents/BeastMode.agent.md
Due: none

🔧 [build] Update dependencies in package.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: none

🔧 [build] Update tools list in BeastMode agent
  .github/agents/BeastMode.agent.md
Due: none

🎨 [style] Improves docs motion and sidebar UX
  .secretlintignore
  .stylelintignore
  .vscode/settings.json
  docs/docusaurus/package.json
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/src/pages/data-models.mdx
  docs/docusaurus/src/pages/deployment-infrastructure.mdx
  docs/docusaurus/src/pages/engineering-tooling.mdx
  docs/docusaurus/src/pages/error-handling.mdx
  docs/docusaurus/src/pages/event-system.mdx
  docs/docusaurus/src/pages/ipc-communication.mdx
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/performance-metrics.mdx
  docs/docusaurus/src/pages/service-container.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  docs/docusaurus/src/pages/testing-architecture.mdx
  docs/docusaurus/stylelint.config.mjs
  package-lock.json
  package.json
  src/components/AddSiteForm/utils/addModeValidation.ts
  src/components/AddSiteForm/utils/dynamicFieldChangeHandlers.ts
  src/components/AddSiteForm/utils/monitorValidationBuilders.ts
  src/components/Settings/useSettingsController.tsx
  src/components/SiteDetails/addSiteForm/addSiteFormDefaults.ts
  src/components/SiteDetails/addSiteForm/addSiteFormResets.ts
  src/stores/sites/utils/statusUpdateManagerSingleton.ts
  src/test/formatByteSize.test.ts
  src/utils/monitorValidation/formFieldValidators.ts
  src/utils/monitorValidation/monitorFormValidators.ts
  storybook/stories/theme/ThemedSelect.stories.tsx
  vite.config.ts
Due: frontend, üß© Core UI Components, üîß Common UI Components, üß∞ Frontend Utilities

🔧 [build] Update ESLint and Stylelint configurations
  .vscode/tasks.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  eslint.config.mjs
  package-lock.json
  package.json
  stylelint.config.mjs
Due: none

🚜 [refactor] Improves orchestration helpers
  .github/agents/BeastMode.agent.md
  .npmpackagejsonlintrc.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  docs/docusaurus/src/components/HomepageFeatures/styles.module.css.d.ts
  docs/docusaurus/src/hooks/useGitHubStats.ts
  docs/docusaurus/src/pages/index.module.css.d.ts
  docs/docusaurus/tsconfig.json
  electron/UptimeOrchestrator.ts
  electron/coordinators/MonitoringLifecycleCoordinator.ts
  electron/coordinators/utils/persistentMonitoringResumption.ts
  electron/events/TypedEventBus.ts
  electron/events/middleware.ts
  electron/events/utils/structuredClone.ts
  electron/events/utils/typedEventPayloadUtils.ts
  electron/managers/SiteManager.ts
  electron/managers/siteManager/getSiteSnapshotForMutation.ts
  electron/managers/siteManager/siteManagerEventEmitters.ts
  electron/managers/siteManager/validateSite.ts
  electron/orchestrator/utils/monitorScope.ts
  electron/orchestrator/utils/uptimeEventEmitters.ts
  electron/services/ipc/IpcService.ts
  electron/services/ipc/internal/ipcCorrelationContext.ts
  electron/services/ipc/internal/ipcErrorUtils.ts
  electron/services/ipc/internal/ipcHandlerExecution.ts
  electron/services/ipc/internal/ipcLogging.ts
  electron/services/ipc/internal/stateSyncStatusNormalization.ts
  electron/services/ipc/utils.ts
  electron/services/monitoring/shared/sleepMs.ts
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
Due: electron, üéØ Monitoring Core Engine, üéº Uptime Orchestrator, üåê Site Management Domain, üîó IPC Communication Layer, üîó Integration Layer

🚜 [refactor] Centralizes service helpers
  .ncurc.json
  electron/services/ServiceContainer.monitoringOperations.ts
  electron/services/ServiceContainer.siteCacheAccessor.ts
  electron/services/ServiceContainer.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveAuthFlow.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveTokenManager.ts
  electron/services/cloud/providers/googleDrive/googleDriveOAuthTokenRequest.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/utils/maintenance/historyManipulation.ts
  electron/services/database/utils/maintenance/historyPruneLimit.ts
  electron/services/ipc/validators/cloud.ts
  electron/services/ipc/validators/cloudValidation.ts
  electron/services/ipc/validators/shared.ts
  electron/services/monitoring/PingMonitor.ts
  electron/services/monitoring/PortMonitor.ts
  electron/services/monitoring/shared/monitorRetryUtils.ts
  electron/services/monitoring/utils/monitorTitleSuffixResolvers.ts
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/services/monitoring/utils/pingRetry.ts
  electron/services/monitoring/utils/portRetry.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
  package-lock.json
  package.json
Due: electron, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üîó IPC Communication Layer

🛠️ [fix] Update Dependabot configuration to ignore problematic packages - Ignore "form-data", "qs", and "tough-cookie" to prevent repeated failures in Dependabot runs.
  .github/dependabot.yml
  .github/workflows/flatpak-build.yml
  .github/workflows/stryker-mutation-testing.yml
  .github/workflows/trufflehog.yml
  .gitleaksignore
  electron/preload/utils/preloadDomainFactory.ts
  electron/services/ipc/internal/sqliteBackupPath.ts
  electron/test/services/window/WindowService.test.ts
  eslint.config.mjs
  src/stores/alerts/utils/alertPayload.ts
  src/test/edge-cases-100-coverage.test.ts
  src/test/theme/ThemeManager.comprehensive.test.ts
Due: electron, frontend, üîó IPC Communication Layer

🔧 [build] Refactor labeler configuration and scripts
  .github/labeler.yml
  .github/workflows/labeler.yml
  package.json
  run-electron.sh
  scripts/lint-actionlint.mjs
Due: none

🎨 [style] Update dynamic text selection highlight in custom.css - Change background from gradient to solid color for better browser support - Adjust text color for improved readability
  docs/docusaurus/src/css/custom.css
Due: none

📝 [docs] Add interactive chart docs
  docs/Architecture/ADRs/ADR_008_MONITOR_TYPE_REGISTRY.md
  docs/Architecture/ADRs/ADR_016_MULTI_DEVICE_SYNC_MODEL.md
  docs/InteractiveCharts/README.md
  docs/InteractiveCharts/data-models.md
  docs/InteractiveCharts/deployment-infrastructure.md
  docs/InteractiveCharts/monitoring-workflows.md
  docs/InteractiveCharts/performance-metrics.md
  docs/InteractiveCharts/system-architecture.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/sidebars.ts
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/src/pages/data-models.mdx
  docs/docusaurus/src/pages/deployment-infrastructure.mdx
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/performance-metrics.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  electron/events/TypedEventBus.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  shared/utils/objectSafety.ts
Due: electron, shared, üß© Shared Core, üéØ Monitoring Core Engine, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üîó Integration Layer

Apply suggestions from code review
  .github/workflows/codeql.yml
  .github/workflows/devskim.yml
  .github/workflows/electronegativity.yml
  .github/workflows/eslint.yml
  .github/workflows/scorecards.yml
  .github/workflows/security-devops.yml
Due: none

🚜 [refactor] Remove 'memory' tool from BeastMode agent configuration - Updated tools list to enhance clarity and focus on essential functionalities
  .github/agents/BeastMode.agent.md
Due: none

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
