Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**

🎨 [style] Clean script callback style
  scripts/analyze-docs.mjs
  scripts/devtools-snippets/List-Sites.js
  scripts/download-docs-template.mjs
  scripts/generate-ipc-artifacts.mts
  scripts/maintain-docs.mjs
  scripts/push-docusaurus-subtree.mjs
  scripts/validate-performance-config.mjs
Due: none

🚜 [refactor] Modernize script regex scans
  scripts/analyze-docs.mjs
  scripts/analyze-ipc-channels.ts
  scripts/architecture-static-guards.mjs
  scripts/extract-test-names.mjs
  scripts/find-shared-imports.mjs
  scripts/fix-mdx-typedoc-unified-local.mjs
  scripts/fix-mdx-typedoc-unified.mjs
  scripts/maintain-docs.mjs
Due: none

🧹 [chore] Document intentional debugger snippets
  scripts/devtools-snippets/Debugger-Pause-After-5.js
  scripts/devtools-snippets/Debugger-Pause-Countdown.js
  scripts/devtools-snippets/Debugger-Pause-Element-Hover.js
  scripts/devtools-snippets/Debugger-Pause-Element.js
  scripts/devtools-snippets/Debugger-Pause-Hover.js
Due: none

⚡ [perf] Remove delete-based cleanup paths
  electron/services/ipc/diagnosticsMetrics.ts
  electron/services/monitoring/shared/httpMonitorCore.ts
  scripts/run-fast-check-fuzzing.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/utils/monitorOperations.normalize.ts
  src/stores/sites/utils/operationHelpers.ts
  src/test/utils/electronApiMock.ts
Due: electron, frontend, üéØ Monitoring Core Engine, üåê Site Management Domain, üîó IPC Communication Layer

🧹 [chore] Document event catalogue augmentation
  electron/events/eventTypes.ts
Due: electron, üîó Integration Layer

♿ [fix] Resolve remaining Biome accessibility errors
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Dashboard/SiteList/SiteListLayoutSelector.tsx
  src/components/Header/Header.tsx
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/components/common/Tooltip/Tooltip.tsx
Due: frontend, üß© Core UI Components, üîß Common UI Components

🎨 [style] Clear one-off Biome rule findings
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/services/window/WindowService.ts
  scripts/download-docs-template.mjs
  scripts/generate-ipc-artifacts.mts
  shared/test/validation/testHelpers.ts
  src/test/setup.ts
  src/test/utils/electronApiMock.ts
Due: electron, frontend, shared, üß© Shared Core, ü™ü Window Management

🎨 [style] Prefer optional chaining guards
  scripts/augment-benchmark-docs.mjs
  scripts/maintain-docs.mjs
  scripts/verify-storybook-tsconfig.mjs
  src/services/StateSyncService.ts
Due: frontend, üîå Frontend Services

🎨 [style] Use arrows in DevTools snippets
  scripts/devtools-snippets/Debugger-Pause-After-5.js
  scripts/devtools-snippets/Debugger-Pause-Countdown.js
  scripts/devtools-snippets/Debugger-Pause-Element-Hover.js
  scripts/devtools-snippets/Debugger-Pause-Element.js
  scripts/devtools-snippets/Debugger-Pause-Hover.js
Due: none

🚜 [refactor] Replace forEach lint cleanup loops
  scripts/analyze-docs.mjs
  scripts/clean-generated-docs.mjs
  scripts/download-docs-template.mjs
  scripts/extract-test-names.mjs
  scripts/maintain-docs.mjs
  scripts/migrate-to-mts-simple.mjs
  scripts/validate-performance-config.mjs
  shared/utils/siteSnapshots.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🎨 [style] Sort remaining Tailwind classes
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/analytics/ResponseTimeAnalysisCard.tsx
  src/components/common/ErrorAlert/ErrorAlert.tsx
  src/components/error/DefaultErrorFallback.tsx
Due: frontend, üß© Core UI Components, üîß Common UI Components

🎨 [style] Simplify script literal keys
  scripts/add-cspell-words.mjs
  scripts/analyze-coverage.mjs
  scripts/analyze-docs.mjs
  scripts/architecture-static-guards.mjs
  scripts/augment-benchmark-docs.mjs
  scripts/codegen.mjs
  scripts/convert-pascal-to-camel.mjs
  scripts/download-docs-template.mjs
  scripts/download-sqlite3-wasm.mjs
  scripts/enhance-test-metadata.mjs
  scripts/extract-test-names.mjs
  scripts/find-shared-imports.mjs
  scripts/maintain-docs.mjs
  scripts/run-typedoc-safe.mjs
  scripts/sort-frontmatter.mjs
  scripts/sync-node-version-files.mjs
  scripts/validate-doc-frontmatter.mjs
Due: none

⚡ [perf] Trim stable hook dependencies
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/Settings/useSettingsController.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/hooks/usePrefersReducedMotion.ts
Due: frontend, üß© Core UI Components, üîß Common UI Components

🧪 [test] Tighten test helper typings
  electron/test/setup.ts
  shared/test/validation/testHelpers.ts
  src/test/setup.ts
  src/test/utils/mockFactories.ts
  src/test/vitest-jest-dom.d.ts
Due: electron, frontend, shared, üß© Shared Core

🧪 [test] Type enhanced Electron mocks
  electron/test/utils/enhanced-testUtilities.ts
Due: electron

🎨 [style] Normalize CSS selector specificity
  src/components/Settings/Settings.css
  src/theme/styles/components/cards.css
  src/theme/styles/components/forms.css
Due: frontend, üîß Common UI Components, üé® Theme System

🔧 [config] Disable conflicting Biome literal-key rule
  config/linting/biome.json
Due: none

🧹 [lint] Clear remaining ESLint diagnostics
  config/tools/.pre-commit-config.yaml
  electron/events/eventTypes.ts
  electron/services/ipc/diagnosticsMetrics.ts
  electron/test/utils/enhanced-testUtilities.ts
  shared/test/validation/testHelpers.ts
  src/test/setup.ts
Due: electron, frontend, shared, üß© Shared Core, üîó IPC Communication Layer, üîó Integration Layer

🧹 [lint] Clear Knip dead-surface reports
  config/tools/knip.config.ts
  scripts/report-playwright-coverage.ts
Due: none

🧪 [test] Repair frontend suite regressions
  src/test/strictTests/useSitesStore.critical.test.ts
  src/test/utils/validation.comprehensive-fuzzing.test.ts
Due: frontend

🧪 [test] Stabilize Vitest script execution
  config/linting/plugins/uptime-watcher/test/fixtures/typed/__tests__/no-double-assertion-outside-tests.valid.ts
  config/linting/plugins/uptime-watcher/test/fixtures/typed/no-double-assertion-outside-tests.invalid.ts
  package.json
Due: none

🧪 [test] Normalize Playwright child environments
  playwright.config.ts
  playwright/fixtures/electron-helpers.ts
  playwright/fixtures/global-setup.ts
  playwright/fixtures/processEnv.ts
Due: none

🧪 [test] Repair static gate environment wiring
  package.json
  playwright.config.ts
Due: none

🧪 [test] Normalize zero coverage script environment
  package.json
Due: none

🧹 [chore] Normalize Madge script environments
  package.json
Due: none

🧹 [chore] Normalize jscpd script environments
  package.json
Due: none

🧹 [chore] Normalize rule discovery script environments
  package.json
Due: none

🧹 [chore] Normalize shared circular script environment
  package.json
Due: none

🧹 [chore] Clear unused ESLint peer blockers
  docs/Guides/DEPENDENCY_INSTALL_DEBT.md
  docs/Guides/ESLINT_10_PLUGIN_BLOCKERS.md
  package-lock.json
  package.json
Due: none

🧹 [chore] Clear Knip export reports
  config/tools/knip.config.ts
  playwright/fixtures/processEnv.ts
  scripts/detect-zero-coverage-tests.ts
  scripts/generate-ipc-artifacts.mts
Due: none

🧹 [chore] Normalize npm audit script environments
  package.json
Due: none

🧹 [chore] Route secret checks through failing gates
  config/tools/knip.config.ts
  package-lock.json
  package.json
Due: none

🧪 [test] Repair shared validation helper typings
  shared/test/validation/testHelpers.comprehensive.test.ts
Due: shared, üß© Shared Core

🧹 [chore] Remove avoidable lint suppressions
  scripts/analyze-coverage.mjs
  shared/test/validation.fast-check-comprehensive.test.ts
  shared/test/validation/schemas.test.ts
  src/test/component-coverage-boost.test.tsx
  src/test/final.coverage.enhancement.simplified.test.tsx
Due: frontend, shared, üß© Shared Core

🧹 [chore] Silence false Vitest expect warnings
  eslint.config.mjs
Due: none

🧹 [chore] Clear Knip tooling drift
  config/tools/knip.config.ts
  playwright/utils/ui-helpers.ts
Due: none

🧹 [chore] Narrow status indicator helper exports
  src/components/Header/StatusSubscriptionIndicator.utils.ts
  src/test/components/Header/StatusSubscriptionIndicator.test.tsx
Due: frontend, üîß Common UI Components

🧹 [chore] Remove unused store debounce helper
  src/stores/utils.ts
  src/test/stores/utils.test.ts
Due: frontend

🧹 [chore] Keep icon color mapping internal
  src/test/additional-branch-coverage.test.tsx
  src/test/theme/components/iconUtils.comprehensive.test.tsx
  src/theme/components/iconUtils.tsx
Due: frontend, üé® Theme System
