Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

Bump version to 16.9.0
  package.json
Due: none

🚜 [refactor] Refactor SiteCard and header layout
  .prettierrc
  package.json
  src/App.tsx
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Dashboard/SiteCard/SiteCardFooter.tsx
  src/components/Dashboard/SiteCard/SiteCardHeader.tsx
  src/components/Dashboard/SiteCard/SiteCompactCard.css
  src/components/Dashboard/SiteCard/SiteCompactCard.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/Dashboard/SiteList/SiteTableRow.tsx
  src/components/Dashboard/SiteList/SiteTableView.css
  src/components/Dashboard/SiteList/SiteTableView.tsx
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Header/StatusSubscriptionIndicator.tsx
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/components/Layout/SidebarRevealButton/SidebarRevealButton.tsx
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/test/components/Dashboard/SiteCard/SiteCard.comprehensive.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.input-fuzzing.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.maximal-coverage.test.tsx
  src/test/components/Header/Header.assignment-operator.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/theme/components.css
  src/utils/icons.ts
Due: frontend, üì¶ Frontend State Stores, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üß∞ Frontend Utilities

Bump version to 17.0.0
  package.json
Due: none

✨ [feat] Enforce shared contract interface consistency
  config/linting/rules/shared-contract-interfaces.mjs
  docs/CONSISTENCY_GUIDE.md
  electron/test/contracts/ipcContractConsistency.test.ts
  eslint.config.mjs
  shared/test/utils/safeConversions.test.ts
  shared/test/validatorUtils.property.test.ts
  shared/types/monitorTypes.ts
  shared/utils/safeConversions.comprehensive-coverage.fuzz.test.ts
  src/components/Dashboard/SiteCard/SiteCompactCard.css
  src/components/Dashboard/SiteList/SiteTableView.css
  src/components/Header/Header.css
  src/constants.ts
  src/services/utils/createIpcServiceHelpers.ts
  src/test/component-coverage-boost.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/contracts/sharedContractsConsistency.test.ts
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
  src/test/utils/monitorTypeHelper.test.ts
  src/theme/components.css
  src/utils/monitorTypeHelper.ts
Due: electron, frontend, shared, üß© Shared Core, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration

🧹 [chore] Enforce linting rules and update dependencies
  config/linting/plugins/uptime-watcher.mjs
  electron/services/commands/DatabaseCommands.ts
  electron/services/ipc/diagnosticsMetrics.ts
  eslint.config.mjs
  src/test/additional-uncovered-lines.test.ts
  src/test/branch-coverage-optimization.test.tsx
  src/test/constants-theme-100-coverage.test.ts
  src/test/constants.test.ts
  src/test/database-types-coverage.test.ts
  src/test/env-utility-test.test.ts
  src/test/final-coverage-remaining-lines.test.ts
  src/test/function-coverage-boost.test.ts
  src/test/mock-setup.ts
  src/test/monitorOperations.test.ts
  src/test/setup.ts
  src/test/siteStatus.test.ts
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
  src/test/stores/ui/useUiStore.test.ts
  src/test/tsconfig.json
  src/test/typeguard-utility-test.test.ts
  src/test/types.test.tsx
  src/test/useSiteAnalytics.test.ts
  src/test/useSiteStats.test.ts
  src/test/utils/fallbacks.property.test.ts
  src/test/utils/fallbacks.targeted-coverage.test.ts
  src/test/utils/fallbacks.test.ts
  src/test/utils/jsonSafety.advanced-fuzzing.test.ts
  src/test/utils/monitorTypeHelper.test.ts
  src/test/utils/monitorValidation.test.ts
  src/test/utils/monitoring/dataValidation.test.ts
  src/test/working-utility-coverage.test.ts
  storybook/stories/SaveButton.stories.tsx
Due: electron, frontend, üîó IPC Communication Layer

🎨 [style] Enforce `@app` alias and restrict Electron imports
  benchmarks/frontend/stateManagement.bench.ts
  config/linting/plugins/uptime-watcher.mjs
  docs/CONSISTENCY_GUIDE.md
  electron/test/tsconfig.json
  eslint.config.mjs
  shared/test/tsconfig.json
  storybook/helpers/siteStoryHelpers.tsx
  storybook/preview.ts
  storybook/stories/ActionButtonGroup.stories.tsx
  storybook/stories/AddSiteForm.stories.tsx
  storybook/stories/AddSiteModal.stories.tsx
  storybook/stories/AppSidebar.stories.tsx
  storybook/stories/ConditionalResponseTime.stories.tsx
  storybook/stories/ConfirmDialog.stories.tsx
  storybook/stories/DefaultErrorFallback.stories.tsx
  storybook/stories/DetailLabel.stories.tsx
  storybook/stories/ErrorAlert.stories.tsx
  storybook/stories/FormErrorAlert.stories.tsx
  storybook/stories/Header.stories.tsx
  storybook/stories/HistoryChart.stories.tsx
  storybook/stories/MarqueeText.stories.tsx
  storybook/stories/MonitorSelector.stories.tsx
  storybook/stories/MonitoringStatusDisplay.stories.tsx
  storybook/stories/ScreenshotThumbnail.stories.tsx
  storybook/stories/SettingItem.stories.tsx
  storybook/stories/Settings.stories.tsx
  storybook/stories/SidebarRevealButton.stories.tsx
  storybook/stories/SiteCard.stories.tsx
  storybook/stories/SiteCompactCard.stories.tsx
  storybook/stories/SiteDetails.stories.tsx
  storybook/stories/SiteDetailsHeader.stories.tsx
  storybook/stories/SiteDetailsNavigation.stories.tsx
  storybook/stories/SiteList.stories.tsx
  storybook/stories/SiteListLayoutSelector.stories.tsx
  storybook/stories/SiteMonitoringButton.stories.tsx
  storybook/stories/SiteTableView.stories.tsx
  storybook/stories/StatusBadge.stories.tsx
  storybook/stories/StatusSummary.stories.tsx
  storybook/stories/SurfaceContainer.stories.tsx
  storybook/stories/setup/monitorTypeMocks.ts
Due: electron, shared, üß© Shared Core

🧪 [test] Enhance testing and fix eslint issues
  electron/test/services/commands/DatabaseCommands.test.ts
  eslint.config.mjs
  src/test/setup.ts
  storybook/helpers/siteStoryHelpers.tsx
  storybook/stories/HeaderControls.stories.tsx
  storybook/stories/HealthIndicator.stories.tsx
  storybook/stories/StatusCounter.stories.tsx
  storybook/stories/StatusDivider.stories.tsx
  storybook/stories/StatusSubscriptionIndicator.stories.tsx
Due: electron, frontend

📝 [docs] Enhance logging in documentation
  electron/events/TypedEventBus.ts
  electron/events/middleware.ts
  electron/managers/ConfigurationManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/managers/validators/MonitorValidator.ts
  electron/managers/validators/SiteValidator.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorFactory.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/services/monitoring/utils/pingRetry.ts
  electron/services/monitoring/utils/portChecker.ts
  shared/utils/abortUtils.ts
  shared/utils/environment.ts
  shared/utils/errorUtils.ts
  shared/utils/jsonSafety.ts
  shared/validation/schemas.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/common/SiteMonitoringButton/SiteMonitoringButton.tsx
  src/constants.ts
  src/hooks/useMount.ts
  src/services/DataService.ts
  src/services/EventsService.ts
  src/services/MonitorTypesService.ts
  src/services/SettingsService.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/edge-cases-100-coverage.test.ts
  src/theme/ThemeManager.ts
  src/theme/components/ThemedCard.tsx
  storybook/preview.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üîß Constants & Configuration, üîó Integration Layer

✨ [feat] Add zero-coverage audit tooling (Vitest config, detector script, docs)
  config/testing/vitest.zero-coverage.config.ts
  docs/Testing/README.md
  docs/Testing/ZERO_COVERAGE_AUDIT.md
  package.json
  scripts/detect-zero-coverage-tests.ts
Due: none

✨ [feat] Enhance state synchronization
  docs/Guides/API_DOCUMENTATION.md
  docs/Guides/EVENT_SYSTEM_GUIDE.md
  electron/managers/SiteManager.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/ipc/IpcService.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  electron/test/services/commands/DatabaseCommands.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  playwright/fixtures/global-setup.ts
  playwright/tests/ui-site-details.ui.playwright.test.ts
  playwright/tests/ui-site-removal.ui.playwright.test.ts
  playwright/utils/ui-helpers.ts
  shared/test/fuzzing/safeConversions.fuzz.test.ts
  shared/test/utils/safeConversions.test.ts
  src/stores/sites/useSiteSync.ts
  src/test/stores/aliases.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
Due: electron, frontend, shared, üß© Shared Core, üåê Site Management Domain, üîó IPC Communication Layer

🛠️ [fix] Improves IPC handler and cache invalidation
  config/testing/vitest.zero-coverage.config.ts
  electron/preload/core/bridgeFactory.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/ipc/IpcService.ts
  electron/services/ipc/types.ts
  electron/services/ipc/utils.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  electron/utils/database/DataImportExportService.ts
  eslint.config.mjs
  playwright/fixtures/electron-helpers.ts
  playwright/tests/renderer-process.renderer.playwright.test.ts
  playwright/tests/utils/monitorTypeTestUtils.ts
  shared/types/ipc.ts
  src/App.tsx
  src/types/ipc.ts
  src/utils/cacheSync.ts
Due: electron, frontend, shared, üß© Shared Core, üîó IPC Communication Layer, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions

🚜 [refactor] Refactors monitor services to use shared core
  electron/services/monitoring/HttpHeaderMonitor.ts
  electron/services/monitoring/HttpJsonMonitor.ts
  electron/services/monitoring/HttpKeywordMonitor.ts
  electron/services/monitoring/HttpLatencyMonitor.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/HttpStatusMonitor.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/ReplicationMonitor.ts
  electron/services/monitoring/ServerHeartbeatMonitor.ts
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/services/monitoring/shared/monitorFactoryUtils.ts
  electron/services/monitoring/shared/remoteMonitorCore.ts
  eslint.config.mjs
  package.json
  scripts/verify-storybook-tsconfig.mjs
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/RadioGroup.tsx
  src/components/AddSiteForm/SelectField.tsx
  src/components/AddSiteForm/TextField.tsx
  src/components/AddSiteForm/fields/fieldFactories.tsx
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/test/stores/sites/useSiteOperations.test.ts
  storybook/helpers/monitorTypeStoryHelpers.ts
  storybook/stories/AnalyticsTab.stories.tsx
  storybook/stories/BaseFormField.stories.tsx
  storybook/stories/DashboardOverview.stories.tsx
  storybook/stories/DynamicMonitorFields.stories.tsx
  storybook/stories/HistoryTab.stories.tsx
  storybook/stories/OverviewTab.stories.tsx
  storybook/stories/ResponseTimeChart.stories.tsx
  storybook/stories/SiteTableRow.stories.tsx
  storybook/stories/StatusChart.stories.tsx
  storybook/tsconfig.json
Due: electron, frontend, üéØ Monitoring Core Engine, üåê Site Management Domain, üß© Core UI Components

🛠️ [fix] Enforce site identifier uniqueness
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  docs/Guides/ZUSTAND_STORE_PATTERN_GUIDE.md
  electron/managers/SiteManager.ts
  electron/services/monitoring/HttpHeaderMonitor.ts
  electron/services/monitoring/HttpJsonMonitor.ts
  electron/services/monitoring/HttpKeywordMonitor.ts
  electron/services/monitoring/HttpLatencyMonitor.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/HttpStatusMonitor.ts
  electron/test/managers/SiteManager.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/test/tsconfig.json
  shared/test/validation/siteIntegrity.test.ts
  shared/validation/siteIntegrity.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesState.ts
  src/stores/sites/utils/operationHelpers.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSitesState.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üåê Site Management Domain, üîó Integration Layer

🛠️ [fix] Refactor and improve code quality
  electron/managers/SiteManager.ts
  electron/test/managers/SiteManager.test.ts
  scripts/verify-storybook-tsconfig.mjs
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesState.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
  storybook/helpers/monitorTypeStoryHelpers.ts
  storybook/stories/AnalyticsTab.stories.tsx
  storybook/stories/BaseFormField.stories.tsx
  storybook/stories/DashboardOverview.stories.tsx
  storybook/stories/DynamicMonitorFields.stories.tsx
  storybook/stories/HistoryTab.stories.tsx
  storybook/stories/OverviewTab.stories.tsx
  storybook/stories/ResponseTimeChart.stories.tsx
  storybook/stories/SiteTableRow.stories.tsx
  storybook/stories/StatusChart.stories.tsx
Due: electron, frontend, üåê Site Management Domain

🚜 [refactor] Refine monitor config serialization
  electron/services/ipc/IpcService.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/ipc/IpcService.test.ts
  shared/test/tsconfig.json
  shared/test/types/monitorTypes.guard.test.ts
  shared/types/monitorTypes.ts
  src/stores/monitor/operations.ts
  src/stores/sites/useSiteSync.ts
  src/test/components/AddSiteForm.complete-coverage.test.tsx
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.simplified100.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/utils/monitorUiHelpers.comprehensive.test.ts
  src/test/utils/monitorUiHelpers.test.ts
  src/utils/monitorUiHelpers.ts
Due: electron, frontend, shared, üß© Shared Core, üåê Site Management Domain, üîó IPC Communication Layer, üß∞ Frontend Utilities, üìù Type Definitions

🛠️ [fix] Enhance code quality and validation
  .github/copilot-instructions.md
  .storybook/main.ts
  electron/events/TypedEventBus.ts
  electron/services/ServiceContainer.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/ReplicationMonitor.ts
  electron/services/monitoring/ServerHeartbeatMonitor.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  package-lock.json
  package.json
  scripts/verify-storybook-tsconfig.mjs
  shared/test/types/monitorTypes.guard.test.ts
  shared/types.ts
  shared/types/events.ts
  shared/types/monitorTypes.ts
  shared/types/stateSync.ts
  src/services/StateSyncService.ts
  src/stores/monitor/operations.ts
  src/stores/sites/useSiteSync.ts
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.simplified100.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/utils/monitorUiHelpers.ts
  storybook/main.ts
  storybook/shims/nodeWebStorage.ts
  storybook/stories/DynamicMonitorFields.stories.tsx
  storybook/viteSharedConfig.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîå Frontend Services, üß∞ Frontend Utilities, üìù Type Definitions, üîó Integration Layer

✨ [feat] Enhance Storybook and code coverage
  .github/copilot-instructions.md
  .github/prompts/BeastMode.prompt.md
  .storybook/main.ts
  .storybook/tsconfig.json
  electron/services/monitoring/ReplicationMonitor.ts
  electron/services/monitoring/ServerHeartbeatMonitor.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/test/ultimate-function-coverage-boost.test.ts
  storybook/main.ts
  storybook/preview.ts
  storybook/shims/nodeWebStorage.ts
  storybook/test-runner-jest.config.js
  storybook/tsconfig.eslint.json
  storybook/viteSharedConfig.ts
  test-runner-jest.config.js
Due: electron, shared, üß© Shared Core, üéØ Monitoring Core Engine

🚜 [refactor] Streamlines Storybook and ESLint config
  .storybook/main.ts
  eslint.config.mjs
Due: none

🛠️ [fix] Enhance external URL handling and validation
  docs/Architecture/Templates/ZUSTAND_STORE_TEMPLATE.md
  docs/Guides/API_DOCUMENTATION.md
  electron/services/ipc/utils.ts
  electron/services/ipc/validators.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
  shared/test/ultimate-function-coverage-boost.test.ts
  src/components/Dashboard/SiteCard/SiteCompactCard.css
  src/components/Dashboard/SiteList/SiteTableView.css
  src/components/Settings/Settings.css
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/hooks/site/useSiteDetails.ts
  src/hooks/site/useSiteMonitor.ts
  src/services/SystemService.ts
  src/stores/ui/useUiStore.ts
  src/test/ScreenshotThumbnail.test.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.comprehensive.test.tsx
  src/test/hooks/site/useSiteMonitor.test.ts
  src/test/services/SystemService.comprehensive.test.ts
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
  src/test/strictTests/useSiteDetails.critical.test.ts
  src/theme/components.css
Due: electron, frontend, shared, üß© Shared Core, üîó IPC Communication Layer, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services

🎨 [style] Refactor CSS structure and update docs
  config/tools/knip.config.ts
  docs/Guides/StyleLayoutGuide.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/Dashboard/SiteCard/SiteCompactCard.css
  src/components/Dashboard/SiteList/EmptyState.tsx
  src/components/Dashboard/SiteList/SiteTableView.css
  src/components/Header/Header.css
  src/components/Settings/Settings.css
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/styles/animations.css
  src/components/SiteDetails/styles/header.css
  src/components/SiteDetails/styles/history.css
  src/components/SiteDetails/styles/layout.css
  src/components/SiteDetails/styles/navigation.css
  src/components/SiteDetails/styles/settings.css
  src/index.css
  src/theme/components.css
  src/theme/styles/components/animations.css
  src/theme/styles/components/buttons.css
  src/theme/styles/components/cards.css
  src/theme/styles/components/forms.css
  src/theme/styles/components/foundation.css
  src/theme/styles/components/icons.css
  src/theme/styles/components/layout.css
  src/theme/styles/components/overlays.css
  src/theme/styles/components/status.css
  src/theme/styles/components/utilities.css
Due: frontend, üß© Core UI Components, üîß Common UI Components, üé® Theme System

Bump version to 17.1.0
  package.json
Due: none

🚜 [refactor] Replace executePrompt with runSubagent
  .github/chatmodes/Debugging.chatmode.md
  .github/chatmodes/Docs.chatmode.md
  .github/chatmodes/Explore.chatmode.md
  .github/chatmodes/Migration.chatmode.md
  .github/chatmodes/Performance.chatmode.md
  .github/chatmodes/Questions.chatmode.md
  .github/chatmodes/Refactor.chatmode.md
  .github/chatmodes/Review.chatmode.md
  .github/chatmodes/Security.chatmode.md
  .github/chatmodes/Tests.chatmode.md
  .github/prompts/BeastMode.prompt.md
  .github/prompts/Consistency-Check.prompt.md
  .github/prompts/Document-Review.prompt.md
  .github/prompts/E2E-Tests-Playwright.prompt.md
  .github/prompts/Error-Handling-Tests.prompt.md
  .github/prompts/Fix-Eslint-Errors.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/prompts/Generate-Test-Metadata.prompt.md
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  .github/prompts/My-Custom-Prompts.prompt.md
  .github/prompts/PR-Review.prompt.md
  .github/prompts/Performance-Tests.prompt.md
  .github/prompts/Remove-Eslint-Disable.prompt.md
  .github/prompts/Review-Code-Base.prompt.md
  .github/prompts/Stryker-Generate-Stryke-Mutator-Fixes.prompt.md
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
  .github/prompts/Types-Double-Check.prompt.md
Due: none

✨ [feat] Introduce Beast Mode agent configuration
  .github/agents/BeastMode.vscode-agent.md
  .github/chatmodes/Debugging.chatmode.md
  .github/chatmodes/Docs.chatmode.md
  .github/chatmodes/Explore.chatmode.md
  .github/chatmodes/Migration.chatmode.md
  .github/chatmodes/Performance.chatmode.md
  .github/chatmodes/Questions.chatmode.md
  .github/chatmodes/Refactor.chatmode.md
  .github/chatmodes/Review.chatmode.md
  .github/chatmodes/Security.chatmode.md
  .github/chatmodes/Tests.chatmode.md
  .gitignore
  CONTRIBUTING.md
  config/tools/knip.config.ts
  docs/Guides/ValidationStrategy.md
Due: none

🛠️ [fix] Refactor monitor removal workflow for reliability
  docs/Guides/validation-strategy.md
  docs/TSDoc/stores/sites.md
  electron/UptimeOrchestrator.ts
  electron/managers/SiteManager.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/preload/core/bridgeFactory.comprehensive.test.ts
  electron/test/preload/domains/sitesApi.comprehensive.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  shared/types/ipc.ts
  src/hooks/site/useSiteDetails.ts
  src/hooks/site/useSiteMonitor.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/mock-setup.ts
  src/test/setup.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/strictTests/SiteService.critical.test.ts
  src/test/utils/cacheSync.test.ts
  src/utils/cacheSync.ts
  storybook/setup/electron-api-mock.ts
Due: electron, frontend, shared, üß© Shared Core, üéº Uptime Orchestrator, üåê Site Management Domain, ü™ù Business Logic Hooks, üß∞ Frontend Utilities, üìù Type Definitions

🛠️ [fix] Enhance site state management and validation
  .github/agents/BeastMode.vscode-agent.md
  .remarkignore
  .remarkrc.mjs
  .stylelintignore
  config/linting/remark/require-snippets.mjs
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  electron/UptimeOrchestrator.ts
  electron/managers/SiteManager.ts
  electron/preload/domains/sitesApi.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  shared/test/fuzzing/errorCatalog.fuzz.test.ts
  shared/test/validation.property.test.ts
  shared/validation/guards.ts
  src/hooks/site/useSiteDetails.ts
  src/hooks/site/useSiteMonitor.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/useSiteOperations.ts
  src/test/App.additional-coverage.test.tsx
  src/test/hooks/site/useSiteDetails.branch-coverage-new.test.ts
  src/test/hooks/site/useSiteDetails.branch-coverage.test.ts
  src/test/hooks/site/useSiteDetails.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/strictTests/SiteService.critical.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
Due: electron, frontend, shared, üß© Shared Core, üéº Uptime Orchestrator, üåê Site Management Domain, ü™ù Business Logic Hooks, üîó Integration Layer

🚜 [refactor] Remove site monitoring
  src/stores/sites/types.ts
  src/stores/sites/useSitesStore.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
Due: frontend

🚜 [refactor] Refactor event emission for site/monitor updates
  docs/Architecture/ADRs/ADR_002_EVENT_DRIVEN_ARCHITECTURE.md
  docs/Guides/EVENT_SYSTEM_GUIDE.md
  docs/TSDoc/stores/sites.md
  electron/UptimeOrchestrator.ts
  electron/events/eventTypes.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/services/ServiceContainer.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/ServiceContainer.fixed.test.ts
Due: electron, üéØ Monitoring Core Engine, üéº Uptime Orchestrator, üåê Site Management Domain, üîó Integration Layer

👷 [ci] Standardize agent tool lists in prompts
  .github/agents/BeastMode.agent.md
  .github/prompts/BeastMode.prompt.md
  .github/prompts/Consistency-Check.prompt.md
  .github/prompts/Document-Review.prompt.md
  .github/prompts/E2E-Tests-Playwright.prompt.md
  .github/prompts/Error-Handling-Tests.prompt.md
  .github/prompts/Fix-Eslint-Errors.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/prompts/Generate-Test-Metadata.prompt.md
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  .github/prompts/My-Custom-Prompts.prompt.md
  .github/prompts/PR-Review.prompt.md
  .github/prompts/Performance-Tests.prompt.md
  .github/prompts/Remove-Eslint-Disable.prompt.md
  .github/prompts/Review-Code-Base.prompt.md
  .github/prompts/Stryker-Generate-Stryke-Mutator-Fixes.prompt.md
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
  .github/prompts/Types-Double-Check.prompt.md
Due: none

🧹 [chore] Simplify context7.json exclude patterns and clear folders
  context7.json
Due: none

Bump version to 17.2.0
  package.json
Due: none

🔧 [build] Updates dependencies and WASM binary
  assets/.wasm-version
  assets/node-sqlite3-wasm.wasm
  package-lock.json
  package.json
Due: none

🚜 [refactor] Improve service initialization and update dependencies
  config/testing/vitest.zero-coverage.config.ts
  electron/services/ServiceContainer.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.debug.test.ts
  electron/test/managers/validators/SiteValidator.comprehensive.test.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
  electron/test/services/ServiceContainer.debug-mock.test.ts
  electron/test/services/ServiceContainer.targeted.test.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  electron/test/services/database/SettingsRepository.simple.test.ts
  electron/test/setup.ts
  shared/types/eventsBridge.ts
  src/services/EventsService.ts
  src/test/components/Dashboard/SiteCard/SiteCard.input-fuzzing.test.tsx
  src/test/components/Dashboard/SiteList/EmptyState.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.comprehensive.test.tsx
  src/test/utils/cacheSync.test.ts
  vitest.config.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
  vitest.storybook.config.ts
  vitest.stryker.config.ts
Due: electron, frontend, shared, üß© Shared Core, üîå Frontend Services, üìù Type Definitions

🚜 [refactor] Reorganize test files and improve orphan test script
  scripts/Find-OrphanedTests.ps1
  shared/test/utils/abortUtils.comprehensive-coverage.fuzz.test.ts
  shared/test/utils/environment.comprehensive-coverage.fuzz.test.ts
  shared/test/utils/objectSafety.comprehensive-coverage.fuzz.test.ts
  shared/test/utils/safeConversions.comprehensive-coverage.fuzz.test.ts
  src/test/utils/ThemeManager.input-fuzzing.test.ts
  src/test/utils/themeMerging.input-fuzzing.test.ts
Due: frontend, shared, üß© Shared Core

Bump version to 17.3.0
  package.json
Due: none

🚜 [refactor] Use RendererEventPayloadMap for site event typings and add TODO prompt
  .github/prompts/Add-To-ToDo.prompt.md
  shared/types/eventsBridge.ts
  src/services/EventsService.ts
Due: frontend, shared, üß© Shared Core, üîå Frontend Services, üìù Type Definitions

🔧 [refactor] Centralize site addition source metadata and improve event handling 🎯
  docs/Guides/API_DOCUMENTATION.md
  electron/UptimeOrchestrator.ts
  electron/events/eventTypes.ts
  electron/main.ts
  electron/managers/SiteManager.ts
  electron/preload/domains/eventsApi.ts
  electron/services/ServiceContainer.ts
  electron/services/application/ApplicationService.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/services/window/WindowService.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/main.comprehensive.test.ts
  electron/test/main.missing-branches.test.ts
  electron/test/managers/DatabaseManager.100-percent-coverage.test.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/services/ServiceContainer.simple.test.ts
  electron/test/services/ServiceContainer.working.test.ts
  electron/test/services/commands/DatabaseCommands.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/ipc/rendererEvents.ts
  shared/types/events.ts
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/services/EventsService.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîß Backend Services, ü™ü Window Management, üß© Core UI Components, üîå Frontend Services, üìù Type Definitions, üîó Integration Layer

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
