Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, electron, UI Components, State Management (Stores), Frontend Services, React Hooks, Frontend Utils, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Settings & Configuration, Dashboard & Analytics, Error Handling, Theme System, Type Definitions, Constants

Path conditions:
  frontend: any of: src/
  electron: any of: electron/
  UI Components: any of: src/components/**
  State Management (Stores): any of: src/stores/**
  Frontend Services: any of: src/services/**
  React Hooks: any of: src/hooks/**
  Frontend Utils: any of: src/utils/**
  Core Backend Services: any of: electron/services/**
  Domain Managers: any of: electron/managers/**
  Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  Backend Utils: any of: electron/utils/**, electron/electronUtils.ts
  Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts
  Monitoring Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts
  IPC Communication: any of: electron/services/ipc/**, electron/preload.ts
  Site Management: any of: electron/managers/SiteManager.ts, src/stores/sites/**, src/components/AddSiteForm/**, src/components/SiteDetails/**
  Settings & Configuration: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, src/components/Settings/**
  Dashboard & Analytics: any of: src/components/Dashboard/**, src/stores/stats/**, src/stores/ui/**
  Error Handling: any of: src/stores/error/**
  Theme System: any of: src/theme/**
  Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts
  Constants: any of: src/constants.ts, electron/constants.ts

🚜 [refactor] Consolidate error handling utilities and unify retry logic
  FUNCTION_USAGE_ANALYSIS.md
  LOW_CONFIDENCE_AI_CLAIMS_REVIEW.md
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/utils/portRetry.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/databaseInitializer.ts
  src/constants.ts
  src/utils/errorHandling.ts
Due: frontend, electron, Frontend Utils, Core Backend Services, Backend Utils, Monitoring Engine, Constants

🧪 [test] Remove legacy and redundant test files
  electron/test/DatabaseManager.test.ts
  electron/test/MonitorManager.test.ts
  electron/test/TypedEventBus.test.ts
  electron/test/UptimeOrchestrator.advanced.test.ts
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/barrelExports.test.ts
  electron/test/main.test.ts
  electron/test/services/database/DatabaseService.test.ts
  electron/test/services/monitoring/PortMonitor.test.ts
  electron/test/services/window/WindowService.test.ts
  electron/test/utils/database/DataBackupService.test.ts
  electron/test/utils/database/DataImportExportService.test.ts
  electron/utils/database/SiteWriterService.ts
  src/test/Settings.coverage.test.tsx
  src/test/Settings.test.tsx
  src/test/SiteDetails.uncovered.test.tsx
  src/test/constants.test.ts
  src/test/useSite.test.ts
  src/test/useSiteDetails.comprehensive.test.ts
Due: frontend, electron, Backend Utils

✨ [feat] Add SiteWriterService for testable site data ops
  FUNCTION_USAGE_ANALYSIS.md
  LOW_CONFIDENCE_AI_CLAIMS_REVIEW.md
  electron/managers/SiteManager.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/utils/portRetry.ts
  electron/utils/database/SiteWriterService.ts
  eslint.config.mjs
  package-lock.json
  package.json
Due: electron, Core Backend Services, Domain Managers, Backend Utils, Monitoring Engine, Site Management

🚜 [refactor] Standardizes cache management across managers
  FUNCTION_USAGE_ANALYSIS.md
  docs/CODEBASE_CONSISTENCY_AUDIT.md
  docs/LOW_CONFIDENCE_AI_CLAIMS_REVIEW.md
  electron/managers/ConfigurationManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/test/utils/database/SiteWriterService.test.ts
  electron/utils/cache/StandardizedCache.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/interfaces.ts
  electron/utils/database/serviceFactory.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  package-lock.json
  package.json
  tsconfig.electron.json
  tsconfig.json
  vite.config.ts
Due: electron, Domain Managers, Backend Utils, Monitoring Engine, Site Management, Settings & Configuration

🚜 [refactor] Centralizes dependency management via ServiceContainer
  docs/STATE_MANAGEMENT_GUIDELINES.md
  electron/UptimeOrchestrator.ts
  electron/managers/ConfigurationManager.ts
  electron/managers/SiteManager.ts
  electron/services/ServiceContainer.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/utils/database/serviceFactory.ts
Due: electron, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Site Management, Settings & Configuration

🚜 [refactor] Enforces dependency injection, simplifies db services
  docs/STATE_MANAGEMENT_GUIDELINES.md
  electron/UptimeOrchestrator.ts
  electron/managers/DatabaseManager.ts
  electron/services/ServiceContainer.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/utils/database/DataBackupService.ts
  electron/utils/database/serviceFactory.ts
Due: electron, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer

✨ [feat] Improve database init and dependency injection
  electron/managers/DatabaseManager.ts
  electron/managers/SiteManager.ts
  electron/services/ServiceContainer.ts
  electron/services/database/DatabaseService.ts
Due: electron, Core Backend Services, Domain Managers, Database Layer, Site Management

🚜 [refactor] Simplify service initialization and remove unused factories
  electron/managers/SiteManager.ts
  electron/services/ServiceContainer.ts
  electron/services/database/DatabaseService.ts
  electron/utils/database/serviceFactory.ts
Due: electron, Core Backend Services, Domain Managers, Backend Utils, Database Layer, Site Management

✨ [feat] Add automatic frontend cache sync with backend
  electron/managers/DatabaseManager.ts
  electron/preload.ts
  electron/services/application/ApplicationService.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/utils/database/DataBackupService.ts
  electron/utils/database/historyLimitManager.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/App.tsx
  src/services/chartConfig.ts
  src/theme/themes.ts
  src/types.ts
  src/utils/cacheSync.ts
Due: frontend, electron, Frontend Services, Frontend Utils, Core Backend Services, Domain Managers, Backend Utils, Database Layer, IPC Communication, Theme System, Type Definitions

🔧 [build] Update dependencies and extend lint coverage
  .github/prompts/ConsistencyCheck.prompt.md
  package-lock.json
  package.json
Due: none

🚜 [refactor] Decouples repositories, adds SiteService, unifies validation
  CONSISTENCY_FIXES_IMPLEMENTED.md
  docs/TRANSACTION_PATTERN_STANDARDS.md
  electron/managers/MonitorManager.ts
  electron/services/ServiceContainer.ts
  electron/services/database/SiteRepository.ts
  electron/services/site/SiteService.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  eslint.config.mjs
  shared/types.ts
  shared/utils/validation.ts
  src/components/Dashboard/SiteCard/SiteCardStatus.tsx
  src/components/common/StatusBadge.tsx
  src/hooks/site/useSiteMonitor.ts
  src/stores/sites/utils/monitorOperations.ts
  src/theme/components.tsx
  src/theme/useTheme.ts
  ✅ CONSISTENCY FIXES IMPLEMENTATION SUMMARY.md
  📋 COMPREHENSIVE CONSISTENCY AUDIT REPORT.md
Due: frontend, electron, UI Components, State Management (Stores), React Hooks, Core Backend Services, Domain Managers, Backend Utils, Database Layer, Monitoring Engine, Site Management, Dashboard & Analytics, Theme System

📝 [docs] Standardizes formatting and improves clarity in audit docs
  docs/CODEBASE_CONSISTENCY_AUDIT.md
  docs/CONSISTENCY_AUDIT_REPORT.md
  docs/CONSISTENCY_FIXES_IMPLEMENTED.md
  docs/CONSOLIDATION_AUDIT_REPORT.md
  docs/FINAL_COMPREHENSIVE_CONSOLIDATION_COMPLETE.md
  docs/FINAL_CONSOLIDATION_COMPLETION_REPORT.md
  docs/GLOBAL_LOGGER_AUDIT_COMPLETE.md
  docs/STATE_MANAGEMENT_GUIDELINES.md
  docs/TYPE_ARCHITECTURE_SUMMARY.md
  docs/✅ CONSISTENCY FIXES IMPLEMENTATION SUMMARY.md
  docs/📊 Categorized Inconsistency Report.md
  docs/📋 COMPREHENSIVE CONSISTENCY AUDIT REPORT.md
  shared/types.ts
  shared/utils/errorHandling.ts
  shared/validation/schemas.ts
  src/test/types.test.tsx
Due: frontend

🧪 [test] Remove legacy and redundant test files
  electron/test/managers/index.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/utils/monitoring/autoMonitorManager.test.ts
  electron/test/utils/monitoring/intervalManager.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
  electron/test/utils/siteStatus.test.ts
  package.json
  src/test/App.fixed.comprehensive.test.tsx
  src/test/App.test.tsx
  src/test/Header.test.tsx
  src/test/SiteDetails.test.tsx
  src/test/monitorUiHelpers.test.ts
  src/test/useBackendFocusSync-2.test.ts
  src/test/useBackendFocusSync.test.ts
  src/test/useSitesStore.uncovered.test.ts
  vitest.config.ts
Due: frontend, electron

Bump version to 8.0.0
  package.json
Due: none

✨ [feat] Add type-safe utilities, env abstraction, and ESLint tuning
  ESLINT_PLUGIN_N_ANALYSIS.md
  docs/type-safe.txt
  electron/UptimeOrchestrator.ts
  electron/electronUtils.ts
  electron/events/middleware.ts
  electron/services/application/ApplicationService.ts
  electron/services/database/utils/databaseBackup.ts
  electron/services/window/WindowService.ts
  electron/utils/cache/StandardizedCache.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/monitoring/monitorLifecycle.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/utils/environment.ts
  shared/utils/jsonSafety.ts
  shared/utils/objectSafety.ts
  shared/utils/safeConversions.ts
  shared/utils/stringConversion.ts
  shared/utils/typeGuards.ts
  src/App.tsx
  src/stores/shared/utils.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/utils/fileDownload.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/utils.ts
  src/types.ts
  src/utils/cacheSync.ts
  src/utils/safeConversions.ts
  src/utils/typeGuards.ts
Due: frontend, electron, State Management (Stores), Frontend Utils, Core Backend Services, Uptime Orchestrator, Backend Utils, Database Layer, Site Management, Type Definitions

📝 [docs] Update ESLint analysis and improve shared utils docs
  ESLINT_PLUGIN_N_ANALYSIS.md
  eslint.config.mjs
  shared/utils/environment.ts
  shared/utils/jsonSafety.ts
  shared/utils/objectSafety.ts
Due: none

✨ [feat] Enforce strict type safety for IPC event payloads
  CONSOLE_TRYAATCH_REMEDIATION.md
  docs/🎉 PHASE 1 COMPLETE - IPC TYPE DEFINITIONS.md
  docs/🎯 FINAL COMPREHENSIVE CONSISTENCY AUDIT REPORT.md
  docs/📋 FINAL TYPE SAFETY AUDIT RESULTS.md
  docs/🔍 COMPREHENSIVE TYPE SAFETY AUDIT.md
  docs/🔧 TYPE SAFETY IMPLEMENTATION FIXES.md
  electron/preload.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/MonitorFactory.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/types.ts
  shared/types/events.ts
  shared/utils/errorHandling.ts
  shared/validation/schemas.ts
  src/hooks/useDynamicHelpText.ts
  src/hooks/useMonitorFields.ts
  src/hooks/useMonitorTypes.ts
  src/stores/error/ErrorBoundary.tsx
  src/stores/error/useErrorStore.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSitesState.ts
  src/stores/sites/utils/fileDownload.ts
  src/types.ts
  src/types/events.ts
  src/types/monitor-forms.ts
Due: frontend, electron, State Management (Stores), React Hooks, Core Backend Services, Backend Utils, Monitoring Engine, IPC Communication, Site Management, Error Handling, Type Definitions

✨ [feat] Expand linting, validation, and type safety across codebase
  eslint.config.mjs
  package-lock.json
  package.json
  shared/types.ts
  shared/types/events.ts
  shared/utils/environment.ts
  shared/utils/errorHandling.ts
  shared/utils/jsonSafety.ts
  shared/utils/objectSafety.ts
  shared/utils/siteStatus.ts
  shared/utils/validation.ts
  shared/validation/schemas.ts
  tsconfig.electron.json
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: none

🚜 [refactor] Restructure shared types and improve error handling
  electron/preload.ts
  shared/types.ts
  shared/utils/environment.ts
  shared/utils/errorHandling.ts
  shared/utils/jsonSafety.ts
  shared/utils/objectSafety.ts
  shared/utils/typeGuards.ts
  src/stores/shared/utils.ts
  src/stores/sites/utils/fileDownload.ts
  src/types.ts
Due: frontend, electron, State Management (Stores), IPC Communication, Site Management, Type Definitions

📝 [docs] Add layer audit report and update lint/style configs
  electron/UptimeOrchestrator.ts
  electron/electronUtils.ts
  electron/main.ts
  electron/preload.ts
  electron/services/application/ApplicationService.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/SiteDetails/SiteDetails.css
  stylelint.config.js
Due: frontend, electron, UI Components, Core Backend Services, Uptime Orchestrator, Backend Utils, IPC Communication, Site Management

🎨 [style] Migrate global styles to CSS nesting syntax
  src/components/Header/Header.css
  src/components/SiteDetails/SiteDetails.css
  src/index.css
  src/theme/components.css
  stylelint.config.js
Due: frontend, UI Components, Site Management, Theme System

📝 [docs] Improve type safety and remediation audit docs
  CONSOLE_TRYAATCH_REMEDIATION.md
  docs/🎉 PHASE 1 COMPLETE - IPC TYPE DEFINITIONS.md
  docs/🎯 FINAL COMPREHENSIVE CONSISTENCY AUDIT REPORT.md
  docs/📋 FINAL TYPE SAFETY AUDIT RESULTS.md
  docs/🔍 COMPREHENSIVE TYPE SAFETY AUDIT.md
  docs/🔧 TYPE SAFETY IMPLEMENTATION FIXES.md
  stylelint.config.js
Due: none

📝 [docs] Enhance event system and orchestrator documentation
  electron/UptimeOrchestrator.ts
  electron/events/TypedEventBus.ts
  electron/events/eventTypes.ts
  electron/events/middleware.ts
  eslint.config.mjs
Due: electron, Uptime Orchestrator

📝 [docs] Remove legacy consistency audit and type safety reports
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  docs/type-safe.txt
  docs/⚠️ Major Inconsistencies (Needs Fixing).md
  docs/✅ CONSISTENCY FIX IMPLEMENTATION SUMMARY.md
  docs/✅ CONSISTENCY FIXES IMPLEMENTATION SUMMARY.md
  docs/🎉 PHASE 1 COMPLETE - IPC TYPE DEFINITIONS.md
  docs/🎯 FINAL COMPREHENSIVE CONSISTENCY AUDIT REPORT.md
  docs/🎯 FINAL CONSISTENCY CHECK REPORT.md
  docs/🎯 FINAL_COMPREHENSIVE_CONSISTENCY_CONSOLIDATION_COMPLETE.md
  docs/📊 Categorized Inconsistency Report.md
  docs/📋 COMPREHENSIVE CONSISTENCY AUDIT REPORT.md
  docs/📋 FINAL TYPE SAFETY AUDIT RESULTS.md
  docs/🔍 COMPREHENSIVE TYPE SAFETY AUDIT.md
  docs/🔧 TYPE SAFETY IMPLEMENTATION FIXES.md
Due: none

🚜 [refactor] Standardizes validation, caching, and event handling
  electron/constants.ts
  electron/events/TypedEventBus.ts
  electron/events/eventTypes.ts
  electron/events/middleware.ts
  electron/main.ts
  electron/managers/ConfigurationManager.ts
  electron/managers/DatabaseManager.ts
  electron/managers/SiteManager.ts
  electron/managers/validators/MonitorValidator.ts
  electron/managers/validators/SiteValidator.ts
  electron/managers/validators/interfaces.ts
  electron/utils/database/SiteWriterService.ts
  eslint.config.mjs
Due: electron, Domain Managers, Backend Utils, Database Layer, Site Management, Settings & Configuration, Constants

Bump version to 8.1.0
  package.json
Due: none

🛠️ [fix] Improve validation, documentation, and event accuracy
  .github/instructions/copilot-instructions.md
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  package.json
  tsdoc.json
Due: electron, Domain Managers, Database Layer, Monitoring Engine, Site Management

Bump version to 8.2.0
  package.json
Due: none

📝 [docs] Update TSDoc docs to use Markdown, simplify structure
  docs/TSDoc/TSDoc-Download-Log.md
  docs/TSDoc/TSDoc-Hashes.json
  docs/TSDoc/TSDoc-Home.md
  docs/TSDoc/TSDoc-Intro-Approach.md
  docs/TSDoc/TSDoc-Intro-UsingTsdoc.md
  docs/TSDoc/TSDoc-Package-EslintPluginTsdoc.md
  docs/TSDoc/TSDoc-Package-Tsdoc.md
  docs/TSDoc/TSDoc-Package-TsdocConfig.md
  docs/TSDoc/TSDoc-Spec-Overview.md
  docs/TSDoc/TSDoc-Spec-StandardizationGroups.md
  docs/TSDoc/TSDoc-Spec-TagKinds.md
  package-lock.json
  scripts/download-tsdoc-tags.js
Due: none

📝 [docs] Enhance documentation and event handler clarity
  .vscode/settings.json
  electron/constants.ts
  electron/services/application/ApplicationService.ts
  electron/services/database/utils/databaseBackup.ts
  eslint.config.mjs
Due: electron, Core Backend Services, Database Layer, Constants

📝 [docs] Update architecture and coding standards for clarity and stricter rules
  .github/instructions/copilot-instructions.md
  .github/prompts/Low-Confidence-AI-Review.prompt.md
Due: none

✨ [feat] Improve database safety, docs, and consistency
  electron/services/database/DatabaseService.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/databaseBackup.ts
  electron/services/database/utils/databaseSchema.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/database/utils/historyMapper.ts
  electron/services/database/utils/historyQuery.ts
  electron/services/database/utils/settingsMapper.ts
  electron/utils/monitoring/monitorStatusChecker.ts
Due: electron, Core Backend Services, Backend Utils, Database Layer

📝 [docs] Add comprehensive AI review reports for code quality
  .github/instructions/copilot-instructions.md
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  docs/Reviews/LC.AI.R-ApplicationService-DatabaseBackup-Review.md
  docs/Reviews/LC.AI.R-DatabaseService-HistoryRepository.md
  docs/Reviews/LC.AI.R-DatabaseUtilities.md
  docs/Reviews/LC.AI.R-Implementation-Summary.md
  docs/Reviews/LC.AI.R-IpcService.md
  docs/Reviews/LC.AI.R-MonitorRepository-SettingsRepository.md
  docs/Reviews/LC.AI.R-MultipleFiles.md
  docs/Reviews/LC.AI.R-SiteRepository-Review.md
  docs/Reviews/LC.AI.R-Summary.md
  docs/Reviews/LC.AI.R-historyManipulation.md
  docs/Reviews/LC.AI.R-historyMapper.md
  docs/Reviews/LC.AI.R-historyQuery.md
  docs/Reviews/LC.AI.R-monitorMapper.md
  docs/Reviews/LC.AI.R-settingsMapper-additional.md
  docs/Reviews/LC.AI.R-settingsMapper.md
  docs/Reviews/LC.AI.R-siteMapper.md
  docs/Reviews/LC.AI.R-valueConverters.md
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

📝 [docs] Add reviews and legacy code cleanup reports
  docs/Reviews/LC.AI.R-HttpMonitor.md
  docs/Reviews/LC.AI.R-MonitorServices-Summary.md
  docs/Reviews/LC.AI.R-PortMonitor.md
  docs/Reviews/Legacy-Cleanup-Report.md
  electron/test/utils/database/SiteWriterService.test.ts
  src/test/useThemeStyles.comprehensive.test.ts
Due: frontend, electron

📝 [docs] Add AI claims review summaries and implementation analysis
  docs/Reviews/LC.AI.R-FinalSummary.md
  docs/Reviews/LC.AI.R-errorHandling.md
  docs/Reviews/LC.AI.R-httpClient.md
  docs/Reviews/LC.AI.R-monitorTypes.md
Due: none

📝 [docs] Add AI review summaries and implementation details for monitoring utilities
  docs/Reviews/LC.AI.R-Batch2-Summary.md
  docs/Reviews/LC.AI.R-MonitorFactory.md
  docs/Reviews/LC.AI.R-httpStatusUtils.md
  docs/Reviews/LC.AI.R-portChecker.md
  docs/Reviews/LC.AI.R-portErrorHandling.md
  docs/Reviews/LC.AI.R-portRetry.md
Due: none
