Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, electron, UI Components, State Management (Stores), Frontend Services, React Hooks, Frontend Utils, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Settings & Configuration, Dashboard & Analytics, Error Handling, Theme System, Type Definitions, Constants

Path conditions:
  frontend: any of: src/
  electron: any of: electron/
  UI Components: any of: src/components/**
  State Management (Stores): any of: src/stores/**
  Frontend Services: any of: src/services/**
  React Hooks: any of: src/hooks/**
  Frontend Utils: any of: src/utils/**
  Core Backend Services: any of: electron/services/**
  Domain Managers: any of: electron/managers/**
  Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  Backend Utils: any of: electron/utils/**, electron/electronUtils.ts
  Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts
  Monitoring Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts
  IPC Communication: any of: electron/services/ipc/**, electron/preload.ts
  Site Management: any of: electron/managers/SiteManager.ts, src/stores/sites/**, src/components/AddSiteForm/**, src/components/SiteDetails/**
  Settings & Configuration: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, src/components/Settings/**
  Dashboard & Analytics: any of: src/components/Dashboard/**, src/stores/stats/**, src/stores/ui/**
  Error Handling: any of: src/stores/error/**
  Theme System: any of: src/theme/**
  Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts
  Constants: any of: src/constants.ts, electron/constants.ts

🧪 [test] Add responseTime mock and fix timer advance call
  electron/test/services/monitoring/MonitorScheduler.test.ts
Due: electron

Bump version to 7.4.0
  package.json
Due: none

🧪 [test] Enhance coverage with new and fixed tests, minor type fixes
  coverage-results.json
  electron/main.ts
  electron/services/monitoring/EnhancedTypeGuards.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/test/logger.test.ts
  electron/test/main.test.ts
  electron/test/services/monitoring/EnhancedTypeGuards.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/types.test.ts
  electron/test/setup.ts
  src/test/App.fixed.comprehensive.test.tsx
  src/test/coverage.summary.report.test.ts
  src/test/final.coverage.enhancement.simplified.test.tsx
  src/test/monitorUiHelpers.test.ts
Due: frontend, electron, Core Backend Services, Monitoring Engine

Bump version to 7.5.0
  package.json
Due: none

🛠️ [fix] Improve monitor ID handling and React plugin config
  electron/main.ts
  electron/services/database/utils/monitorMapper.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  sonar-project.properties
  src/test/final.coverage.enhancement.simplified.test.tsx
  vite.config.ts
Due: frontend, electron, Core Backend Services, Database Layer

🎨 [style] Improve test formatting and coverage config consistency
  .github/instructions/copilot-instructions.md
  electron/test/monitoringTypes.test.ts
  electron/test/services/monitoring/EnhancedTypeGuards.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/types.test.ts
  src/test/App.fixed.comprehensive.test.tsx
  src/test/coverage.summary.report.test.ts
  src/test/final.coverage.enhancement.simplified.test.tsx
  src/test/monitorUiHelpers.test.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: frontend, electron

✨ [feat] Add event listener cleanup support and improve API typing
  .github/prompts/My Custom Prompts.prompt.md
  .gitignore
  electron/UptimeOrchestrator.ts
  electron/main.ts
  electron/preload.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/setup.ts
  src/test/types.test.tsx
  src/types.ts
  vitest.electron.config.ts
Due: frontend, electron, State Management (Stores), Uptime Orchestrator, IPC Communication, Site Management, Type Definitions

🧹 [chore] Annotate logger calls for v8 coverage ignore
  electron/UptimeOrchestrator.ts
  electron/services/ServiceContainer.ts
  electron/services/application/ApplicationService.ts
  electron/services/database/utils/historyQuery.ts
  electron/services/monitoring/EnhancedTypeGuards.ts
  electron/services/window/WindowService.ts
  electron/utils/operationalHooks.ts
  src/services/logger.ts
Due: frontend, electron, Frontend Services, Core Backend Services, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine

📝 [docs] Enhance monitor integration guide and clarify architecture
  .github/prompts/My Custom Prompts.prompt.md
  docs/ADDING_NEW_MONITOR_TYPE_GUIDE.md
  electron/index.ts
  electron/main.ts
  electron/types.ts
Due: electron, Type Definitions

✨ [feat] Unifies and extends monitor event system for status changes
  .github/prompts/My Custom Prompts.prompt.md
  electron/UptimeOrchestrator.ts
  electron/constants.ts
  electron/events/eventTypes.ts
  electron/managers/MonitorManager.ts
  electron/preload.ts
  electron/services/application/ApplicationService.ts
  electron/test/UptimeOrchestrator.advanced.test.ts
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/additionalCoverage.test.ts
  electron/test/constants.test.ts
  electron/test/preload.test.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  package-lock.json
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/setup.ts
  src/test/types.test.tsx
  src/types.ts
  vite.config.ts
Due: frontend, electron, State Management (Stores), Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Monitoring Engine, IPC Communication, Site Management, Type Definitions, Constants

Bump version to 7.6.0
  package.json
Due: none

chore: format code with Prettier [skip-ci]
  .github/prompts/My Custom Prompts.prompt.md
  KNIP_ANALYSIS.md
  docs/ADDING_NEW_MONITOR_TYPE_GUIDE.md
Due: none

🎨 [style] Reformat codeblocks, update ignore and linter configs
  .github/prompts/My Custom Prompts.prompt.md
  .stylelintignore
  docs/ADDING_NEW_MONITOR_TYPE_GUIDE.md
  docs/KNIP_ANALYSIS.md
  electron/test/preload.test.ts
  src/index.css
  src/services/logger.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  stylelint.config.js
Due: frontend, electron, State Management (Stores), Frontend Services, Site Management

🚜 [refactor] Standardize repository data mapping and error handling
  .github/chatmodes/Debugging.chatmode.md
  .github/prompts/ConsistencyCheck.prompt.md
  docs/REPOSITORY_PATTERN_STANDARDIZATION.md
  electron/UptimeOrchestrator.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/historyMapper.ts
  electron/services/database/utils/index.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/settingsMapper.ts
  electron/services/database/utils/siteMapper.ts
  electron/test/UptimeOrchestrator.advanced.test.ts
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/unifiedErrorHandling.ts
  src/utils/errorHandling.ts
  src/utils/index.ts
  src/utils/monitorTypeHelper.ts
  src/utils/monitorUiHelpers.ts
  src/utils/monitorValidation.ts
Due: frontend, electron, Frontend Utils, Core Backend Services, Uptime Orchestrator, Backend Utils, Database Layer

📝 [docs] Add consistency audit plan and improve repo docs
  .github/chatmodes/Debugging.chatmode.md
  .prettierignore
  Fix-Plan.md
  custom-words.txt
  docs/REPOSITORY_PATTERN_STANDARDIZATION.md
  electron/services/database/utils/historyMapper.ts
  electron/services/database/utils/monitorMapper.ts
  electron/utils/unifiedErrorHandling.ts
  eslint.config.mjs
  stylelint.config.js
Due: electron, Core Backend Services, Backend Utils, Database Layer

🚜 [refactor] Centralize Chart.js setup and improve chart typings
  .gitignore
  electron/UptimeOrchestrator.ts
  electron/preload.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/types.ts
  package-lock.json
  package.json
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/charts/ChartComponents.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/services/chartConfig.ts
  src/services/chartSetup.ts
Due: frontend, electron, UI Components, Frontend Services, Core Backend Services, Uptime Orchestrator, Monitoring Engine, IPC Communication, Site Management, Type Definitions

📝 [docs] Remove orchestrator class JSDoc block
  electron/UptimeOrchestrator.ts
Due: electron, Uptime Orchestrator

🔧 [build] Enhance linting, metrics, and testing toolchain
  .gitignore
  .jscpd.json
  package-lock.json
  package.json
Due: none

Bump version to 7.7.0
  package.json
Due: none

✨ [feat] Add devtools installer and robust Vite dev server wait
  electron/main.ts
  electron/services/window/WindowService.ts
Due: electron, Core Backend Services

🎨 [style] Reformat imports and docs for clarity
  CIRCULAR_DEPENDENCY_ANALYSIS.md
  CIRCULAR_DEPENDENCY_RESOLUTION.md
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  src/components/AddSiteForm/DynamicMonitorFields.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
Due: frontend, electron, UI Components, Core Backend Services, Domain Managers, Database Layer, Monitoring Engine, Site Management

🚜 [refactor] Split event imports for error handling modules
  dupes.txt
  electron/utils/errorHandling.ts
  electron/utils/unifiedErrorHandling.ts
Due: electron, Backend Utils

Bump version to 7.8.0
  package.json
Due: none

feat: add shared types and site status utilities
  CIRCULAR_DEPENDENCY_ANALYSIS.md
  CIRCULAR_DEPENDENCY_RESOLUTION.md
  dupes.txt
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/test/correlationUtils.test.ts
  electron/utils/database/historyLimitManager.ts
  electron/utils/interfaces.ts
  electron/utils/logger.ts
  electron/utils/monitoring/autoMonitorManager.ts
  electron/utils/monitoring/intervalManager.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  electron/utils/monitoring/monitorValidator.ts
  electron/utils/siteStatus.ts
  electron/utils/unifiedErrorHandling.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/types.ts
  shared/utils/siteStatus.ts
  src/components/AddSiteForm/DynamicMonitorFields.tsx
  src/hooks/site/useSiteDetails.ts
  src/hooks/useMonitorFields.ts
  src/stores/error/ErrorBoundary.tsx
  src/stores/sites/useSiteOperations.ts
  src/theme/useTheme.ts
  src/utils/monitorTypeHelper.ts
  src/utils/siteStatus.ts
Due: frontend, electron, UI Components, State Management (Stores), React Hooks, Frontend Utils, Core Backend Services, Backend Utils, Monitoring Engine, Site Management, Error Handling, Theme System

🚜 [refactor] Remove obsolete monitoring and stats utilities
  electron/services/monitoring/DatabaseSchemaMigrator.ts
  electron/services/monitoring/EnhancedTypeGuards.ts
  electron/utils/errorHandling.ts
  electron/utils/monitoring/autoMonitorManager.ts
  electron/utils/monitoring/intervalManager.ts
  electron/utils/monitoring/monitorValidator.ts
  electron/utils/siteStatus.ts
  package.json
  src/stores/stats/types.ts
  src/stores/stats/useStatsStore.ts
  tsconfig.electron.json
Due: frontend, electron, State Management (Stores), Core Backend Services, Backend Utils, Monitoring Engine, Dashboard & Analytics

🛠️ [fix] Improve string conversion for database mapping
  .github/instructions/copilot-instructions.md
  electron/main.ts
  electron/services/database/utils/settingsMapper.ts
  electron/services/database/utils/siteMapper.ts
  package.json
  shared/utils/stringConversion.ts
Due: electron, Core Backend Services, Database Layer

🛠️ [fix] Ensure type safety for DB IDs and improve ESLint config
  electron/main.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/window/WindowService.ts
  eslint.config.mjs
Due: electron, Core Backend Services, Database Layer

🧹 [chore] Standardize prompt file naming and add review template
  .github/prompts/Accessibility-Tests.prompt.md
  .github/prompts/Custom-React-Hook.prompt.md
  .github/prompts/Database-Migration-Tests.prompt.md
  .github/prompts/E2E-Tests-Playwright.prompt.md
  .github/prompts/Electron-IPC-Channels.prompt.md
  .github/prompts/Electron-IPC-Security.prompt.md
  .github/prompts/Electron-IPC-Tests.prompt.md
  .github/prompts/Electron-Integration-Tests.prompt.md
  .github/prompts/Electron-Service.prompt.md
  .github/prompts/Error-Handling-Tests.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  .github/prompts/Mock-Data-Generator.prompt.md
  .github/prompts/Monitoring-Service-Tests.prompt.md
  .github/prompts/My-Custom-Prompts.prompt.md
  .github/prompts/Node.js-Worker-Threads.prompt.md
  .github/prompts/Performance-Tests.prompt.md
  .github/prompts/React-Component-Tests.prompt.md
  .github/prompts/React-Component.prompt.md
  .github/prompts/React-Hook.prompt.md
  .github/prompts/React-Zustland-Hook.prompt.md
  .github/prompts/Refactor-TypeScript-Analyze.prompt-copy.md
  .github/prompts/SQLite-Database-Service.prompt.md
  .github/prompts/TS-Interface.prompt.md
  .github/prompts/Test-Fixes-and-Coverage.prompt.md
  .github/prompts/TypeScript-Utilities.prompt.md
  .github/prompts/Unit-Test-Generator.prompt.md
  .github/prompts/Vite-Plugin.prompt.md
  .github/prompts/Zustand-Store-Tests.prompt.md
  shared/utils/stringConversion.ts
Due: none

📝 [docs] Update project instructions for clarity and standards
  .github/instructions/copilot-instructions.md
  .github/prompts/Low-Confidence-AI-Review.prompt.md
Due: none

Bump version to 7.9.0
  package.json
Due: none

chore: format code with Prettier [skip-ci]
  .github/instructions/copilot-instructions.md
Due: none

🚜 [refactor] Modularize orchestrator event handlers and improve string conversion
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  .vscode/settings.json
  electron/UptimeOrchestrator.ts
  eslint.config.mjs
  shared/utils/stringConversion.ts
Due: electron, Uptime Orchestrator

📝 [docs] Standardizes architecture, state, and doc guidelines
  docs/COMPONENT_STATE_GUIDELINES.md
  docs/STORE_ARCHITECTURE_GUIDELINES.md
  docs/TSDOC_STANDARDS.md
  docs/⚠️ Major Inconsistencies (Needs Fixing).md
  electron/types.ts
  electron/utils/database/interfaces.ts
  eslint.config.mjs
  shared/types.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/types.ts
  src/types/status.ts
Due: frontend, electron, State Management (Stores), Backend Utils, Site Management, Type Definitions

🚜 [refactor] Remove orchestrator, unify site write logic
  docs/ARCHITECTURAL_STANDARDS.md
  electron/managers/SiteManager.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/serviceFactory.ts
Due: electron, Domain Managers, Backend Utils, Site Management

📝 [docs] Standardizes architecture, state, and documentation guidelines
  .github/instructions/copilot-instructions.md
  .vscode/settings.json
  docs/ARCHITECTURAL_STANDARDS.md
  docs/COMPONENT_STATE_GUIDELINES.md
  docs/STORE_ARCHITECTURE_GUIDELINES.md
  docs/TSDOC_STANDARDS.md
  docs/⚠️ Major Inconsistencies (Needs Fixing).md
  electron/utils/database/serviceFactory.ts
  shared/utils/stringConversion.ts
Due: electron, Backend Utils

🚜 [refactor] Remove dead orchestrator code; streamline backup/import logic
  docs/FUNCTION_USAGE_ANALYSIS.md
  electron/UptimeOrchestrator.ts
  electron/managers/DatabaseManager.ts
  electron/services/database/DatabaseService.ts
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
  electron/utils/database/DataBackupService.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/serviceFactory.ts
Due: electron, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer

📝 [docs] Improve function usage analysis formatting and clarity
  docs/FUNCTION_USAGE_ANALYSIS.md
  electron/test/utils/database/SiteWriterService.test.ts
Due: electron
