Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**

🔒 [fix] Use platform-aware path guards
  electron/services/window/utils/pathGuards.ts
  electron/test/services/window/utils/pathGuards.test.ts
Due: electron, ü™ü Window Management

🔒 [fix] Harden automation backup file names
  electron/services/ipc/internal/sqliteBackupPath.ts
  electron/test/services/ipc/internal/sqliteBackupPath.test.ts
Due: electron, üîó IPC Communication Layer

🔒 [fix] Validate listed backup metadata identity
  electron/services/cloud/providers/cloudBackupListing.ts
  electron/test/services/cloud/providers/cloudBackupListing.test.ts
Due: electron

🔒 [fix] Require valid mailto external URLs
  shared/test/utils/urlSafety.test.ts
  shared/utils/urlSafety.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛡️ [fix] Validate history limit IPC bounds
  electron/services/ipc/validators/settings.ts
  electron/test/validators.complete.test.ts
Due: electron, üîó IPC Communication Layer

🐛 [fix] Preserve zero-start HTTP timings
  electron/services/monitoring/utils/httpClient.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
Due: electron, üéØ Monitoring Core Engine

🔐 [fix] Preserve rotated Dropbox refresh tokens
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
  electron/test/services/cloud/providers/dropbox/DropboxTokenManager.test.ts
Due: electron

🔐 [fix] Clear stale fallback secrets
  electron/services/cloud/secrets/SecretStore.ts
  electron/test/services/cloud/secrets/SafeStorageSecretStore.test.ts
Due: electron

☁️ [fix] Commit filesystem provider last
  electron/services/cloud/CloudService.providerOperations.ts
  electron/test/services/cloud/CloudService.providerOperations.test.ts
Due: electron

🛡️ [fix] Normalize HTTP rate limiter config
  shared/test/utils/httpRateLimiter.abort.test.ts
  shared/utils/httpRateLimiter.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛡️ [fix] Strictly parse numeric env overrides
  shared/test/utils/environment-complete-coverage.test.ts
  shared/utils/environment.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛡️ [fix] Strictly parse AddSiteForm integers
  src/components/AddSiteForm/utils/valueNormalization.ts
  src/test/components/AddSiteForm/valueNormalization.test.ts
Due: frontend, üß© Core UI Components

🛡️ [fix] Use canonical sync key parsing in reset preview
  electron/services/cloud/migrations/syncResetPreview.ts
  electron/test/services/cloud/migrations/syncResetPreview.test.ts
Due: electron

🛡️ [fix] Strictly validate timeout strings
  shared/test/utils/formValidation.comprehensive.test.ts
  shared/utils/formValidation.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛡️ [fix] Strictly parse history limit settings
  electron/managers/DatabaseManager.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/database/SiteRepositoryService.ts
  electron/services/database/utils/historyLimitSettingParser.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/services/commands/DatabaseCommands.test.ts
  electron/test/services/database/utils/historyLimitSettingParser.test.ts
  electron/test/utils/database/SiteRepositoryService.comprehensive.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Require finite IPC numbers
  electron/services/ipc/validators/IpcValidators.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
Due: electron, üîó IPC Communication Layer

🛡️ [fix] Bound monitor identifier length
  electron/test/validators.complete.test.ts
  shared/test/utils/validation-extras.test.ts
  shared/test/validation/schemas.property-based.test.ts
  shared/validation/monitorFieldConstants.ts
  shared/validation/monitorFieldSchemas.ts
Due: electron, shared, üß© Shared Core, üîó Integration Layer

🛡️ [fix] Align repository monitor ID validation
  shared/test/validation/identifierValidation.test.ts
  shared/validation/identifierValidation.ts
Due: shared, üß© Shared Core, üîó Integration Layer

🛡️ [fix] Validate cloud sync operation device IDs
  shared/test/types/cloudSync.test.ts
  shared/types/cloudSync.ts
Due: shared, üß© Shared Core, üìù Type Definitions

🛡️ [fix] Validate manifest snapshot keys
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
Due: electron

🛡️ [fix] Harden cloud sync state maps
  shared/test/utils/cloudSyncState.comprehensive.test.ts
  shared/utils/cloudSyncState.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛡️ [fix] Preserve safe cloud sync normalization maps
  electron/services/sync/syncEngineState.ts
  electron/test/services/sync/syncEngineState.test.ts
Due: electron

🛡️ [fix] Validate cloud sync snapshot identity
  shared/test/types/cloudSyncSnapshot.test.ts
  shared/types/cloudSyncSnapshot.ts
Due: shared, üß© Shared Core, üìù Type Definitions

🛡️ [fix] Normalize cloud sync manifest device maps
  electron/services/sync/SyncEngine.ts
  shared/test/types/cloudSyncManifest.test.ts
  shared/types/cloudSyncManifest.ts
Due: electron, shared, üß© Shared Core, üìù Type Definitions

🛡️ [fix] Harden cloud sync baseline maps
  electron/services/sync/syncEngineState.ts
  electron/test/services/sync/syncEngineState.test.ts
  shared/test/types/cloudSyncBaseline.test.ts
  shared/types/cloudSyncBaseline.ts
Due: electron, shared, üß© Shared Core, üìù Type Definitions

🛡️ [fix] Harden cloud sync device aggregation
  electron/services/sync/syncEngineState.ts
  electron/test/services/sync/syncEngineState.test.ts
Due: electron

🛡️ [fix] Harden sync engine state reconciliation
  electron/services/sync/SyncEngine.ts
  electron/test/services/sync/SyncEngine.test.ts
Due: electron

🛡️ [fix] Harden sync state map builders
  electron/services/sync/syncEngineState.ts
  electron/test/services/sync/syncEngineState.test.ts
Due: electron

🛡️ [fix] Preserve import setting keys
  shared/test/validation/importExportSchemas.test.ts
  shared/validation/importExportSchemas.ts
Due: shared, üß© Shared Core, üîó Integration Layer

🛡️ [fix] Use HTTP OAuth loopback redirects
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/test/services/cloud/oauth/LoopbackOAuthServer.test.ts
  electron/test/services/cloud/providers/dropbox/DropboxAuthFlow.test.ts
Due: electron

🛡️ [fix] Harden OAuth loopback startup
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/test/services/cloud/oauth/LoopbackOAuthServer.test.ts
Due: electron

🛡️ [fix] Buffer OAuth loopback failures
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/test/services/cloud/oauth/LoopbackOAuthServer.test.ts
Due: electron

🛡️ [fix] Harden filesystem cloud root
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/test/services/cloud/FilesystemCloudStorageProvider.test.ts
Due: electron

🛡️ [fix] Harden filesystem directory races
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/test/services/cloud/FilesystemCloudStorageProvider.test.ts
Due: electron

🛡️ [fix] Exclude Drive folders from object lookups
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.test.ts
Due: electron

🛡️ [fix] Sanitize Drive object metadata
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.test.ts
Due: electron

🛡️ [fix] Reject negative Dropbox sizes
  electron/services/cloud/providers/dropbox/dropboxSdkSchemas.ts
  electron/test/services/cloud/providers/dropbox/DropboxCloudStorageProvider.test.ts
Due: electron

🛡️ [fix] Tighten backup metadata schemas
  shared/test/validation/dataSchemas.test.ts
  shared/validation/dataSchemas.ts
Due: shared, üß© Shared Core, üîó Integration Layer

🛡️ [fix] Validate backup metadata integers
  electron/services/database/utils/backup/databaseBackup.ts
  electron/test/services/database/utils/databaseBackup.comprehensive.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Tighten cloud timestamp schemas
  shared/test/types/cloudBackupMigration.test.ts
  shared/test/validation/cloudSchemas.test.ts
  shared/types/cloudBackupMigration.ts
  shared/validation/cloudSchemas.ts
Due: shared, üß© Shared Core, üìù Type Definitions, üîó Integration Layer
