Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

🚜 [refactor] Reuse shared alert identifier generation
  src/stores/alerts/useAlertStore.ts
  src/test/stores/alerts/useAlertStore.test.ts
Due: frontend

🛠️ [fix] Harden cloud sync baseline JSON parsing
  electron/services/sync/syncEngineState.ts
  electron/test/services/sync/syncEngineState.test.ts
Due: electron

🛠️ [fix] Harden cloud sync remote JSON parsing
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
Due: electron

🛠️ [fix] Harden event bus diagnostics maps
  electron/events/TypedEventBus.ts
  electron/test/events/TypedEventBus.comprehensive.test.ts
Due: electron, üîó Integration Layer

🛠️ [fix] Harden site store dynamic maps
  src/stores/sites/useSitesState.ts
  src/test/stores/sites/useSitesState.test.ts
Due: frontend, üåê Site Management Domain

🛠️ [fix] Harden error store dynamic maps
  src/stores/error/useErrorStore.ts
  src/test/stores/error/useErrorStore.test.ts
Due: frontend, üì¶ Frontend State Stores

🛠️ [fix] Harden UI store dynamic maps
  src/stores/ui/useUiStore.ts
  src/test/stores/ui/useUiStore.test.ts
Due: frontend, üì¶ Frontend State Stores

🛠️ [fix] Harden backup metadata JSON parsing
  electron/services/cloud/providers/CloudBackupMetadataFile.ts
  electron/test/services/cloud/providers/CloudBackupMetadataFile.test.ts
  shared/test/jsonSafety.property.test.ts
  shared/test/utils/jsonSafety.behavior.test.ts
  shared/utils/jsonSafety.ts
  shared/validation/cloudBackupSchemas.ts
  shared/validation/dataSchemas.ts
Due: electron, shared, üß© Shared Core, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üîó Integration Layer

🛠️ [fix] Harden site store map reads
  src/stores/sites/useSitesState.ts
  src/test/stores/sites/useSitesState.test.ts
Due: frontend, üåê Site Management Domain

🛠️ [fix] Harden sync state record reads
  electron/services/sync/syncEngineState.ts
  electron/test/services/sync/syncEngineState.test.ts
Due: electron

🛠️ [fix] Harden HTTP header maps
  electron/services/monitoring/shared/httpMonitorStringUtils.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/test/services/monitoring/shared/httpMonitorStringUtils.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
Due: electron, üéØ Monitoring Core Engine

🛠️ [fix] Harden cloud sync manifest device writes
  electron/services/sync/SyncEngine.ts
  shared/test/types/cloudSyncManifest.test.ts
  shared/types/cloudSyncManifest.ts
Due: electron, shared, üß© Shared Core, üìù Type Definitions

🛠️ [fix] Harden dynamic monitor field mapping
  electron/services/database/utils/mappers/monitorMapper.ts
  electron/services/database/utils/schema/dynamicSchema.ts
  electron/test/services/database/utils/dynamicSchema.conversion.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Harden monitor validation guard
  shared/test/types.main-functions.test.ts
  shared/types.ts
Due: shared, üß© Shared Core

🛠️ [fix] Harden IPC metadata guards
  shared/test/types/ipc.test.ts
  shared/types/ipc.ts
Due: shared, üß© Shared Core, üìù Type Definitions

🛠️ [fix] Harden database row guards
  shared/test/types/database.test.ts
  shared/types/database.ts
Due: shared, üß© Shared Core, üóÑÔ∏è Database Layer, üìù Type Definitions

🛠️ [fix] Harden validation result guard
  shared/test/types/validation.test.ts
  shared/types/validation.ts
Due: shared, üß© Shared Core, üìù Type Definitions

🛠️ [fix] Harden monitor insert results
  electron/services/database/MonitorRepository.ts
  electron/test/services/database/MonitorRepository.comprehensive.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Harden schema version reads
  electron/services/database/utils/schema/databaseSchema.ts
  electron/test/services/database/utils/databaseSchema.simple.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Harden monitor update mapping
  electron/services/database/MonitorRepository.updateUtils.ts
  electron/services/database/utils/schema/dynamicSchema.ts
  electron/test/services/database/MonitorRepository.comprehensive.test.ts
  electron/test/services/database/utils/dynamicSchema.conversion.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Harden site operation telemetry
  src/stores/sites/utils/operationHelpers.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
Due: frontend

🛠️ [fix] Harden settings change detection
  src/components/Settings/useSettingsChangeHandlers.ts
  src/test/strictTests/settings/settingsHooks.100percent.test.ts
Due: frontend, üîß Common UI Components

🛠️ [fix] Harden theme color lookup
  src/test/theme/useTheme.comprehensive.test.ts
  src/theme/useTheme.ts
Due: frontend, üé® Theme System

🛠️ [fix] Show renderer startup failure fallback
  src/main.tsx
  src/test/main.test.tsx
Due: frontend

🛠️ [fix] Block special-use IPv4 preview URLs
  shared/test/utils/urlSafety.test.ts
  shared/utils/urlSafety.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Use own theme registry guard
  src/test/theme/ThemeManager.comprehensive.test.ts
  src/theme/ThemeManager.ts
Due: frontend, üé® Theme System

🛠️ [fix] Harden settings normalization inputs
  src/stores/settings/state.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: frontend, ‚öôÔ∏è Configuration Management

🛠️ [fix] Reject lossy JSON safety serialization
  shared/test/utils/jsonSafety.behavior.test.ts
  shared/utils/jsonSafety.ts
Due: shared, üß© Shared Core, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities

🛠️ [fix] Handle cyclic validation cache keys
  electron/managers/ConfigurationManager.ts
  electron/test/managers/ConfigurationManager.test.ts
Due: electron, ‚öôÔ∏è Configuration Management

🛠️ [fix] Make safe property access descriptor-safe
  shared/test/utils/typeHelpers.comprehensive.test.ts
  shared/utils/typeHelpers.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Avoid unsafe thrown value coercion
  shared/test/fuzzing/errorHandling.fuzz.test.ts
  shared/test/strictTests/errorHandling-complete-coverage.test.ts
  shared/test/utils/errorHandling.comprehensive.test.ts
  shared/test/utils/errorHandling.test.ts
  shared/utils/errorHandling.ts
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/edge-cases-100-coverage.test.ts
  src/test/utils/errorHandling.comprehensive.test.ts
Due: frontend, shared, üß© Shared Core, üì¶ Frontend State Stores, üß∞ Frontend Utilities

🛠️ [fix] Normalize log arrays descriptor-safely
  shared/test/utils/loggingContext.test.ts
  shared/utils/loggingContext.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Use native Date and URL log serialization
  shared/test/utils/loggingContext.test.ts
  shared/utils/loggingContext.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Harden preload payload previews
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
Due: electron

🛠️ [fix] Check nested JSON arrays descriptor-safely
  shared/test/utils/jsonSafety.behavior.test.ts
  shared/utils/jsonSafety.ts
Due: shared, üß© Shared Core, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities

🛠️ [fix] Harden JSON byte budget sizing
  shared/test/utils/jsonByteBudget.test.ts
  shared/utils/jsonByteBudget.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Normalize Date payloads descriptor-safely
  shared/test/utils/siteSnapshots.comprehensive.test.ts
  shared/utils/nativeDate.ts
  shared/utils/siteSnapshots.ts
  src/stores/sites/utils/statusUpdateSnapshot.ts
  src/test/stores/sites/utils/statusUpdateSnapshot.timestamp.test.ts
Due: frontend, shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Normalize Electron Date fields descriptor-safely
  electron/services/database/utils/schema/dynamicSchema.ts
  electron/services/monitoring/utils/monitorCheckResultNormalization.ts
  electron/test/services/database/utils/dynamicSchema.conversion.test.ts
  electron/test/services/monitoring/monitorCheckResultNormalization.test.ts
Due: electron, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer

🛠️ [fix] Normalize monitor Date helpers descriptor-safely
  electron/managers/ConfigurationManager.ts
  electron/services/monitoring/shared/monitorServiceHelpers.ts
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/services/monitoring/shared/monitorServiceHelpers.test.ts
Due: electron, üéØ Monitoring Core Engine, ‚öôÔ∏è Configuration Management

🛠️ [fix] Guard Dates descriptor-safely
  shared/test/utils/typeGuards.comprehensive.test.ts
  shared/utils/typeGuards.ts
Due: shared, üß© Shared Core, ü™ù Business Logic Hooks, üß∞ Frontend Utilities

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
