Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, electron, UI Components, State Management (Stores), Frontend Services, React Hooks, Frontend Utils, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Settings & Configuration, Dashboard & Analytics, Error Handling, Theme System, Type Definitions, Constants

🧪 [test] Achieves 100% branch and line coverage across modules
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  shared/test/utils/stringConversion.edge-coverage.test.ts
  shared/test/utils/stringConversion.final-coverage.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/validatorUtils.coverage.test.ts
  src/App.additional-coverage.test.tsx
  src/components/AddSiteForm/BaseFormField.additional-coverage.test.tsx
  src/test/ThemeManager.test.ts
  src/test/components/AddSiteForm/DynamicField.additional-coverage.test.tsx
  src/test/components/AddSiteForm/DynamicMonitorFields.test.tsx
  src/test/components/AddSiteForm/Submit.additional-coverage.test.tsx
  src/test/components/Dashboard/SiteCard/components/MonitorSelector.additional-coverage.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.additional-coverage.test.tsx
  src/test/components/StatusBadge.additional-coverage.test.tsx
  src/test/stores/settings/useSettingsStore.branches.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/theme/ThemeManager.branch-coverage.test.ts
  src/test/theme/ThemeManager.comprehensive.test.ts
  src/test/theme/ThemedBox.keyboard-coverage.test.tsx
  src/test/utils/monitoring/dataValidation.edge-coverage.test.ts
Due: frontend, electron, UI Components, Site Management

🧪 [test] Expand edge and branch coverage for UI, utils, and store logic
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  shared/test/utils/stringConversion.edge-coverage.test.ts
  shared/test/utils/stringConversion.final-coverage.test.ts
  shared/test/validation/validatorUtils.coverage.test.ts
  src/App.additional-coverage.test.tsx
  src/components/AddSiteForm/BaseFormField.additional-coverage.test.tsx
  src/test/components/AddSiteForm/DynamicField.additional-coverage.test.tsx
  src/test/components/AddSiteForm/DynamicMonitorFields.test.tsx
  src/test/components/AddSiteForm/Submit.additional-coverage.test.tsx
  src/test/components/Dashboard/SiteCard/components/MonitorSelector.additional-coverage.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.additional-coverage.test.tsx
  src/test/components/StatusBadge.additional-coverage.test.tsx
  src/test/stores/settings/useSettingsStore.branches.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/theme/ThemeManager.branch-coverage.test.ts
  src/test/theme/ThemeManager.comprehensive.test.ts
  src/test/theme/ThemedBox.keyboard-coverage.test.tsx
  src/test/utils/monitoring/dataValidation.edge-coverage.test.ts
Due: frontend, electron, UI Components, Site Management

🧪 [test] Update test imports for improved maintainability
  shared/test/testHelpers.ts
  shared/test/types/chartConfig.comprehensive.test.ts
  shared/test/types/database.test.ts
  shared/test/types/formData.comprehensive.test.ts
  shared/test/types/monitorConfig.comprehensive.test.ts
  shared/test/types/themeConfig.comprehensive.test.ts
  shared/test/types/validation.comprehensive.test.ts
  shared/test/types/validation.test.ts
  shared/test/utils/cacheKeys.comprehensive.test.ts
  shared/test/utils/environment.backend.test.ts
  shared/test/utils/errorCatalog.comprehensive.test.ts
  shared/test/utils/errorHandling.comprehensive.test.ts
  shared/test/utils/errorHandling.test.ts
  shared/test/utils/logTemplates.comprehensive.test.ts
  shared/test/utils/logTemplates.functions.test.ts
  shared/test/utils/safeConversions.test.ts
  shared/test/utils/validation.test.ts
  tsconfig.json
Due: none

🧪 [test] Add comprehensive unit tests for test helpers
  package-lock.json
  package.json
  shared/test/testHelpers.test.ts
Due: none

Bump version to 11.2.0
  package.json
Due: none

🧹 [chore] Improve config hygiene and dependency handling
  .checkov.yml
  .github/chatmodes/BeastMode.chatmode.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/prompts/Generate-Test-Metadata.prompt.md
  .github/workflows/Build.yml
  .gitignore
  .gitleaks.toml
  .mega-linter.yml
  .secretlintrc.json
  CHANGELOG.md
  lychee.toml
  package-lock.json
  package.json
Due: none

Bump version to 11.3.0
  package.json
Due: none

🔧 [build] Enforces Node.js SDK extension and broadens TypeScript include paths
  .github/workflows/deploy-docusaurus.yml
  flatpak-build.yml
  tsconfig.electron.json
  tsconfig.json
Due: none

🧹 [chore] Update build config, dependencies, and docs for improved maintainability
  custom-words.txt
  package-lock.json
  package.json
  postcss.config.mjs
  sonar-project.properties
  src/test/App.additional-coverage.test.tsx
  src/test/components/AddSiteForm/BaseFormField.additional-coverage.test.tsx
  stylelint.config.mjs
  tailwind.config.mjs
  typedoc.electron.json
  typedoc.json
  vite.config.ts
Due: frontend

🧪 [test] Achieves 100% coverage for unreachable code paths
  .checkov.yml
  .cspell.json
  .github/chatmodes/BeastMode.chatmode.md
  .github/workflows/mega-linter.yml
  .github/workflows/superlinter.yml
  .gitleaks.toml
  .grype.yaml
  .hintrc
  .mega-linter.yml
  .yamllint
  _config.yml
  cliff.toml
  commitlint.config.mjs
  lychee.toml
  package.json
  repomix.config.json
  shared/test/testHelpers.test.ts
  shared/test/utils/stringConversion.coverage-override.test.ts
  shared/test/utils/stringConversion.unreachable-coverage.test.ts
  src/test/App.additional-coverage.test.tsx
  src/test/App.dev-logging.test.tsx
Due: frontend

🎨 [style] Enforce consistent self-closing HTML tags
  .prettierrc
  ActionLintConfig.yaml
  eslint.config.mjs
  index.html
Due: none

🧪 [test] Improve formatting and coverage in shared and app tests
  .github/workflows/codeql.yml
  .secretlintrc.json
  eslint.config.mjs
  shared/test/testHelpers.test.ts
  shared/test/utils/stringConversion.coverage-override.test.ts
  shared/test/utils/stringConversion.unreachable-coverage.test.ts
  src/test/App.additional-coverage.test.tsx
  src/test/App.dev-logging.test.tsx
  tsconfig.electron.json
  tsconfig.electron.test.json
  tsconfig.test.json
  typedoc.electron.json
  vitest.shared.config.ts
Due: frontend

Bump version to 11.4.0
  package.json
Due: none

📝 [docs] Update instructions and settings for clarity and coverage
  .github/chatmodes/BeastMode.chatmode.md
  .github/instructions/copilot-instructions.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
Due: none

🧪 [test] Increase coverage for edge cases and error handling
  .vscode/settings.json
  eslint.config.mjs
  shared/test/utils/cacheKeys.error-coverage.test.ts
  shared/test/utils/environment.catch-coverage.test.ts
  shared/test/utils/stringConversion.coverage-override.test.ts
  shared/test/utils/stringConversion.default-case.test.ts
  src/test/App.additional-coverage.test.tsx
Due: frontend

🧹 [chore] Standardize formatting and improve test robustness
  .github/instructions/copilot-instructions.md
  .vscode/settings.json
  docs/Archive/Reviews/LC.AI.R-MonitorFactory.md
  docs/Archive/Reviews/LC.AI.R-NotificationService.md
  docs/Archive/Reviews/LC.AI.R-ServiceContainer.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  eslint.config.mjs
  shared/test/utils/environment.catch-coverage.test.ts
  shared/test/utils/stringConversion.default-case.test.ts
Due: none

✨ [feat] Add production-ready DNS monitor support
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/test/services/monitoring/monitorTypes.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  eslint.config.mjs
  shared/types.ts
  shared/types/schemaTypes.ts
  shared/utils/validation.ts
  shared/validation/schemas.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/DynamicField.tsx
  src/components/AddSiteForm/DynamicMonitorFields.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/Dashboard/SiteCard/SiteCardHistory.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/stores/sites/utils/monitorOperations.ts
  src/test/components/AddSiteForm/Submit.comprehensive.test.fixed.tsx
  src/theme/components/ThemedBox.tsx
  src/types/monitorFormData.ts
  src/utils/monitorTitleFormatters.ts
  src/utils/monitorValidation.ts
Due: frontend, electron, UI Components, State Management (Stores), Frontend Utils, Core Backend Services, Monitoring Engine, Site Management, Dashboard & Analytics, Theme System

Bump version to 11.5.0
  package.json
Due: none

🛠️ [fix] Improve monitor type field handling and DNS support
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  electron/services/database/DatabaseService.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/test/services/monitoring/monitorTypes.test.ts
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/stores/sites/utils/monitorOperations.ts
  src/types/monitor-forms.ts
  src/utils/monitorUiHelpers.ts
Due: frontend, electron, UI Components, State Management (Stores), Frontend Utils, Core Backend Services, Database Layer, Site Management, Dashboard & Analytics

🔧 [build] Enhance linting config for shared/frontend/backend
  .gitignore
  .prettierignore
  eslint.config.mjs
Due: none

🔧 [build] Modularizes shared TypeScript config and updates references
  tsconfig.electron.json
  tsconfig.electron.test.json
  tsconfig.json
  tsconfig.shared.json
  tsconfig.shared.test.json
  tsconfig.test.json
  vite.config.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
Due: none

🔧 [build] Update lint setup and dependencies; refine build scripts
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

🛠️ [fix] Improve form validation and build/test configs
  .github/workflows/codacy-coverage-reporter.yml
  .vscode/settings.json
  eslint.config.mjs
  package.json
  shared/types.ts
  shared/types/chartConfig.ts
  src/types/monitorFormData.ts
  tsconfig.test.json
  vitest.shared.config.ts
Due: frontend

🧪 [test] Boost function coverage above 90%
  shared/test/types.comprehensive.test.ts
  shared/test/types/chartConfig.comprehensive.test.ts
  shared/test/types/chartConfig.test.ts
  shared/test/utils/stringConversion.coverage-override.test.ts
  shared/test/utils/validation.missing-coverage.test.ts
  src/test/App.additional-coverage.test.tsx
  src/test/App.dev-logging.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.enhanced.test.tsx
  src/test/components/AddSiteForm/Submit.additional-coverage.test.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/final-90-percent-function-coverage.test.ts
  src/test/function-coverage-boost.test.ts
  src/test/monitorOperations.test.ts
  src/test/precision-function-coverage.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/utils.test.ts
  src/test/targeted-function-coverage.test.ts
  src/test/theme/components/iconUtils.comprehensive.test.tsx
  src/test/types/monitorFormData.additional.test.ts
  src/test/ultimate-function-coverage.test.ts
  src/test/utils/monitorTitleFormatters.test.ts
  src/test/utils/monitorValidation.additional.test.ts
  src/types/monitorFormData.ts
Due: frontend

Add run-electron.sh and make executable for Flatpak
  run-electron.sh
Due: none

🧪 [test] Achieves 90%+ function coverage and modernizes build configs
  .github/workflows/deploy-docusaurus.yml
  .github/workflows/flatpak-build.yml
  eslint.config.mjs
  flatpak-build.yml
  io.github.uptimewatcher.metainfo.xml
  package-lock.json
  package.json
  shared/test/types.comprehensive.test.ts
  shared/test/types/chartConfig.test.ts
  shared/test/utils/stringConversion.coverage-override.test.ts
  shared/test/utils/validation.missing-coverage.test.ts
  shared/types.ts
  src/test/App.additional-coverage.test.tsx
  src/test/final-90-percent-function-coverage.test.ts
  src/test/function-coverage-boost.test.ts
  src/test/precision-function-coverage.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/utils.test.ts
  src/test/targeted-function-coverage.test.ts
  src/test/theme/components/iconUtils.comprehensive.test.tsx
  src/test/types/monitorFormData.additional.test.ts
  src/test/ultimate-function-coverage.test.ts
  src/test/utils/monitorTitleFormatters.test.ts
  src/test/utils/monitorValidation.additional.test.ts
Due: frontend

Bump version to 11.6.0
  package.json
Due: none

🔧 [build] Update devDeps, reorganize package fields
  .vscode/settings.json
  commitlint.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

Bump version to 11.7.0
  package.json
Due: none

🧹 [chore] Update workspace excludes for test and docs builds
  .vscode/settings.json
Due: none

Path conditions:
  frontend: any of: src/
  electron: any of: electron/
  UI Components: any of: src/components/**
  State Management (Stores): any of: src/stores/**
  Frontend Services: any of: src/services/**
  React Hooks: any of: src/hooks/**
  Frontend Utils: any of: src/utils/**
  Core Backend Services: any of: electron/services/**
  Domain Managers: any of: electron/managers/**
  Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  Backend Utils: any of: electron/utils/**, electron/electronUtils.ts
  Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts
  Monitoring Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts
  IPC Communication: any of: electron/services/ipc/**, electron/preload.ts
  Site Management: any of: electron/managers/SiteManager.ts, src/stores/sites/**, src/components/AddSiteForm/**, src/components/SiteDetails/**
  Settings & Configuration: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, src/components/Settings/**
  Dashboard & Analytics: any of: src/components/Dashboard/**, src/stores/stats/**, src/stores/ui/**
  Error Handling: any of: src/stores/error/**
  Theme System: any of: src/theme/**
  Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts
  Constants: any of: src/constants.ts, electron/constants.ts
