Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**

🧹 [chore] Remove redundant package script aliases
  package.json
Due: none

🧹 [chore] Remove broken documentation scripts
  docs/AGENTS.md
  docs/Guides/DOCUSAURUS_SETUP_GUIDE.md
  package.json
Due: none

🧹 [chore] Clarify test lint suppressions
  config/linting/plugins/uptime-watcher/test/electron-no-ad-hoc-error-code-suffix.test.ts
  electron/test/services/ServiceContainer.working.test.ts
  electron/test/services/monitoring/SslMonitor.test.ts
  electron/test/services/monitoring/WebsocketKeepaliveMonitor.test.ts
  src/test/components/AddSiteForm/AddSiteForm.input-fuzzing.test.tsx
  src/test/final-function-coverage-push.test.ts
  src/test/utils/validation.comprehensive-fuzzing.test.ts
  src/test/vitest-jest-dom.d.ts
Due: electron, frontend

🚜 [refactor] Reuse main process record guard
  electron/main.ts
Due: electron

🧪 [test] Cover filesystem provider upload artifacts
  electron/test/services/cloud/providers/FilesystemCloudStorageProvider.test.ts
Due: electron

🚜 [refactor] Share delayed loading timer hook
  src/app/loading/useDelayedLoadingOverlay.ts
  src/hooks/useDelayedBoolean.ts
  src/hooks/useDelayedButtonLoading.ts
Due: frontend

🔧 [build] Quiet Vite WASM config resolution
  vite.config.ts
Due: none

🛠️ [fix] Include retry operation names in diagnostics
  shared/test/utils/retry.test.ts
  shared/utils/retry.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Name production retry operations
  electron/services/cloud/providers/dropbox/dropboxRetry.ts
  electron/services/database/DatabaseService.ts
  electron/services/window/WindowService.ts
  src/services/utils/electronBridgeReadiness.ts
Due: electron, frontend, üóÑÔ∏è Database Layer, ü™ü Window Management, üîå Frontend Services

🛠️ [fix] Log secret store fallback transitions
  electron/services/cloud/secrets/SecretStore.ts
  electron/test/services/cloud/secrets/SafeStorageSecretStore.test.ts
Due: electron

🛠️ [fix] Log cloud token revoke failures
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveTokenManager.ts
  electron/test/services/cloud/providers/dropbox/DropboxTokenManager.test.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveTokenManager.test.ts
Due: electron

🛠️ [fix] Tolerate unserializable history details
  electron/services/database/utils/mappers/historyMapper.ts
  electron/test/services/database/utils/historyMapper.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Stop reset lifecycle recursion
  package.json
Due: none

🛠️ [fix] Reuse canonical history timestamp validation
  src/hooks/site/useSiteAnalytics.ts
  src/hooks/site/useSiteStats.ts
  src/test/useSiteAnalytics.test.ts
  src/test/useSiteStatsEdgeCases.test.ts
  src/test/utils/monitoring/monitorHistoryTime.test.ts
  src/utils/monitoring/monitorHistoryTime.ts
Due: frontend, ü™ù Business Logic Hooks, üß∞ Frontend Utilities

📝 [docs] Align external URL scheme documentation
  docs/Guides/API_DOCUMENTATION.md
Due: none

🧹 [chore] Remove unused Tailwind ESLint type package
  package-lock.json
  package.json
Due: none

🧪 [test] Remove stale Electron coverage padding
  electron/test/additionalCoverage.test.ts
  electron/test/fuzzing/import-export.fuzz.test.ts
  electron/test/managers/MonitorManager.test.ts
  electron/test/services/monitoring/shared/httpMonitorCore.safeUrlLogging.test.ts
Due: electron

🧪 [test] Remove duplicate environment coverage suite
  shared/test/utils/environment-complete-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove detached Electron coverage boosters
  electron/test/coverage-boosters/switch-defaults.test.ts
  electron/test/coverage-boosters/validation-edge-cases.test.ts
Due: electron

🧪 [test] Align stale renderer test contracts
  src/test/final-90-percent-function-coverage.test.ts
  src/test/stores/alerts/useAlertStore.test.ts
  src/test/stores/sites/MonitoringService.siteLevel.test.ts
  src/test/stores/sites/MonitoringService.test.ts
  src/test/strictTests/SiteTableRow.behavioral-coverage.test.tsx
Due: frontend

🧪 [test] Remove duplicate shared coverage padding
  shared/test/complete-100-coverage.test.ts
  shared/test/coverage-completion.test.ts
  shared/test/coverage-test.test.ts
  shared/test/final-100-coverage.test.ts
  shared/test/final-90-percent-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove stale string conversion coverage tests
  shared/test/utils/stringConversion-missing-coverage.test.ts
  shared/test/utils/stringConversion-missing-lines.test.ts
  shared/test/utils/stringConversion.100-coverage.test.ts
  shared/test/utils/stringConversion.coverage-override.test.ts
  shared/test/utils/stringConversion.default-case.test.ts
  shared/test/utils/stringConversion.edge-coverage.test.ts
  shared/test/utils/stringConversion.final-100-coverage.test.ts
  shared/test/utils/stringConversion.final-coverage.test.ts
  shared/test/utils/stringConversion.final-final-coverage.test.ts
  shared/test/utils/stringConversion.targeted-coverage.test.ts
  shared/test/utils/stringConversion.unreachable-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate object safety coverage tests
  shared/test/utils/objectSafety-complete-coverage.test.ts
  shared/test/utils/objectSafety-missing-coverage.test.ts
  shared/test/utils/objectSafety.final-100-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate cache key coverage tests
  shared/test/utils/cacheKeys-complete-coverage.test.ts
  shared/test/utils/cacheKeys-complete-function-coverage.test.ts
  shared/test/utils/cacheKeys-function-coverage.test.ts
  shared/test/utils/cacheKeys.comprehensive.test.ts
  shared/test/utils/cacheKeys.error-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate environment coverage tests
  shared/test/utils/environment-complete-coverage.test.ts
  shared/test/utils/environment.catch-coverage.test.ts
  shared/test/utils/environment.comprehensive.test.ts
  shared/test/utils/environment.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate string conversion coverage tests
  shared/test/utils/stringConversion-complete-coverage.test.ts
  shared/test/utils/stringConversion-complete-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate type guard coverage tests
  shared/test/utils/typeGuards-complete-coverage.test.ts
  shared/test/utils/typeGuards-complete-function-coverage.test.ts
  shared/test/utils/typeGuards.debug.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove broad utility coverage shim
  shared/test/utils/simple-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove comprehensive coverage shim
  shared/test/utils/comprehensive-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove additional utility coverage shim
  shared/test/utils/additional-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove corrected coverage boost shim
  shared/test/corrected-function-coverage-boost.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove corrected utility coverage shim
  shared/test/utils/corrected-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate shared types coverage shim
  shared/test/types-complete-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate validation schema coverage shims
  shared/test/validation/schemas-missing-coverage.test.ts
  shared/test/validation/schemas.100-coverage.test.ts
  shared/test/validation/schemas.final-final-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate validator utility coverage shim
  shared/test/validation/validatorUtils-complete-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate schema function coverage shim
  shared/test/validation/schemas-complete-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Align safe parse float fuzz fallback
  shared/test/utils/safeConversions.comprehensive-coverage.fuzz.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove final schema coverage shim
  shared/test/validation/schemas-function-coverage-complete.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove broad shared types coverage shim
  shared/test/types/complete-function-coverage.test.ts
Due: shared, üß© Shared Core

🧪 [test] Remove duplicate database coverage shim
  shared/test/types/database-function-coverage.test.ts
Due: shared, üß© Shared Core
