Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**

🛡️ [fix] Bound muted notification preferences
  shared/test/validation/notifications.test.ts
  shared/types/notifications.ts
  shared/validation/notifications.ts
  src/stores/settings/state.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: frontend, shared, üß© Shared Core, ‚öôÔ∏è Configuration Management, üìù Type Definitions, üîó Integration Layer

🛡️ [fix] Align cloud passphrase validation
  electron/services/ipc/validators/cloudValidation.ts
  shared/test/validation/cloudEncryptionPassphrase.test.ts
  shared/validation/cloudEncryptionPassphrase.ts
  src/services/CloudService.ts
  src/test/services/CloudService.comprehensive.test.ts
Due: electron, frontend, shared, üß© Shared Core, üîó IPC Communication Layer, üîå Frontend Services, üîó Integration Layer

🛡️ [fix] Cancel disabled tooltip timers
  src/components/common/Tooltip/Tooltip.tsx
  src/test/components/common/Tooltip/Tooltip.fast-check.test.tsx
Due: frontend, üîß Common UI Components

🛡️ [fix] Preserve websocket abort results
  electron/services/monitoring/WebsocketKeepaliveMonitor.ts
  electron/test/services/monitoring/WebsocketKeepaliveMonitor.test.ts
Due: electron, üéØ Monitoring Core Engine

🔧 [fix] Reuse monitor user agent constant
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
Due: electron, üéØ Monitoring Core Engine

🔧 [fix] Align backend user agent version
  electron/constants.ts
  electron/test/constants.comprehensive.test.ts
  electron/test/constants.test.ts
Due: electron, üîß Constants & Configuration

🛡️ [fix] Sanitize connectivity fallback targets
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/services/monitoring/utils/pingRetry.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
  electron/test/services/monitoring/utils/pingRetry.test.ts
Due: electron, üéØ Monitoring Core Engine

🛡️ [fix] Reject lossy JSON collections
  shared/test/utils/jsonSafety.behavior.test.ts
  shared/utils/jsonSafety.ts
Due: shared, üß© Shared Core, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities

🛡️ [fix] Require plain IPC object params
  electron/services/ipc/validators/IpcValidators.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
Due: electron, üîó IPC Communication Layer

🛡️ [fix] Normalize backup download filenames
  src/stores/sites/utils/fileDownload.ts
  src/test/utils/fileDownload.test.ts
Due: frontend

🛡️ [fix] Reject malformed cloud backup downloads
  electron/services/cloud/providers/BaseCloudStorageProvider.ts
  electron/test/services/cloud/providers/BaseCloudStorageProvider.test.ts
Due: electron

🛡️ [fix] Validate backup payload byte size
  shared/test/validation/dataSchemas.test.ts
  shared/validation/dataSchemas.ts
Due: shared, üß© Shared Core, üîó Integration Layer

🛡️ [fix] Enforce backup filename byte budget
  electron/services/database/dataBackupService/sanitizeBackupFileName.ts
  electron/test/services/database/dataBackupService/sanitizeBackupFileName.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Reject parameterized mailto URLs
  electron/test/validators.complete.test.ts
  shared/test/utils/urlSafety.test.ts
  shared/utils/urlSafety.ts
  src/test/services/SystemService.comprehensive.test.ts
Due: electron, frontend, shared, üß© Shared Core, üß∞ Frontend Utilities

🛡️ [fix] Normalize Dropbox refreshed tokens
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
  electron/test/services/cloud/providers/dropbox/DropboxTokenManager.test.ts
Due: electron

🐛 [fix] Allow monitorless site imports
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
  shared/test/validation/importExportSchemas.test.ts
  shared/validation/importExportSchemas.ts
Due: electron, shared, üß© Shared Core, üîó Integration Layer

🛡️ [fix] Preserve imported history details
  electron/services/database/DataImportExportService.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: electron, üóÑÔ∏è Database Layer

🐛 [fix] Commit history limit state after persistence
  electron/services/database/historyLimitManager.ts
  electron/test/utils/database/historyLimitManager.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Sanitize imported history limit settings
  electron/services/database/DataImportExportService.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: electron, üóÑÔ∏è Database Layer

🐛 [fix] Fail imports on history limit apply errors
  electron/services/commands/DatabaseCommands.ts
  electron/test/services/commands/DatabaseCommands.test.ts
Due: electron

🛠️ [fix] Keep JSON exports importable
  electron/services/database/DataImportExportService.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
  shared/test/validation/importExportSchemas.test.ts
  shared/validation/importExportSchemas.ts
Due: electron, shared, üß© Shared Core, üóÑÔ∏è Database Layer, üîó Integration Layer

🧹 [chore] Hide passphrase policy internals
  shared/validation/cloudEncryptionPassphrase.ts
Due: shared, üß© Shared Core, üîó Integration Layer

🛠️ [fix] Preserve useMount lifecycle semantics
  src/hooks/useMount.ts
  src/test/hooks/useMount.100-coverage.test.ts
Due: frontend

🚜 [refactor] Remove stale sync cleanup flag
  src/stores/sites/useSiteSync.ts
Due: frontend, üåê Site Management Domain

🛠️ [fix] Make canonical JSON key ordering deterministic
  shared/test/utils/canonicalJson.test.ts
  shared/utils/canonicalJson.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛠️ [fix] Stabilize cloud sync write-key ordering
  shared/test/types/cloudSync.test.ts
  shared/types/cloudSync.ts
Due: shared, üß© Shared Core, üìù Type Definitions

🚜 [refactor] Centralize deterministic string ordering
  electron/managers/ConfigurationManager.ts
  electron/services/cloud/migrations/syncResetPreview.ts
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/services/ipc/handlers/diagnosticsHandlers.ts
  electron/services/sync/ProviderCloudSyncTransport.ts
  shared/types/cloudSync.ts
  shared/utils/canonicalJson.ts
  shared/utils/cloudSyncState.ts
  shared/utils/stringOrdering.ts
  shared/validation/siteIntegrity.ts
  src/stores/settings/state.ts
  src/stores/sites/utils/siteTelemetry.ts
Due: electron, frontend, shared, üß© Shared Core, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üß∞ Frontend Utilities, üìù Type Definitions, üîó Integration Layer

🔧 [chore] Adopt shared validation configs
  .gitignore
  package-lock.json
  package.json
  public/mockServiceWorker.js
Due: none

🛠️ [fix] Preserve absent import history details
  electron/services/database/DataImportExportService.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Validate export metadata timestamps
  shared/test/validation/importExportSchemas.test.ts
  shared/validation/importExportSchemas.ts
Due: shared, üß© Shared Core, üîó Integration Layer

🛠️ [fix] Clone HTTP monitor config updates
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/test/services/monitoring/HttpMonitor.comprehensive.test.ts
Due: electron, üéØ Monitoring Core Engine

🛠️ [fix] Standardize renderer IPC primitive validation
  src/services/DataService.ts
  src/services/MonitorTypesService.ts
  src/services/SystemService.ts
  src/services/utils/validation.ts
  src/test/services/DataService.comprehensive.test.ts
  src/test/services/SystemService.comprehensive.test.ts
  src/test/services/utils/validation.test.ts
Due: frontend, üîå Frontend Services

🛠️ [fix] Normalize history limits before IPC
  src/services/SettingsService.ts
  src/test/services/SettingsService.comprehensive.test.ts
Due: frontend, üîå Frontend Services

🛠️ [fix] Validate cloud backup keys before IPC
  shared/test/validation/cloudBackupSchemas.test.ts
  shared/validation/cloudBackupSchemas.ts
  src/services/CloudService.ts
  src/test/services/CloudService.comprehensive.test.ts
Due: frontend, shared, üß© Shared Core, üîå Frontend Services, üîó Integration Layer

🛠️ [fix] Validate monitoring identifiers before IPC
  src/services/MonitoringService.ts
  src/test/services/MonitoringService.edge-cases.test.ts
Due: frontend, üîå Frontend Services

🛠️ [fix] Validate site mutations before IPC
  src/services/SiteService.ts
  src/test/stores/sites/SiteService.test.ts
Due: frontend, üîå Frontend Services

🛠️ [fix] Scope optimistic monitoring rollback
  src/stores/sites/useSiteMonitoring.ts
  src/test/stores/sites/useSiteMonitoring.edge-cases.test.ts
Due: frontend, üéØ Monitoring Core Engine

🛠️ [fix] Skip stale site full-sync responses
  src/stores/sites/useSiteSync.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
Due: frontend, üåê Site Management Domain

🛠️ [fix] Clone SiteManager cache snapshots
  electron/managers/SiteManager.ts
  electron/test/managers/SiteManager.test.ts
Due: electron, üåê Site Management Domain

🛠️ [fix] Snapshot monitor operation registry reads
  electron/services/monitoring/MonitorOperationRegistry.ts
  electron/test/services/monitoring/MonitorOperationRegistry.test.ts
Due: electron, üéØ Monitoring Core Engine
