Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

✨ [feat] Add HTTP Header, JSON, and Latency monitor types
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  electron/managers/MonitorManager.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/test/services/monitoring/HttpHeaderMonitor.test.ts
  electron/test/services/monitoring/HttpJsonMonitor.test.ts
  electron/test/services/monitoring/HttpKeywordMonitor.test.ts
  electron/test/services/monitoring/HttpLatencyMonitor.test.ts
  electron/test/services/monitoring/HttpStatusMonitor.test.ts
  electron/test/services/monitoring/monitorTypes.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  shared/test/schemas.property.test.ts
  shared/test/types.fast-check-comprehensive.test.ts
  shared/test/validation.property.test.ts
  shared/validation/schemas.ts
  shared/validation/validatorUtils.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/test/components/AddSiteForm/AddSiteForm.enhanced.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.realistic.test.tsx
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/utils/monitorValidation.test.ts
  src/utils/monitorValidation.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üß© Core UI Components, üß∞ Frontend Utilities, üîó Integration Layer

Bump version to 16.0.0
  package.json
Due: none

🔧 [build] Update dependencies and fix documentation
  docs/docusaurus/src/pages/data-models.mdx
  docs/docusaurus/src/pages/deployment-infrastructure.mdx
  docs/docusaurus/src/pages/docsearch-verify.md
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/performance-metrics.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  package-lock.json
  package.json
Due: none

🎨 [style] Apply consistent formatting across the codebase
  benchmarks/database/backupRestore.bench.ts
  benchmarks/database/connectionPooling.bench.ts
  benchmarks/electron/updaterService.bench.ts
  benchmarks/event-system/eventSubscriptions.bench.ts
  benchmarks/frontend/hookPerformance.bench.ts
  benchmarks/services/eventProcessing.bench.ts
  benchmarks/services/monitorServiceManagement.bench.ts
  eslint.config.mjs
  scripts/clean-generated-docs.mjs
  shared/test/fuzzing/siteStatus.fuzz.test.ts
  shared/test/validatorUtils.property.test.ts
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/events/event-system.comprehensive-fuzzing.test.ts
  src/test/hooks/useMonitorTypes.test.ts
  src/test/utils/cache.test.ts
  src/test/utils/siteStatus.test.ts
Due: frontend, shared, üß© Shared Core

✨ [feat] Enhance Docusaurus configuration and add glossary pipeline
  config/tools/knip.config.ts
  docs/docusaurus/docs/glossary.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  docs/docusaurus/src/pages/data-models.mdx
  docs/docusaurus/src/pages/deployment-infrastructure.mdx
  docs/docusaurus/src/pages/engineering-tooling.mdx
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/performance-metrics.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  docs/docusaurus/src/pages/testing-architecture.mdx
  scripts/clean-generated-docs.mjs
Due: none

🧪 [test] Add E2E tests for advanced and infrastructure monitors
  playwright/tests/app-launch.e2e.playwright.test.ts
  playwright/tests/e2e-monitor-types-advanced-http.e2e.playwright.test.ts
  playwright/tests/e2e-monitor-types-infrastructure.e2e.playwright.test.ts
  playwright/tests/main-process.main.playwright.test.ts
  playwright/tests/utils/monitorTypeTestUtils.ts
Due: none

✨ [feat] Add advanced monitor types and system documentation
  .github/chatmodes/BeastMode.chatmode.md
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  electron/services/monitoring/CdnEdgeConsistencyMonitor.ts
  electron/services/monitoring/ReplicationMonitor.ts
  electron/services/monitoring/ServerHeartbeatMonitor.ts
  electron/services/monitoring/WebsocketKeepaliveMonitor.ts
  package-lock.json
  package.json
Due: electron, üéØ Monitoring Core Engine

✨ [feat] Add four advanced monitor types and supporting documentation
  .github/chatmodes/BeastMode.chatmode.md
  docs/docusaurus/src/pages/engineering-tooling.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  docs/docusaurus/src/pages/testing-architecture.mdx
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/WebsocketKeepaliveMonitor.ts
  electron/services/monitoring/shared/monitorServiceHelpers.ts
  shared/test/types-complete-function-coverage.test.ts
  shared/test/types.fast-check-comprehensive.test.ts
  shared/test/types.main-functions.test.ts
  shared/test/types/monitorConfig.comprehensive.test.ts
  shared/test/utils/validation.comprehensive.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/types.ts
  shared/types/monitorConfig.ts
  shared/types/schemaTypes.ts
  shared/utils/validation.ts
  shared/validation/schemas.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/constants.ts
  src/stores/sites/utils/monitorOperations.ts
  src/types/monitor-forms.ts
  src/types/monitorFormData.ts
  src/utils/fallbacks.ts
  src/utils/monitorTitleFormatters.ts
  src/utils/monitorValidation.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üß© Core UI Components, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

🚜 [refactor] Update tool definitions across all chat modes and prompts
  .github/chatmodes/Debugging.chatmode.md
  .github/chatmodes/Docs.chatmode.md
  .github/chatmodes/Explore.chatmode.md
  .github/chatmodes/Migration.chatmode.md
  .github/chatmodes/Performance.chatmode.md
  .github/chatmodes/Questions.chatmode.md
  .github/chatmodes/Refactor.chatmode.md
  .github/chatmodes/Review.chatmode.md
  .github/chatmodes/Security.chatmode.md
  .github/chatmodes/Tests.chatmode.md
  .github/prompts/BeastMode.prompt.md
  .github/prompts/Consistency-Check.prompt.md
  .github/prompts/Document-Review.prompt.md
  .github/prompts/E2E-Tests-Playwright.prompt.md
  .github/prompts/Error-Handling-Tests.prompt.md
  .github/prompts/Fix-Eslint-Errors.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/prompts/Generate-Test-Metadata.prompt.md
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  .github/prompts/My-Custom-Prompts.prompt.md
  .github/prompts/PR-Review.prompt.md
  .github/prompts/Performance-Tests.prompt.md
  .github/prompts/Remove-Eslint-Disable.prompt.md
  .github/prompts/Review-Code-Base.prompt.md
  .github/prompts/Stryker-Generate-Stryke-Mutator-Fixes.prompt.md
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
  .github/prompts/Types-Double-Check.prompt.md
Due: none

📝 [docs] Expand documentation for 14 new monitor types
  README.md
  docs/Guides/API_DOCUMENTATION.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  docs/docusaurus/src/pages/data-models.mdx
  docs/docusaurus/src/pages/deployment-infrastructure.mdx
  docs/docusaurus/src/pages/engineering-tooling.mdx
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/performance-metrics.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  docs/docusaurus/src/pages/testing-architecture.mdx
  electron/managers/MonitorManager.ts
  electron/services/monitoring/CdnEdgeConsistencyMonitor.ts
  electron/services/monitoring/ReplicationMonitor.ts
  electron/services/monitoring/ServerHeartbeatMonitor.ts
  electron/services/monitoring/WebsocketKeepaliveMonitor.ts
  electron/test/services/monitoring/HttpMonitor.httpbin.test.ts
  electron/test/services/monitoring/WebsocketKeepaliveMonitor.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/AddSiteForm/Submit.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  storybook/main.ts
Due: electron, frontend, üéØ Monitoring Core Engine, üß© Core UI Components

✨ [feat] Add SQLite database backup download
  docs/Guides/API_DOCUMENTATION.md
  electron/services/database/MonitorRepository.ts
  electron/services/database/SiteRepository.ts
  electron/test/preload/core/bridgeFactory.comprehensive.test.ts
  electron/test/services/database/SiteRepository.test.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/utils/fileDownload.ts
  src/test/components/Settings/Settings.branch-coverage.test.tsx
  src/test/hooks/site/useSiteDetails.test.ts
  src/test/stores/sites/utils/fileDownload.fast-check-comprehensive.test.ts
  src/test/utils/data/generateUuid.test.ts
  src/test/utils/fileDownload.fixed.test.ts
  src/types.ts
  src/utils/data/generateUuid.ts
  storybook/setup/electron-api-mock.ts
Due: electron, frontend, üóÑÔ∏è Database Layer, üåê Site Management Domain, üß∞ Frontend Utilities, üìù Type Definitions

🧹 [chore] Remove Beast Mode chatmode documentation file from the repository
  .github/chatmodes/BeastMode.chatmode.md
  .gitignore
Due: none

🚜 [refactor] Relocate monitoring IPC methods from sites to monitoring domain
  .github/chatmodes/BeastMode.chatmode.md
  .github/copilot-instructions.md
  electron/preload/domains/monitoringApi.ts
  electron/preload/domains/sitesApi.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/preload.test.ts
  electron/test/preload/domains/sitesApi.comprehensive.test.ts
  src/services/MonitorTypesService.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/sites/services/MonitoringService.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/useSiteMonitoring.ts
  src/test/mock-setup.ts
  src/test/setup.ts
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.simplified100.test.ts
  src/test/stores/monitor/useMonitorTypesStore.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/useSiteMonitoring.comprehensive.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
  src/test/types.test.tsx
  src/test/utils/cacheSync.test.ts
  src/test/utils/monitorUiHelpers.comprehensive.test.ts
  src/test/utils/monitorValidation.test.ts
  src/types.ts
  storybook/setup/electron-api-mock.ts
Due: electron, frontend, üéØ Monitoring Core Engine, üîå Frontend Services, üìù Type Definitions

Bump version to 16.1.0
  package.json
Due: none

✨ [feat] Introduce application shell layout
  src/App.tsx
  src/components/Dashboard/Overview/DashboardOverview.css
  src/components/Dashboard/Overview/DashboardOverview.tsx
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Dashboard/SiteCard/SiteCardHeader.tsx
  src/components/Dashboard/SiteCard/SiteCardMetrics.tsx
  src/components/Dashboard/SiteCard/SiteCardStatus.tsx
  src/components/Dashboard/SiteCard/SiteCompactCard.tsx
  src/components/Dashboard/SiteCard/components/ActionButtonGroup.tsx
  src/components/Dashboard/SiteCard/components/MetricCard.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Dashboard/SiteList/SiteList.tsx
  src/components/Dashboard/SiteList/SiteListLayoutSelector.tsx
  src/components/Dashboard/SiteList/SiteTableRow.tsx
  src/components/Dashboard/SiteList/SiteTableView.tsx
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/components/Layout/SidebarLayoutContext.tsx
  src/components/Layout/SidebarLayoutProvider.tsx
  src/components/Layout/SidebarRevealButton/SidebarRevealButton.tsx
  src/components/common/SiteMonitoringButton/SiteMonitoringButton.tsx
  src/hooks/useGlobalMonitoringMetrics.ts
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/test/components/Header/Header.test.tsx
  src/test/stores/ui/useUiStore.test.ts
  src/theme/components.css
  src/theme/components/ThemedSelect.tsx
  src/utils/monitoring/globalMetrics.ts
Due: frontend, üì¶ Frontend State Stores, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üß∞ Frontend Utilities

🎨 [style] Enhance UI with icons and layout tweaks
  src/App.tsx
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/Dashboard/Overview/DashboardOverview.css
  src/components/Dashboard/Overview/DashboardOverview.tsx
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Dashboard/SiteCard/SiteCardFooter.tsx
  src/components/Dashboard/SiteCard/SiteCardMonitorList.tsx
  src/components/Dashboard/SiteCard/components/ActionButtonGroup.tsx
  src/components/Dashboard/SiteList/EmptyState.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Dashboard/SiteList/SiteList.tsx
  src/components/Dashboard/SiteList/SiteListLayoutSelector.tsx
  src/components/Dashboard/SiteList/SiteTableRow.tsx
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Header/HeaderControls.tsx
  src/components/Header/StatusSummary.tsx
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/components/Settings/Settings.css
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/common/SiteMonitoringButton/SiteMonitoringButton.tsx
  src/components/common/Tooltip/Tooltip.tsx
  src/components/common/Tooltip/tooltip.css
  src/components/shared/FormErrorAlert.tsx
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/theme/components.css
  src/theme/components/StatusIndicator.tsx
  src/utils/icons.ts
  src/utils/status.ts
Due: frontend, üì¶ Frontend State Stores, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üß∞ Frontend Utilities

🎨 [style] Revamps UI components and layout
  src/App.tsx
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/Dashboard/Overview/DashboardOverview.css
  src/components/Dashboard/Overview/DashboardOverview.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Header/HeaderControls.tsx
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/components/Layout/SidebarRevealButton/SidebarRevealButton.tsx
  src/components/Settings/Settings.css
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/common/Tooltip/Tooltip.tsx
  src/components/common/Tooltip/tooltip.css
  src/hooks/useThemeStyles.ts
  src/theme/components.css
  src/theme/components/StatusIndicator.tsx
  src/theme/themes.ts
Due: frontend, üß© Core UI Components, üîß Common UI Components, üé® Theme System

🎨 [style] Enhance dashboard site card UI
  src/components/Dashboard/Overview/DashboardOverview.css
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Dashboard/SiteCard/SiteCardFooter.tsx
  src/components/Dashboard/SiteCard/SiteCardMetrics.tsx
  src/components/Dashboard/SiteCard/SiteCompactCard.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/common/ConfirmDialog/ConfirmDialog.css
  src/components/common/ConfirmDialog/ConfirmDialog.tsx
  src/components/common/Tooltip/tooltip.css
  src/hooks/site/useSiteDetails.ts
  src/hooks/useThemeStyles.ts
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/test/Settings.invalid-key.test.tsx
  src/test/SiteCardMetrics.test.tsx
  src/test/components/ActionButtonGroup.complete-coverage.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.comprehensive.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.input-fuzzing.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.maximal-coverage.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/hooks/site/useSiteDetails.branch-coverage-new.test.ts
  src/test/hooks/site/useSiteDetails.test.ts
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
  src/test/stores/ui/useUiStore.test.ts
  src/test/strictTests/useSiteDetails.critical.test.ts
  src/theme/components.css
  src/utils/status.ts
  stylelint.config.mjs
Due: frontend, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üß∞ Frontend Utilities

🚜 [refactor] Implement transaction adapters
  benchmarks/database/enhancedDatabaseOperations.bench.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SiteRepository.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/database/MonitorRepository.comprehensive.test.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  electron/utils/database/SiteWriterService.ts
  shared/types.ts
  shared/utils/safeConversions.ts
  shared/utils/siteStatus.ts
  shared/validation/schemas.ts
  src/components/Dashboard/SiteCard/SiteCompactCard.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Dashboard/SiteList/SiteTableRow.tsx
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Header/HeaderControls.tsx
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/common/ConfirmDialog/ConfirmDialog.css
  src/hooks/ui/useOverflowMarquee.ts
  src/test/components/Header/Header.test.tsx
  src/test/components/MonitorSelector.complete-coverage.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/SettingsTab.test.tsx
  src/theme/components.css
  src/theme/components/ThemedSelect.tsx
Due: electron, frontend, shared, üß© Shared Core, üóÑÔ∏è Database Layer, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üîó Integration Layer

🎨 [style] Polish UI and enhance UX
  playwright/tests/e2e-complete-workflows.e2e.playwright.test.ts
  src/App.tsx
  src/components/Dashboard/Overview/DashboardOverview.css
  src/components/Dashboard/SiteCard/components/ActionButtonGroup.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Dashboard/SiteList/SiteList.tsx
  src/components/Dashboard/SiteList/SiteTableView.tsx
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Header/StatusSummary.tsx
  src/components/Layout/SidebarRevealButton/SidebarRevealButton.tsx
  src/components/Settings/Settings.css
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetails.tsx
  src/components/common/SiteMonitoringButton/SiteMonitoringButton.tsx
  src/components/common/Tooltip/Tooltip.tsx
  src/test/App.additional-coverage.test.tsx
  src/test/App.comprehensive.test.tsx
  src/test/Settings.invalid-key.test.tsx
  src/test/SiteCardMetrics.test.tsx
  src/test/SiteCardStatus.test.tsx
  src/test/components/ActionButtonGroup.complete-coverage.test.tsx
  src/test/components/ErrorAlert.complete-coverage.test.tsx
  src/test/components/Header/Header.assignment-operator.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/components/Settings/Settings.branch-coverage.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.comprehensive.test.tsx
  src/test/components/SiteMonitoringButton.complete-coverage.test.tsx
  src/test/components/shared/SaveButton.input-fuzzing.test.tsx
  src/test/components/shared/SaveButton.test.tsx
  src/test/components/shared/formUtils.test.ts
  src/test/hooks/useThemeStyles.test.ts
  src/test/theme/components.additional-coverage.test.tsx
  src/test/theme/components.comprehensive.test.tsx
  src/test/useThemeStyles.comprehensive.test.ts
  src/theme/components.css
  src/theme/components/ThemedText.tsx
  src/utils/status.ts
Due: frontend, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üß∞ Frontend Utilities

🛠️ [fix] Improve site removal and deletion
  electron/UptimeOrchestrator.ts
  electron/managers/SiteManager.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  electron/utils/database/SiteWriterService.ts
  src/components/Dashboard/Overview/DashboardOverview.css
  src/components/Dashboard/SiteCard/SiteCardFooter.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Header/Header.css
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/Settings/Settings.css
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/common/ConfirmDialog/ConfirmDialog.css
  src/components/common/Tooltip/tooltip.css
  src/stores/sites/services/SiteService.ts
  src/stores/sites/useSiteOperations.ts
  src/test/SiteCardMetrics.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.input-fuzzing.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.maximal-coverage.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.additional-coverage.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.comprehensive.test.tsx
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/theme/components.css
Due: electron, frontend, üéº Uptime Orchestrator, üåê Site Management Domain, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üõ†Ô∏è Backend Utilities

✨ [feat] Enhance app architecture and UI
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  docs/Architecture/README.md
  electron/events/TypedEventBus.ts
  electron/managers/MonitorManager.ts
  electron/preload/core/bridgeFactory.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/ipc/IpcService.ts
  electron/services/ipc/validators.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/preload/core/bridgeFactory.comprehensive.test.ts
  electron/test/services/database/MonitorRepository.comprehensive.test.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/historyLimitManager.ts
  electron/utils/logger.ts
  package.json
  shared/types/ipc.ts
  shared/utils/logger/common.ts
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/hooks/site/useSiteDetails.ts
  src/services/logger.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSitesStore.ts
  src/stores/sites/utils/operationHelpers.ts
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/test/components/SiteDetails/SiteDetailsNavigation.comprehensive.test.tsx
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/stores/sites/useSiteMonitoring.comprehensive.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
  src/test/stores/ui/useUiStore.test.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üåê Site Management Domain, üîó IPC Communication Layer, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîó Integration Layer

🎨 [style] Improves code style and documentation
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  electron/test/fuzzing/import-export.fuzz.test.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
  electron/test/utils/enhanced-testUtilities.ts
  src/App.tsx
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Dashboard/SiteList/SiteTableView.tsx
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/components/Settings/Settings.css
  src/components/Settings/Settings.tsx
  src/stores/ui/useUiStore.ts
  src/theme/components/ThemedText.tsx
  stylelint.config.mjs
Due: electron, frontend, üì¶ Frontend State Stores, üß© Core UI Components, üîß Common UI Components, üé® Theme System

🛠️ [fix] Improves logger initialization and table UI
  electron/services/ipc/diagnosticsMetrics.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/ipc/utils.arithmetic-mutations.test.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
  electron/test/services/monitoring/HttpHeaderMonitor.test.ts
  electron/test/services/monitoring/HttpMonitor.assignment-operator.test.ts
  electron/test/services/monitoring/HttpMonitor.comprehensive.test.ts
  electron/test/services/monitoring/MigrationSystem.comprehensive.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/services/site/SiteService.test.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
  electron/test/services/window/WindowService.test.ts
  shared/test/fuzzing/errorHandling.fuzz.test.ts
  shared/utils/errorHandling.ts
  src/components/Dashboard/SiteCard/SiteCompactCard.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Dashboard/SiteList/SiteTableView.tsx
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/Settings/Settings.css
  src/components/SiteDetails/SiteDetails.css
  src/hooks/useThemeStyles.ts
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/test/App.additional-coverage.test.tsx
  src/test/App.comprehensive.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/hooks/useThemeStyles.test.ts
  src/test/stores/ui/useUiStore.test.ts
  src/theme/components.css
Due: electron, frontend, shared, üß© Shared Core, üîó IPC Communication Layer, üì¶ Frontend State Stores, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üß∞ Frontend Utilities

✨ [feat] Add Storybook stories for new components
  storybook/stories/ActionButtonGroup.stories.tsx
  storybook/stories/MarqueeText.stories.tsx
  storybook/stories/MonitorSelector.stories.tsx
  storybook/stories/SiteCompactCard.stories.tsx
  storybook/stories/SiteTableView.stories.tsx
Due: none

🛠️ [fix] Enhance diagnostics and UI interactions
  electron/services/ipc/diagnosticsMetrics.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  electron/test/services/database/SettingsRepository.simple.test.ts
  electron/test/services/factories/DatabaseServiceFactory.test.ts
  electron/test/services/monitoring/HttpJsonMonitor.test.ts
  electron/test/services/monitoring/HttpKeywordMonitor.test.ts
  electron/test/services/monitoring/HttpLatencyMonitor.test.ts
  electron/test/services/monitoring/HttpStatusMonitor.test.ts
  electron/test/services/monitoring/MonitorOperationRegistry.new.test.ts
  electron/test/services/monitoring/MonitorOperationRegistry.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/MonitorStatusUpdateService.comprehensive.test.ts
  electron/test/services/monitoring/OperationTimeoutManager.comprehensive.test.ts
  electron/test/utils/operationalHooks.branch-coverage.test.ts
  electron/test/utils/retry.comprehensive.test.ts
  shared/utils/errorHandling.ts
  src/App.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Dashboard/SiteList/SiteList.tsx
  src/components/Dashboard/SiteList/SiteTableView.tsx
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/components/Settings/Settings.tsx
  src/hooks/useThemeStyles.ts
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/theme/components.css
  src/theme/components/ThemedSelect.tsx
  tsconfig.electron.json
  tsconfig.json
  tsconfig.shared.json
  vite.config.ts
Due: electron, frontend, shared, üß© Shared Core, üîó IPC Communication Layer, üì¶ Frontend State Stores, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üß∞ Frontend Utilities

✨ [feat] Enhance testing and automation support
  .github/copilot-instructions.md
  electron/preload.ts
  package-lock.json
  package.json
  playwright/fixtures/electron-helpers.ts
  playwright/tests/ui-addsitemodal-basic.ui.playwright.test.ts
  playwright/tests/ui-dashboard-empty-state.ui.playwright.test.ts
  playwright/tests/ui-dashboard-layout.ui.playwright.test.ts
  playwright/tests/ui-data-maintenance.ui.playwright.test.ts
  playwright/tests/ui-header-settings.ui.playwright.test.ts
  playwright/tests/ui-monitor-types.ui.playwright.test.ts
  playwright/tests/ui-monitoring-status-display.ui.playwright.test.ts
  playwright/tests/ui-resilience.ui.playwright.test.ts
  playwright/tests/ui-settings-preferences.ui.playwright.test.ts
  playwright/tests/ui-sidebar-search.ui.playwright.test.ts
  playwright/tests/ui-site-card-actions.ui.playwright.test.ts
  playwright/tests/ui-site-details.ui.playwright.test.ts
  playwright/tests/ui-site-removal.ui.playwright.test.ts
  playwright/tests/ui-site-table-view.ui.playwright.test.ts
  playwright/tsconfig.json
  playwright/utils/ui-helpers.ts
  src/components/Dashboard/SiteList/SiteList.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/stores/sites/utils/fileDownload.ts
  src/stores/ui/useConfirmDialogStore.ts
  src/utils/environment.ts
  storybook/stories/SiteDetails.stories.tsx
  storybook/stories/SiteList.stories.tsx
  vite.config.ts
Due: electron, frontend, üîó IPC Communication Layer, üì¶ Frontend State Stores, üß© Core UI Components, üß∞ Frontend Utilities

✨ [feat] Enhance UI with link checking and card layouts
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
  .github/PULL_REQUEST_TEMPLATE/documentation.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/maintenance.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/quick-fix.md
  CONTRIBUTING.md
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  docs/docusaurus/src/css/custom.css
  electron/test/fuzzing/database-operations.fuzz.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/check-doc-links.mjs
  src/components/Dashboard/Overview/DashboardOverview.css
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Dashboard/SiteCard/SiteCompactCard.css
  src/components/Dashboard/SiteCard/SiteCompactCard.tsx
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Dashboard/SiteList/SiteTableRow.tsx
  src/components/Dashboard/SiteList/SiteTableView.css
  src/components/Dashboard/SiteList/SiteTableView.tsx
  src/components/Header/Header.css
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/Settings/Settings.css
  src/components/SiteDetails/SiteDetails.css
  src/components/common/ConfirmDialog/ConfirmDialog.css
  src/components/common/MarqueeText/MarqueeText.css
  src/components/common/MarqueeText/MarqueeText.tsx
  src/components/common/Tooltip/tooltip.css
  src/theme/components.css
  src/utils/monitoring/monitorRuntime.ts
  src/utils/text/toSentenceCase.ts
  storybook/helpers/siteStoryHelpers.tsx
Due: electron, frontend, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üß∞ Frontend Utilities

🧹 [chore] Updates copilot instructions and gitignore
  .github/copilot-instructions.md
  .gitignore
  .vscode/settings.json
Due: none

✨ [feat] Enhance UI and automation capabilities
  .vscode/tasks.json
  electron/preload.ts
  playwright/tests/ui-monitoring-status-display.ui.playwright.test.ts
  playwright/tests/ui-site-details.ui.playwright.test.ts
  playwright/tests/ui-site-table-view.ui.playwright.test.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/Header/Header.tsx
  src/components/Header/HeaderControls.tsx
  src/components/Header/StatusSummary.tsx
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/components/Layout/SidebarRevealButton/SidebarRevealButton.tsx
  src/components/Settings/Settings.tsx
  src/components/common/ConfirmDialog/ConfirmDialog.tsx
  src/stores/ui/useConfirmDialogStore.ts
  src/utils/environment.ts
  storybook/stories/AddSiteModal.stories.tsx
  storybook/stories/AppSidebar.stories.tsx
  storybook/stories/ConfirmDialog.stories.tsx
  storybook/stories/Header.stories.tsx
  storybook/stories/Settings.stories.tsx
Due: electron, frontend, üîó IPC Communication Layer, üì¶ Frontend State Stores, üß© Core UI Components, üîß Common UI Components, üß∞ Frontend Utilities

✨ [feat] Extends UI monitor type coverage
  playwright/tests/ui-monitor-types.ui.playwright.test.ts
  playwright/tests/ui-site-details.ui.playwright.test.ts
  playwright/tests/ui-site-removal.ui.playwright.test.ts
  playwright/utils/ui-helpers.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/Dashboard/SiteList/EmptyState.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/shared/SurfaceContainer.tsx
  src/stores/ui/useConfirmDialogStore.ts
  storybook/stories/AddSiteForm.stories.tsx
  storybook/stories/SidebarRevealButton.stories.tsx
  storybook/stories/SiteCard.stories.tsx
  storybook/stories/SiteListLayoutSelector.stories.tsx
  storybook/stories/StatusSummary.stories.tsx
  storybook/stories/SurfaceContainer.stories.tsx
  storybook/stories/setup/monitorTypeMocks.ts
Due: frontend, üì¶ Frontend State Stores, üß© Core UI Components

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
