Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, electron, UI Components, State Management (Stores), Frontend Services, React Hooks, Frontend Utils, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Settings & Configuration, Dashboard & Analytics, Error Handling, Theme System, Type Definitions, Constants

Path conditions:
  frontend: any of: src/
  electron: any of: electron/
  UI Components: any of: src/components/**
  State Management (Stores): any of: src/stores/**
  Frontend Services: any of: src/services/**
  React Hooks: any of: src/hooks/**
  Frontend Utils: any of: src/utils/**
  Core Backend Services: any of: electron/services/**
  Domain Managers: any of: electron/managers/**
  Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  Backend Utils: any of: electron/utils/**, electron/electronUtils.ts
  Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts
  Monitoring Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts
  IPC Communication: any of: electron/services/ipc/**, electron/preload.ts
  Site Management: any of: electron/managers/SiteManager.ts, src/stores/sites/**, src/components/AddSiteForm/**, src/components/SiteDetails/**
  Settings & Configuration: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, src/components/Settings/**
  Dashboard & Analytics: any of: src/components/Dashboard/**, src/stores/stats/**, src/stores/ui/**
  Error Handling: any of: src/stores/error/**
  Theme System: any of: src/theme/**
  Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts
  Constants: any of: src/constants.ts, electron/constants.ts

Bump version to 10.3.0
  package.json
Due: none

🧪 [test] Add comprehensive unit tests for hooks, utils, and types
  .vscode/settings.json
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  eslint.config.mjs
  src/test/components/Dashboard/SiteList/SiteList.test.tsx
  src/test/hooks/useDelayedButtonLoading.comprehensive.test.ts
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/shared/types/formData.comprehensive.test.ts
  src/test/shared/types/monitorConfig.comprehensive.test.ts
  src/test/utils/data/generateUuid.comprehensive.test.ts
  src/test/utils/data/generateUuid.test.ts
  src/test/utils/duration.comprehensive.test.ts
  tsconfig.electron.test.json
  vite.config.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: frontend, electron

🧪 [test] Improve test coverage and consistency across core modules
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  eslint.config.mjs
  src/test/components/Dashboard/SiteList/SiteList.test.tsx
  src/test/hooks/useDelayedButtonLoading.comprehensive.test.ts
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/shared/types/formData.comprehensive.test.ts
  src/test/shared/types/monitorConfig.comprehensive.test.ts
  src/test/utils/data/generateUuid.comprehensive.test.ts
  src/test/utils/data/generateUuid.test.ts
  src/test/utils/duration.comprehensive.test.ts
Due: frontend, electron

🧪 [test] Add comprehensive tests for site details and actions
  src/test/component-coverage-boost.test.tsx
  src/test/components/SiteDetails/SiteDetails.comprehensive.test.tsx
  src/test/hooks/site/useSiteActions.comprehensive.test.ts
Due: frontend

Bump version to 10.4.0
  package.json
Due: none

🎨 [style] Enforce Tailwind and array type consistency; improve UI class order
  .github/chatmodes/BeastMode.chatmode.md
  electron/events/TypedEventBus.ts
  electron/services/ServiceContainer.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/test/high-impact-coverage.test.ts
  electron/test/utilities.missing-branches.test.ts
  electron/utils/cache/StandardizedCache.ts
  eslint.config.mjs
  shared/utils/objectSafety.ts
  src/App.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/AddSiteForm/FormFields.tsx
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Dashboard/SiteCard/SiteCardFooter.tsx
  src/components/Dashboard/SiteCard/SiteCardHeader.tsx
  src/components/Dashboard/SiteCard/SiteCardMetrics.tsx
  src/components/Dashboard/SiteCard/components/ActionButtonGroup.tsx
  src/components/Dashboard/SiteCard/components/MetricCard.tsx
  src/components/Header/Header.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/common/HistoryChart.tsx
  src/components/error/DefaultErrorFallback.tsx
  src/index.css
  src/stores/error/ErrorBoundary.tsx
  src/stores/sites/useSiteSync.ts
  src/utils/fallbacks.ts
Due: frontend, electron, UI Components, State Management (Stores), Frontend Utils, Core Backend Services, Backend Utils, Database Layer, Monitoring Engine, Site Management, Settings & Configuration, Dashboard & Analytics, Error Handling

📝 [docs] Clarify tool list format and add todo tracking instruction
  .github/chatmodes/BeastMode.chatmode.md
  .github/instructions/copilot-instructions.md
  eslint.config.mjs
Due: none

🧪 [test] Add comprehensive tests for coverage and type guards
  electron/test/high-impact-coverage.test.ts
  shared/types/events.ts
  shared/types/formData.ts
  shared/types/monitorConfig.ts
  shared/utils/siteStatus.ts
  shared/utils/validation.ts
  shared/validation/schemas.ts
  src/test/components/SiteDetails/SiteDetails.comprehensive.test.tsx
  src/test/components/SiteDetails/SiteDetailsNavigation.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/AnalyticsTab.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.simple.test.tsx
  src/test/components/SiteDetails/tabs/OverviewTab.test.tsx
  src/test/components/SiteDetails/tabs/SettingsTab.test.tsx
  src/test/components/common/MonitorUiComponents.comprehensive.test.tsx
  src/test/hooks/site/useSite.comprehensive.test.ts
  src/test/hooks/site/useSite.test.ts
  src/test/hooks/site/useSiteDetails.test.ts
  src/test/hooks/site/useSiteMonitor.test.ts
  src/test/shared/types/chartConfig.comprehensive.test.ts
  src/test/shared/utils/cacheKeys.comprehensive.test.ts
  src/test/shared/utils/errorCatalog.comprehensive.test.ts
  src/test/shared/utils/logTemplates.functions.test.ts
  src/test/types/monitor-forms.comprehensive.test.ts
Due: frontend, electron

🎨 [style] Reorder dependency arrays in hooks for consistency
  src/App.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Dashboard/SiteCard/SiteCardMetrics.tsx
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/components/common/MonitorUiComponents.tsx
  src/hooks/useDelayedButtonLoading.ts
Due: frontend, UI Components, React Hooks, Site Management, Dashboard & Analytics

✨ [feat] Unifies error alerts & improves event handling
  eslint.config.mjs
  shared/types/configTypes.ts
  shared/types/monitorTypes.ts
  src/App.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/AddSiteForm/DynamicMonitorFields.tsx
  src/components/AddSiteForm/FormFields.tsx
  src/components/Header/Header.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/components/common/ErrorAlert/ErrorAlert.tsx
  src/components/common/SiteMonitoringButton/SiteMonitoringButton.tsx
  src/components/error/DefaultErrorFallback.tsx
  src/hooks/useMonitorTypes.ts
  src/hooks/useMount.ts
  src/hooks/useThemeStyles.ts
  src/services/chartSetup.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/test/App.comprehensive.test.tsx
  src/test/Settings.invalid-key.test.tsx
  src/test/components/Settings/Settings.test.tsx
  src/test/components/SiteDetails/tabs/AnalyticsTab.comprehensive.test.tsx
  src/test/components/common/MonitorUiComponents.comprehensive.test.tsx
  src/test/hooks/useMonitorFields.test.ts
  src/theme/components.tsx
  src/utils/monitorTypeHelper.ts
  src/utils/monitorUiHelpers.ts
  src/utils/monitorValidation.ts
Due: frontend, UI Components, State Management (Stores), Frontend Services, React Hooks, Frontend Utils, Site Management, Settings & Configuration, Theme System

✨ [feat] Enhance VSCode dev workflow and test/project config
  .github/instructions/copilot-instructions.md
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  package.json
  src/stores/sites/useSitesStore.ts
  tsconfig.electron.json
  tsconfig.electron.test.json
  tsconfig.json
  tsconfig.test.json
  typedoc.electron.json
  typedoc.json
  vite.config.ts
Due: frontend, State Management (Stores), Site Management

🧹[chore]: update dependencies to latest versions
  package-lock.json
  package.json
Due: none

🚜 [refactor] Centralize type safety and doc enhancements
  electron/events/TypedEventBus.ts
  electron/events/eventTypes.ts
  electron/events/middleware.ts
  electron/main.ts
  electron/preload.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/utils/typedQueries.ts
  electron/utils/logger.ts
  shared/utils/typeGuards.ts
  shared/utils/typeHelpers.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/constants.ts
  src/stores/_internal/storeActionLogger.ts
  src/stores/error/useErrorStore.ts
  src/stores/shared/utils.ts
  src/stores/utils.ts
Due: frontend, electron, UI Components, State Management (Stores), Core Backend Services, Backend Utils, Database Layer, IPC Communication, Site Management, Error Handling, Constants

🧹 [chore] Update repository links and dependencies
  io.github.uptimewatcher.metainfo.xml
  package-lock.json
  package.json
Due: none

📝 [docs] Update architecture docs for production readiness
  .github/prompts/Document-Review.prompt.md
  docs/Architecture/ADRs/ADR-001-Repository-Pattern.md
  docs/Architecture/ADRs/ADR-002-Event-Driven-Architecture.md
  docs/Architecture/ADRs/ADR-003-Error-Handling-Strategy.md
  docs/Architecture/Patterns/Development-Patterns-Guide.md
  docs/Architecture/TSDoc-Standards.md
  docs/Architecture/Templates/Repository-Template.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
Due: none

🧪 [test] Improve themed component test coverage and selector usage
  src/test/Settings.invalid-key.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/AnalyticsTab.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/OverviewTab.test.tsx
  src/test/stores/shared/utils.test.ts
  src/test/theme/components.additional-coverage.test.tsx
Due: frontend

✨ [feat] Add CLI options for finding and deleting empty dirs
  scripts/find-empty-dirs.mjs
Due: none

🚜 [refactor] Reorders function and type declarations for clarity
  electron/UptimeOrchestrator.ts
  electron/events/eventTypes.ts
  electron/events/middleware.ts
  electron/services/database/utils/databaseSchema.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/historyMapper.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/settingsMapper.ts
  electron/services/ipc/types.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/monitoring/utils/httpStatusUtils.ts
  electron/services/updater/AutoUpdaterService.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/operationalHooks.ts
  shared/types.ts
  shared/types/configTypes.ts
  shared/types/events.ts
  shared/types/formData.ts
  shared/types/monitorConfig.ts
  shared/types/themeConfig.ts
  shared/utils/errorHandling.ts
  shared/utils/jsonSafety.ts
  shared/utils/logTemplates.ts
  shared/utils/validation.ts
  shared/validation/schemas.ts
  src/components/AddSiteForm/Submit.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/hooks/useThemeStyles.ts
  src/stores/error/ErrorBoundary.tsx
  src/stores/sites/utils/fileDownload.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/theme/types.ts
  src/types/monitor-forms.ts
  src/types/monitorFormData.ts
  src/utils/cache.ts
  src/utils/fallbacks.ts
  src/utils/monitorUiHelpers.ts
Due: frontend, electron, UI Components, State Management (Stores), React Hooks, Frontend Utils, Core Backend Services, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Error Handling, Theme System

🛠️ [fix] Ensure proper async handling and null checks in DB ops
  electron/services/commands/DatabaseCommands.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/settingsMapper.ts
  electron/services/site/SiteService.ts
  src/stores/error/ErrorBoundary.tsx
Due: frontend, electron, State Management (Stores), Core Backend Services, Database Layer, Error Handling

🧹 [chore] Refines ESLint config, rule overrides, and npm scripts
  eslint.config.mjs
  package.json
Due: none

📝 [docs] Standardize code style and formatting in docs/scripts
  docs/Guides/TESTING.md
  docs/TSDoc/TSDoc-Home.md
  docs/TSDoc/TSDoc-Intro-Approach.md
  docs/TSDoc/TSDoc-Package-EslintPluginTsdoc.md
  docs/TSDoc/TSDoc-Package-Tsdoc.md
  docs/TSDoc/TSDoc-Package-TsdocConfig.md
  docs/TSDoc/TSDoc-Spec-TagKinds.md
  docs/TSDoc/TSDoc-Tag-Alpha.md
  docs/TSDoc/TSDoc-Tag-Beta.md
  docs/TSDoc/TSDoc-Tag-Decorator.md
  docs/TSDoc/TSDoc-Tag-Deprecated.md
  docs/TSDoc/TSDoc-Tag-Eventproperty.md
  docs/TSDoc/TSDoc-Tag-Example.md
  docs/TSDoc/TSDoc-Tag-Experimental.md
  docs/TSDoc/TSDoc-Tag-Inheritdoc.md
  docs/TSDoc/TSDoc-Tag-Internal.md
  docs/TSDoc/TSDoc-Tag-Label.md
  docs/TSDoc/TSDoc-Tag-Link.md
  docs/TSDoc/TSDoc-Tag-Override.md
  docs/TSDoc/TSDoc-Tag-Packagedocumentation.md
  docs/TSDoc/TSDoc-Tag-Param.md
  docs/TSDoc/TSDoc-Tag-Privateremarks.md
  docs/TSDoc/TSDoc-Tag-Public.md
  docs/TSDoc/TSDoc-Tag-Readonly.md
  docs/TSDoc/TSDoc-Tag-Remarks.md
  docs/TSDoc/TSDoc-Tag-Returns.md
  docs/TSDoc/TSDoc-Tag-Sealed.md
  docs/TSDoc/TSDoc-Tag-See.md
  docs/TSDoc/TSDoc-Tag-Throws.md
  docs/TSDoc/TSDoc-Tag-Typeparam.md
  docs/TSDoc/TSDoc-Tag-Virtual.md
  docs/TSDoc/TSDoc-Tag-defaultValue.md
  eslint.config.mjs
  scripts/download-NodePing-docs.js
  scripts/download-chartjs-docs.js
  scripts/download-electron-docs.js
  scripts/download-react-docs.js
  scripts/download-zustand-docs.js
Due: none

🧹 [chore] Clarifies ESLint comments and refines Tailwind usage
  electron/UptimeOrchestrator.ts
  shared/utils/environment.ts
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/Dashboard/SiteCard/SiteCardHeader.tsx
  src/components/Dashboard/SiteCard/components/ActionButtonGroup.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/Header/Header.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/common/MonitorUiComponents.tsx
  src/hooks/useMount.ts
  src/main.tsx
  src/stores/sites/useSiteSync.ts
  src/theme/ThemeManager.ts
  src/theme/components/ThemedButton.tsx
  src/theme/useTheme.ts
  src/types/ipc.ts
  src/types/monitorFormData.ts
  src/utils/cacheSync.ts
  src/utils/data/generateUuid.ts
  src/utils/duration.ts
  src/utils/fallbacks.ts
  src/utils/monitorTypeHelper.ts
  src/utils/monitoring/dataValidation.ts
Due: frontend, electron, UI Components, State Management (Stores), React Hooks, Frontend Utils, Uptime Orchestrator, Site Management, Dashboard & Analytics, Theme System

📝 [docs] Update instructions, prompts, and coverage policies
  .github/instructions/copilot-instructions.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/prompts/Remove-Eslint-Disable.prompt.md
  vite.config.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: none

🔧 [build] Update dev dependencies and simplify npm scripts
  package-lock.json
  package.json
Due: none

🎨 [style] Standardizes quote usage and table formatting
  .github/instructions/copilot-instructions.md
  .github/prompts/Remove-Eslint-Disable.prompt.md
  src/theme/ThemeManager.ts
Due: frontend, Theme System

🧪 [test] Achieve 100% backend and shared test coverage
  electron/test/managers/DatabaseManager.100-percent-coverage.test.ts
  electron/test/managers/DatabaseManager.coverage.test.ts
  electron/test/managers/DatabaseManager.foundation.test.ts
  electron/test/services/commands/DatabaseCommands.test.ts
  electron/test/services/database/MonitorRepository.comprehensive.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/utils/typedQueries.test.ts
  electron/test/shared/utils/safeConversions.test.ts
  electron/test/shared/utils/validation.test.ts
  electron/test/utils/enhanced-testUtilities.ts
  electron/test/utils/testUtilities.ts
  shared/test/utils/jsonSafety.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/utils/environment.ts
  src/test/services/logger.basic.test.ts
  src/test/services/logger.simple.test.ts
  src/test/shared/types/validation.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/utils/monitorValidation.test.ts
  src/theme/ThemeManager.ts
Due: frontend, electron, Theme System

🧪 [test] Strengthen test coverage config and reliability
  tsconfig.electron.test.json
  vite.config.ts
  vitest.electron.config.ts
Due: none

🧪 [test] Improve test readability and error coverage
  electron/test/managers/DatabaseManager.100-percent-coverage.test.ts
  electron/test/managers/DatabaseManager.coverage.test.ts
  electron/test/managers/DatabaseManager.foundation.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/utils/enhanced-testUtilities.ts
  electron/test/utils/testUtilities.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
Due: frontend, electron
