Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**

Bump version to 18.0.0
  package.json
Due: none

🧹 [chore] Bump deps, update lockfile to 18.0.0, remove duplicate bundleDependencies, and refine cleanup handler docs
  .npmpackagejsonlintrc.json
  package-lock.json
  package.json
  src/services/utils/cleanupHandlers.ts
Due: frontend, üîå Frontend Services

📝 [docs] Add implementation-audit snapshots and unify IPC inventory artifact
  docs/Architecture/ADRs/ADR_001_REPOSITORY_PATTERN.md
  docs/Architecture/ADRs/ADR_002_EVENT_DRIVEN_ARCHITECTURE.md
  docs/Architecture/ADRs/ADR_003_ERROR_HANDLING_STRATEGY.md
  docs/Architecture/ADRs/ADR_004_FRONTEND_STATE_MANAGEMENT.md
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  docs/Architecture/ADRs/ADR_006_STANDARDIZED_CACHE_CONFIGURATION.md
  docs/Architecture/ADRs/ARCHITECTURE_DIAGRAM.md
  docs/Architecture/Patterns/COMPONENT_PROPS_STANDARDS.md
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  docs/Architecture/Patterns/site-loading-orchestration.md
  docs/Architecture/README.md
  docs/Architecture/TSDOC_STANDARDS.md
  docs/Architecture/Templates/IPC_HANDLER_TEMPLATE.md
  docs/Architecture/Templates/REPOSITORY_TEMPLATE.md
  docs/Architecture/Templates/REPOSITORY_TEMPLATE_CLEAN.md
  docs/Architecture/Templates/ZUSTAND_STORE_TEMPLATE.md
  docs/Architecture/UsageGuides/Using-This-Documentation.md
  docs/Architecture/generated/IPC_CHANNEL_INVENTORY.md
  docs/Guides/IPC_AUTOMATION_WORKFLOW.md
  docs/Guides/RENDERER_INTEGRATION_GUIDE.md
  docs/Guides/TECHNOLOGY_EVOLUTION.md
  scripts/generate-ipc-artifacts.mts
Due: none

🧹 [chore] Normalize configs, docs, tooling and CI outputs
  .cspell.json
  .editorconfig
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom-issue.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/agents/BeastMode.agent.md
  .github/workflows/Build.yml
  .lycheeignore
  README.md
  SECURITY.md
  config/linting/ActionLintConfig.yaml
  config/tools/.markdown-link-check.json
  config/tools/lychee.toml
  eslint.config.mjs
  mermaid.config.json
  package.json
Due: none

📝 [docs] Refine and standardize JSDoc and type annotations in SiteRepository.ts
  electron/services/database/SiteRepository.ts
Due: electron, üóÑÔ∏è Database Layer

🛠️ [fix] Enforce enriched StatusUpdate payloads and make monitoring broadcasts scope-aware
  electron/UptimeOrchestrator.ts
  electron/services/application/ApplicationService.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/managers/MonitorManager.test.ts
  electron/test/preload.test.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
  electron/test/preload/domains/monitoringApi.comprehensive.test.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  electron/test/types.test.ts
  shared/test/strictTests/monitorStatusEvents-complete-coverage.test.ts
  shared/types.ts
  shared/validation/monitorStatusEvents.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/mock-setup.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üéº Uptime Orchestrator, üîß Backend Services, üîó Integration Layer

✨ [feat] Add DB lock artifact recovery and harden DatabaseService initialization
  .npmpackagejsonlintrc.json
  electron/services/application/ApplicationService.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/utils/databaseLockRecovery.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/DatabaseService.simple.test.ts
  electron/test/services/database/utils/databaseLockRecovery.test.ts
  shared/utils/logTemplates.ts
  src/test/logTemplates.comprehensive.test.ts
  tests/strictTests/electron/services/database/DatabaseService.transactions.test.ts
Due: electron, frontend, shared, üß© Shared Core, üóÑÔ∏è Database Layer, üîß Backend Services, üß∞ Frontend Utilities

🛠️ [fix] Normalize manual check completion payloads: prefer cache snapshots, fall back to payload
  electron/UptimeOrchestrator.ts
  shared/test/fuzzing/siteStatus.fuzz.test.ts
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/setup.ts
  src/test/types.test.tsx
  storybook/setup/electron-api-mock.ts
Due: electron, frontend, shared, üß© Shared Core, üéº Uptime Orchestrator

🛠️ [fix] Enforce canonical StatusUpdate schema, hydrate cached snapshots, and harden monitoring validation
  electron/UptimeOrchestrator.ts
  playwright/tests/app-launch.e2e.playwright.test.ts
  playwright/tests/ui-addsitemodal-basic.ui.playwright.test.ts
  playwright/tests/ui-monitor-types.ui.playwright.test.ts
  playwright/tests/ui-site-card-actions.ui.playwright.test.ts
  playwright/tests/ui-site-table-view.ui.playwright.test.ts
  shared/test/strictTests/monitorStatusEvents-complete-coverage.test.ts
  shared/validation/guards.ts
  shared/validation/monitorStatusEvents.ts
  shared/validation/schemas.ts
  src/services/MonitoringService.ts
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/main.new.test.tsx
  src/test/stores/sites/MonitoringService.test.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/types.test.tsx
  src/test/utils/database.comprehensive-fuzzing.test.ts
Due: electron, frontend, shared, üß© Shared Core, üéº Uptime Orchestrator, üîå Frontend Services, üîó Integration Layer

👷 [ci] Normalize tsconfig $schema URLs to canonical schemastore.org
  .prettierrc
  .storybook/tsconfig.json
  config/tools/.pre-commit-config.yaml
  docs/docusaurus/tsconfig.eslint.json
  docs/docusaurus/tsconfig.json
  docs/docusaurus/tsconfig.typedoc.json
  src/test/tsconfig.json
  storybook/tsconfig.eslint.json
  storybook/tsconfig.json
Due: frontend

🛠️ [fix] Refactor GitHub Actions Build workflow to consolidate output handling - Streamlined output handling in version bumping step by combining echo statements into a single block.
  .github/workflows/Build.yml
  electron/test/services/ipc/utils.comprehensive.test.ts
  playwright/tests/ui-monitor-types.ui.playwright.test.ts
  src/test/setup.ts
  stryker.config.mjs
  vitest.stryker.config.ts
Due: electron, frontend

Bump version to 18.1.0
  package.json
Due: none

Update package.json
  package.json
Due: none

Bump version to 18.2.0
  package.json
Due: none

fix: .snyk to reduce vulnerabilities
  .snyk
Due: none

✨ [feat] Refactor IPC channel usage across multiple APIs
  docs/Guides/API_DOCUMENTATION.md
  electron/preload/domains/dataApi.ts
  electron/preload/domains/monitorTypesApi.ts
  electron/preload/domains/monitoringApi.ts
  electron/preload/domains/settingsApi.ts
  electron/preload/domains/sitesApi.ts
  electron/preload/domains/stateSyncApi.ts
  electron/preload/domains/systemApi.ts
  electron/test/preload/domains/dataApi.comprehensive.test.ts
  electron/test/preload/domains/monitorTypesApi.comprehensive.test.ts
  electron/test/preload/domains/monitoringApi.comprehensive.test.ts
  electron/test/preload/domains/settingsApi.comprehensive.test.ts
  electron/test/preload/domains/sitesApi.comprehensive.test.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  electron/test/preload/domains/systemApi.comprehensive.test.ts
  shared/types/preload.ts
  src/services/MonitorTypesService.ts
  src/test/mock-setup.ts
  src/test/setup.ts
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.simplified100.test.ts
  src/test/stores/monitor/useMonitorTypesStore.test.ts
  src/test/types.test.tsx
  storybook/stories/DetailLabel.stories.tsx
Due: electron, frontend, shared, üß© Shared Core, üîå Frontend Services, üìù Type Definitions

🔧 [build] Update dependencies in package.json
  docs/docusaurus/package-lock.json
  package-lock.json
  package.json
Due: none

🔧 [build] Update dependencies in package.json
  config/schemas/generic.schema.json
  config/tools/cliff.toml
  config/tools/lychee.toml
  package-lock.json
  package.json
Due: none

📝 [docs] Update documentation for clarity and consistency
  .gitleaks.toml
  .prettierignore
  CONTRIBUTING.md
  README.md
  SECURITY.md
  config/tools/lychee.toml
  docs/Architecture/ADRs/ADR_006_STANDARDIZED_CACHE_CONFIGURATION.md
  docs/Architecture/Patterns/COMPONENT_PROPS_STANDARDS.md
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  docs/Architecture/Patterns/SITE_LOADING_ORCHESTRATION.md
  docs/Architecture/generated/IPC_CHANNEL_INVENTORY.md
  docs/Guides/API_DOCUMENTATION.md
  docs/Guides/DOCUMENTATION_INDEX.md
  docs/Guides/IPC_AUTOMATION_WORKFLOW.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/ORGANIZATION_SUMMARY.md
  docs/Guides/README.md
  docs/Guides/RENDERER_INTEGRATION_GUIDE.md
  docs/Guides/VITE_PERFORMANCE.md
  docs/Guides/validation-strategy.md
  docs/Testing/FAST_CHECK_FUZZING_GUIDE.md
  docs/Testing/PLAYWRIGHT_TESTING_GUIDE.md
  docs/Testing/README.md
Due: none

Bump version to 18.3.0
  package.json
Due: none

Bump version to 18.4.0
  package.json
Due: none

📝 [docs] Update documentation metadata and structure across multiple guides
  .github/prompts/Add-ToDo.prompt.md
  config/schemas/doc-frontmatter.schema.json
  docs/Guides/AI_CONTEXT.md
  docs/Guides/API_DOCUMENTATION.md
  docs/Guides/DEVELOPER_QUICK_START.md
  docs/Guides/DEVTOOLS_SNIPPETS.md
  docs/Guides/DOCUMENTATION_INDEX.md
  docs/Guides/DOCUMENTATION_STYLE_GUIDE.md
  docs/Guides/DOCUSAURUS_SETUP_GUIDE.md
  docs/Guides/ENVIRONMENT_SETUP.md
  docs/Guides/ERROR_HANDLING_GUIDE.md
  docs/Guides/EVENT_SYSTEM_GUIDE.md
  docs/Guides/FALLBACK_SYSTEM_USAGE_ANALYSIS.md
  docs/Guides/IPC_AUTOMATION_WORKFLOW.md
  docs/Guides/MONITORING_RACE_CONDITION_SOLUTION_PLAN.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/ORGANIZATION_SUMMARY.md
  docs/Guides/README.md
  docs/Guides/RENDERER_INTEGRATION_GUIDE.md
  docs/Guides/STORYBOOK_VITEST_COMPONENT_TESTING.md
  docs/Guides/STYLE_LAYOUT_GUIDE.md
  docs/Guides/TECHNOLOGY_EVOLUTION.md
  docs/Guides/TESTING.md
  docs/Guides/TESTING_METHODOLOGY_REACT_COMPONENTS.md
  docs/Guides/TOOLS_AND_COMMANDS_GUIDE.md
  docs/Guides/TROUBLESHOOTING.md
  docs/Guides/TYPE_FEST_PATTERNS.md
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  docs/Guides/VITE_PERFORMANCE.md
  docs/Guides/ZUSTAND_STORE_PATTERN_GUIDE.md
  docs/Guides/validation-strategy.md
  docs/Testing/README.md
  docs/Testing/TEST_VERBOSITY_GUIDE.md
  shared/test/typeGuards.monitor.test.ts
  src/test/components/Dashboard/Overview/DashboardOverview.test.tsx
Due: frontend, shared, üß© Shared Core

Bump version to 18.5.0
  package.json
Due: none

📝 [docs] Update metadata and structure in documentation files
  docs/Architecture/README.md
  docs/CONSISTENCY_GUIDE.md
  docs/Testing/README.md
  docs/docusaurus/README.md
  docs/docusaurus/src/pages/ESLINT-INSPECTOR-DEPLOYMENT-SUMMARY.md
  docs/docusaurus/src/pages/markdown-page.md
Due: none

Bump version to 18.6.0
  package.json
Due: none

Bump version to 18.7.0
  package.json
Due: none

🔧 [build] Update dependencies in package.json
  .remarkrc.mjs
  SUPPORT.md
  docs/Architecture/ADRs/ADR_003_ERROR_HANDLING_STRATEGY.md
  docs/Architecture/ADRs/ADR_006_STANDARDIZED_CACHE_CONFIGURATION.md
  docs/Architecture/Patterns/COMPONENT_PROPS_STANDARDS.md
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  docs/Architecture/TSDOC_STANDARDS.md
  docs/Architecture/Templates/ZUSTAND_STORE_TEMPLATE.md
  docs/CONSISTENCY_GUIDE.md
  docs/Guides/DEVTOOLS_SNIPPETS.md
  docs/Guides/DOCUMENTATION_STYLE_GUIDE.md
  docs/Guides/DOCUSAURUS_SETUP_GUIDE.md
  docs/Guides/ERROR_HANDLING_GUIDE.md
  docs/Guides/EVENT_SYSTEM_GUIDE.md
  docs/Guides/FALLBACK_SYSTEM_USAGE_ANALYSIS.md
  docs/Guides/TECHNOLOGY_EVOLUTION.md
  docs/Guides/TESTING.md
  docs/Guides/TOOLS_AND_COMMANDS_GUIDE.md
  docs/Guides/TROUBLESHOOTING.md
  docs/Guides/TYPE_FEST_PATTERNS.md
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  docs/Guides/validation-strategy.md
  docs/Testing/PLAYWRIGHT_CODEGEN_GUIDE.md
  docs/Testing/PLAYWRIGHT_TESTING_GUIDE.md
  docs/Testing/ZERO_COVERAGE_AUDIT.md
  docs/docusaurus/src/pages/ESLINT-INSPECTOR-DEPLOYMENT-SUMMARY.md
  package-lock.json
  package.json
Due: none

🧪 [test] Enhance comprehensive test coverage for various components and utilities
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/components/Alerts/StatusAlertToaster.test.tsx
  src/test/components/Alerts/alertCoordinator.test.ts
  src/test/components/Dashboard/SiteCard/SiteCardHeader.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCompactCard.test.tsx
  src/test/components/SiteDetails/tabs/AnalyticsTab.comprehensive.test.tsx
  src/test/services/StateSyncService.comprehensive.test.ts
  src/test/stores/ui/useConfirmDialogStore.test.ts
  src/test/utils/monitorValidation.error-handling.test.ts
Due: frontend

🎨 [style] Update ESLint configuration for UptimeOrchestrator
  electron/UptimeOrchestrator.ts
Due: electron, üéº Uptime Orchestrator

📝 [docs] Add TypeScript and YAML guidelines
  .github/Github_Actions.instructions.md
  .github/JSON.instructions.md
  .github/MJS.instructions.md
  .github/Markdown.instructions.md
  .github/Playwright-Typescript.instructions.md
  .github/Powershell.instructions.md
  .github/ReactJS.instructions.md
  .github/Storybook.instructions.md
  .github/Typescript_5.instructions.md
  .github/Vite-Benchmark-Typescript.instructions.md
  .github/Vite-FastCheck-Typescript.instructions.md
  .github/YAML.instructions.md
  .github/copilot-instructions.md
Due: none

📝 [test] Add comprehensive coverage tests for hooks and utilities
  src/test/hooks/usePrefersReducedMotion.coverage.test.tsx
  src/test/stores/sites/utils/statusUpdateSnapshot.fast-check.test.ts
  src/test/utils/fallbacks.monitor-type-coverage.test.ts
  src/test/utils/monitorValidation.advanced-types.test.ts
  src/test/utils/monitoring/globalMetrics.property.test.ts
  vite.config.ts
Due: frontend

🔧 [build] Update @types/react and related dependencies
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: none

🔧 [build] Refactor UI density handling and improve modal animations
  .github/agents/BeastMode.agent.md
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  docs/docusaurus/src/pages/index.module.css
  docs/docusaurus/src/pages/index.tsx
  src/components/Alerts/StatusAlertToaster.css
  src/components/Dashboard/Overview/DashboardOverview.css
  src/components/Dashboard/SiteCard/SiteCompactCard.css
  src/components/Dashboard/SiteList/SiteList.css
  src/components/Dashboard/SiteList/SiteList.tsx
  src/components/Dashboard/SiteList/SiteListLayoutSelector.tsx
  src/components/Dashboard/SiteList/SiteTableRow.tsx
  src/components/Dashboard/SiteList/SiteTableView.css
  src/components/Dashboard/SiteList/SiteTableView.tsx
  src/components/Header/Header.css
  src/components/Header/HeaderControls.tsx
  src/components/Layout/AppSidebar/AppSidebar.css
  src/components/Settings/Settings.css
  src/components/SiteDetails/styles/header.css
  src/components/SiteDetails/styles/history.css
  src/components/SiteDetails/styles/layout.css
  src/components/SiteDetails/styles/navigation.css
  src/components/SiteDetails/styles/settings.css
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/common/ConfirmDialog/ConfirmDialog.css
  src/components/common/GalaxyBackground/GalaxyBackground.css
  src/components/common/GalaxyBackground/GalaxyBackground.tsx
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/test/components/Dashboard/SiteList/SiteList.layout-behavior.test.tsx
  src/test/components/Dashboard/SiteList/SiteTableView.fast-check.test.tsx
  src/theme/styles/components/animations.css
  src/theme/styles/components/buttons.css
  src/theme/styles/components/cards.css
  src/theme/styles/components/forms.css
  src/theme/styles/components/foundation.css
  src/theme/styles/components/icons.css
  src/theme/styles/components/layout.css
  src/theme/styles/components/overlays.css
  src/theme/styles/components/utilities.css
Due: frontend, üì¶ Frontend State Stores, üß© Core UI Components, üîß Common UI Components, üé® Theme System
