Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

🛡️ [fix] Reject blank history numbers
  electron/services/database/utils/mappers/historyMapper.ts
  electron/test/services/database/utils/historyMapper.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Validate mapped monitor timestamps
  electron/services/database/utils/schema/dynamicSchema.ts
  electron/test/services/database/utils/dynamicSchema.conversion.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Normalize required monitor timestamps
  electron/services/database/utils/schema/dynamicSchema.ts
  electron/test/services/database/utils/dynamicSchema.conversion.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Handle invalid display timestamps
  src/test/utils/time.property.test.ts
  src/test/utils/time.test.ts
  src/utils/time.ts
Due: frontend, üß∞ Frontend Utilities

🛡️ [fix] Handle non-finite duration formatting
  src/test/utils/time.property.test.ts
  src/test/utils/time.test.ts
  src/utils/time.ts
Due: frontend, üß∞ Frontend Utilities

🛡️ [fix] Reject invalid epoch timestamps
  shared/test/validation/cloudSchemas.test.ts
  shared/test/validation/dataSchemas.test.ts
  shared/validation/cloudSchemas.ts
  shared/validation/dataSchemas.ts
  shared/validation/timestampSchemas.ts
Due: shared, üß© Shared Core, üîó Integration Layer

🛡️ [fix] Bound shared event timestamps
  shared/test/types/cloudBackupMigration.test.ts
  shared/test/types/events.test.ts
  shared/test/types/stateSync.test.ts
  shared/types/cloudBackupMigration.ts
  shared/types/events.ts
  shared/types/stateSync.ts
Due: shared, üß© Shared Core, ‚öôÔ∏è Configuration Management, üìù Type Definitions

🛡️ [fix] Bound cloud sync timestamps
  shared/test/types/cloudSync.test.ts
  shared/test/types/cloudSyncBaseline.test.ts
  shared/test/types/cloudSyncManifest.test.ts
  shared/test/types/cloudSyncSnapshot.test.ts
  shared/types/cloudSync.ts
  shared/types/cloudSyncBaseline.ts
  shared/types/cloudSyncManifest.ts
  shared/types/cloudSyncSnapshot.ts
Due: shared, üß© Shared Core, üìù Type Definitions

🛡️ [fix] Normalize manifest schema output
  shared/test/types/cloudSyncManifest.test.ts
  shared/types/cloudSyncManifest.ts
Due: shared, üß© Shared Core, üìù Type Definitions

🛡️ [fix] Bound sync object key timestamps
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/services/sync/snapshotKeyUtils.ts
  electron/services/sync/syncEngineKeyUtils.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
  electron/test/services/sync/providerKeyValidation.test.ts
  electron/test/services/sync/syncEngineKeyUtils.test.ts
Due: electron

🛡️ [fix] Bound database row timestamps
  shared/test/types/database.test.ts
  shared/types/database.ts
Due: shared, üß© Shared Core, üóÑÔ∏è Database Layer, üìù Type Definitions

🛡️ [fix] Bound IPC state sync timestamps
  electron/services/ipc/internal/stateSyncStatusNormalization.ts
  electron/services/ipc/internal/stateSyncStatusSummary.ts
  electron/test/services/ipc/internal/stateSyncStatusNormalization.test.ts
  electron/test/services/ipc/internal/stateSyncStatusSummary.test.ts
Due: electron, üîó IPC Communication Layer

🛡️ [fix] Bound cloud status timestamps
  electron/services/cloud/CloudService.ts
  electron/services/cloud/internal/cloudServiceSettings.ts
  electron/test/services/cloud/internal/cloudServiceSettings.test.ts
Due: electron

🛡️ [fix] Normalize event metadata validation
  electron/events/eventMetadataGuards.ts
  electron/services/ServiceContainerEventForwarder.ts
  electron/test/events/eventMetadataGuards.test.ts
  electron/test/services/ServiceContainer.working.test.ts
Due: electron, üîó Integration Layer

🛡️ [fix] Bound cloud token expirations
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
  electron/services/cloud/providers/dropbox/DropboxTokens.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveTokenManager.ts
  electron/test/services/cloud/providers/dropbox/DropboxTokenManager.test.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveTokenManager.test.ts
Due: electron

🛡️ [fix] Bound monitor history timestamps
  src/test/utils/monitoring/monitorHistoryTime.test.ts
  src/utils/monitoring/monitorHistoryTime.ts
Due: frontend, üß∞ Frontend Utilities

🛡️ [fix] Bound dynamic schema timestamps
  electron/services/database/utils/schema/dynamicSchema.ts
  electron/test/services/database/utils/dynamicSchema.conversion.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Reject blank generated UUIDs
  src/test/utils/data/generateUuid.comprehensive.test.ts
  src/utils/data/generateUuid.ts
Due: frontend, üß∞ Frontend Utilities

🛡️ [fix] Recover corrupt sync manifests
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
Due: electron

🛡️ [fix] Classify corrupt sync snapshots
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
Due: electron

🛡️ [fix] Validate cloud backup sidecars before upload
  electron/services/cloud/providers/cloudBackupIo.ts
  electron/test/services/cloud/providers/cloudBackupIo.test.ts
Due: electron

🛡️ [fix] Enforce canonical cloud backup names
  electron/services/cloud/providers/cloudBackupIo.ts
  electron/test/services/cloud/providers/cloudBackupIo.test.ts
Due: electron

🛡️ [fix] Tighten monitor numeric validation
  shared/test/schemas.property.test.ts
  shared/test/validation/statusUpdateSchemas.test.ts
  shared/validation/monitorSchemas.common.ts
  shared/validation/statusUpdateSchemas.ts
Due: shared, üß© Shared Core, üîó Integration Layer

🛡️ [fix] Validate snapshot history overlays
  shared/test/utils/siteSnapshots.comprehensive.test.ts
  shared/utils/siteSnapshots.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛡️ [fix] Reject invalid snapshot response times
  shared/test/utils/siteSnapshots.comprehensive.test.ts
  shared/utils/siteSnapshots.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛡️ [fix] Reject malformed monitor snapshots
  shared/test/utils/siteSnapshots.comprehensive.test.ts
  shared/utils/siteSnapshots.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🛡️ [fix] Normalize status update timestamps
  src/stores/sites/utils/statusUpdatePayload.ts
  src/test/stores/sites/utils/statusUpdatePayload.test.ts
Due: frontend

🛡️ [fix] Reject loose monitor timestamps
  electron/services/monitoring/shared/monitorServiceHelpers.ts
  electron/test/services/monitoring/shared/monitorServiceHelpers.test.ts
Due: electron, üéØ Monitoring Core Engine

🛡️ [fix] Reject loose Drive timestamps
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.test.ts
Due: electron

🛡️ [fix] Reject loose Dropbox timestamps
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/test/services/cloud/providers/dropbox/DropboxCloudStorageProvider.test.ts
Due: electron

🛡️ [fix] Reject fractional monitor config values
  electron/services/monitoring/createMonitorConfig.ts
  electron/test/services/monitoring/createMonitorConfig.test.ts
Due: electron, üéØ Monitoring Core Engine

🛡️ [fix] Reject loose status snapshot timestamps
  src/stores/sites/utils/statusUpdateSnapshot.ts
  src/test/stores/sites/utils/statusUpdateSnapshot.timestamp.test.ts
Due: frontend

🛡️ [fix] Reject partial monitor threshold strings
  src/stores/sites/utils/monitorOperations.normalize.ts
  src/test/monitorOperations.test.ts
Due: frontend

🛡️ [fix] Reject negative time display values
  src/test/utils/time.property.test.ts
  src/test/utils/time.test.ts
  src/utils/time.ts
Due: frontend, üß∞ Frontend Utilities

🛡️ [fix] Sanitize mini chart timestamps
  src/test/theme/components.maximal-coverage.test.tsx
  src/theme/components/MiniChartBar.tsx
Due: frontend, üé® Theme System

🛡️ [fix] Sanitize cloud timestamp displays
  src/components/Settings/cloud/CloudSection.tsx
  src/components/Settings/cloud/RemoteBackupsPanel.tsx
  src/test/components/Settings/cloud/CloudSection.test.tsx
Due: frontend, üîß Common UI Components

🛡️ [fix] Sanitize last checked display
  src/components/SiteDetails/tabs/SettingsTab.SiteInformationCard.tsx
  src/test/components/SiteDetails/tabs/SettingsTab.test.tsx
Due: frontend, üß© Core UI Components

🛡️ [fix] Preserve empty dynamic numeric inputs
  src/components/AddSiteForm/DynamicField.tsx
  src/test/components/AddSiteForm/DynamicField.additional-coverage.test.tsx
  src/test/strictTests/DynamicField.critical.test.tsx
Due: frontend, üß© Core UI Components

🛡️ [fix] Sanitize settings backup timestamp
  src/components/Settings/useSettingsController.tsx
  src/test/components/Settings/Settings.test.tsx
Due: frontend, üîß Common UI Components

🛡️ [fix] Validate status alert values
  src/components/Alerts/StatusAlertToast.tsx
  src/components/Alerts/alertCoordinator.ts
  src/stores/alerts/utils/alertPayload.ts
  src/test/components/Alerts/StatusAlertToast.test.tsx
Due: frontend

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
