Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, electron, UI Components, State Management (Stores), Frontend Services, React Hooks, Frontend Utils, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Settings & Configuration, Dashboard & Analytics, Error Handling, Theme System, Type Definitions, Constants

Path conditions:
  frontend: any of: src/
  electron: any of: electron/
  UI Components: any of: src/components/**
  State Management (Stores): any of: src/stores/**
  Frontend Services: any of: src/services/**
  React Hooks: any of: src/hooks/**
  Frontend Utils: any of: src/utils/**
  Core Backend Services: any of: electron/services/**
  Domain Managers: any of: electron/managers/**
  Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  Backend Utils: any of: electron/utils/**, electron/electronUtils.ts
  Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts
  Monitoring Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts
  IPC Communication: any of: electron/services/ipc/**, electron/preload.ts
  Site Management: any of: electron/managers/SiteManager.ts, src/stores/sites/**, src/components/AddSiteForm/**, src/components/SiteDetails/**
  Settings & Configuration: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, src/components/Settings/**
  Dashboard & Analytics: any of: src/components/Dashboard/**, src/stores/stats/**, src/stores/ui/**
  Error Handling: any of: src/stores/error/**
  Theme System: any of: src/theme/**
  Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts
  Constants: any of: src/constants.ts, electron/constants.ts

🛠️ [fix] Log update check errors during initialization
  electron/services/application/ApplicationService.ts
Due: electron, Core Backend Services

Bump version to 6.2.0
  package.json
Due: none

🛠️ [fix] Prevents update check errors from logging to console
  electron/services/application/ApplicationService.ts
Due: electron, Core Backend Services

🚜 [refactor] Extract theme property application into helper methods
  sonar-project.properties
  src/theme/ThemeManager.ts
Due: frontend, Theme System

Bump version to 6.3.0
  package.json
Due: none

📝 [docs] Correct typo and remove redundant ESLint comment
  src/components/SiteDetails/SiteDetails.tsx
  src/hooks/site/useSiteActions.ts
Due: frontend, UI Components, React Hooks, Site Management

Bump version to 6.4.0
  package.json
Due: none

🛠️ [fix] Update type configs and test mocks for ES2024 features
  electron/events/eventTypes.ts
  electron/test/utils/database/DataImportExportService.test.ts
  tsconfig.electron.json
  tsconfig.electron.test.json
  tsconfig.json
Due: electron

🛠️ [fix] Use Object.hasOwn for safer property checks
  src/theme/useTheme.ts
Due: frontend, Theme System

🧹 [chore] Update spell-check config and add automation script
  custom-words.txt
  electron/test/utils/database/DataImportExportService.test.ts
  scripts/add-cspell-words.js
  tsconfig.electron.json
  tsconfig.electron.test.json
  tsconfig.json
Due: electron

🚜 [refactor] Improve cspell word appender script flexibility
  scripts/add-cspell-words.js
  scripts/add-cspell-words.mjs
Due: none

🎨 [style] Reformat script for consistent indentation
  scripts/add-cspell-words.mjs
Due: none

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/codecov-alternative.yml
  .github/workflows/codecov.yml
  .github/workflows/sonarcloud.yml
Due: none

[StepSecurity] ci: Harden GitHub Actions (#27)
  .github/workflows/codecov-alternative.yml
  .github/workflows/codecov.yml
  .github/workflows/sonarcloud.yml
Due: none

🔧 [build] Add PostCSS asset and SVG plugins, update settings
  .vscode/settings.json
  package-lock.json
  package.json
  postcss.config.js
  src/components/SiteDetails/SiteDetails.css
  src/index.css
Due: frontend, UI Components, Site Management

🧹 [chore] Unify Prettier config, improve meta tags & CI YAMLs
  .github/workflows/codecov-alternative.yml
  .github/workflows/codecov.yml
  .github/workflows/sonarcloud.yml
  .mega-linter.yml
  .prettierrc
  .prettierrc.json
  .vscode/settings.json
  index.html
  tsconfig.json
Due: none

🔧 [build] Update linter configs and ignore patterns for dev tools
  .devskim.json
  .markdownlintignore
  .mega-linter.yml
Due: none

✨ [feat] Add script to find empty directories in project
  scripts/find-empty-dirs.mjs
Due: none

Bump version to 6.5.0
  package.json
Due: none

📝 [docs] Add TSDoc tag kinds docs and update logging cleanup
  docs/.github/TSDoc-base-tags.md
  docs/.github/TSDoc-tags.md
  electron/main.ts
  electron/test/main.test.ts
  package-lock.json
  package.json
Due: electron

📝 [docs] Clarify and expand TSDoc comments for monitoring types
  .github/instructions/copilot-instructions.md
  electron/index.ts
  electron/main.ts
  electron/types.ts
Due: electron, Type Definitions

🚜 [refactor] Refine monitor types and streamline responseTime handling
  electron/main.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/utils/monitorMapper.ts
  electron/types.ts
Due: electron, Core Backend Services, Database Layer, Type Definitions

🧪 [test] Set default responseTime to 0 in monitor tests
  electron/test/services/database/MonitorRepository.test.ts
Due: electron

🚜 [refactor] Remove unnecessary use of undefined in types
  UNDEFINED_CLEANUP_REPORT.md
  UNDEFINED_TYPES_REFACTORING.md
  electron/managers/DatabaseManager.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/monitorMapper.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/utils/database/DataBackupService.test.ts
  electron/types.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/repositoryAdapters.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/Submit.tsx
  src/hooks/site/useSiteDetails.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/utils/monitorOperations.ts
  src/test/AddSiteForm.test.tsx
  src/test/useSiteActions.test.ts
  src/test/useSiteDetails.uncovered.test.ts
  src/types.ts
Due: frontend, electron, UI Components, State Management (Stores), React Hooks, Core Backend Services, Domain Managers, Backend Utils, Database Layer, Site Management, Type Definitions

✨ [feat] Add site-level monitoring control and type safety
  electron/managers/MonitorManager.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/databaseSchema.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/utils/database/DataBackupService.test.ts
  electron/utils/database/SiteRepositoryService.ts
  fix-types.js
  src/hooks/site/useSiteDetails.ts
  src/stores/sites/useSiteOperations.ts
  src/test/App.test.tsx
  src/test/MonitorSelector.test.tsx
  src/test/SiteDetails.basic.test.tsx
  src/test/SiteDetails.comprehensive.test.tsx
  src/test/SiteDetails.simple.test.tsx
  src/test/SiteDetails.test.tsx
  src/test/SiteDetails.uncovered.test.tsx
  src/test/Submit.comprehensive.test.tsx
  src/test/additional-uncovered-lines-fixed.test.ts
  src/test/additional-uncovered-lines.test.ts
  src/test/monitorOperations.test.ts
  src/test/siteStatus.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/statusUpdateHandler.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.test.ts
  src/test/stores/sites/useSitesState.test.ts
  src/test/stores/sites/useSitesStore.edgeCases.test.ts
  src/test/stores/sites/useSitesStore.getSites.test.ts
  src/test/stores/sites/useSitesStore.integration.test.ts
  src/test/types.test.ts
  src/test/useSite.test.ts
  src/test/useSiteAnalytics.test.ts
  src/test/useSiteDetails.comprehensive.test.ts
  src/test/useSiteDetails.uncovered.test.ts
  src/test/useSiteMonitor.test.ts
  src/test/useSitesStore.test.ts
  src/test/useSitesStore.uncovered.test.ts
  src/test/useStatsStore.test.ts
Due: frontend, electron, State Management (Stores), React Hooks, Core Backend Services, Domain Managers, Backend Utils, Database Layer, Monitoring Engine, Site Management

🚜 [refactor] Unifies DB transactions, adds new monitor setup logic
  electron/UptimeOrchestrator.ts
  electron/events/eventTypes.ts
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/historyLimitManager.ts
  electron/utils/database/interfaces.ts
  electron/utils/database/repositoryAdapters.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/App.tsx
  src/stores/sites/useSiteOperations.ts
  src/stores/utils.ts
Due: frontend, electron, State Management (Stores), Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, Site Management

🧪 [test] Update tests for internal DB transaction usage
  electron/test/MonitorManager.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/utils/database/DataBackupService.test.ts
  electron/test/utils/database/DataImportExportService.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
  electron/test/utils/database/historyLimitManager.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
  src/test/App.test.tsx
  src/test/Submit.comprehensive.test.tsx
  src/test/useSiteActions.test.ts
  src/test/useSiteDetails.uncovered.test.ts
  src/test/utils.test.ts
Due: frontend, electron

🚜 [refactor] Move initial monitor checks to scheduler
  electron/managers/MonitorManager.ts
  electron/test/MonitorManager.test.ts
Due: electron, Domain Managers, Monitoring Engine

🚜 [refactor] Ensure consistent transactional DB patterns, fix monitor double-check, and update lint/test infra
  docs/REFACTORING_SUMMARY.md
  docs/UNDEFINED_CLEANUP_REPORT.md
  docs/UNDEFINED_TYPES_REFACTORING.md
  docs/chatproject.md
  eslint.config.mjs
  package.json
Due: none

🚜 [refactor] Simplifies monitor and site property handling logic
  electron/managers/ConfigurationManager.ts
  electron/managers/SiteManager.ts
  electron/services/database/MonitorRepository.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/PortMonitor.ts
  electron/services/notifications/NotificationService.ts
  electron/utils/database/DataBackupService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/components/Dashboard/SiteCard/SiteCardHeader.tsx
  src/components/Dashboard/SiteCard/index.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/stores/utils.ts
Due: frontend, electron, UI Components, State Management (Stores), Core Backend Services, Domain Managers, Backend Utils, Database Layer, Monitoring Engine, Site Management, Settings & Configuration, Dashboard & Analytics

🧪 [test] Remove obsolete configuration and port monitor tests
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/services/monitoring/PortMonitor.test.ts
  package.json
Due: electron

🧪 [test] Update tests for monitor defaults and remove timeout fallback checks
  electron/test/services/monitoring/PortMonitor.test.ts
  src/test/types.test.tsx
Due: frontend, electron

🧪 [test] Remove redundant frontend tests and skip unstable branches
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/services/monitoring/HttpMonitor.basic.test.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
  electron/test/utils/monitoring/monitorStatusChecker.test.ts
  package.json
  src/test/ActionButtonGroup.test.tsx
  src/test/HistoryChart.test.tsx
  src/test/MonitorSelector.test.tsx
  src/test/Settings.uncovered.test.tsx
  src/test/SiteCardHeader.test.tsx
  src/test/SiteDetails.basic.test.tsx
  src/test/SiteDetails.comprehensive.test.tsx
  src/test/SiteDetails.simple.test.tsx
  src/test/Submit.comprehensive.test.tsx
  src/test/commonIndex.test.ts
  src/test/componentsEdgeCases.test.tsx
  src/test/coverage-completion.test.tsx
  src/test/dashboard-components.test.tsx
  src/test/low-coverage-components.test.tsx
  src/test/main.error.test.tsx
  src/test/siteCardComponentsIndex.test.ts
  src/test/store.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/submitEdgeCases.test.tsx
  src/test/types.test.ts
  src/test/useErrorStore.test.ts
  src/test/useSiteActions.test.ts
  src/test/useSiteDetails.uncovered.test.ts
  src/test/useSiteMonitor.test.ts
  src/test/useSitesStore.coverage.test.ts
  src/test/useStatsStore.test.ts
  src/test/useUiStore.test.ts
  src/test/utils.test.ts
Due: frontend, electron

🛠️ [fix] Prevent duplicate monitor checks and clean up tests
  docs/chatproject.md
  electron/services/notifications/NotificationService.ts
  electron/test/services/monitoring/PortMonitor.test.ts
  eslint.config.mjs
  src/test/types.test.tsx
Due: frontend, electron, Core Backend Services

🧪 [test] Guard monitor type checks against undefined
  src/test/types.test.tsx
Due: frontend

Bump version to 6.6.0
  package.json
Due: none

🧪 [test] Add comprehensive tests for dashboard components
  src/stores/utils.ts
  src/test/components/ActionButtonGroup.test.tsx
  src/test/components/EmptyState.test.tsx
  src/test/components/ErrorBoundary.test.tsx
  src/test/components/MetricCard.test.tsx
  src/test/components/MonitorSelector.test.tsx
  src/test/components/SiteCardFooter.test.tsx
  src/test/components/SiteCardHeader.test.tsx
  src/test/main.test.tsx
  src/test/setup.ts
Due: frontend, State Management (Stores)

🔧 [build] Enhance ESLint config and update test code style
  eslint.config.mjs
  package-lock.json
  package.json
  src/test/components/ActionButtonGroup.test.tsx
  src/test/components/EmptyState.test.tsx
  src/test/components/MetricCard.test.tsx
  src/test/components/MonitorSelector.test.tsx
  src/test/components/SiteCardFooter.test.tsx
  src/test/components/SiteCardHeader.test.tsx
  src/test/main.test.tsx
Due: frontend
