Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, electron

.codecov.yml:

# Codecov configuration for Uptime Watcher
# See: https://docs.codecov.com/docs/codecov-yaml

codecov:
    require_ci_to_pass: true
    notify:
        wait_for_ci: true
        after_n_builds: 2 # Wait for both frontend and electron uploads
    branch: main
    max_report_age: 24 # Reject reports older than 24 hours

coverage:
    precision: 2
    round: down
    range: "70...100"

    status:
        project:
            default:
                target: auto
                threshold: 1%
                base: auto
            frontend:
                flags:
                    - frontend
                target: auto
                threshold: 1%
            electron:
                flags:
                    - electron
                target: auto
                threshold: 1%
        patch:
            default:
                target: 70%
                threshold: 5%
            frontend:
                flags:
                    - frontend
                target: 70%
                threshold: 5%
            electron:
                flags:
                    - electron
                target: 70%
                threshold: 5%

    ignore:
        # Build outputs and compiled files
        - "dist/**/*"
        - "dist-electron/**/*"
        - "**/dist/**/*"
        - "electron/dist/**/*"

        # Development and configuration files
        - "coverage/**/*"
        - "release/**/*"
        - "scripts/**/*"
        - "docs/**/*"
        - "**/*.config.*"
        - "**/*.d.ts"
        - "**/node_modules/**/*"

        # Test files
        - "**/*.test.*"
        - "**/*.spec.*"
        - "**/test/**/*"
        - "src/test/**/*"
        - "electron/test/**/*"

        # Static assets
        - "public/**/*"
        - "icons/**/*"
        - "**/*.md"
        - "**/*.yml"
        - "**/*.yaml"
        - "**/*.json"

comment:
    layout: "header, flags, diff, tree, files, reach, betaprofiling, components, footer, feedback"
    behavior: default
    require_changes: false
    require_base: false # Allow comments on first PR
    require_head: true # Require head report to comment

flags:
    frontend:
        paths:
            - src/
        carryforward: false
    electron:
        paths:
            - electron/
        carryforward: false

github_checks:
    annotations: true

parsers:
    javascript:
        enable_partials: yes # default yes
    v1:
        include_full_missed_files: true # Show files with 0% coverage
    gcov:
        branch_detection:
            conditional: yes # Track if/else branches
            loop: yes # Track loop branches
            method: no # Don't track method entry/exit
            macro: no # Don't track macro expansions

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    after_n_builds: 2  # Wait for both frontend and electron builds

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
      frontend:
        flags:
          - frontend
        target: auto
        threshold: 1%
      electron:
        flags:
          - electron
        target: auto
        threshold: 1%
    patch:
      default:
        target: 70%
        threshold: 5%

flags:
  frontend:
    paths:
      - src/
    carryforward: false
  electron:
    paths:
      - electron/
    carryforward: false

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false

👷 [ci] Reformat codecov config for consistent YAML indentation
  codecov.yml
Due: none

📝 [docs] Add AI refactor prompt templates and update test doc location
  .github/prompts/Refactor-Electron-Analyze.prompt.md
  .github/prompts/Refactor-Electron.prompt.md
  .github/prompts/Refactor-Generic.prompt.md
  .github/prompts/Refactor-TechStack.prompt.md
  .github/prompts/Refactor-TypeScript-Analyze.prompt copy.md
  .github/prompts/Refactor-Typescript.prompt.md
  src/test/TESTING.md
Due: frontend

🚜 [refactor] Remove unnecessary v8 ignore comments and improve controlled input handling
  electron/services/application/ApplicationService.ts
  electron/services/database/MonitorRepository.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/PortMonitor.ts
  electron/uptimeMonitor.ts
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/theme/components.tsx
  src/theme/useTheme.ts
  src/utils/duration.ts
Due: frontend, electron

🧹 [chore] Add script to standardize test file naming
  scripts/rename-tests.ps1
Due: none

Bump version to 4.3.0
  package.json
Due: none

📝 [docs] Add comprehensive refactoring and modernization guides
  custom-words.txt
  docs/ADDITIONAL_REFACTORING_OPPORTUNITIES.md
  docs/COMPREHENSIVE_BEST_PRACTICES_ANALYSIS.md
  docs/DOCUMENTATION_REVIEW_ANALYSIS.md
  docs/IDIOMATIC_CODE_REFACTORING_GUIDE.md
  docs/MIGRATION_SCRIPTS.md
  docs/MODERN_CODE_REFACTORING_GUIDE.md
  docs/REFACTORING_ANALYSIS.md
  docs/old/guides/Feature-Development-Guide.md
  docs/old/health-reports/Codebase-Health-Check.md
Due: none

🚜 [refactor] Simplifies DB initialization with shared utility
  electron/uptimeMonitor.ts
  electron/utils/database/databaseInitializer.ts
Due: electron

👷 [ci] Update test scripts for Electron integration
  package-lock.json
  package.json
Due: none

🚜 [refactor] Modularize site and monitor database logic
  electron/test/uptimeMonitor.test.ts
  electron/uptimeMonitor.ts
  electron/utils/database/historyLimitManager.ts
  electron/utils/database/siteAdder.ts
  electron/utils/database/siteRemover.ts
  electron/utils/database/sitesGetter.ts
  electron/utils/database/sitesLoader.ts
  electron/utils/monitoring/autoStarter.ts
  electron/utils/monitoring/intervalSetter.ts
  electron/utils/monitoring/monitorChecker.ts
Due: electron

🧪 [test] Remove edge case and coverage tests for improved maintainability
  scripts/rename-tests.ps1
  src/test/commonIndex.test.ts
  src/test/componentsEdgeCases.test.tsx
  src/test/edgeCases.test.ts
  src/test/finalCoverageAnalysis.test.tsx
  src/test/historyTabEdgeCases.test.tsx
  src/test/remainingCoverage.test.tsx
  src/test/settingsTabFormatDuration.test.tsx
  src/test/siteCardComponentsIndex.test.ts
  src/test/siteDetailsIndex.test.ts
  src/test/siteDetailsTabsIndex.test.ts
  src/test/storeEdgeCases.test.ts
  src/test/storeLine190.test.ts
  src/test/submitEdgeCases.test.tsx
  src/test/themeComponents.test.tsx
  src/test/themeComponentsEdgeCases.test.tsx
  src/test/themeTypes.test.ts
  src/test/themeTypes.test.tsx
  src/test/useSiteStatsEdgeCases.test.ts
Due: frontend

🎨 [style] Standardize test file naming for consistency
  electron/test/setupFixed.ts
  electron/test/setupNew.ts
  electron/test/utilsTestNew.ts
Due: electron

🎨 [style] Normalize whitespace in history limit manager
  electron/utils/database/historyLimitManager.ts
Due: electron

🚜 [refactor] Extract monitoring logic to utility modules
  electron/uptimeMonitor.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  electron/utils/monitoring/monitoringStarter.ts
  electron/utils/monitoring/monitoringStopper.ts
Due: electron

🚜 [refactor] Delegate site update logic to shared utility
  docs/REFACTORING_COMPLETE.md
  electron/uptimeMonitor.ts
  electron/utils/database/siteUpdater.ts
Due: electron

🚜 [refactor] Delegate data import/export/backup to utility modules
  electron/uptimeMonitor.ts
  electron/utils/database/dataBackup.ts
  electron/utils/database/dataImportExport.ts
Due: electron

🧪 [test] Add ESLint disables and improve monitoring edge tests
  MODULAR_ARCHITECTURE_COMPLETE.md
  electron/test/logger.test.ts
  electron/test/main.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/DatabaseService.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/PortMonitor.test.ts
  electron/test/services/monitoring/types.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
  electron/test/services/window/WindowService.test.ts
  electron/test/setup.ts
  electron/test/uptimeMonitor.test.ts
  electron/test/utils/retry.test.ts
  electron/test/utils/utils.test.ts
  src/test/AnalyticsTab.test.tsx
  src/test/HistoryTab.test.tsx
  src/test/chartConfig.test.ts
  src/test/logger.test.ts
  src/test/useAddSiteForm.test.ts
  src/test/useSiteStats.test.ts
  src/test/useTheme.test.ts
Due: frontend, electron

🚜 [refactor] Modularize uptime monitor into orchestrator and managers
  electron/UptimeOrchestrator.ts
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/managers/index.ts
  electron/services/application/ApplicationService.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/utils/databaseBackup.ts
  electron/services/database/utils/databaseSchema.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/database/utils/historyMapper.ts
  electron/services/database/utils/historyQuery.ts
  electron/services/database/utils/index.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/valueConverters.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/PortMonitor.ts
  electron/services/monitoring/utils/errorHandling.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/monitoring/utils/httpStatusUtils.ts
  electron/services/monitoring/utils/index.ts
  electron/services/monitoring/utils/portChecker.ts
  electron/services/monitoring/utils/portErrorHandling.ts
  electron/services/monitoring/utils/portRetry.ts
  electron/uptimeMonitor.ts
  electron/utils/database/index.ts
  electron/utils/monitoring/index.ts
  electron/utils/monitoring/monitorStatusChecker.ts
Due: electron

🧪 [test] Refactors tests for new orchestrator, logging, and utils
  electron/test/services/database/DatabaseService.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/services/monitoring/PortMonitor.test.ts
  electron/test/uptimeMonitor.test.ts
  electron/test/utils/monitoring/monitorStatusChecker.test.ts
Due: electron

📝 [docs] Modernize and standardize all refactoring guides
  MODULAR_ARCHITECTURE_COMPLETE.md
  docs/ADDITIONAL_REFACTORING_OPPORTUNITIES.md
  docs/COMPREHENSIVE_BEST_PRACTICES_ANALYSIS.md
  docs/DOCUMENTATION_REVIEW_ANALYSIS.md
  docs/IDIOMATIC_CODE_REFACTORING_GUIDE.md
  docs/MIGRATION_SCRIPTS.md
  docs/MODERN_CODE_REFACTORING_GUIDE.md
  docs/REFACTORING_ANALYSIS.md
  docs/REFACTORING_COMPLETE.md
  docs/old/guides/Feature-Development-Guide.md
  docs/old/health-reports/Codebase-Health-Check.md
Due: none

Bump version to 4.4.0
  package.json
Due: none

🧪 [test] Extend coverage for error handling and deprecation
  BUSINESS_LOGIC_SEPARATION_ANALYSIS.md
  electron/test/managers/DatabaseManager.test.ts
  electron/test/managers/MonitorManager.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/managers/index.test.ts
  electron/test/services/monitoring/PortMonitor.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  electron/test/services/monitoring/utils/portUtils.test.ts
  electron/test/uptimeMonitor.test.ts
  electron/test/utils/monitoring/monitorStatusChecker.test.ts
  electron/uptimeMonitor.ts
Due: electron

🚜 [refactor] Separate business logic, deprecate utilities, improve tests
  BUSINESS_LOGIC_SEPARATION_SUMMARY.md
  REFACTORING_COMPLETION_SUMMARY.md
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/uptimeMonitor.test.ts
Due: electron

✨ [feat] Introduce event-driven architecture for managers
  electron/UptimeOrchestrator.ts
  electron/events.ts
  electron/managers/ConfigurationManager.ts
  electron/managers/DatabaseManager.new.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/utils/database/siteAdder.ts
  electron/utils/monitoring/index.ts
Due: electron

🚜 [refactor] Remove unused database management implementation
  electron/managers/DatabaseManager.new.ts
Due: electron

📝 [docs] Add detailed refactoring summary and assessment
  REFACTORING_SUMMARY.md
  docs/REFACTORING_ASSESSMENT.md
Due: none

🧪 [test] Add comprehensive UptimeOrchestrator and validator tests
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/UptimeOrchestrator.manualChecks.test.ts
  electron/test/UptimeOrchestrator.monitoringControl.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/managers/validators/MonitorValidator.test.ts
  electron/test/managers/validators/SiteValidator.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/monitoring/HttpMonitor.basic.test.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/utils/portUtils.test.ts
  electron/test/services/window/WindowService.test.ts
  electron/test/uptimeMonitor.test.ts
  electron/test/utils/utils.test.ts
Due: electron

🚜 [refactor] Consolidate utilities and decouple validation logic
  electron/UptimeOrchestrator.ts
  electron/electronUtils.ts
  electron/managers/ConfigurationManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/managers/validators/MonitorValidator.ts
  electron/managers/validators/SiteValidator.ts
  electron/managers/validators/index.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/utils/errorHandling.ts
  electron/services/monitoring/utils/portChecker.ts
  electron/services/monitoring/utils/portErrorHandling.ts
  electron/services/monitoring/utils/portRetry.ts
  electron/services/window/WindowService.ts
  electron/utils/database/index.ts
  electron/utils/database/siteAdder.ts
  electron/utils/database/siteRemover.ts
  electron/utils/database/siteRepository.ts
  electron/utils/database/siteUpdater.ts
  electron/utils/database/siteWriter.ts
  electron/utils/database/sitesGetter.ts
  electron/utils/database/sitesLoader.ts
  electron/utils/monitoring/autoMonitorManager.ts
  electron/utils/monitoring/index.ts
  electron/utils/monitoring/intervalManager.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorValidator.ts
  electron/utils/monitoring/monitoringStarter.ts
  electron/utils/monitoring/monitoringStopper.ts
Due: electron

🧪 [test] Remove legacy and redundant test files, update test structure
  docs/old/BUSINESS_LOGIC_SEPARATION_ANALYSIS.md
  docs/old/BUSINESS_LOGIC_SEPARATION_SUMMARY.md
  docs/old/REFACTORING_COMPLETION_SUMMARY.md
  docs/old/REFACTORING_SUMMARY.md
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/utilsTestNew.ts
Due: electron

🧪 [test] Remove legacy and redundant test files, update test structure
  BUSINESS_LOGIC_SEPARATION_ANALYSIS.md
  BUSINESS_LOGIC_SEPARATION_SUMMARY.md
  REFACTORING_COMPLETION_SUMMARY.md
  REFACTORING_SUMMARY.md
Due: none

🚜 [refactor] Modularize site loading and monitoring logic
  electron/utils/database/siteRepository.ts
Due: electron

🧪 [test] Remove deprecated tests and setup files for Electron backend
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/setupFixed.ts
  electron/test/setupNew.ts
  electron/uptimeMonitor.ts
Due: electron

🧹 [chore] Remove obsolete docs and add Vitest config
  .vscode/settings.json
  BUSINESS_LOGIC_SEPARATION_ANALYSIS.md
  BUSINESS_LOGIC_SEPARATION_SUMMARY.md
  MODULAR_ARCHITECTURE_COMPLETE.md
  REFACTORING_COMPLETION_SUMMARY.md
  REFACTORING_SUMMARY.md
  vitest.config.ts
Due: none

📝 [docs] Update contribution and tooling guidelines
  .github/instructions/copilot-instructions.md
  .vscode/settings.json
Due: none

🎨 [style] Reformat, clean up, and align test and docs code
  .github/instructions/copilot-instructions.md
  .vscode/settings.json
  docs/REFACTORING_ASSESSMENT.md
  docs/old/BUSINESS_LOGIC_SEPARATION_ANALYSIS.md
  docs/old/BUSINESS_LOGIC_SEPARATION_SUMMARY.md
  docs/old/REFACTORING_SUMMARY.md
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/UptimeOrchestrator.manualChecks.test.ts
  electron/test/UptimeOrchestrator.monitoringControl.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/managers/validators/SiteValidator.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  electron/test/services/monitoring/utils/portUtils.test.ts
  electron/test/utils/monitoring/monitorStatusChecker.test.ts
  electron/utils/database/siteWriter.ts
  electron/utils/monitoring/monitorLifecycle.ts
Due: electron

🔧 [build] Strengthens TypeScript checks and code quality rules
  tsconfig.json
Due: none

🚜 [refactor] Modularize global state into focused Zustand stores
  src/App.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/Dashboard/SiteList/index.tsx
  src/components/Header/Header.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/hooks/site/useSite.ts
  src/hooks/site/useSiteActions.ts
  src/hooks/site/useSiteDetails.ts
  src/hooks/site/useSiteMonitor.ts
  src/hooks/useBackendFocusSync.ts
  src/store.ts
  src/stores/error/ErrorBoundary.tsx
  src/stores/error/types.ts
  src/stores/error/useErrorStore.ts
  src/stores/index.ts
  src/stores/settings/types.ts
  src/stores/settings/useSettingsStore.ts
  src/stores/sites/types.ts
  src/stores/sites/useSitesStore.ts
  src/stores/stats/types.ts
  src/stores/stats/useStatsStore.ts
  src/stores/types.ts
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/stores/updates/types.ts
  src/stores/updates/useUpdatesStore.ts
  src/stores/utils.ts
  src/theme/useTheme.ts
Due: frontend

🧪 [test] Refactor tests for new modular store structure
  src/test/AddSiteForm.test.tsx
  src/test/App.test.tsx
  src/test/Header.test.tsx
  src/test/HistoryTab.test.tsx
  src/test/Settings.test.tsx
  src/test/SiteDetailsHeader.test.tsx
  src/test/SiteList.test.tsx
  src/test/edgeCases.test.ts
  src/test/finalCoverageAnalysis.test.tsx
  src/test/remainingCoverage.test.tsx
  src/test/setup.ts
  src/test/store.test.ts
  src/test/storeEdgeCases.test.ts
  src/test/storeLine190.test.ts
  src/test/useBackendFocusSync.test.ts
  src/test/useSite.test.ts
  src/test/useSiteActions.test.ts
  src/test/useSiteDetails.test.ts
  src/test/useSiteMonitor.test.ts
  src/test/useTheme.test.ts
  tsconfig.json
Due: frontend

Bump version to 4.5.0
  package.json
Due: none

🛠️ [fix] Ensure explicit undefined returns in effect cleanups
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/App.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/Settings/Settings.tsx
  src/hooks/useBackendFocusSync.ts
  src/test/SiteDetails.test.tsx
  src/test/historyTabEdgeCases.test.tsx
  src/test/storeEdgeCases.test.new.ts
  src/test/storeEdgeCases.test.ts
  src/test/useSiteDetails.test.simple.ts
Due: frontend, electron
