Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, electron, UI Components, State Management (Stores), Frontend Services, React Hooks, Frontend Utils, Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Settings & Configuration, Dashboard & Analytics, Error Handling, Theme System, Type Definitions, Constants

Path conditions:
  frontend: any of: src/
  electron: any of: electron/
  UI Components: any of: src/components/**
  State Management (Stores): any of: src/stores/**
  Frontend Services: any of: src/services/**
  React Hooks: any of: src/hooks/**
  Frontend Utils: any of: src/utils/**
  Core Backend Services: any of: electron/services/**
  Domain Managers: any of: electron/managers/**
  Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  Backend Utils: any of: electron/utils/**, electron/electronUtils.ts
  Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts
  Monitoring Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts
  IPC Communication: any of: electron/services/ipc/**, electron/preload.ts
  Site Management: any of: electron/managers/SiteManager.ts, src/stores/sites/**, src/components/AddSiteForm/**, src/components/SiteDetails/**
  Settings & Configuration: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, src/components/Settings/**
  Dashboard & Analytics: any of: src/components/Dashboard/**, src/stores/stats/**, src/stores/ui/**
  Error Handling: any of: src/stores/error/**
  Theme System: any of: src/theme/**
  Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts
  Constants: any of: src/constants.ts, electron/constants.ts

📝 [docs] Document and modernize return/event patterns
  .github/instructions/copilot-instructions copy 2.md
  .github/instructions/copilot-instructions.md
  .markdownlintignore
  docs/ESLINT_DISABLED_RULES.md
  docs/ESLINT_FIXES_SUMMARY.md
  docs/EVENT_SYSTEM_ARCHITECTURE_GUIDE.md
  docs/IMMEDIATE_ACTION_PLAN.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/MODERN_RETURN_PATTERNS_PLAN.md
  docs/NON_RETURN_FUNCTIONS_EVENT_ANALYSIS.md
  electron/test/utils/operationalHooks.test.ts
  eslint-results.sarif
  fix-types.js
  tsconfig.electron.json
  tsconfig.json
Due: electron

🚜 [refactor] Centralizes DB operations with operational hooks
  docs/EVENT_SYSTEM_ARCHITECTURE_GUIDE.md
  electron/managers/SiteManager.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/test/utils/database/DataImportExportService.test.ts
  electron/test/utils/database/historyLimitManager.test.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/historyLimitManager.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  electron/utils/operationalHooks.ts
  eslint.config.mjs
  src/App.tsx
  src/stores/sites/utils/statusUpdateHandler.ts
  tsdoc.json
Due: frontend, electron, State Management (Stores), Core Backend Services, Domain Managers, Backend Utils, Database Layer, Site Management

📝 [docs] Modernize docs for event-driven patterns and return logic
  .github/instructions/copilot-instructions copy 2.md
  .github/instructions/copilot-instructions.md
  docs/ESLINT_DISABLED_RULES.md
  docs/ESLINT_FIXES_SUMMARY.md
  docs/EVENT_SYSTEM_ARCHITECTURE_GUIDE.md
  docs/IMMEDIATE_ACTION_PLAN.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/MODERN_RETURN_PATTERNS_PLAN.md
  docs/NON_RETURN_FUNCTIONS_EVENT_ANALYSIS.md
  electron/test/utils/operationalHooks.test.ts
  tsdoc.json
Due: electron

Bump version to 6.7.0
  package.json
Due: none

🚜 [refactor] Normalize DB operation handlers and improve history pruning
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/historyManipulation.ts
Due: electron, Core Backend Services, Database Layer

🧪 [test] Remove redundant and error-handling tests from backend
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/integration/cacheMissIntegration.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/utils/database/DataImportExportService.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
  src/test/App.test.tsx
  src/test/stores/sites/statusUpdateHandler.test.ts
Due: frontend, electron

🧪 [test] Update monitor tests for null default values
  electron/services/database/HistoryRepository.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
Due: electron, Core Backend Services, Database Layer

Bump version to 6.8.0
  package.json
Due: none

🚜 [refactor] Extract monitor update logic into helper methods
  docs/IMMEDIATE_ACTION_PLAN.md
  electron/test/services/database/MonitorRepository.test.ts
  electron/utils/database/SiteWriterService.ts
Due: electron, Backend Utils

🚜 [refactor] Make repository methods async and update tests
  electron/services/database/HistoryRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/monitorMapper.ts
  electron/test/MonitorManager.test.ts
  electron/test/services/database/DatabaseService.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
Due: electron, Core Backend Services, Database Layer

🎨 [style] Improve code formatting and markdown consistency
  docs/.github/TSDoc-base-tags.md
  docs/IMMEDIATE_ACTION_PLAN.md
  electron/test/MonitorManager.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
Due: electron

📝 [docs] Enhance code documentation for manager and service modules
  electron/managers/SiteManager.ts
  electron/services/monitoring/PortMonitor.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/monitoring/monitorStatusChecker.ts
Due: electron, Core Backend Services, Domain Managers, Backend Utils, Monitoring Engine, Site Management

📝 [docs] Add codebase consistency audit prompt template
  .github/prompts/Consistency Check.md
Due: none

🚜 [refactor] Unifies service architecture and error handling
  electron/UptimeOrchestrator.ts
  electron/main.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/services/ServiceContainer.ts
  electron/services/application/ApplicationService.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/index.ts
  electron/utils/database/DataBackupService.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/StateSyncService.ts
  electron/utils/database/index.ts
  electron/utils/database/interfaces.ts
  electron/utils/database/repositoryAdapters.ts
  electron/utils/database/serviceFactory.ts
  electron/utils/errorHandling.ts
  electron/utils/index.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/components/AddSiteForm/index.ts
  src/stores/error/useErrorStore.ts
  src/stores/sites/useSitesStore.ts
  src/stores/updates/useUpdatesStore.ts
  src/stores/utils.ts
Due: frontend, electron, UI Components, State Management (Stores), Core Backend Services, Domain Managers, Uptime Orchestrator, Backend Utils, Database Layer, Monitoring Engine, Site Management, Error Handling

🧪 [test] Remove obsolete tests and skip unstable test cases
  electron/test/MonitorManager.test.ts
  electron/test/UptimeOrchestrator.advanced.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/utils/database/DataImportExportService.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
  electron/test/utils/database/repositoryAdapters.test.ts
Due: electron

🧪 [test] Remove redundant and edge case tests from orchestrator suite
  electron/test/UptimeOrchestrator.advanced.test.ts
Due: electron

Bump version to 6.9.0
  package.json
Due: none

👷 [ci] Improve SonarCloud config for coverage and exclusions
  sonar-project.properties
Due: none

✨ [feat] Enable dynamic monitor type registry and UI integration
  electron/constants.ts
  electron/events/eventTypes.ts
  electron/managers/validators/MonitorValidator.ts
  electron/preload.ts
  electron/services/application/ApplicationService.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/utils/databaseSchema.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/historyMapper.ts
  electron/services/database/utils/index.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/MonitorFactory.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/types.ts
  electron/types.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/DynamicMonitorFields.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/AddSiteForm/index.ts
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/components/dynamic-monitor-ui.tsx
  src/hooks/useMonitorFields.ts
  src/hooks/useMonitorTypes.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesStore.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/types.ts
  src/utils/dynamic-monitor-ui.ts
  src/utils/monitorTypeHelper.ts
  src/utils/monitorValidation.ts
Due: frontend, electron, UI Components, State Management (Stores), React Hooks, Frontend Utils, Core Backend Services, Domain Managers, Backend Utils, Database Layer, Monitoring Engine, IPC Communication, Site Management, Type Definitions, Constants

🎨 [style] Format VS Code settings for readability
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

🚜 [refactor] Remove legacy tests and scripts after monitor type overhaul
  docs/MONITOR_IMPLEMENTATION.md
  docs/MONITOR_TYPE_IMPLEMENTATION_GUIDE.md
  docs/MONITOR_TYPE_IMPROVEMENTS_PLAN.md
  docs/MONITOR_TYPE_REFACTORING_COMPLETE.md
  docs/NEW_MONITOR_TYPE_GUIDE.md
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/managers/validators/MonitorValidator.test.ts
  electron/test/managers/validators/SiteValidator.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/monitoring/HttpMonitor.basic.test.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
  electron/test/services/monitoring/utils/portUtils.test.ts
  scripts/old/fix-markdown-links-improved.ps1
  scripts/old/fix-markdown-links.ps1
  scripts/old/fix-trailing-slashes.ps1
  scripts/old/rename-copilotmd-files-fixed.ps1
  scripts/old/rename-copilotmd-files.bat
  scripts/old/rename-copilotmd-files.ps1
  src/test/AddSiteForm.test.tsx
  src/test/Header.comprehensive.test.tsx
  src/test/Header.test.tsx
  src/test/components/ErrorBoundary.test.tsx
  src/test/final-coverage-tests.test.tsx
  src/test/remaining-uncovered-lines.test.tsx
  src/test/stores/sites/useSiteMonitoring.test.ts.disabled
  src/test/stores/sites/useSitesStore.edgeCases.test.ts
  src/test/stores/sites/useSitesStore.integration.test.ts
  src/test/useAddSiteForm.test.ts
Due: frontend, electron

Bump version to 7.0.0
  package.json
Due: none

📝 [docs] Add implementation, legacy code, and file org reviews
  docs/FILE_ORGANIZATION_REVIEW.md
  docs/FINAL_SUMMARY.md
  docs/IMPLEMENTATION_REVIEW.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/LEGACY_CODE_REVIEW.md
  docs/NEW_MONITOR_TYPE_GUIDE.md
  src/components/dynamic-monitor-ui.tsx
  src/utils/dynamicMonitorUi.ts
Due: frontend, UI Components, Frontend Utils

✨ [feat] Implement dynamic monitor migration and validation system
  .vscode/settings.json
  docs/FINAL_SUMMARY.md
  docs/IMPLEMENTATION_REVIEW.md
  docs/MIGRATION_SYSTEM_PLAN.md
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/DatabaseSchemaMigrator.ts
  electron/services/monitoring/EnhancedTypeGuards.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  package-lock.json
  package.json
  repomix-output.xml
  repomix.config.json
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/Dashboard/SiteCard/SiteCardHistory.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/common/MonitorUiComponents.tsx
  src/utils/dynamicMonitorUI.ts
  src/utils/monitorTitleFormatters.ts
  src/utils/monitorUiHelpers.ts
  src/utils/monitorValidation.ts
Due: frontend, electron, UI Components, Frontend Utils, Core Backend Services, Monitoring Engine, IPC Communication, Site Management, Dashboard & Analytics

Bump version to 7.1.0
  package.json
Due: none

🛠️ [fix] Prevent memory leaks & improve error handling
  electron/events/TypedEventBus.ts
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/dynamic-monitor-ui.tsx
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/utils.ts
  src/test/critical-fixes.test.ts
  src/utils/dynamicMonitorUI.ts
Due: frontend, electron, UI Components, State Management (Stores), Frontend Utils, Site Management

✨ [feat] Add Biome integration, IPC monitor formatting, and docs
  biome.json
  docs/ADDING_NEW_MONITOR_TYPE.md
  electron/events/index.ts
  electron/preload.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/types.ts
  eslint.config.mjs
  package-lock.json
  package.json
  repomix-output.xml
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/components/common/MonitorUiComponents.tsx
  src/components/error/DefaultErrorFallback.tsx
  src/constants.ts
  src/hooks/site/useSiteDetails.ts
  src/hooks/useDynamicHelpText.ts
  src/hooks/useMonitorFields.ts
  src/stores/error/ErrorBoundary.tsx
  src/test/constants.test.ts
  src/test/typed-event-bus.test.ts
  src/theme/useTheme.ts
  src/types.ts
  src/types/status.ts
  src/utils/index.ts
  src/utils/monitorUiHelpers.ts
  src/utils/monitorValidation.ts
  src/utils/timeoutUtils.ts
  tsconfig.electron.json
  tsconfig.electron.test.json
  vite.config.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: frontend, electron, UI Components, State Management (Stores), React Hooks, Frontend Utils, Core Backend Services, Database Layer, Monitoring Engine, IPC Communication, Site Management, Error Handling, Theme System, Type Definitions, Constants

🎨 [style] Reformat configuration file with consistent indentation
  repomix.config.json
Due: none

📝 [docs] Update monitor type docs for dynamic registry refactor
  .vscode/settings.json
  docs/ADDING_NEW_MONITOR_TYPE.md
  docs/FILE_ORGANIZATION_REVIEW.md
  docs/FINAL_SUMMARY.md
  docs/IMPLEMENTATION_REVIEW.md
  docs/IMPLEMENTATION_SUMMARY.md
  docs/LEGACY_CODE_REVIEW.md
  docs/MIGRATION_SYSTEM_PLAN.md
  docs/MONITOR_IMPLEMENTATION.md
  docs/MONITOR_TYPE_IMPLEMENTATION_GUIDE.md
  docs/MONITOR_TYPE_IMPROVEMENTS_PLAN.md
  docs/MONITOR_TYPE_REFACTORING_COMPLETE.md
  src/test/critical-fixes.test.ts
  vitest.config.ts
Due: frontend

🔧 [build] Update dependencies for improved compatibility
  package-lock.json
  package.json
  repomix-output.xml
  src/components/AddSiteForm/Submit.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  vite.config.ts
Due: frontend, UI Components, Site Management

✨ [feat] Add unified state sync event support and sync status API
  electron/managers/SiteManager.ts
  electron/preload.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/EnhancedTypeGuards.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/utils/database/StateSyncService.ts
  src/hooks/useStateSynchronization.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteSync.ts
  src/types.ts
Due: frontend, electron, State Management (Stores), React Hooks, Core Backend Services, Domain Managers, Backend Utils, Monitoring Engine, IPC Communication, Site Management, Type Definitions

✨ [feat] Emit sync events after site updates for consistency
  electron/managers/SiteManager.ts
Due: electron, Domain Managers, Site Management

📝 [docs] Add updated guide for monitor type implementation
  docs/MONITOR_TYPE_IMPLEMENTATION_GUIDE_UPDATED.md
  electron/managers/SiteManager.ts
  electron/test/services/database/HistoryRepository.test.ts
Due: electron, Domain Managers, Site Management

Bump version to 7.2.0
  package.json
Due: none

🎨 [style] Replace console logging with structured logger
  docs/ADDING_NEW_MONITOR_TYPE_GUIDE.md
  electron/events/index.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/PortMonitor.ts
  electron/services/notifications/NotificationService.ts
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/interfaces.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/App.tsx
  src/components/AddSiteForm/DynamicMonitorFields.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/common/MonitorUiComponents.tsx
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/utils.ts
  src/theme/useTheme.ts
  src/utils/monitorTypeHelper.ts
  src/utils/monitorUiHelpers.ts
Due: frontend, electron, UI Components, State Management (Stores), Frontend Utils, Core Backend Services, Backend Utils, Monitoring Engine, Site Management, Theme System

📝 [docs] Reformat monitor type guide examples for clarity
  docs/ADDING_NEW_MONITOR_TYPE_GUIDE.md
  docs/MONITOR_TYPE_IMPLEMENTATION_GUIDE_UPDATED.md
Due: none

Bump version to 7.3.0
  package.json
Due: none

🧹 [chore] Remove unused exports and consolidate types
  KNIP_ANALYSIS.md
  electron/managers/DatabaseManager.ts
  electron/managers/index.ts
  electron/services/monitoring/EnhancedTypeGuards.ts
  electron/services/monitoring/index.ts
  electron/services/updater/index.ts
  electron/test/barrelExports.test.ts
  electron/test/monitoringTypes.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/PortMonitor.test.ts
  electron/test/services/monitoring/types.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  electron/test/utils/monitoring/monitorStatusChecker.test.ts
  electron/types.ts
  electron/utils/database/index.ts
  electron/utils/database/interfaces.ts
  electron/utils/operationalHooks.ts
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/components/common/MonitorUiComponents.tsx
  src/index.ts
  src/test/App.test.tsx
  src/test/types.test.tsx
  src/types.ts
Due: frontend, electron, UI Components, Core Backend Services, Domain Managers, Backend Utils, Database Layer, Monitoring Engine, Site Management, Type Definitions
