Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**

🚜 [refactor] Type UI tab reset state explicitly
  src/stores/ui/useUiStore.ts
Due: frontend, üì¶ Frontend State Stores

🚜 [refactor] Harden settings persistence merge
  src/stores/settings/state.ts
  src/stores/settings/useSettingsStore.ts
Due: frontend, ‚öôÔ∏è Configuration Management

🚜 [refactor] Narrow cleanup thenable detection
  src/services/utils/cleanupHandlers.ts
  src/test/services/utils/cleanupHandlers.test.ts
Due: frontend, üîå Frontend Services

🚜 [refactor] Remove SettingItem control cast
  src/components/shared/SettingItem.tsx
  src/test/additional-branch-coverage.test.tsx
Due: frontend

🚜 [refactor] Share analytics variant typing
  src/components/SiteDetails/tabs/analytics/AnalyticsKeyMetricsGrid.tsx
Due: frontend, üß© Core UI Components

🚜 [refactor] Type dynamic select options explicitly
  src/components/AddSiteForm/DynamicField.tsx
Due: frontend, üß© Core UI Components

🚜 [refactor] Type settings change accumulator
  src/components/Settings/useSettingsChangeHandlers.ts
Due: frontend, üîß Common UI Components

🚜 [refactor] Use typed renderer logger directly
  src/services/logger.ts
Due: frontend, üîå Frontend Services

🚜 [refactor] Narrow renderer validation helpers
  src/services/utils/validation.ts
Due: frontend, üîå Frontend Services

🚜 [refactor] Type default site monitor directly
  src/stores/sites/useSiteOperations.ts
Due: frontend, üåê Site Management Domain

🚜 [refactor] Type selected monitor removal
  src/stores/sites/useSitesState.ts
Due: frontend, üåê Site Management Domain

🚜 [refactor] Remove site helper casts
  src/stores/sites/utils/operationHelpers.ts
Due: frontend

🛠️ [fix] Avoid shared monitor default arrays
  src/stores/sites/utils/monitorOperations.normalize.ts
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
Due: frontend

🚜 [refactor] Narrow monitor normalization fields
  src/stores/sites/utils/monitorOperations.normalize.ts
Due: frontend

🚜 [refactor] Narrow history record status display
  src/components/SiteDetails/tabs/HistoryTab.tsx
Due: frontend, üß© Core UI Components

🚜 [refactor] Type add-site validation payload
  src/components/AddSiteForm/Submit.tsx
Due: frontend, üß© Core UI Components

🚜 [refactor] Type shared status membership guards
  shared/types.ts
Due: shared, üß© Shared Core

🚜 [refactor] Type shared validation schemas
  shared/validation/dataSchemas.ts
  shared/validation/notifications.ts
Due: shared, üß© Shared Core, üîó Integration Layer

🚜 [refactor] Remove theme style casts
  src/theme/components/ThemedBadge.tsx
  src/theme/types.ts
Due: frontend, üé® Theme System, üìù Type Definitions

🚜 [refactor] Type cache key prefixes
  shared/utils/cacheKeys.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🚜 [refactor] Narrow shared global utilities
  shared/utils/correlation.ts
  shared/utils/environment.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🚜 [refactor] Type event value lists directly
  shared/types/events.ts
Due: shared, üß© Shared Core, ‚öôÔ∏è Configuration Management, üìù Type Definitions

🚜 [refactor] Narrow site snapshot guards
  shared/utils/siteSnapshots.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🚜 [refactor] Type nullable site status monitors
  shared/utils/siteStatus.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities

🚜 [refactor] Type Electron logging levels
  electron/main.ts
Due: electron

🚜 [refactor] Type event catalogue lookups
  electron/events/eventTypes.ts
Due: electron, üîó Integration Layer

🚜 [refactor] Narrow snapshot sync payload reads
  electron/coordinators/SnapshotSyncCoordinator.ts
Due: electron

🚜 [refactor] Normalize lifecycle monitor candidates
  electron/managers/MonitorManagerEnhancedLifecycle.ts
Due: electron

🚜 [refactor] Narrow service property probes
  electron/services/ServiceContainer.utils.ts
  electron/services/application/ApplicationService.ts
  electron/services/cloud/providers/dropbox/DropboxAuthFlow.ts
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
Due: electron, üîß Backend Services

🚜 [refactor] Type production header handling
  electron/services/window/WindowService.ts
Due: electron, ü™ü Window Management

🚜 [refactor] Narrow cloud account label guard
  electron/services/cloud/internal/CloudStatusBuilders.ts
Due: electron

🚜 [refactor] Guard event forwarder registrations
  electron/services/ServiceContainerEventForwarder.ts
Due: electron

🚜 [refactor] Narrow Google Drive error status reads
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
Due: electron

🚜 [refactor] Simplify unknown monitor type detail
  electron/services/monitoring/strategies/MonitorStrategyRegistry.ts
Due: electron, üéØ Monitoring Core Engine

🚜 [refactor] Type sync reset preview devices
  electron/services/cloud/migrations/syncResetPreview.ts
Due: electron

🚜 [refactor] Use typed diagnostics logger
  electron/services/ipc/diagnosticsMetrics.ts
Due: electron, üîó IPC Communication Layer

🚜 [refactor] Guard IPC data validation issues
  electron/services/ipc/validators/data.ts
Due: electron, üîó IPC Communication Layer

🚜 [refactor] Remove command history cast
  electron/services/commands/DatabaseCommands.ts
Due: electron

🚜 [refactor] Type imported monitor creation
  electron/services/database/DataImportExportService.ts
Due: electron, üóÑÔ∏è Database Layer

🚜 [refactor] Use typed dynamic row access
  electron/services/database/utils/schema/dynamicSchema.ts
Due: electron, üóÑÔ∏è Database Layer
