Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

Bump version to 17.4.0
  package.json
Due: none

🚜 [refactor] Implement Site Mutation Pipeline for data consistency
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  electron/managers/SiteManager.ts
  electron/services/database/SiteRepository.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/database/SiteRepository.test.ts
Due: electron, üóÑÔ∏è Database Layer, üåê Site Management Domain

✨ [feat] Add name to BeastMode agent configuration
  .github/agents/BeastMode.agent.md
Due: none

✨ [feat] Introduce state sync delta tracking and improve status reporting
  electron/managers/SiteManager.ts
  electron/services/ipc/IpcService.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  package-lock.json
  package.json
  src/services/EventsService.ts
  src/stores/sites/siteSyncDelta.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesState.ts
  src/stores/sites/useSitesStore.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/components/Header/Header.assignment-operator.test.tsx
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/services/EventsService.comprehensive.test.ts
  src/test/setup.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/useSitesState.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
Due: electron, frontend, üåê Site Management Domain, üîó IPC Communication Layer, üîå Frontend Services

🛠️ [fix] Center site card status items and improve VS Code tasks
  .vscode/tasks.json
  src/components/Dashboard/SiteCard/SiteCompactCard.css
Due: frontend, üß© Core UI Components

✨ [feat] Add IPC artifact generation and drift detection
  .github/workflows/eslint.yml
  config/tools/knip.config.ts
  docs/Architecture/generated/ipc-channel-inventory.md
  docs/Guides/DOCUMENTATION_INDEX.md
  docs/Guides/RENDERER_INTEGRATION_GUIDE.md
  electron/UptimeOrchestrator.ts
  electron/events/eventTypes.ts
  electron/preload/domains/eventsApi.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/events/eventTypes.comprehensive.test.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
  scripts/generate-ipc-artifacts.mts
  shared/ipc/rendererEvents.ts
  shared/types/eventsBridge.ts
  shared/utils/logTemplates.ts
  src/components/Dashboard/SiteCard/SiteCompactCard.css
  src/services/EventsService.ts
  src/stores/settings/operations.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSitesStore.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/mock-setup.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/sites/useSiteMonitoring.comprehensive.test.ts
  storybook/setup/electron-api-mock.ts
Due: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üéº Uptime Orchestrator, ‚öôÔ∏è Configuration Management, üß© Core UI Components, üîå Frontend Services, üß∞ Frontend Utilities, üìù Type Definitions, üîó Integration Layer

✨ [feat] Introduce IPC automation and optimistic updates
  CONTRIBUTING.md
  README.md
  docs/Guides/DEVELOPER_QUICK_START.md
  docs/Guides/IPC_AUTOMATION_WORKFLOW.md
  docs/Guides/RENDERER_INTEGRATION_GUIDE.md
  docs/Guides/TECHNOLOGY_EVOLUTION.md
  docs/Guides/TROUBLESHOOTING.md
  docs/Testing/HEADLESS_TESTING.md
  package.json
  scripts/generate-ipc-artifacts.mts
Due: none

🚜 [refactor] Relocate settings management to a dedicated domain
  docs/Guides/API_DOCUMENTATION.md
  electron/preload/domains/dataApi.ts
  electron/preload/domains/settingsApi.ts
  electron/services/ipc/IpcService.ts
  electron/services/ipc/validators.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/preload/domains/dataApi.comprehensive.test.ts
  electron/test/preload/domains/settingsApi.comprehensive.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  electron/test/validators.complete.test.ts
  shared/test/fuzzing/errorCatalog.fuzz.test.ts
  shared/test/validatorUtils.property.test.ts
  shared/types/preload.ts
  src/services/EventsService.ts
  src/services/SettingsService.ts
  src/services/StateSyncService.ts
  src/services/utils/cleanupHandlers.ts
  src/stores/sites/useSiteSync.ts
  src/test/mock-setup.ts
  src/test/services/EventsService.comprehensive.test.ts
  src/test/services/SettingsService.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/useSettingsStore.test.ts
  storybook/setup/electron-api-mock.ts
Due: electron, frontend, shared, üß© Shared Core, üåê Site Management Domain, üîó IPC Communication Layer, üîå Frontend Services, üìù Type Definitions

✨ [feat] Add DevTools snippets and improve data integrity
  docs/Guides/DEVTOOLS_SNIPPETS.md
  electron/UptimeOrchestrator.ts
  electron/managers/SiteManager.ts
  electron/services/ipc/IpcService.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  eslint.config.mjs
  scripts/devtools-snippets/Add-All-Test-Sites.js
  scripts/devtools-snippets/Add-Minimal-Test-Sites.js
  scripts/devtools-snippets/Debugger-Pause-After-5.js
  scripts/devtools-snippets/Debugger-Pause-Countdown.js
  scripts/devtools-snippets/Debugger-Pause-Element-Hover.js
  scripts/devtools-snippets/Debugger-Pause-Element.js
  scripts/devtools-snippets/Debugger-Pause-Hover.js
  scripts/devtools-snippets/List-Sites.js
  scripts/devtools-snippets/Remove-All-Sites.js
  shared/validation/siteIntegrity.ts
  src/services/DataService.ts
  src/services/EventsService.ts
  src/services/MonitorTypesService.ts
  src/services/SettingsService.ts
  src/services/StateSyncService.ts
  src/services/SystemService.ts
  src/services/utils/createIpcServiceHelpers.ts
  src/services/utils/electronBridgeReadiness.ts
  src/stores/sites/services/MonitoringService.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/useSiteSync.ts
  src/stores/utils.ts
  src/test/services/EventsService.comprehensive.test.ts
  src/test/services/utils/electronBridgeReadiness.test.ts
Due: electron, frontend, shared, üß© Shared Core, üéº Uptime Orchestrator, üåê Site Management Domain, üîó IPC Communication Layer, üîå Frontend Services, üîó Integration Layer

Bump version to 17.5.0
  package.json
Due: none

🚜 [refactor] Extract coordinator and type definitions from UptimeOrchestrator
  electron/UptimeOrchestrator.ts
  electron/UptimeOrchestrator.types.ts
  electron/coordinators/HistoryLimitCoordinator.ts
  electron/managers/SiteManager.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/coordinators/HistoryLimitCoordinator.test.ts
  shared/test/validatorUtils.property.test.ts
  shared/validation/siteIntegrity.ts
  src/services/EventsService.ts
  src/services/StateSyncService.ts
  src/services/utils/createIpcServiceHelpers.ts
  src/stores/sites/useSiteSync.ts
  src/stores/utils.ts
  src/test/services/DataService.comprehensive.test.ts
  src/test/services/EventsService.comprehensive.test.ts
  src/test/services/SettingsService.comprehensive.test.ts
  src/test/services/SystemService.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.branches.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.targeted.test.ts
  src/test/stores/sites/MonitoringService.siteLevel.test.ts
  src/test/stores/sites/MonitoringService.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/strictTests/SiteService.critical.test.ts
  src/test/useSettingsStore.test.ts
Due: electron, frontend, shared, üß© Shared Core, üéº Uptime Orchestrator, üåê Site Management Domain, üîå Frontend Services, üîó Integration Layer

🎨 [style] Apply consistent code formatting across the project
  config/linting/plugins/uptime-watcher.mjs
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/services/database/SiteRepository.test.ts
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/stores/sites/ipc-response-handling.regression.test.ts
Due: electron, frontend

Bump version to 17.6.0
  package.json
Due: none

✨ [feat] Add diagnostics for preload guard failures
  electron/preload/domains/stateSyncApi.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  electron/test/services/database/SettingsRepository.simple.test.ts
  scripts/detect-zero-coverage-tests.ts
  src/services/MonitorTypesService.ts
  src/services/StateSyncService.ts
  src/services/utils/createIpcServiceHelpers.ts
  src/test/App.comprehensive.test.tsx
  src/test/App.dev-logging.test.tsx
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/ScreenshotThumbnail.test.tsx
  src/test/Settings.invalid-key-logging.test.tsx
  src/test/Settings.invalid-key.test.tsx
  src/test/Settings.simple.coverage.test.tsx
  src/test/additional-uncovered-lines.test.ts
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/constants-theme-100-coverage.test.ts
  src/test/edge-cases-100-coverage.test.ts
  src/test/frontend-functions-coverage-target.test.tsx
  src/test/frontend-functions-coverage.test.tsx
  src/test/remainingCoverage.test.tsx
  src/test/store-utilities-100-coverage.test.ts
  src/test/stores/sites/MonitoringService.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/strictTests/SiteService.critical.test.ts
Due: electron, frontend, üîå Frontend Services

✨ [feat] Introduce structured deltas for site synchronization events
  electron/UptimeOrchestrator.ts
  electron/managers/SiteManager.ts
  electron/services/ipc/IpcService.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  shared/types/events.ts
  shared/types/stateSync.ts
  shared/utils/siteSyncDelta.ts
  src/stores/sites/siteSyncDelta.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesState.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/useSitesState.test.ts
  src/test/utils/cacheSync.test.ts
  src/utils/cacheSync.ts
Due: electron, frontend, shared, üß© Shared Core, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üß∞ Frontend Utilities, üìù Type Definitions

🧹 [chore] Update dependencies and enhance project tooling
  .madgerc
  docs/docusaurus/package-lock.json
  electron/UptimeOrchestrator.ts
  electron/events/eventTypes.ts
  electron/managers/SiteManager.ts
  electron/services/ipc/IpcService.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/types/events.ts
  shared/types/stateSync.ts
  src/services/utils/createIpcServiceHelpers.ts
  src/stores/sites/siteSyncDelta.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesState.ts
Due: electron, frontend, shared, üß© Shared Core, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîå Frontend Services, üìù Type Definitions, üîó Integration Layer

🚜 [refactor] Enhance code style, validation, and build tooling
  .madgerc
  benchmarks/services/eventProcessing.bench.ts
  electron/services/ipc/validators.ts
  electron/test/integration/siteDeletion.integration.test.ts
  electron/test/patterns/console-remediation.test.ts
  electron/test/services/ipc/standardization.test.ts
  electron/test/setup.ts
  eslint.config.mjs
  scripts/clean-generated-docs.mjs
  shared/validation/validatorUtils.ts
  src/App.tsx
  src/components/AddSiteForm/Submit.tsx
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/sites/utils/fileDownload.fast-check-comprehensive.test.ts
  src/test/utils/validation.comprehensive-fuzzing.test.ts
  src/utils/monitorValidation.ts
  storybook/viteSharedConfig.ts
  vite.config.ts
Due: electron, frontend, shared, üß© Shared Core, üîó IPC Communication Layer, üß© Core UI Components, üß∞ Frontend Utilities, üîó Integration Layer

🚜 [refactor] Update monitor schemas and improve URL validation
  .madgerc
  electron/test/main.comprehensive.test.ts
  package.json
  scripts/devtools-snippets/Add-All-Test-Sites.js
  shared/validation/validatorUtils.ts
  src/test/constants-theme-100-coverage.test.ts
  src/test/utils/cacheSync.test.ts
Due: electron, frontend, shared, üß© Shared Core, üîó Integration Layer

Bump version to 17.7.0
  package.json
Due: none

🚜 [refactor] Centralize services and add duplicate site handling
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  docs/Guides/API_DOCUMENTATION.md
  electron/services/ipc/IpcService.ts
  electron/test/services/ipc/IpcService.test.ts
  src/services/MonitoringService.ts
  src/services/SiteService.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSitesStore.ts
  src/test/stores/sites/MonitoringService.siteLevel.test.ts
  src/test/stores/sites/MonitoringService.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/strictTests/SiteService.critical.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
Due: electron, frontend, üéØ Monitoring Core Engine, üåê Site Management Domain, üîó IPC Communication Layer, üîå Frontend Services

Bump version to 17.8.0
  package.json
Due: none

fix: .snyk to reduce vulnerabilities
  .snyk
Due: none

Bump version to 17.9.0
  package.json
Due: none

🚜 [refactor] Centralize history limit rules and normalize values
  .remarkignore
  docs/Guides/MONITORING_RACE_CONDITION_SOLUTION_PLAN.md
  docs/docusaurus/src/pages/data-models.mdx
  docs/docusaurus/src/pages/deployment-infrastructure.mdx
  docs/docusaurus/src/pages/engineering-tooling.mdx
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/performance-metrics.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  docs/docusaurus/src/pages/testing-architecture.mdx
  electron/constants.ts
  electron/managers/ConfigurationManager.ts
  electron/managers/DatabaseManager.ts
  electron/test/events/TypedEventBus.comprehensive.test.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/services/monitoring/MonitorScheduler.comprehensive.test.ts
  electron/test/services/monitoring/SslMonitor.test.ts
  electron/test/services/monitoring/WebsocketKeepaliveMonitor.test.ts
  electron/test/utils/database/historyLimitManager.test.ts
  electron/test/utils/interfaces-coverage.test.ts
  electron/utils/database/historyLimitManager.ts
  shared/constants/history.ts
  src/constants.ts
  src/services/SettingsService.ts
  src/stores/settings/operations.ts
  tsconfig.json
Due: electron, frontend, shared, üß© Shared Core, üóÑÔ∏è Database Layer, ‚öôÔ∏è Configuration Management, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üîß Constants & Configuration

🔧 [build] Add AllOtherRoot TS project and tighten TypeScript / tooling configs
  config/testing/tsconfig.AllOtherRoot.json
  config/testing/tsconfig.configs.json
  config/testing/tsconfig.js.json
  config/testing/tsconfig.scripts.json
  config/testing/tsconfig.test.json
  eslint.config.mjs
  package.json
  tsconfig.json
  vite.config.ts
Due: none

👷 [ci] Centralize lint scripts, normalize .yamllint new-lines, and tidy Playwright workflow comment
  .github/workflows/playwright.yml
  config/linting/.yamllint
  package.json
Due: none

✨ [feat] Enhance monitoring summaries and data import synchronization
  .devin/wiki.json
  .github/agents/BeastMode.agent.md
  .gitignore
  .npmpackagejsonlintrc.json
  docs/Guides/API_DOCUMENTATION.md
  docs/docusaurus/package.json
  electron/UptimeOrchestrator.ts
  electron/managers/DatabaseManager.ts
  electron/managers/SiteManager.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/ipc/IpcService.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/DatabaseManager.100-percent-coverage.test.ts
  electron/test/managers/DatabaseManager.foundation.test.ts
  electron/test/services/commands/DatabaseCommands.test.ts
  shared/utils/siteSnapshots.ts
  src/services/MonitoringService.ts
  src/stores/sites/useSiteSync.ts
  src/test/stores/sites/MonitoringService.test.ts
Due: electron, frontend, shared, üß© Shared Core, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, üîó IPC Communication Layer, üîå Frontend Services, üß∞ Frontend Utilities

✨ [feat] Enhance IPC registration and add comprehensive test coverage
  .github/agents/BeastMode.agent.md
  .prettierignore
  docs/Guides/API_DOCUMENTATION.md
  docs/Guides/MONITORING_RACE_CONDITION_SOLUTION_PLAN.md
  electron/services/ipc/utils.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
  package-lock.json
  package.json
  shared/test/fixtures/siteFactories.ts
  shared/test/fuzzing/objectSafety.fuzz.test.ts
  shared/test/strictTests/errorHandling-complete-coverage.test.ts
  shared/test/strictTests/errorUtils-complete-coverage.test.ts
  shared/test/strictTests/historyLimits-complete-coverage.test.ts
  shared/test/strictTests/loggerCommon-complete-coverage.test.ts
  shared/test/strictTests/monitorStatusEvents-complete-coverage.test.ts
  shared/test/strictTests/monitoringConstants-complete-coverage.test.ts
  shared/test/strictTests/rendererEvents-complete-coverage.test.ts
  shared/test/strictTests/siteConstants-complete-coverage.test.ts
  shared/test/strictTests/siteSnapshotUtilities-complete-coverage.test.ts
  shared/test/strictTests/validationGuards-complete-coverage.test.ts
  shared/test/strictTests/validationUtils-complete-coverage.test.ts
  shared/test/tsconfig.json
  src/hooks/ui/useOverflowMarquee.ts
  src/services/StateSyncService.ts
  src/test/hooks/useOverflowMarquee.coverage.test.tsx
  src/test/ipc/ipc.comprehensive-fuzzing.test.ts
  src/test/services/StateSyncService.comprehensive.test.ts
  src/test/strictTests/toSentenceCase.complete-coverage.test.ts
  src/test/utils/cacheSync.test.ts
  src/utils/cacheSync.ts
Due: electron, frontend, shared, üß© Shared Core, üîó IPC Communication Layer, üîå Frontend Services, üß∞ Frontend Utilities

👷 [ci] Strip per-prompt tool lists and normalize prompt front-matter
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom-issue.md
  .github/agents/BeastMode.agent.md
  .github/prompts/Add-ToDo.prompt.md
  .github/prompts/BeastMode.prompt.md
  .github/prompts/Consistency-Check.prompt.md
  .github/prompts/Continue.prompt.md
  .github/prompts/Document-Review.prompt.md
  .github/prompts/E2E-Tests-Playwright.prompt.md
  .github/prompts/Error-Handling-Tests.prompt.md
  .github/prompts/Fix-Eslint-Errors.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/prompts/Generate-Test-Metadata.prompt.md
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  .github/prompts/My-Custom-Prompts.prompt.md
  .github/prompts/PR-Review.prompt.md
  .github/prompts/Performance-Tests.prompt.md
  .github/prompts/Remove-Eslint-Disable.prompt.md
  .github/prompts/Review-Code-Base.prompt.md
  .github/prompts/Review.prompt.md
  .github/prompts/Stryker-Generate-Stryke-Mutator-Fixes.prompt.md
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
  .github/prompts/Types-Double-Check.prompt.md
Due: none

🧹 [chore] Update deps & lockfiles, adjust bundling/lint rules, add schema, clarify Continue prompt
  .github/prompts/Continue.prompt.md
  .hintrc
  .ncurc.json
  .npmpackagejsonlintrc.json
  .prettierrc
  .remarkrc.mjs
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsdoc.json
Due: none

🧹 [chore] Normalize tooling/config metadata, tighten CI/build steps, and add jscpd leveldb store
  .github/copilot-instructions.md
  .github/copilot-instructions.short.md
  .github/dependabot.yml
  .github/workflows/ActionLint.yml
  .github/workflows/stryker-mutation-testing.yml
  .storybook/tsconfig.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  config/linting/.grype.yaml
  config/linting/.htmlhintrc
  config/linting/.markdownlintignore
  config/linting/.taplo.toml
  config/linting/.yamllint
  config/linting/biome.json
  config/linting/commitlint.config.mjs
  config/linting/jscpd.json
  config/schemas/devin-wiki.schema.json
  config/testing/tsconfig.electron.test.json
  config/testing/tsconfig.test.json
  config/tools/.markdown-link-check.json
  config/tools/.pre-commit-config.yaml
  eslint.config.mjs
  flatpak-build.yml
  package-lock.json
  package.json
  stryker.config.mjs
Due: none

🧹 [chore] Add schema metadata & normalize lint/editor configs
  .codecov.yml
  .vscode/extensions.json
  .vscode/settings.json
  config/linting/.grype.yaml
  config/linting/.taplo.toml
  config/linting/.yamllint
  docs/docusaurus/stylelint.config.mjs
  jsconfig.json
Due: none

🧪 [test] Centralize fast-check env config, add fuzz runner, and wire into test setups
  docs/Testing/FAST_CHECK_FUZZING_GUIDE.md
  electron/test/setup.ts
  package.json
  scripts/run-fast-check-fuzzing.ts
  shared/test/fuzzing/objectSafety.fuzz.test.ts
  shared/test/setup.ts
  shared/test/utils/fastCheckEnv.ts
  src/test/dom-setup.ts
  src/test/global-setup.ts
  src/test/mock-setup.ts
  src/test/setup.ts
  src/test/vitest-context-setup.ts
Due: electron, frontend, shared, üß© Shared Core

🛠️ [fix] Validate & create absolute Electron userData path during startup
  config/testing/tsconfig.electron.test.json
  docs/Testing/FAST_CHECK_FUZZING_GUIDE.md
  electron/main.ts
  scripts/run-fast-check-fuzzing.ts
  shared/test/fuzzing/objectSafety.fuzz.test.ts
Due: electron, shared, üß© Shared Core

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
