Repository Nick2bad4u/Uptime-Watcher: changes, and which Codecov flags are due for each by the changed paths.
All: electron, frontend, shared, üß© Shared Core, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer, üéº Uptime Orchestrator, üåê Site Management Domain, ‚öôÔ∏è Configuration Management, üîó IPC Communication Layer, üîß Backend Services, üì¢ Notification System, ü™ü Window Management, üì¶ Frontend State Stores, ü™ù Business Logic Hooks, üß© Core UI Components, üîß Common UI Components, üé® Theme System, üîå Frontend Services, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities, üìù Type Definitions, üîß Constants & Configuration, üîó Integration Layer

🛡️ [fix] Sanitize object safety diagnostics
  shared/test/fuzzing/objectSafety.fuzz.test.ts
  shared/test/utils/objectSafety-complete-coverage.test.ts
  shared/test/utils/objectSafety.comprehensive-coverage.fuzz.test.ts
  shared/test/utils/objectSafety.comprehensive.test.ts
  shared/utils/objectSafety.ts
Due: shared, üß© Shared Core, üõ†Ô∏è Backend Utilities, üß∞ Frontend Utilities

🛡️ [fix] Structure settings change logs
  src/services/logger.ts
  src/test/logger.test.ts
  src/test/services/logger.basic.test.ts
  src/test/services/logger.input-fuzzing.test.ts
Due: frontend, üîå Frontend Services

🛡️ [fix] Structure site logger metadata
  src/services/logger.ts
  src/test/logger.test.ts
  src/test/services/logger.basic.test.ts
  src/test/services/logger.input-fuzzing.test.ts
Due: frontend, üîå Frontend Services

🛡️ [fix] Structure system logger metadata
  src/services/logger.ts
  src/test/logger.test.ts
  src/test/services/logger.basic.test.ts
  src/test/services/logger.input-fuzzing.test.ts
Due: frontend, üîå Frontend Services

🛡️ [fix] Structure app logger metadata
  src/services/logger.ts
  src/test/logger.test.ts
  src/test/services/logger.basic.test.ts
  src/test/services/logger.input-fuzzing.test.ts
Due: frontend, üîå Frontend Services

🛡️ [fix] Structure add site validation logs
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/DynamicField.tsx
  src/test/components/AddSiteForm.coverage.test.ts
  src/test/components/AddSiteForm/AddSiteForm.uncovered-lines.test.tsx
  src/test/components/AddSiteForm/DynamicField.additional-coverage.test.tsx
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/strictTests/AddSiteForm.behavioral-coverage.test.tsx
  src/test/strictTests/DynamicField.coverage.test.tsx
  src/test/strictTests/DynamicField.critical.test.tsx
Due: frontend, üß© Core UI Components

🛡️ [fix] Structure cache sync logs
  src/test/utils/cacheSync.test.ts
  src/utils/cacheSync.ts
Due: frontend, üß∞ Frontend Utilities

🛡️ [fix] Structure status update logs
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/sites/utils/statusUpdateMerge.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
Due: frontend

🛡️ [fix] Structure fallback operation logs
  src/test/utils/fallbacks.test.ts
  src/utils/fallbacks.ts
Due: frontend, üß∞ Frontend Utilities

🛡️ [fix] Structure monitor checker logs
  electron/services/monitoring/enhancedMonitorChecker/fetchFreshMonitorWithHistory.ts
  electron/services/monitoring/enhancedMonitorChecker/performCorrelatedCheck.ts
  electron/services/monitoring/enhancedMonitorChecker/performDirectCheck.ts
Due: electron, üéØ Monitoring Core Engine

🛡️ [fix] Structure operation timeout logs
  electron/services/monitoring/OperationTimeoutManager.ts
  electron/test/services/monitoring/OperationTimeoutManager.comprehensive.test.ts
Due: electron, üéØ Monitoring Core Engine

🛡️ [fix] Structure standardized cache logs
  electron/utils/cache/StandardizedCache.ts
Due: electron, üõ†Ô∏è Backend Utilities

🛡️ [fix] Structure history limit logs
  electron/services/database/historyLimitManager.ts
  electron/test/utils/database/historyLimitManager.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Structure site repository service logs
  electron/services/database/SiteRepositoryService.ts
  electron/test/utils/database/SiteRepositoryService.comprehensive.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Structure site writer service logs
  electron/services/database/SiteWriterService.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Structure site repository delete logs
  electron/services/database/SiteRepository.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Structure database initialization log
  electron/services/database/DatabaseService.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Structure enhanced lifecycle logs
  electron/managers/MonitorManagerEnhancedLifecycle.ts
Due: electron

🛡️ [fix] Structure snapshot setup logs
  electron/coordinators/SnapshotSyncCoordinator.ts
Due: electron

🛡️ [fix] Structure remaining service logs
  electron/orchestrator/utils/createContextualApplicationError.ts
  electron/services/cloud/CloudService.ts
  src/services/SiteService.ts
  src/test/strictTests/SiteService.critical.test.ts
Due: electron, frontend, üîå Frontend Services

🛡️ [fix] Remove Dropbox retry unsafe assignment
  electron/services/cloud/providers/dropbox/dropboxRetry.ts
Due: electron

📝 [docs] Update structured logging examples
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/PingMonitor.ts
  shared/utils/logTemplates.ts
Due: electron, shared, üß© Shared Core, üéØ Monitoring Core Engine, üß∞ Frontend Utilities

🛡️ [fix] Remove form validator lint suppression
  src/utils/monitorValidation/formFieldValidators.ts
Due: frontend, üß∞ Frontend Utilities

🛡️ [fix] Normalize persisted monitor row types
  electron/services/database/utils/schema/dynamicSchema.ts
  electron/test/services/database/utils/dynamicSchema.conversion.test.ts
Due: electron, üóÑÔ∏è Database Layer

🛡️ [fix] Preserve remote monitor error causes
  electron/services/monitoring/shared/remoteMonitorCore.ts
  electron/test/services/monitoring/ServerHeartbeatMonitor.test.ts
Due: electron, üéØ Monitoring Core Engine

🛡️ [fix] Preserve monitor factory error causes
  electron/services/monitoring/shared/monitorFactoryUtils.ts
  electron/test/services/monitoring/shared/monitorFactoryUtils.test.ts
Due: electron, üéØ Monitoring Core Engine

✅ [test] Fix electron test type drift
  electron/test/services/cloud/migrations/syncReset.test.ts
  electron/test/services/notifications/NotificationService.test.ts
Due: electron

✅ [test] Fix frontend test type drift
  src/test/components/Alerts/StatusAlertToast.test.tsx
  src/test/components/Settings/Settings.test.tsx
  src/test/stores/sites/utils/statusUpdateSnapshot.timestamp.test.ts
  src/test/utils/createSerializedBackupResult.ts
Due: frontend

✅ [test] Fix lint gate regressions
  package-lock.json
  package.json
  playwright/tests/ui-site-card-actions.ui.playwright.test.ts
Due: none

🛠️ [build] Fix markdownlint ignore path
  config/linting/.markdownlintignore
  package.json
Due: none

📝 [docs] Clean markdownlint backlog
  README.md
  config/linting/.markdownlintignore
  config/linting/markdownlint.json
  docs/Architecture/ADRs/ADR_004_FRONTEND_STATE_MANAGEMENT.md
  docs/Architecture/ADRs/ADR_018_MAINTENANCE_WINDOWS_AND_SILENCING.md
  docs/Architecture/ADRs/ADR_019_TEMPLATES_AND_BULK_OPERATIONS.md
  docs/Architecture/README.md
  docs/Architecture/TYPING_AUDIT_HISTORY.md
  docs/Guides/DOCUMENTATION_INDEX.md
  docs/Guides/DOCUSAURUS_REMOTE_GIT_SETUP.md
  docs/Guides/IPC_AUTOMATION_WORKFLOW.md
  docs/Guides/RENDERER_INTEGRATION_GUIDE.md
  docs/Guides/TECHNOLOGY_EVOLUTION.md
  docs/Guides/TESTING.md
  docs/Guides/TOOLS_AND_COMMANDS_GUIDE.md
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  docs/Guides/VITE_PERFORMANCE.md
  docs/Testing/PLAYWRIGHT_CODEGEN_GUIDE.md
Due: none

🛠️ [build] Use declared config inspector binary
  config/tools/knip.config.ts
  package.json
Due: none

🧹 [cleanup] Remove unused monitoring sleep helper
  electron/services/monitoring/shared/sleepMs.ts
  electron/test/services/monitoring/shared/sleepMs.test.ts
Due: electron, üéØ Monitoring Core Engine

🧹 [chore] Remove stale frontend utility surfaces
  docs/Guides/VITE_PERFORMANCE.md
  src/stores/error/withErrorBoundary.tsx
  src/test/calculateMaxDuration.test.tsx
  src/test/chartConfig.test.ts
  src/test/components/SiteDetails/tabs/SettingsTab.arithmetic-mutations.test.tsx
  src/test/components/SiteDetails/tabs/SettingsTab.test.tsx
  src/test/frontend-functions-coverage-target.test.tsx
  src/test/frontend-functions-coverage.test.tsx
  src/test/stores/error/ErrorBoundary.comprehensive.test.tsx
  src/test/utils/chartUtils.property.test.ts
  src/test/utils/chartUtils.test.ts
  src/test/utils/duration.comprehensive.test.ts
  src/test/utils/duration.property.test.ts
  src/test/utils/duration.test.ts
  src/utils/chartUtils.ts
  src/utils/duration.ts
  vite.config.ts
Due: frontend, üì¶ Frontend State Stores, üß∞ Frontend Utilities

🧹 [chore] Remove obsolete electron helpers
  electron/services/database/databaseInitializer.ts
  electron/services/monitoring/monitorTypes.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/services/monitoring/monitorTypes.test.ts
  src/test/database/database.comprehensive-fuzzing.test.ts
  tests/strictTests/electron/utils/database/databaseInitializer.test.ts
Due: electron, frontend, üéØ Monitoring Core Engine, üóÑÔ∏è Database Layer

🧹 [chore] Remove stale shared utility surfaces
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/typeGuards.monitor.test.ts
  shared/test/types/chartConfig-extra.test.ts
  shared/test/types/chartConfig-function-coverage.test.ts
  shared/test/types/chartConfig.comprehensive.test.ts
  shared/test/types/chartConfig.test.ts
  shared/test/types/complete-function-coverage.test.ts
  shared/test/utils/assertions.test.ts
  shared/test/utils/comprehensive-function-coverage.test.ts
  shared/test/utils/formValidation.comprehensive.test.ts
  shared/typeGuards/monitor.ts
  shared/types/chartConfig.ts
  shared/types/chartHybrid.ts
  shared/utils/assertions.ts
  shared/utils/formValidation.ts
Due: shared, üß© Shared Core, üß∞ Frontend Utilities, üìù Type Definitions

🧹 [chore] Remove stale shared theme and validation errors
  electron/test/correlationUtils.test.ts
  electron/test/hooks/correlationUtils.test.ts
  electron/test/utilities.missing-branches.test.ts
  electron/test/utils/correlation.test.ts
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/types/complete-function-coverage.test.ts
  shared/test/types/themeConfig-functions.test.ts
  shared/test/types/themeConfig.comprehensive.test.ts
  shared/test/types/themeConfig.test.ts
  shared/test/utils/comprehensive-function-coverage.test.ts
  shared/types/themeConfig.ts
  shared/utils/validationError.ts
Due: electron, shared, üß© Shared Core, üß∞ Frontend Utilities, üìù Type Definitions

🧹 [chore] Remove stale Storybook-only UI surfaces
  src/components/Header/StatusCounter.tsx
  src/components/Header/StatusDivider.tsx
  src/components/shared/FormErrorAlert.tsx
  src/components/shared/SaveButton.tsx
  src/components/shared/formUtils.ts
  src/test/components/shared/FormErrorAlert.input-fuzzing.test.tsx
  src/test/components/shared/FormErrorAlert.test.tsx
  src/test/components/shared/SaveButton.input-fuzzing.test.tsx
  src/test/components/shared/SaveButton.test.tsx
  src/test/components/shared/formUtils.test.ts
  src/test/theme/components/ThemedTooltip.test.tsx
  src/theme/components/ThemedTooltip.tsx
  src/theme/styles/components/forms.css
  src/theme/styles/components/overlays.css
  src/theme/styles/components/utilities.css
  storybook/stories/FormErrorAlert.stories.tsx
  storybook/stories/SaveButton.stories.tsx
  storybook/stories/StatusCounter.stories.tsx
  storybook/stories/StatusDivider.stories.tsx
  storybook/stories/theme/ThemedTooltip.stories.tsx
Due: frontend, üîß Common UI Components, üé® Theme System

🛠️ [fix] Harden dashboard monitor summaries
  src/components/Dashboard/shared/useDashboardSiteSummaryMeta.ts
  src/hooks/site/useSiteActions.ts
  src/hooks/site/useSiteMonitor.ts
  src/test/components/Dashboard/SiteList/SiteList.test.tsx
Due: frontend, ü™ù Business Logic Hooks, üß© Core UI Components

Path conditions:
  electron: any of: electron/
  frontend: any of: src/
  shared: any of: shared/
  üß© Shared Core: any of: shared/**
  üéØ Monitoring Core Engine: any of: electron/services/monitoring/**, electron/managers/MonitorManager.ts, src/stores/sites/useSiteMonitoring.ts, shared/utils/monitoring/**
  üóÑÔ∏è Database Layer: any of: electron/services/database/**, electron/managers/DatabaseManager.ts, shared/types/database.ts
  üéº Uptime Orchestrator: any of: electron/UptimeOrchestrator.ts
  üåê Site Management Domain: any of: electron/managers/SiteManager.ts, src/stores/sites/useSiteOperations.ts, src/stores/sites/useSiteSync.ts, src/stores/sites/useSitesState.ts, shared/types/siteStatus.ts
  ‚öôÔ∏è Configuration Management: any of: electron/managers/ConfigurationManager.ts, src/stores/settings/**, shared/types/events.ts
  üîó IPC Communication Layer: any of: electron/services/ipc/**, electron/preload.ts
  üîß Backend Services: any of: electron/services/application/**, electron/services/security/**, electron/services/performance/**, electron/services/updater/**
  üì¢ Notification System: any of: electron/services/notifications/**
  ü™ü Window Management: any of: electron/services/window/**
  üì¶ Frontend State Stores: any of: src/stores/error/**, src/stores/stats/**, src/stores/ui/**, src/stores/updates/**, shared/utils/errorHandling.ts
  ü™ù Business Logic Hooks: any of: src/hooks/site/**, src/hooks/useBackendFocusSync.ts, src/hooks/useSelectedSite.ts, shared/utils/typeGuards.ts
  üß© Core UI Components: any of: src/components/Dashboard/**, src/components/SiteDetails/**, src/components/AddSiteForm/**
  üîß Common UI Components: any of: src/components/common/**, src/components/Header/**, src/components/Settings/**
  üé® Theme System: any of: src/theme/**, shared/utils/stringConversion.ts
  üîå Frontend Services: any of: src/services/**
  üõ†Ô∏è Backend Utilities: any of: electron/utils/**, electron/electronUtils.ts, shared/utils/jsonSafety.ts, shared/utils/objectSafety.ts
  üß∞ Frontend Utilities: any of: src/utils/**, shared/utils/**
  üìù Type Definitions: any of: src/types.ts, electron/types.ts, src/stores/types.ts, src/theme/types.ts, shared/types/**
  üîß Constants & Configuration: any of: src/constants.ts, electron/constants.ts
  üîó Integration Layer: any of: electron/managers/validators/**, src/stores/middleware/**, electron/events/**, shared/validation/**
