Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

.lintstagedrc.json:

{
    "$schema": "https://www.schemastore.org/lintstagedrc.schema.json",
    "*.md": [
        "markdownlint --fix --cache"
    ],
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix --cache --max-warnings=0",
        "prettier --write --cache"
    ],
    "*.{css,scss}": [
        "stylelint --fix --cache",
        "prettier --write --cache"
    ],
    "*.{json,yaml,yml}": [
        "prettier --write --cache"
    ]
}

🧪 [test] Improve test robustness and coverage patterns
  .gitignore
  electron/test/EnhancedMonitorChecker.comprehensive.test.ts
  electron/test/patterns/console-remediation.test.ts
  electron/test/services/monitoring/HttpMonitor.comprehensive.test.ts
  electron/test/services/monitoring/MigrationSystem.comprehensive.test.ts
  electron/test/services/monitoring/MonitorStatusUpdateService.comprehensive.test.ts
  electron/test/services/monitoring/OperationTimeoutManager.comprehensive.test.ts
  electron/test/utils/database/SiteRepositoryService.comprehensive.test.ts
  scripts/OhMyPosh-Atomic-Custom.json
  shared/test/strictTests/useSitesStore-complete-coverage.test.ts
  shared/test/targeted-function-coverage-boost.test.ts
  shared/test/types.test.ts
  shared/test/utils/environment-complete-function-coverage.test.ts
  shared/test/utils/safeConversions-extra.test.ts
  shared/test/validation/schemas-complete-function-coverage.test.ts
  src/test/constants.test.ts
  src/test/frontend-functions-coverage-target.test.tsx
  src/test/frontend-functions-coverage.test.tsx
  src/test/generateUuid.test.ts
  src/test/stores/sites/useSitesStore-complete-coverage.test.ts
  src/test/themeTypes.test.tsx
  src/test/types/monitorFormData.additional.test.ts
  src/test/ultimate-function-coverage.test.ts
  tsconfig.json
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Ensure 100% function coverage in string conversion utility
  benchmarks/analytics/siteAnalytics.bench.ts
  benchmarks/database/backupRestore.bench.ts
  benchmarks/database/dataValidation.bench.ts
  benchmarks/database/indexOperations.bench.ts
  benchmarks/electron/databaseService.bench.ts
  benchmarks/electron/ipcService.bench.ts
  benchmarks/electron/monitoringService.bench.ts
  benchmarks/file/fileOperations.bench.ts
  benchmarks/memoryManagement.bench.ts
  benchmarks/validation/validationOperations.bench.ts
  electron/test/patterns/console-remediation.test.ts
  electron/test/services/database/MonitorRepository.comprehensive.test.ts
  electron/test/services/monitoring/MigrationSystem.comprehensive.test.ts
  electron/test/services/monitoring/MonitorStatusUpdateService.comprehensive.test.ts
  electron/test/services/monitoring/OperationTimeoutManager.comprehensive.test.ts
  electron/test/utils/correlation.test.ts
  electron/test/utils/database/SiteRepositoryService.comprehensive.test.ts
  eslint.config.mjs
  scripts/OhMyPosh-Atomic-Custom.json
  shared/test/strictTests/useSitesStore-complete-coverage.test.ts
  shared/test/utils/environment-complete-function-coverage.test.ts
  shared/test/utils/stringConversion-complete-function-coverage.test.js
  shared/test/utils/stringConversion-complete-function-coverage.test.ts
  src/test/constants.test.ts
  src/test/final-90-percent-function-coverage.test.ts
  src/test/final.coverage.enhancement.simplified.test.tsx
  src/test/frontend-functions-coverage-target.test.tsx
  src/test/frontend-functions-coverage.test.tsx
  src/test/generateUuid.test.ts
  src/test/hooks/site/useSiteDetails.test.ts
  src/test/precision-function-coverage.test.ts
  src/test/stores/sites/useSitesStore-complete-coverage.test.ts
  src/test/types/monitorFormData.additional.test.ts
  src/test/vitest-jest-dom.d.ts
  tsconfig.electron.json
  tsconfig.electron.test.json
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Add comprehensive function and branch coverage tests
  .github/workflows/codeql.yml
  .github/workflows/flatpak-build.yml
  ActionLintConfig.yaml
  flatpak-build.yml
  io.github.uptimewatcher.desktop
  package-lock.json
  package.json
  shared/test/types-complete-function-coverage.test.ts
  shared/test/types/chartConfig-function-coverage.test.ts
  shared/test/types/complete-function-coverage.test.ts
  shared/test/types/database-missing-coverage.test.ts
  shared/test/utils/additional-function-coverage.test.ts
  shared/test/utils/cacheKeys-function-coverage.test.ts
  shared/test/utils/corrected-function-coverage-new.test.ts
  shared/test/utils/corrected-function-coverage.test.ts
  shared/test/utils/logTemplates-missing-coverage.test.ts
  shared/test/utils/objectSafety-missing-coverage.test.ts
  shared/test/utils/simple-function-coverage.test.ts
  shared/test/utils/siteStatus-missing-coverage.test.ts
  shared/test/utils/stringConversion-missing-coverage.test.ts
  shared/test/validation/schemas-missing-coverage.test.ts
  vite.config.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Expand function and branch coverage for utility and validation modules
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  shared/test/types-complete-function-coverage.test.ts
  shared/test/types/chartConfig-function-coverage.test.ts
  shared/test/types/complete-function-coverage.test.ts
  shared/test/types/database-missing-coverage.test.ts
  shared/test/utils/additional-function-coverage.test.ts
  shared/test/utils/cacheKeys-function-coverage.test.ts
  shared/test/utils/corrected-function-coverage-new.test.ts
  shared/test/utils/corrected-function-coverage.test.ts
  shared/test/utils/logTemplates-missing-coverage.test.ts
  shared/test/utils/objectSafety-missing-coverage.test.ts
  shared/test/utils/simple-function-coverage.test.ts
  shared/test/utils/siteStatus-missing-coverage.test.ts
  shared/test/utils/stringConversion-complete-function-coverage.test.js
  shared/test/utils/stringConversion-missing-coverage.test.ts
  shared/test/validation/schemas-missing-coverage.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Unifies site status utils and Typedoc config, cleans tests
  docs/assets/_config.yml
  docs/docusaurus/sidebars.ts
  docs/docusaurus/typedoc.local.config.json
  electron/test/services/database/DataImportExportService.comprehensive.test.ts
  electron/test/services/database/DataImportExportService.fixed.test.ts
  package.json
  scripts/typedoc-local.json
  scripts/typedoc.electron-local.json
  src/test/components/Dashboard/SiteCard/SiteCard.maximal-coverage.test.tsx
  src/test/siteStatus.test.ts
  src/test/utils/siteStatus.comprehensive.test.ts
  src/test/utils/siteStatus.direct.test.ts
  src/test/utils/siteStatus.import.test.ts
  src/test/utils/siteStatus.reexport.test.ts
  src/test/utils/siteStatus.test.ts
  src/utils/siteStatus.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 11.8.0
  package.json
Due: prettier --write --cache

📝 [docs] Streamlines sidebar and Typedoc MD config
  docs/docusaurus/sidebars.ts
  docs/docusaurus/typedoc.config.json
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Update TypeDoc output paths and add error resolution prompt
  .github/prompts/Fix-Typedoc-Errors.prompt.md
  .github/workflows/deploy-docusaurus.yml
  docs/docusaurus/sidebars.ts
  docs/docusaurus/typedoc.config.json
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

👷 [ci] Update Node.js and improve sidebar paths
  .github/workflows/codeql.yml
  docs/docusaurus/sidebars.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔧 [build] Add full support for .mts/.cts TypeScript files
  .github/workflows/codeql.yml
  biome.json
  docs/docusaurus/sidebars.ts
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.bench.json
  tsconfig.electron.json
  tsconfig.electron.test.json
  tsconfig.json
  tsconfig.shared.json
  tsconfig.shared.test.json
  tsconfig.test.json
  vite.config.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔧 [build] Migrate scripts to ESM and update related configs
  metrics.repository.svg
  package.json
  scripts/convert-pascal-to-camel.mjs
  scripts/debug-monitor-types.js
  scripts/download-NodePing-docs.mjs
  scripts/download-Zod-docs.mjs
  scripts/download-axios-docs.mjs
  scripts/download-chartjs-docs.mjs
  scripts/download-docs-template.mjs
  scripts/download-electron-docs.mjs
  scripts/download-nodeSqlite3-docs.mjs
  scripts/download-nodeSqlite3Wasm-docs.mjs
  scripts/download-react-docs.mjs
  scripts/download-tsdoc-tags.mjs
  scripts/download-validator-docs.mjs
  scripts/download-zustand-docs.mjs
  scripts/extract-test-names.mjs
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Add and improve API documentation for core interfaces
  docs/docusaurus/tsconfig.typedoc.json
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  electron/UptimeOrchestrator.ts
  electron/events/TypedEventBus.ts
  electron/events/eventTypes.ts
  electron/services/ServiceContainer.ts
  output.txt
  src/hooks/useMonitorFields.ts
  src/hooks/useMount.ts
  src/hooks/useThemeStyles.ts
  src/services/chartConfig.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/utils/cache.ts
  src/utils/monitorTypeHelper.ts
  src/utils/monitorUiHelpers.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 11.9.0
  package.json
Due: prettier --write --cache

📝 [docs] Improve documentation clarity and TypeScript typing
  docs/docusaurus/tsconfig.typedoc.json
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  electron/events/eventTypes.ts
  electron/managers/ConfigurationManager.ts
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/managers/validators/interfaces.ts
  electron/services/application/ApplicationService.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/database/DatabaseService.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Update documentation index and Typedoc configs
  docs/DOCUMENTATION-INDEX.md
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
Due: markdownlint --fix --cache, prettier --write --cache

🧹 [chore] Ignore generated Docusaurus docs directory
  .gitignore
Due: none

🎨 [style] Improves documentation formatting and updates build deps
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  electron/UptimeOrchestrator.ts
  electron/events/TypedEventBus.ts
  electron/managers/ConfigurationManager.ts
  electron/services/ServiceContainer.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/hooks/useMount.ts
  src/hooks/useThemeStyles.ts
  src/services/chartConfig.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/utils/cache.ts
  src/utils/monitorTypeHelper.ts
  src/utils/monitorUiHelpers.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🎨 [style] Improve formatting of imports and logging
  benchmarks/database/bulkTransactions.bench.ts
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  scripts/download-NodePing-docs.mjs
  scripts/download-axios-docs.mjs
  scripts/download-nodeSqlite3-docs.mjs
  scripts/download-nodeSqlite3Wasm-docs.mjs
  scripts/download-tsdoc-tags.mjs
  scripts/download-validator-docs.mjs
  scripts/fix-mdx-typedoc-unified-local.js
  scripts/fix-mdx-typedoc-unified.js
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 12.0.0
  package.json
Due: prettier --write --cache

🧪 [test] Achieve 100% coverage for key modules and improve TypeDoc workflow
  .github/workflows/deploy-docusaurus.yml
  .vscode/settings.json
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/tsconfig.typedoc.json
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  package-lock.json
  package.json
  scripts/fix-mdx-typedoc-unified-local.js
  scripts/fix-mdx-typedoc-unified-local.mjs
  scripts/fix-mdx-typedoc-unified.js
  scripts/fix-mdx-typedoc-unified.mjs
  shared/test/final-100-coverage.test.ts
  shared/test/utils/objectSafety.final-100-coverage.test.ts
  shared/test/utils/stringConversion.100-coverage.test.ts
  shared/test/utils/stringConversion.final-100-coverage.test.ts
  shared/test/utils/stringConversion.final-final-coverage.test.ts
  shared/test/validation/schemas.100-coverage.test.ts
  shared/test/validation/schemas.final-final-coverage.test.ts
  src/test/components/AddSiteForm/AddSiteForm.100-coverage.test.tsx
  src/test/final-coverage-remaining-lines.test.ts
  src/test/hooks/useMount.100-coverage.test.ts
  src/test/stores/ui/useUiStore.100-coverage.test.ts
  src/test/types/monitor-forms.100-coverage.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 12.1.0
  package.json
Due: prettier --write --cache

🧪 [test] Improve formatting and coverage for 100% test suites
  scripts/fix-mdx-typedoc-unified-local.mjs
  scripts/fix-mdx-typedoc-unified.mjs
  shared/test/final-100-coverage.test.ts
  shared/test/utils/objectSafety.final-100-coverage.test.ts
  shared/test/utils/stringConversion.100-coverage.test.ts
  shared/test/utils/stringConversion.final-100-coverage.test.ts
  shared/test/utils/stringConversion.final-final-coverage.test.ts
  shared/test/validation/schemas.100-coverage.test.ts
  shared/test/validation/schemas.final-final-coverage.test.ts
  src/test/components/AddSiteForm/AddSiteForm.100-coverage.test.tsx
  src/test/final-coverage-remaining-lines.test.ts
  src/test/hooks/useMount.100-coverage.test.ts
  src/test/stores/ui/useUiStore.100-coverage.test.ts
  src/test/types/monitor-forms.100-coverage.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

👷 [ci] Update artifact path and refine file exclusions
  .github/workflows/deploy-docusaurus.yml
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 12.2.0
  package.json
Due: prettier --write --cache

👷 [ci] Update docs build workflow and cleanup configs
  .github/workflows/deploy-docusaurus.yml
  docs/docusaurus/docusaurus.config.ts
  flatpak-build.yml
  package.json
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔧 [build] Use npx for all package scripts and dependencies
  docs/docusaurus/package.json
Due: prettier --write --cache

🔧 [build] Remove redundant npx usage in scripts and deps
  docs/docusaurus/package.json
Due: prettier --write --cache

👷 [ci] Update workflow for Docusaurus deployment
  .github/workflows/deploy-docusaurus.yml
Due: prettier --write --cache

📝 [docs] Update TypeDoc output directory path
  docs/docusaurus/typedoc.config.json
Due: prettier --write --cache

🔧 [build] Add MDX linting and update docs config
  .prettierignore
  docs/docusaurus/docusaurus.config.ts
  package-lock.json
  package.json
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔧 [build] Add MDX linting support and refine rule configs
  eslint.config.mjs
Due: none

📝 [docs] Add Docusaurus setup guide and improve sidebar UX
  docs/DOCUSAURUS-SETUP-GUIDE.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/sidebars.ts
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/tsconfig.typedoc.json
  eslint.config.mjs
  shared/types/database.ts
  shared/types/formData.ts
  shared/utils/siteStatus.ts
  shared/utils/stringConversion.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

👷 [ci] Install Flatpak dependencies system-wide for reliable builds
  .github/workflows/flatpak-build.yml
  flatpak-build.yml
Due: prettier --write --cache

🧪 [test] Achieve 100% coverage for shared and electron modules
  docs/Guides/AI-CONTEXT.md
  docs/Guides/API-DOCUMENTATION.md
  docs/Guides/DEVELOPER-QUICK-START.md
  docs/Guides/DOCUMENTATION-INDEX.md
  docs/Guides/DOCUSAURUS-SETUP-GUIDE.md
  docs/Guides/ENVIRONMENT-SETUP.md
  docs/Guides/LOGGER_MIGRATION_COMPLETE_REPORT.md
  docs/Guides/ORGANIZATION-SUMMARY.md
  docs/Guides/TECHNOLOGY-EVOLUTION.md
  docs/Guides/TROUBLESHOOTING.md
  docs/Guides/VITE-PERFORMANCE.md
  docs/Guides/testing-methodology-react-components.md
  docs/docusaurus/sidebars.ts
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  electron/test/enhanced-monitor-checker-targeted.test.ts
  electron/test/services/monitoring/EnhancedMonitorChecker-coverage-fixed.test.ts
  electron/test/services/monitoring/EnhancedMonitorChecker-coverage.test.ts
  electron/test/services/monitoring/PortMonitor-coverage-fixed.test.ts
  electron/test/services/monitoring/PortMonitor-coverage.test.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  electron/test/utils/interfaces-coverage.test.ts
  electron/test/utils/logger-coverage.test.ts
  electron/test/utils/logger-targeted.test.ts
  shared/test/complete-100-coverage-fixed.test.ts
  shared/test/complete-100-coverage.test.ts
  shared/test/coverage-completion.test.ts
  shared/test/coverage-test-fixed.test.ts
  shared/test/types.main-functions.test.ts
  shared/test/types/database-additional.test.ts
  shared/test/types/formData-functions.test.ts
  shared/test/types/monitorConfig-functions.test.ts
  shared/test/types/monitorConfig.comprehensive.test.ts
  shared/test/types/monitorConfig.test.ts
  shared/test/types/themeConfig-functions.test.ts
  shared/test/types/validation-functions.test.ts
  shared/test/utils/comprehensive-function-coverage.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Achieves 100% test coverage and improves consistency
  .github/workflows/flatpak-build.yml
  docs/Guides/DOCUSAURUS-SETUP-GUIDE.md
  electron/test/enhanced-monitor-checker-targeted.test.ts
  electron/test/services/monitoring/EnhancedMonitorChecker-coverage-fixed.test.ts
  electron/test/services/monitoring/EnhancedMonitorChecker-coverage.test.ts
  electron/test/services/monitoring/PortMonitor-coverage-fixed.test.ts
  electron/test/services/monitoring/PortMonitor-coverage.test.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  electron/test/utils/interfaces-coverage.test.ts
  electron/test/utils/logger-coverage.test.ts
  electron/test/utils/logger-targeted.test.ts
  eslint.config.mjs
  shared/test/complete-100-coverage-fixed.test.ts
  shared/test/complete-100-coverage.test.ts
  shared/test/coverage-completion.test.ts
  shared/test/coverage-test-fixed.test.ts
  shared/test/types.main-functions.test.ts
  shared/test/types/database-additional.test.ts
  shared/test/types/formData-functions.test.ts
  shared/test/types/monitorConfig-functions.test.ts
  shared/test/types/monitorConfig.comprehensive.test.ts
  shared/test/types/monitorConfig.test.ts
  shared/test/types/themeConfig-functions.test.ts
  shared/test/types/validation-functions.test.ts
  shared/test/utils/comprehensive-function-coverage.test.ts
  shared/types/database.ts
  shared/types/formData.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache
