Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

.lintstagedrc.json:

{
    "$schema": "https://www.schemastore.org/lintstagedrc.schema.json",
    "*.md": [
        "markdownlint --fix --cache"
    ],
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix --cache --max-warnings=0",
        "prettier --write --cache"
    ],
    "*.{css,scss}": [
        "stylelint --fix --cache",
        "prettier --write --cache"
    ],
    "*.{json,yaml,yml}": [
        "prettier --write --cache"
    ]
}

Bump version to 16.2.0
  package.json
Due: prettier --write --cache

Bump version to 16.3.0
  package.json
Due: prettier --write --cache

Update Build.yml
  .github/workflows/Build.yml
Due: prettier --write --cache

Bump version to 16.4.0
  package.json
Due: prettier --write --cache

🔧 [build] Upgrade node-abi to v4.14.0 and update dependencies
  package-lock.json
  package.json
Due: prettier --write --cache

Bump version to 16.5.0
  package.json
Due: prettier --write --cache

👷 [ci] Overhauls build & release workflow for multi-platform automation
  .github/workflows/Build.yml
Due: prettier --write --cache

Bump version to 16.6.0
  package.json
Due: prettier --write --cache

[StepSecurity] Apply security best practices
  .github/dependabot.yml
Due: prettier --write --cache

Update Dependabot schedule to weekly
  .github/dependabot.yml
Due: prettier --write --cache

[StepSecurity] Apply security best practices (#83)
  .github/dependabot.yml
Due: prettier --write --cache

🚜 [refactor] Consolidates site management logic
  .github/copilot-instructions.md
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/services/ServiceContainer.ts
  electron/services/site/SiteService.ts
  electron/test/integration/siteDeletion.integration.test.ts
  electron/test/managers/MonitorManager.arithmetic-mutations.test.ts
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/managers/MonitorManager.test.ts
  electron/test/services/site/SiteService.test.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/siteDeletion.ts
  src/services/DataService.ts
  src/services/EventsService.ts
  src/services/MonitorTypesService.ts
  src/services/SettingsService.ts
  src/services/StateSyncService.ts
  src/services/SystemService.ts
  src/services/utils/createIpcServiceHelpers.ts
  src/stores/sites/services/SiteService.ts
  src/test/services/DataService.comprehensive.test.ts
  src/test/services/EventsService.comprehensive.test.ts
  src/test/services/SettingsService.comprehensive.test.ts
  src/test/services/SystemService.comprehensive.test.ts
  src/test/strictTests/SiteService.critical.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Streamline site deletion process
  electron/services/site/SiteService.ts
  electron/test/services/site/SiteService.test.ts
  playwright/tests/ui-monitoring-status-display.ui.playwright.test.ts
  playwright/tests/ui-site-details.ui.playwright.test.ts
  playwright/utils/ui-helpers.ts
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/services/StateSyncService.ts
  src/stores/sites/useSiteSync.ts
  src/test/components/SiteDetails/SiteDetailsNavigation.comprehensive.test.tsx
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
  src/test/utils/cacheSync.test.ts
  src/utils/cacheSync.ts
  storybook/stories/SiteDetailsHeader.stories.tsx
  storybook/stories/SiteDetailsNavigation.stories.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

🔧 [build] Updates Node.js version and UI components
  .github/workflows/Build.yml
  playwright/tests/ui-monitor-types.ui.playwright.test.ts
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/Settings/Settings.css
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/test/components/Dashboard/SiteCard/components/MonitorSelector.additional-coverage.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/components/MonitorSelector.complete-coverage.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.additional-coverage.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.comprehensive.test.tsx
  src/test/components/SiteDetails/SiteDetailsNavigation.comprehensive.test.tsx
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/stores/ui/useUiStore.test.ts
  src/theme/components.css
  src/theme/components/ThemedSelect.tsx
  storybook/stories/MonitorSelector.stories.tsx
  storybook/stories/MonitoringStatusDisplay.stories.tsx
  storybook/stories/ScreenshotThumbnail.stories.tsx
  storybook/stories/SiteDetailsHeader.stories.tsx
  storybook/stories/SiteDetailsNavigation.stories.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

🚜 [refactor] Consolidates site management logic
  electron/services/ServiceContainer.ts
  electron/services/site/SiteService.ts
  electron/test/fuzzing/databaseSchema.comprehensive.fuzz.test.ts
  electron/test/integration/siteDeletion.integration.test.ts
  electron/test/services/ServiceContainer.application-services.test.ts
  electron/test/services/ServiceContainer.comprehensive.test.ts
  electron/test/services/ServiceContainer.fixed.test.ts
  electron/test/services/ServiceContainer.simple.test.ts
  electron/test/services/ServiceContainer.test.ts
  electron/test/services/site/SiteService.test.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/siteDeletion.ts
  playwright/tests/ui-site-details.ui.playwright.test.ts
  playwright/utils/ui-helpers.ts
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/Settings/Settings.css
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/services/DataService.ts
  src/services/EventsService.ts
  src/services/MonitorTypesService.ts
  src/services/SettingsService.ts
  src/services/StateSyncService.ts
  src/services/SystemService.ts
  src/services/utils/createIpcServiceHelpers.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesStore.ts
  src/test/components/SiteDetails/SiteDetailsNavigation.comprehensive.test.tsx
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/utils/typeGuards.advanced-fuzzing.test.ts
  src/theme/components.css
  src/theme/components/ThemedSelect.tsx
  src/utils/cacheSync.ts
  storybook/stories/SiteDetailsNavigation.stories.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

✨ [feat] Upgrade dependencies and enhance Storybook
  assets/.wasm-version
  assets/node-sqlite3-wasm.wasm
  config/testing/tsconfig.configs.json
  config/tools/knip.config.ts
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  electron/events/eventTypes.ts
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/run-storybook-tests.mjs
  src/components/Dashboard/SiteList/SiteTableView.tsx
  src/components/common/Tooltip/Tooltip.tsx
  src/hooks/ui/useOverflowMarquee.ts
  src/hooks/useMount.ts
  src/services/DataService.ts
  src/services/EventsService.ts
  src/services/MonitorTypesService.ts
  src/services/SettingsService.ts
  src/services/StateSyncService.ts
  src/services/SystemService.ts
  src/theme/components/StatusIndicator.tsx
  src/types/events.ts
  storybook/main.ts
  storybook/preview.ts
  storybook/shims/preview-api.ts
  storybook/viteSharedConfig.ts
  vite.config.ts
  vitest.storybook.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 16.7.0
  package.json
Due: prettier --write --cache

👷 [ci] Enhance CI/CD workflow for releases
  .github/dependabot.yml
  .github/workflows/Build.yml
  .github/workflows/codecov.yml
  electron/test/integration/siteDeletion.integration.test.ts
  scripts/check-doc-links.mjs
  scripts/run-storybook-tests.mjs
  shared/test/validation.property.test.ts
  shared/validation/validatorUtils.ts
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  stylelint.config.mjs
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 16.8.0
  package.json
Due: prettier --write --cache

Update tsconfig.typedoc.json
  docs/docusaurus/tsconfig.typedoc.json
Due: prettier --write --cache

📝 [docs] Augment benchmark files with documentation
  benchmarks/eventSystem.bench.ts
  benchmarks/frontend/componentLifecycle.bench.ts
  benchmarks/frontend/eventHandling.bench.ts
  benchmarks/frontend/hookPerformance.bench.ts
  benchmarks/heavyOperations.bench.ts
  benchmarks/memoryManagement.bench.ts
  benchmarks/monitoring/monitorService.bench.ts
  benchmarks/services/analytics.bench.ts
  benchmarks/services/apiService.bench.ts
  benchmarks/services/authentication.bench.ts
  benchmarks/services/backgroundTasks.bench.ts
  benchmarks/services/configurationManagement.bench.ts
  benchmarks/services/dnsMonitoring.bench.ts
  benchmarks/services/eventProcessing.bench.ts
  benchmarks/services/fileManagement.bench.ts
  benchmarks/services/monitorServiceManagement.bench.ts
  benchmarks/services/notification.bench.ts
  benchmarks/services/siteManagement.bench.ts
  benchmarks/services/statusProcessing.bench.ts
  benchmarks/shared/typeHelpers.bench.ts
  config/tools/knip.config.ts
  electron/preload/domains/dataApi.ts
  electron/preload/domains/eventsApi.ts
  electron/preload/domains/monitorTypesApi.ts
  electron/preload/domains/monitoringApi.ts
  electron/preload/domains/settingsApi.ts
  electron/preload/domains/sitesApi.ts
  electron/preload/domains/stateSyncApi.ts
  electron/preload/domains/systemApi.ts
  playwright/fixtures/electron-helpers.ts
  playwright/fixtures/global-setup.ts
  playwright/fixtures/global-teardown.ts
  playwright/utils/ui-helpers.ts
  scripts/augment-benchmark-docs.mjs
  scripts/report-playwright-coverage.ts
  shared/types/chartHybrid.ts
  src/utils/chartUtils.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Rename `siteId` to `siteIdentifier`
  benchmarks/database/enhancedDatabaseOperations.bench.ts
  benchmarks/database/historyRepository.bench.ts
  benchmarks/database/monitorRepository.bench.ts
  benchmarks/database/queries.bench.ts
  benchmarks/electron/commandService.bench.ts
  benchmarks/electron/monitoringService.bench.ts
  benchmarks/electron/siteService.bench.ts
  benchmarks/event-system/domainEvents.bench.ts
  benchmarks/event-system/eventCorrelation.bench.ts
  benchmarks/event-system/eventHandler.bench.ts
  benchmarks/event-system/ipcCommunication.bench.ts
  benchmarks/frontend/componentState.bench.ts
  benchmarks/frontend/hookPerformance.bench.ts
  benchmarks/frontend/stateManagement.bench.ts
  benchmarks/memoryManagement.bench.ts
  benchmarks/monitoring/dashboardDataProvider.bench.ts
  benchmarks/monitoring/monitoringSystem.bench.ts
  benchmarks/monitoring/siteCheckingAlgorithms.bench.ts
  benchmarks/monitoring/siteMonitoring.bench.ts
  benchmarks/services/analytics.bench.ts
  benchmarks/services/dnsMonitoring.bench.ts
  benchmarks/services/statusProcessing.bench.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.new.test.tsx
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Enhance preload diagnostics and logging
  benchmarks/frontend/hookPerformance.bench.ts
  docs/Guides/TECHNOLOGY_EVOLUTION.md
  electron/main.ts
  electron/preload/core/bridgeFactory.ts
  electron/preload/domains/eventsApi.ts
  electron/preload/domains/sitesApi.ts
  electron/preload/utils/preloadLogger.ts
  electron/services/ipc/IpcService.ts
  electron/services/ipc/diagnosticsMetrics.ts
  electron/services/ipc/validators.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/setup.ts
  shared/types/ipc.ts
  src/components/Dashboard/SiteList/EmptyState.tsx
  src/services/SystemService.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.new.test.tsx
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Enhance code readability and maintainability
  benchmarks/services/configurationManagement.bench.ts
  benchmarks/services/statusProcessing.bench.ts
  scripts/analyze-coverage.mjs
  scripts/augment-benchmark-docs.mjs
  scripts/build-eslint-inspector.mjs
  scripts/download-axios-docs.mjs
  scripts/download-chartjs-docs.mjs
  scripts/download-docs-template.mjs
  scripts/download-electron-docs.mjs
  scripts/download-fast-check-vitest-docs.mjs
  scripts/fix-mdx-typedoc-unified-local.mjs
  src/test/services/SystemService.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Enhance script codebase consistency
  scripts/analyze-coverage.mjs
  scripts/augment-benchmark-docs.mjs
  scripts/build-eslint-inspector.mjs
  scripts/download-axios-docs.mjs
  scripts/download-chartjs-docs.mjs
  scripts/download-docs-template.mjs
  scripts/download-electron-docs.mjs
  scripts/download-fast-check-vitest-docs.mjs
Due: none

🚜 [refactor] Move monitor removal to sites API
  electron/preload/domains/monitoringApi.ts
  electron/preload/domains/sitesApi.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/preload/domains/monitoringApi.comprehensive.test.ts
  electron/test/preload/domains/sitesApi.comprehensive.test.ts
  shared/types/preload.ts
  src/App.tsx
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/sites/baseTypes.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/utils/operationHelpers.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/ui/useUiStore.ts
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.new.test.tsx
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/mock-setup.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
  src/test/strictTests/SiteService.critical.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
  src/test/types.test.tsx
  storybook/setup/electron-api-mock.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Expose realtime status subscription health
  docs/TSDoc/stores/sites.md
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Header/StatusSubscriptionIndicator.css
  src/components/Header/StatusSubscriptionIndicator.tsx
  src/hooks/useStatusSubscriptionHealth.ts
  src/stores/sites/baseTypes.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesState.ts
  src/stores/sites/useSitesStore.ts
  src/stores/sites/utils/operationHelpers.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/ui/useUiStore.ts
  src/test/components/Header/StatusSubscriptionIndicator.test.tsx
  src/test/hooks/deriveStatusSubscriptionHealth.test.ts
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/useSitesState.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

🛠️ [fix] Improve site monitoring and operation flows
  .remarkignore
  config/tools/knip.config.ts
  docs/TSDoc/stores/sites.md
  shared/utils/safeConversions.ts
  src/App.tsx
  src/components/Header/Header.css
  src/components/Header/StatusSubscriptionIndicator.tsx
  src/stores/sites/baseTypes.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/utils/operationHelpers.ts
  src/stores/ui/useUiStore.ts
  src/test/components/Header/Header.assignment-operator.test.tsx
  src/test/components/Header/StatusSubscriptionIndicator.test.tsx
  src/test/hooks/deriveStatusSubscriptionHealth.test.ts
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/safeConversions-coverage.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

✨ [feat] Enhance error handling and validation
  CONTRIBUTING.md
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  docs/Architecture/ADRs/ARCHITECTURE_DIAGRAM.md
  docs/Guides/ValidationStrategy.md
  electron/UptimeOrchestrator.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/services/ServiceContainer.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/events/RendererEventBridge.ts
  electron/services/ipc/IpcService.ts
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/services/events/RendererEventBridge.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  shared/test/fuzzing/safeConversions.fuzz.test.ts
  shared/test/utils/safeConversions.test.ts
  shared/utils/errorHandling.ts
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/stores/monitor/operations.ts
  src/stores/monitor/state.ts
  src/stores/monitor/types.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/settings/hydration.ts
  src/stores/settings/operations.ts
  src/stores/settings/state.ts
  src/stores/settings/useSettingsStore.ts
  src/test/components/Header/Header.assignment-operator.test.tsx
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Improve error handling
  shared/ipc/rendererEvents.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Enhance error handling and event dispatch
  electron/UptimeOrchestrator.ts
  electron/managers/MonitorManager.ts
  electron/preload/domains/eventsApi.ts
  electron/services/application/ApplicationService.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/events/RendererEventBridge.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  electron/test/services/events/RendererEventBridge.test.ts
  package-lock.json
  package.json
  shared/test/utils/safeConversions.property.test.ts
  shared/types/monitorConfig.ts
  shared/utils/errorHandling.ts
  shared/utils/siteStatus.ts
  src/stores/monitor/state.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/settings/operations.ts
  src/stores/settings/state.ts
  src/stores/sites/utils/operationHelpers.ts
  src/stores/utils/storeErrorHandling.ts
  src/test/components/AddSiteForm/AddSiteForm.input-fuzzing.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.realistic.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.additional-coverage.test.tsx
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Improve state synchronization reliability
  docs/Guides/EVENT_SYSTEM_GUIDE.md
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  electron/constants.ts
  electron/events/eventTypes.ts
  electron/managers/SiteManager.ts
  electron/preload/domains/stateSyncApi.ts
  electron/services/ServiceContainer.ts
  electron/services/database/SiteRepository.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/EnhancedMonitoringServiceFactory.ts
  electron/services/monitoring/MonitorOperationRegistry.ts
  electron/services/window/WindowService.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  electron/test/services/monitoring/MonitorOperationRegistry.new.test.ts
  electron/test/services/monitoring/MonitorOperationRegistry.test.ts
  electron/test/services/window/WindowService.test.ts
  electron/utils/cache/StandardizedCache.ts
  package-lock.json
  package.json
  shared/constants/sites.ts
  shared/ipc/rendererEvents.ts
  shared/types/events.ts
  src/components/AddSiteForm/Submit.tsx
  src/hooks/site/useSiteDetails.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesStore.ts
  src/test/hooks/site/useSiteDetails.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Improves event handling and state sync
  electron/constants.ts
  electron/events/eventTypes.ts
  electron/managers/SiteManager.ts
  electron/preload/domains/eventsApi.ts
  electron/preload/domains/stateSyncApi.ts
  electron/services/ServiceContainer.ts
  electron/services/database/SiteRepository.ts
  electron/services/ipc/IpcService.ts
  electron/services/updater/AutoUpdaterService.ts
  electron/test/events/eventTypes.comprehensive.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  electron/test/utils/cache/StandardizedCache.comprehensive.test.ts
  electron/utils/cache/StandardizedCache.ts
  shared/ipc/rendererEvents.ts
  shared/types/events.ts
  shared/types/stateSync.ts
  src/components/AddSiteForm/Submit.tsx
  src/hooks/site/useSiteDetails.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/types.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Improve cache update atomicity
  .github/copilot-instructions.md
  electron/managers/DatabaseManager.ts
  electron/managers/SiteManager.ts
  electron/test/managers/DatabaseManager.100-percent-coverage.test.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/managers/DatabaseManager.coverage.test.ts
  electron/test/managers/DatabaseManager.foundation.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
  electron/test/utils/cache/StandardizedCache.comprehensive.test.ts
  electron/test/utils/database/SiteRepositoryService.comprehensive.test.ts
  electron/test/utils/enhanced-testUtilities.ts
  electron/utils/cache/StandardizedCache.ts
  electron/utils/database/SiteRepositoryService.ts
  shared/test/fuzzing/safeConversions.fuzz.test.ts
  shared/validation/validatorUtils.ts
  src/components/AddSiteForm/Submit.tsx
  src/components/Header/Header.css
  src/components/Header/StatusSubscriptionIndicator.tsx
  src/stores/sites/utils/monitorOperations.ts
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
  src/test/utils/validation.comprehensive-fuzzing.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

📝 [docs] Revise Consistency-Check prompt to clarify scope, checks, and remediation guidance
  .github/prompts/Consistency-Check.prompt.md
Due: markdownlint --fix --cache

🛠️ [fix] Improve site management and event handling
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  electron/managers/SiteManager.ts
  electron/services/ServiceContainer.ts
  electron/services/application/ApplicationService.ts
  electron/services/ipc/IpcService.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  eslint.config.mjs
  shared/utils/logTemplates.ts
  src/components/Header/Header.css
  src/components/Header/StatusSubscriptionIndicator.tsx
  src/stores/sites/baseTypes.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/utils/monitorOperations.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/components/Header/Header.assignment-operator.test.tsx
  src/test/components/Header/StatusSubscriptionIndicator.test.tsx
  src/test/hooks/deriveStatusSubscriptionHealth.test.ts
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache
