Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

🚜 [refactor] Restructure SiteCardHeader props for clarity
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Dashboard/SiteCard/SiteCardHeader.tsx
  src/test/components/SiteCardHeader.test.tsx
Due: eslint --fix, prettier --write

🚜 [refactor] Reduce prop overload via grouped interfaces
  .github/instructions/copilot-instructions.md
  .gitignore
  .lintstagedrc.json
  docs/Implementation-Complete-SiteCardHeader-Parameter-Reduction.md
Due: markdownlint --fix, prettier --write

🚜 [refactor] Reduce parameter overload via interface grouping
  .lintstagedrc.json
  docs/Implementation-Complete-SiteCardHeader-Parameter-Reduction.md
  package.json
Due: markdownlint --fix, prettier --write

🚜 [refactor] Remove legacy monitor status logic, fully adopt enhanced monitoring
  electron/managers/MonitorManager.ts
  electron/services/ServiceContainer.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/EnhancedMonitoringServiceFactory.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/stores/sites/utils/fileDownload.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/types/ipc.ts
Due: eslint --fix, prettier --write

🧪 [test] Refactors MonitorManager tests to use enhanced checker mocks
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/managers/MonitorManager.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/useSettingsStore.test.ts
Due: eslint --fix, prettier --write

📝 [docs] Update docs for backwards compatibility cleanup and monitoring migration
  .github/chatmodes/BeastMode.chatmode.md
  docs/Backwards-Compatibility-Cleanup-Summary.md
  docs/Guides/Fallback-System-Usage-Analysis.md
  package-lock.json
  package.json
Due: markdownlint --fix, prettier --write

🔧 [build] Update type-check scripts for improved consistency
  package.json
Due: prettier --write

Bump version to 9.9.0
  package.json
Due: prettier --write

🚜 [refactor] Modularize validation and logic helpers across app
  electron/events/eventTypes.ts
  electron/events/middleware.ts
  electron/services/ipc/validators.ts
  shared/types/database.ts
  shared/utils/stringConversion.ts
  shared/utils/validation.ts
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/Header/Header.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/theme/utils/themeMerging.ts
  src/utils/monitorValidation.ts
Due: eslint --fix, prettier --write

🧪 [test] Add DOM Testing Library as a new dev dependency
  package-lock.json
  package.json
Due: prettier --write

🧪 [test] Add comprehensive unit tests for core UI and backend logic
  electron/test/services/application/ApplicationService.simple.test.ts
  electron/test/services/database/DatabaseService.simple.test.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  electron/test/services/database/SettingsRepository.simple.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/monitoring/MonitorFactory.fixed.test.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
  shared/test/utils/stringConversion.comprehensive.test.ts
  shared/test/utils/validation.comprehensive.test.ts
  src/test/components/AddSiteForm.coverage.test.ts
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.module.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.test.tsx
  src/test/components/AddSiteForm/DynamicMonitorFields.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.comprehensive.test.tsx
  src/test/components/Settings.comprehensive.test.ts
  src/test/components/SiteCard.coverage.test.ts
  src/test/constants/errors.test.ts
  src/test/hooks/useSiteActions.coverage.test.ts
  src/test/services/chartSetup.test.ts
  src/test/types/monitor-forms.coverage.test.ts
  src/test/types/monitorFormData.coverage.test.ts
  src/test/utils/fallbacks.test.ts
  src/test/utils/fileDownload.coverage.test.ts
  src/test/utils/monitorValidation.test.ts
Due: eslint --fix, prettier --write

📝 [docs] Add lessons learned on validation and composition
  .github/prompts/ImplementPlanCarefully.prompt.md
  docs/Lessons-Learned-Ping-Monitor-Validation-Fix.md
  docs/Lessons-Learned-Race-Condition-Implementation.md
Due: markdownlint --fix, prettier --write

👷 [ci] Add coverage targets and tracking for shared code
  .codecov.yml
Due: prettier --write

🧪 [test] Add comprehensive unit tests for site form submission
  electron/services/database/utils/dynamicSchema.ts
  electron/services/ipc/IpcService.ts
  src/components/Dashboard/SiteCard/SiteCard.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.fixed.tsx
Due: eslint --fix, prettier --write

🧪 [test] Add comprehensive tests for form, submit, site card, and database types
  src/test/components/AddSiteForm/FormFields.comprehensive.test.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.maximal-coverage.test.tsx
Due: eslint --fix, prettier --write

✨ [feat] Add type-safe config types and unify form/chart/theme handling
  electron/events/TypedEventBus.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/historyMapper.ts
  electron/services/database/utils/historyQuery.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/settingsMapper.ts
  electron/services/database/utils/siteMapper.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/utils/database/SiteWriterService.ts
  shared/types/chartConfig.ts
  shared/types/database.ts
  shared/types/events.ts
  shared/types/formData.ts
  shared/types/monitorConfig.ts
  shared/types/themeConfig.ts
  shared/utils/environment.ts
  shared/utils/errorHandling.ts
  shared/utils/objectSafety.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/Settings/Settings.tsx
  src/hooks/site/useSiteAnalytics.ts
  src/hooks/useDelayedButtonLoading.ts
  src/hooks/useMonitorFields.ts
  src/services/logger.ts
  src/stores/error/useErrorStore.ts
  src/stores/sites/useSitesState.ts
  src/theme/ThemeManager.ts
  src/theme/useTheme.ts
  src/types/monitorFormData.ts
  src/utils/chartUtils.ts
  src/utils/monitorTitleFormatters.ts
  src/utils/monitorUiHelpers.ts
  src/utils/monitorValidation.ts
Due: eslint --fix, prettier --write

🧪 [test] Add comprehensive coverage for database row validation
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/monitoring/MonitorFactory.fixed.test.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
  src/test/database-types-coverage.test.ts
Due: eslint --fix, prettier --write

👷 [ci] Update Docusaurus install and lint/security config
  .github/workflows/deploy-docusaurus.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

📝 [docs] Update Beast Mode chatmode description format
  .github/chatmodes/BeastMode.chatmode.md
Due: markdownlint --fix, prettier --write

📝 [docs] Document completion of type safety and security
  docs/Code-Analysis-Missing-Interfaces-Complexity-Plan.md
  docs/Final-Comprehensive-Type-Safety-Analysis-Complete.md
  docs/Final-Security-TypeSafety-Resolution-Complete.md
  docs/Final-Verification-Type-Safety-Complete.md
  docs/Implementation-Complete-Interface-Implementation.md
  docs/Lessons-Learned-Comprehensive-Type-Safety-Implementation.md
  docs/Ultimate-Type-Safety-Achievement-Final-Completion.md
Due: markdownlint --fix, prettier --write

🧪 [test] Improve test readability and formatting
  .github/chatmodes/BeastMode.chatmode.md
  .github/prompts/ImplementPlanCarefully.prompt.md
  docs/Backwards-Compatibility-Cleanup-Summary.md
  docs/Code-Analysis-Missing-Interfaces-Complexity-Plan.md
  docs/Final-Comprehensive-Type-Safety-Analysis-Complete.md
  docs/Final-Security-TypeSafety-Resolution-Complete.md
  docs/Final-Verification-Type-Safety-Complete.md
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Implementation-Complete-Interface-Implementation.md
  docs/Lessons-Learned-Comprehensive-Type-Safety-Implementation.md
  docs/Lessons-Learned-Ping-Monitor-Validation-Fix.md
  docs/Lessons-Learned-Race-Condition-Implementation.md
  docs/Ultimate-Type-Safety-Achievement-Final-Completion.md
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/managers/MonitorManager.test.ts
  electron/test/services/application/ApplicationService.simple.test.ts
  electron/test/services/database/DatabaseService.simple.test.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  electron/test/services/database/SettingsRepository.simple.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/monitoring/MonitorFactory.fixed.test.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
  src/test/components/AddSiteForm.coverage.test.ts
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.module.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.test.tsx
  src/test/components/AddSiteForm/DynamicMonitorFields.test.tsx
  src/test/components/AddSiteForm/FormFields.comprehensive.test.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.fixed.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.comprehensive.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.maximal-coverage.test.tsx
  src/test/components/Settings.comprehensive.test.ts
  src/test/components/SiteCard.coverage.test.ts
  src/test/constants/errors.test.ts
  src/test/database-types-coverage.test.ts
  src/test/hooks/useSiteActions.coverage.test.ts
  src/test/types/monitor-forms.coverage.test.ts
  src/test/types/monitorFormData.coverage.test.ts
  src/test/utils/fileDownload.coverage.test.ts
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Add comprehensive analysis of unknown type usage
  .github/chatmodes/BeastMode.chatmode.md
  .github/prompts/Types-DoubleCheck-FinalCheck.prompt.md
  Codacy-Report.md
  Unknown-Report.txt
  electron/events/UnknownAnalysis.md
Due: markdownlint --fix, prettier --write

📝 [docs] Improve type safety documentation and cleanup formatting
  .github/prompts/Types-DoubleCheck-FinalCheck.prompt.md
  AnyUsage.report.md
  debug-monitor-types.js
  docs/Final-Analysis-Type-Safety-Implementation.md
  docs/Final-Type-Safety-Analysis-Complete.md
  docs/Implementation-Complete-Type-Safety-Improvements.md
  docs/Lessons-Learned-Comprehensive-Type-Safety-Implementation.md
  docs/Type-Safety-Cleanup-Complete.md
  electron/events/UnknownAnalysis.md
  postcss.config.js
Due: eslint --fix, markdownlint --fix, prettier --write

Bump version to 10.0.0
  package.json
Due: prettier --write

🧪 [test] Refactors test suite for monitor/site stores and UI
  electron/managers/SiteManager.ts
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/managers/validators/MonitorValidator.comprehensive.test.ts
  electron/test/managers/validators/SiteValidator.comprehensive.test.ts
  package-lock.json
  postcss.config.js
  shared/test/utils/objectSafety.comprehensive.test.ts
  shared/types/chartConfig.ts
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/ScreenshotThumbnail.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.test.tsx
  src/test/components/AddSiteForm/DynamicMonitorFields.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.comprehensive.test.tsx
  src/test/hooks/useMonitorFields.test.ts
  src/test/setup.ts
  src/test/shared/utils/errorHandling.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.additional.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/sites/useSiteMonitoring.comprehensive.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/utils/monitorTypeHelper.test.ts
  src/test/utils/monitorValidation.test.ts
  src/utils/chartUtils.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Bump version to 10.1.0
  package.json
Due: prettier --write

🧹 [chore] Remove obsolete reports, update configs, and improve type safety
  Codacy-Report.md
  Unknown-Report.txt
  coverage-results.json
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  scripts/debug-monitor-types.js
  shared/test/validation/schemas.branch-coverage.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/schemas.test.ts
  shared/validation/schemas.ts
  sonar-project.properties
  src/stores/ui/useUiStore.ts
  src/utils/monitorValidation.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🔧 [build] Add Secretlint integration and improve schema usage
  .cspell.json
  .djlintrc
  .hintrc
  .htmlhintrc
  .jscpd.json
  .lintstagedrc.json
  .markdownlint.json
  .prettierrc
  .secretlintrc.json
  KnipReport.txt.json
  biome.json
  commitlint.config.js
  knip.json
  package-lock.json
  package.json
  postcss.config.js
  shared/types/validation.ts
  stylelint.config.js
  tsconfig.json
  typedoc.electron.json
  typedoc.json
Due: eslint --fix, prettier --write

🧹 [chore] Centralize error handling and cache key utilities
  .cspell.json
  .markdown-link-check.json
  .mega-linter.yml
  .pre-commit-config.yaml
  .prettierrc
  .yamllint
  README.md
  docs/AI-CONTEXT.md
  docs/Architecture/ADRs/ADR-001-Repository-Pattern.md
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Guides/Monitoring-Race-Condition-Solution-Plan.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/UI-Feature-Development-Guide.md
  electron/events/middleware.ts
  electron/managers/ConfigurationManager.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/types.ts
  shared/utils/cacheKeys.ts
  shared/utils/errorCatalog.ts
  src/constants/errors.ts
  src/services/logger.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/utils/fileDownload.ts
  src/stores/sites/utils/monitorOperations.ts
  src/stores/types.ts
  src/test/constants/errors.test.ts
  src/test/monitorOperations.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/vitest-jest-dom.d.ts
  src/utils/monitorTypeHelper.ts
  src/utils/monitorUiHelpers.ts
  stylelint.config.js
  tsconfig.json
Due: eslint --fix, markdownlint --fix, prettier --write

✨ [feat] Standardize logging with type-safe templates
  ElectronAPI-Report.md
  docs/ERROR_CATALOG_INTEGRATION.md
  docs/LOGGER_MIGRATION_COMPLETE_REPORT.md
  docs/LOG_TEMPLATES_FINAL_SUMMARY.md
  docs/LOG_TEMPLATES_IMPLEMENTATION_STATUS.md
  docs/LOG_TEMPLATES_MANUAL_PROGRESS.md
  docs/Logger-Error-report.md
  electron/events/TypedEventBus.ts
  electron/events/middleware.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/services/application/ApplicationService.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/utils/databaseBackup.ts
  electron/services/database/utils/databaseSchema.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/database/utils/historyMapper.ts
  electron/services/database/utils/historyQuery.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/settingsMapper.ts
  electron/services/database/utils/siteMapper.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/services/monitoring/MonitorFactory.ts
  electron/services/monitoring/MonitorOperationRegistry.ts
  electron/services/monitoring/MonitorStatusUpdateService.ts
  electron/services/monitoring/OperationTimeoutManager.ts
  electron/services/notifications/NotificationService.ts
  electron/utils/database/DataImportExportService.ts
  eslint.config.mjs
  shared/utils/errorCatalog.ts
  shared/utils/logTemplates.ts
  src/types/ipc.ts
  src/utils/errorHandling.ts
  tsconfig.json
Due: eslint --fix, markdownlint --fix, prettier --write

Bump version to 10.2.0
  package.json
Due: prettier --write

🧪 [test] Boosts test coverage for shared types and logic
  docs/Archive/Historical-Analysis/ERROR_CATALOG_INTEGRATION.md
  docs/Archive/Historical-Analysis/Logger-Error-report.md
  docs/Archive/Implementation-Records/LOG_TEMPLATES_FINAL_SUMMARY.md
  docs/Archive/Implementation-Records/LOG_TEMPLATES_IMPLEMENTATION_STATUS.md
  docs/Archive/Implementation-Records/LOG_TEMPLATES_MANUAL_PROGRESS.md
  src/stores/ui/useUiStore.ts
  src/test/ScreenshotThumbnail.test.tsx
  src/test/component-coverage-boost.test.tsx
  src/test/comprehensive-coverage-boost.test.ts
  src/test/shared-types-coverage.test.ts
  src/test/shared-utils-coverage.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/utils/monitorTypeHelper.test.ts
  src/utils/errorHandling.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🧪 [test] Streamlines jest-dom matchers import for clarity
  src/test/setup.ts
Due: eslint --fix, prettier --write

🔧 [build] Enforces type safety and updates lint/test config
  eslint.config.mjs
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Simplify chart option type definitions
  src/services/chartConfig.ts
Due: eslint --fix, prettier --write

🔧 [build] Enhance build setup with CSS Modules, analyzer, and package updates
  .codecov.yml
  .vscode/settings.json
  electron/services/ServiceContainer.ts
  electron/services/database/DatabaseService.ts
  electron/test/services/notifications/NotificationService.test.ts
  eslint.config.mjs
  index.html
  package-lock.json
  package.json
  postcss.config.mjs
  src/test/component-coverage-boost.test.tsx
  src/test/setup.ts
  tsconfig.electron.json
  tsconfig.electron.test.json
  tsconfig.json
  tsconfig.test.json
  vite.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  markdownlint --fix: any of: *.md
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}
