Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

🚜 [refactor] Migrate DB import/export to service-based arch
  electron/UptimeOrchestrator.ts
  electron/managers/DatabaseManager.ts
  electron/utils/database/DataBackupService.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/dataBackup.ts
  electron/utils/database/dataImportExport.ts
  electron/utils/database/index.ts
  electron/utils/database/interfaces.ts
  electron/utils/database/repositoryAdapters.ts
  electron/utils/database/serviceFactory.ts
  electron/utils/database/siteRepository.ts
Due: eslint --fix, prettier --write

🧪 [test] Remove all Electron and utility unit tests
  electron/test/managers/DatabaseManager.test.ts
  electron/test/managers/MonitorManager.test.ts
  electron/test/utils/database/SiteRepositoryService.test.ts
  electron/test/utils/database/dataBackup.test.ts
  electron/test/utils/database/serviceFactory.test.ts
  electron/test/utils/database/siteRepository.test.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/test/themeTypes.test.tsx
Due: eslint --fix, prettier --write

🧹 [chore] Remove redundant ESLint disable comments and unused tests
  electron/UptimeOrchestrator.ts
  electron/events/eventTypes.ts
  electron/hooks/correlationUtils.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/databaseBackup.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/valueConverters.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/window/WindowService.ts
  electron/test/logger.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/utils/database/dataImportExport.test.ts
  electron/test/utils/database/repositoryAdapters.test.ts
  electron/utils/database/DataBackupService.ts
  eslint.config.mjs
  src/components/Dashboard/SiteCard/components/MetricCard.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/test/SiteDetails.comprehensive.test.tsx
  src/test/stores/sites/fileDownload.test.ts
  src/theme/components.tsx
Due: eslint --fix, prettier --write

🧪 [test] Update mocks and assertions to align with implementation changes
  src/test/main.test.tsx
  src/test/useSitesStore.test.ts
  src/test/useUiStore.test.ts
Due: eslint --fix, prettier --write

🔧 [build] Enable ES module interop and clean up config files
  postcss.config.js
  tsconfig.electron.json
  tsconfig.json
Due: eslint --fix, prettier --write

🎨 [style] Remove trailing space in tsconfig.json
  tsconfig.json
Due: prettier --write

Bump version to 5.8.0
  package.json
Due: prettier --write

Bump version to 5.9.0
  package.json
Due: prettier --write

🧪 [test] Add comprehensive and edge-case tests for core logic
  .codecov.yml
  package-lock.json
  package.json
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/stores/types.ts
  src/test/FormFields.uncovered.test.tsx
  src/test/Header.comprehensive.test.tsx
  src/test/Header.test.tsx
  src/test/Submit.comprehensive.test.tsx
  src/test/main.error.test.tsx
  src/utils/index.ts
Due: eslint --fix, prettier --write

Bump version to 6.0.0
  package.json
Due: prettier --write

🚜 [refactor] Simplify imports with barrel files and improve exports
  electron/utils/database/DataBackupService.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/databaseInitializer.ts
  electron/utils/database/interfaces.ts
  electron/utils/database/serviceFactory.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/hooks/index.ts
  src/hooks/site/useSiteDetails.ts
  src/services/chartConfig.ts
  src/stores/index.ts
  src/test/main.error.test.tsx
  src/test/stores/sites/useSiteMonitoring.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSitesStore.integration.test.ts
  src/test/utils/index.test.ts
  src/theme/components.tsx
Due: eslint --fix, prettier --write

🚜 [refactor] Streamline imports and add root barrel export
  electron/events/TypedEventBus.ts
  electron/events/middleware.ts
  electron/hooks/useRetry.ts
  electron/hooks/useTransaction.ts
  electron/hooks/useValidation.ts
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/managers/index.ts
  electron/utils/database/DataBackupService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/databaseInitializer.ts
  electron/utils/database/repositoryAdapters.ts
  electron/utils/database/serviceFactory.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/App.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/hooks/index.ts
  src/hooks/site/useSiteActions.ts
  src/hooks/site/useSiteAnalytics.ts
  src/index.ts
Due: eslint --fix, prettier --write

🎨 [style] Standardizes import formatting and test style
  electron/managers/DatabaseManager.ts
  electron/utils/database/DataImportExportService.ts
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/index.ts
  src/test/FormFields.uncovered.test.tsx
  src/test/Header.comprehensive.test.tsx
  src/test/Header.test.tsx
  src/test/Submit.comprehensive.test.tsx
  src/test/main.error.test.tsx
  src/test/useTheme.test.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Unify correlation and validation utils; cleanup hooks/tests
  .github/prompts/My Custom Prompts.md
  assets/node-sqlite3-wasm.wasm
  electron/events/TypedEventBus.ts
  electron/hooks/index.ts
  electron/hooks/useRetry.ts
  electron/hooks/useTransaction.ts
  electron/hooks/useValidation.ts
  electron/index.ts
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/UptimeOrchestrator.monitoringControl.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/correlationUtils.test.ts
  electron/test/hooks/index.test.ts
  electron/test/hooks/useRetry.test.ts
  electron/test/hooks/useTransaction.test.ts
  electron/test/hooks/useValidation.test.ts
  electron/utils/correlation.ts
  electron/utils/index.ts
  package.json
  public/node-sqlite3-wasm.wasm
  scripts/download-sqlite3-wasm.mjs
  scripts/node-sqlite3-wasm.wasm
  vite.config.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🎨 [style] Improve formatting and spacing across codebase
  .github/prompts/My Custom Prompts.md
  electron/events/TypedEventBus.ts
  electron/index.ts
  scripts/download-sqlite3-wasm.mjs
Due: eslint --fix, markdownlint --fix, prettier --write

🧹 [chore] Remove redundant ESLint ignorePattern config
  .vscode/settings.json
Due: prettier --write

🚜 [refactor] Simplifies null checks and tightens type safety
  electron/constants.ts
  electron/managers/validators/MonitorValidator.ts
  electron/managers/validators/SiteValidator.ts
  electron/preload.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/MonitorFactory.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/updater/AutoUpdaterService.ts
  electron/test/utils/monitoring/monitorStatusChecker.test.ts
  electron/utils/database/DataImportExportService.ts
  src/components/AddSiteForm/Submit.tsx
  src/components/Dashboard/SiteCard/SiteCardMetrics.tsx
  src/components/Header/Header.tsx
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/hooks/site/useSiteStats.ts
  src/hooks/useThemeStyles.ts
  src/services/logger.ts
  src/stores/error/ErrorBoundary.tsx
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesState.ts
  src/stores/sites/utils/fileDownload.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/stats/useStatsStore.ts
  src/stores/updates/useUpdatesStore.ts
  src/stores/utils.ts
  src/theme/ThemeManager.ts
Due: eslint --fix, prettier --write

🛠️ [fix] Move stale monitor ID update to useEffect
  src/hooks/site/useSiteDetails.ts
Due: eslint --fix, prettier --write

🎨 [style] Reformat code for consistency and readability
  docs/ESLINT_ERROR_LOG.md
  docs/ESLINT_UNFIXABLE_ERRORS.md
  electron/events/TypedEventBus.ts
  electron/managers/DatabaseManager.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/databaseInitializer.ts
  electron/utils/database/repositoryAdapters.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  eslint.config.mjs
Due: eslint --fix, markdownlint --fix, prettier --write

🧪 [test] Remove redundant and edge-case tests for coverage
  electron/test/UptimeOrchestrator.monitoringControl.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/hooks/correlationUtils.test.ts
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/managers/validators/MonitorValidator.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/DatabaseService.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
  electron/test/utils/database/historyLimitManager.test.ts
  electron/test/utils/database/repositoryAdapters.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
  src/test/Header.comprehensive.test.tsx
  src/test/ScreenshotThumbnail.test.tsx
  src/test/Settings.invalid-key-edge-case.test.tsx
  src/test/SiteDetails.comprehensive.test.tsx
  src/test/ThemeManager.test.ts
  src/test/additional-coverage.test.ts
  src/test/additional-uncovered-lines-fixed.test.ts
  src/test/additional-uncovered-lines.test.ts
  src/test/componentsEdgeCases.test.tsx
  src/test/logger.test.ts
  src/test/remainingCoverage.test.tsx
  src/test/stores/sites/statusUpdateHandler.test.ts
  src/test/stores/sites/useSitesState.test.ts
  src/test/stores/sites/useSitesStore.edgeCases.test.ts
  src/test/themeComponentsEdgeCases.test.tsx
  src/test/useSiteStats.test.ts
  src/test/useSiteStatsEdgeCases.test.ts
  src/test/useSitesStore.coverage.test.ts
  src/test/useSitesStore.test.ts
  src/test/useStatsStore.test.ts
  src/test/useUpdatesStore.test.ts
Due: eslint --fix, prettier --write

🎨 [style] Remove extraneous blank lines from test files
  electron/test/services/database/SiteRepository.test.ts
  src/test/additional-coverage.test.ts
  src/test/stores/sites/useSitesState.test.ts
  src/test/stores/sites/useSitesStore.edgeCases.test.ts
Due: eslint --fix, prettier --write

Bump version to 6.1.0
  package.json
Due: prettier --write

📝 [docs] Add guidelines for achieving 100% test coverage
  .github/prompts/Generate 100% Test Coverage.md
  .github/prompts/My Custom Prompts.md
Due: markdownlint --fix, prettier --write

📝 [docs] Rename prompt files for consistent naming
  .github/prompts/Generate 100% Test Coverage.prompt.md
  .github/prompts/My Custom Prompts.prompt.md
Due: markdownlint --fix, prettier --write

🧪 [test] Remove unused imports from test files
  src/test/additional-uncovered-lines-fixed.test.ts
  src/test/additional-uncovered-lines.test.ts
  src/test/componentsEdgeCases.test.tsx
  src/test/remainingCoverage.test.tsx
Due: eslint --fix, prettier --write

🚜 [refactor] Improve form reset logic and validation
  src/components/AddSiteForm/useAddSiteForm.ts
Due: eslint --fix, prettier --write

🧪 [test] Increase component and hook test coverage
  src/test/dashboard-components.test.tsx
  src/test/low-coverage-components.test.tsx
  src/test/setup.ts
  src/test/specific-line-coverage.test.ts
  src/test/useAddSiteForm.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Add comprehensive unit tests for SiteCard and SiteDetails components
  src/test/ActionButtonGroup.test.tsx
  src/test/MonitorSelector.test.tsx
  src/test/SiteCardHeader.test.tsx
  src/test/SiteCardHistory.test.tsx
  src/test/SiteCardMetrics.test.tsx
  src/test/SiteCardStatus.test.tsx
  src/test/SiteDetails.test.tsx
  src/test/setup.ts
Due: eslint --fix, prettier --write

🛠️ [fix] Guard category lookup in event type check
  electron/events/eventTypes.ts
  electron/test/eventTypes.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Add comprehensive tests for database and orchestrators
  electron/test/UptimeOrchestrator.advanced.test.ts
  electron/test/services/database/DatabaseService.test.ts
  electron/test/services/database/utils/databaseBackup.test.ts
  electron/test/services/database/utils/databaseSchema.simple.test.ts
  electron/test/utils/database/DataBackupService.test.ts
  electron/test/utils/database/DataImportExportService.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Add comprehensive unit tests for middleware and coverage
  electron/test/additionalCoverage.test.ts
  electron/test/middleware.test.ts
Due: eslint --fix, prettier --write

🔧 [build] Remove direct test file path from test config
  sonar-project.properties
Due: none

✨ [feat] Add shared interval formatting utils and tests
  electron/test/DatabaseManager.test.ts
  electron/test/MonitorManager.test.ts
  electron/test/TypedEventBus.test.ts
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/test/dashboard-components.test.tsx
  src/test/low-coverage-components.test.tsx
  src/test/utils/index.test.ts
  src/utils/time.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Remove form validity check from submit button
  electron/test/services/database/MonitorRepository.test.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/test/AddSiteForm.test.tsx
Due: eslint --fix, prettier --write

🎨 [style] Format VS Code settings, add bracket colorization
  .vscode/settings.json
Due: prettier --write

🧪 [test] Improve formatting and branch coverage in tests
  .vscode/settings.json
  electron/test/DatabaseManager.test.ts
  electron/test/MonitorManager.test.ts
  electron/test/TypedEventBus.test.ts
  electron/test/UptimeOrchestrator.advanced.test.ts
  electron/test/additionalCoverage.test.ts
  electron/test/eventTypes.test.ts
  electron/test/middleware.test.ts
  electron/test/services/database/DatabaseService.test.ts
  electron/test/services/database/utils/databaseBackup.test.ts
  electron/test/services/database/utils/databaseSchema.simple.test.ts
  electron/test/utils/database/DataBackupService.test.ts
  electron/test/utils/database/DataImportExportService.test.ts
  src/test/ActionButtonGroup.test.tsx
  src/test/MonitorSelector.test.tsx
  src/test/SiteCardHeader.test.tsx
  src/test/SiteCardHistory.test.tsx
  src/test/SiteCardMetrics.test.tsx
  src/test/SiteCardStatus.test.tsx
  src/test/SiteDetails.test.tsx
  src/test/additional-uncovered-lines-fixed.test.ts
  src/test/additional-uncovered-lines.test.ts
  src/test/dashboard-components.test.tsx
  src/test/low-coverage-components.test.tsx
  src/test/remainingCoverage.test.tsx
  src/test/setup.ts
  src/test/specific-line-coverage.test.ts
  src/test/useAddSiteForm.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  markdownlint --fix: any of: *.md
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}
