Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

.lintstagedrc.json:

{
    "$schema": "https://www.schemastore.org/lintstagedrc.schema.json",
    "*.md": [
        "markdownlint --fix --cache"
    ],
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix --cache --max-warnings=0",
        "prettier --write --cache"
    ],
    "*.{css,scss}": [
        "stylelint --fix --cache",
        "prettier --write --cache"
    ],
    "*.{json,yaml,yml}": [
        "prettier --write --cache"
    ]
}

fix: remove relative sonar metadata path
  sonar-project.properties
Due: none

fix: remove stale sonar report paths
  sonar-project.properties
Due: none

fix: remove stale sonar test report paths
  sonar-project.properties
Due: none

chore: exclude generated docs from gitleaks
  .gitleaks.toml
Due: none

test: harden safe property fuzz coverage
  shared/test/fuzzing/typeHelpers.comprehensive-coverage.fuzz.test.ts
  shared/test/fuzzing/typeHelpers.fuzz.test.ts
  shared/test/utils/typeHelpers.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

chore: tune sonar gate findings
  electron/managers/MonitorManagerEnhancedLifecycle.ts
  electron/utils/cache/StandardizedCache.ts
  sonar-project.properties
  src/components/SiteDetails/tabs/SettingsTab.MonitoringConfigurationCard.tsx
  src/utils/cache.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

ci: reduce mega linter runtime
  .github/workflows/mega-linter.yml
  .mega-linter.yml
Due: prettier --write --cache

ci: split playwright project runs
  .github/workflows/playwright.yml
Due: prettier --write --cache

test: stabilize playwright electron runs
  .github/workflows/playwright.yml
  electron/services/application/ApplicationService.ts
  electron/services/ipc/utils.ts
  playwright/fixtures/electron-helpers.ts
  playwright/tests/ui-addsitemodal-basic.ui.playwright.test.ts
  playwright/tests/ui-monitor-types.ui.playwright.test.ts
  playwright/tests/ui-monitoring-status-display.ui.playwright.test.ts
  playwright/tests/ui-site-card-actions.ui.playwright.test.ts
  playwright/tests/ui-site-table-view.ui.playwright.test.ts
  playwright/tests/utils/monitorTypeTestUtils.ts
  playwright/utils/ui-helpers.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

test: stabilize sonar coverage gates
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  electron/test/services/application/ApplicationService.simple.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/setup.ts
  shared/test/fuzzing/typeHelpers.comprehensive-coverage.fuzz.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

test: widen heartbeat ui timeout
  playwright/tests/ui-addsitemodal-basic.ui.playwright.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

ci: use deploy key for docusaurus backup
  .github/workflows/backup-docusaurus.yml
Due: prettier --write --cache

test: constrain safe property inherited fuzz keys
  shared/test/fuzzing/typeHelpers.comprehensive-coverage.fuzz.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

chore: remove stale vulnerable tooling
  .all-contributorsrc
  README.md
  package-lock.json
  package.json
  storybook/main.ts
  vite.config.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

chore: override vulnerable qs transitive
  package-lock.json
  package.json
Due: prettier --write --cache

chore: update tooling audit dependencies
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: prettier --write --cache

chore: clean knip tooling configuration
  config/tools/knip.config.ts
  package-lock.json
  package.json
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Resolve Docusaurus CSS minimizer dependency
  config/tools/knip.config.ts
  package-lock.json
  package.json
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Harden standalone Docusaurus audit dependencies
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
Due: prettier --write --cache

🛠️ [fix] Scope Docusaurus tooling to dev audits
  config/tools/knip.config.ts
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Address CodeQL file and log findings
  electron/services/database/utils/backup/databaseBackup.ts
  electron/test/services/database/utils/databaseBackup.comprehensive.test.ts
  scripts/download-sqlite3-wasm.mjs
  scripts/enhance-test-metadata.mjs
  scripts/generate-ipc-artifacts.mts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔐 [fix] Narrow workflow write permissions
  .github/workflows/cleanReleases.yml
  .github/workflows/deploy-docusaurus.yml
  .github/workflows/flatpak-build.yml
Due: prettier --write --cache

🔐 [fix] Harden Electron BrowserWindow test options
  electron/test/utils.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔐 [fix] Avoid shell execution in CSpell helper
  scripts/add-cspell-words.mjs
Due: none

🔐 [fix] Remove redundant coverage fallback
  scripts/analyze-coverage.mjs
Due: none

💄 [style] Increase UI information density
  playwright/tests/ui-dashboard-layout.ui.playwright.test.ts
  playwright/tests/ui-site-details.ui.playwright.test.ts
  src/components/AddSiteForm/AddSiteModal.tsx
  src/components/Dashboard/SiteList/SiteTableView.tsx
  src/components/Header/Header.tsx
  src/components/Settings/useSettingsController.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/hooks/useThemeStyles.ts
  src/index.css
  src/stores/ui/useUiStore.ts
  src/test/components/Header/Header.assignment-operator.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/hooks/useThemeStyles.test.ts
  src/test/stores/ui/useUiStore.test.ts
  src/test/useThemeStyles.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

💄 [style] Polish enterprise UI surfaces
  playwright/tests/ui-addsitemodal-basic.ui.playwright.test.ts
  playwright/tests/ui-resilience.ui.playwright.test.ts
  playwright/tests/ui-site-card-actions.ui.playwright.test.ts
  src/components/Alerts/StatusAlertToaster.css
  src/components/common/GalaxyBackground/GalaxyBackground.css
  src/components/common/GalaxyBackground/GalaxyBackground.tsx
  src/components/common/GalaxyBackground/galaxyBackgroundUtils.ts
  storybook/stories/GalaxyBackground.stories.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

🧪 [test] Harden Playwright process setup
  playwright/fixtures/global-setup.ts
  playwright/fixtures/global-teardown.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔒 [fix] Avoid shell parsing in docs scripts
  scripts/maintain-docs.mjs
  scripts/sort-frontmatter-all.mjs
Due: none

🔧 [chore] Harden tooling CLI invocations
  package.json
  scripts/build-eslint-inspector.mjs
  scripts/codegen.mjs
Due: prettier --write --cache

🔧 [chore] Normalize package script launchers
  docs/docusaurus/package.json
  package.json
Due: prettier --write --cache

🔧 [chore] Pin actions updater CLI
  package-lock.json
  package.json
Due: prettier --write --cache

🔒 [fix] Gate dev IPC origin trust
  electron/services/ipc/utils.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔒 [fix] Refuse non-file backup writes
  electron/services/database/dataBackupService/writeFileWithinDirectory.ts
  electron/test/services/database/dataBackupService/writeFileWithinDirectory.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

♻️ [refactor] Cancel pending tooltip animation frames
  src/components/common/Tooltip/Tooltip.tsx
  src/test/components/common/Tooltip/Tooltip.fast-check.test.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

♻️ [refactor] Cancel pending sidebar scroll frames
  src/components/Layout/AppSidebar/AppSidebar.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

♻️ [refactor] Guard monitor type hook after unmount
  src/hooks/useMonitorTypes.ts
  src/test/hooks/useMonitorTypes.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔒 [fix] Detect bracketed private IPv6 hosts
  shared/test/utils/urlSafety.test.ts
  shared/utils/urlSafety.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache
