Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

🧪 [test] Remove manager test type suppressions
  electron/test/managers/DatabaseManager.foundation.test.ts
  electron/test/managers/SiteManager.debug.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Remove log template readonly suppression
  src/test/logTemplates.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Remove DynamicField invalid type suppression
  src/test/strictTests/DynamicField.coverage.test.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Remove theme fuzzing type suppressions
  src/test/utils/ThemeManager.input-fuzzing.test.ts
  src/test/utils/themeMerging.input-fuzzing.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Remove stale fuzzing file suppressions
  src/test/components/AddSiteForm/AddSiteForm.input-fuzzing.test.tsx
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
  src/test/utils/typeGuards.advanced-fuzzing.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Remove event type suppressions
  electron/test/eventTypes.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Remove dead eslint directive typo
  electron/test/high-impact-coverage.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Clarify PostCSS lint suppression
  postcss.config.mjs
Due: none

🧹 [chore] Remove stale devtools eslint blankets
  scripts/devtools-snippets/Add-All-Test-Sites.js
  scripts/devtools-snippets/Add-Minimal-Test-Sites.js
  scripts/devtools-snippets/Debugger-Pause-After-5.js
  scripts/devtools-snippets/Debugger-Pause-Countdown.js
  scripts/devtools-snippets/Debugger-Pause-Element-Hover.js
  scripts/devtools-snippets/Debugger-Pause-Element.js
  scripts/devtools-snippets/Debugger-Pause-Hover.js
  scripts/devtools-snippets/List-Sites.js
  scripts/devtools-snippets/Remove-All-Sites.js
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Clarify devtools runtime comments
  scripts/devtools-snippets/Add-All-Test-Sites.js
  scripts/devtools-snippets/Add-Minimal-Test-Sites.js
  scripts/devtools-snippets/Debugger-Pause-Hover.js
  scripts/devtools-snippets/List-Sites.js
  scripts/devtools-snippets/Remove-All-Sites.js
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Remove stale MDX suppressions
  docs/docusaurus/blog/2025-11-25-eslint-config-inspector-integration.mdx
  docs/docusaurus/blog/2025-11-25-uptime-watcher-development-journey.mdx
Due: none

🧪 [test] Narrow fuzzing lint suppressions
  shared/test/fuzzing/validation.working.fuzz.test.ts
  src/test/utils/monitoring/globalMetrics.property.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Remove backend fuzzing lint blanket
  electron/test/fuzzing/backend-validation.fuzz.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Remove stale Docusaurus meta suppressions
  docs/docusaurus/src/components/GitHubStats.tsx
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  docs/docusaurus/src/hooks/useGitHubStats.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Remove homepage meta suppression
  docs/docusaurus/src/pages/index.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Pair Vite config lint disable
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Remove root config meta suppressions
  electron-builder.config.ts
  postcss.config.mjs
  vitest.electron.config.ts
  vitest.linting.config.ts
  vitest.shared.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Normalize Vitest env access
  vitest.electron.config.ts
  vitest.shared.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Normalize Playwright env access
  playwright.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Deduplicate shared Vitest excludes
  vitest.shared.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Deduplicate config tsconfig includes
  config/testing/tsconfig.configs.json
Due: prettier --write --cache

🧹 [chore] Remove stale config tsconfig includes
  config/testing/tsconfig.configs.json
Due: prettier --write --cache

🧹 [chore] Normalize Vite config env access
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Normalize docs config env access
  docs/docusaurus/docusaurus.config.ts
  storybook/main.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Normalize PostCSS env access
  postcss.config.mjs
Due: none

🧹 [chore] Remove stale docs test scripts
  docs/Testing/TEST_VERBOSITY_GUIDE.md
  package.json
Due: markdownlint --fix --cache, prettier --write --cache

🧹 [chore] Fix package lint script aliases
  package.json
Due: prettier --write --cache

📝 [docs] Remove Docusaurus homepage lint suppressions
  docs/docusaurus/src/pages/index.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Remove unused cpy-cli dependency
  package-lock.json
  package.json
Due: prettier --write --cache

📝 [docs] Add abort-safe GitHub stats hooks
  docs/docusaurus/src/hooks/useGitHubStats.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Tighten overflow marquee window guard
  src/hooks/ui/useOverflowMarquee.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Remove redundant bootstrap subscription cast
  src/app/bootstrap/appBootstrap.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Use typed Vite env in renderer logger
  src/services/logger.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Type renderer automation marker
  src/types.ts
  src/utils/environment.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Simplify renderer automation globals
  src/stores/sites/utils/fileDownload.ts
  src/stores/ui/useConfirmDialogStore.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Narrow alert audio global lookup
  src/components/Alerts/alertCoordinator.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Narrow alert id crypto lookup
  src/stores/alerts/useAlertStore.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Use safe window lookup for bridge readiness
  src/services/utils/electronBridgeReadiness.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Type monitor type fallback explicitly
  src/utils/monitorTypeHelper.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Remove alert status indicator cast
  src/components/Alerts/StatusAlertToast.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Path conditions:
  https://www.schemastore.org/lintstagedrc.schema.json: any of: $schema
  markdownlint --fix --cache: any of: *.md
  eslint --fix --cache --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,yaml,yml})
  stylelint --fix --cache: any of: *.{css,scss}
