Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

.lintstagedrc.json:

{
    "$schema": "https://www.schemastore.org/lintstagedrc.schema.json",
    "*.md": [
        "markdownlint --fix --cache"
    ],
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix --cache --max-warnings=0",
        "prettier --write --cache"
    ],
    "*.{css,scss}": [
        "stylelint --fix --cache",
        "prettier --write --cache"
    ],
    "*.{json,yaml,yml}": [
        "prettier --write --cache"
    ]
}

🧪 [test] Add comprehensive tests for Electron preload APIs
  .gitignore
  config/testing/tsconfig.configs.json
  electron/test/preload/core/bridgeFactory.comprehensive.test.ts
  electron/test/preload/domains/dataApi.comprehensive.test.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
  electron/test/preload/domains/monitorTypesApi.comprehensive.test.ts
  electron/test/preload/domains/monitoringApi.comprehensive.test.ts
  electron/test/preload/domains/settingsApi.comprehensive.test.ts
  electron/test/preload/domains/sitesApi.comprehensive.test.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  electron/test/preload/domains/systemApi.comprehensive.test.ts
  package.json
  playwright/tsconfig.json
  src/test/chartConfig.test.ts
  src/test/components/AddSiteModal.branch-coverage.test.tsx
  src/test/services/chartConfig.input-fuzzing.test.ts
  src/test/themeTypes.test.tsx
  src/theme/ThemeManager.input-fuzzing.test.ts
  src/theme/utils/themeMerging.input-fuzzing.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Consolidate build outputs and enhance IPC stability
  .hintrc
  .vscode/tasks.json
  config/benchmarks/tsconfig.bench.json
  config/testing/tsconfig.configs.json
  config/testing/tsconfig.electron.test.json
  config/testing/tsconfig.scripts.json
  config/testing/tsconfig.shared.test.json
  docs/docusaurus/tsconfig.eslint.json
  docs/docusaurus/tsconfig.json
  docs/docusaurus/tsconfig.typedoc.json
  electron/preload/core/bridgeFactory.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
  electron/test/preload/domains/monitorTypesApi.comprehensive.test.ts
  electron/test/preload/domains/monitoringApi.comprehensive.test.ts
  electron/test/preload/domains/settingsApi.comprehensive.test.ts
  electron/test/preload/domains/sitesApi.comprehensive.test.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  electron/test/preload/domains/systemApi.comprehensive.test.ts
  eslint.config.mjs
  playwright/tsconfig.json
  src/test/services/DataService.comprehensive.test.ts
  src/test/services/EventsService.comprehensive.test.ts
  src/test/services/SettingsService.comprehensive.test.ts
  src/test/services/SystemService.comprehensive.test.ts
  tsconfig.electron.json
  tsconfig.shared.json
  vite.config.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
  vitest.stryker.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Refine AI configurations and Playwright setup
  .github/chatmodes/BeastMode.chatmode.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  playwright.config.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Replace websearch tool with Tavily suite in BeastMode
  .github/chatmodes/BeastMode.chatmode.md
  .vscode/mcp.json
Due: markdownlint --fix --cache, prettier --write --cache

🚜 [refactor] Standardize DI, logging, docs & VS Code config
  .djlintrc
  .github/chatmodes/BeastMode.chatmode.md
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  docs/CONSISTENCY_GUIDE.md
  electron/services/ServiceContainer.ts
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/services/monitoring/PingMonitor.ts
  electron/services/monitoring/PortMonitor.ts
  electron/services/notifications/NotificationService.ts
  electron/services/window/WindowService.ts
  electron/utils/correlation.ts
  electron/utils/database/SiteWriterService.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Improve IPC API contracts and cache invalidation
  benchmarks/monitoring/alertSystem.bench.ts
  config/tools/knip.config.ts
  electron/preload/domains/dataApi.ts
  electron/preload/domains/settingsApi.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/window/WindowService.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/preload.test.ts
  electron/test/preload/domains/dataApi.comprehensive.test.ts
  electron/test/preload/domains/settingsApi.comprehensive.test.ts
  electron/test/services/commands/DatabaseCommands.test.ts
  electron/test/services/monitoring/MigrationSystem.comprehensive.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/services/window/WindowService.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/test/fuzzing/abortUtils.comprehensive.fuzz.test.ts
  shared/utils/safeConversions.ts
  src/services/DataService.ts
  src/services/SettingsService.ts
  src/stores/settings/useSettingsStore.ts
  src/test/abortUtils.comprehensive.test.ts
  src/test/events/event-system.comprehensive-fuzzing.test.ts
  src/test/mock-setup.ts
  src/test/services/DataService.comprehensive.test.ts
  src/test/services/SettingsService.comprehensive.test.ts
  src/test/stores/aliases.test.ts
  src/test/stores/settings/useSettingsStore.additional.test.ts
  src/test/stores/settings/useSettingsStore.branches.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.targeted.test.ts
  src/test/types.test.tsx
  src/test/useSettingsStore.test.ts
  src/test/utils/cacheSync.test.ts
  src/types.ts
  src/utils/cacheSync.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🎨 [style] Improve code formatting and readability across configurations and tests
  playwright/codegen-template.mjs
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  stylelint.config.mjs
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 15.7.0
  package.json
Due: prettier --write --cache

Weird vscode bug
  electron/managers/validators/MonitorValidator.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Centralize monitor interval constants and logic
  electron/managers/ConfigurationManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/validators/MonitorValidator.ts
  electron/test/constants.test.ts
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/managers/MonitorManager.arithmetic-mutations.test.ts
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/managers/validators/MonitorValidator.comprehensive.test.ts
  shared/constants/monitoring.ts
  shared/validation/schemas.ts
  src/stores/sites/utils/monitorOperations.ts
  src/test/constants.test.ts
  src/test/monitorOperations.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 15.8.0
  package.json
Due: prettier --write --cache

🚜 [refactor] Standardize build output directory to 'dist'
  .github/workflows/flatpak-build.yml
  .vscode/launch.json
  config/testing/tsconfig.test.json
  docs/Guides/ENVIRONMENT_SETUP.md
  docs/Guides/TROUBLESHOOTING.md
  docs/Testing/PLAYWRIGHT_CODEGEN_GUIDE.md
  docs/Testing/PLAYWRIGHT_TESTING_GUIDE.md
  docs/docusaurus/src/pages/index.tsx
  electron/services/window/WindowService.ts
  electron/test/services/window/WindowService.test.ts
  flatpak-build.yml
  package-lock.json
  package.json
  playwright/fixtures/global-setup.ts
  scripts/download-sqlite3-wasm.mjs
  scripts/extract-test-names.mjs
  vite.config.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Improve build configuration and enhance error handling robustness
  eslint.config.mjs
  shared/test/fuzzing/errorHandling.fuzz.test.ts
  shared/utils/safeConversions.ts
  tsconfig.electron.json
  tsconfig.json
  tsconfig.shared.json
  vite.config.ts
  vitest.config.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Integrate Storybook for UI development
  .github/chatmodes/BeastMode.chatmode.md
  .gitignore
  config/testing/tsconfig.test.json
  eslint.config.mjs
  package-lock.json
  package.json
  sonar-project.properties
  vite.config.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Integrate MSW and SonarQube reporting into Storybook
  docs/Guides/STORYBOOK_VITEST_COMPONENT_TESTING.md
  eslint.config.mjs
  package-lock.json
  package.json
  public/mockServiceWorker.js
  sonar-project.properties
  storybook/main.ts
  storybook/preview.ts
  storybook/tsconfig.json
  vitest.storybook.config.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Update dependencies and refactor imports
  .vscode/settings.json
  config/testing/tsconfig.test.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/services/ServiceContainer.test.ts
  electron/test/services/ipc/standardization.test.ts
  electron/test/services/monitoring/MonitorFactory.fixed.test.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/PingMonitor.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  electron/test/services/monitoring/utils/pingErrorHandling.test.ts
  electron/test/services/monitoring/utils/portErrorHandling.comprehensive.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/utils/cache/StandardizedCache.comprehensive.test.ts
  package-lock.json
  package.json
  public/mockServiceWorker.js
  shared/test/fuzzing/errorHandling.fuzz.test.ts
  shared/test/types/componentProps.test.ts
  shared/test/utils/cacheKeys.test.ts
  src/test/Settings.invalid-key.test.tsx
  src/test/chartConfig.test.ts
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/useSiteAnalytics.test.ts
  src/test/useSiteStats.test.ts
  src/test/utils/monitorTitleFormatters.test.ts
  storybook/stories/ErrorAlert.stories.tsx
  storybook/stories/FormErrorAlert.stories.tsx
  storybook/stories/SettingItem.stories.tsx
  storybook/stories/theme/ThemedCheckbox.stories.tsx
  storybook/stories/theme/ThemedInput.stories.tsx
  storybook/stories/theme/ThemedSelect.stories.tsx
  vitest.storybook.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Refine ESLint boundaries and apply code formatting
  eslint.config.mjs
  public/mockServiceWorker.js
  scripts/download-sqlite3-wasm.mjs
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Remove hardcoded model from prompt and chatmode configs
  .github/chatmodes/BeastMode.chatmode.md
  .github/prompts/BeastMode.prompt.md
  .github/prompts/Consistency-Check.prompt.md
  .github/prompts/Document-Review.prompt.md
  .github/prompts/E2E-Tests-Playwright.prompt.md
  .github/prompts/Error-Handling-Tests.prompt.md
  .github/prompts/Fix-Eslint-Errors.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/prompts/Generate-Test-Metadata.prompt.md
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  .github/prompts/My-Custom-Prompts.prompt.md
  .github/prompts/PR-Review.prompt.md
  .github/prompts/Performance-Tests.prompt.md
  .github/prompts/Remove-Eslint-Disable.prompt.md
  .github/prompts/Review-Code-Base.prompt.md
  .github/prompts/Stryker-Generate-Stryke-Mutator-Fixes.prompt.md
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
  .github/prompts/Types-Double-Check.prompt.md
Due: markdownlint --fix --cache

🔧 [build] Consolidate TypeScript build artifacts and configurations
  config/benchmarks/tsconfig.bench.json
  config/testing/tsconfig.configs.json
  config/testing/tsconfig.electron.test.json
  config/testing/tsconfig.js.json
  config/testing/tsconfig.scripts.json
  config/testing/tsconfig.shared.test.json
  config/testing/tsconfig.test.json
  docs/docusaurus/tsconfig.eslint.json
  docs/docusaurus/tsconfig.json
  docs/docusaurus/tsconfig.typedoc.json
  package-lock.json
  package.json
  playwright/tsconfig.json
  tsconfig.electron.json
  tsconfig.json
  tsconfig.shared.json
Due: prettier --write --cache

🚜 [refactor] Standardize state sync APIs and response types
  .github/chatmodes/BeastMode.chatmode.md
  electron/managers/SiteManager.ts
  electron/preload/domains/monitoringApi.ts
  electron/preload/domains/sitesApi.ts
  electron/preload/domains/stateSyncApi.ts
  electron/services/ipc/IpcService.ts
  electron/test/preload/domains/monitoringApi.comprehensive.test.ts
  electron/test/preload/domains/sitesApi.comprehensive.test.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  eslint.config.mjs
  shared/types/events.ts
  shared/types/stateSync.ts
  src/stores/sites/baseTypes.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/test/mock-setup.ts
  src/test/setup.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
  src/types.ts
  storybook/setup/electron-api-mock.ts
  storybook/tsconfig.json
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Improve state sync logic, error handling & prop sanitization
  electron/preload/domains/stateSyncApi.ts
  electron/test/preload/domains/monitoringApi.comprehensive.test.ts
  electron/test/preload/domains/sitesApi.comprehensive.test.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  shared/types/events.ts
  shared/types/stateSync.ts
  shared/utils/abortUtils.comprehensive-coverage.fuzz.test.ts
  src/components/SiteDetails/useAddSiteForm.ts
  src/hooks/useSelectedSite.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/test/arraydeclaration-mutations.test.tsx
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/components/shared/FormErrorAlert.input-fuzzing.test.tsx
  src/test/components/shared/SaveButton.input-fuzzing.test.tsx
  src/test/final.coverage.enhancement.simplified.test.tsx
  src/test/frontend-functions-coverage-target.test.tsx
  src/test/frontend-functions-coverage.test.tsx
  src/test/function-coverage-boost.test.ts
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/mock-setup.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/utils/domPropSanitizer.ts
  src/test/utils/monitorUiHelpers.comprehensive.test.ts
  storybook/setup/electron-api-mock.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Support custom log level for operation failures
  .github/chatmodes/BeastMode.chatmode.md
  .github/copilot-instructions.md
  electron/preload/domains/stateSyncApi.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/utils/errorHandling.ts
  electron/test/utils/operationalHooks.branch-coverage.test.ts
  electron/test/utils/operationalHooks.test.ts
  electron/utils/operationalHooks.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSitesStore.input-fuzzing.test.ts
  src/test/strictTests/SiteService.critical.test.ts
  src/test/types.test.tsx
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Refines consistency audit prompt for Uptime Watcher stack
  .github/prompts/Consistency-Check.prompt.md
Due: markdownlint --fix --cache

Bump version to 15.9.0
  package.json
Due: prettier --write --cache

fix: import Layout in Docusaurus custom pages
  docs/docusaurus/src/pages/data-models.mdx
  docs/docusaurus/src/pages/deployment-infrastructure.mdx
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/performance-metrics.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
Due: none

fix: import Layout in Docusaurus custom pages (#77)
  docs/docusaurus/src/pages/data-models.mdx
  docs/docusaurus/src/pages/deployment-infrastructure.mdx
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/performance-metrics.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  electron/events/TypedEventBus.ts
  electron/events/middleware.ts
  electron/managers/DatabaseManager.ts
  electron/managers/validators/SiteValidator.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/databaseBackup.ts
  electron/services/database/utils/databaseSchema.ts
  electron/services/database/utils/historyQuery.ts
  electron/services/monitoring/MonitorFactory.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/utils/portChecker.ts
  electron/services/monitoring/utils/portErrorHandling.ts
  electron/services/monitoring/utils/portRetry.ts
  electron/services/updater/AutoUpdaterService.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
  electron/utils/database/databaseInitializer.ts
  electron/utils/database/serviceFactory.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Refine development environment configurations
  .vscode/extensions.json
  eslint.config.mjs
Due: prettier --write --cache

📝 [docs] Update BeastMode guide with linting and test workflow
  .github/chatmodes/BeastMode.chatmode.md
Due: markdownlint --fix --cache

🧹 [chore] Refine Beast Mode toolset
  .github/chatmodes/BeastMode.chatmode.md
Due: markdownlint --fix --cache

✨ [feat] Add HTTP Keyword and Status Code monitors
  .github/chatmodes/BeastMode.chatmode.md
  README.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  electron/services/database/utils/monitorMapper.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/HttpKeywordMonitor.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/HttpStatusMonitor.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/utils/httpRateLimiter.ts
  electron/test/services/monitoring/HttpKeywordMonitor.test.ts
  electron/test/services/monitoring/HttpStatusMonitor.test.ts
  electron/test/services/monitoring/monitorTypes.test.ts
  package.json
  shared/test/utils/validation.comprehensive.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/schemas.test.ts
  shared/types.ts
  shared/types/database.ts
  shared/types/monitorConfig.ts
  shared/types/schemaTypes.ts
  shared/utils/validation.ts
  shared/validation/schemas.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/constants.ts
  src/stores/sites/utils/monitorOperations.ts
  src/types/monitor-forms.ts
  src/types/monitorFormData.ts
  src/utils/monitorValidation.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Overhaul new monitor implementation guide
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  electron/services/monitoring/SslMonitor.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  eslint.config.mjs
  scripts/download-sqlite3-wasm.mjs
  shared/test/schemas.property.test.ts
  shared/test/types.fast-check-comprehensive.test.ts
  shared/types/schemaTypes.ts
  src/test/arraydeclaration-mutations.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.enhanced.test.tsx
  src/test/components/AddSiteForm/Submit.additional-coverage.test.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.fixed.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/components/shared/formUtils.test.ts
  src/test/constants-theme-100-coverage.test.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
  src/test/utils/typeGuards.advanced-fuzzing.test.ts
  src/theme/components/ThemeProvider.tsx
  src/utils/monitorValidation.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Clarify workflow for handling lint errors
  .github/prompts/BeastMode.prompt.md
Due: markdownlint --fix --cache

🧹 [chore] Update Knip config and reformat docs
  config/tools/knip.config.ts
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Enhance HTTP monitor details and form logic
  .github/chatmodes/BeastMode.chatmode.md
  .github/copilot-instructions.md
  electron/test/services/monitoring/HttpKeywordMonitor.test.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/test/types/monitor-forms.comprehensive.test.ts
  src/test/utils/monitorValidation.test.ts
  src/types/monitor-forms.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Refactor monitor schemas and improve test coverage
  electron/test/services/monitoring/HttpKeywordMonitor.test.ts
  electron/test/services/monitoring/HttpStatusMonitor.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  shared/test/schemas.property.test.ts
  shared/types.ts
  src/components/AddSiteForm/Submit.tsx
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/constants-theme-100-coverage.test.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
  src/types/monitorFormData.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Add HTTP Header, JSON, and Latency monitors
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  electron/services/database/utils/monitorMapper.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/HttpHeaderMonitor.ts
  electron/services/monitoring/HttpJsonMonitor.ts
  electron/services/monitoring/HttpLatencyMonitor.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/test/services/monitoring/HttpHeaderMonitor.test.ts
  electron/test/services/monitoring/HttpJsonMonitor.test.ts
  electron/test/services/monitoring/HttpLatencyMonitor.test.ts
  shared/test/schemas.property.test.ts
  shared/types.ts
  shared/types/monitorConfig.ts
  shared/types/schemaTypes.ts
  shared/utils/validation.ts
  shared/validation/schemas.ts
  src/stores/sites/utils/monitorOperations.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
  src/types/monitorFormData.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache
