Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

🧪 [test] Expand and improve site monitoring and error tests
  electron/test/uptimeMonitor.test.ts
  electron/uptimeMonitor.ts
Due: eslint --fix, prettier --write

🧪 [test] Improve mocking and test reliability in unit tests
  electron/test/main.test.ts
  electron/test/uptimeMonitor.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Update mocks, types, and assertions for stricter type safety
  custom-words.txt
  electron/test/monitoringTypes.test.ts
  electron/test/preload.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/services/window/WindowService.test.ts
  src/test/App.test.tsx
  src/test/logger.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Improve chart config tests for type safety and theme props
  custom-words.txt
  electron/test/uptimeMonitor.test.ts
  src/test/chartConfig.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Expand coverage for event handling and edge cases
  electron/services/application/ApplicationService.ts
  electron/services/database/MonitorRepository.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/application/index.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/monitoring/types.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Expand test coverage for monitoring and logger utils
  electron/services/monitoring/HttpMonitor.ts
  electron/test/logger.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/monitoring/types.test.ts
  electron/test/uptimeMonitor.test.ts
  package-lock.json
  package.json
  src/test/chartConfig.test.ts
  vitest.electron.config.ts
Due: eslint --fix, prettier --write

Bump version to 3.8.0
  package.json
Due: prettier --write

Update codecov.yml
  .github/workflows/codecov.yml
Due: prettier --write

👷 [ci] Add separate CI steps for frontend and electron coverage
  .github/workflows/codecov.yml
  TESTING.md
  codecov.yml
  package.json
  vite.config.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🧪 [test] Expand HttpMonitor test coverage for timeouts and logging
  electron/services/monitoring/HttpMonitor.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Achieve full branch coverage for monitor DB logic
  electron/services/database/MonitorRepository.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Expand test coverage for edge cases and nullish behavior
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/PortMonitor.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/monitoring/PortMonitor.test.ts
  electron/test/services/window/WindowService.test.ts
  vite.config.ts
Due: eslint --fix, prettier --write

👷 [ci] Ensure coverage directories exist and fix test report upload paths
  .github/workflows/codecov.yml
Due: prettier --write

🧪 [test] Add comprehensive unit tests for components, hooks, and store
  .github/workflows/codecov.yml
  coverage-output.txt
  src/test/ActionButtonGroup.test.tsx
  src/test/AddSiteForm.test.tsx
  src/test/EmptyState.test.tsx
  src/test/FormFields.test.tsx
  src/test/Header.test.tsx
  src/test/HistoryChart.test.tsx
  src/test/Settings.test.tsx
  src/test/SiteCard-components-index.test.ts
  src/test/SiteCard.test.tsx
  src/test/SiteCardFooter.test.tsx
  src/test/SiteCardHeader.test.tsx
  src/test/SiteCardHistory.test.tsx
  src/test/SiteCardMetrics.test.tsx
  src/test/SiteCardStatus.test.tsx
  src/test/SiteList.test.tsx
  src/test/Submit.test.ts
  src/test/ThemeManager.test.ts
  src/test/common-index.test.ts
  src/test/logger.test.ts
  src/test/store.test.ts
  src/test/theme-types.test.ts
  src/test/theme-types.test.tsx
  src/test/themes.test.ts
  src/test/types.test.tsx
  src/test/useAddSiteForm.test.ts
  src/test/useBackendFocusSync.test.ts
  src/test/useSite.test.ts
  src/test/useSiteMonitor.test.ts
  src/test/useSiteStats.test.ts
  src/test/useTheme.test.ts
Due: eslint --fix, prettier --write

✨ [feat] Improve screenshot overlay UX and test UI integration
  custom-words.txt
  package-lock.json
  package.json
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/hooks/site/useSiteStats.ts
  src/theme/components.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

🔧 [build] Add Codecov Vite plugin, update dependencies
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

🔧 [build] Update test config and lint ignores for coverage and bail
  eslint.config.mjs
  package.json
  src/components/SiteDetails/SiteDetailsNavigation.test.tsx
  src/components/SiteDetails/tabs/HistoryTab.test.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

Bump version to 3.9.0
  package.json
Due: prettier --write

🔧 [build] Replace ts-prune with knip and ts-morph-helpers
  package-lock.json
  package.json
Due: prettier --write

🛠️ [fix] Add update payload validation and improve progress accessibility
  src/store.ts
  src/theme/components.tsx
Due: eslint --fix, prettier --write

🧪 [test] Expand coverage for theme, store, and component tests
  src/test/AddSiteForm.test.tsx
  src/test/HistoryTab.test.tsx
  src/test/SiteDetails-index.test.ts
  src/test/SiteDetails-tabs-index.test.ts
  src/test/SiteDetails.test.tsx
  src/test/SiteDetailsNavigation.test.tsx
  src/test/ThemeManager.test.ts
  src/test/components/SiteDetails/tabs/HistoryTab.test.tsx
  src/test/components/SiteDetails/tabs/index.test.ts
  src/test/store.test.ts
  src/test/theme-components.test.tsx
Due: eslint --fix, prettier --write

🧪 [test] Remove obsolete unit tests for tab components
  src/test/components/SiteDetails/tabs/HistoryTab.test.tsx
  src/test/components/SiteDetails/tabs/index.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Update type assertions in tab component tests
  src/test/SiteDetails-tabs-index.test.ts
Due: eslint --fix, prettier --write

Bump version to 4.0.0
  package.json
Due: prettier --write

🚜 [refactor] Extract duration calculation to shared utility
  .github/workflows/codecov.yml
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/utils/duration.ts
Due: eslint --fix, prettier --write

🧪 [test] Increase settings and interval formatting test coverage
  src/test/MonitorSelector.test.tsx
  src/test/Settings.test.tsx
  src/test/SettingsTab-formatDuration.test.tsx
  src/test/SettingsTab.test.tsx
  src/test/calculateMaxDuration.test.tsx
  test-report.junit.xml
Due: eslint --fix, prettier --write

👷 [ci] Improve test coverage workflow and reporting
  .github/workflows/codecov.yml
  coverage-output.txt
Due: prettier --write

👷 [ci] Enhance Codecov config for frontend/electron splits
  .codecov.yml
  .github/workflows/codecov.yml
  custom-words.txt
Due: prettier --write

Bump version to 4.1.0
  package.json
Due: prettier --write

🧪 [test] Improve test coverage for settings and site details
  .codecov.yml
  src/test/Settings.test.tsx
  src/test/useSiteDetails.test.ts
Due: eslint --fix, prettier --write

Bump version to 4.2.0
  package.json
Due: prettier --write

chore: format code with Prettier [skip-ci]
  TESTING.md
Due: markdownlint --fix, prettier --write

👷 [ci] Simplify Codecov upload and test result steps
  .github/workflows/codecov.yml
Due: prettier --write

🧪 [test] Add edge case and cleanup tests for UI components
  src/test/ScreenshotThumbnail.test.tsx
  src/test/Settings.test.tsx
  src/test/SiteDetailsNavigation.test.tsx
  src/test/StatusBadge.test.tsx
  src/test/Submit.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Add defensive and branch coverage for nullish, edge, and fallback cases
  package-lock.json
  src/test/App.test.tsx
  src/test/HistoryTab.test.tsx
  src/test/OverviewTab.test.tsx
  src/test/Settings.test.tsx
  src/test/SettingsTab.test.tsx
  src/test/SiteDetailsHeader.test.tsx
  src/test/SiteDetailsNavigation.test.tsx
  src/test/Submit-edge-cases.test.tsx
  src/test/store-edge-cases.test.ts
  src/test/store.test.ts
  src/test/theme-components-edge-cases.test.tsx
  src/test/useSiteStats-edge-cases.test.ts
  src/test/useSiteStats.test.ts
Due: eslint --fix, prettier --write

🔧 [build] Update dependencies for Electron, Zod, and TypeScript
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  markdownlint --fix: any of: *.md
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}
