Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

🚜 [refactor] Remove legacy dark mode, flatten API, update docs
  docs/api/documentation-review-progress.md
  docs/api/hook-apis.md
  docs/api/index.md
  docs/api/ipc-api.md
  docs/api/monitor-api.md
  docs/api/store-api.md
  docs/api/types-api.md
  docs/guides/AI-State-Theme-Integration-Guide.copilotmd
  docs/instructions/copilot-instructions.md
  electron/preload.ts
  electron/types.ts
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/store.ts
  src/theme/ThemeManager.ts
  src/types.ts
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Remove legacy documentation and update review status
  docs/api/documentation-review-progress.md
  docs/guides/Vite-MCP-Configuration.md
  docs/old/Documentation-Accuracy-Review.md
  docs/old/Documentation-Organization-Summary.md
  docs/old/Documentation-Review-Complete.md
  docs/old/GitHub-Pages-Setup-Summary.md
  docs/old/HTTP-Monitoring-Documentation-Corrections-Summary.md
  docs/old/JSDoc-Implementation-Plan.md
  src/App.tsx
  src/types.ts
  src/utils/time.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🚜 [refactor] Use dedicated Axios instance and improve error handling
  docs/guides/Axios.md
  electron/services/monitoring/HttpMonitor.ts
Due: eslint --fix, markdownlint --fix, prettier --write

✨ [feat] Add per-monitor request timeout configuration
  electron/services/database/DatabaseService.ts
  electron/services/database/MonitorRepository.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/PortMonitor.ts
  electron/types.ts
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/constants.ts
  src/hooks/site/useSiteDetails.ts
  src/store.ts
  src/types.ts
Due: eslint --fix, prettier --write

📝 [docs] Remove AI-generated and migration docs, update architecture guide
  docs/architecture/Project-Architecture-Guide.copilotmd
  docs/architecture/Project-Architecture-Guide.md
  docs/component-docs/database-schema.md
  docs/guides/AI-State-Theme-Integration-Guide.md
  docs/guides/implementing-new-monitor-properties.md
  docs/health-reports/Codebase-Health-Check.md
  docs/migration-summaries/Backend-Persistence-Migration-SQLite.md
  docs/migration-summaries/Logging-Migration-Summary.md
  docs/old/BackendRafactor.md
  docs/old/comprehensive-changes-review.md
  docs/old/critical-fixes-review.md
  docs/old/final-implementation-summary.md
  docs/old/implementation-review-timeout.md
  docs/old/sql-data-paths-review.md
  docs/old/task-completion-summary.md
  docs/optimization-summaries/Future-Proofing-Improvements-Summary.md
  docs/optimization-summaries/Performance-Optimization-Summary.md
  docs/refactoring/BackendRafactor.md
  scripts/old/fix-markdown-links-improved.ps1
  scripts/old/fix-markdown-links.ps1
  scripts/old/fix-trailing-slashes.ps1
  scripts/old/rename-copilotmd-files-fixed.ps1
  scripts/old/rename-copilotmd-files.bat
  scripts/old/rename-copilotmd-files.ps1
Due: markdownlint --fix, prettier --write

🚜 [refactor] Extract and modularize form validation and submission logic
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/FormFields.tsx
  src/components/AddSiteForm/Submit.tsx
Due: eslint --fix, prettier --write

✨ [feat] Improve accessibility and event handling in UI components
  src/components/Dashboard/SiteCard/components/ActionButtonGroup.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/Dashboard/SiteCard/index.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/common/HistoryChart.tsx
  src/theme/components.tsx
Due: eslint --fix, prettier --write

🚜 [refactor] Refactor monitor option formatting logic
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
Due: eslint --fix, prettier --write

🛠️ [fix] Use nullish coalescing for site name fallback
  src/components/Dashboard/SiteCard/SiteCardHeader.tsx
Due: eslint --fix, prettier --write

🚜 [refactor] Extracts monitor history suffix formatting to helpers
  src/components/Dashboard/SiteCard/SiteCardHistory.tsx
Due: eslint --fix, prettier --write

🎨 [style] Clean up imports and className order in UI components
  src/components/Dashboard/SiteCard/index.tsx
  src/components/Header/Header.tsx
Due: eslint --fix, prettier --write

🎨 [style] Enforce immutability on component props
  src/components/Settings/Settings.tsx
Due: eslint --fix, prettier --write

Bump version to 3.5.0
  package.json
Due: prettier --write

✨ [feat] Add per-monitor retry attempts with UI and persistence
  docs/api/store-api.md
  docs/component-docs/Settings.md
  docs/guides/AI-State-Theme-Integration-Guide.md
  docs/instructions/copilot-instructions.md
  electron/services/database/DatabaseService.ts
  electron/services/database/MonitorRepository.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/PortMonitor.ts
  electron/services/monitoring/types.ts
  electron/types.ts
  electron/uptimeMonitor.ts
  src/components/AddSiteForm/useAddSiteForm.ts
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/constants.ts
  src/hooks/site/useSiteDetails.ts
  src/store.ts
  src/types.ts
Due: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

✨ [feat] Centralize monitor defaults and improve identifier display
  electron/constants.ts
  electron/main.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/PortMonitor.ts
  electron/uptimeMonitor.ts
  eslint.config.mjs
  src/components/AddSiteForm/Submit.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/constants.ts
  src/hooks/site/useSiteDetails.ts
  src/store.ts
  src/theme/components.tsx
  vite.config.ts
Due: eslint --fix, prettier --write

Bump version to 3.6.0
  package.json
Due: prettier --write

🚜 [refactor] Simplifies monitor counting and ID selection logic
  electron/uptimeMonitor.ts
  src/components/Header/Header.tsx
Due: eslint --fix, prettier --write

🚜 [refactor] Expand changelog automation and update commit grouping
  .github/Update-ChangeLogs.ps1
  cliff.toml
  docs/changelogs/changelog-docs.md
  docs/changelogs/changelog-electron-services.md
  docs/changelogs/changelog-electron-utils.md
  docs/changelogs/changelog-electron.md
  docs/changelogs/changelog-github-workflows.md
  docs/changelogs/changelog-github.md
  docs/changelogs/changelog-icons.md
  docs/changelogs/changelog-public.md
  docs/changelogs/changelog-root.md
  docs/changelogs/changelog-scripts.md
  docs/changelogs/changelog-src-components.md
  docs/changelogs/changelog-src-hooks.md
  docs/changelogs/changelog-src-services.md
  docs/changelogs/changelog-src-theme.md
  docs/changelogs/changelog-src-utils.md
  docs/changelogs/changelog-src.md
Due: markdownlint --fix, prettier --write

🚜 [refactor] Centralize retry logic for monitoring checks
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/PortMonitor.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Make interval map readonly and remove non-null assertion
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/PortMonitor.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Replace || with ?? for safer fallback values
  electron/services/notifications/NotificationService.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Make service dependencies readonly and async init
  electron/services/application/ApplicationService.ts
  electron/uptimeMonitor.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Modularize site update and import logic
  electron/uptimeMonitor.ts
Due: eslint --fix, prettier --write

👷 [ci] Add SonarCloud integration for code analysis
  .github/workflows/sonarcloud.yml
  sonar-project.properties
Due: prettier --write

🎨 [style] Mark IPC service dependencies as readonly
  electron/services/ipc/IpcService.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Simplify DB calls and centralize monitor param handling
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Improve type safety, accessibility, and UI modularity
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
Due: eslint --fix, prettier --write

🚜 [refactor] Extracts duration/label formatting helpers in settings tab
  src/components/SiteDetails/tabs/SettingsTab.tsx
Due: eslint --fix, prettier --write

🎨 [style] Add type aliases and readonly props for UI components
  src/store.ts
  src/theme/components.tsx
Due: eslint --fix, prettier --write

🧪 [test] Add Vitest and Testing Library integration
  .github/workflows/codecov-alternative.yml
  .github/workflows/codecov.yml
  TESTING.md
  electron/test/setup.ts
  electron/test/utils.test.ts
  package-lock.json
  package.json
  src/test/App.test.tsx
  src/test/constants.test.ts
  src/test/setup.ts
  src/utils/time.test.ts
  test-report.junit.xml
  tsconfig.json
  vite.config.ts
Due: eslint --fix, markdownlint --fix, prettier --write

Bump version to 3.7.0
  package.json
Due: prettier --write

chore: format code with Prettier [skip-ci]
  TESTING.md
Due: markdownlint --fix, prettier --write

📝 [docs] Add comprehensive prompt templates for project automation
  .github/instructions/copilot-instructions.md
  .github/prompts/Accessibility Tests.prompt.md
  .github/prompts/Custom React Hook.prompt.md
  .github/prompts/Database Migration Tests.prompt.md
  .github/prompts/E2E Tests Playwright.prompt.md
  .github/prompts/Electron IPC Channels.prompt.md
  .github/prompts/Electron IPC Tests.prompt.md
  .github/prompts/Electron Integration Tests.prompt.md
  .github/prompts/Electron Service.prompt.md
  .github/prompts/Error Handling Tests.prompt.md
  .github/prompts/Mock Data Generator.prompt.md
  .github/prompts/Monitoring Service Tests.prompt.md
  .github/prompts/Node.js Worker Threads.prompt.md
  .github/prompts/Performance Tests.prompt.md
  .github/prompts/React Component Tests.prompt.md
  .github/prompts/SQLite Database Service.prompt.md
  .github/prompts/Test Fixes and Coverage.prompt.md
  .github/prompts/TypeScript Utilities.prompt.md
  .github/prompts/Unit Test Generator.prompt.md
  .github/prompts/Vite Plugin.prompt.md
  .github/prompts/Zustand Store Tests.prompt.md
Due: markdownlint --fix, prettier --write

🧪 [test] Add comprehensive Electron backend test suite
  .vscode/settings.json
  electron/constants.ts
  electron/services/application/ApplicationService.ts
  electron/test/constants.test.ts
  electron/test/logger.test.ts
  electron/test/main.test.ts
  electron/test/preload.test.ts
  electron/test/setup-fixed.ts
  electron/test/setup-new.ts
  electron/test/setup.ts
  electron/test/types.test.ts
  electron/test/uptimeMonitor.test.ts
  electron/test/utils.test.new.ts
  eslint.config.mjs
  package.json
  tsconfig.json
  vitest.electron.config.ts
Due: eslint --fix, prettier --write

👷 [ci] Enhance SonarCloud workflow and project configuration
  .codecov.yml
  .github/workflows/sonarcloud.yml
  custom-words.txt
  sonar-project.properties
  vite.config.ts
Due: eslint --fix, prettier --write

👷 [ci] Standardize and reformat CI workflow YAML files
  .github/instructions/copilot-instructions.md
  .github/prompts/Accessibility Tests.prompt.md
  .github/prompts/Custom React Hook.prompt.md
  .github/prompts/Database Migration Tests.prompt.md
  .github/prompts/E2E Tests Playwright.prompt.md
  .github/prompts/Electron IPC Channels.prompt.md
  .github/prompts/Electron IPC Tests.prompt.md
  .github/prompts/Electron Integration Tests.prompt.md
  .github/prompts/Electron Service.prompt.md
  .github/prompts/Error Handling Tests.prompt.md
  .github/prompts/Mock Data Generator.prompt.md
  .github/prompts/Monitoring Service Tests.prompt.md
  .github/prompts/Node.js Worker Threads.prompt.md
  .github/prompts/Performance Tests.prompt.md
  .github/prompts/React Component Tests.prompt.md
  .github/prompts/SQLite Database Service.prompt.md
  .github/prompts/Test Fixes and Coverage.prompt.md
  .github/prompts/TypeScript Utilities.prompt.md
  .github/prompts/Unit Test Generator.prompt.md
  .github/prompts/Vite Plugin.prompt.md
  .github/prompts/Zustand Store Tests.prompt.md
  .github/workflows/codecov-alternative.yml
  .github/workflows/codecov.yml
  .github/workflows/sonarcloud.yml
  TESTING.md
  electron/test/logger.test.ts
  electron/test/main.test.ts
  electron/test/preload.test.ts
  electron/test/types.test.ts
  electron/test/uptimeMonitor.test.ts
  electron/test/utils.test.new.ts
  electron/test/utils.test.ts
  eslint.config.mjs
  vitest.electron.config.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🧪 [test] Expand and refactor test coverage for app logic
  electron/services/application/ApplicationService.ts
  electron/test/barrelExports.test.ts
  electron/test/logger.test.ts
  electron/test/monitoringTypes.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/DatabaseService.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/PortMonitor.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
  electron/test/services/window/WindowService.test.ts
  electron/test/setup.ts
  electron/test/utils/retry.test.ts
  electron/test/utils/utils.test.ts
  package-lock.json
  package.json
  src/test/App.test.tsx
  src/test/StatusBadge.test.tsx
  src/test/chartConfig.test.ts
  src/test/constants.test.ts
  src/test/generateUuid.test.ts
  src/test/logger.test.ts
  src/test/main.test.tsx
  src/test/status.test.ts
  src/test/types.test.ts
  src/utils/time.test.ts
  vite.config.ts
  vitest.electron.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  markdownlint --fix: any of: *.md
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}
