Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

.lintstagedrc.json:

{
    "$schema": "https://www.schemastore.org/lintstagedrc.schema.json",
    "*.md": [
        "markdownlint --fix --cache"
    ],
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix --cache --max-warnings=0",
        "prettier --write --cache"
    ],
    "*.{css,scss}": [
        "stylelint --fix --cache",
        "prettier --write --cache"
    ],
    "*.{json,yaml,yml}": [
        "prettier --write --cache"
    ]
}

Bump version to 15.3.0
  package.json
Due: prettier --write --cache

✨ [feat] Add comprehensive Mermaid config with dark mode
  .vscode/extensions.json
  README.md
  docs/Architecture/ADRs/ADR-001-Repository-Pattern.md
  docs/docusaurus/docusaurus.config.ts
  mermaid.config.json
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Add interactive architecture diagrams and CI optimizations docs
  .github/workflows/stryker-mutation-testing.yml
  docs/STRYKER_CI_OPTIMIZATIONS.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/sidebars.ts
  docs/docusaurus/src/pages/data-models.mdx
  docs/docusaurus/src/pages/deployment-infrastructure.mdx
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/performance-metrics.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  eslint.config.mjs
  package-lock.json
  package.json
  stryker.config.mjs
  vitest.stryker.config.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Integrates remark linting and formatting for markdown/MDX
  .prettierrc
  .remarkignore
  .remarkrc.mjs
  README.md
  docs/Architecture/ADRs/ADR_001_REPOSITORY_PATTERN.md
  docs/Architecture/ADRs/ADR_002_EVENT_DRIVEN_ARCHITECTURE.md
  docs/Architecture/ADRs/ADR_003_ERROR_HANDLING_STRATEGY.md
  docs/Architecture/ADRs/ADR_004_FRONTEND_STATE_MANAGEMENT.md
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  docs/Architecture/ADRs/ADR_006_STANDARDIZED_CACHE_CONFIGURATION.md
  docs/Architecture/Patterns/COMPONENT_PROPS_STANDARDS.md
  docs/Architecture/Patterns/DEVELOPMENT_PATTERNS_GUIDE.md
  docs/Architecture/Templates/IPC_HANDLER_TEMPLATE.md
  docs/Architecture/Templates/REPOSITORY_TEMPLATE.md
  docs/Architecture/Templates/REPOSITORY_TEMPLATE_CLEAN.md
  docs/Architecture/Templates/ZUSTAND_STORE_TEMPLATE.md
  docs/DOCUMENTATION_STYLE_GUIDE.md
  docs/Guides/Monitoring-Race-Condition-Solution-Plan.md
  docs/Testing/PLAYWRIGHT_CODEGEN_GUIDE.md
  eslint.config.mjs
  package-lock.json
  package.json
Due: markdownlint --fix --cache, prettier --write --cache

✨ [feat] Add richer status change events and open-external IPC
  electron/events/eventTypes.ts
  electron/preload.ts
  electron/services/application/ApplicationService.ts
  electron/services/ipc/IpcService.ts
  electron/services/ipc/validators.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/preload.test.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/utils/statusUpdateHandler.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Standardizes IPC response handling and validation logic
  .github/copilot-instructions.md
  electron/preload.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/sites/services/MonitoringService.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSiteOperations.ts
  src/test/setup.ts
  src/test/stores/monitor/useMonitorTypesStore.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/useSiteMonitoring.comprehensive.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/stores/sites/useSitesStore.input-fuzzing.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
  src/test/utils/cacheSync.test.ts
  src/types.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Unifies monitoring mocks and improves validation coverage
  electron/test/preload.missing-branches.test.ts
  electron/test/preload.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/monitoring/EnhancedMonitorChecker-coverage-fixed.test.ts
  electron/test/services/monitoring/EnhancedMonitorChecker-coverage.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  shared/test/utils/safeConversions.property.test.ts
  shared/utils/safeConversions.comprehensive-coverage.fuzz.test.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.simplified100.test.ts
  src/test/stores/sites/MonitoringService.siteLevel.test.ts
  src/test/stores/sites/MonitoringService.test.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
  src/test/useSiteMonitoring.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Centralize IPC response extraction and improve error handling
  electron/preload.ts
  shared/utils/logTemplates.ts
  src/components/AddSiteForm/Submit.tsx
  src/constants.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/useSiteOperations.ts
  src/test/strictTests/useSiteDetails.critical.test.ts
  src/test/utils/errorHandling.comprehensive.test.ts
  src/test/utils/fallbacks.test.ts
  src/test/utils/monitorUiHelpers.test.ts
  src/utils/cacheSync.ts
  src/utils/errorHandling.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 15.4.0
  package.json
Due: prettier --write --cache

🧹 [chore] Migrate Knip config to TypeScript and improve linting flow
  .github/copilot-instructions.md
  .remarkrc.mjs
  config/testing/tsconfig.configs.json
  config/tools/knip.config.ts
  config/tools/knip.json
  docs/docusaurus/src/pages/data-models.mdx
  docs/docusaurus/src/pages/deployment-infrastructure.mdx
  docs/docusaurus/src/pages/monitoring-workflows.mdx
  docs/docusaurus/src/pages/performance-metrics.mdx
  docs/docusaurus/src/pages/system-architecture.mdx
  eslint.config.mjs
  package.json
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Refactors IPC test mocks and improves error handling coverage
  electron/services/ipc/IpcService.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/preload.test.ts
  playwright/tsconfig.json
  src/test/constants-theme-100-coverage.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/utils/errorHandling.comprehensive.test.ts
  src/utils/cacheSync.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Introduces service layer for IPC and refactors store usage
  electron/preload.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/window/WindowService.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/preload.test.ts
  src/services/DataService.ts
  src/services/EventsService.ts
  src/services/MonitorTypesService.ts
  src/services/SettingsService.ts
  src/services/SystemService.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/settings/useSettingsStore.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/utils/operationHelpers.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/ui/useUiStore.ts
  src/stores/updates/useUpdatesStore.ts
  src/types.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Unifies mocks and improves test reliability for stores and UI
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/ScreenshotThumbnail.test.tsx
  src/test/debug-store.test.ts
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.simplified100.test.ts
  src/test/stores/monitor/useMonitorTypesStore.test.ts
  src/test/stores/settings/useSettingsStore.branches.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.targeted.test.ts
  src/test/stores/sites/useSiteMonitoring.comprehensive.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
  src/test/stores/ui/useUiStore.test.ts
  src/test/useSettingsStore.test.ts
  src/test/useSiteMonitoring.test.ts
  src/test/useUpdatesStore.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Streamline IPC response handling and improve settings fallback
  src/services/MonitorTypesService.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/settings/useSettingsStore.ts
  src/stores/sites/utils/statusUpdateHandler.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Ensure cache TTL config and DNS monitor field mapping
  .github/chatmodes/BeastMode.chatmode.md
  electron/preload.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/monitoring/monitorLifecycle.ts
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/architectural-fixes.regression.test.ts
  src/utils/cache.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Improve cache and monitor status consistency
  electron/utils/database/SiteWriterService.ts
  electron/utils/monitoring/monitorLifecycle.ts
  src/utils/cache.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Replace legacy monitor lifecycle with enhanced system
  electron/managers/MonitorManager.ts
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/utils/monitoring/monitorLifecycle.comprehensive.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
  electron/utils/monitoring/monitorLifecycle.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/architectural-fixes.regression.test.ts
  src/types.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Improve test coverage and mocks for monitor utilities
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  shared/utils/safeConversions.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/architectural-fixes.regression.test.ts
  src/test/components/AddSiteForm/Submit.additional-coverage.test.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/useSettingsStore.test.ts
  src/test/utils/monitorUiHelpers.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Add "degraded" monitor status and improve IPC usage
  .github/chatmodes/BeastMode.chatmode.md
  .github/prompts/BeastMode.prompt.md
  .github/prompts/ConsistencyCheck.prompt.md
  .github/prompts/Document-Review.prompt.md
  .github/prompts/E2E-Tests-Playwright.prompt.md
  .github/prompts/Error-Handling-Tests.prompt.md
  .github/prompts/Fix-Eslint-Errors.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/prompts/Generate-Test-Metadata.prompt.md
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  .github/prompts/My-Custom-Prompts.prompt.md
  .github/prompts/PR-Review.prompt.md
  .github/prompts/Performance-Tests.prompt.md
  .github/prompts/Remove-Eslint-Disable.prompt.md
  .github/prompts/ReviewCodebase.prompt.md
  .github/prompts/Stryker-GenerateStrykerMutatorFixesTests.prompt.md
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
  .github/prompts/Types-DoubleCheck-FinalCheck.prompt.md
  docs/docusaurus/src/pages/system-architecture.mdx
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorStatusUpdateService.ts
  electron/services/monitoring/utils/httpStatusUtils.ts
  src/services/MonitorTypesService.ts
  src/stores/sites/utils/monitorOperations.ts
  src/test/chartConfig.test.ts
  src/test/components/AddSiteModal.branch-coverage.test.tsx
  src/test/services/chartConfig.input-fuzzing.test.ts
  src/theme/ThemeManager.input-fuzzing.test.ts
  src/types.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Add support for 'degraded' monitor status
  electron/preload/core/bridgeFactory.ts
  electron/services/database/utils/historyMapper.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/test/services/monitoring/utils/httpStatusUtils.test.ts
  shared/test/array-declaration-validation-mutations.test.ts
  shared/test/utils/siteStatus.comprehensive.test.ts
  shared/utils/siteStatus.ts
  shared/validation/schemas.ts
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Header/StatusCounter.tsx
  src/components/Header/StatusSummary.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/hooks/site/useSiteAnalytics.ts
  src/test/hooks/site/useSiteDetails.branch-coverage-new.test.ts
  src/test/status.test.ts
  src/test/useSiteAnalytics.test.ts
  src/test/utils/siteStatus.test.ts
  src/test/utils/status.test.ts
  src/utils/status.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

✨ [feat] Unifies settings API under data domain
  electron/preload/domains/dataApi.ts
  electron/services/ipc/IpcService.ts
  src/services/SettingsService.ts
  src/stores/utils.ts
  src/types.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Aligns service layer with updated Electron API interface
  src/services/DataService.ts
  src/services/EventsService.ts
  src/services/MonitorTypesService.ts
  src/services/SystemService.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/useSiteSync.ts
  src/stores/updates/useUpdatesStore.ts
  src/stores/utils.ts
  src/test/useUpdatesStore.test.ts
  src/types.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Alphabetizes JSON properties in IPC channel mapping
  docs/preload-refactor/ipc-channel-mapping.json
  electron/preload.ts
  electron/preload/core/bridgeFactory.ts
  electron/preload/domains/eventsApi.ts
  electron/preload/domains/settingsApi.ts
  electron/preload/domains/systemApi.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
  electron/test/services/monitoring/utils/httpStatusUtils.test.ts
  electron/test/services/monitoring/utils/pingRetry.test.ts
  eslint.config.mjs
  scripts/analyze-ipc-channels.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/sites/services/SiteService.ts
  src/test/mock-setup.ts
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.simplified100.test.ts
  src/test/stores/monitor/useMonitorTypesStore.test.ts
  src/test/stores/settings/useSettingsStore.branches.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.targeted.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/strictTests/SiteService.critical.test.ts
  src/test/useSettingsStore.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Adds state synchronization event subscription support
  electron/preload/domains/stateSyncApi.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/preload.test.ts
  shared/types/events.ts
  src/components/Settings/Settings.tsx
  src/services/DataService.ts
  src/services/MonitorTypesService.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/sites/baseTypes.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.new.test.tsx
  src/test/components/Settings/Settings.branch-coverage.test.tsx
  src/test/components/Settings/Settings.test.tsx
  src/test/hooks/useBackendFocusSync.test.ts
  src/test/hooks/useMonitorFields.test.ts
  src/test/mock-setup.ts
  src/test/setup.ts
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
  src/test/stores/utils.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
  src/test/types.test.tsx
  src/test/useUpdatesStore.test.ts
  src/test/utils/cacheSync.test.ts
  src/types.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Refactor preload APIs, enhance type safety, and update docs
  docs/docusaurus/src/pages/system-architecture.mdx
  docs/preload-refactor/ipc-channel-analysis.md
  electron/preload/domains/eventsApi.ts
  electron/preload/domains/settingsApi.ts
  electron/preload/domains/stateSyncApi.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
  shared/types/events.ts
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/utils.ts
  src/test/mock-setup.ts
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/monitor/useMonitorTypesStore.test.ts
  src/test/stores/sites/SiteService.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Refactors and improves test suites for robustness and accuracy
  electron/test/preload.missing-branches.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.simplified100.test.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Remove obsolete documentation and apply style fixes
  docs/Packages/Node-Ping/Node-Ping-Download-Log.md
  docs/Packages/Node-Ping/Node-Ping-Hashes.json
  docs/Packages/Node-Ping/README.md
  docs/Packages/Node-Ping/examples/example.md
  docs/Packages/Node-Ping/examples/example2.md
  docs/Packages/Node-Ping/examples/example_win_de_v6.md
  docs/preload-refactor/ipc-channel-analysis.md
  docs/preload-refactor/ipc-channel-mapping.json
  eslint.config.mjs
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 15.5.0
  package.json
Due: prettier --write --cache

🔧 [build] Update dependencies and Prettier cache strategy
  package-lock.json
  package.json
Due: prettier --write --cache

🧪 [test] Refactor benchmark tests to use real implementations
  benchmarks/cache/cacheOperations.bench.ts
  benchmarks/database/siteRepository.bench.ts
  benchmarks/event-system/eventBus.bench.ts
  benchmarks/frontend/stateManagement.bench.ts
  benchmarks/frontend/zustandStore.bench.ts
  benchmarks/monitoring/alertSystem.bench.ts
  benchmarks/monitoring/healthCheckEngine.bench.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Centralize cache configuration and logger interfaces
  docs/Architecture/ADRs/ADR_001_REPOSITORY_PATTERN.md
  docs/Architecture/Templates/REPOSITORY_TEMPLATE.md
  electron/constants.ts
  electron/managers/ConfigurationManager.ts
  electron/managers/MonitorManager.ts
  electron/test/constants.comprehensive.test.ts
  electron/test/constants.test.ts
  electron/test/utils/database/SiteRepositoryService.comprehensive.test.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  electron/test/utils/interfaces-coverage.test.ts
  electron/test/utils/interfaces.test.ts
  electron/utils/database/DataBackupService.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/historyLimitManager.ts
  electron/utils/database/interfaces.ts
  electron/utils/interfaces.ts
  electron/utils/logger.ts
  shared/utils/logger/interfaces.ts
  src/services/logger.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Enhance documentation and standardize project requirements
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/prompts/BeastMode.prompt.md
  .github/prompts/Consistency-Check.prompt.md
  .github/prompts/Review-Code-Base.prompt.md
  .github/prompts/Stryker-Generate-Stryke-Mutator-Fixes.prompt.md
  .github/prompts/Types-Double-Check.prompt.md
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  docs/DOCUMENTATION_STYLE_GUIDE.md
  docs/Guides/AI_CONTEXT.md
  docs/Guides/API-DOCUMENTATION.md
  docs/Guides/API_DOCUMENTATION.md
  docs/Guides/DEVELOPER-QUICK-START.md
  docs/Guides/DEVELOPER_QUICK_START.md
  docs/Guides/DOCUMENTATION_INDEX.md
  docs/Guides/DOCUMENTATION_STYLE_GUIDE.md
  docs/Guides/DOCUSAURUS_SETUP_GUIDE.md
  docs/Guides/ENVIRONMENT_SETUP.md
  docs/Guides/ERROR_HANDLING_GUIDE.md
  docs/Guides/EVENT_SYSTEM_GUIDE.md
  docs/Guides/FALLBACK_SYSTEM_USAGE_ANALYSIS.md
  docs/Guides/MONITORING_RACE_CONDITION_SOLUTION_PLAN.md
  docs/Guides/ORGANIZATION_SUMMARY.md
  docs/Guides/TECHNOLOGY_EVOLUTION.md
  docs/Guides/TESTING.md
  docs/Guides/TESTING_METHODOLOGY_REACT_COMPONENTS.md
  docs/Guides/TROUBLESHOOTING.md
  docs/Guides/TYPE_FEST_PATTERNS.md
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  docs/Guides/VITE-PERFORMANCE.md
  docs/Guides/VITE_PERFORMANCE.md
  docs/Guides/ZUSTAND_STORE_PATTERN_GUIDE.md
  docs/Guides/Zustand-Store-Pattern-Guide.md
  docs/Guides/testing-methodology-react-components.md
  docs/TSDoc/README.md
  docs/Testing/README.md
  stylelint.config.mjs
Due: markdownlint --fix --cache

🧹 [chore] Consolidate configs, optimize CI, and clean up docs
  .codecov.yml
  .github/dependabot.yml
  .github/workflows/codecov.yml
  .github/workflows/stryker-mutation-testing.yml
  .github/workflows/summary.yml
  .stylelintignore
  CIRCUIT_BREAKER_IMPLEMENTATION_PLAN.md
  CODEBASE_ANALYSIS_CORRECTION.md
  circuit-breaker-implementation-plan.md
  codebase-analysis-correction.md
  config/tools/knip.config.ts
  docs/Guides/AI_CONTEXT.md
  docs/STRYKER_CI_OPTIMIZATIONS.md
  docs/docusaurus/src/css/custom.css
  stylelint.config.mjs
  tsconfig.json
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

🚜 [refactor] Centralize shadow colors into the theme system
  src/components/Header/Header.css
  src/theme/themes.ts
  src/theme/types.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

✨ [feat] Introduce shadow colors to theme and refine configurations
  .github/dependabot.yml
  docs/Guides/API_DOCUMENTATION.md
  docs/Guides/DOCUSAURUS_SETUP_GUIDE.md
  docs/Guides/ENVIRONMENT_SETUP.md
  docs/Guides/TECHNOLOGY_EVOLUTION.md
  docs/Guides/UI_FEATURE_DEVELOPMENT_GUIDE.md
  docs/Guides/VITE_PERFORMANCE.md
  docs/Guides/ZUSTAND_STORE_PATTERN_GUIDE.md
  src/test/chartConfig.test.ts
  src/test/components/AddSiteModal.branch-coverage.test.tsx
  src/test/services/chartConfig.input-fuzzing.test.ts
  src/test/themeTypes.test.tsx
  src/theme/ThemeManager.input-fuzzing.test.ts
  src/theme/utils/themeMerging.input-fuzzing.test.ts
  stylelint.config.mjs
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 15.6.0
  package.json
Due: prettier --write --cache

🚜 [refactor] Refactor styles to use centralized design system tokens
  src/components/Header/Header.css
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/SiteDetails.css
  src/theme/components.css
  src/theme/themes.ts
  src/theme/types.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

📝 [docs] Consolidate documentation and update file naming conventions
  docs/Architecture/TSDOC_STANDARDS.md
  docs/DOCUMENTATION_STYLE_GUIDE.md
  docs/Testing/CODEGEN_BEST_PRACTICES.md
  docs/Testing/FAST_CHECK_FUZZING_GUIDE.md
  playwright/codegen-template.mjs
Due: markdownlint --fix --cache
