Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix"],
    "*.{css,scss}": ["stylelint --fix"],
    "*.md": ["markdownlint --fix"],
    "*.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}": ["prettier --write"]
}

📝 [docs] Add AI review docs for monitoring and services
  docs/Reviews/LC.AI.R-AutoUpdaterService.md
  docs/Reviews/LC.AI.R-Batch3-Summary.md
  docs/Reviews/LC.AI.R-Batch4-Summary.md
  docs/Reviews/LC.AI.R-MigrationSystem.md
  docs/Reviews/LC.AI.R-MonitorScheduler.md
  docs/Reviews/LC.AI.R-MonitorTypeRegistry.md
  docs/Reviews/LC.AI.R-NotificationService.md
  docs/Reviews/LC.AI.R-SiteService.md
  docs/Reviews/LC.AI.R-types.md
Due: markdownlint --fix, prettier --write

📝 [docs] Enhance database mapper and converter documentation
  electron/services/ServiceContainer.ts
  electron/services/database/utils/historyQuery.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/settingsMapper.ts
  electron/services/database/utils/siteMapper.ts
  electron/services/database/utils/valueConverters.ts
Due: eslint --fix, prettier --write

📝 [docs] Improve monitoring code documentation and type safety
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/services/monitoring/MonitorFactory.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/PortMonitor.ts
  electron/services/monitoring/monitorTypes.ts
  electron/services/monitoring/types.ts
Due: eslint --fix, prettier --write

📝 [docs] Improve monitoring utils documentation and error handling
  electron/services/monitoring/utils/errorHandling.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/monitoring/utils/httpStatusUtils.ts
  electron/services/monitoring/utils/portChecker.ts
  electron/services/monitoring/utils/portErrorHandling.ts
  electron/services/monitoring/utils/portRetry.ts
Due: eslint --fix, prettier --write

✨ [feat] Improve error handling and docs for core services
  electron/services/notifications/NotificationService.ts
  electron/services/site/SiteService.ts
  electron/services/updater/AutoUpdaterService.ts
  electron/utils/database/interfaces.ts
  electron/utils/operationalHooks.ts
  shared/types.ts
  src/test/setup.ts
  src/utils/data/generateUuid.ts
  src/utils/fallbacks.ts
Due: eslint --fix, prettier --write

📝 [docs] Overhauls documentation site with new structure and features
  .stylelintignore
  docs/docusaurus/docusaurus.config.new.ts
  docs/docusaurus/docusaurus.config.old.ts
  docs/docusaurus/sidebars.ts
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  docs/docusaurus/src/components/HomepageFeatures/styles.module.css
  docs/docusaurus/src/pages/index.module.css
  docs/docusaurus/src/pages/index.tsx
  package-lock.json
  package.json
  scripts/fix-mdx-typedoc.js
  tsconfig.json
  typedoc.electron.json
  typedoc.json
Due: eslint --fix, stylelint --fix, prettier --write

🔧 [build] Update dependencies to latest versions
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: prettier --write

Update deploy-docusaurus.yml
  .github/workflows/deploy-docusaurus.yml
Due: prettier --write

Update typedoc.json
  typedoc.json
Due: prettier --write

Update typedoc.electron.json
  typedoc.electron.json
Due: prettier --write

Update fix-mdx-typedoc.js
  scripts/fix-mdx-typedoc.js
Due: eslint --fix, prettier --write

Bump version to 8.3.0
  package.json
Due: prettier --write

📝 [docs] Remove Docusaurus documentation and example content
  docs/docusaurus/docs/api/globals.md
  docs/docusaurus/docs/api/index.md
  docs/docusaurus/docs/api/typedoc-sidebar.ts
  docs/docusaurus/docs/intro.md
  docs/docusaurus/docs/tutorial-basics/_category_.json
  docs/docusaurus/docs/tutorial-basics/congratulations.md
  docs/docusaurus/docs/tutorial-basics/create-a-blog-post.md
  docs/docusaurus/docs/tutorial-basics/create-a-document.md
  docs/docusaurus/docs/tutorial-basics/create-a-page.md
  docs/docusaurus/docs/tutorial-basics/deploy-your-site.md
  docs/docusaurus/docs/tutorial-basics/markdown-features.mdx
  docs/docusaurus/docs/tutorial-extras/_category_.json
  docs/docusaurus/docs/tutorial-extras/img/docsVersionDropdown.png
  docs/docusaurus/docs/tutorial-extras/img/localeDropdown.png
  docs/docusaurus/docs/tutorial-extras/manage-docs-versions.md
  docs/docusaurus/docs/tutorial-extras/translate-your-site.md
  package-lock.json
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Remove sample blog content and cleanup docs output
  docs/docusaurus/blog/2019-05-28-first-blog-post.md
  docs/docusaurus/blog/2019-05-29-long-blog-post.md
  docs/docusaurus/blog/2021-08-01-mdx-blog-post.mdx
  docs/docusaurus/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  docs/docusaurus/blog/2021-08-26-welcome/index.md
  docs/docusaurus/blog/authors.yml
  docs/docusaurus/blog/tags.yml
  docs/docusaurus/docusaurus.config.ts
  docs/tsdoc-errors.txt
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Enable pretty output for TypeDoc configs
  typedoc.electron.json
  typedoc.json
Due: prettier --write

📝 [docs] Add and update AI review reports and documentation
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  docs/Reviews/LC.AI.R-DataBackupService.md
  docs/Reviews/LC.AI.R-DataImportExportService.md
  docs/Reviews/LC.AI.R-StandardizedCache.md
  docs/Reviews/LC.AI.R-Summary-Report.md
  docs/Reviews/LC.AI.R-databaseInitializer.md
  docs/Reviews/LC.AI.R-historyLimitManager.md
Due: markdownlint --fix, prettier --write

📝 [docs] Add detailed AI review summaries and document fixes
  docs/Reviews/LC.AI.R-Additional-Summary.md
  docs/Reviews/LC.AI.R-DataBackupService-Additional.md
  docs/Reviews/LC.AI.R-DataImportExportService-Additional.md
  docs/Reviews/LC.AI.R-LintIssues.md
  docs/Reviews/LC.AI.R-SiteRepositoryService.md
  docs/Reviews/LC.AI.R-SiteWriterService.md
  docs/Reviews/LC.AI.R-StandardizedCache-Additional.md
  docs/Reviews/LC.AI.R-databaseInitializer-Additional.md
  docs/Reviews/LC.AI.R-historyLimitManager-Additional.md
  docs/Reviews/LC.AI.R-interfaces.md
  docs/Reviews/LC.AI.R-serviceFactory.md
  package.json
  scripts/fix-mdx-typedoc-local.js
  scripts/typedoc-local.json
  scripts/typedoc.electron-local.json
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Add detailed AI claim review docs and enhance code docs
  custom-words.txt
  docs/Reviews/LC.AI.R-FinalBatch-Summary.md
  docs/Reviews/LC.AI.R-MonitoringUtilities.md
  docs/Reviews/LC.AI.R-SiteWriterService-monitorLifecycle.md
  docs/Reviews/LC.AI.R-historyLimitManager-FinalBatch.md
  docs/Reviews/LC.AI.R-monitorLifecycle-FinalBatch.md
  docs/Reviews/LC.AI.R-serviceFactory-FinalBatch.md
  electron/constants.ts
  electron/services/database/DatabaseService.ts
  electron/services/window/WindowService.ts
  electron/utils/cache/StandardizedCache.ts
  electron/utils/database/DataBackupService.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/databaseInitializer.ts
  electron/utils/database/historyLimitManager.ts
  electron/utils/database/interfaces.ts
  electron/utils/database/serviceFactory.ts
  electron/utils/monitoring/monitorLifecycle.ts
  package.json
  src/components/common/HistoryChart.tsx
  src/hooks/site/useSiteAnalytics.ts
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Address AI review feedback and improve type safety
  docs/Reviews/LC.AI.R-OperationalUtilities.md
  docs/Reviews/LC.AI.R-ReactAppEntryPoints.md
  docs/Reviews/LC.AI.R-SharedUtilities.md
  docs/Reviews/LC.AI.R-TypeSafetyUtilities.md
  docs/Reviews/LC.AI.R-ValidationSystem.md
  electron/constants.ts
  electron/electronUtils.ts
  electron/events/LC.AI.R-SiteWriterService.md
  electron/services/database/utils/databaseBackup.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/utils/correlation.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/interfaces.ts
  electron/utils/logger.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  electron/utils/operationalHooks.ts
  electron/utils/retry.ts
  package-lock.json
  package.json
  shared/types.ts
  shared/utils/environment.ts
  shared/utils/errorHandling.ts
  shared/utils/jsonSafety.ts
  shared/utils/objectSafety.ts
  shared/utils/safeConversions.ts
  shared/utils/siteStatus.ts
  shared/utils/stringConversion.ts
  shared/utils/typeGuards.ts
  shared/utils/validation.ts
  shared/validation/schemas.ts
  src/App.tsx
  src/main.tsx
  tsconfig.json
Due: eslint --fix, markdownlint --fix, prettier --write

Bump version to 8.4.0
  package.json
Due: prettier --write

📝 [docs] Standardize TSDoc and clarify type safety, error handling, and UI docs
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
  docs/Reviews/LC.AI.R-AddSiteFormComponents.md
  docs/Reviews/LC.AI.R-FrontendInfrastructure.md
  docs/Reviews/LC.AI.R-SiteCard-Components.md
  docs/Reviews/LC.AI.R-SiteCard-Supporting-Components.md
  docs/Reviews/LC.AI.R-Submit-HistoryChart-MonitorUI.md
  electron/constants.ts
  electron/electronUtils.ts
  electron/main.ts
  shared/types/events.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/DynamicMonitorFields.tsx
  src/components/AddSiteForm/FormFields.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/Dashboard/SiteCard/SiteCardFooter.tsx
  src/components/Dashboard/SiteCard/SiteCardHeader.tsx
  src/components/Dashboard/SiteCard/SiteCardHistory.tsx
  src/components/Dashboard/SiteCard/SiteCardMetrics.tsx
  src/components/Dashboard/SiteCard/SiteCardStatus.tsx
  src/components/Dashboard/SiteCard/components/ActionButtonGroup.tsx
  src/components/Dashboard/SiteCard/components/MetricCard.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/Dashboard/SiteCard/index.tsx
  src/components/Dashboard/SiteList/EmptyState.tsx
  src/components/Dashboard/SiteList/index.tsx
  src/components/common/HistoryChart.tsx
  src/components/common/MonitorUiComponents.tsx
  src/components/common/StatusBadge.tsx
  src/constants.ts
  src/index.css
  src/main.tsx
  src/types.ts
Due: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

📝 [docs] Clarifies TSDoc improvement checklist instructions
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
Due: markdownlint --fix, prettier --write

📝 [docs] Improve documentation, accessibility, and code standards
  docs/Reviews/LC.AI.R-MultipleFiles.md
  docs/Reviews/LC.AI.R-SiteDetailsComponents.md
  electron/events/LC.AI.R-SiteWriterService.md
  electron/events/TypedEventBus.ts
  electron/events/eventTypes.ts
  electron/events/middleware.ts
  electron/managers/ConfigurationManager.ts
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/managers/validators/MonitorValidator.ts
  electron/managers/validators/SiteValidator.ts
  electron/managers/validators/interfaces.ts
  electron/services/application/ApplicationService.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/charts/ChartComponents.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/error/DefaultErrorFallback.tsx
  src/constants.ts
  src/stores/error/ErrorBoundary.tsx
  src/test/ErrorBoundary.test.tsx
Due: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

Bump version to 8.5.0
  package.json
Due: prettier --write

📝 [docs] Add and update low-confidence AI claim review docs, improve TSDoc standards
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
  docs/Reviews/LC.AI.R-AdditionalHooks.md
  docs/Reviews/LC.AI.R-MonitorUtilities.md
  docs/Reviews/LC.AI.R-MonitoringService.md
  docs/Reviews/LC.AI.R-ReactHooks.md
  docs/Reviews/LC.AI.R-ServicesStores.md
  docs/Reviews/LC.AI.R-SiteDetailsFormComponents.md
  docs/Reviews/LC.AI.R-SitesStore.md
  docs/Reviews/LC.AI.R-UtilityFiles.md
  docs/Reviews/LC.AI.R-UtilityHelpers.md
  docs/Reviews/LC.AI.R-UtilityHooks.md
  docs/TSDoc/TSDoc-Base-Tags.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/src/pages/docsearch-verify.html
  docs/docusaurus/tsconfig.json
  tsconfig.electron.json
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Remove redundant type from Electron link config
  docs/docusaurus/docusaurus.config.ts
Due: eslint --fix, prettier --write

📝 [docs] Rename docsearch verification page to markdown
  docs/docusaurus/src/pages/docsearch-verify.md
Due: markdownlint --fix, prettier --write

📝 [docs] Update Electron docs link to internal route
  docs/docusaurus/docusaurus.config.ts
Due: eslint --fix, prettier --write

📝 [docs] Add verification instructions for DocSearch
  docs/docusaurus/src/pages/docsearch-verify.md
Due: markdownlint --fix, prettier --write

📝 [docs] Add example for Algolia site verification meta tag
  docs/docusaurus/src/pages/docsearch-verify.md
Due: markdownlint --fix, prettier --write
