Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix"],
    "*.{css,scss}": ["stylelint --fix"],
    "*.md": ["markdownlint --fix"],
    "*.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}": ["prettier --write"]
}

🛠️ [fix] Enforce strict optional typing and improve prop handling
  electron/events.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/historyMapper.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/types.ts
  electron/utils/database/dataImportExport.ts
  electron/utils/database/siteRepository.ts
  src/components/AddSiteForm/FormFields.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/Dashboard/SiteCard/index.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/hooks/site/useSiteAnalytics.ts
  src/hooks/site/useSiteDetails.ts
  src/stores/error/ErrorBoundary.tsx
  src/theme/components.tsx
  src/types.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

🧪 [test] Improve robustness and edge coverage in tests
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/UptimeOrchestrator.manualChecks.test.ts
  electron/test/UptimeOrchestrator.monitoringControl.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/preload.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/types.test.ts
  electron/test/utils/monitoring/monitorStatusChecker.test.ts
  src/test/AddSiteForm.test.tsx
  src/test/ErrorBoundary.test.tsx
  src/test/HistoryTab.test.tsx
  src/test/MonitorSelector.test.tsx
  src/test/Settings.test.tsx
  src/test/SettingsTab.test.tsx
  src/test/SiteCardMetrics.test.tsx
  src/test/SiteDetails.test.tsx
  src/test/Submit.test.ts
  src/test/ThemeManager.test.ts
  src/test/constants.test.ts
  src/test/generateUuid.test.ts
  src/test/historyTabEdgeCases.test.tsx
  src/test/hooks/useSiteDetails.simple.test.ts
  src/test/hooks/useSiteDetails.test.ts
  src/test/settingsTabFormatDuration.test.tsx
  src/test/types.test.ts
  src/test/useSettingsStore.test.ts
  src/test/useSiteAnalytics.test.ts
  src/test/useSiteDetails.simple.test.ts
  src/test/useSiteMonitor.test.ts
  src/test/useSitesStore.test.ts
  src/test/utils.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Remove redundant and placeholder test files
  src/test/hooks/useSiteDetails.simple.test.ts
  src/test/hooks/useSiteDetails.test.ts
  src/test/storeEdgeCases.test.new.ts
  src/test/storeEdgeCases.test.ts
  src/test/useSiteDetails.test.simple.ts
Due: eslint --fix, prettier --write

🔧 [build] Update config to respect .gitignore and exclude node_modules
  .devskim.json
Due: prettier --write

✨ [feat] Add robust Electron API polling and form field tests
  .vscode/settings.json
  src/components/AddSiteForm/FormFields.test.tsx
  src/index.css
  src/stores/sites/useSitesStore.ts
  src/stores/updates/types.ts
  src/stores/updates/useUpdatesStore.ts
  src/stores/utils.ts
  src/theme/components.css
  tsconfig.json
Due: eslint --fix, stylelint --fix, prettier --write

🧪 [test] Add comprehensive unit tests and update test structure
  .lycheeignore
  .markdownlintignore
  codecov.yml
  custom-words.txt
  docs/STATUS_HANDLER_AND_PACKAGE_ANALYSIS.md
  package-lock.json
  package.json
  run-electron.sh
  src/test/index.test.ts
  src/test/useBackendFocusSync-2.test.ts
  src/test/useErrorStore.test.ts
  src/test/useSiteDetails.comprehensive.test.ts
  src/test/useSitesStore.test.ts
  src/test/useStatsStore.test.ts
  src/test/useUiStore.test.ts
  src/test/useUpdatesStore.test.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🧪 [test] Improve test strictness and mock usage; update deps
  electron/test/utils/utils.test.ts
  package-lock.json
  package.json
  src/test/useBackendFocusSync-2.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

🧪 [test] Remove redundant useSiteDetails hook test files
  src/test/useSiteDetails.simple.test.ts
  src/test/useSiteDetails.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Add comprehensive unit tests for untested logic
  .gitignore
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/Settings.coverage.test.tsx
  src/test/Settings.simple.coverage.test.tsx
  src/test/useSitesStore.coverage.test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

🚜 [refactor] Modularize sites store with service and utility layers
  src/stores/sites/services/MonitoringService.ts
  src/stores/sites/services/SiteService.ts
  src/stores/sites/services/index.ts
  src/stores/sites/useSitesStore.ts
  src/stores/sites/utils/fileDownload.ts
  src/stores/sites/utils/index.ts
  src/stores/sites/utils/monitorOperations.ts
  src/stores/sites/utils/statusUpdateHandler.ts
Due: eslint --fix, prettier --write

🧪 [test] Refactors test mocks and improves timer handling
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/Settings.coverage.test.tsx
  src/test/setup.ts
  src/test/stores/sites/MonitoringService.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/fileDownload.test.ts
  src/test/stores/sites/statusUpdateHandler.test.ts
  src/test/useSitesStore.coverage.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Remove redundant and barrel export tests for UI components
  src/test/FormFields.2.test.tsx
  src/test/index.common.test.ts
  src/test/index.sitecard.components.test.ts
  src/test/time.test.ts
Due: eslint --fix, prettier --write

🛠️ [fix] Allow monitor ID override and mock console error in tests
  src/stores/sites/utils/monitorOperations.test.ts
  src/stores/sites/utils/monitorOperations.ts
  src/test/stores/sites/fileDownload.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Expand file download and filename generation tests
  src/test/monitorOperations.test.ts
  src/test/stores/sites/fileDownload.test.ts
Due: eslint --fix, prettier --write

🎨 [style] Standardize quote usage and formatting in tests/docs
  docs/STATUS_HANDLER_AND_PACKAGE_ANALYSIS.md
  electron/test/utils/utils.test.ts
  src/test/App.test.tsx
  src/test/ErrorBoundary.test.tsx
  src/test/FormFields.2.test.tsx
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/Settings.coverage.test.tsx
  src/test/Settings.simple.coverage.test.tsx
  src/test/Settings.test.tsx
  src/test/finalCoverageAnalysis.test.tsx
  src/test/historyTabEdgeCases.test.tsx
  src/test/index.sitecard.components.test.ts
  src/test/store.test.ts
  src/test/storeLine190.test.ts
  src/test/stores/sites/MonitoringService.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/fileDownload.test.ts
  src/test/stores/sites/statusUpdateHandler.test.ts
  src/test/time.test.ts
  src/test/useBackendFocusSync.test.ts
  src/test/useErrorStore.test.ts
  src/test/useSettingsStore.test.ts
  src/test/useSiteActions.test.ts
  src/test/useSiteDetails.comprehensive.test.ts
  src/test/useSitesStore.coverage.test.ts
  src/test/useSitesStore.test.ts
  src/test/useStatsStore.test.ts
  src/test/useUiStore.test.ts
  src/test/useUpdatesStore.test.ts
  src/test/utils.test.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🧪 [test] Expand update store tests and improve mocks
  src/stores/updates/useUpdatesStore.ts
  src/test/useUpdatesStore.test.ts
Due: eslint --fix, prettier --write

Bump version to 4.6.0
  package.json
Due: prettier --write

🧪 [test] Improve test coverage and consistency in UI tests
  .gitignore
  src/services/logger.ts
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/ScreenshotThumbnail.portal-cleanup.test.tsx
  src/test/Settings.invalid-key-logging.test.tsx
  src/test/Settings.invalid-key.test.tsx
  src/test/StatusBadge.test.tsx
  src/test/useSiteDetails.uncovered.test.ts
  src/test/useSitesStore.comprehensive.test.ts
  src/test/useSitesStore.uncovered.test.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Modularize sites store into focused submodules
  src/components/AddSiteForm/Submit.tsx
  src/components/Settings/Settings.tsx
  src/hooks/site/useSiteActions.ts
  src/hooks/site/useSiteDetails.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/useSitesState.ts
  src/stores/sites/useSitesStore.refactored.ts
Due: eslint --fix, prettier --write

🧪 [test] Add comprehensive tests for refactored sites store
  src/test/HistoryChart.test.tsx
  src/test/ScreenshotThumbnail.portal-cleanup.test.tsx
  src/test/stores/sites/useSiteMonitoring.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.test.ts
  src/test/stores/sites/useSitesState.test.ts
  src/test/stores/sites/useSitesStore.edgeCases.test.ts
  src/test/stores/sites/useSitesStore.integration.test.ts
  src/test/useSiteActions.test.ts
  src/test/useSiteDetails.uncovered.test.ts
  src/test/useSitesStore.test.ts
  src/test/useSitesStore.uncovered.test.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Remove redundant refactored sites store implementation
  src/stores/sites/useSitesStore.refactored.ts
  src/stores/sites/useSitesStore.ts
Due: eslint --fix, prettier --write

📝 [docs] Add comprehensive docs for Sites Store refactor
  docs/SITES_STORE_REFACTOR_ANALYSIS.md
  docs/SITES_STORE_REFACTOR_SUMMARY.md
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.electron.json
  tsconfig.json
  vite.config.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🔧 [build] Update TypeScript settings and comment out MCP configs
  .vscode/settings.json
Due: prettier --write

🔧 [build] Add Electron ESLint config, improve test/cov setup
  eslint.config.mjs
  package-lock.json
  package.json
  src/services/chartConfig.ts
  src/stores/sites/useSitesStore.ts
  src/test/stores/sites/useSitesStore.getSites.test.ts
  tsconfig.electron.json
  tsconfig.json
  vitest.config.ts
  vitest.electron.config.ts
Due: eslint --fix, prettier --write

Bump version to 4.7.0
  package.json
Due: prettier --write

Update repo-stats.yml
  .github/workflows/repo-stats.yml
Due: prettier --write

✨ [feat] Expose site management actions and add new hooks
  electron/managers/index.ts
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/site/index.ts
  src/stores/index.ts
  src/utils/index.ts
Due: eslint --fix, prettier --write

Bump version to 4.8.0
  package.json
Due: prettier --write

🛠️ [fix] Prevents issues with mutated interval and key collections
  electron/services/monitoring/MonitorScheduler.ts
  electron/test/setup.ts
Due: eslint --fix, prettier --write

🧹 [chore] Expand ignore globs and enable MCP server configs
  .devskim.json
  .vscode/settings.json
Due: prettier --write

🚜 [refactor] Align history retention and iteration logic with UI and standards
  electron/managers/ConfigurationManager.ts
  electron/managers/validators/SiteValidator.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/utils/database/siteRepository.ts
  electron/utils/monitoring/monitorLifecycle.ts
  src/stores/sites/utils/statusUpdateHandler.ts
Due: eslint --fix, prettier --write

🧪 [test] Expand site hooks index tests and update mocks
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/services/monitoring/HttpMonitor.basic.test.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  electron/test/utils/database/dataBackup.test.ts
  electron/test/utils/database/historyLimitManager.test.ts
  electron/test/utils/monitoring/autoMonitorManager.test.ts
  electron/test/utils/monitoring/intervalManager.test.ts
  src/test/index.test.ts
Due: eslint --fix, prettier --write

🧪 [test] Improve coverage reporting and barrel export testing
  .markdownlintignore
  docs/COMPREHENSIVE_TEST_COVERAGE_ANALYSIS.md
  docs/COVERAGE_ANALYSIS_AND_RECOMMENDATIONS.md
  src/test/Settings.invalid-key-edge-case.test.tsx
  src/test/components/index.test.ts
  src/test/hooks/index.test.ts
  src/test/stores/sites/fileDownload.test.ts
  src/test/stores/sites/statusUpdateHandler.test.ts
  src/test/utils/index.test.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: eslint --fix, markdownlint --fix, prettier --write

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/codecov-alternative.yml
  .github/workflows/codecov.yml
  .github/workflows/sonarcloud.yml
Due: prettier --write

🚜 [refactor] Redesign site data logic for testability & clarity
  REFACTORING_SUMMARY.md
  electron/test/utils/database/SiteRepositoryService.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/index.ts
  electron/utils/database/interfaces.ts
  electron/utils/database/repositoryAdapters.ts
  electron/utils/database/serviceFactory.ts
  electron/utils/database/siteRepository.ts
  electron/utils/database/siteWriter.ts
  src/stores/settings/types.ts
  src/stores/settings/useSettingsStore.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/stats/useStatsStore.ts
  src/stores/updates/useUpdatesStore.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🧪 [test] Update store action logging tests with detailed payloads
  src/stores/settings/useSettingsStore.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/test/stores/sites/useSiteOperations.test.ts
  src/test/stores/sites/useSiteSync.test.ts
  src/test/useUpdatesStore.test.ts
Due: eslint --fix, prettier --write

Bump version to 4.9.0
  package.json
Due: prettier --write

chore: format code with Prettier [skip-ci]
  REFACTORING_SUMMARY.md
  docs/COMPREHENSIVE_TEST_COVERAGE_ANALYSIS.md
  docs/COVERAGE_ANALYSIS_AND_RECOMMENDATIONS.md
Due: markdownlint --fix, prettier --write

📝 [docs] Add comprehensive architecture and analysis docs
  .github/instructions/copilot-instructions copy.md
  .markdownlintignore
  docs/AI_CONTEXT_INSTRUCTIONS.md
  docs/DATA_FLOW_ARCHITECTURE.md
  docs/PROJECT_ANALYSIS_SUMMARY.md
Due: markdownlint --fix, prettier --write

🧪 [test] Achieve 99.5%+ test coverage and document untestable code
  .github/workflows/Build.yml
  .github/workflows/repo-stats.yml
  README.md
  docs/NAMING_STRUCTURE_ANALYSIS.md
  docs/TASK_COMPLETION_SUMMARY.md
  docs/TEST_COVERAGE_ACHIEVEMENT_SUMMARY.md
  docs/TEST_COVERAGE_FINAL_SUMMARY.md
  docs/UNTESTABLE_CODE_DOCUMENTATION.md
  docs/index.md
  scripts/setup-metrics-branch.ps1
  src/test/additional-coverage.test.ts
  src/test/additional-uncovered-lines-fixed.test.ts
  src/test/additional-uncovered-lines.test.ts
  src/test/coverage-completion.test.tsx
  src/test/final-coverage-tests.test.tsx
  src/test/remaining-uncovered-lines.test.tsx
  src/test/theme-uncovered-lines.test.tsx
Due: eslint --fix, markdownlint --fix, prettier --write
