Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

.lintstagedrc.json:

{
    "$schema": "https://www.schemastore.org/lintstagedrc.schema.json",
    "*.md": [
        "markdownlint --fix --cache"
    ],
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix --cache --max-warnings=0",
        "prettier --write --cache"
    ],
    "*.{css,scss}": [
        "stylelint --fix --cache",
        "prettier --write --cache"
    ],
    "*.{json,yaml,yml}": [
        "prettier --write --cache"
    ]
}

🛠️ [fix] Guard doc frontmatter validator entrypoint
  scripts/validate-doc-frontmatter.mjs
Due: none

🛠️ [fix] Guard architecture checker entrypoint
  scripts/architecture-static-guards.mjs
Due: none

🛠️ [fix] Guard docs check entrypoints
  scripts/check-custom-eslint-rule-docs.mjs
  scripts/check-release-metadata.mjs
Due: none

🛠️ [fix] Guard empty-directory finder entrypoint
  scripts/find-empty-dirs.mjs
Due: none

🛠️ [fix] Guard CSpell word manager exits
  scripts/add-cspell-words.mjs
Due: none

🛠️ [fix] Guard frontmatter sorter exits
  scripts/sort-frontmatter-all.mjs
  scripts/sort-frontmatter.mjs
Due: none

🛠️ [fix] Guard documentation script exits
  scripts/analyze-docs.mjs
  scripts/maintain-docs.mjs
Due: none

🛠️ [fix] Guard circular dependency checker
  scripts/check-circular-dependencies.mjs
Due: none

🛠️ [fix] Guard generated docs cleaner
  scripts/clean-generated-docs.mjs
Due: none

🛠️ [fix] Guard TypeDoc wrapper entrypoint
  scripts/run-typedoc-safe.mjs
Due: none

🛠️ [fix] Guard Playwright codegen entrypoint
  scripts/codegen.mjs
Due: none

🚜 [refactor] Guard tooling wrapper entrypoints
  scripts/lint-actionlint.mjs
  scripts/transform-test.mjs
  scripts/verify-sqlite3-wasm.mjs
Due: none

🚜 [refactor] Guard test helper entrypoints
  scripts/enhance-test-metadata.mjs
  scripts/fix-test-quotes.mjs
Due: none

🚜 [refactor] Guard analysis helper entrypoints
  scripts/convert-pascal-to-camel.mjs
  scripts/extract-test-names.mjs
  scripts/find-shared-imports.mjs
Due: none

🚜 [refactor] Guard branch cleanup helpers
  scripts/delete-merged-branches.mjs
  scripts/migrate-to-mts-simple.mjs
Due: none

🚜 [refactor] Guard SQLite WASM downloader exits
  scripts/download-sqlite3-wasm.mjs
Due: none

🚜 [refactor] Guard docs downloader entrypoint
  scripts/download-docs-template.mjs
Due: none

🚜 [refactor] Guard zero coverage detector exit
  scripts/detect-zero-coverage-tests.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Guard TypeScript tooling entrypoints
  scripts/report-playwright-coverage.ts
  scripts/run-fast-check-fuzzing.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Use node protocol for downloader imports
  scripts/download-docs-template.mjs
  scripts/download-sqlite3-wasm.mjs
  scripts/verify-sqlite3-wasm.mjs
Due: none

🚜 [refactor] Simplify browser download click handling
  src/stores/sites/utils/fileDownload.ts
  src/test/utils/fileDownload.test.ts
  src/utils/downloads/browserFileDownload.ts
  src/utils/monitoring/dataValidation.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Restore mutated environment variables safely
  electron/test/additionalCoverage.test.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
  electron/test/targeted-coverage.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Align database row fixtures with runtime validation
  electron/test/services/database/utils/historyMapper.test.ts
  electron/test/services/database/utils/typedQueries.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Sort developer quick start frontmatter
  docs/Guides/DEVELOPER_QUICK_START.md
Due: markdownlint --fix --cache

👷 [ci] Fix Codecov YAML validation
  .codecov.yml
Due: prettier --write --cache

🧹 [chore] Remove stale Knip ignore exceptions
  config/tools/knip.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Deduplicate monitor toggle operations
  electron/services/monitoring/enhancedMonitorChecker/toggleMonitoring.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Remove broken complexity lint tooling
  docs/InteractiveCharts/engineering-tooling.md
  package-lock.json
  package.json
Due: markdownlint --fix --cache, prettier --write --cache

🚜 [refactor] Deduplicate site sync delta appends
  src/stores/sites/utils/stateSyncEventHandler.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Share safe DOM listener setup
  src/app/sidebar/useCompactSidebarAutoDismiss.ts
  src/hooks/ui/useOverflowMarquee.ts
  src/hooks/useBackendFocusSync.ts
  src/utils/dom/eventListeners.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Share event payload data-property cloning
  electron/events/utils/typedEventPayloadUtils.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Share OAuth callback error handling
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Share backend history-limit loading
  src/stores/settings/operations.ts
  src/test/useSettingsStore.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Share service boolean response validation
  src/services/MonitoringService.ts
  src/services/SiteService.ts
  src/services/utils/validation.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Share ASCII string helpers
  electron/services/cloud/internal/cloudServiceSettings.ts
  electron/services/cloud/providers/dropbox/dropboxRetry.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/services/sync/syncEngineUtils.ts
  shared/test/utils/ascii.test.ts
  shared/utils/ascii.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Share cloud account label normalization
  electron/services/cloud/cloudAccountLabel.ts
  electron/services/cloud/internal/CloudStatusBuilders.ts
  electron/services/cloud/providers/googleDrive/fetchGoogleAccountLabel.ts
  electron/test/services/cloud/cloudAccountLabel.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Reuse shared backup listing concurrency
  electron/services/cloud/providers/cloudBackupListing.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Share persisted device ID schema
  shared/types/cloudSync.ts
  shared/validation/cloudSchemas.ts
  shared/validation/persistedDeviceIdValidation.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Share Windows filename reservation checks
  electron/services/database/dataBackupService/sanitizeBackupFileName.ts
  shared/test/utils/fileNameSafety.test.ts
  shared/utils/fileNameSafety.ts
  src/stores/sites/utils/fileDownload.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Share defensive document querying
  src/components/common/Modal/modalStack.ts
  src/test/utils/dom/queryGlobalDocumentSelector.test.ts
  src/utils/dom/queryGlobalDocumentSelector.ts
  src/utils/dom/scrollToSiteCard.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache
