Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

🔧 [build] Update dev dependencies and adjust lint scripts
  package-lock.json
  package.json
Due: prettier --write

Bump version to 9.3.0
  package.json
Due: prettier --write

📝 [docs] Enhance and standardize code documentation across codebase
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
  electron/events/TypedEventBus.ts
  electron/events/eventTypes.ts
  electron/events/middleware.ts
  electron/managers/ConfigurationManager.ts
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/managers/validators/MonitorValidator.ts
  electron/managers/validators/interfaces.ts
  electron/services/ServiceContainer.ts
  electron/services/application/ApplicationService.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/database/utils/databaseBackup.ts
  electron/services/database/utils/databaseSchema.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/database/utils/historyMapper.ts
  electron/services/database/utils/historyQuery.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/factories/DatabaseServiceFactory.ts
  electron/services/ipc/IpcService.ts
  electron/services/ipc/index.ts
  electron/services/ipc/validators.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/constants.ts
  electron/services/monitoring/utils/httpStatusUtils.ts
  electron/services/site/SiteService.ts
  shared/types.ts
  shared/types/database.ts
  shared/types/monitorTypes.ts
  shared/utils/siteStatus.ts
  shared/utils/stringConversion.ts
  shared/utils/validation.ts
  shared/validation/schemas.ts
  src/stores/error/ErrorBoundary.tsx
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Update reviews and docs for SOLID refactor & v9.3.0
  .github/prompts/Review-File.prompt.md
  .prettierignore
  CHANGELOG.md
  docs/Reviews/COMPREHENSIVE_REVIEW_SUMMARY.md
  docs/Reviews/DB_Utils_Services_Summary.md
  docs/Reviews/FINAL_IMPLEMENTATION_COMPLETE.md
  docs/Reviews/FINAL_SUMMARY_COMPLETE.md
  docs/Reviews/FR.ConfigurationManager.md
  docs/Reviews/FR.DatabaseManager.md
  docs/Reviews/FR.HttpMonitor.md
  docs/Reviews/FR.MigrationSystem.md
  docs/Reviews/FR.MonitorFactory.md
  docs/Reviews/FR.MonitorManager.md
  docs/Reviews/FR.MonitorScheduler.md
  docs/Reviews/FR.PortMonitor.md
  docs/Reviews/FR.SiteManager.md
  docs/Reviews/FR.UptimeOrchestrator.md
  docs/Reviews/FR.databaseBackup.md
  docs/Reviews/FR.databaseSchema.md
  docs/Reviews/FR.monitorTypes.md
  docs/Reviews/FR.preload.md
  docs/Reviews/FR.types.md
  docs/Reviews/IMPLEMENTATION_SUMMARY.md
  docs/Reviews/SOLID_Compliance_Summary_Managers.md
  docs/Reviews/TypeScript_Error_Fixes_Summary.md
  docs/docusaurus/docs/app/shared/validation/schemas/variables/baseMonitorSchema.md
  docs/docusaurus/docs/app/shared/validation/schemas/variables/monitorSchemas.md
  docs/docusaurus/docs/electron/shared/validation/schemas/variables/baseMonitorSchema.md
  docs/docusaurus/docs/electron/shared/validation/schemas/variables/monitorSchemas.md
  package.json
  scripts/typedoc-local.json
  scripts/typedoc.electron-local.json
Due: markdownlint --fix, prettier --write

🎨 [style] Remove unnecessary blank lines in test suites
  electron/test/managers/DatabaseManager.test.ts
Due: eslint --fix, prettier --write

🔧 [build] Add styled TypeScript plugin and update TypeScript libs
  package-lock.json
  package.json
  tsconfig.electron.json
  tsconfig.json
Due: prettier --write

🧪 [test] Add comprehensive unit tests for store, theme, and status utilities
  electron/test/main.comprehensive.test.ts
  shared/test/utils/siteStatus.comprehensive.test.ts
  src/constants.ts
  src/test/ThemeManager.test.ts
  src/test/stores/sites/useSiteOperations.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/theme/ThemeManager.comprehensive.test.ts
  src/test/utils/siteStatus.comprehensive.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

🔧 [build] Add Docusaurus package config for documentation site
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
Due: prettier --write

🚜 [refactor] Centralize SQL queries and harden theme/style logic
  custom-words.txt
  electron/services/database/DatabaseService.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/utils/databaseSchema.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/database/utils/historyQuery.ts
  electron/utils/database/SiteWriterService.ts
  src/hooks/useThemeStyles.ts
  src/stores/sites/useSiteOperations.ts
  src/theme/ThemeManager.ts
  src/utils/cacheSync.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: eslint --fix, prettier --write

🧹 [chore] Define log file name constant for maintainability
  electron/main.ts
Due: eslint --fix, prettier --write

🧪 [test] Add comprehensive frontend and backend test suites
  electron/test/events/TypedEventBus.comprehensive.test.ts
  electron/test/events/eventTypes.comprehensive.test.ts
  electron/test/events/middleware.comprehensive.test.ts
  electron/test/main.comprehensive.test.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  src/test/hooks/useBackendFocusSync.test.ts
  src/test/hooks/useDynamicHelpText.test.ts
  src/test/hooks/useMonitorFields.test.ts
  src/test/hooks/useMonitorTypes.test.ts
  src/test/hooks/useSelectedSite.test.ts
  src/test/hooks/useThemeStyles.test.ts
  src/test/stores/sites/useSiteOperations.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/utils/cache.test.ts
  src/test/utils/cacheSync.test.ts
  src/test/utils/chartUtils.test.ts
  src/test/utils/duration.test.ts
  src/test/utils/errorHandling.test.ts
  src/test/utils/fallbacks.test.ts
  src/test/utils/monitorTitleFormatters.test.ts
  src/test/utils/monitorTypeHelper.test.ts
  src/test/utils/monitorUiHelpers.test.ts
  src/test/utils/monitorValidation.test.ts
  src/test/utils/monitoring/dataValidation.test.ts
  src/test/utils/status.test.ts
  src/test/utils/time.test.ts
  src/test/utils/timeoutUtils.test.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Centralize and clarify logging config constants
  electron/main.ts
Due: eslint --fix, prettier --write

🧪 [test] Expand and refine comprehensive and edge case test coverage
  electron/test/events/TypedEventBus.comprehensive.test.ts
  electron/test/events/eventTypes.comprehensive.test.ts
  electron/test/events/middleware.comprehensive.test.ts
  electron/test/managers/DatabaseManager.comprehensive.fixed.test.ts
  electron/test/managers/DatabaseManager.comprehensive.fixed.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/utils/cache/StandardizedCache.comprehensive.test.ts
  src/test/App.test.tsx
  src/test/shared/utils/errorHandling.test.ts
  src/test/stores/shared/utils.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/utils/siteStatus.test.ts
Due: eslint --fix, prettier --write

🛠️ [fix] Unify test config handling and improve JSON linting
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
  postcss.config.js
  tsconfig.electron.test.json
  tsconfig.json
  tsconfig.test.json
  vite.config.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: eslint --fix, prettier --write

🎨 [style] Improve code readability and test robustness
  electron/test/UptimeOrchestrator.test.ts
  electron/test/additionalCoverage.test.ts
  electron/test/constants.test.ts
  electron/test/correlationUtils.test.ts
  electron/test/events/TypedEventBus.comprehensive.test.ts
  electron/test/events/eventTypes.comprehensive.test.ts
  electron/test/hooks/correlationUtils.test.ts
  electron/test/main.comprehensive.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/monitoringTypes.test.ts
  electron/test/patterns/console-remediation.test.ts
  electron/test/services/ServiceContainer.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/utils/valueConverters.test.ts
  electron/test/services/ipc/standardization.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/monitorTypes.test.ts
  electron/test/services/monitoring/types.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  electron/test/services/monitoring/utils/httpStatusUtils.test.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
  electron/test/setup.ts
  electron/test/types.test.ts
  electron/test/utils/cache/StandardizedCache.comprehensive.test.ts
  electron/test/utils/correlation.test.ts
  electron/test/utils/database/historyLimitManager.test.ts
  electron/test/utils/interfaces.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
  electron/test/utils/retry.test.ts
  electron/test/utils/utils.test.ts
  eslint.config.mjs
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/utils/siteStatus.test.ts
Due: eslint --fix, prettier --write

Bump version to 9.4.0
  package.json
Due: prettier --write

🔧 [build] Add type-check scripts for test environments
  package.json
Due: prettier --write

🔧 [build] Update lint configs, dependencies, and cleanup TODOs
  TODO.txt
  commitlint.config.js
  eslint.config.mjs
  package-lock.json
  package.json
  postcss.config.js
  stylelint.config.js
  tsconfig.electron.test.json
  tsconfig.test.json
Due: eslint --fix, prettier --write

🛠️ [fix] Improve safety and logging config, return validation metadata
  electron/events/middleware.ts
  src/components/Header/Header.tsx
  src/services/logger.ts
  src/stores/sites/utils/fileDownload.ts
  src/theme/useTheme.ts
  src/utils/monitorValidation.ts
Due: eslint --fix, prettier --write

Bump version to 9.5.0
  package.json
Due: prettier --write

✨ [feat] Add Ping monitor type with validation and UI support
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/PingMonitor.ts
  electron/services/monitoring/utils/pingErrorHandling.ts
  electron/services/monitoring/utils/pingRetry.ts
  shared/types.ts
  shared/validation/schemas.ts
  src/components/AddSiteForm/Submit.tsx
  src/types/monitor-forms.ts
  src/types/monitorFormData.ts
  src/utils/fallbacks.ts
Due: eslint --fix, prettier --write

🔧 [build] Add ping library and types to dependencies
  package-lock.json
  package.json
Due: prettier --write

📝 [docs] Add comprehensive Axios documentation package
  docs/Packages/Axios/Axios-Download-Log.md
  docs/Packages/Axios/Axios-Hashes.json
  docs/Packages/Axios/Axios-api-intro.md
  docs/Packages/Axios/Axios-cancellation.md
  docs/Packages/Axios/Axios-config-defaults.md
  docs/Packages/Axios/Axios-example.md
  docs/Packages/Axios/Axios-handling-errors.md
  docs/Packages/Axios/Axios-instance.md
  docs/Packages/Axios/Axios-interceptors.md
  docs/Packages/Axios/Axios-intro.md
  docs/Packages/Axios/Axios-multipart.md
  docs/Packages/Axios/Axios-notes.md
  docs/Packages/Axios/Axios-post-example.md
  docs/Packages/Axios/Axios-req-config.md
  docs/Packages/Axios/Axios-res-schema.md
  docs/Packages/Axios/Axios-urlencoded.md
Due: markdownlint --fix, prettier --write

✨ [feat] Add universal doc downloader scripts with logging
  scripts/download-axios-docs.js
  scripts/download-docs-template.js
Due: eslint --fix, prettier --write

📝 [docs] Add usage documentation for node-ping package
  docs/Packages/Node-Ping.md
Due: markdownlint --fix, prettier --write

🧪 [test] Add branch and edge case tests to achieve 98%+ coverage
  electron/test/managers/DatabaseManager.comprehensive.fixed.test.ts
  electron/test/managers/DatabaseManager.comprehensive.fixed.ts
  electron/test/managers/validators/SiteValidator.comprehensive.test.ts
  electron/test/services/monitoring/PingMonitor.test.ts
  electron/test/services/monitoring/monitorTypes.test.ts
  electron/test/services/monitoring/utils/pingErrorHandling.test.ts
  electron/test/services/monitoring/utils/pingRetry.test.ts
  shared/test/utils/jsonSafety.comprehensive.test.ts
  shared/test/utils/objectSafety.comprehensive.test.ts
  shared/test/utils/stringConversion.comprehensive.test.ts
  shared/test/utils/typeGuards.comprehensive.test.ts
  shared/test/validation/schemas.branch-coverage.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/schemas.final-coverage.test.ts
  shared/validation/schemas.test.ts
  src/test/additional-uncovered-lines-fixed.test.ts
  src/test/components/Dashboard/SiteList/EmptyState.comprehensive.test.tsx
  src/test/main.test.tsx
  src/test/theme/ThemeManager.branch-coverage.test.ts
  src/test/theme/components.additional-coverage.test.tsx
  src/test/theme/components.maximal-coverage.test.tsx
  src/test/utils/siteStatus.direct.test.ts
Due: eslint --fix, prettier --write

📝 [docs] Update docs sync script for new package structure
  eslint.config.mjs
  scripts/download-docs-template.js
Due: eslint --fix, prettier --write

📝 [docs] Replace monitor type implementation guide with Node-Ping docs sync and examples
  docs/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Packages/Node-Ping/Node-Ping-Download-Log.md
  docs/Packages/Node-Ping/Node-Ping-Hashes.json
  docs/Packages/Node-Ping/README.md
  docs/Packages/Node-Ping/examples/example.md
  docs/Packages/Node-Ping/examples/example2.md
  docs/Packages/Node-Ping/examples/example_win_de_v6.md
  scripts/download-NodePing-docs.js
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Add ValidatorJS package documentation sync support
  docs/Packages/ValidatorJS/README.md
  docs/Packages/ValidatorJS/ValidatorJS-Download-Log.md
  docs/Packages/ValidatorJS/ValidatorJS-Hashes.json
  scripts/download-validator-docs.js
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Add Node-Sqlite3 and WASM doc sync scripts and imported docs
  docs/Packages/Node-Sqlite3-WASM/Node-Sqlite3-WASM-Download-Log.md
  docs/Packages/Node-Sqlite3-WASM/Node-Sqlite3-WASM-Hashes.json
  docs/Packages/Node-Sqlite3-WASM/README.md
  docs/Packages/Node-Sqlite3/API.md
  docs/Packages/Node-Sqlite3/Binaries.md
  docs/Packages/Node-Sqlite3/Caching.md
  docs/Packages/Node-Sqlite3/Control_Flow.md
  docs/Packages/Node-Sqlite3/Debugging.md
  docs/Packages/Node-Sqlite3/Node-Sqlite3-Download-Log.md
  docs/Packages/Node-Sqlite3/Node-Sqlite3-Hashes.json
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/download-nodeSqlite3-docs.js
  scripts/download-nodeSqlite3Wasm-docs.js
  shared/test/utils/stringConversion.comprehensive.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
Due: eslint --fix, markdownlint --fix, prettier --write

Bump version to 9.6.0
  package.json
Due: prettier --write

🎨 [style] Adjust ESLint directive placement for clarity
  electron/events/middleware.ts
  src/stores/sites/utils/fileDownload.ts
  src/theme/useTheme.ts
Due: eslint --fix, prettier --write

🧪 [test] Achieve 98%+ branch coverage across core modules
  electron/test/coverage-boosters/switch-defaults.test.ts
  electron/test/coverage-boosters/validation-edge-cases.test.ts
  electron/test/electronUtils.branch-coverage.test.ts
  electron/test/high-impact-coverage.test.ts
  electron/test/main.missing-branches.test.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/services.missing-branches.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/monitoring/PingMonitor.test.ts
  electron/test/targeted-coverage.test.ts
  electron/test/utilities.missing-branches.test.ts
  electron/test/utils/interfaces.branch-coverage.test.ts
  electron/test/utils/operationalHooks.branch-coverage.test.ts
  shared/validation/schemas.test.ts
  src/test/components/Settings/Settings.comprehensive.test.tsx
  src/test/components/Settings/Settings.test.tsx
  src/test/shared/utils/errorHandling.comprehensive.test.ts
  src/test/stores/error/useErrorStore.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/sites/useSiteMonitoring.comprehensive.test.ts
  src/test/stores/sites/useSiteMonitoring.test.ts.disabled
  src/test/stores/sites/utils/statusUpdateHandler.test.ts
  src/test/stores/ui/useUiStore.test.ts
  src/test/stores/utils.test.ts
  src/test/theme/components.additional-coverage.test.tsx
  src/test/theme/components.maximal-coverage.test.tsx
  src/test/theme/components.minimal.test.tsx
  src/test/theme/useTheme.comprehensive.test.ts
Due: eslint --fix, prettier --write

🔧 [build] Enhance ESLint TypeScript resolver and update test bail config
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  eslint.config.mjs
  package-lock.json
  package.json
Due: markdownlint --fix, prettier --write

🛠️ [fix] Work around ESLint plugin iterator bug
  electron/utils/cache/StandardizedCache.ts
Due: eslint --fix, prettier --write

🔧 [build] Update ESLint config and dependencies for broader linting
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  markdownlint --fix: any of: *.md
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}
