Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

.lintstagedrc.json:

{
    "$schema": "https://www.schemastore.org/lintstagedrc.schema.json",
    "*.md": [
        "markdownlint --fix --cache"
    ],
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix --cache --max-warnings=0",
        "prettier --write --cache"
    ],
    "*.{css,scss}": [
        "stylelint --fix --cache",
        "prettier --write --cache"
    ],
    "*.{json,yaml,yml}": [
        "prettier --write --cache"
    ]
}

📝 [docs] Update guidelines across multiple folders and files
  .github/Assets-Folder.instructions.md
  .github/Benchmarks-Folder.instructions.md
  .github/CSS.instructions.md
  .github/Config-Folder.instructions.md
  .github/Docs-Folder.instructions.md
  .github/Docusaurus-Folder.instructions.md
  .github/Electron-Folder.instructions.md
  .github/Electron-Preload-Folder.instructions.md
  .github/JSON.instructions.md
  .github/MJS.instructions.md
  .github/Markdown.instructions.md
  .github/Playwright-Folder.instructions.md
  .github/Playwright-Typescript.instructions.md
  .github/Powershell.instructions.md
  .github/Public-Folder.instructions.md
  .github/ReactJS.instructions.md
  .github/Scripts-Folder.instructions.md
  .github/Shared-Folder.instructions.md
  .github/Src-Folder.instructions.md
  .github/Storybook-Folder.instructions.md
  .github/Storybook.instructions.md
  .github/Tests-Folder.instructions.md
  .github/Typescript_5.instructions.md
  .github/YAML.instructions.md
  .github/copilot-instructions.short.md
  docs/Guides/SITES_STORE_MUTATION_AND_SYNC_GUIDE.md
Due: markdownlint --fix --cache

Bump version to 18.8.0
  package.json
Due: prettier --write --cache

🔧 [build] Update ESLint configuration to include additional ignore patterns - Added "public/mockServiceWorker.js" and "storybook/test-runner-jest.config.js" to global ignore patterns
  .remarkrc.mjs
  docs/Guides/DEVTOOLS_SNIPPETS.md
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  docs/docusaurus/src/pages/error-handling.mdx
  docs/docusaurus/src/pages/event-system.mdx
  docs/docusaurus/src/pages/ipc-communication.mdx
  docs/docusaurus/src/pages/service-container.mdx
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  eslint.config.mjs
  public/mockServiceWorker.js
  shared/test/arbitraries/siteArbitraries.ts
  shared/test/utils/siteStatus-missing-coverage.test.ts
  src/test/components/SiteDetails/ScreenshotThumbnail.arithmetic-mutations.test.tsx
  src/test/components/SiteDetails/SiteDetails.comprehensive.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.additional-coverage.test.tsx
  src/test/components/SiteDetails/SiteDetailsNavigation.comprehensive.test.tsx
  src/test/utils/mockFactories.ts
  storybook/test-runner-jest.config.js
  test-runner-jest.config.js
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 18.9.0
  package.json
Due: prettier --write --cache

Bump version to 19.0.0
  package.json
Due: prettier --write --cache

Bump version to 19.1.0
  package.json
Due: prettier --write --cache

🔧 [build] Enhance BeastMode agent prompts for thorough task completion
  .github/agents/BeastMode.agent.md
Due: markdownlint --fix --cache

📝 [docs] Update ADR-011 and ADR-013 documentation
  docs/Architecture/ADRs/ADR_011_SCHEDULER_AND_BACKOFF.md
  docs/Architecture/ADRs/ADR_013_DATA_PORTABILITY_AND_BACKUP.md
  docs/Guides/API_DOCUMENTATION.md
Due: markdownlint --fix --cache

🔧 [build] Update dependencies and configuration
  .prettierrc
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  electron/services/window/WindowService.ts
  package-lock.json
  package.json
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Enhance various components and documentation
  .github/agents/BeastMode.agent.md
  config/tools/knip.config.ts
  docs/TSDoc/stores/sites.md
  package.json
  shared/test/utils/safeConversions.test.ts
  shared/types/ipc.ts
  shared/utils/environment.ts
  shared/utils/typeGuards.ts
  shared/validation/dataSchemas.ts
  shared/validation/validatorUtils.ts
  src/services/DataService.ts
  src/services/NotificationPreferenceService.ts
  src/test/utils/createMonitorTypeConfig.ts
  src/test/utils/monitorValidation.error-handling.test.ts
  src/test/utils/monitorValidation.test.ts
  src/types/monitor-forms.ts
  src/types/monitorFormData.ts
  src/utils/monitorValidation.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 19.2.0
  package.json
Due: prettier --write --cache

🔧 [build] Update linting configurations for improved analysis
  package.json
  sonar-project.properties
Due: prettier --write --cache

🔧 [build] Update Build.yml to refine path ignore rules
  .github/workflows/Build.yml
Due: prettier --write --cache

Bump version to 19.3.0
  package.json
Due: prettier --write --cache

Bump version to 19.4.0
  package.json
Due: prettier --write --cache

Update Build.yml
  .github/workflows/Build.yml
Due: prettier --write --cache

Bump version to 19.5.0
  package.json
Due: prettier --write --cache

🔧 [build] Update monitoring services and validation logic
  .github/workflows/Build.yml
  electron/events/eventTypes.ts
  electron/preload/domains/eventsApi.ts
  electron/services/database/utils/siteMapper.ts
  electron/services/database/utils/typedQueries.ts
  electron/services/ipc/handlers/diagnosticsHandlers.ts
  electron/services/monitoring/HttpHeaderMonitor.ts
  electron/services/monitoring/HttpJsonMonitor.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/utils/pingRetry.ts
  shared/utils/abortUtils.ts
  shared/validation/monitorStatusEvents.ts
  sonar-project.properties
  src/components/Alerts/StatusAlertToast.tsx
  src/hooks/site/useSiteDetails.ts
  src/services/DataService.ts
  src/services/EventsService.ts
  src/services/MonitorTypesService.ts
  src/services/NotificationPreferenceService.ts
  src/services/SettingsService.ts
  src/services/utils/validation.ts
  src/stores/settings/hydration.ts
  src/test/components/Dashboard/SiteCard/SiteCardMonitorList.test.tsx
  src/test/services/NotificationPreferenceService.comprehensive.test.ts
  src/test/theme/useTheme.comprehensive.test.ts
  src/theme/ThemeManager.ts
  src/utils/timeoutUtils.ts
  tests/strictTests/electron/services/monitoring/utils/pingRetry.test.ts
  tests/strictTests/src/services/NotificationPreferenceService.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔧 [build] Update dependencies in package.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: prettier --write --cache

Bump version to 19.6.0
  package.json
Due: prettier --write --cache

🔧 [build] Update GitHub Actions workflow and package dependencies
  .github/workflows/Build.yml
  package-lock.json
  package.json
Due: prettier --write --cache

🔧 [build] Update npm install command in CI workflow
  .github/workflows/Build.yml
Due: prettier --write --cache

🚜 [refactor] Centralize IPC logic and error handling
  electron/preload/core/bridgeFactory.ts
  shared/utils/ipcResponse.ts
  src/components/Settings/Settings.tsx
  src/services/AppNotificationService.ts
  src/services/CloudService.ts
  src/services/DataService.ts
  src/services/EventsService.ts
  src/services/MonitorTypesService.ts
  src/services/MonitoringService.ts
  src/services/NotificationPreferenceService.ts
  src/services/SettingsService.ts
  src/services/SiteService.ts
  src/services/StateSyncService.ts
  src/services/SystemService.ts
  src/stores/cloud/useCloudStore.ts
  src/stores/settings/operations.ts
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/utils/fileDownload.ts
  src/stores/sites/utils/monitorOperations.ts
  src/stores/sites/utils/operationHelpers.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/sites/utils/statusUpdateMerge.ts
  src/test/services/ipcServiceHelpers.initFailures.coverage.test.ts
  src/types/ipc.ts
  src/utils/userFacingErrors.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Centralize and standardize user-facing error handling
  .gitignore
  electron/managers/DatabaseManager.ts
  electron/preload/core/bridgeFactory.ts
  electron/services/ServiceContainer.ts
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/services/cloud/providers/dropbox/DropboxAuthFlow.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/database/SiteRepository.ts
  electron/services/ipc/utils.ts
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/SslMonitor.ts
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/services/monitoring/utils/pingRetry.ts
  electron/services/monitoring/utils/portRetry.ts
  electron/services/sync/SyncEngine.ts
  electron/services/updater/AutoUpdaterService.ts
  electron/services/window/WindowService.ts
  electron/test/services/ServiceContainer.mocked.test.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/operationalHooks.ts
  shared/utils/errorHandling.ts
  shared/utils/userFacingErrors.ts
  shared/validation/monitorFieldSchemas.ts
  shared/validation/siteFieldSchemas.ts
  shared/validation/stringSchemas.ts
  src/components/Settings/Settings.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.tsx
  src/stores/cloud/useCloudStore.ts
  src/stores/error/useErrorStore.ts
  src/stores/settings/operations.ts
  src/stores/sites/utils/fileDownload.ts
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.fixed.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.new.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.comprehensive.test.tsx
  src/test/main.fixed.test.tsx
  src/test/main.new.test.tsx
  src/test/main.test.tsx
  src/test/utils/fileDownload.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Centralize cloud I/O and DB operations
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/services/cloud/providers/cloudBackupIo.ts
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteWriterService.ts
  electron/utils/database/historyLimitManager.ts
  electron/utils/database/transactionAdapters.ts
  shared/types/cloudSync.ts
  shared/validation/monitorSchemas.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Centralize monitoring and cloud logic
  electron/coordinators/MonitoringLifecycleCoordinator.ts
  electron/events/middleware.ts
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManagerEnhancedLifecycle.ts
  electron/managers/SiteManager.ts
  electron/services/cloud/CloudService.ts
  electron/services/cloud/cloudKeyNormalization.ts
  electron/services/cloud/providers/BaseCloudStorageProvider.ts
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/services/monitoring/CdnEdgeConsistencyMonitor.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorOperationRegistry.ts
  electron/services/monitoring/ReplicationMonitor.ts
  electron/services/monitoring/ServerHeartbeatMonitor.ts
  electron/services/monitoring/shared/abortSignalUtils.ts
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/services/monitoring/shared/monitorCoreHelpers.ts
  electron/services/monitoring/shared/monitorServiceRuntimeState.ts
  electron/services/monitoring/shared/remoteMonitorCore.ts
  electron/services/notifications/NotificationService.ts
  electron/test/services/monitoring/EnhancedMonitorChecker-coverage.test.ts
  shared/validation/monitorSchemas.ts
  src/components/Dashboard/SiteList/SiteListLayoutSelector.tsx
  src/components/Dashboard/SiteList/SiteListToggleGroup.tsx
  src/components/Settings/cloud/CloudSyncMaintenanceControl.tsx
  src/components/Settings/cloud/SyncMaintenanceCard.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/components/SiteDetails/tabs/SiteSettingsFieldLabel.tsx
  src/components/SiteDetails/tabs/SiteSettingsNumberField.tsx
  src/components/SiteDetails/utils/responseTimeColors.ts
  src/components/common/GalaxyBackground/GalaxyBackground.tsx
  src/services/logger.ts
  src/stores/sites/utils/fileDownload.ts
  src/test/App.comprehensive.test.tsx
  src/test/components/SiteDetails/ScreenshotThumbnail.arithmetic-mutations.test.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Centralize shared logic and types
  config/linting/jscpd.json
  electron/managers/DatabaseManager.ts
  electron/managers/SiteManager.ts
  electron/managers/databaseRepositorySets.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/EnhancedMonitoringDependencies.ts
  electron/services/monitoring/EnhancedMonitoringServiceFactory.ts
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/services/monitoring/shared/monitorServiceAdapterBase.ts
  electron/services/monitoring/shared/remoteMonitorCore.ts
  shared/test/fuzzing/schemas-new.fuzz.test.ts
  shared/test/utils/safeConversions.test.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/AddSiteForm/fields/fieldFactories.tsx
  src/components/Dashboard/SiteCard/SiteCompactCard.tsx
  src/components/Dashboard/SiteList/SiteTableRow.tsx
  src/components/Dashboard/shared/useDashboardSiteSummaryMeta.ts
  src/components/SiteDetails/SiteDetails.tsx
  src/components/common/GalaxyBackground/GalaxyBackground.tsx
  src/hooks/site/useSiteActions.ts
  src/hooks/site/useSiteDetails.ts
  src/services/logger.ts
  src/stores/sites/types.ts
  src/stores/sites/useSiteMonitoring.ts
  src/test/components/AddSiteForm/Submit.comprehensive.test.fixed.tsx
  src/theme/components/ThemedInput.tsx
  src/theme/components/ThemedSelect.tsx
  src/theme/components/useThemedControlStyles.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Simplify monitor schemas and enhance UI
  docs/Guides/DOCUMENTATION_STYLE_GUIDE.md
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/typedQueries.ts
  electron/test/services/database/MonitorRepository.comprehensive.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/monitoring/HttpMonitor.comprehensive.test.ts
  electron/test/utils/sharedDatabaseTypes.test.ts
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/types/database.test.ts
  shared/test/types/formData-function-coverage.test.ts
  shared/test/types/formData-functions.test.ts
  shared/test/types/formData.comprehensive.test.ts
  shared/test/types/formData.test.ts
  shared/test/types/monitorConfig-functions.test.ts
  shared/test/types/monitorConfig.comprehensive.test.ts
  shared/test/types/monitorConfig.test.ts
  shared/types/configTypes.ts
  shared/types/database.ts
  shared/types/formData.ts
  shared/types/monitorConfig.ts
  src/App.tsx
  src/components/common/ConfirmDialog/ConfirmDialog.tsx
  src/components/common/Modal/Modal.tsx
  src/hooks/site/useSiteDetails.ts
  src/stores/sites/utils/monitorOperations.ts
  src/stores/ui/useConfirmDialogStore.ts
  src/test/components/common/ConfirmDialog/ConfirmDialog.test.tsx
  src/test/monitorOperations.test.ts
  src/theme/styles/components/overlays.css
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

✨ [feat] Refactor icon usage across components to utilize AppIcons
  config/tools/knip.config.ts
  src/components/Settings/cloud/RemoteBackupsPanel.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/components/common/ConfirmDialog/ConfirmDialog.tsx
  src/components/common/ErrorAlert/ErrorAlert.tsx
  src/components/common/PromptDialog/PromptDialog.tsx
  src/components/shared/SaveButton.tsx
  src/test/components/ErrorAlert.complete-coverage.test.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/SiteOverviewTab.comprehensive.test.tsx
  src/test/components/shared/SaveButton.input-fuzzing.test.tsx
  src/test/components/shared/SaveButton.test.tsx
  src/theme/styles/components/overlays.css
  src/utils/icons.ts
  storybook/stories/theme/ThemedBadge.stories.tsx
  storybook/stories/theme/ThemedButton.stories.tsx
  storybook/stories/theme/ThemedCard.stories.tsx
  storybook/stories/theme/ThemedIconButton.stories.tsx
  vite.config.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
  vitest.stryker.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

🔧 [build] Enhance cloud backup metadata handling and validation
  docs/Architecture/Patterns/BOUNDARY_VALIDATION_STRATEGY.md
  electron/services/cloud/providers/CloudBackupMetadataFile.ts
  electron/services/cloud/providers/cloudBackupListing.ts
  electron/services/commands/DatabaseCommands.ts
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/services/sync/SyncEngine.ts
  electron/services/sync/syncEngineState.ts
  electron/test/services/commands/DatabaseCommands.test.ts
  shared/validation/cloudBackupSchemas.ts
  shared/validation/dataSchemas.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache
