Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

Update copilot-instructions.md
  .github/copilot-instructions.md
Due: markdownlint --fix --cache

🧪 [test] Migrate shared tests to Vitest globals and update setup
  config/testing/tsconfig.shared.test.json
  config/testing/vitest.shared.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/README-migration.md
  scripts/migrate-to-mts-simple.mjs
  shared/test/setup.ts
  shared/test/types/monitorConfig.comprehensive.test.ts
  shared/test/utils/typeGuards.comprehensive.test.ts
  src/test/setup.ts
  src/test/vitest-context-setup.ts
  tsconfig.json
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Merge branch 'main' of https://github.com/Nick2bad4u/Uptime-Watcher
  .github/copilot-instructions.md
  .github/workflows/summary.yml
  CHANGELOG.md
  package.json
Due: markdownlint --fix --cache, prettier --write --cache

Bump version to 12.9.0
  package.json
Due: prettier --write --cache

🔧 [build] Centralizes lint/config files and updates related scripts
  .github/workflows/Build.yml
  .github/workflows/updateChangeLogs.yml
  .mega-linter.yml
  .pre-commit-config.yaml
  .secretlintignore
  .vscode/settings.json
  config/linting/.biomeignore
  config/linting/biome.json
  config/linting/commitlint.config.mjs
  config/linting/jscpd.json
  config/linting/markdownlint.json
  config/linting/markdownlintignore
  config/tools/cliff.toml
  config/tools/repomix.config.json
  custom-words.txt
  docs/Architecture/Patterns/Component-Props-Standards.md
  docs/Packages/Axios/Axios-Download-Log.md
  docs/Packages/Axios/Axios-Hashes.json
  docs/Packages/Axios/Axios-config-defaults.md
  docs/Packages/Axios/Axios-intro.md
  package.json
  scripts/add-cspell-words.mjs
Due: markdownlint --fix --cache, prettier --write --cache

🚜 [refactor] Centralize form field base props in shared types
  shared/types/componentProps.ts
  src/components/AddSiteForm/BaseFormField.tsx
  src/components/AddSiteForm/FormField.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Unifies core component props via shared interfaces
  src/components/AddSiteForm/RadioGroup.tsx
  src/components/AddSiteForm/SelectField.tsx
  src/components/AddSiteForm/TextField.tsx
  src/components/common/ErrorAlert/ErrorAlert.tsx
  src/components/common/HistoryChart.tsx
  src/components/common/SiteMonitoringButton/SiteMonitoringButton.tsx
  src/components/common/StatusBadge.tsx
  src/components/shared/FormErrorAlert.tsx
  src/components/shared/SaveButton.tsx
  src/components/shared/SettingItem.tsx
  src/theme/components/MiniChartBar.tsx
  src/theme/components/StatusIndicator.tsx
  src/theme/components/ThemedBadge.tsx
  src/theme/components/ThemedBox.tsx
  src/theme/components/ThemedButton.tsx
  src/theme/components/ThemedCard.tsx
  src/theme/components/ThemedCheckbox.tsx
  src/theme/components/ThemedIconButton.tsx
  src/theme/components/ThemedInput.tsx
  src/theme/components/ThemedProgress.tsx
  src/theme/components/ThemedSelect.tsx
  src/theme/components/ThemedText.tsx
  src/theme/components/ThemedTooltip.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Centralizes config files under config directory
  .cspell.json
  .github/workflows/flatpak-build.yml
  .lycheeignore
  .mega-linter.yml
  config/linting/.checkov.yml
  config/linting/.grype.yaml
  config/linting/.htmlhintrc
  config/linting/.lintstagedrc.json
  config/linting/.secretlintrc.json
  config/linting/.yamllint
  config/linting/ActionLintConfig.yaml
  config/tools/.markdown-link-check.json
  config/tools/.pre-commit-config.yaml
  config/tools/kics.yaml
  config/tools/knip.json
  config/tools/lychee.toml
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write --cache

📝 [docs] Revamps README with enhanced feature overview and project details
  README.md
  config/tools/flatpak-build.yml
Due: markdownlint --fix --cache, prettier --write --cache

Bump version to 13.0.0
  package.json
Due: prettier --write --cache

🧹 [chore] Annotate safe type assertions and clean project docs
  .github/instructions/copilot-instructions-codacy.md
  .github/instructions/copilot-instructions.md
  README.md
  electron/events/middleware.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/services/monitoring/monitorTypes.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/operationalHooks.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/components/common/MonitorUiComponents.tsx
  src/hooks/site/useSiteAnalytics.ts
  src/services/chartConfig.ts
  src/services/logger.ts
  src/stores/sites/utils/monitorOperations.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/stores/utils.ts
  src/theme/ThemeManager.ts
  src/theme/useTheme.ts
  src/types/ipc.ts
  src/types/monitorFormData.ts
  src/utils/chartUtils.ts
  src/utils/monitorTypeHelper.ts
  src/utils/monitorUiHelpers.ts
  src/utils/monitorValidation.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🎨 [style] Optimize React performance and clarify type assertions
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  electron/preload.ts
  electron/services/ServiceContainer.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/database/utils/historyQuery.ts
  electron/services/database/utils/monitorMapper.ts
  electron/services/database/utils/typedQueries.ts
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/utils/httpClient.ts
  eslint.config.mjs
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/utils/operationHelpers.ts
  src/theme/components/ThemedBadge.tsx
  src/theme/components/ThemedCard.tsx
  src/theme/components/ThemedIconButton.tsx
  src/theme/components/ThemedInput.tsx
  src/theme/components/ThemedProgress.tsx
  src/theme/components/ThemedSelect.tsx
  src/theme/components/iconUtils.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🎨 [style] Standardizes code formatting and improves docs clarity
  README.md
  config/testing/vitest.shared.config.ts
  docs/Architecture/Patterns/Component-Props-Standards.md
  scripts/README-migration.md
  scripts/add-cspell-words.mjs
  scripts/migrate-to-mts-simple.mjs
  shared/test/setup.ts
  shared/types/componentProps.ts
  src/test/setup.ts
  src/test/vitest-context-setup.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Add comprehensive tests to achieve 90%+ function coverage
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/ultimate-function-coverage-boost.test.ts
  src/test/env-utility-test.test.ts
  src/test/final-function-coverage-push.test.ts
  src/test/simple-utility-test.test.ts
  src/test/typeguard-utility-test.test.ts
  src/test/working-utility-coverage.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔧 [build] Update Flatpak build paths and ESLint config structure
  .github/workflows/flatpak-build.yml
  eslint.config.mjs
  flatpak-build.yml
Due: prettier --write --cache

Bump version to 13.1.0
  package.json
Due: prettier --write --cache

📝 [docs] Document type-fest patterns; update build, lint, and test configs
  .github/chatmodes/BeastMode.chatmode.md
  .github/copilot-instructions.md
  config/linting/.taplo.toml
  config/testing/vitest.electron.config.ts
  config/testing/vitest.shared.config.ts
  docs/type-fest-patterns.md
  eslint.config.mjs
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/ultimate-function-coverage-boost.test.ts
  shared/test/utils/jsonSafety-extra.test.ts
  shared/types/chartConfig.ts
  shared/types/monitorConfig.ts
  shared/types/themeConfig.ts
  shared/utils/errorHandling.ts
  shared/utils/logTemplates.ts
  shared/utils/typeGuards.ts
  shared/utils/typeHelpers.ts
  src/test/env-utility-test.test.ts
  src/test/final-function-coverage-push.test.ts
  src/test/simple-utility-test.test.ts
  src/test/typeguard-utility-test.test.ts
  src/test/utils/mockFactories.ts
  src/test/utils/monitorValidation.test.ts
  src/test/utils/testUtils.ts
  src/test/working-utility-coverage.test.ts
  vite.config.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 13.2.0
  package.json
Due: prettier --write --cache

🔧 [build] Update dependencies and enhance Vite config
  package-lock.json
  package.json
  src/test/types/monitor-forms.100-coverage.test.ts
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Improve typings and coverage in tests and mocks
  electron/test/events/TypedEventBus.comprehensive.test.ts
  electron/test/events/TypedEventBus.test.ts
  electron/test/services/database/utils/typedQueries.test.ts
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/utils/safeConversions.comprehensive.test.ts
  shared/utils/errorHandling.ts
  src/test/final-function-coverage-push.test.ts
  src/test/utils/mockFactories.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Add standardized annotation to all test cases
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/ultimate-function-coverage-boost.test.ts
  src/test/env-utility-test.test.ts
  src/test/final-function-coverage-push.test.ts
  src/test/simple-utility-test.test.ts
  src/test/typeguard-utility-test.test.ts
  src/test/working-utility-coverage.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [chore] Improve code consistency and formatting across tests and types
  TREE_SHAKING_OPTIMIZATION_SUMMARY.md
  scripts/find-shared-imports.js
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/utils/typeGuards-complete-coverage.test.ts
  shared/test/utils/typeGuards.comprehensive.test.ts
  shared/types/chartHybrid.ts
  src/test/App.comprehensive.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.module.test.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.simple.test.tsx
  src/test/main.fixed.test.tsx
  src/test/utils/errorHandling.test.ts
  src/test/utils/fallbacks.test.ts
  src/test/utils/fileDownload.fixed.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 13.3.0
  package.json
Due: prettier --write --cache

chore: format code with Prettier [skip-ci]
  CONTRIBUTING.md
  TREE_SHAKING_OPTIMIZATION_SUMMARY.md
  docs/Guides/AI-CONTEXT.md
  docs/Guides/DOCUSAURUS-SETUP-GUIDE.md
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Guides/LOGGER_MIGRATION_COMPLETE_REPORT.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/TESTING.md
  docs/docusaurus/src/pages/index.module.css
  src/index.css
  src/theme/components.css
Due: markdownlint --fix --cache, prettier --write --cache, stylelint --fix --cache

feat: Implement Chart.js tree-shaking optimization
  .github/prompts/ReviewCodebase.prompt.md
  TREE_SHAKING_OPTIMIZATION_SUMMARY.md
  config/testing/vitest.electron.config.ts
  config/testing/vitest.shared.config.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/MonitorOperationRegistry.ts
  electron/services/monitoring/OperationTimeoutManager.ts
  electron/services/monitoring/types.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/window/WindowService.ts
  electron/test/enhanced-monitor-checker-targeted.test.ts
  electron/test/services/monitoring/HttpMonitor.comprehensive.test.ts
  electron/test/services/monitoring/MonitorOperationRegistry.new.test.ts
  electron/test/services/monitoring/OperationTimeoutManager.comprehensive.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  package-lock.json
  package.json
  scripts/download-sqlite3-wasm.mjs
  shared/test/strictTests/typeGuards-complete-coverage.test.ts
  shared/test/utils/safeConversions.comprehensive.test.ts
  shared/utils/abortUtils.ts
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/charts/ResponseTimeChart.tsx
  src/components/SiteDetails/charts/StatusChart.tsx
  src/components/SiteDetails/charts/UptimeChart.tsx
  src/hooks/useDynamicHelpText.ts
  src/services/chartSetup.ts
  src/stores/sites/useSiteOperations.ts
  src/test/components/SiteDetails/charts/ChartComponents.comprehensive.test.tsx
  src/test/hooks/useDynamicHelpText.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/theme/debug.test.ts
  src/utils/monitorUiHelpers.ts
  vite.config.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

🧪 [test] Achieve 100% coverage for utilities and core logic
  package-lock.json
  package.json
  shared/test/utils/safeConversions.comprehensive.test.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/AddSiteModal.tsx
  src/services/chartSetup.ts
  src/test/components/AddSiteForm/AddSiteForm.enhanced.test.tsx
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/constants-theme-100-coverage.test.ts
  src/test/edge-cases-100-coverage.test.ts
  src/test/services/chartSetup.test.ts
  src/test/store-utilities-100-coverage.test.ts
  src/utils/chartUtils.ts
  src/utils/monitorTypeHelper.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Improve edge case coverage, formatting, and store tests
  .vscode/extensions.json
  TREE_SHAKING_OPTIMIZATION_SUMMARY.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  electron/test/enhanced-monitor-checker-targeted.test.ts
  electron/test/services/monitoring/HttpMonitor.comprehensive.test.ts
  electron/test/services/monitoring/MonitorOperationRegistry.new.test.ts
  electron/test/services/monitoring/MonitorOperationRegistry.test.ts
  electron/test/services/monitoring/OperationTimeoutManager.comprehensive.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  package-lock.json
  package.json
  scripts/download-sqlite3-wasm.mjs
  scripts/download-typefest-docs.mjs
  shared/utils/abortUtils.ts
  src/components/SiteDetails/SiteDetails.css
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/constants-theme-100-coverage.test.ts
  src/test/edge-cases-100-coverage.test.ts
  src/test/final-90-percent-function-coverage.test.ts
  src/test/store-utilities-100-coverage.test.ts
  src/test/stores/settings/useSettingsStore.targeted.test.ts
  src/test/stores/sites/useSiteOperations.targeted.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

✨ [feat] Enhance script portability, test verbosity, and ESLint config
  .vscode/settings.json
  config/testing/tsconfig.scripts.json
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/TEST_VERBOSITY_GUIDE.md
  eslint.config.mjs
  package.json
  scripts/OhMyPosh-Atomic-Custom.json
  scripts/add-cspell-words.mjs
  scripts/convert-pascal-to-camel.mjs
  scripts/download-docs-template.mjs
  scripts/download-typefest-docs.mjs
  scripts/enhance-test-metadata.mjs
  scripts/extract-test-names.mjs
  scripts/find-empty-dirs.mjs
  scripts/find-shared-imports.js
  scripts/fix-mdx-typedoc-unified-local.mjs
  scripts/fix-mdx-typedoc-unified.mjs
  scripts/fix-test-quotes.mjs
  scripts/migrate-to-mts-simple.mjs
  scripts/validate-performance-config.mjs
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Improve error handling and env usage in scripts
  config/testing/tsconfig.scripts.json
  electron/test/services/monitoring/MonitorOperationRegistry.new.test.ts
  electron/test/services/monitoring/MonitorOperationRegistry.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  eslint.config.mjs
  scripts/add-cspell-words.mjs
  scripts/enhance-test-metadata.mjs
  scripts/extract-test-names.mjs
  scripts/find-empty-dirs.mjs
  scripts/find-shared-imports.js
  scripts/migrate-to-mts-simple.mjs
  src/components/SiteDetails/charts/ResponseTimeChart.tsx
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/constants-theme-100-coverage.test.ts
  src/test/store-utilities-100-coverage.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🎨 [style] Improve error message formatting and code consistency
  config/testing/tsconfig.scripts.json
  scripts/add-cspell-words.mjs
  scripts/enhance-test-metadata.mjs
  scripts/extract-test-names.mjs
  scripts/find-shared-imports.js
  scripts/migrate-to-mts-simple.mjs
  src/test/constants-theme-100-coverage.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 13.4.0
  package.json
Due: prettier --write --cache

✨ [feat] Enhance OhMyPosh theme for richer prompt UX
  scripts/OhMyPosh-Atomic-Custom.json
Due: prettier --write --cache

🎨 [style] Standardize segment min width and output overflow
  scripts/OhMyPosh-Atomic-Custom.json
Due: prettier --write --cache

🔧 [build] Update SQLite WASM management and dependencies
  assets/.wasm-version
  assets/node-sqlite3-wasm.wasm
  custom-words.txt
  package-lock.json
  package.json
  scripts/download-sqlite3-wasm.mjs
Due: prettier --write --cache

Path conditions:
  https://www.schemastore.org/lintstagedrc.schema.json: any of: $schema
  markdownlint --fix --cache: any of: *.md
  eslint --fix --cache --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,yaml,yml})
  stylelint --fix --cache: any of: *.{css,scss}
