Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix"],
    "*.{css,scss}": ["stylelint --fix"],
    "*.md": ["markdownlint --fix"],
    "*.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}": ["prettier --write"]
}

Initial metrics branch setup
  README.md
Due: markdownlint --fix, prettier --write

📝 [docs] Add Codecov components docs & coverage breakdown
  .codecov.yml
  .github/workflows/sonarcloud.yml
  codecov.yml
  docs/CODECOV_COMPONENTS_GUIDE.md
  docs/CODECOV_COMPONENTS_QUICK_REFERENCE.md
  docs/index.md
  package.json
  scripts/Analyze-ProjectFiles-SrcElectron.ps1
  scripts/Analyze-ProjectFiles.ps1
  scripts/getFileSizes.ps1
  scripts/validate-components.js
Due: eslint --fix, markdownlint --fix, prettier --write

🧪 [test] Remove obsolete test covering themed uncovered lines
  src/test/theme-uncovered-lines.test.tsx
Due: eslint --fix, prettier --write

👷 [ci] Refines Codecov config, CI coverage upload, and removes validation script
  .codecov.yml
  .github/workflows/codecov.yml
  docs/index.md
  scripts/validate-components.js
  src/test/additional-uncovered-lines-fixed.test.ts
Due: eslint --fix, markdownlint --fix, prettier --write

👷 [ci] Remove redundant after_n_builds setting from config
  .codecov.yml
Due: prettier --write

chore: format code with Prettier [skip-ci]
  .github/instructions/copilot-instructions.md
  README.md
  REFACTORING_SUMMARY.md
  docs/AI_CONTEXT_INSTRUCTIONS.md
  docs/CODECOV_COMPONENTS_QUICK_REFERENCE.md
  docs/COMPREHENSIVE_TEST_COVERAGE_ANALYSIS.md
  docs/COVERAGE_ANALYSIS_AND_RECOMMENDATIONS.md
  docs/DATA_FLOW_ARCHITECTURE.md
  docs/NAMING_STRUCTURE_ANALYSIS.md
  docs/PROJECT_ANALYSIS_SUMMARY.md
  docs/TASK_COMPLETION_SUMMARY.md
  docs/TEST_COVERAGE_ACHIEVEMENT_SUMMARY.md
  docs/TEST_COVERAGE_FINAL_SUMMARY.md
  docs/UNTESTABLE_CODE_DOCUMENTATION.md
Due: markdownlint --fix, prettier --write

👷 [ci] Simplifies Codecov config by removing flag management
  .codecov.yml
Due: prettier --write

📝 [docs] Clarify form field component coverage in docs
  src/components/AddSiteForm/FormFields.tsx
Due: eslint --fix, prettier --write

👷 [ci] Replace commit amend with standard commit in release workflow
  .github/workflows/Build.yml
Due: prettier --write

👷 [ci] Amend commits for version bumps and changelogs
  .github/workflows/Build.yml
Due: prettier --write

Bump version to 5.0.0
  package.json
Due: prettier --write

📝 [docs] Update form docs to mention HTTP and port monitoring
  src/components/AddSiteForm/AddSiteForm.tsx
Due: eslint --fix, prettier --write

📝 [docs] Update component docstring for clarity
  src/components/AddSiteForm/AddSiteForm.tsx
Due: eslint --fix, prettier --write

chore: format code with Prettier [skip-ci]
  src/components/SiteDetails/SiteDetails.css
Due: stylelint --fix, prettier --write

👷 [ci] Update workflow to use separate commits for version and changelog
  .github/workflows/Build.yml
  src/components/AddSiteForm/AddSiteForm.tsx
Due: eslint --fix, prettier --write

Bump version to 5.1.0
  package.json
Due: prettier --write

✨ [feat] Add transactional site DB ops and race-free monitor inserts
  docs/FileListANalyze.md
  electron/UptimeOrchestrator.ts
  electron/managers/SiteManager.ts
  electron/services/database/DatabaseService.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/utils/historyManipulation.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/utils/database/siteWriter.test.ts
  electron/utils/database/siteWriter.ts
  scripts/List-Files.ps1
Due: eslint --fix, markdownlint --fix, prettier --write

🚜 [refactor] Decouples cross-store dependencies and optimizes bulk DB inserts
  electron/services/database/DatabaseService.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/window/WindowService.ts
  electron/utils/database/siteWriter.ts
  src/App.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/hooks/useSelectedSite.ts
  src/stores/sites/useSitesState.ts
  src/stores/stats/types.ts
  src/stores/stats/useStatsStore.ts
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/utils/time.ts
Due: eslint --fix, prettier --write

🧪 [test] Add comprehensive tests for SiteDetails and hooks
  docs/FileListANalyze.md
  electron/test/UptimeOrchestrator.manualChecks.test.ts
  electron/test/UptimeOrchestrator.monitoringControl.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/setup.ts
  src/hooks/useThemeStyles.ts
  src/test/App.test.tsx
  src/test/SiteDetails.basic.test.tsx
  src/test/SiteDetails.comprehensive.test.tsx
  src/test/SiteDetails.simple.test.tsx
  src/test/useThemeStyles.comprehensive.test.ts
  src/test/utils/index.test.ts
  vitest.config.ts
  vitest.electron.config.ts
Due: eslint --fix, markdownlint --fix, prettier --write

Bump version to 5.2.0
  package.json
Due: prettier --write

✨ [feat] Add paused and mixed monitor status handling
  .github/instructions/copilot-instructions.md
  electron/UptimeOrchestrator.ts
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManager.ts
  electron/services/database/MonitorRepository.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/test/UptimeOrchestrator.monitoringControl.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/utils/database/dataImportExport.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
  electron/test/utils/siteStatus.test.ts
  electron/types.ts
  electron/utils/database/dataImportExport.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/siteStatus.ts
  src/components/Dashboard/SiteCard/SiteCardStatus.tsx
  src/components/SiteDetails/tabs/SiteOverviewTab.tsx
  src/components/common/StatusBadge.tsx
  src/constants.ts
  src/hooks/site/useSiteMonitor.ts
  src/index.css
  src/test/SiteDetails.comprehensive.test.tsx
  src/test/chartConfig.test.ts
  src/theme/components.css
  src/theme/components.tsx
  src/theme/themes.ts
  src/theme/types.ts
  src/theme/useTheme.ts
  src/types.ts
  src/utils/siteStatus.ts
  src/utils/status.ts
  tailwind.config.js
Due: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

Bump version to 5.3.0
  package.json
Due: prettier --write

🔧 [build] Bump project version to 5.5.0
  package-lock.json
Due: prettier --write

Bump version to 5.6.0
  package.json
Due: prettier --write

🎨 [style] Improve test formatting and consistency
  docs/ImprovmenetPlan.md
  electron/hooks/README.md
  electron/test/UptimeOrchestrator.monitoringControl.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/hooks/index.test.ts
  electron/test/hooks/useRetry.test.ts
  electron/test/hooks/useTransaction.test.ts
  electron/test/hooks/useValidation.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/setup.ts
  electron/test/utils/database/SiteWriterService.test.ts
  electron/test/utils/database/dataImportExport.test.ts
  electron/test/utils/database/serviceFactory.test.ts
  electron/test/utils/database/siteRepository.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
  electron/test/utils/siteStatus.test.ts
  src/components/SiteDetails/SiteDetails.css
  src/test/App.test.tsx
  src/test/SiteDetails.basic.test.tsx
  src/test/SiteDetails.comprehensive.test.tsx
  src/test/SiteDetails.simple.test.tsx
  src/test/stores/sites/MonitoringService.siteLevel.test.ts
  src/test/useThemeStyles.comprehensive.test.ts
Due: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

chore: format code with Prettier [skip-ci]
  docs/ImprovmenetPlan.md
  electron/hooks/README.md
  src/components/SiteDetails/SiteDetails.css
Due: stylelint --fix, markdownlint --fix, prettier --write

📝 [docs] Remove backend operational hooks documentation and examples
  electron/hooks/README.md
  electron/hooks/examples.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🔧 [build] Enhance ESLint config with stricter and modern rules
  eslint.config.mjs
Due: none

🔧 [build] Add Electron test tsconfig and refine ESLint/test setup
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/UptimeOrchestrator.manualChecks.test.ts
  electron/test/UptimeOrchestrator.monitoringControl.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/managers/MonitorManager.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/DatabaseService.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/monitoring/HttpMonitor.basic.test.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/types.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  electron/test/services/monitoring/utils/portUtils.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
  electron/test/services/window/WindowService.test.ts
  electron/test/setup.ts
  electron/test/utils/database/dataBackup.test.ts
  electron/test/utils/database/dataImportExport.test.ts
  electron/test/utils/monitoring/monitorStatusChecker.test.ts
  electron/test/utils/retry.test.ts
  electron/test/utils/utils.test.ts
  eslint.config.mjs
  frontend-test.js
  postcss.config.js
  test-events.js
  tsconfig.electron.test.json
Due: eslint --fix, prettier --write

🧪 [test] Add tests for uncovered lines and improve coverage
  src/test/App.test.tsx
  src/test/Settings.uncovered.test.tsx
  src/test/SiteDetails.uncovered.test.tsx
  src/test/siteStatus.test.ts
  src/test/time.uncovered.test.ts
  src/test/useSiteMonitoring.test.ts
  src/test/useStatsStore.test.ts
  src/test/useUiStore.test.ts
Due: eslint --fix, prettier --write

Bump version to 5.7.0
  package.json
Due: prettier --write

🎨 [style] Replace unused variables with leading underscores
  electron/events/TypedEventBus.ts
  electron/events/eventTypes.ts
  electron/events/middleware.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/utils/database/repositoryAdapters.test.ts
  electron/utils/database/serviceFactory.ts
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/test/SiteDetails.comprehensive.test.tsx
  src/test/SiteDetails.simple.test.tsx
  src/test/Submit.test.ts
Due: eslint --fix, prettier --write

🎨 [style] Remove extraneous blank lines and prettify test mocks
  electron/test/UptimeOrchestrator.basic.test.ts
  electron/test/UptimeOrchestrator.manualChecks.test.ts
  electron/test/UptimeOrchestrator.monitoringControl.test.ts
  electron/test/UptimeOrchestrator.siteManagement.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/managers/MonitorManager.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/DatabaseService.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/monitoring/HttpMonitor.basic.test.ts
  electron/test/services/monitoring/HttpMonitor.test.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/types.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  electron/test/services/monitoring/utils/portUtils.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
  electron/test/services/window/WindowService.test.ts
  electron/test/setup.ts
  electron/test/utils/database/dataBackup.test.ts
  electron/test/utils/database/dataImportExport.test.ts
  electron/test/utils/monitoring/monitorStatusChecker.test.ts
  electron/test/utils/retry.test.ts
  electron/test/utils/utils.test.ts
  eslint.config.mjs
  src/test/App.test.tsx
  src/test/Settings.uncovered.test.tsx
  src/test/SiteDetails.comprehensive.test.tsx
  src/test/SiteDetails.simple.test.tsx
  src/test/SiteDetails.uncovered.test.tsx
  src/test/time.uncovered.test.ts
  src/test/useUiStore.test.ts
  tsconfig.electron.test.json
Due: eslint --fix, prettier --write

🧪 [test] Update service factory and theme status tests
  electron/test/utils/database/serviceFactory.test.ts
  electron/utils/database/serviceFactory.ts
  src/test/themeTypes.test.tsx
Due: eslint --fix, prettier --write

🚜 [refactor] Replace EventEmitter with typed event bus system
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/utils/database/SiteRepositoryService.ts
  electron/utils/database/dataBackup.ts
  electron/utils/database/dataImportExport.ts
  electron/utils/database/databaseInitializer.ts
  electron/utils/database/interfaces.ts
  electron/utils/database/serviceFactory.ts
  electron/utils/database/siteRepository.ts
  electron/utils/monitoring/monitorLifecycle.ts
  electron/utils/monitoring/monitorStatusChecker.ts
Due: eslint --fix, prettier --write
