Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, yamllint, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix"],
    "*.{css,scss}": ["stylelint --fix"],
    "*.md": ["markdownlint --fix"],
    "*.yaml": ["yamllint"],
    "*.yml": ["yamllint"],
    "*.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}": ["prettier --write"]
}

Update .prettierignore
  .prettierignore
Due: none

Update package.json
  package.json
Due: prettier --write

refactor: remove unused ESLint and Husky configurations
  .eslintignore
  .husky/pre-commit
  .vscode/settings.json
  commitlint.config.js
  dist-electron/main.js
  electron/uptimeMonitor.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/.eslintignore
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write

Bump version to 2.0.1
  package.json
Due: prettier --write

chore: add .husky directory to .gitignore and update package.json scripts
  .gitignore
Due: none

refactor: update version bump logic to handle minor version increments
  .github/workflows/Build.yml
  .lintstagedrc.json
Due: yamllint, prettier --write

Bump version to 2.1.0
  package.json
Due: prettier --write

feat: add shell wrapper for running Electron application
  flatpak-build.yml
  run-electron.sh
Due: yamllint, prettier --write

chore: add cross-env dependency to package.json
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

fix: update dependencies and correct version numbers in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

Bump version to 2.2.0
  package.json
Due: prettier --write

chore: update @typescript-eslint/parser to v8.35.0 and add prettier-eslint dependency
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

feat: add details column to history table and render details in SiteDetails component [skip ci]
  TODO.txt
  dist-electron/main.js
  electron/uptimeMonitor.ts
  src/components/SiteDetails.tsx
Due: eslint --fix, prettier --write

feat: Adds full ESLint support for CSS, HTML, YAML, TOML, and Markdown
  .hintrc
  .vscode/settings.json
  cspell.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/constants.ts
  src/theme/components.tsx
Due: eslint --fix, prettier --write

Bump version to 2.3.0
  package.json
Due: prettier --write

Adds full-featured Electron+React frontend with per-site monitoring
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  dist-electron/electron/main.js
  dist-electron/electron/preload.js
  dist-electron/electron/types.js
  dist-electron/electron/uptimeMonitor.js
  dist-electron/electron/utils.js
  dist-electron/src/App.js
  dist-electron/src/components/AddSiteForm.js
  dist-electron/src/components/Header.js
  dist-electron/src/components/Settings.js
  dist-electron/src/components/SiteCard.js
  dist-electron/src/components/SiteDetails.js
  dist-electron/src/components/SiteList.js
  dist-electron/src/constants.js
  dist-electron/src/hooks/useBackendFocusSync.js
  dist-electron/src/hooks/useSiteAnalytics.js
  dist-electron/src/main.js
  dist-electron/src/services/chartConfig.js
  dist-electron/src/services/logger.js
  dist-electron/src/store.js
  dist-electron/src/theme/ThemeManager.js
  dist-electron/src/theme/components.js
  dist-electron/src/theme/themes.js
  dist-electron/src/theme/types.js
  dist-electron/src/theme/useTheme.js
  dist-electron/src/types.js
  dist-electron/src/utils/status.js
  dist-electron/src/utils/time.js
  dist-electron/vite.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/components/SiteDetails.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Bump version to 2.4.0
  package.json
Due: prettier --write

Update .markdownlintignore [skip-ci]
  .markdownlintignore
Due: none

Update .mega-linter.yml [skip-ci]
  .mega-linter.yml
Due: yamllint, prettier --write

Update _config.yml [skip-ci]
  _config.yml
Due: yamllint, prettier --write

Refactor code to use CommonJS module syntax and improve strict mode compliance
  .gitignore
  .vscode/tasks.json
  dist-electron/electron/main.js
  dist-electron/electron/preload.js
  dist-electron/electron/types.js
  dist-electron/electron/uptimeMonitor.js
  dist-electron/electron/utils.js
  dist-electron/src/App.js
  dist-electron/src/components/AddSiteForm.js
  dist-electron/src/components/Header.js
  dist-electron/src/components/Settings.js
  dist-electron/src/components/SiteCard.js
  dist-electron/src/components/SiteDetails.js
  dist-electron/src/components/SiteList.js
  dist-electron/src/constants.js
  dist-electron/src/hooks/useBackendFocusSync.js
  dist-electron/src/hooks/useSiteAnalytics.js
  dist-electron/src/main.js
  dist-electron/src/services/chartConfig.js
  dist-electron/src/services/logger.js
  dist-electron/src/store.js
  dist-electron/src/theme/ThemeManager.js
  dist-electron/src/theme/components.js
  dist-electron/src/theme/themes.js
  dist-electron/src/theme/types.js
  dist-electron/src/theme/useTheme.js
  dist-electron/src/types.js
  dist-electron/src/utils/status.js
  dist-electron/src/utils/time.js
  dist-electron/vite.config.js
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

Improves ignore settings and cleans up VSCode config
  .prettierignore
  .vscode/settings.json
  .vscodeignore
  src/App.tsx
Due: eslint --fix, prettier --write

🚜 [refactor] Standardize nullable state to use undefined
  src/App.tsx
  src/components/AddSiteForm.tsx
  src/components/SiteDetails.tsx
  src/hooks/useSiteAnalytics.ts
  src/store.ts
  src/theme/ThemeManager.ts
Due: eslint --fix, prettier --write

Bump version to 2.5.0
  package.json
Due: prettier --write

Update codeql.yml
  .github/workflows/codeql.yml
Due: yamllint, prettier --write

🛠️ [fix] Standardize use of undefined instead of null for state
  dist-electron/src/App.js
  dist-electron/src/components/AddSiteForm.js
  dist-electron/src/components/SiteDetails.js
  dist-electron/src/hooks/useSiteAnalytics.js
  dist-electron/src/store.js
  dist-electron/src/theme/ThemeManager.js
  src/components/SiteDetails.tsx
Due: eslint --fix, prettier --write

Bump version to 2.6.0
  package.json
Due: prettier --write

🚜 [refactor] Standardize nullable state to use undefined
  .github/workflows/codeql.yml
  CHANGELOG.md
  dist-electron/src/App.js
  dist-electron/src/components/AddSiteForm.js
  dist-electron/src/components/SiteDetails.js
  dist-electron/src/hooks/useSiteAnalytics.js
  dist-electron/src/store.js
  dist-electron/src/theme/ThemeManager.js
  metrics.repository.svg
  package.json
  src/App.tsx
  src/components/AddSiteForm.tsx
  src/components/SiteDetails.tsx
  src/hooks/useSiteAnalytics.ts
  src/store.ts
  src/theme/ThemeManager.ts
Due: eslint --fix, markdownlint --fix, yamllint, prettier --write

🔧 [build] Update dependencies and modernize Electron main code
  .gitignore
  dist-electron/main.js
  package-lock.json
  package.json
  scripts/download-sqlite3-wasm.mjs
  scripts/node-sqlite3-wasm.wasm
Due: eslint --fix, prettier --write

🚜 [refactor] Improve import order, cleanup effects, and unify option structure
  dist-electron/src/App.js
  dist-electron/src/components/AddSiteForm.js
  dist-electron/src/components/Header.js
  dist-electron/src/components/Settings.js
  dist-electron/src/components/SiteCard.js
  dist-electron/src/components/SiteDetails.js
  dist-electron/src/components/SiteList.js
  dist-electron/src/constants.js
  eslint.config.mjs
  package-lock.json
  package.json
  public/node-sqlite3-wasm.wasm
  src/App.tsx
  src/components/AddSiteForm.tsx
  src/components/Header.tsx
  src/components/Settings.tsx
  src/components/SiteCard.tsx
  src/components/SiteDetails.css
  src/components/SiteDetails.tsx
  src/components/SiteList.tsx
  src/constants.ts
  src/main.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Bump version to 2.7.0
  package.json
Due: prettier --write

🎨 [style] Refactor theme structure and update ESLint config
  eslint.config.mjs
  src/hooks/useBackendFocusSync.ts
  src/hooks/useSiteAnalytics.ts
  src/theme/ThemeManager.ts
  src/theme/themes.ts
  src/utils/time.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

🧹 [chore] Remove compiled Electron distribution files
  dist-electron/electron/main.js
  dist-electron/electron/preload.js
  dist-electron/electron/types.js
  dist-electron/electron/uptimeMonitor.js
  dist-electron/electron/utils.js
  dist-electron/main.js
  dist-electron/node-sqlite3-wasm.wasm
  dist-electron/preload.js
  dist-electron/src/App.js
  dist-electron/src/components/AddSiteForm.js
  dist-electron/src/components/Header.js
  dist-electron/src/components/Settings.js
  dist-electron/src/components/SiteCard.js
  dist-electron/src/components/SiteDetails.js
  dist-electron/src/components/SiteList.js
  dist-electron/src/constants.js
  dist-electron/src/hooks/useBackendFocusSync.js
  dist-electron/src/hooks/useSiteAnalytics.js
  dist-electron/src/main.js
  dist-electron/src/services/chartConfig.js
  dist-electron/src/services/logger.js
  dist-electron/src/store.js
  dist-electron/src/theme/ThemeManager.js
  dist-electron/src/theme/components.js
  dist-electron/src/theme/themes.js
  dist-electron/src/theme/types.js
  dist-electron/src/theme/useTheme.js
  dist-electron/src/types.js
  dist-electron/src/utils/status.js
  dist-electron/src/utils/time.js
  dist-electron/vite.config.js
Due: eslint --fix, prettier --write

🔧 [build] Ignore Electron build output directory
  .gitignore
Due: none

Bump version to 2.8.0
  package.json
Due: prettier --write
