Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

✨ [feat] Add new ESLint plugins and fuzz test scripts
  config/linting/.secretlintrc.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  eslint.config.mjs
  package-lock.json
  package.json
  stylelint.config.mjs
Due: prettier --write --cache

Bump version to 14.0.0
  package.json
Due: prettier --write --cache

🔧 [build] Update dev dependencies and fix scroll reveal styles
  docs/docusaurus/src/pages/index.module.css
  package-lock.json
  package.json
  stylelint.config.mjs
Due: prettier --write --cache, stylelint --fix --cache

🔧 [build] Normalize output path separators in build scripts
  package.json
Due: prettier --write --cache

📝 [docs] Add rich project docs, accessibility, and mascot assets
  .github/dependabot.yml
  .gitignore
  .stylelintignore
  .vscode/settings.json
  docs/docusaurus/docs/index.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/src/js/modernEnhancements.ts
  docs/docusaurus/src/pages/index.module.css
  docs/docusaurus/src/pages/index.tsx
  docs/docusaurus/static/img/UptimeWatcherMascot.png
  docs/docusaurus/static/img/UptimeWatcherMascotPanel.png
  docs/docusaurus/static/img/UptimeWatcherMascotServer.png
  electron/main.ts
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/window/WindowService.ts
  electron/utils/operationalHooks.ts
  electron/utils/retry.ts
  shared/test/utils/typeGuards.test.ts
  shared/test/utils/validation.test.ts
  shared/utils/abortUtils.ts
  shared/utils/errorCatalog.ts
  src/stores/settings/useSettingsStore.ts
  src/stores/utils.ts
  stryker.config.mjs
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

chore: update dependencies and improve error handling
  .vscode/settings.json
  docs/docusaurus/docs/index.md
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  docs/docusaurus/tsconfig.typedoc.json
  package-lock.json
  package.json
  shared/test/fuzzing/environment.fuzz.test.ts
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/services/logger.ts
  src/stores/error/useErrorStore.ts
  src/test/utils/fuzzing-test-suite.runner.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 14.1.0
  package.json
Due: prettier --write --cache

🧪 [test] Add fast-check property-based fuzzing tests
  .vscode/settings.json
  docs/docusaurus/docs/glossary.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  shared/test/fuzzing/abortUtils.comprehensive.fuzz.test.ts
  shared/test/fuzzing/validation.working.fuzz.test.ts
  shared/test/utils/cacheKeys.property.test.ts
  shared/test/utils/safeConversions.property.test.ts
  shared/test/utils/stringConversion.property.test.ts
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/stores/error/useErrorStore.ts
  src/test/ScreenshotThumbnail.test.tsx
  src/test/components/Header/Header.input-fuzzing.test.tsx
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/components/SiteDetails/ScreenshotThumbnail.basic.test.tsx
  src/test/components/SiteDetails/SiteDetails.input-fuzzing.test.tsx
  src/test/components/shared/FormErrorAlert.input-fuzzing.test.tsx
  src/test/components/shared/SaveButton.input-fuzzing.test.tsx
  src/test/services/chartConfig.input-fuzzing.test.ts
  src/test/services/logger.input-fuzzing.test.ts
  src/test/stores/error/useErrorStore.input-fuzzing.test.ts
  src/test/stores/sites/useSitesStore.input-fuzzing.test.ts
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
  src/theme/ThemeManager.input-fuzzing.test.ts
  src/theme/utils/themeMerging.input-fuzzing.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 14.2.0
  package.json
Due: prettier --write --cache

📝 [docs] Update documentation strategy and test summary
  .gitignore
  docs/Test-And-Documentation-Improvements-Summary.md
  docs/docusaurus/docs/glossary.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/package.json
  docs/docusaurus/sidebars.ts
  docs/docusaurus/tsconfig.typedoc.json
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  src/components/Header/Header.tsx
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.input-fuzzing.test.tsx
  src/test/components/Dashboard/SiteList/SiteList.input-fuzzing.test.tsx
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 14.3.0
  package.json
Due: prettier --write --cache

🧪 [test] Refactors property-based tests for stricter type safety and coverage
  docs/docusaurus/sidebars.ts
  eslint.config.mjs
  shared/test/fuzzing/abortUtils.comprehensive.fuzz.test.ts
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/stores/error/useErrorStore.ts
  src/test/components/AddSiteForm/AddSiteForm.input-fuzzing.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.realistic.test.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.input-fuzzing.test.tsx
  src/test/components/Dashboard/SiteList/SiteList.input-fuzzing.test.tsx
  src/test/components/Header/Header.input-fuzzing.test.tsx
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/components/SiteDetails/ScreenshotThumbnail.basic.test.tsx
  src/test/components/SiteDetails/SiteDetails.input-fuzzing.test.tsx
  src/test/components/shared/FormErrorAlert.input-fuzzing.test.tsx
  src/test/components/shared/SaveButton.input-fuzzing.test.tsx
  src/test/components/shared/formUtils.test.ts
  src/test/constants.test.ts
  src/test/generateUuid.test.ts
  src/test/hooks/useAddSiteForm.comprehensive.test.ts
  src/test/services/chartConfig.input-fuzzing.test.ts
  src/test/services/logger.input-fuzzing.test.ts
  src/test/stores/error/useErrorStore.input-fuzzing.test.ts
  src/test/stores/sites/useSitesStore.input-fuzzing.test.ts
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
  src/test/utils/data/generateUuid.comprehensive.test.ts
  src/test/utils/database.comprehensive-fuzzing.test.ts
  src/test/utils/errorHandling.advanced-fuzzing.test.ts
  src/test/utils/fuzzing-test-suite.runner.test.ts
  src/test/utils/ipc.comprehensive-fuzzing.test.ts
  src/test/utils/jsonSafety.advanced-fuzzing.test.ts
  src/test/utils/state-management.comprehensive-fuzzing.test.ts
  src/test/utils/typeGuards.advanced-fuzzing.test.ts
  src/test/utils/validation.comprehensive-fuzzing.test.ts
  src/theme/ThemeManager.input-fuzzing.test.ts
  src/theme/utils/themeMerging.input-fuzzing.test.ts
  vitest.stryker.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Refactor tests and utility functions for improved clarity and functionality
  .djlintrc
  .prettierrc
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/src/pages/index.module.css
  docs/docusaurus/src/pages/index.tsx
  electron/managers/ConfigurationManager.ts
  shared/test/fuzzing/errorCatalog.fuzz.test.ts
  shared/test/utils/safeConversions.property.test.ts
  shared/types/chartHybrid.ts
  src/test/components/AddSiteForm/AddSiteForm.input-fuzzing.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCard.input-fuzzing.test.tsx
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/components/SiteDetails/ScreenshotThumbnail.basic.test.tsx
  src/test/components/shared/FormErrorAlert.input-fuzzing.test.tsx
  src/test/components/shared/SaveButton.input-fuzzing.test.tsx
  src/test/hooks/useAddSiteForm.comprehensive.test.ts
  src/test/services/chartConfig.input-fuzzing.test.ts
  src/test/stores/error/useErrorStore.input-fuzzing.test.ts
  src/test/stores/error/useErrorStore.test.ts
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
  src/test/utils/database.comprehensive-fuzzing.test.ts
  src/test/utils/fallbacks.property.test.ts
  src/test/utils/ipc.comprehensive-fuzzing.test.ts
  src/test/utils/jsonSafety.advanced-fuzzing.test.ts
  src/test/utils/state-management.comprehensive-fuzzing.test.ts
  src/test/utils/typeGuards.advanced-fuzzing.test.ts
  src/test/utils/validation.comprehensive-fuzzing.test.ts
  src/theme/utils/themeMerging.input-fuzzing.test.ts
  src/theme/utils/themeMerging.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

Bump version to 14.4.0
  package.json
Due: prettier --write --cache

🧪 [test] Achieve 100% property-based coverage in shared and stores utils
  .github/CleanReleases.ps1
  .github/chatmodes/BeastMode.chatmode.md
  .vscode/launch.json
  electron/services/monitoring/DnsMonitor.ts
  shared/test/fuzzing/errorCatalog.fuzz.test.ts
  shared/test/fuzzing/typeGuards.fuzz.test.ts
  shared/test/fuzzing/typeHelpers.fuzz.test.ts
  shared/test/types.fast-check-comprehensive.test.ts
  shared/test/utils/abortUtils.function-coverage.test.ts
  shared/test/utils/errorCatalog.function-coverage.test.ts
  shared/test/utils/jsonSafety.test.ts
  shared/test/utils/safeConversions.test.ts
  shared/test/validation.fast-check-comprehensive.test.ts
  shared/test/validatorUtils.property.test.ts
  shared/utils/abortUtils.ts
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/stores/error/useErrorStore.ts
  src/stores/sites/useSiteSync.ts
  src/stores/utils.ts
  src/test/components/AddSiteForm/AddSiteForm.input-fuzzing.test.tsx
  src/test/stores/sites/utils/fileDownload.fast-check-comprehensive.test.ts
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
  src/test/utils/database.comprehensive-fuzzing.test.ts
  src/test/utils/errorHandling.test.ts
  src/test/utils/monitorTitleFormatters.property.test.ts
  src/test/utils/monitorTitleFormatters.test.ts
  src/theme/utils/themeMerging.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Expand fuzz coverage and fix timing/test logic
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.prompt.md
  .vscode/launch.json
  .vscode/settings.json
  electron/main.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/monitorMapper.ts
  flatpak-build.yml
  package-lock.json
  package.json
  shared/test/fuzzing/abortUtils.fuzz.test.ts
  shared/test/fuzzing/safeConversions.fuzz.test.ts
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/components/shared/formUtils.test.ts
  src/test/hooks/useMonitorTypes.test.ts
  src/test/shared/utils/abortUtils.test.ts
  src/test/stores/error/useErrorStore.test.ts
  src/test/stores/sites/useSitesStore-complete-coverage.test.ts
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
  src/test/utils/database.comprehensive-fuzzing.test.ts
  src/test/utils/jsonSafety.advanced-fuzzing.test.ts
  src/utils/monitorUiHelpers.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Update ESLint config for new eslint-comments plugin
  docs/docusaurus/src/components/GitHubStats.tsx
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  docs/docusaurus/src/hooks/useGitHubStats.ts
  docs/docusaurus/src/pages/index.tsx
  docs/docusaurus/stylelint.config.mjs
  electron/test/fuzzing/backend-validation.fuzz.test.ts
  eslint.config.mjs
  flatpak-build.yml
  package.json
  postcss.config.mjs
  shared/test/fuzzing/validation.working.fuzz.test.ts
  src/hooks/useThemeStyles.ts
  src/stores/sites/utils/fileDownload.ts
  src/theme/themes.ts
  vite.config.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 14.5.0
  package.json
Due: prettier --write --cache

✨ [feat] Integrate Playwright E2E tests with CI and linting
  .github/workflows/playwright.yml
  .gitignore
  eslint.config.mjs
  package-lock.json
  package.json
  playwright.config.ts
  playwright/fixtures/global-setup.js
  playwright/fixtures/global-setup.ts
  playwright/fixtures/global-teardown.js
  playwright/fixtures/global-teardown.ts
  playwright/tests/app-launch.e2e.playwright.test.ts
  playwright/tests/main-process.main.playwright.test.ts
  playwright/tests/renderer-process.renderer.playwright.test.ts
  playwright/tests/ui-addsiteform.ui.playwright.test.ts
  playwright/tests/ui-monitoring-button.ui.playwright.test.ts
  playwright/tsconfig.json
  scripts/add-playwright-annotations.ts
  src/test/shared/utils/abortUtils.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Refactors Playwright tests for improved locator usage and accessibility
  playwright/tests/app-launch.comprehensive.e2e.playwright.test.ts
  playwright/tests/e2e-comprehensive-user-workflows.e2e.playwright.test.ts
  playwright/tests/ui-addsiteform.ui.playwright.test.ts
  playwright/tests/ui-monitoring-button.ui.playwright.test.ts
  scripts/codegen.mjs
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

✨ [feat] Add comprehensive Playwright E2E, accessibility, and compatibility test suites
  docs/PLAYWRIGHT_CODEGEN_GUIDE.md
  eslint.config.mjs
  index.html
  package.json
  playwright.config.ts
  playwright/fixtures/global-teardown.js
  playwright/tests/app-launch.comprehensive.e2e.playwright.test.ts
  playwright/tests/app-launch.e2e.playwright.test.ts
  playwright/tests/e2e-basic-accessibility.e2e.playwright.test.ts
  playwright/tests/e2e-comprehensive-accessibility.e2e.playwright.test.ts
  playwright/tests/e2e-comprehensive-user-workflows.e2e.playwright.test.ts
  playwright/tests/e2e-cross-browser.e2e.playwright.test.ts
  playwright/tests/e2e-edge-cases.e2e.playwright.test.ts
  playwright/tests/main-process.main.playwright.test.ts
  playwright/tests/renderer-process.renderer.playwright.test.ts
  playwright/tests/ui-monitoring-button.ui.playwright.test.ts
  playwright/tsconfig.json
  scripts/add-playwright-annotations.ts
  scripts/codegen.mjs
  src/App.tsx
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Update prompt formatting and tool lists for coverage tasks
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.prompt.md
Due: markdownlint --fix --cache

Bump version to 14.6.0
  package.json
Due: prettier --write --cache

chore: format code with Prettier [skip-ci]
  CONTRIBUTING.md
  docs/Architecture/ADRs/ADR-001-Repository-Pattern.md
  docs/Architecture/Patterns/Component-Props-Standards.md
  docs/Architecture/TSDoc-Standards.md
  docs/Architecture/Templates/IPC-Handler-Template.md
  docs/Architecture/Templates/Repository-Template-Clean.md
  docs/Architecture/Templates/Repository-Template.md
  docs/Architecture/Templates/Zustand-Store-Template.md
  docs/Guides/AI-CONTEXT.md
  docs/Guides/DOCUSAURUS-SETUP-GUIDE.md
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Guides/LOGGER_MIGRATION_COMPLETE_REPORT.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/TESTING.md
  docs/Guides/UI-Feature-Development-Guide.md
  docs/PLAYWRIGHT_CODEGEN_GUIDE.md
  docs/TSDoc/TSDoc-Home.md
  docs/TSDoc/TSDoc-Package-Tsdoc.md
  docs/TSDoc/TSDoc-Spec-TagKinds.md
  docs/TSDoc/TSDoc-Tag-Example.md
  docs/Test-And-Documentation-Improvements-Summary.md
  docs/docusaurus/src/pages/docsearch-verify.md
  docs/docusaurus/src/pages/index.module.css
  src/index.css
  src/theme/components.css
Due: markdownlint --fix --cache, prettier --write --cache, stylelint --fix --cache

Delete docs/docusaurus/stylelintcache
  docs/docusaurus/stylelintcache
Due: none

✨ [feat] Add comprehensive Playwright E2E, UI, and error handling tests
  docs/CODEGEN-BEST-PRACTICES.md
  docs/CODEGEN_TEMPLATE_USAGE.md
  electron/main.ts
  electron/test/main.comprehensive.test.ts
  electron/test/main.missing-branches.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  playwright.config.ts
  playwright/codegen-template.mjs
  playwright/fixtures/global-setup.js
  playwright/fixtures/global-setup.ts
  playwright/fixtures/global-teardown.js
  playwright/fixtures/global-teardown.ts
  playwright/tests/accessibility-performance.playwright.test.ts
  playwright/tests/component-ui-comprehensive.playwright.test.ts
  playwright/tests/e2e-complete-workflows.e2e.playwright.test.ts
  playwright/tests/edge-cases-error-handling.playwright.test.ts
  playwright/tests/ui-addsiteform.ui.playwright.test.ts
  playwright/tests/ui-theme-switch.ui.playwright.test.ts
  playwright/tsconfig.json
  scripts/codegen.mjs
  scripts/transform-test.mjs
  shared/test/strictTests/typeGuards-complete-coverage.test.ts
  src/test/components/shared/FormErrorAlert.input-fuzzing.test.tsx
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Streamline code samples, improve clarity, update formatting
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/workflows/playwright.yml
  .prettierignore
  .vscode/settings.json
  docs/Architecture/ADRs/ADR-001-Repository-Pattern.md
  docs/Architecture/Patterns/Component-Props-Standards.md
  docs/Architecture/TSDoc-Standards.md
  docs/Architecture/Templates/IPC-Handler-Template.md
  docs/Architecture/Templates/Repository-Template-Clean.md
  docs/Architecture/Templates/Repository-Template.md
  docs/Architecture/Templates/Zustand-Store-Template.md
  docs/Guides/AI-CONTEXT.md
  docs/Guides/UI-Feature-Development-Guide.md
  docs/Test-And-Documentation-Improvements-Summary.md
  docs/docusaurus/src/pages/docsearch-verify.md
  playwright/tests/accessibility-performance.playwright.test.ts
  playwright/tests/edge-cases-error-handling.playwright.test.ts
  playwright/tests/main-process.main.playwright.test.ts
  src/test/components/Settings/Settings.input-fuzzing.test.tsx
  src/test/stores/error/useErrorStore.input-fuzzing.test.ts
  src/test/utils/fallbacks.property.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🚜 [refactor] Centralize Electron test app launch logic
  playwright/fixtures/electron-helpers.ts
  playwright/tests/app-launch.e2e.playwright.test.ts
  playwright/tests/e2e-basic-accessibility.e2e.playwright.test.ts
  playwright/tests/main-process.main.playwright.test.ts
  playwright/tests/ui-addsiteform.ui.playwright.test.ts
  playwright/tests/ui-monitoring-button.ui.playwright.test.ts
  playwright/tests/ui-theme-switch.ui.playwright.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 14.7.0
  package.json
Due: prettier --write --cache

🧪 [test] Improve store, service, and component coverage
  .github/workflows/codacy-coverage-reporter.yml
  .github/workflows/codecov.yml
  .github/workflows/playwright.yml
  .github/workflows/print-release-asset-sizes.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/stryker-mutation-testing.yml
  config/testing/tsconfig.scripts.json
  electron/test/preload.test.ts
  playwright/tests/main-process.main.playwright.test.ts
  src/test/components/AddSiteForm/AddSiteForm.realistic.test.tsx
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/strictTests/DynamicField.critical.test.tsx
  src/test/strictTests/SiteService.critical.test.ts
  src/test/strictTests/useSiteDetails.critical.test.ts
  src/test/strictTests/useSitesStore.critical.test.ts
  src/test/utils/timeoutUtils.test.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 14.8.0
  package.json
Due: prettier --write --cache

🔧 [build] Update dependencies and Node requirements for ES2024+
  .gitignore
  docs/docusaurus/src/hooks/useGitHubStats.ts
  docs/docusaurus/src/pages/index.tsx
  eslint.config.mjs
  package-lock.json
  package.json
  src/stores/sites/utils/fileDownload.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

Bump version to 14.9.0
  package.json
Due: prettier --write --cache

🧪 [test] Add comprehensive fast-check fuzzing and E2E suites
  electron/events/TypedEventBus.ts
  playwright.config.ts
  playwright/tests/advanced-accessibility-wcag.playwright.test.ts
  playwright/tests/app-comprehensive.e2e.playwright.test.ts
  playwright/tests/app-launch.e2e.playwright.test.ts
  playwright/tests/comprehensive-integration.playwright.test.ts
  playwright/tests/comprehensive-navigation-structure.playwright.test.ts
  playwright/tests/cross-browser-compatibility.playwright.test.ts
  playwright/tests/performance-memory-benchmarks.playwright.test.ts
  playwright/tests/ui-addsiteform-comprehensive.ui.playwright.test.ts
  playwright/tests/ui-addsitemodal-basic.ui.playwright.test.ts
  playwright/tests/ui-debug-app-structure.ui.playwright.test.ts
  playwright/tests/ui-modals-comprehensive.playwright.test.ts
  playwright/utils/ui-helpers.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/test/database/database.comprehensive-fuzzing.test.ts
  src/test/events/event-system.comprehensive-fuzzing.test.ts
  src/test/events/events.comprehensive-fuzzing.test.ts
  src/test/ipc/ipc.comprehensive-fuzzing.test.ts
  src/test/shared/shared-utilities.comprehensive-fuzzing.test.ts
  src/test/stores/stores.comprehensive-fuzzing.test.ts
  src/test/utils/src-utilities.comprehensive-fuzzing.test.ts
  src/theme/components/ThemedButton.tsx
  src/theme/components/ThemedInput.tsx
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

📝 [docs] Revamp Copilot instructions and add testing prompts
  .github/copilot-instructions.md
  .github/copilot-instructions.short.md
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Test-Coverage.2.prompt.md
  eslint.config.mjs
Due: markdownlint --fix --cache

👷 [ci] Harden CI workflows, pin actions, and improve Playwright stability
  .github/workflows/codeql.yml
  .github/workflows/playwright.yml
  .github/workflows/stryker-mutation-testing.yml
  .github/workflows/stylelint.yml
  playwright.config.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Add complete fuzzing coverage for shared utilities
  .github/prompts/Low-Confidence-AI-Review.prompt.md
  electron/UptimeOrchestrator.ts
  electron/main.ts
  electron/managers/DatabaseManager.ts
  electron/services/monitoring/HttpMonitor.ts
  eslint.config.mjs
  playwright.config.ts
  playwright/tests/advanced-accessibility-wcag.playwright.test.ts
  playwright/tests/app-comprehensive.e2e.playwright.test.ts
  playwright/tests/comprehensive-integration.playwright.test.ts
  playwright/tests/comprehensive-navigation-structure.playwright.test.ts
  playwright/tests/cross-browser-compatibility.playwright.test.ts
  playwright/tests/performance-memory-benchmarks.playwright.test.ts
  playwright/tests/ui-addsiteform-comprehensive.ui.playwright.test.ts
  playwright/tests/ui-addsitemodal-basic.ui.playwright.test.ts
  playwright/tests/ui-debug-app-structure.ui.playwright.test.ts
  playwright/tests/ui-modals-comprehensive.playwright.test.ts
  shared/test/fuzzing/stringConversion.comprehensive-coverage.fuzz.test.ts
  shared/test/fuzzing/typeHelpers.comprehensive-coverage.fuzz.test.ts
  shared/utils/abortUtils.comprehensive-coverage.fuzz.test.ts
  shared/utils/environment.comprehensive-coverage.fuzz.test.ts
  shared/utils/objectSafety.comprehensive-coverage.fuzz.test.ts
  shared/utils/safeConversions.comprehensive-coverage.fuzz.test.ts
  shared/utils/siteStatus.ts
  src/test/events/event-system.comprehensive-fuzzing.test.ts
  src/test/ipc/ipc.comprehensive-fuzzing.test.ts
  src/test/shared/shared-utilities.comprehensive-fuzzing.test.ts
  src/test/stores/stores.comprehensive-fuzzing.test.ts
  src/test/utils/src-utilities.comprehensive-fuzzing.test.ts
  src/theme/components/ThemedButton.tsx
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Simplifies and prunes exhaustive fuzzing tests
  .github/prompts/Generate-100%-Playwright-Test-Coverage.2.prompt.md
  .github/prompts/Generate-100%-Playwright-Test-Coverage.prompt.md
  config/testing/tsconfig.test.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  electron/events/TypedEventBus.ts
  package-lock.json
  package.json
  playwright/playwright-mcp.json
  playwright/tests/comprehensive-navigation-structure.playwright.test.ts
  playwright/tests/ui-addsiteform-comprehensive.ui.playwright.test.ts
  playwright/tests/ui-modals-comprehensive.playwright.test.ts
  shared/test/fuzzing/safeConversions.fuzz.test.ts
  shared/test/fuzzing/stringConversion.comprehensive-coverage.fuzz.test.ts
  shared/utils/safeConversions.comprehensive-coverage.fuzz.test.ts
  shared/utils/safeConversions.ts
  shared/utils/siteStatus.ts
  shared/utils/stringConversion.ts
  shared/utils/typeHelpers.ts
  src/test/ipc/ipc.comprehensive-fuzzing.test.ts
  src/test/shared/shared-utilities.comprehensive-fuzzing.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/test/stores/stores.comprehensive-fuzzing.test.ts
  temp-excluded-tests/ipc.comprehensive-fuzzing.test.ts
  temp-excluded-tests/shared-utilities.comprehensive-fuzzing.test.ts
  temp-excluded-tests/src-utilities.comprehensive-fuzzing.test.ts
  temp-excluded-tests/stores.comprehensive-fuzzing.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

Path conditions:
  https://www.schemastore.org/lintstagedrc.schema.json: any of: $schema
  markdownlint --fix --cache: any of: *.md
  eslint --fix --cache --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,yaml,yml})
  stylelint --fix --cache: any of: *.{css,scss}
