Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix"],
    "*.{css,scss}": ["stylelint --fix"],
    "*.md": ["markdownlint --fix"],
    "*.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}": ["prettier --write"]
}

Bump version to 2.9.0
  package.json
Due: prettier --write

🧹 [chore] Update ignores for typings and dist directories
  .gitignore
  .vscode/settings.json
Due: prettier --write

Bump version to 3.0.0
  package.json
Due: prettier --write

chore: update package.json scripts and dependencies
  .gitignore
  .vscode/launch.json
  .yamllint
  eslint.config.mjs
  package-lock.json
  package.json
  postcss.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

🔧 [build] Downgrade Electron builder deps, add git-cliff
  .github/dependabot.yml
  .yamllint
  _config.yml
  package-lock.json
  package.json
Due: prettier --write

🚜 [refactor] Standardizes DB null handling and improves WASM setup
  .github/instructions/copilot-instructions-short.md
  docs/Design-Plan.md
  electron/uptimeMonitor.ts
  scripts/download-sqlite3-wasm.mjs
Due: eslint --fix, markdownlint --fix, prettier --write

🔧 [build] Update path import to use namespace import syntax
  electron/uptimeMonitor.ts
  package.json
Due: eslint --fix, prettier --write

🔧 [build] Update dependencies and enhance spelling config
  .vscode/settings.json
  cspell.json
  custom-words.txt
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

🎨 [style] Refines className ordering and layout consistency
  .prettierrc
  custom-words.txt
  eslint.config.mjs
  src/components/Header.tsx
  src/components/SiteDetails.tsx
Due: eslint --fix, prettier --write

Update flatpak-build.yml
  .github/workflows/flatpak-build.yml
Due: prettier --write

Bump version to 3.1.0
  package.json
Due: prettier --write

🚜 [refactor] Restructure components and remove legacy docs
  docs/AddSiteForm.md
  docs/instructions/copilot-instructions-short.md
  docs/instructions/copilot-instructions.md
  docs/refactor.md
  docs/refactor2.md
  io.github.uptimewatcher.desktop
  src/App.tsx
  src/components/AddSiteForm.tsx
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/FormFields.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/AddSiteForm/useAddSiteForm.ts
  src/components/Dashboard/SiteCard.tsx
  src/components/Dashboard/SiteList.tsx
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/SiteDetails.css
  src/components/SiteDetails/SiteDetails.tsx
  src/store.ts
  src/theme/components.tsx
  src/utils/data/generateUuid.ts
Due: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

Update _config.yml
  _config.yml
Due: prettier --write

🛠️ [fix] Improve form validation using validator library
  .markdownlintignore
  cspell.json
  custom-words.txt
  docs/Validator.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/AddSiteForm/Submit.tsx
Due: eslint --fix, markdownlint --fix, prettier --write

🚜 [refactor] Remove site list/card components and optimize form fields
  .hintrc
  custom-words.txt
  docs/AddSiteForm-Optimization-Summary.md
  docs/Event-Handling-Logger-Integration-Summary.md
  docs/Performance-Optimization-Summary.md
  docs/refactor.md
  docs/refactor3.md
  package.json
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/FormFields.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/Dashboard/SiteCard.tsx
  src/components/Dashboard/SiteCard/SiteCardFooter.tsx
  src/components/Dashboard/SiteCard/SiteCardHeader.tsx
  src/components/Dashboard/SiteCard/SiteCardHistory.tsx
  src/components/Dashboard/SiteCard/SiteCardMetrics.tsx
  src/components/Dashboard/SiteCard/SiteCardStatus.tsx
  src/components/Dashboard/SiteCard/components/ActionButtonGroup.tsx
  src/components/Dashboard/SiteCard/components/MetricCard.tsx
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/components/Dashboard/SiteCard/components/index.ts
  src/components/Dashboard/SiteCard/index.tsx
  src/components/Dashboard/SiteList.tsx
  src/components/Dashboard/SiteList/EmptyState.tsx
  src/components/Dashboard/SiteList/index.tsx
  src/components/common/HistoryChart.tsx
  src/components/common/StatusBadge.tsx
  src/components/common/index.ts
  src/hooks/site/index.ts
  src/hooks/site/useSite.ts
  src/hooks/site/useSiteActions.ts
  src/hooks/site/useSiteMonitor.ts
  src/hooks/site/useSiteStats.ts
Due: eslint --fix, markdownlint --fix, prettier --write

Bump version to 3.2.0
  package.json
Due: prettier --write

🚜 [refactor] Modularize and document SiteDetails; improve project structure
  .github/chatmodes/Debugging.chatmode.md
  .github/chatmodes/Docs.chatmode.md
  .github/chatmodes/Explore.chatmode.md
  .github/chatmodes/Migration.chatmode.md
  .github/chatmodes/Performance.chatmode.md
  .github/chatmodes/Questions.chatmode.md
  .github/chatmodes/Refactor.chatmode.md
  .github/chatmodes/Review.chatmode.md
  .github/chatmodes/Security.chatmode.md
  .github/chatmodes/Tests.chatmode.md
  .github/prompts/Electron IPC Security.prompt.md
  .github/prompts/React Component.prompt.md
  .github/prompts/React Hook.prompt.md
  .github/prompts/React Zustland Hook.prompt.md
  .github/prompts/TS Interface.prompt.md
  .vscode/settings.json
  .wordlist.txt
  cspell.json
  docs/SiteDetails-Refactoring-Summary.md
  docs/SitedetailsMigration.md
  project-words.txt
Due: markdownlint --fix, prettier --write

🚜 [refactor] Modularize and streamline site details UI
  electron/uptimeMonitor.ts
  src/components/Dashboard/SiteCard/SiteCardHistory.tsx
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/SiteDetails/index.ts
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/components/SiteDetails/tabs/SettingsTab.tsx
  src/components/SiteDetails/tabs/index.ts
  src/hooks/useSiteDetails.ts
  src/services/logger.ts
Due: eslint --fix, prettier --write

🚜 [refactor] Move site hooks to dedicated subfolder
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/tabs/AnalyticsTab.tsx
  src/hooks/site/useSiteAnalytics.ts
  src/hooks/site/useSiteDetails.ts
Due: eslint --fix, prettier --write

Bump version to 3.3.0
  package.json
Due: prettier --write

Update prettier.yml
  .github/workflows/prettier.yml
Due: prettier --write

Bump version to 3.4.0
  package.json
Due: prettier --write

📝 [docs] Update docs for repo URLs, interval options, and security details
  .github/workflows/jekyll-gh-pages.yml
  README.md
  docs/404.md
  docs/Documentation-Accuracy-Review.md
  docs/Documentation-Review-Complete.md
  docs/GitHub-Pages-Setup-Summary.md
  docs/HTTP-Monitoring-Documentation-Corrections-Summary.md
  docs/_config.yml
  docs/api/index.md
  docs/api/monitor-api.md
  docs/component-docs/AddSiteForm-Components.md
  docs/component-docs/index.md
  docs/guides/FAQ.md
  docs/guides/Feature-Development-Guide.md
  docs/guides/New-Monitor-Types-Implementation-Plan.md
  docs/guides/Performance-Guide.md
  docs/guides/Security-Guide.md
  docs/guides/Troubleshooting.md
  docs/guides/index.md
  docs/index.md
Due: markdownlint --fix, prettier --write

⭐ feat: update dependencies and integrate Vite MCP plugin
  .vscode/settings.json
  docs/Vite-MCP-Configuration.md
  docs/index.md
  electron/main.ts
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, markdownlint --fix, prettier --write

Update theme-api.md
  docs/api/theme-api.md
Due: markdownlint --fix, prettier --write

📝 [docs] Add raw blocks and enforce code fence style in docs
  .markdownlint.json
  docs/api/hook-apis.md
  docs/api/theme-api.md
Due: markdownlint --fix, prettier --write

📝 [docs] Update all docs to use directory-style links
  docs/README.md
  docs/_config.yml
  docs/api/README.md
  docs/api/chart-api.md
  docs/api/database-api.md
  docs/api/hook-apis.md
  docs/api/index.md
  docs/api/ipc-api.md
  docs/api/logger-api.md
  docs/api/monitor-api.md
  docs/api/notification-api.md
  docs/api/store-api.md
  docs/api/theme-api.md
  docs/api/types-api.md
  docs/api/utilities-api.md
  docs/api/validation-utils-api.md
  docs/component-docs/README.md
  docs/component-docs/index.md
  docs/guides/Developer-Guide.md
  docs/guides/Documentation-Contribution.md
  docs/guides/FAQ.md
  docs/guides/Feature-Development-Guide.md
  docs/guides/IPC-API-Reference.md
  docs/guides/Performance-Guide.md
  docs/guides/Security-Guide.md
  docs/guides/Theme-Usage.md
  docs/guides/Troubleshooting.md
  docs/guides/index.md
  docs/index.md
  docs/instructions/copilot-instructions.md
  fix-markdown-links-improved.ps1
  fix-markdown-links.ps1
Due: markdownlint --fix, prettier --write

🔧 [build] Switch to local Jekyll theme and remove remote plugin
  docs/_config.yml
Due: prettier --write

📝 [docs] Update all docs for consistent, extensionless internal links
  docs/404.md
  docs/README.md
  docs/api/README.md
  docs/api/chart-api.md
  docs/api/database-api.md
  docs/api/hook-apis.md
  docs/api/index.md
  docs/api/ipc-api.md
  docs/api/logger-api.md
  docs/api/monitor-api.md
  docs/api/notification-api.md
  docs/api/store-api.md
  docs/api/theme-api.md
  docs/api/types-api.md
  docs/api/utilities-api.md
  docs/api/validation-utils-api.md
  docs/assets/images/404-robot.png
  docs/component-docs/README.md
  docs/guides/Developer-Guide.md
  docs/guides/Documentation-Contribution.md
  docs/guides/FAQ.md
  docs/guides/IPC-API-Reference.md
  docs/guides/Performance-Guide.md
  docs/guides/Security-Guide.md
  docs/guides/Theme-Usage.md
  docs/guides/Troubleshooting.md
  docs/guides/index.md
  docs/index.md
  fix-trailing-slashes.ps1
  package-lock.json
  package.json
Due: markdownlint --fix, prettier --write

📝 [docs] Remove custom 404 page and update markdownlint config
  .markdownlint.json
  docs/404.html
  docs/404.md
Due: markdownlint --fix, prettier --write

📝 [docs] Replace custom 404 HTML with Markdown version
  docs/404.html
  docs/404.md
Due: markdownlint --fix, prettier --write

📝 [docs] Revamps and expands component and API documentation
  .markdownlint.json
  docs/404.md
  docs/api/chart-api.md
  docs/api/database-api.md
  docs/api/hook-apis.md
  docs/api/ipc-api.md
  docs/component-docs/AddSiteForm-Components.md
  docs/component-docs/AddSiteForm.md
  docs/component-docs/Common-Components.md
  docs/component-docs/Dashboard.md
  docs/component-docs/Header.md
  docs/component-docs/README.md
  docs/component-docs/Settings.md
  docs/component-docs/SiteCard-Components.md
  docs/component-docs/SiteDetails-Refactoring-Summary.copilotmd
  docs/component-docs/SiteDetails-Tab-Components.md
  docs/component-docs/SiteDetails.md
  docs/component-docs/SiteList-Components.md
Due: markdownlint --fix, prettier --write
