Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, markdownlint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix"],
    "*.{css,scss}": ["stylelint --fix"],
    "*.md": ["markdownlint --fix"],
    "*.{js,jsx,ts,tsx,css,scss,md,json,yaml,yml}": ["prettier --write"]
}

📝 [docs] Improve and standardize TSDoc comments across codebase
  .github/prompts/TSDoc-Improvements-Checklist.prompt.md
  electron/UptimeOrchestrator.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/SiteRepository.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/HttpMonitor.ts
  electron/services/monitoring/MigrationSystem.ts
  electron/services/monitoring/MonitorFactory.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/utils/errorHandling.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/monitoring/utils/httpStatusUtils.ts
  electron/services/monitoring/utils/portChecker.ts
  electron/services/monitoring/utils/portErrorHandling.ts
  electron/services/monitoring/utils/portRetry.ts
  package-lock.json
  package.json
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Add Codacy AI instructions and update ignore rules
  .github/instructions/copilot-instructions-codacy.md
  .github/instructions/copilot-instructions-old-2.md
  .github/instructions/copilot-instructions-old.md
  .gitignore
Due: markdownlint --fix, prettier --write

✨ [feat] Standardize IPC, QA, and import patterns for consistency
  .github/workflows/codacy-coverage-reporter.yml
  Fix-Plan.md
  docs/API/IPC-Standardization-Guide.md
  docs/API/Phase4-Quality-Assurance-Guide.md
  electron/UptimeOrchestrator.ts
  electron/events/middleware.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/database/utils/historyManipulation.ts
  electron/services/ipc/IpcService.ts
  electron/services/ipc/index.ts
  electron/services/ipc/types.ts
  electron/services/ipc/utils.ts
  electron/services/ipc/validators.ts
  electron/test/patterns/console-remediation.test.ts
  electron/test/patterns/import-audit.test.ts
  electron/test/performance/optimization-review.test.ts
  electron/test/services/ipc/standardization.test.ts
  electron/utils/monitoring/monitorStatusChecker.ts
  src/App.tsx
  src/hooks/site/useSiteAnalytics.ts
  src/hooks/useMonitorFields.ts
  src/stores/sites/services/SiteService.ts
  src/test/final.coverage.enhancement.simplified.test.tsx
  src/types/ipc.ts
  src/utils/monitorTypeHelper.ts
  src/utils/monitorUiHelpers.ts
Due: eslint --fix, markdownlint --fix, prettier --write

Bump version to 8.6.0
  package.json
Due: prettier --write

🎨 [style] Reformat config files for improved readability
  .prettierignore
  eslint.config.mjs
  tsconfig.json
Due: prettier --write

🚜 [refactor] Streamline backend status updates & code quality
  .github/workflows/codacy-coverage-reporter.yml
  docs/Quality-Analysis/Code-Quality-Review.md
  electron/events/eventTypes.ts
  electron/events/middleware.ts
  electron/main.ts
  electron/managers/DatabaseManager.ts
  electron/managers/MonitorManager.ts
  electron/managers/SiteManager.ts
  electron/services/database/MonitorRepository.ts
  electron/services/database/SettingsRepository.ts
  electron/services/database/utils/databaseSchema.ts
  electron/services/database/utils/dynamicSchema.ts
  electron/services/ipc/utils.ts
  electron/services/monitoring/utils/httpStatusUtils.ts
  electron/utils/operationalHooks.ts
  package.json
  shared/utils/validation.ts
  shared/validation/schemas.ts
  src/components/Dashboard/SiteCard/SiteCardHistory.tsx
  src/components/Settings/Settings.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/services/logger.ts
  src/stores/settings/useSettingsStore.ts
  src/stores/sites/useSiteSync.ts
  src/stores/sites/utils/statusUpdateHandler.ts
  src/test/Settings.invalid-key.test.tsx
  src/test/SiteCardMetrics.test.tsx
  src/test/monitorOperations.test.ts
  src/theme/useTheme.ts
Due: eslint --fix, markdownlint --fix, prettier --write

📝 [docs] Improve formatting and clarity in quality review
  .github/workflows/codacy-coverage-reporter.yml
  docs/Quality-Analysis/Code-Quality-Review.md
  src/stores/settings/useSettingsStore.ts
  src/stores/sites/utils/statusUpdateHandler.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🔧 [build] Enhance jscpd config and scripts; add badge reporter
  .jscpd.json
  package-lock.json
  package.json
Due: prettier --write

Bump version to 8.7.0
  package.json
Due: prettier --write

Bump version to 8.8.0
  package.json
Due: prettier --write

chore: format code with Prettier [skip-ci]
  docs/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Reviews/LC.AI.R-SharedUtilities.md
Due: markdownlint --fix, prettier --write

👷 [ci] Allow coverage jobs to continue on error
  .github/workflows/codacy-coverage-reporter.yml
  src/utils/data/generateUuid.ts
Due: eslint --fix, prettier --write

🧪 [test] Refactors and fixes unit tests for improved reliability
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  electron/test/events/TypedEventBus.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/monitoring/utils/httpStatusUtils.test.ts
  electron/test/utils/cache/StandardizedCache.test.ts
  electron/test/utils/logger.test.ts
  electron/test/utils/monitoring/monitorIdentifiers.test.ts
  src/test/ThemeManager.test.ts
Due: eslint --fix, markdownlint --fix, prettier --write

Bump version to 8.9.0
  package.json
Due: prettier --write

🧪 [test] Update unit tests for consistency and modern style
  docs/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  electron/test/events/TypedEventBus.test.ts
  electron/test/managers/MonitorManager.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/monitoring/utils/httpStatusUtils.test.ts
  electron/test/utils/cache/StandardizedCache.test.ts
  electron/test/utils/logger.test.ts
  electron/test/utils/monitoring/monitorIdentifiers.test.ts
  electron/test/utils/monitoring/monitorLifecycle.test.ts
  src/test/ThemeManager.test.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🧪 [test] Remove unused monitor types test file
  electron/test/managers/MonitorManager.test.ts
  shared/types/monitorTypes.test.ts
Due: eslint --fix, prettier --write

🔧 [build] Update linting tools and add unused exports checks
  .pre-commit-config.yaml
  package-lock.json
  package.json
Due: prettier --write

[StepSecurity] Apply security best practices
  .github/dependabot.yml
  .github/workflows/codacy-coverage-reporter.yml
Due: prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

Bump version to 9.0.0
  package.json
Due: prettier --write

⚡ [perf] Memoize callbacks and options in form fields
  electron/events/middleware.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/DynamicMonitorFields.tsx
Due: eslint --fix, prettier --write

📝 [docs] Add AI claim review & final report; clean up code
  docs/Reviews/LC.AI.R-DeepScan-Findings.md
  docs/Reviews/LC.AI.R-Final-Report.md
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/services/ServiceContainer.test.ts
  eslint.config.mjs
  package.json
  src/test/final.coverage.enhancement.simplified.test.tsx
Due: eslint --fix, markdownlint --fix, prettier --write

👷 [ci] Enforces npm install with --force in workflows
  .github/workflows/Build.yml
  .github/workflows/codecov-alternative.yml
  .github/workflows/codecov.yml
  .github/workflows/codeql.yml
  .github/workflows/flatpak-build.yml
  .github/workflows/prettier.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/updateChangeLogs.yml
Due: prettier --write

Bump version to 9.1.0
  package.json
Due: prettier --write

🔧 [build] Update Electron build deps, CI, and coverage paths
  .github/workflows/codacy-coverage-reporter.yml
  .github/workflows/npm-audit.yml
  CodeReport.txt
  electron/main.ts
  package-lock.json
Due: eslint --fix, prettier --write

👷 [ci] Update workflow to improve build reliability
  .github/workflows/codeql.yml
Due: prettier --write

👷 [ci] Remove scheduled and release triggers from workflow
  .github/workflows/print-release-asset-sizes.yml
Due: prettier --write

🧹 [chore] Remove unused API Extractor dev dependency
  package-lock.json
  package.json
Due: prettier --write

🔧 [build] Excludes Docusaurus docs from linting and updates tsconfig root dir
  eslint.config.mjs
Due: none

📝 [docs] Improve clarity and structure in review reports
  .github/workflows/codeql.yml
  docs/Reviews/LC.AI.R-CodeReport.md
  docs/Reviews/LC.AI.R-DeepScan-Findings.md
  docs/Reviews/LC.AI.R-Final-Report.md
  electron/test/UptimeOrchestrator.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/services/ServiceContainer.test.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, markdownlint --fix, prettier --write

Bump version to 9.2.0
  package.json
Due: prettier --write

🧪 [test] Achieve 90%+ branch coverage for core components and services
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  electron/services/database/utils/valueConverters.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/main.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/utils/valueConverters.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/monitoring/monitorTypes.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/utils/correlation.test.ts
  electron/test/utils/interfaces.test.ts
  src/test/theme/components.comprehensive.test.tsx
  src/test/useSettingsStore.test.ts
Due: eslint --fix, markdownlint --fix, prettier --write

🧹 [chore] Standardize output commands, add Grype, update lint configs
  .cspell.json
  .devskim.json
  .github/Update-ChangeLogs.ps1
  .github/workflows/codacy-coverage-reporter.yml
  .gitignore
  .grype.yaml
  .jscpd.json
  .markdownlintignore
  .mega-linter.yml
  custom-words.txt
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  lychee.toml
  package-lock.json
  package.json
  scripts/Analyze-ProjectFiles-SrcElectron.ps1
  scripts/Analyze-ProjectFiles.ps1
  scripts/List-Files.ps1
  scripts/add-cspell-words.mjs
  scripts/getFileSizes.ps1
  scripts/rename-tests.ps1
  scripts/setup-metrics-branch.ps1
Due: prettier --write

📝 [docs] Remove obsolete audit, analysis, and remediation docs
  CONSOLE_TRYAATCH_REMEDIATION.md
  CodeReport.txt
  ESLINT_PLUGIN_N_ANALYSIS.md
  Fix-Plan.md
  docs/Quality-Analysis/Code-Quality-Review.md
  docs/tsdoc-errors.txt
Due: markdownlint --fix, prettier --write

🧪 [test] Streamline and expand component test suite formatting
  .cspell.json
  .github/prompts/Generate-100%-Test-Coverage.prompt.md
  .github/workflows/codacy-coverage-reporter.yml
  docs/Reviews/LC.AI.R-LowConfidenceClaims.md
  electron/services/database/utils/dynamicSchema.ts
  electron/test/main.test.ts
  electron/test/managers/DatabaseManager.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/services/database/utils/valueConverters.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/monitoring/monitorTypes.test.ts
  electron/test/utils/correlation.test.ts
  electron/test/utils/interfaces.test.ts
  electron/test/utils/logger.test.ts
  package.json
  scripts/add-cspell-words.mjs
  src/test/theme/components.comprehensive.test.tsx
Due: eslint --fix, markdownlint --fix, prettier --write

🧪 [test] Remove unused theme component imports from tests
  src/test/theme/components.comprehensive.test.tsx
Due: eslint --fix, prettier --write
