Repository Nick2bad4u/Uptime-Watcher: changes, and which lint-staged commands are due for each by the changed paths.
All: https://www.schemastore.org/lintstagedrc.schema.json, markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache, stylelint --fix --cache

🛠️ [fix] Guard OAuth credential races
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveTokenManager.ts
  electron/test/services/cloud/providers/dropbox/DropboxTokenManager.test.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveTokenManager.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Publish restore success after cache reload
  electron/services/commands/DatabaseCommands.ts
  electron/services/database/DataBackupService.ts
  electron/test/services/commands/DatabaseCommands.test.ts
  electron/test/utils/database/DataBackupService.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Roll back failed provider connections
  electron/services/cloud/CloudService.providerOperations.ts
  electron/services/cloud/internal/providerConnectionState.ts
  electron/test/services/cloud/CloudService.providerOperations.test.ts
  electron/test/services/cloud/internal/providerConnectionState.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Serialize cloud operations
  electron/services/cloud/CloudService.ts
  electron/test/services/cloud/CloudService.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Complete disconnect cleanup after failures
  electron/services/cloud/CloudService.providerOperations.ts
  electron/test/services/cloud/CloudService.providerOperations.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Complete teardown after cleanup failures
  electron/services/application/ApplicationService.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Roll back failed application startup
  electron/services/application/ApplicationService.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Isolate subscription lifecycle hooks
  src/stores/utils/refCountedAsyncSubscription.ts
  src/test/stores/refCountedAsyncSubscription.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Ignore stale settings hydration results
  src/stores/settings/hydration.ts
  src/test/stores/settings/hydration.race.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Order renderer cloud status updates
  src/components/Settings/cloud/CloudProviderSetupPanel.DisconnectControl.tsx
  src/components/Settings/cloud/CloudProviderSetupPanel.OAuthProviderPanel.tsx
  src/components/Settings/cloud/CloudProviderSetupPanel.ProviderPanel.tsx
  src/components/Settings/cloud/CloudProviderSetupPanel.tsx
  src/stores/cloud/useCloudStore.ts
  src/test/stores/cloud/useCloudStore.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Close details after site deletion
  src/hooks/site/useSiteDetails.handlers.ts
  src/hooks/site/useSiteDetails.operations.ts
  src/hooks/site/useSiteDetails.ts
  src/hooks/site/useSiteDetails.uiStore.ts
  src/stores/ui/types.ts
  src/stores/ui/useUiStore.ts
  src/test/hooks/site/useSiteDetails.test.ts
  src/test/stores/ui/useUiStore.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Read import settings inside transaction
  electron/services/database/DataImportExportService.ts
  electron/services/database/SettingsRepository.ts
  electron/test/fuzzing/import-export.fuzz.test.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Keep updater status process-local
  src/stores/updates/useUpdatesStore.ts
  src/test/useUpdatesStore.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Type import fuzz settings adapter
  electron/test/fuzzing/import-export.fuzz.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛠️ [fix] Reconcile updater status after startup
  docs/Architecture/generated/IPC_CHANNEL_INVENTORY.md
  electron/preload/domains/eventsApi.ts
  electron/preload/domains/systemApi.ts
  electron/services/ipc/handlers/systemHandlers.ts
  electron/services/ipc/validators/system.ts
  electron/services/updater/AutoUpdaterService.ts
  electron/test/preload/domains/systemApi.comprehensive.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
  shared/types/events.ts
  shared/types/ipc.ts
  shared/types/preload.ts
  shared/validation/updateStatusSchemas.ts
  src/services/SystemService.ts
  src/stores/updates/useUpdatesStore.ts
  src/test/mock-setup.ts
  src/test/services/SystemService.comprehensive.test.ts
  src/test/useUpdatesStore.test.ts
  tests/strictTests/src/stores/updates/useUpdatesStore.test.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🔒 [security] Require signed release artifacts
  .github/workflows/Build.yml
  docs/Architecture/ADRs/ADR_031_PACKAGING_SIGNING_AND_NOTARIZATION_POLICY.md
  electron-builder.config.ts
Due: markdownlint --fix --cache, eslint --fix --cache --max-warnings=0, prettier --write --cache

🔧 [fix] Fail releases when publishing fails
  .github/workflows/Build.yml
Due: prettier --write --cache

🗄️ [fix] Export one database snapshot
  electron/services/database/DataImportExportService.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🚀 [fix] Tag releases after artifact validation
  .github/workflows/Build.yml
Due: prettier --write --cache

📝 [fix] Fail releases on changelog push errors
  .github/workflows/Build.yml
Due: prettier --write --cache

🛡️ [fix] Preserve fatal shutdown exit codes
  electron/main.ts
  electron/test/main.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [fix] Serialize application cleanup
  electron/services/application/ApplicationService.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

⚙️ [fix] Serialize settings reset writes
  src/stores/settings/operations.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

⏱️ [fix] Reconcile removed monitor schedules
  electron/managers/SiteManager.ts
  electron/managers/siteManager/withRemovedMonitorsStopped.ts
  electron/services/database/SiteWriterService.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/managers/siteManager/withRemovedMonitorsStopped.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛡️ [fix] Fence in-flight monitor checks
  electron/managers/MonitorManagerEnhancedLifecycle.ts
  electron/managers/SiteManager.ts
  electron/managers/siteManager/withRemovedMonitorsStopped.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/services/monitoring/MonitorExecutionFence.ts
  electron/services/monitoring/enhancedMonitorChecker/performCorrelatedCheck.ts
  electron/services/monitoring/enhancedMonitorChecker/performDirectCheck.ts
  electron/services/monitoring/enhancedMonitorChecker/performManualCheck.ts
  electron/services/monitoring/enhancedMonitorChecker/toggleMonitoring.ts
  electron/test/EnhancedMonitorChecker.comprehensive.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/siteManager/withRemovedMonitorsStopped.test.ts
  electron/test/services/monitoring/EnhancedMonitorChecker.lifecycle.test.ts
  electron/test/services/monitoring/enhancedMonitorChecker.performCorrelatedCheck.test.ts
  electron/test/services/monitoring/enhancedMonitorChecker/toggleMonitoringOperation.test.ts
  electron/test/strictTests/enhancedMonitorChecker.helpers.test.ts
  electron/test/strictTests/monitorManager.operations.test.ts
  tests/strictTests/electron/managers/MonitorManagerEnhancedLifecycle.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

⚙️ [fix] Serialize settings backend reads
  src/stores/settings/hydration.ts
  src/stores/settings/operations.ts
  src/test/stores/settings/hydration.race.test.ts
  src/test/stores/settings/useSettingsStore.branches.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔒 [security] Fail closed on window security setup
  electron/services/window/WindowService.ts
  electron/services/window/WindowSessionSecurity.ts
  electron/test/services/window/WindowService.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🛡️ [fix] Confine filesystem prefix listing
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/test/services/cloud/FilesystemCloudStorageProvider.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔐 [fix] Preserve durable cloud secrets
  electron/services/cloud/secrets/SecretStore.ts
  electron/test/services/cloud/secrets/SafeStorageSecretStore.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

⚙️ [fix] Restore cloud provider state last
  electron/services/cloud/internal/providerConnectionState.ts
  electron/test/services/cloud/internal/providerConnectionState.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔄 [fix] Acknowledge applied state sync events
  src/services/StateSyncService.ts
  src/test/services/StateSyncService.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🗄️ [fix] Surface database restore rollback failures
  electron/services/database/DataBackupService.ts
  electron/services/database/dataBackupService/replaceDatabaseFile.ts
  electron/test/services/database/dataBackupService/replaceDatabaseFile.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

⏱️ [fix] Reconcile bulk monitor snapshots
  electron/coordinators/SnapshotSyncCoordinator.ts
  electron/managers/MonitorManager.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/test/UptimeOrchestrator.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🎨 [style] Apply shared formatting
  electron/services/database/dataBackupService/replaceDatabaseFile.ts
  electron/test/services/cloud/secrets/SafeStorageSecretStore.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Wait for monitor type catalog
  playwright/tests/ui-addsitemodal-basic.ui.playwright.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧹 [ci] Remove obsolete automation
  .devskim.json
  .github/workflows/AGENTS.md
  .github/workflows/codacy-coverage-reporter.yml
  .github/workflows/greetings.yml
  .github/workflows/mega-linter.yml
  .github/workflows/rebase.yml
  .github/workflows/release-stats.yml
  .github/workflows/trufflehog-scan-caller.yml
  .github/workflows/updateChangeLogs.yml
  .mega-linter.yml
  .prettierignore
  config/schemas/generic.schema.json
  config/tools/lychee.toml
Due: markdownlint --fix --cache, prettier --write --cache

🚜 [refactor] Resolve production static analysis findings
  electron/services/cloud/providers/googleDrive/googleDriveOAuthTokenRequest.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/shared/configurableMonitorServiceBase.ts
  electron/utils/operationalHooks.ts
  shared/types/cloudSync.ts
  shared/types/cloudSyncSnapshot.ts
  shared/utils/jsonByteBudget.ts
  shared/utils/urlSafety.ts
  shared/validation/validatorUtils.ts
  src/components/SiteDetails/tabs/SettingsTab.MonitoringConfigurationCard.tsx
  src/hooks/site/useSiteDetails.handlers.ts
  src/hooks/site/useSiteDetails.ts
  src/stores/settings/operations.ts
  src/stores/settings/state.ts
  storybook/viteSharedConfig.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🧪 [test] Parameterize repeated static analysis cases
  electron/test/DnsMonitor.comprehensive.test.ts
  electron/test/electronUtils.test.ts
  electron/test/main.cli-lifecycle.test.ts
  electron/test/main.comprehensive.test.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
  electron/test/utils/utils.test.ts
  electron/test/validators.complete.test.ts
  shared/test/types.test.ts
  shared/test/utils/abortUtils.behavior.test.ts
  shared/test/utils/environment.comprehensive.test.ts
  shared/test/utils/errorCatalog.comprehensive.test.ts
  shared/test/utils/siteStatus.comprehensive.test.ts
  shared/test/utils/urlSafety.test.ts
  shared/test/validation/schemas.test.ts
  src/test/abortUtils.behavior.test.ts
  src/test/components/AddSiteForm/AddSiteForm.enhanced.test.tsx
  src/test/components/SiteDetails/tabs/AnalyticsTab.comprehensive.test.tsx
  src/test/services/ipcServiceHelpers.initFailures.test.ts
  src/test/siteStatus.test.ts
  src/test/stores/sites/MonitoringService.test.ts
  src/test/stores/ui/useUiStore.test.ts
  src/test/theme/ThemeManager.comprehensive.test.ts
  src/test/utils/fallbacks.test.ts
  src/test/utils/monitorTitleFormatters.test.ts
  src/test/utils/siteStatus.comprehensive.test.ts
Due: eslint --fix --cache --max-warnings=0, prettier --write --cache

🔧 [build] Stabilize shared ESLint import resolution
  eslint.config.mjs
Due: none

👷 [ci] Harden release publication workflows
  .github/workflows/Build.yml
  .github/workflows/VirusTotal.yml
  .github/workflows/cleanReleases.yml
  .github/workflows/flatpak-build.yml
  scripts/check-release-metadata.mjs
Due: prettier --write --cache

Path conditions:
  https://www.schemastore.org/lintstagedrc.schema.json: any of: $schema
  markdownlint --fix --cache: any of: *.md
  eslint --fix --cache --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write --cache: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})) or (any of: *.{json,yaml,yml})
  stylelint --fix --cache: any of: *.{css,scss}
