Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$


🛠️ [fix] Harden state sync status normalization
  electron/services/ipc/internal/stateSyncStatusNormalization.ts
  electron/test/services/ipc/internal/stateSyncStatusNormalization.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Contain preload event guard failures
  electron/preload/domains/eventsApi.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Enforce exact UTF byte truncation
  electron/services/ipc/diagnosticsLimits.ts
  electron/test/services/ipc/diagnosticsHandlers.test.ts
  shared/test/utils/utfByteLength.test.ts
  shared/utils/utfByteLength.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact colon-separated log secrets
  shared/test/utils/loggingContext.test.ts
  shared/utils/loggingContext.ts
Due: typescript-check

🛠️ [fix] Preserve diagnostic log labels
  shared/test/utils/loggingContext.test.ts
  shared/utils/loggingContext.ts
Due: typescript-check

🛠️ [fix] Honor boolean env defaults
  shared/test/utils/environment.comprehensive.test.ts
  shared/utils/environment.ts
Due: typescript-check

🛠️ [fix] Redact renderer validation messages
  src/services/utils/validation.ts
  src/test/services/utils/validation.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Clean benchmark Knip entries
  benchmarks/database/enhancedDatabaseOperations.bench.ts.new
  config/tools/knip.config.ts
Due: typescript-check

🧹 [chore] Remove stale Knip file findings
  config/linting/remark/require-snippets.mjs
  config/linting/remark/validate-uptime-watcher-docs.mjs
  config/tools/knip.config.ts
  docs/Testing/CODEGEN_TEMPLATE_USAGE.md
  playwright/helpers/screenshot.ts
  playwright/tests/utils/monitorTypeTestUtils.ts
  storybook/shims/storybook-actions.ts
  storybook/shims/storybook-test.ts
  tests/AGENTS.md
  tests/strictTests/README.md
  tests/strictTests/test-utils/arbitraries.ts
Due: typescript-check

🧹 [chore] Model external Knip tooling
  config/tools/knip.config.ts
Due: typescript-check

🧹 [chore] Trim unused tooling exports
  playwright/codegen-template.mjs
  storybook/setup/electron-api-mock.ts
  storybook/viteSharedConfig.ts
Due: typescript-check

🧹 [chore] Drop unused test helper exports
  playwright/utils/ui-helpers.ts
  storybook/helpers/siteStoryHelpers.tsx
Due: typescript-check

🧹 [chore] Internalize local runtime helpers
  electron/UptimeOrchestrator.types.ts
  electron/managers/SiteManager.types.ts
  shared/utils/correlation.ts
  shared/utils/loggingContext.ts
  shared/validation/monitorSchemas.ts
  src/components/Layout/SidebarLayoutContext.ts
  src/theme/themes.ts
  src/theme/types.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🧹 [chore] Keep CLI script helpers private
  scripts/analyze-coverage.mjs
  scripts/build-eslint-inspector.mjs
  scripts/clean-generated-docs.mjs
Due: none

🧹 [chore] Remove stale script module exports
  scripts/convert-pascal-to-camel.mjs
  scripts/download-docs-template.mjs
  scripts/extract-test-names.mjs
  scripts/find-shared-imports.mjs
Due: none

🧹 [chore] Finish CLI script export cleanup
  scripts/migrate-to-mts-simple.mjs
  scripts/verify-eslint-inspector.mjs
Due: none

🧹 [chore] Trim unused internal utility exports
  electron/preload/core/bridgeFactory.ts
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/services/database/utils/queries/typedQueries.ts
  electron/services/sync/syncEngineUtils.ts
  src/stores/sites/useSiteSync.ts
  src/utils/monitorTitleFormatters.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🧹 [chore] Trim stale local helper exports
  benchmarks/electron/ipcService.bench.ts
  electron/events/utils/structuredClone.ts
  electron/services/ipc/internal/ipcErrorUtils.ts
  electron/services/ipc/validators/utils/commonValidators.ts
  electron/services/ipc/validators/utils/recordValidation.ts
  electron/services/monitoring/shared/monitorCoreHelpers.ts
  electron/services/monitoring/shared/monitorRetryUtils.ts
  electron/services/monitoring/shared/remoteMonitorCore.ts
  electron/services/monitoring/utils/httpMonitorUiConfig.ts
  playwright/fixtures/electron-helpers.ts
  playwright/utils/userDataDirectoryRegistry.ts
  shared/utils/cloudBackupMetadata.ts
  shared/utils/ipcPayloadBudgets.ts
  src/app/statusUpdateDiagnostics.ts
  src/components/AddSiteForm/form-utils.ts
  src/components/Settings/cloud/CloudProviderSetupPanel.utils.ts
  src/components/SiteDetails/utils/responseTimeColors.ts
  src/stores/sites/utils/siteTelemetry.ts
  src/stores/sites/utils/statusUpdateManagerSingleton.ts
  src/theme/utils/systemTheme.ts
  storybook/viteSharedConfig.ts
  tests/strictTests/test-utils/fastcheckConfig.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🧹 [chore] Keep renderer helper stores private
  src/stores/ui/usePromptDialogStore.ts
  src/utils/downloads/browserFileDownload.ts
Due: typescript-check, vite-build-check

🧹 [chore] Narrow shared schema exports
  shared/types/cloudBackupMigration.ts
  shared/types/cloudEncryption.ts
  shared/types/cloudSync.ts
  shared/types/cloudSyncSnapshot.ts
  shared/types/events.ts
  shared/types/stateSync.ts
  shared/validation/cloudBackupSchemas.ts
  shared/validation/cloudSchemas.ts
  shared/validation/dataSchemas.ts
  shared/validation/importExportSchemas.ts
  shared/validation/monitoringSummarySchemas.ts
  shared/validation/notifications.ts
  shared/validation/statusUpdateSchemas.ts
Due: typescript-check

🧹 [chore] Remove stale exported type aliases
  electron/services/sync/CloudSyncTransport.types.ts
  shared/ipc/rendererEvents.ts
  shared/types/events.ts
  shared/types/ipc.ts
  shared/types/schemaTypes.ts
  shared/validation/dataSchemas.ts
  shared/validation/monitorSchemas.ts
  shared/validation/siteSchemas.ts
  src/stores/types.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🧹 [chore] Model Knip config entrypoint exports
  config/tools/knip.config.ts
Due: typescript-check

🧹 [chore] Prune stale development dependencies
  config/tools/knip.config.ts
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: typescript-check, vite-build-check, package-scripts-check

🧹 [chore] Clear remaining format and docs lint drift
  docs/docusaurus/blog/2025-11-25-property-based-testing-real-bugs.mdx
  electron/services/cloud/providers/cloudBackupIo.ts
  electron/services/database/DataBackupService.ts
  electron/services/ipc/internal/stateSyncStatusNormalization.ts
  electron/services/monitoring/SslMonitor.ts
  electron/test/contracts/ipcContractConsistency.test.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
  electron/test/services/window/WindowService.test.ts
  shared/test/utils/jsonByteBudget.test.ts
  shared/test/utils/urlSafety.test.ts
Due: typescript-check, typescript-check-electron

🔧 [build] Modernize Vite bundle configuration
  vite.config.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Guard Storybook process access
  storybook/preview.ts
Due: typescript-check

🧹 [chore] Keep unused lint output focused
  package.json
Due: vite-build-check, package-scripts-check

📝 [docs] Fix property testing blog docs link
  docs/docusaurus/blog/2025-11-25-property-based-testing-real-bugs.mdx
Due: none

🛠️ [fix] Restore status toast click handling
  playwright/tests/ui-site-card-actions.ui.playwright.test.ts
  src/components/Alerts/StatusAlertToaster.css
Due: typescript-check, vite-build-check

🧪 [test] Quiet passing Playwright output
  playwright/tests/renderer-process.renderer.playwright.test.ts
  playwright/tests/ui-addsitemodal-basic.ui.playwright.test.ts
  playwright/tests/ui-data-maintenance.ui.playwright.test.ts
Due: typescript-check

🔧 [build] Normalize Node CLI lint script env
  package.json
  scripts/run-node-cli.mjs
Due: vite-build-check, package-scripts-check

🧹 [chore] Remove direct cross-env script usage
  docs/Guides/VITE_PERFORMANCE.md
  docs/Testing/HEADLESS_TESTING.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: typescript-check, vite-build-check, package-scripts-check

🛠️ [fix] Repair stale package script aliases
  docs/Guides/DOCUSAURUS_SETUP_GUIDE.md
  docs/Guides/TESTING.md
  docs/Testing/CODEGEN_BEST_PRACTICES.md
  docs/docusaurus/src/pages/index.tsx
  package.json
Due: typescript-check, vite-build-check, package-scripts-check

🛠️ [fix] Make Docusaurus subtree backup portable
  docs/Guides/DOCUSAURUS_REMOTE_GIT_SETUP.md
  package.json
  scripts/push-docusaurus-subtree.mjs
Due: vite-build-check, package-scripts-check

📝 [docs] Align Docusaurus README commands
  docs/docusaurus/README.md
  docs/docusaurus/package.json
Due: none

🔧 [build] Load the checked-in Biome config
  config/linting/.biomeignore
  config/linting/biome.json
  config/tools/.pre-commit-config.yaml
  package.json
  scripts/run-node-cli.mjs
Due: vite-build-check, package-scripts-check

🔧 [build] Run Biome as a lint-only gate
  config/linting/biome.json
  config/tools/.pre-commit-config.yaml
  package.json
Due: vite-build-check, package-scripts-check

🎨 [style] Clear low-risk Biome source findings
  shared/utils/modalHandlers.ts
  src/app/loading/useDelayedLoadingOverlay.ts
  src/app/sidebar/useCompactSidebarAutoDismiss.ts
  src/components/Header/Header.css
  src/theme/utils/systemTheme.ts
  src/utils/cache.ts
  src/utils/dom/eventListeners.ts
  src/utils/mediaQueries.ts
  src/utils/time.ts
Due: typescript-check, vite-build-check

🎨 [style] Remove empty no-op blocks
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/services/sync/SyncEngine.ts
  electron/test/utils/enhanced-testUtilities.ts
  src/components/common/Modal/Modal.tsx
  src/components/common/Tooltip/Tooltip.tsx
  src/hooks/ui/useOverflowMarquee.ts
  src/hooks/useBackendFocusSync.ts
  src/stores/sites/useSiteMonitoring.ts
  src/test/dom-setup.ts
  src/test/setup.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🎨 [style] Prefer Number namespace constants
  electron/services/cloud/providers/googleDrive/googleDriveHttpClient.ts
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/utils/cache/StandardizedCache.ts
Due: typescript-check, typescript-check-electron
