Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$


🛠️ [fix] Redact replication operation URLs
  electron/services/monitoring/ReplicationMonitor.ts
  electron/test/services/monitoring/ReplicationMonitor.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact monitor removal labels
  src/hooks/site/useSiteDetails.operations.ts
  src/test/strictTests/useSiteDetails.critical.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Redact status alert monitor labels
  src/stores/alerts/utils/alertPayload.ts
  src/test/components/Alerts/StatusAlertToast.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Sanitize status alert display fields
  src/stores/alerts/useAlertStore.ts
  src/test/stores/alerts/useAlertStore.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Redact add-site form URL diagnostics
  src/components/AddSiteForm/Submit.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Redact overview monitor removal URLs
  src/components/SiteDetails/tabs/OverviewTab.tsx
  src/test/components/SiteDetails/tabs/OverviewTab.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Redact site operation telemetry URLs
  src/stores/sites/useSiteOperations.ts
  src/test/stores/sites/useSiteOperations.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Sanitize site selection telemetry
  src/stores/sites/useSiteOperations.ts
  src/stores/sites/useSitesState.ts
  src/stores/sites/utils/siteTelemetry.ts
  src/stores/ui/useUiStore.ts
  src/test/stores/sites/useSitesState.test.ts
  src/test/stores/ui/useUiStore.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Redact cache invalidation telemetry
  src/test/utils/cacheSync.test.ts
  src/utils/cacheSync.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Centralize safe identifier logging
  electron/services/database/SiteWriterService.ts
  shared/test/utils/identifierLogging.test.ts
  shared/utils/identifierLogging.ts
  src/stores/sites/utils/siteTelemetry.ts
  src/test/utils/cacheSync.test.ts
  src/utils/cacheSync.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🛠️ [fix] Redact database site identifiers
  electron/services/database/SiteRepository.ts
  electron/services/database/SiteRepositoryService.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact monitor lifecycle identifiers
  electron/managers/MonitorManagerEnhancedLifecycle.ts
  electron/services/monitoring/enhancedMonitorChecker/fetchFreshMonitorWithHistory.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact correlated monitor check identifiers
  electron/services/monitoring/enhancedMonitorChecker/performCorrelatedCheck.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Summarize settings update telemetry
  src/stores/settings/state.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Cover correlated check identifier redaction
  electron/test/services/monitoring/enhancedMonitorChecker.performCorrelatedCheck.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid IPC response accessor traps
  shared/test/utils/ipcResponse.test.ts
  shared/utils/ipcResponse.ts
Due: typescript-check

🛠️ [fix] Redact lifecycle coordinator identifiers
  electron/coordinators/SiteLifecycleCoordinator.ts
  electron/test/coordinators/SiteLifecycleCoordinator.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact monitoring lifecycle identifiers
  electron/coordinators/MonitoringLifecycleCoordinator.ts
  electron/coordinators/utils/persistentMonitoringResumption.ts
  electron/test/coordinators/MonitoringLifecycleCoordinator.test.ts
  electron/test/coordinators/utils/persistentMonitoringResumption.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact forwarded event diagnostics
  electron/coordinators/OrchestratorEventForwardingCoordinator.ts
  electron/test/coordinators/OrchestratorEventForwardingCoordinator.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact enhanced monitor diagnostics
  electron/services/monitoring/enhancedMonitorChecker/performScheduledCheck.ts
  electron/services/monitoring/enhancedMonitorChecker/runServiceCheck.ts
  electron/services/monitoring/enhancedMonitorChecker/saveHistoryEntry.ts
  electron/services/monitoring/enhancedMonitorChecker/toggleMonitoring.ts
  electron/test/enhanced-monitor-checker-targeted.test.ts
  electron/test/services/monitoring/enhancedMonitorChecker/runServiceCheckOperation.test.ts
  electron/test/services/monitoring/enhancedMonitorChecker/toggleMonitoringOperation.test.ts
  electron/test/strictTests/enhancedMonitorChecker.helpers.100percent.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact monitor validation diagnostics
  electron/services/monitoring/enhancedMonitorChecker/validateMonitorForCheck.ts
  electron/test/services/monitoring/enhancedMonitorChecker/validateMonitorForCheck.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact monitor status cache diagnostics
  electron/services/monitoring/MonitorStatusUpdateService.ts
  electron/test/services/monitoring/MonitorStatusUpdateService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact monitor manager setup diagnostics
  electron/managers/monitorManager/autoStartMonitoring.ts
  electron/managers/monitorManager/setupNewMonitorsOperation.ts
  electron/test/managers/monitorManager/autoStartMonitoring.test.ts
  electron/test/strictTests/monitorManager.additionalOperations.100percent.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact monitor interval diagnostics
  electron/managers/monitorManager/applyDefaultIntervalsOperation.ts
  electron/managers/monitorManager/setupIndividualNewMonitorsOperation.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Cover monitor interval redaction
  electron/test/strictTests/monitorManager.additionalOperations.100percent.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact import diagnostics
  electron/services/database/DataImportExportService.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact operation registry diagnostics
  electron/services/monitoring/MonitorOperationRegistry.ts
  electron/test/services/monitoring/MonitorOperationRegistry.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Cover operation registry redaction
  electron/test/services/monitoring/MonitorOperationRegistry.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact repository notification diagnostics
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.ts
  electron/services/notifications/NotificationService.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  electron/test/services/notifications/NotificationService.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact site manager diagnostics
  electron/managers/DatabaseManager.ts
  electron/managers/SiteManager.ts
  electron/managers/siteManager/loadSiteInBackground.ts
  electron/services/database/interfaces.ts
  electron/services/database/siteDeletion.ts
  electron/test/utils/database/siteDeletion.coverage.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Redact history helper diagnostics
  electron/services/database/utils/maintenance/historyManipulation.ts
  electron/services/database/utils/queries/historyQuery.ts
  electron/test/services/database/utils/historyManipulation.test.ts
  electron/test/services/database/utils/historyQuery.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden safe access and URL display cleanup
  electron/test/utils/database/DataBackupService.test.ts
  shared/test/fuzzing/typeHelpers.comprehensive-coverage.fuzz.test.ts
  shared/test/utils/safeConversions.test.ts
  shared/utils/typeHelpers.ts
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/test/monitorOperations.test.ts
  src/test/strictTests/OverviewTab.coverage.test.tsx
  src/test/utils/fallbacks.property.test.ts
  src/test/utils/monitorTitleFormatters.property.test.ts
  src/test/utils/monitorTitleFormatters.test.ts
  src/test/utils/siteStatus.test.ts
  src/utils/monitorTitleFormatters.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🛠️ [fix] Use normalized URL for site header links
  src/components/SiteDetails/SiteDetailsHeader.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.additional-coverage.test.tsx
Due: typescript-check, vite-build-check

🚜 [refactor] Reuse shared abort signal composition
  electron/services/monitoring/shared/abortSignalUtils.ts
  electron/test/services/monitoring/shared/abortSignalUtils.test.ts
Due: typescript-check, typescript-check-electron

🚜 [refactor] Reuse shared timeout signal for Google account labels
  electron/services/cloud/providers/googleDrive/fetchGoogleAccountLabel.ts
  electron/test/services/cloud/providers/googleDrive/fetchGoogleAccountLabel.test.ts
Due: typescript-check, typescript-check-electron

🚜 [refactor] Link DNS connectivity timeout to abort signals
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Bound OAuth token expiration timestamps
  electron/services/cloud/providers/dropbox/DropboxAuthFlow.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveAuthFlow.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveTokenManager.ts
  electron/services/cloud/providers/oauthTokenExpiry.ts
  electron/test/services/cloud/providers/oauthTokenExpiry.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Propagate HTTP connectivity cancellations
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/test/services/monitoring/nativeConnectivity.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Block IPv4-compatible IPv6 private URLs
  shared/test/utils/urlSafety.test.ts
  shared/utils/urlSafety.ts
Due: typescript-check
