Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$


🧹 [chore] Declare markdownlint CLI dependency
  config/tools/knip.config.ts
  package-lock.json
  package.json
Due: typescript-check, vite-build-check, package-scripts-check

🧹 [chore] Declare yamllint CLI dependency
  config/tools/knip.config.ts
  package-lock.json
  package.json
Due: typescript-check, vite-build-check, package-scripts-check

🧪 [test] Align shared validation fuzz inputs
  shared/test/complete-100-coverage.test.ts
  shared/test/coverage-test.test.ts
  shared/test/fuzzing/errorFuzzing.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/schemas.property-based.test.ts
Due: typescript-check

🧪 [test] Refresh Electron test expectations
  electron/test/managers/DatabaseManager.100-percent-coverage.test.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/utils/database/DataBackupService.test.ts
  tests/strictTests/electron/managers/MonitorManagerEnhancedLifecycle.test.ts
  tests/strictTests/electron/services/database/DatabaseService.transactions.test.ts
  tests/strictTests/electron/services/monitoring/shared/monitorFactoryUtils.test.ts
  tests/strictTests/electron/services/window/utils/pathGuards.test.ts
Due: typescript-check, typescript-check-electron

🧹 [chore] Remove unused Webhint tooling
  .hintrc
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

🔧 [build] Keep postinstall wasm setup local
  package.json
  scripts/download-sqlite3-wasm.mjs
Due: vite-build-check, package-scripts-check

🔧 [build] Verify bundled sqlite wasm artifacts
  package.json
  scripts/download-sqlite3-wasm.mjs
  scripts/verify-sqlite3-wasm.mjs
Due: vite-build-check, package-scripts-check

👷 [ci] Harden Flatpak wasm smoke check
  .github/workflows/flatpak-build.yml
Due: none

🧪 [test] Remove placeholder sites store test
  src/test/useSitesStore.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Replace placeholder test fakes
  electron/test/monitoringTypes.test.ts
  electron/test/services/cloud/migrations/syncReset.test.ts
  electron/test/services/monitoring/types.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Remove monitor identifier placeholder test
  electron/test/utils/monitoring/monitorIdentifiers.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Remove dead barrel placeholder tests
  src/test/components/index.test.ts
  src/test/hooks/index.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Replace shared contract placeholder assertions
  src/test/contracts/sharedContractsConsistency.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Remove low-signal placeholder tests
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/edgeCases.test.ts
  src/test/storeLine190.test.ts
  src/test/theme/debug.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Remove stale frontend coverage placeholders
  src/test/final-function-coverage-push.test.ts
  src/test/finalCoverageAnalysis.test.tsx
  src/test/theme/debug-function-source.test.ts
  src/test/theme/useTheme.functional.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Assert Electron logger transport output
  electron/test/utils/logger-targeted.test.ts
  electron/test/utils/logger.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Assert frontend cleanup behavior
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/hooks/useDelayedButtonLoading.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Assert site action side effects
  src/test/hooks/site/useSiteActions.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Assert site details handler effects
  src/test/hooks/site/useSiteDetails.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Assert preload listener cleanup
  electron/test/preload.missing-branches.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Assert settings repository database calls
  electron/test/services/database/SettingsRepository.simple.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Assert database service lifecycle
  electron/test/services/database/DatabaseService.simple.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Assert application service cleanup
  electron/test/services/application/ApplicationService.simple.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Assert port monitor config updates
  electron/test/services/monitoring/PortMonitor-coverage.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Assert frontend async interactions
  src/test/components/AddSiteForm/AddSiteForm.uncovered-lines.test.tsx
  src/test/components/Settings/Settings.test.tsx
Due: typescript-check, vite-build-check

🧪 [test] Remove inert Electron placeholders
  electron/test/integration/cacheMissIntegration.test.ts
  electron/test/services/application/ApplicationService.test.ts
  electron/test/utilities.missing-branches.test.ts
  electron/test/utils.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Assert Electron manager placeholders
  electron/test/enhanced-monitor-checker-targeted.test.ts
  electron/test/fuzzing/event-bus.fuzz.test.ts
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Assert shared coverage placeholders
  shared/test/complete-100-coverage.test.ts
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/utils/environment.comprehensive-coverage.fuzz.test.ts
  shared/test/validation/schemas-complete-function-coverage.test.ts
Due: typescript-check

📝 [docs] Remove monitor guide TODO marker
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
Due: none

🧪 [test] Remove Electron debug test logging
  electron/test/services/ServiceContainer.debug-mock.test.ts
  electron/test/services/ServiceContainer.debug-sitemanager.test.ts
  electron/test/services/monitoring/MonitorScheduler.debug.test.ts
Due: typescript-check, typescript-check-electron

🚜 [refactor] Centralize shared fallback logging
  shared/test/utils/logger/consoleFallback.test.ts
  shared/utils/errorHandling.ts
  shared/utils/logger/consoleFallback.ts
  shared/utils/objectSafety.ts
Due: typescript-check

🧪 [test] Quiet ServiceContainer construction tests
  electron/test/services/ServiceContainer.factory-bypass.test.ts
  electron/test/services/ServiceContainer.targeted.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Remove validator function console stub
  electron/test/validators.complete.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Quiet shared validation diagnostics
  shared/test/fuzzing/stringConversion.comprehensive-coverage.fuzz.test.ts
  shared/test/utils/fastCheckEnv.test.ts
  shared/test/utils/fastCheckEnv.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/schemas.final-coverage.test.ts
  shared/test/validation/schemas.property-based.test.ts
Due: typescript-check

🧪 [test] Quiet frontend fuzz diagnostics
  src/test/stores/error/useErrorStore.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/utils/database.comprehensive-fuzzing.test.ts
  src/test/utils/ipc.comprehensive-fuzzing.test.ts
  src/test/utils/state-management.comprehensive-fuzzing.test.ts
  src/test/utils/validation.comprehensive-fuzzing.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Quiet Electron monitor diagnostics
  electron/test/services/monitoring/HttpMonitor.httpbin.test.ts
  electron/test/services/monitoring/PingMonitor.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Quiet frontend coverage diagnostics
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/function-coverage-boost.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Remove remaining raw console output
  electron/test/patterns/console-remediation.test.ts
  electron/test/services/ipc/standardization.test.ts
  electron/test/setup.ts
  src/test/global-setup.ts
  src/test/utils/fuzzing-test-suite.runner.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🧪 [test] Restore console spies through Vitest
  src/test/hooks/useMonitorTypes.test.ts
  src/test/main.comprehensive.test.tsx
  src/test/setup/react-act-suppression.ts
  src/test/stores/error/ErrorBoundary.arithmetic-mutations.test.tsx
Due: typescript-check, vite-build-check

🧪 [test] Remove unused act warning suppressor
  src/test/setup/react-act-suppression.ts
Due: typescript-check, vite-build-check
