Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

typescript-check:
  name: 🔍 typescript · Type check all files
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false
  require_serial: true

typescript-check-electron:
  name: 🔍 electron · Type check electron files
  entry: npx tsc
  language: node
  args:
  - --project
  - tsconfig.electron.json
  - --noEmit
  pass_filenames: false
  require_serial: true

vite-build-check:
  name: ⚡ vite · Validate build configuration
  entry: npx vite
  language: node
  args:
  - build
  - --mode
  - development
  - --emptyOutDir
  - 'false'
  pass_filenames: false
  require_serial: true

package-scripts-check:
  name: 📦 npm · Validate package.json scripts
  entry: node
  language: node
  args:
  - -e
  - const pkg = require('./package.json'); console.log('✅ Package.json is valid')
  pass_filenames: false

🛠️ [fix] Avoid accessor reads in catalog error messages
  shared/test/strictTests/errorCatalog-complete-coverage.test.ts
  shared/utils/errorCatalog.ts
Due: typescript-check

🛠️ [fix] Avoid accessor reads in logger error fields
  shared/test/strictTests/loggerCommon-complete-coverage.test.ts
  shared/utils/logger/common.ts
Due: typescript-check

🛠️ [fix] Avoid accessor reads in log normalization
  shared/test/utils/loggingContext.test.ts
  shared/utils/loggingContext.ts
Due: typescript-check

🛠️ [fix] Centralize safe error property reads
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
  shared/utils/errorPropertyAccess.ts
  shared/utils/logger/common.ts
  shared/utils/loggingContext.ts
Due: typescript-check, typescript-check-electron

🚜 [refactor] Reuse safe property access helpers
  shared/test/utils/errorPropertyAccess.test.ts
  shared/utils/errorCatalog.ts
  shared/utils/errorPropertyAccess.ts
  shared/utils/objectSafety.ts
  shared/utils/userFacingErrors.ts
  src/services/utils/validation.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Preserve remote monitor JSON failures
  electron/services/monitoring/shared/remoteMonitorCore.ts
  electron/test/services/monitoring/ReplicationMonitor.test.ts
  electron/test/services/monitoring/ServerHeartbeatMonitor.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Add context to backup metadata JSON errors
  electron/services/cloud/providers/CloudBackupMetadataFile.ts
  electron/test/services/cloud/providers/CloudBackupMetadataFile.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid unsafe abort error stringification
  shared/test/utils/abortUtils.function-coverage.test.ts
  shared/utils/abortUtils.ts
Due: typescript-check

🛠️ [fix] Preserve primitive application error causes
  shared/test/strictTests/errorHandling-complete-coverage.test.ts
  shared/utils/errorHandling.ts
Due: typescript-check

🛠️ [fix] Avoid accessor execution in JSON budget checks
  shared/test/utils/jsonByteBudget.test.ts
  shared/utils/jsonByteBudget.ts
Due: typescript-check

🛠️ [fix] Avoid accessor execution in error metadata
  electron/preload/core/bridgeFactory.ts
  electron/test/preload/core/bridgeFactory.comprehensive.test.ts
  shared/test/strictTests/errorHandling-complete-coverage.test.ts
  shared/test/utils/objectSafety.test.ts
  shared/utils/errorHandling.ts
  shared/utils/objectSafety.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in operational context
  electron/test/utils/operationalHooks.test.ts
  electron/utils/operationalHooks.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in error code reads
  electron/test/utils/operationalHooks.test.ts
  electron/utils/operationalHooks.ts
  shared/test/utils/abortError.test.ts
  shared/test/utils/abortUtils.function-coverage.test.ts
  shared/test/utils/errorCodes.test.ts
  shared/utils/abortError.ts
  shared/utils/abortUtils.ts
  shared/utils/errorCodes.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in monitor error codes
  electron/services/monitoring/utils/errorHandling.ts
  electron/test/services/monitoring/utils/errorHandling.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in abort reasons
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/WebsocketKeepaliveMonitor.ts
  electron/services/monitoring/utils/nativeConnectivity.ts
  electron/services/monitoring/utils/pingRetry.ts
  shared/test/utils/abortUtils.function-coverage.test.ts
  shared/test/utils/httpRateLimiter.abort.test.ts
  shared/utils/abortUtils.ts
  shared/utils/httpRateLimiter.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in database command contexts
  electron/services/commands/databaseCommandContext.ts
  electron/test/services/commands/databaseCommandContext.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in CDN edge errors
  electron/services/monitoring/CdnEdgeConsistencyMonitor.ts
  electron/test/services/monitoring/CdnEdgeConsistencyMonitor.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in monitor config resolvers
  electron/services/monitoring/shared/monitorConfigValueResolvers.ts
  electron/test/services/monitoring/shared/monitorConfigValueResolvers.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in HTTP redirect config
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/test/services/monitoring/shared/httpMonitorCore.followRedirects.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in backup SQLite rows
  electron/services/database/utils/backup/databaseBackup.ts
  electron/test/services/database/utils/databaseBackup.sqliteRows.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in retry markers
  shared/test/utils/retry.test.ts
  shared/utils/retry.ts
Due: typescript-check

🛠️ [fix] Avoid accessor execution in IPC helper logger resolution
  src/services/utils/createIpcServiceHelpers.ts
  src/test/services/utils/createIpcServiceHelpers.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Avoid accessor execution in bridge readiness checks
  src/services/utils/electronBridgeReadiness.ts
  src/test/services/utils/electronBridgeReadiness.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Avoid accessor execution in renderer logger setup
  src/services/logger.ts
  src/test/services/logger.accessors.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Avoid accessor execution in subscription diagnostics
  src/app/debug/debugStoreSubscriptions.ts
  src/stores/sites/utils/statusUpdateSubscriptionSummary.ts
  src/test/app/debug/debugStoreSubscriptions.test.ts
  src/test/stores/sites/utils/statusUpdateSubscriptionSummary.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Avoid accessor execution in event metadata lookup
  electron/events/utils/typedEventPayloadUtils.ts
  electron/test/events/TypedEventBus.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in preload env reads
  electron/preload/core/bridgeFactory.ts
  electron/preload/utils/preloadSecurity.ts
  electron/test/preload/core/bridgeFactory.envFlags.test.ts
  electron/test/preload/utils/preloadSecurity.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in shared env reads
  shared/test/utils/environment.comprehensive.test.ts
  shared/utils/environment.ts
Due: typescript-check

🛠️ [fix] Avoid accessor execution in environment snapshots
  shared/test/utils/environment.comprehensive.test.ts
  shared/utils/environment.ts
Due: typescript-check

🛠️ [fix] Avoid accessor execution in media query listeners
  src/test/utils/mediaQueries.test.ts
  src/utils/mediaQueries.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Avoid accessor execution in correlation crypto
  shared/test/utils/correlation.test.ts
  shared/utils/correlation.ts
Due: typescript-check

🛠️ [fix] Avoid accessor-backed preload env reads
  electron/preload.ts
  electron/preload/core/bridgeFactory.ts
  electron/preload/utils/preloadSecurity.ts
  electron/test/preload/core/bridgeFactory.envFlags.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor execution in window path resolution
  electron/services/window/WindowService.ts
Due: typescript-check, typescript-check-electron

🚜 [refactor] Avoid reflective descriptor getter lookup
  shared/utils/errorPropertyAccess.ts
Due: typescript-check

🛠️ [fix] Harden monitor form data property access
  src/test/types/monitorFormData.additional.test.ts
  src/types/monitorFormData.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Harden monitor normalization input filtering
  src/stores/sites/utils/monitorOperations.normalize.ts
  src/test/monitorOperations.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Harden monitor update sanitization
  src/stores/sites/utils/monitorOperations.ts
  src/test/monitorOperations.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Harden site update sanitization
  electron/managers/SiteManager.ts
  electron/services/database/SiteWriterService.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden monitor state changes
  electron/managers/monitorManager/applyMonitorStateOperation.ts
  electron/test/strictTests/monitorManager.applyMonitorStateOperation.100percent.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden HTTP monitor config updates
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/test/services/monitoring/HttpMonitor.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

