Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$


🔧 [build] Enhance Docusaurus ESLint config and plugin setup
  .prettierignore
  docs/docusaurus/docusaurus.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/types/database.ts
  shared/validation/schemas.ts
Due: typescript-check, vite-build-check, package-scripts-check

🧪 [test] Achieves 100% function and branch coverage for shared modules
  docs/docusaurus/tsconfig.eslint.json
  electron/test/additionalCoverage.test.ts
  electron/test/enhanced-monitor-checker-targeted.test.ts
  electron/test/middleware.test.ts
  electron/test/services/monitoring/EnhancedMonitorChecker-coverage-fixed.test.ts
  electron/test/services/monitoring/EnhancedMonitorChecker-coverage.test.ts
  electron/test/services/monitoring/PortMonitor-coverage-fixed.test.ts
  electron/test/services/monitoring/PortMonitor-coverage.test.ts
  electron/test/setup.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  electron/test/utils/logger-coverage.test.ts
  electron/test/utils/logger-simple-test.test.ts
  shared/test/complete-100-coverage-fixed.test.ts
  shared/test/complete-100-coverage.test.ts
  shared/test/coverage-completion.test.ts
  shared/test/coverage-test-fixed.test.ts
  shared/test/final-100-coverage.test.ts
  shared/test/types.main-functions.test.ts
  shared/test/types/database-additional.test.ts
  shared/test/types/database-function-coverage.test.ts
  shared/test/types/formData-function-coverage.test.ts
  shared/test/types/formData-functions-clean.test.ts
  shared/test/types/monitorConfig-functions.test.ts
  shared/test/types/themeConfig-functions.test.ts
  shared/test/utils/comprehensive-function-coverage.test.ts
  shared/test/utils/objectSafety.final-100-coverage.test.ts
  shared/test/utils/stringConversion-missing-lines.test.ts
  shared/test/utils/stringConversion.final-100-coverage.test.ts
  shared/test/validation/schemas-complete-function-coverage.test.ts
  shared/test/validation/schemas-function-coverage-complete.test.ts
  shared/test/validation/schemas-missing-coverage.test.ts
  shared/test/validation/schemas.100-coverage.test.ts
  shared/test/validation/schemas.branch-coverage.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/schemas.final-coverage.test.ts
  shared/test/validation/schemas.test.ts
  shared/types/monitorConfig.ts
  src/test/final-coverage-remaining-lines.test.ts
  src/test/stores/ui/useUiStore.100-coverage.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check

👷 [ci] Improve caching and Flatpak setup in workflows
  .github/workflows/deploy-docusaurus.yml
  .github/workflows/flatpak-build.yml
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/package.json
  eslint.config.mjs
Due: typescript-check

Bump version to 12.3.0
  package.json
Due: vite-build-check, package-scripts-check

📝 [docs] Improve Docusaurus docs metadata and homepage sections
  docs/docusaurus/package.json
  docs/docusaurus/sidebars.ts
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  docs/docusaurus/src/pages/index.tsx
  docs/docusaurus/tsconfig.json
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  eslint.config.mjs
Due: typescript-check

🎨 [style] Standardizes code formatting across docs and tests
  .github/workflows/flatpak-build.yml
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  docs/docusaurus/src/components/HomepageFeatures/styles.module.css
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/src/pages/docsearch-verify.md
  docs/docusaurus/src/pages/index.module.css
  docs/docusaurus/src/pages/index.tsx
  docs/docusaurus/tsconfig.eslint.json
  docs/docusaurus/tsconfig.json
  docs/docusaurus/tsconfig.typedoc.json
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  electron/test/services/monitoring/EnhancedMonitorChecker-coverage-fixed.test.ts
  electron/test/services/monitoring/PortMonitor-coverage-fixed.test.ts
  electron/test/services/monitoring/PortMonitor-coverage.test.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  electron/test/utils/logger-coverage.test.ts
  electron/test/utils/logger-simple-test.test.ts
  eslint.config.mjs
  shared/test/coverage-completion.test.ts
  shared/test/coverage-test-fixed.test.ts
  shared/test/types/database-function-coverage.test.ts
  shared/test/types/formData-function-coverage.test.ts
  shared/test/types/formData-functions-clean.test.ts
  shared/test/types/formData-functions.test.ts
  shared/test/utils/comprehensive-function-coverage.test.ts
  shared/test/utils/stringConversion-missing-lines.test.ts
  shared/test/validation/schemas-complete-function-coverage.test.ts
  shared/test/validation/schemas-function-coverage-complete.test.ts
  shared/test/validation/schemas-missing-coverage.test.ts
  shared/test/validation/schemas.branch-coverage.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/schemas.final-coverage.test.ts
  shared/test/validation/schemas.test.ts
  src/test/final-coverage-remaining-lines.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🔧 [build] Update Docusaurus docs dependencies and ESLint config
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  eslint.config.mjs
Due: none

Bump version to 12.4.0
  package.json
Due: vite-build-check, package-scripts-check

Priority 1.2: Component Props Standards - Documentation & Templates
  CONSISTENCY_AUDIT_REPORT.md
  CONSISTENCY_IMPROVEMENT_ROADMAP.md
  docs/Architecture/ADRs/ADR-006-Standardized-Cache-Configuration.md
  docs/Architecture/Patterns/Component-Props-Standards.md
  docs/Architecture/Patterns/Development-Patterns-Guide.md
  docs/Guides/UI-Feature-Development-Guide.md
  electron/constants.ts
  electron/managers/SiteManager.ts
  electron/services/monitoring/EnhancedMonitorChecker.ts
  electron/test/constants.comprehensive.test.ts
  electron/test/constants.test.ts
  electron/utils/database/serviceFactory.ts
  package-lock.json
  package.json
  shared/constants/cacheConfig.ts
  shared/test/constants/cacheConfig.test.ts
  shared/test/types/componentProps.test.ts
  shared/types/componentProps.ts
  src/components/Dashboard/SiteCard/components/MonitorSelector.tsx
  src/theme/components/ThemedBox.tsx
  src/theme/components/ThemedButton.tsx
  src/theme/components/ThemedCard.tsx
  src/theme/components/ThemedCheckbox.tsx
  src/theme/components/ThemedIconButton.tsx
  src/theme/components/ThemedInput.tsx
  src/theme/components/ThemedSelect.tsx
  src/utils/cache.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

👷 [ci] Update cache action to v4.2.4 for workflow
  .github/workflows/deploy-docusaurus.yml
Due: none

🎨 [style] Reformat and align benchmark and test files
  benchmarks/electron/updaterService.bench.ts
  electron/test/constants.comprehensive.test.ts
  shared/test/types/componentProps.test.ts
Due: typescript-check, typescript-check-electron

Bump version to 12.5.0
  package.json
Due: vite-build-check, package-scripts-check

🔧 [build] Update config for improved v4 compatibility
  docs/docusaurus/docusaurus.config.ts
Due: typescript-check

👷 [ci] Update Docusaurus deployment to install deps in subdir
  .github/workflows/deploy-docusaurus.yml
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

👷 [ci] Simplifies Docusaurus dependency installation steps
  .github/workflows/deploy-docusaurus.yml
Due: none

👷 [ci] Update dependency install step for main app
  .github/workflows/deploy-docusaurus.yml
Due: none

Update docusaurus.config.ts
  docs/docusaurus/docusaurus.config.ts
Due: typescript-check

🔧 [build] Enable Rspack bundler, persistent cache, and i18n
  docs/docusaurus/docusaurus.config.ts
Due: typescript-check

📝 [docs] Update Prism language support for syntax highlighting
  docs/docusaurus/docusaurus.config.ts
Due: typescript-check

🧹 [chore] Remove legacy ESLint config and unused Prism language
  docs/docusaurus/docusaurus.config.ts
  scripts/eslint-config-uptime-watcher/index.js
Due: typescript-check

🎨 [style] Update UI colors and TypeScript target
  docs/docusaurus/docusaurus.config.ts
  tsconfig.bench.json
Due: typescript-check

✨ [feat] Modernize docs UI with advanced CSS, JS, and interactivity
  .github/workflows/codeql.yml
  .gitignore
  .vscode/settings.json
  docs/docusaurus/.stylelintignore
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  docs/docusaurus/sidebars.ts
  docs/docusaurus/src/components/GitHubStats.tsx
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  docs/docusaurus/src/components/HomepageFeatures/styles.module.css
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/src/hooks/useGitHubStats.ts
  docs/docusaurus/src/js/modernEnhancements.ts
  docs/docusaurus/src/pages/index.module.css
  docs/docusaurus/src/pages/index.tsx
  docs/docusaurus/static/img/undraw_docusaurus_tree.svg
  docs/docusaurus/stylelint.config.mjs
  docs/docusaurus/tsconfig.eslint.json
  docs/docusaurus/tsconfig.json
  eslint.config.mjs
  package.json
  src/components/SiteDetails/SiteDetails.css
Due: typescript-check, vite-build-check, package-scripts-check

Bump version to 12.6.0
  package.json
Due: vite-build-check, package-scripts-check

chore: format code with Prettier [skip-ci]
  CONSISTENCY_AUDIT_REPORT.md
  CONTRIBUTING.md
  docs/Guides/AI-CONTEXT.md
  docs/Guides/DOCUSAURUS-SETUP-GUIDE.md
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Guides/LOGGER_MIGRATION_COMPLETE_REPORT.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/TESTING.md
  docs/docusaurus/src/pages/index.module.css
  src/index.css
  src/theme/components.css
Due: vite-build-check

🧪 [test] Add comprehensive unit tests for shared utilities
  shared/test/types/types-complete-coverage.test.ts
  shared/test/utils/environment-complete-coverage.test.ts
  shared/test/utils/objectSafety-complete-coverage.test.ts
  shared/test/utils/safeConversions.comprehensive.test.ts
  shared/test/utils/stringConversion-complete-coverage.test.ts
  shared/test/utils/typeGuards-and-helpers-complete-coverage.test.ts
Due: typescript-check

📝 [docs] Remove redundant guides from sidebar configuration
  docs/docusaurus/sidebars.ts
Due: typescript-check

👷 [ci] Add coverage file verification to SonarCloud workflow
  .github/workflows/sonarcloud.yml
  sonar-project.properties
Due: none

🔧 [build] Exclude benchmarks and tests from rule S2245
  sonar-project.properties
Due: none

🔧 [build] Move test configs, standardize cache and paths
  .codecov.yml
  .cspell.json
  .github/workflows/codecov.yml
  .gitignore
  CONSISTENCY_AUDIT_REPORT.md
  CONSISTENCY_IMPROVEMENT_ROADMAP.md
  benchmarks/database/enhancedDatabaseOperations.bench.ts.new
  benchmarks/frontend/hookPerformance.bench.ts
  config/benchmarks/tsconfig.bench.json
  config/testing/tsconfig.electron.test.json
  config/testing/tsconfig.shared.test.json
  config/testing/tsconfig.test.json
  config/testing/vitest.electron.config.ts
  config/testing/vitest.shared.config.ts
  docs/Guides/AI-CONTEXT.md
  docs/Guides/TESTING.md
  docs/docusaurus/stylelintcache
  eslint.config.mjs
  knip.json
  lychee.toml
  output.txt
  package.json
  shared/test/strictTests/useSitesStore-complete-coverage.test.ts
  shared/test/utils/objectSafety.final-100-coverage.test.ts
  sonar-project.properties
  src/test/ThemeManager.test.ts
  src/test/theme/ThemeManager.comprehensive.test.ts
  src/test/theme/debug-theme-structure.test.ts
  src/test/types/monitor-forms.comprehensive.test.ts
  src/test/utils/siteStatus.direct.test.ts
  tsconfig.bench.json
  tsconfig.electron.json
  tsconfig.electron.test.json
  tsconfig.json
  tsconfig.shared.json
  tsconfig.shared.test.json
  tsconfig.test.json
  vite.config.ts
Due: typescript-check, vite-build-check, package-scripts-check

🧹 [chore] Streamline config, optimize ESLint structure, add JS build tsconfig
  .gitleaks.toml
  .prettierrc
  .vscode/settings.json
  cliff.toml
  config/testing/tsconfig.js.json
  eslint.config.mjs
  package-lock.json
  scripts/Analyze-ProjectFiles-SrcElectron.ps1
  scripts/add-cspell-words.mjs
  scripts/convert-pascal-to-camel.mjs
  scripts/download-axios-docs.mjs
  scripts/download-chartjs-docs.mjs
  scripts/download-docs-template.mjs
  scripts/download-electron-docs.mjs
  scripts/download-react-docs.mjs
  scripts/download-tsdoc-tags.mjs
  scripts/download-zustand-docs.mjs
  scripts/enhance-test-metadata.mjs
  scripts/extract-test-names.mjs
  scripts/find-empty-dirs.mjs
  scripts/fix-test-quotes.mjs
Due: none

Bump version to 12.7.0
  package.json
Due: vite-build-check, package-scripts-check

🔧 [build] Update configs, dependencies, and scripts for 2025
  .checkov.yml
  .codecov.yml
  .github/.spellcheck.yml
  .grype.yaml
  .mega-linter.yml
  .pre-commit-config.yaml
  ActionLintConfig.yaml
  config/testing/tsconfig.configs.json
  docs/Guides/DOCUSAURUS-SETUP-GUIDE.md
  docs/Guides/UI-Feature-Development-Guide.md
  docs/assets/_config.yml
  eslint.config.mjs
  kics.yaml
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

Bump version to 12.8.0
  package.json
Due: vite-build-check, package-scripts-check

chore: format code with Prettier [skip-ci]
  CONTRIBUTING.md
  docs/Guides/AI-CONTEXT.md
  docs/Guides/DOCUSAURUS-SETUP-GUIDE.md
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Guides/LOGGER_MIGRATION_COMPLETE_REPORT.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/TESTING.md
  docs/docusaurus/src/pages/index.module.css
  src/index.css
  src/theme/components.css
Due: vite-build-check

+++++++++++++++
  package.json
Due: vite-build-check, package-scripts-check

Create copilot-instructions.md
  .github/copilot-instructions.md
Due: none
