Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

typescript-check:
  name: 🔍 typescript · Type check all files
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false
  require_serial: true

typescript-check-electron:
  name: 🔍 electron · Type check electron files
  entry: npx tsc
  language: node
  args:
  - --project
  - tsconfig.electron.json
  - --noEmit
  pass_filenames: false
  require_serial: true

vite-build-check:
  name: ⚡ vite · Validate build configuration
  entry: npx vite
  language: node
  args:
  - build
  - --mode
  - development
  - --emptyOutDir
  - 'false'
  pass_filenames: false
  require_serial: true

package-scripts-check:
  name: 📦 npm · Validate package.json scripts
  entry: node
  language: node
  args:
  - -e
  - const pkg = require('./package.json'); console.log('✅ Package.json is valid')
  pass_filenames: false

🚜 [refactor] Expose settings subscription cleanup
  src/app/bootstrap/appBootstrap.ts
  src/stores/settings/operations.ts
  src/stores/settings/types.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Keep monitor form data type-only
  src/test/types/monitorFormData.additional.test.ts
  src/test/types/monitorFormData.comprehensive.test.ts
  src/types/monitorFormData.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Internalize generic cache API
  src/test/architectural-fixes.regression.test.ts
  src/test/utils/cache.property.test.ts
  src/test/utils/cache.test.ts
  src/utils/cache.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Drop stale monitor validation type
  src/utils/monitorValidation/monitorValidationTypes.ts
Due: typescript-check, vite-build-check

🧪 [test] Repair broad test type checks
  electron/test/services/database/utils/databaseSchema.simple.test.ts
  electron/test/services/ipc/diagnosticsHandlers.test.ts
  shared/test/types/cloudSyncBaseline.test.ts
  shared/test/utils/siteSnapshots.comprehensive.test.ts
  shared/test/validation/statusUpdateSchemas.test.ts
  shared/utils/siteSnapshots.ts
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
  src/test/utils/monitorTypeHelper.test.ts
  src/test/utils/monitorUiHelpers.comprehensive.test.ts
  src/test/utils/monitorValidation.test.ts
  src/test/utils/timeoutUtils.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🧪 [test] Tighten site operations test mocks
  src/test/stores/sites/useSiteOperations.targeted.test.ts
  src/test/stores/sites/useSiteOperations.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type DetailLabel Storybook bridge override
  storybook/stories/DetailLabel.stories.tsx
Due: typescript-check

🧪 [test] Tighten settings store test mocks
  src/test/stores/settings/useSettingsStore.additional.test.ts
  src/test/stores/settings/useSettingsStore.branches.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Tighten comprehensive settings store mocks
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type site service bridge availability tests
  src/test/stores/sites/MonitoringService.test.ts
  src/test/stores/sites/SiteService.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type renderer service bridge mocks
  src/test/services/DataService.comprehensive.test.ts
  src/test/services/EventsService.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Use typed window setup in service tests
  src/test/services/CloudService.comprehensive.test.ts
  src/test/services/SettingsService.comprehensive.test.ts
  src/test/services/StateSyncService.comprehensive.test.ts
  src/test/services/SystemService.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Isolate notification preference bridge mock
  src/test/services/NotificationPreferenceService.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type IPC helper bridge assertion
  src/test/services/utils/createIpcServiceHelpers.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Use shared monitor types bridge mock
  src/test/stores/monitor/useMonitorTypesStore.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type critical sites store bridge lookup
  src/test/stores/sites/useSitesStore.critical.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type UI store fuzzing bridge setup
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type useThemeStyles matchMedia mocks
  src/test/hooks/useThemeStyles.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Dispatch screenshot resize on window
  src/test/ScreenshotThumbnail.test.tsx
Due: typescript-check, vite-build-check

🧪 [test] Remove matchMedia delete cast
  src/test/useThemeStyles.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type AddSiteForm store mock global
  src/test/components/AddSiteForm.test.tsx
Due: typescript-check, vite-build-check

🧪 [test] Type SiteList store mock bridges
  src/test/components/Dashboard/SiteList/SiteList.layout-behavior.test.tsx
  src/test/components/Dashboard/SiteList/SiteList.test.tsx
Due: typescript-check, vite-build-check

🧪 [test] Type WindowService global test hooks
  electron/test/services/window/WindowService.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Remove string conversion global override
  shared/test/utils/stringConversion.coverage-override.test.ts
Due: typescript-check

🧪 [test] Use environment snapshot overrides
  shared/test/utils/environment-complete-coverage.test.ts
Due: typescript-check

🧪 [test] Type environment browser globals
  shared/test/utils/environment.comprehensive.test.ts
Due: typescript-check

🧪 [test] Type environment fuzz globals
  shared/test/utils/environment.comprehensive-coverage.fuzz.test.ts
Due: typescript-check

🧪 [test] Type ThemeManager fuzz globals
  src/test/utils/ThemeManager.input-fuzzing.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type ThemeManager fallback globals
  src/test/ThemeManager.test.ts
  src/test/theme/ThemeManager.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type cache sync window globals
  src/test/utils/cacheSync.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type SiteService bridge mock globals
  src/test/strictTests/SiteService.critical.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type fast-check assert parameters
  tests/strictTests/test-utils/fastcheckConfig.ts
Due: typescript-check

🛠️ [fix] Type sync key validators as runtime boundaries
  electron/services/sync/providerKeyValidation.ts
  electron/test/services/sync/providerKeyValidation.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden frozen object metadata copies
  shared/test/utils/objectSafety.test.ts
  shared/utils/objectSafety.ts
Due: typescript-check

🛠️ [fix] Normalize empty operational context
  electron/utils/operationalHooks.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden normalized log metadata records
  shared/test/utils/loggingContext.test.ts
  shared/utils/loggingContext.ts
Due: typescript-check

🛠️ [fix] Harden settings change log metadata
  src/services/logger.ts
  src/test/services/logger.basic.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Harden backend dynamic record copies
  electron/managers/ConfigurationManager.ts
  electron/services/database/DataImportExportService.ts
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden HTTP monitor JSON parsing
  electron/services/monitoring/shared/httpMonitorJsonUtils.ts
  electron/test/services/monitoring/shared/httpMonitorJsonUtils.test.ts
Due: typescript-check, typescript-check-electron

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

