Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$


🛠️ [fix] Harden backend focus sync listener
  src/hooks/useBackendFocusSync.ts
  src/test/hooks/useBackendFocusSync.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Harden compact sidebar auto-dismiss
  src/app/sidebar/useCompactSidebarAutoDismiss.ts
  src/test/app/sidebar/useCompactSidebarAutoDismiss.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Harden overflow marquee resize listener
  src/hooks/ui/useOverflowMarquee.ts
  src/test/hooks/useOverflowMarquee.coverage.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Harden modal focus trap listener
  src/components/common/Modal/Modal.tsx
  src/test/components/common/Modal/Modal.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Harden tooltip reposition listeners
  src/components/common/Tooltip/Tooltip.tsx
  src/test/components/common/Tooltip/Tooltip.fast-check.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Harden tooltip browser globals
  src/components/common/Tooltip/Tooltip.tsx
  src/test/components/common/Tooltip/Tooltip.fast-check.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Wrap download body access failures
  src/test/utils/fileDownload.test.ts
  src/utils/downloads/browserFileDownload.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Harden modal DOM access
  src/components/common/Modal/Modal.tsx
  src/components/common/Modal/modalStack.ts
  src/test/components/common/Modal/Modal.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Harden screenshot thumbnail portal target
  src/components/SiteDetails/ScreenshotThumbnail.tsx
  src/test/ScreenshotThumbnail.coverage.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Harden site-card scrolling document access
  src/test/utils/dom/scrollToSiteCard.test.ts
  src/utils/dom/scrollToSiteCard.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Harden download anchor creation
  src/test/utils/fileDownload.test.ts
  src/utils/downloads/browserFileDownload.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Unref websocket keepalive guard timers
  electron/services/monitoring/WebsocketKeepaliveMonitor.ts
  electron/test/services/monitoring/WebsocketKeepaliveMonitor.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Unref OAuth loopback callback timeout
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/test/services/cloud/oauth/LoopbackOAuthServer.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Unref preload IPC timeout guards
  electron/preload/core/bridgeFactory.ts
  electron/test/preload/core/bridgeFactory.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Clean up auto-updater during shutdown
  electron/services/application/ApplicationService.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid service creation during app cleanup
  electron/services/application/ApplicationService.ts
  electron/test/services/application/ApplicationService.comprehensive.test.ts
  electron/test/services/application/ApplicationService.simple.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Unref Vite readiness timeout
  electron/services/window/WindowService.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Unref main process watchdog timers
  electron/main.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Cover filesystem cloud provider safety
  electron/test/services/cloud/providers/FilesystemCloudStorageProvider.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Prune stale monitoring locks
  src/stores/sites/useSitesState.ts
  src/test/stores/sites/useSitesState.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Normalize legacy private IP hostnames
  shared/test/utils/urlSafety.test.ts
  shared/utils/urlSafety.ts
Due: typescript-check

🛠️ [fix] Allow empty app JSON backups
  shared/test/validation/importExportSchemas.test.ts
  shared/validation/importExportSchemas.ts
Due: typescript-check

🛠️ [fix] Preserve imported monitor history order
  electron/services/database/DataImportExportService.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Centralize SQLite restore payload validation
  electron/services/ipc/validators/shared.ts
  electron/services/ipc/validators/utils/restoreValidation.ts
  shared/test/validation/dataSchemas.test.ts
  shared/validation/dataSchemas.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Require canonical cloud backup metadata
  electron/services/cloud/providers/cloudBackupIo.ts
  electron/test/services/cloud/providers/cloudBackupIo.test.ts
  shared/test/validation/cloudBackupSchemas.test.ts
  shared/validation/cloudBackupSchemas.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Preserve backup metadata fields exactly
  shared/test/validation/dataSchemas.test.ts
  shared/validation/dataSchemas.ts
Due: typescript-check

🛠️ [fix] Reject duplicate normalized import sites
  electron/services/database/DataImportExportService.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Preserve prototype-named sync snapshot keys
  shared/test/types/cloudSyncSnapshot.test.ts
  shared/types/cloudSyncSnapshot.ts
Due: typescript-check

🛠️ [fix] Preserve sync records with prototype keys
  electron/test/services/sync/syncEngineState.test.ts
  shared/test/types/cloudSync.test.ts
  shared/test/types/cloudSyncBaseline.test.ts
  shared/types/cloudSync.ts
  shared/types/cloudSyncBaseline.ts
  shared/types/cloudSyncDomain.ts
  shared/types/cloudSyncSnapshot.ts
  shared/validation/ownDataRecordSchema.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Preserve exact state sync identifiers
  electron/services/ipc/internal/stateSyncStatusNormalization.ts
  electron/test/services/ipc/internal/stateSyncStatusNormalization.test.ts
  shared/test/types/stateSync.test.ts
  shared/types/stateSync.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Preserve settings mapper edge values
  electron/services/database/utils/mappers/settingsMapper.ts
  electron/test/services/database/settingsMapper.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Apply prototype-named synced sites
  electron/services/sync/SyncEngine.ts
  electron/test/services/sync/SyncEngine.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Preserve persisted UI site key maps
  src/stores/ui/useUiStore.ts
  src/test/stores/ui/useUiStore.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Validate muted site setting identifiers
  src/stores/settings/state.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Align notification site identifier validation
  shared/test/validation/notifications.test.ts
  shared/validation/notifications.ts
  shared/validation/siteFieldSchemas.ts
Due: typescript-check

🛠️ [fix] Align monitor identifier schema validation
  shared/test/validation/identifierValidation.test.ts
  shared/validation/monitorFieldSchemas.ts
Due: typescript-check

🛠️ [fix] Validate cloud sync domain identifiers
  shared/test/types/cloudSyncBaseline.test.ts
  shared/types/cloudSyncDomain.ts
Due: typescript-check

🛠️ [fix] Validate cloud sync snapshot entity IDs
  shared/test/types/cloudSyncSnapshot.test.ts
  shared/types/cloudSyncSnapshot.ts
Due: typescript-check

🛠️ [fix] Validate cloud sync operation entity IDs
  shared/test/types/cloudSync.test.ts
  shared/types/cloudSync.ts
Due: typescript-check

🛠️ [fix] Validate cloud reset preview device IDs
  shared/test/validation/cloudSchemas.test.ts
  shared/validation/cloudSchemas.ts
Due: typescript-check
