Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

typescript-check:
  name: 🔍 typescript · Type check all files
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false
  require_serial: true

typescript-check-electron:
  name: 🔍 electron · Type check electron files
  entry: npx tsc
  language: node
  args:
  - --project
  - tsconfig.electron.json
  - --noEmit
  pass_filenames: false
  require_serial: true

vite-build-check:
  name: ⚡ vite · Validate build configuration
  entry: npx vite
  language: node
  args:
  - build
  - --mode
  - development
  - --emptyOutDir
  - 'false'
  pass_filenames: false
  require_serial: true

package-scripts-check:
  name: 📦 npm · Validate package.json scripts
  entry: node
  language: node
  args:
  - -e
  - const pkg = require('./package.json'); console.log('✅ Package.json is valid')
  pass_filenames: false

🛡️ [fix] Harden state sync status normalization
  electron/services/ipc/internal/stateSyncStatusNormalization.ts
  electron/services/ipc/internal/stateSyncStatusSummary.ts
  electron/test/services/ipc/internal/stateSyncStatusNormalization.test.ts
  electron/test/services/ipc/internal/stateSyncStatusSummary.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Enforce ISO status timestamps
  shared/test/validation/statusUpdateSchemas.test.ts
  shared/validation/statusUpdateSchemas.ts
Due: typescript-check

🛡️ [fix] Harden database row timestamps
  shared/test/types/database.test.ts
  shared/types/database.ts
  src/test/database-types-coverage.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Reject infinite non-negative numbers
  shared/test/fuzzing/typeGuards.fuzz.test.ts
  shared/test/strictTests/typeGuards-complete-coverage.test.ts
  shared/test/utils/typeGuards-complete-coverage.test.ts
  shared/test/utils/typeGuards.comprehensive.test.ts
  shared/test/utils/typeGuards.test.ts
  shared/utils/typeGuards.ts
  src/test/utils/typeGuards.advanced-fuzzing.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Normalize alert store numeric bounds
  src/stores/alerts/useAlertStore.ts
  src/test/stores/alerts/useAlertStore.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Reuse ISO timestamps for alerts
  shared/test/validation/statusUpdateSchemas.test.ts
  shared/validation/statusUpdateSchemas.ts
  src/stores/alerts/utils/alertPayload.ts
  src/test/stores/alerts/useAlertStore.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Tighten snapshot date overlays
  shared/test/utils/siteSnapshots.comprehensive.test.ts
  shared/utils/siteSnapshots.ts
Due: typescript-check

🛡️ [fix] Normalize timestamp parse defaults
  shared/test/utils/safeConversions.test.ts
  shared/utils/safeConversions.ts
Due: typescript-check

🛡️ [fix] Normalize safe integer bounds
  shared/test/validatorUtils.property.test.ts
  shared/validation/validatorUtils.ts
Due: typescript-check

🛡️ [fix] Reject infinite monitor intervals
  shared/constants/monitoring.ts
  shared/test/strictTests/monitoringConstants-complete-coverage.test.ts
Due: typescript-check

🛡️ [fix] Sanitize UI column widths
  src/stores/ui/useUiStore.ts
  src/test/stores/ui/useUiStore.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Reject infinite history row numbers
  electron/services/database/utils/mappers/historyMapper.ts
  electron/test/services/database/utils/historyMapper.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Reject infinite query timestamps
  electron/services/database/utils/queries/typedQueries.ts
  electron/test/services/database/utils/typedQueries.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Reject infinite uptime values
  src/test/utils/monitoring/dataValidation.test.ts
  src/utils/monitoring/dataValidation.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Reject infinite form numbers
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/DynamicField.tsx
  src/test/strictTests/AddSiteForm.behavioral-coverage.test.tsx
  src/test/strictTests/DynamicField.critical.test.tsx
Due: typescript-check, vite-build-check

🛡️ [fix] Reject infinite dynamic schema numbers
  electron/services/database/utils/schema/dynamicSchema.ts
  electron/test/services/database/utils/dynamicSchema.conversion.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Reject non-finite database numbers
  electron/services/database/utils/converters/valueConverters.ts
  electron/test/services/database/utils/valueConverters.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Null invalid database dates
  electron/services/database/utils/converters/valueConverters.ts
  electron/test/services/database/utils/valueConverters.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Require finite shared monitor numbers
  shared/test/types.test.ts
  shared/test/types/monitorTypes.guard.test.ts
  shared/types.ts
  shared/types/monitorTypes.ts
Due: typescript-check

🛡️ [fix] Ignore non-finite response stats
  src/hooks/site/useSiteStats.ts
  src/test/useSiteStats.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Reject non-finite monitoring telemetry
  electron/services/monitoring/utils/monitorCheckResultNormalization.ts
  electron/test/services/monitoring/monitorCheckResultNormalization.test.ts
  src/stores/sites/utils/statusUpdatePayload.ts
  src/test/stores/sites/utils/statusUpdatePayload.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🛡️ [fix] Ignore invalid optional abort timeouts
  electron/services/monitoring/shared/abortSignalUtils.ts
  electron/test/services/monitoring/shared/abortSignalUtils.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Reject invalid history row numbers
  electron/services/database/utils/queries/typedQueries.ts
  electron/test/services/database/utils/typedQueries.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Ignore invalid Google Drive status codes
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/services/cloud/providers/googleDrive/googleDriveErrorSchemas.ts
  electron/test/services/cloud/providers/googleDrive/googleDriveErrorSchemas.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Handle invalid dates in shared utilities
  shared/test/utils/jsonByteBudget.test.ts
  shared/test/utils/loggingContext.test.ts
  shared/utils/jsonByteBudget.ts
  shared/utils/loggingContext.ts
Due: typescript-check

🛡️ [fix] Preserve preload previews with invalid dates
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Normalize invalid monitor timestamps
  electron/services/monitoring/utils/monitorCheckResultNormalization.ts
  electron/test/services/monitoring/monitorCheckResultNormalization.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Normalize monitor timing inputs
  electron/services/monitoring/CdnEdgeConsistencyMonitor.ts
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/services/monitoring/shared/monitorServiceHelpers.ts
  electron/services/monitoring/shared/remoteMonitorCore.ts
  electron/test/services/monitoring/shared/monitorServiceHelpers.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Ignore invalid monitoring sleep durations
  electron/services/monitoring/shared/sleepMs.ts
  electron/test/services/monitoring/shared/sleepMs.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Clamp non-finite timeout values
  src/test/utils/timeoutUtils.property.test.ts
  src/test/utils/timeoutUtils.test.ts
  src/utils/timeoutUtils.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Harden alert ID fallback generation
  src/stores/alerts/useAlertStore.ts
  src/test/stores/alerts/useAlertStore.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Normalize cache numeric limits
  src/test/utils/cache.test.ts
  src/utils/cache.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Normalize operational hook retry counts
  electron/test/utils/operationalHooks.test.ts
  electron/utils/operationalHooks.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Normalize abort retry options
  shared/utils/abortUtils.ts
  src/test/abortUtils.comprehensive.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Cap shared backoff delays
  shared/test/utils/backoff.test.ts
  shared/utils/backoff.ts
Due: typescript-check

🛡️ [fix] Normalize abort signal timeouts
  shared/utils/abortUtils.ts
  src/test/abortUtils.comprehensive.test.ts
  src/test/shared/utils/abortUtils.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Normalize bridge readiness options
  src/services/utils/electronBridgeReadiness.ts
  src/test/services/utils/electronBridgeReadiness.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Normalize port conversion defaults
  shared/test/fuzzing/safeConversions.fuzz.test.ts
  shared/test/utils/safeConversions.test.ts
  shared/utils/safeConversions.ts
Due: typescript-check

🛡️ [fix] Sanitize mapped status codes
  electron/services/database/utils/mappers/monitorMapper.ts
  electron/test/services/database/utils/monitorMapper.test.ts
  shared/test/validation/validatorUtils.test.ts
  shared/validation/validatorUtils.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Harden dynamic integer conversion
  electron/services/database/utils/schema/dynamicSchema.ts
  electron/test/services/database/utils/dynamicSchema.conversion.test.ts
Due: typescript-check, typescript-check-electron

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

