Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$


🧹 [chore] Remove obsolete optimization docs and migration scripts
  TREE_SHAKING_OPTIMIZATION_SUMMARY.md
  fix-logger-mocks.ps1
  fix-remaining-logger-mocks.ps1
  scripts/OhMyPosh-Atomic-Custom.json
  scripts/README-migration.md
  scripts/README.md
Due: none

Bump version to 13.5.0
  package.json
Due: vite-build-check, package-scripts-check

👷 [ci] Add Stryker mutation testing and fuzzing coverage
  .github/workflows/stryker-mutation-testing.yml
  .gitignore
  .vscode/settings.json
  docs/advanced-bug-finding-tools.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/test/fuzzing/form.fuzz.test.ts
  src/test/fuzzing/ipc.fuzz.test.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
  src/test/fuzzing/validation.fuzz.test.ts
  stryker.config.mjs
Due: typescript-check, vite-build-check, package-scripts-check

🚜 [refactor] Improve type safety, code clarity, and input handling
  benchmarks/shared/conversionUtils.bench.ts
  benchmarks/shared/errorHandling.bench.ts
  benchmarks/shared/typeHelpers.bench.ts
  benchmarks/shared/utilityFunctions.bench.ts
  benchmarks/shared/validationUtils.bench.ts
  docs/docusaurus/src/js/modernEnhancements.ts
  electron/events/TypedEventBus.ts
  electron/events/middleware.ts
  electron/services/ipc/types.ts
  electron/utils/monitoring/monitorLifecycle.ts
  package.json
  shared/types.ts
  shared/types/formData.ts
  shared/types/monitorConfig.ts
  shared/types/themeConfig.ts
  shared/types/validation.ts
  shared/utils/abortUtils.ts
  shared/utils/cacheKeys.ts
  shared/utils/environment.ts
  shared/utils/errorCatalog.ts
  shared/utils/errorHandling.ts
  shared/utils/jsonSafety.ts
  shared/utils/logTemplates.ts
  shared/utils/objectSafety.ts
  shared/utils/siteStatus.ts
  shared/utils/typeHelpers.ts
  shared/validation/schemas.ts
  src/components/shared/FormErrorAlert.tsx
  src/components/shared/SettingItem.tsx
  src/components/shared/formUtils.ts
  src/test/fuzzing/ipc.fuzz.test.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
  src/utils/fallbacks.ts
  src/utils/monitorTitleFormatters.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🎨 [style] Normalize formatting and whitespace across codebase
  CONTRIBUTING.md
  benchmarks/shared/typeHelpers.bench.ts
  benchmarks/shared/validationUtils.bench.ts
  docs/Guides/AI-CONTEXT.md
  docs/Guides/DOCUSAURUS-SETUP-GUIDE.md
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Guides/LOGGER_MIGRATION_COMPLETE_REPORT.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/TESTING.md
  docs/advanced-bug-finding-tools.md
  docs/docusaurus/src/pages/index.module.css
  shared/test/complete-100-coverage-fixed.test.ts
  shared/test/complete-100-coverage.test.ts
  shared/test/testHelpers.ts
  shared/test/utils/coverage-legacy.test.ts
  shared/test/utils/jsonSafety.comprehensive.test.ts
  shared/test/utils/jsonSafety.test.ts
  shared/test/utils/safeConversions.test.ts
  shared/test/utils/stringConversion-complete-function-coverage.test.ts
  shared/test/utils/typeGuards-and-helpers-complete-coverage.test.ts
  shared/test/utils/typeGuards-complete-function-coverage.test.ts
  shared/test/utils/typeHelpers.comprehensive.test.ts
  shared/test/validation/testHelpers.ts
  shared/test/validation/validatorUtils.test.ts
  src/index.css
  src/test/fuzzing/form.fuzz.test.ts
  src/test/fuzzing/ipc.fuzz.test.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
  src/test/fuzzing/validation.fuzz.test.ts
  src/theme/components.css
Due: typescript-check, vite-build-check

🚜 [refactor] Centralize monitor defaults and enhance validation
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
  shared/validation/validatorUtils.ts
  src/stores/sites/utils/monitorOperations.ts
  src/utils/monitorValidation.ts
Due: typescript-check, vite-build-check, package-scripts-check

🧪 [test] Refactors event handler usage and improves coverage
  docs/advanced-bug-finding-tools.md
  electron/test/services/monitoring/MonitorOperationRegistry.new.test.ts
  electron/test/services/monitoring/MonitorOperationRegistry.test.ts
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/types/componentProps.test.ts
  shared/test/ultimate-function-coverage-boost.test.ts
  shared/test/utils/typeGuards.comprehensive.test.ts
  shared/types/componentProps.ts
  src/test/fuzzing/form.fuzz.test.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
  src/test/fuzzing/validation.fuzz.test.ts
  src/theme/components/ThemedBox.tsx
  src/theme/components/ThemedCard.tsx
  src/theme/components/ThemedIconButton.tsx
  src/theme/components/ThemedSelect.tsx
  src/utils/chartUtils.ts
Due: typescript-check, typescript-check-electron, vite-build-check

📝 [docs] Add mascot images to README for visual clarity
  README.md
  assets/UptimeWatcherMascot.png
  assets/UptimeWatcherMascotPanel.png
  assets/UptimeWatcherMascotServer.png
Due: none

🎨 [style] Improve code formatting and readability in tests
  README.md
  shared/test/final-90-percent-function-coverage.test.ts
  shared/test/strictTests/typeGuards-complete-coverage.test.ts
  shared/test/types/componentProps.test.ts
  shared/test/utils/comprehensive-function-coverage.test.ts
  shared/test/utils/errorHandling.comprehensive.test.ts
  shared/test/utils/siteStatus.comprehensive.test.ts
  shared/test/utils/stringConversion-complete-coverage.test.ts
  shared/test/utils/stringConversion-complete-function-coverage.test.ts
  shared/test/utils/stringConversion.comprehensive.test.ts
  shared/test/utils/stringConversion.edge-coverage.test.ts
  shared/test/utils/typeGuards-complete-coverage.test.ts
  shared/test/utils/typeGuards.comprehensive.test.ts
  shared/test/utils/typeHelpers.test.ts
  shared/test/validation/schemas.final-coverage.test.ts
  shared/test/validation/schemas.test.ts
  src/test/fuzzing/form.fuzz.test.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
Due: typescript-check, vite-build-check

Bump version to 13.6.0
  package.json
Due: vite-build-check, package-scripts-check

🧪 [test] Add property-based fuzzing and improve mutation coverage
  .github/prompts/Stryker-GenerateStrykerMutatorFixesTests.prompt.md
  .github/workflows/stryker-mutation-testing.yml
  .gitignore
  README.md
  electron/test/fuzzing/backend-validation.fuzz.test.ts
  electron/test/fuzzing/database-operations.fuzz.test.ts
  electron/test/services/database/utils/databaseBackup.comprehensive.test.ts
  electron/test/utils/database/SiteWriterService-coverage.test.ts
  scripts/generate_prompts.py
  shared/test/fuzzing/utilities.fuzz.test.ts
  shared/test/utils/safeConversions.comprehensive.test.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  stryker-setup.ts
  stryker.config.mjs
  vitest.stryker.config.ts
Due: typescript-check, typescript-check-electron, vite-build-check

Add comprehensive tests for useMonitorTypesStore and ThemedProgress component
  .vscode/settings.json
  .vscode/tasks.json
  config/testing/vitest.electron.config.ts
  config/testing/vitest.shared.config.ts
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  electron/test/arithmetic-mutations.test.ts
  electron/test/array-declaration-mutations.test.ts
  electron/test/array-declaration-specific-mutations.test.ts
  electron/test/arrow-function-mutations.test.ts
  electron/test/managers/MonitorManager.arithmetic-mutations.test.ts
  electron/test/middleware.test.ts
  electron/test/services/database/utils/dynamicSchema.regex.test.ts
  electron/test/services/ipc/utils.arithmetic-mutations.test.ts
  electron/test/services/monitoring/HttpMonitor.assignment-operator.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/test/array-declaration-validation-mutations.test.ts
  src/test/arithmeticoperator-frontend-mutations.test.tsx
  src/test/array-declaration-react-mutations.test.tsx
  src/test/arraydeclaration-mutations.test.tsx
  src/test/arrowfunction-mutations.test.tsx
  src/test/components/Header/Header.assignment-operator.test.tsx
  src/test/components/SiteDetails/ScreenshotThumbnail.arithmetic-mutations.test.tsx
  src/test/components/SiteDetails/tabs/SettingsTab.arithmetic-mutations.test.tsx
  src/test/frontend-arithmetic-mutations.test.ts
  src/test/stores/error/ErrorBoundary.arithmetic-mutations.test.tsx
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.simplified100.test.ts
  src/test/theme/components/ThemedProgress.arithmetic-mutations.test.tsx
  src/test/useSiteAnalytics.test.ts
  vite.config.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Bump version to 13.7.0
  package.json
Due: vite-build-check, package-scripts-check

chore: format code with Prettier [skip-ci]
  CONTRIBUTING.md
  README.md
  docs/Guides/AI-CONTEXT.md
  docs/Guides/DOCUSAURUS-SETUP-GUIDE.md
  docs/Guides/Fallback-System-Usage-Analysis.md
  docs/Guides/LOGGER_MIGRATION_COMPLETE_REPORT.md
  docs/Guides/NEW_MONITOR_TYPE_IMPLEMENTATION.md
  docs/Guides/TESTING.md
  docs/docusaurus/src/pages/index.module.css
  src/index.css
  src/theme/components.css
Due: vite-build-check

🧪 [test] Achieve 100% coverage with fast-check fuzzing and direct tests
  .github/prompts/Generate-100%-Fast-Check-Fuzzing-Test-Coverage.prompt.md
  assets/.wasm-version
  assets/node-sqlite3-wasm.wasm
  config/testing/vitest.electron.config.ts
  config/testing/vitest.shared.config.ts
  package-lock.json
  package.json
  scripts/analyze-coverage.mjs
  shared/utils/abortUtils.ts
  shared/utils/logTemplates.ts
  vitest.stryker.config.ts
Due: typescript-check, vite-build-check, package-scripts-check

🧪 [test] Add comprehensive fast-check fuzzing for shared utils
  .vscode/tasks.json
  config/testing/vitest.electron.config.ts
  config/testing/vitest.shared.config.ts
  shared/constants/cacheConfig.ts
  shared/test/constants/cacheConfig.direct.test.ts
  shared/test/constants/cacheConfig.fuzz.test.ts
  shared/test/fuzzing/abortUtils.fuzz.test.ts
  shared/test/fuzzing/cacheKeys.fuzz.test.ts
  shared/test/fuzzing/environment.fuzz.test.ts
  shared/test/fuzzing/errorCatalog.fuzz.test.ts
  shared/test/fuzzing/errorFuzzing.test.ts
  shared/test/fuzzing/errorHandling.fuzz.test.ts
  shared/test/fuzzing/jsonSafety.fuzz.test.ts
  shared/test/fuzzing/objectSafety.fuzz.test.ts
  shared/test/fuzzing/safeConversions.fuzz.test.ts
  shared/test/fuzzing/schemas-new.fuzz.test.ts
  shared/test/fuzzing/schemas.fuzz.test.ts
  shared/test/fuzzing/siteStatus.fuzz.test.ts
  shared/test/fuzzing/stringConversion.fuzz.test.ts
  shared/test/fuzzing/typeGuards.fuzz.test.ts
  shared/test/fuzzing/typeHelpers.fuzz.test.ts
  shared/test/fuzzing/utilities.fuzz.test.ts
  shared/test/fuzzing/validatorBasic.test.ts
  shared/test/fuzzing/validatorSimple.test.ts
  shared/test/strictTests/cacheKeys-complete-coverage.test.ts
  shared/test/utils/cacheKeys-complete-coverage.test.ts
  shared/test/utils/cacheKeys-complete-function-coverage.test.ts
  shared/test/utils/cacheKeys-function-coverage.test.ts
  shared/test/utils/cacheKeys.error-coverage.test.ts
  shared/test/utils/cacheKeys.fuzz.test.ts
  shared/test/utils/cacheKeys.test.ts
  src/test/abortUtils.comprehensive.test.ts
  src/test/cacheKeys-coverage.test.ts
  src/test/environment-coverage.test.ts
  src/test/logTemplates.comprehensive.test.ts
  src/test/objectSafety-coverage.test.ts
  src/test/safeConversions-coverage.test.ts
  src/test/stringConversion-coverage.test.ts
  src/test/typeHelpers-coverage.test.ts
  src/test/vitest-context-setup.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Improve test stability, error handling, and build config
  eslint.config.mjs
  package-lock.json
  package.json
  shared/test/fuzzing/abortUtils.fuzz.test.ts
  shared/utils/abortUtils.ts
  shared/utils/cacheKeys.ts
  shared/utils/errorCatalog.ts
  shared/utils/errorHandling.ts
  shared/validation/schemas.ts
  shared/validation/validatorUtils.ts
  src/stores/monitor/useMonitorTypesStore.ts
  src/stores/sites/utils/monitorOperations.ts
  src/test/dom-setup.ts
  src/test/global-setup.ts
  src/test/mock-setup.ts
  src/test/setup.ts
  src/test/vitest-context-setup.ts
  src/utils/monitorTitleFormatters.ts
  vite.config.ts
  vitest.electron.config.ts
  vitest.shared.config.ts
Due: typescript-check, vite-build-check, package-scripts-check

🧪 [test] Add property-based tests for validation and utilities
  shared/test/fuzzing/errorCatalog.fuzz.test.ts
  shared/test/fuzzing/safeConversions.fuzz.test.ts
  shared/test/fuzzing/siteStatus.fuzz.test.ts
  shared/test/fuzzing/typeHelpers.fuzz.test.ts
  shared/test/fuzzing/utilities.fuzz.test.ts
  shared/test/jsonSafety.property.test.ts
  shared/test/schemas.property.test.ts
  shared/test/utils/cacheKeys.fuzz.test.ts
  shared/test/validation.property.test.ts
  shared/test/validation/schemas.property-based.test.ts
  shared/test/validation/validatorUtils-complete-function-coverage.test.ts
  shared/test/validation/validatorUtils.test.ts
  shared/test/validatorUtils.property.test.ts
  src/test/abortUtils.comprehensive.test.ts
  src/test/setup.ts
  src/test/utils/cache.test.ts
  src/test/utils/cacheSync.test.ts
  src/test/utils/chartUtils.test.ts
  src/test/utils/duration.test.ts
  src/test/utils/errorHandling.test.ts
  src/test/utils/fallbacks.test.ts
  src/test/utils/fileDownload.fixed.test.ts
  src/test/utils/monitorTitleFormatters.test.ts
  src/test/utils/monitorTypeHelper.test.ts
  src/test/utils/monitorUiHelpers.test.ts
  src/test/utils/monitorValidation.test.ts
  src/test/utils/monitoring/dataValidation.test.ts
  src/test/utils/siteStatus.test.ts
  src/test/utils/status.test.ts
  src/test/utils/time.test.ts
  src/test/utils/timeoutUtils.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Add property-based tests for robust input validation
  .gitignore
  docs/docusaurus/src/components/HomepageFeatures/index.tsx
  docs/docusaurus/src/pages/index.module.css
  docs/docusaurus/src/pages/index.tsx
  electron/test/services/database/DatabaseService.simple.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  electron/test/services/database/SettingsRepository.simple.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/database/utils/databaseBackup.comprehensive.test.ts
  electron/test/services/database/utils/databaseSchema.simple.test.ts
  electron/test/services/database/utils/historyManipulation.test.ts
  electron/test/services/database/utils/historyQuery.test.ts
  electron/test/services/database/utils/typedQueries.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  shared/test/utils/jsonSafety.test.ts
  shared/test/utils/objectSafety.test.ts
  shared/test/utils/safeConversions.test.ts
  shared/test/utils/stringConversion.comprehensive.test.ts
  src/test/components/shared/formUtils.test.ts
  src/test/constants.test.ts
  src/test/fuzzing/form.fuzz.test.ts
  src/test/generateUuid.test.ts
  src/test/store-utilities-100-coverage.test.ts
  vite.config.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🔧 [build] Restructures config files for clarity and consistency
  .cspell.json
  config/benchmarks/tsconfig.bench.json
  config/linting/.secretlintrc.json
  config/linting/biome.json
  config/linting/markdownlint.json
  config/testing/tsconfig.configs.json
  config/testing/tsconfig.electron.test.json
  config/testing/tsconfig.js.json
  config/testing/tsconfig.scripts.json
  config/testing/tsconfig.shared.test.json
  config/testing/tsconfig.test.json
  config/tools/.markdown-link-check.json
  config/tools/knip.json
  config/tools/repomix.config.json
  docs/docusaurus/package.json
  docs/docusaurus/tsconfig.eslint.json
  docs/docusaurus/tsconfig.json
  docs/docusaurus/tsconfig.typedoc.json
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  eslint.config.mjs
  package.json
  tsconfig.electron.json
  tsconfig.json
  tsconfig.shared.json
Due: vite-build-check, package-scripts-check

✨ [feat] Integrate ESLint Config Inspector into docs site
  .gitignore
  docs/ESLINT-INSPECTOR-DEPLOYMENT-SUMMARY.md
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/package.json
  electron/UptimeOrchestrator.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/database/utils/historyQuery.test.ts
  electron/test/setup.ts
  electron/utils/database/DataBackupService.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteRepositoryService.ts
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/build-eslint-inspector.mjs
  scripts/verify-eslint-inspector.mjs
  shared/test/fuzzing/errorCatalog.fuzz.test.ts
  shared/test/setup.ts
  shared/test/utils/jsonSafety.test.ts
  shared/test/utils/safeConversions.test.ts
  src/components/Header/Header.tsx
  src/test/App.additional-coverage.test.tsx
  src/test/App.comprehensive.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.realistic.test.tsx
  src/test/components/AddSiteForm/Submit.comprehensive.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/dom-setup.ts
  src/test/generateUuid.test.ts
  src/test/global-setup.ts
  src/test/hooks/useAddSiteForm.comprehensive.test.ts
  src/test/hooks/useMonitorTypes.test.ts
  src/test/mock-setup.ts
  src/test/setup.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/utils/duration.test.ts
  src/test/utils/errorHandling.property.test.ts
  src/test/utils/monitorTitleFormatters.test.ts
  src/test/utils/timeoutUtils.test.ts
  src/test/utils/validation.property.test.ts
  src/test/vitest-context-setup.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧪 [test] Wrap user interactions in act for test reliability
  eslint.config.mjs
  src/test/components/AddSiteForm/AddSiteForm.realistic.test.tsx
Due: typescript-check, vite-build-check

🔧 [build] Update dev dependencies and add Stryker Vitest config
  package-lock.json
  package.json
  scripts/vitest.stryker.config.ts
Due: typescript-check, vite-build-check, package-scripts-check

🧪 [test] Achieve 100% fuzz and branch coverage for core utilities
  .gitignore
  package.json
  scripts/build-eslint-inspector.mjs
  shared/test/fuzzing/abortUtils.coverage-gaps.fuzz.test.ts
  shared/test/utils/objectSafety.test.ts
  shared/utils/abortUtils.ts
  src/test/components/AddSiteForm/AddSiteForm.realistic.test.tsx
  src/test/hooks/useMonitorTypes.test.ts
  src/test/utils/errorHandling.advanced-fuzzing.test.ts
  src/test/utils/jsonSafety.advanced-fuzzing.test.ts
  src/test/utils/typeGuards.advanced-fuzzing.test.ts
  src/utils/errorHandling.ts
  vitest.stryker.config.ts
Due: typescript-check, vite-build-check, package-scripts-check

🧪 [test] Improve property-based test coverage and consistency
  .prettierrc
  src/test/utils/cache.test.ts
  src/test/utils/cacheSync.test.ts
  src/test/utils/chartUtils.property.test.ts
  src/test/utils/chartUtils.test.ts
  src/test/utils/data/generateUuid.comprehensive.test.ts
  src/test/utils/duration.property.test.ts
  src/test/utils/duration.test.ts
  src/test/utils/errorHandling.test.ts
  src/test/utils/fallbacks.property.test.ts
  src/test/utils/fallbacks.test.ts
  src/test/utils/fileDownload.fixed.test.ts
  src/test/utils/jsonSafety.advanced-fuzzing.test.ts
  src/test/utils/monitorTitleFormatters.property.test.ts
  src/test/utils/monitorTypeHelper.test.ts
  src/test/utils/monitorUiHelpers.test.ts
  src/test/utils/monitorValidation.test.ts
  src/test/utils/monitoring/dataValidation.test.ts
  src/test/utils/siteStatus.test.ts
  src/test/utils/status.property.test.ts
  src/test/utils/status.test.ts
  src/test/utils/time.property.test.ts
  src/test/utils/time.test.ts
  src/test/utils/timeoutUtils.property.test.ts
  src/test/utils/typeGuards.advanced-fuzzing.test.ts
Due: typescript-check, vite-build-check

Bump version to 13.8.0
  package.json
Due: vite-build-check, package-scripts-check

🔧 [build] Enhance Stylelint config for modern workflows
  .stylelintignore
  benchmarks/electron/serviceContainer.bench.ts
  benchmarks/monitoring/monitoringOperations.bench.ts
  docs/docusaurus/src/components/HomepageFeatures/styles.module.css
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/src/pages/index.module.css
  electron/utils/database/DataBackupService.ts
  electron/utils/database/DataImportExportService.ts
  electron/utils/database/SiteRepositoryService.ts
  package-lock.json
  package.json
  scripts/add-cspell-words.mjs
  scripts/analyze-coverage.mjs
  shared/test/fuzzing/safeConversions.fuzz.test.ts
  shared/test/utils/stringConversion-complete-function-coverage.test.ts
  src/components/SiteDetails/SiteDetails.css
  src/theme/components.css
  stylelint.config.mjs
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧪 [test] Refactors and improves test mocks, typing, and property usage
  electron/test/services/database/DatabaseService.simple.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.simple.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/database/utils/databaseSchema.simple.test.ts
  electron/test/services/database/utils/historyManipulation.test.ts
  electron/test/services/database/utils/historyQuery.test.ts
  electron/test/utils/enhanced-testUtilities.ts
  shared/test/fuzzing/abortUtils.coverage-gaps.fuzz.test.ts
  shared/test/utils/objectSafety.test.ts
Due: typescript-check, typescript-check-electron

Bump version to 13.9.0
  package.json
Due: vite-build-check, package-scripts-check

🧪 [test] Add comprehensive property-based fuzzing for validation, database, and IPC layers
  .github/workflows/stylelint.yml
  .stylelintignore
  docs/docusaurus/docusaurus.config.ts
  docs/docusaurus/src/components/HomepageFeatures/styles.module.css
  docs/docusaurus/src/css/custom.css
  docs/docusaurus/src/pages/index.module.css
  package-lock.json
  package.json
  shared/test/utils/typeGuards.test.ts
  shared/utils/abortUtils.ts
  shared/utils/typeGuards.ts
  src/components/Header/Header.css
  src/components/SiteDetails/SiteDetails.css
  src/index.css
  src/test/components/AddSiteForm/AddSiteForm.input-fuzzing.test.tsx
  src/test/hooks/useMonitorTypes.test.ts
  src/test/utils/database.comprehensive-fuzzing.test.ts
  src/test/utils/fuzzing-test-suite.runner.test.ts
  src/test/utils/ipc.comprehensive-fuzzing.test.ts
  src/test/utils/state-management.comprehensive-fuzzing.test.ts
  src/test/utils/typeGuards.advanced-fuzzing.test.ts
  src/test/utils/validation.comprehensive-fuzzing.test.ts
  src/theme/components.css
  stylelint.config.mjs
Due: typescript-check, vite-build-check, package-scripts-check
