Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

typescript-check:
  name: 🔍 typescript · Type check all files
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false
  require_serial: true

typescript-check-electron:
  name: 🔍 electron · Type check electron files
  entry: npx tsc
  language: node
  args:
  - --project
  - tsconfig.electron.json
  - --noEmit
  pass_filenames: false
  require_serial: true

vite-build-check:
  name: ⚡ vite · Validate build configuration
  entry: npx vite
  language: node
  args:
  - build
  - --mode
  - development
  - --emptyOutDir
  - 'false'
  pass_filenames: false
  require_serial: true

package-scripts-check:
  name: 📦 npm · Validate package.json scripts
  entry: node
  language: node
  args:
  - -e
  - const pkg = require('./package.json'); console.log('✅ Package.json is valid')
  pass_filenames: false

🧹 [chore] Hide HTTP timing interceptor helper
  electron/services/monitoring/utils/httpClient.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Remove typed event bus factory
  electron/events/TypedEventBus.ts
  electron/test/events/TypedEventBus.comprehensive.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide operational context normalizer
  electron/test/utils/operationalHooks.test.ts
  electron/utils/operationalHooks.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Trim event middleware surface
  docs/Architecture/ADRs/ADR_002_EVENT_DRIVEN_ARCHITECTURE.md
  docs/Architecture/TYPING_AUDIT_HISTORY.md
  electron/events/middleware.ts
  electron/test/arithmetic-mutations.test.ts
  electron/test/events/middleware.comprehensive.test.ts
  electron/test/events/middleware.test.ts
  electron/test/middleware.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Remove event categorization runtime helpers
  docs/Architecture/TYPING_AUDIT_HISTORY.md
  electron/events/eventTypes.ts
  electron/test/eventTypes.test.ts
  electron/test/events/eventTypes.comprehensive.test.ts
  electron/test/high-impact-coverage.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide IPC diagnostics metric internals
  electron/services/ipc/diagnosticsMetrics.ts
  electron/test/services/ipc/IpcService.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Remove stale database converter helpers
  electron/services/database/utils/converters/valueConverters.ts
  electron/test/services/database/utils/valueConverters.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide settings mapper internals
  electron/services/database/utils/mappers/settingsMapper.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Remove duplicate history bulk helper
  electron/services/database/utils/maintenance/historyManipulation.ts
  electron/test/services/database/utils/historyManipulation.test.ts
  package.json
  shared/utils/logTemplates.ts
  src/test/logTemplates.comprehensive.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Trim history mapper surface
  electron/services/database/utils/mappers/historyMapper.ts
  electron/test/services/database/utils/historyMapper.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide monitor row mapper
  electron/services/database/utils/mappers/monitorMapper.ts
  electron/test/services/database/utils/monitorMapper.test.ts
Due: typescript-check, typescript-check-electron

🧹 [chore] Hide generic typed query helpers
  electron/services/database/utils/queries/typedQueries.ts
  electron/test/services/database/utils/typedQueries.test.ts
Due: typescript-check, typescript-check-electron

🧹 [chore] Hide database schema internals
  electron/services/database/utils/schema/databaseSchema.ts
  electron/test/fuzzing/databaseSchema.comprehensive.fuzz.test.ts
  electron/test/fuzzing/databaseSchema.simple.fuzz.test.ts
  electron/test/services/database/utils/databaseSchema.simple.test.ts
Due: typescript-check, typescript-check-electron

🧹 [chore] Trim monitor type registry surface
  electron/services/monitoring/MonitorTypeRegistry.ts
  electron/test/fuzzing/MonitorTypeRegistry.comprehensive.fuzz.test.ts
  electron/test/services/monitoring/MonitorTypeRegistry.coverage.test.ts
Due: typescript-check, typescript-check-electron

🧹 [chore] Narrow monitor factory API
  electron/services/monitoring/MonitorFactory.ts
  electron/test/services/monitoring/MonitorFactory.test.ts
Due: typescript-check, typescript-check-electron

🧹 [chore] Hide preload bridge internals
  electron/preload/core/bridgeFactory.ts
  electron/test/preload/core/bridgeFactory.comprehensive.test.ts
  electron/test/preload/core/bridgeFactory.envFlags.test.ts
Due: typescript-check, typescript-check-electron

📝 [docs] Reduce TypeDoc parameter warnings
  electron/preload/domains/systemApi.ts
  electron/services/database/utils/queries/typedQueries.ts
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/utils/errorHandling.ts
  electron/services/monitoring/utils/nativeConnectivity.ts
  shared/utils/jsonSafety.ts
  shared/utils/typeGuards.ts
  src/stores/ui/types.ts
Due: typescript-check, typescript-check-electron, vite-build-check

📝 [docs] Normalize unresolved TSDoc links
  electron/preload/utils/eventsGuardHelpers.ts
  shared/types/stateSync.ts
  shared/utils/abortUtils.ts
  src/services/utils/validation.ts
  src/stores/sites/utils/fileDownload.ts
  src/types/typeUtils.ts
  src/utils/fallbacks.ts
Due: typescript-check, typescript-check-electron, vite-build-check

📝 [docs] Clear source TypeDoc link warnings
  electron/services/database/DatabaseService.ts
  electron/services/database/utils/maintenance/databaseLockRecovery.ts
  electron/services/database/utils/maintenance/historyManipulation.ts
  electron/services/database/utils/mappers/settingsMapper.ts
  electron/services/database/utils/queries/historyQuery.ts
  electron/services/database/utils/queries/typedQueries.ts
  electron/services/database/utils/schema/databaseSchema.ts
  electron/services/ipc/utils.ts
  electron/services/monitoring/DnsMonitor.ts
  electron/services/monitoring/MonitorFactory.ts
  electron/services/monitoring/PingMonitor.ts
  electron/services/monitoring/PortMonitor.ts
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/services/monitoring/shared/monitorCoreHelpers.ts
  electron/services/monitoring/shared/monitorServiceAdapterBase.ts
  electron/services/monitoring/types.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/services/monitoring/utils/portChecker.ts
  electron/services/monitoring/utils/portErrorHandling.ts
  shared/utils/typeGuards.ts
  shared/utils/typeHelpers.ts
  shared/validation/statusUpdateSchemas.ts
  src/components/SiteDetails/utils/responseTimeColors.ts
Due: typescript-check, typescript-check-electron, vite-build-check

📝 [docs] Clear remaining TypeDoc warnings
  docs/Guides/DEVELOPER_QUICK_START.md
  docs/Guides/DOCUMENTATION_INDEX.md
  docs/Guides/ORGANIZATION_SUMMARY.md
  electron/services/ipc/internal/stateSyncStatusNormalization.ts
Due: typescript-check, typescript-check-electron

🧹 [chore] Reduce Electron export lint noise
  electron/services/cloud/providers/oauthAuthorizeUrl.ts
  electron/services/database/utils/mappers/monitorMapper.ts
  electron/services/ipc/handlers/systemHandlers.ts
  tsconfig.electron.json
Due: typescript-check, typescript-check-electron

🧹 [chore] Tighten Electron export checks
  package.json
Due: vite-build-check, package-scripts-check

🧹 [chore] Internalize shared logger helpers
  shared/test/strictTests/loggerCommon-complete-coverage.test.ts
  shared/test/utils/logger/consoleFallback.test.ts
  shared/test/utils/logger/interfaces.wrapper-coverage.test.ts
  shared/test/utils/loggingContext.test.ts
  shared/utils/logger/common.ts
  shared/utils/logger/consoleFallback.ts
  shared/utils/logger/interfaces.ts
  shared/utils/loggingContext.ts
Due: typescript-check

🧹 [chore] Trim unused modal helpers
  shared/test/utils/modalHandlers.comprehensive.test.ts
  shared/utils/modalHandlers.ts
Due: typescript-check

🧹 [chore] Internalize shared utility helpers
  shared/test/utils/canonicalJson.test.ts
  shared/test/utils/retry.test.ts
  shared/test/validation/siteIntegrity.test.ts
  shared/utils/canonicalJson.ts
  shared/utils/retry.ts
  shared/validation/siteIntegrity.ts
Due: typescript-check

🧹 [chore] Trim validation helper exports
  shared/test/types/cloudSync.test.ts
  shared/test/types/monitorTypes.guard.test.ts
  shared/test/utils/environment.comprehensive.test.ts
  shared/types/monitorTypes.ts
  shared/utils/environment.ts
  shared/validation/persistedDeviceIdValidation.ts
Due: typescript-check

🧹 [chore] Internalize tooling helper exports
  docs/docusaurus/typedoc-plugins/hashToBangLinksCore.d.mts
  docs/docusaurus/typedoc-plugins/hashToBangLinksCore.mjs
  shared/test/cloudSyncState.property.test.ts
  shared/test/utils/cloudSyncState.comprehensive.test.ts
  shared/utils/cloudSyncState.ts
  tests/tooling/docs/hashToBangLinksCore.test.ts
Due: typescript-check

🧹 [chore] Trim site snapshot helper exports
  shared/test/utils/siteSnapshots.comprehensive.test.ts
  shared/utils/siteSnapshots.ts
Due: typescript-check

🧹 [chore] Trim shared safety exports
  shared/constants/history.ts
  shared/test/strictTests/historyLimits-complete-coverage.test.ts
  shared/test/utils/urlSafety.test.ts
  shared/utils/urlSafety.ts
Due: typescript-check

🧹 [chore] Internalize validation schemas
  shared/test/schemas.property.test.ts
  shared/test/types/cloudSyncBaseline.test.ts
  shared/test/types/cloudSyncManifest.test.ts
  shared/test/types/cloudSyncSnapshot.test.ts
  shared/test/types/stateSync.test.ts
  shared/test/validation/importExportSchemas.test.ts
  shared/test/validation/schemas.comprehensive.test.ts
  shared/test/validation/schemas.property-based.test.ts
  shared/test/validation/schemas.test.ts
  shared/test/validation/statusUpdateSchemas.test.ts
  shared/types/cloudSyncBaseline.ts
  shared/types/cloudSyncManifest.ts
  shared/types/cloudSyncSnapshot.ts
  shared/types/stateSync.ts
  shared/validation/importExportSchemas.ts
  shared/validation/monitorSchemas.ts
  shared/validation/statusUpdateSchemas.ts
Due: typescript-check

🧹 [chore] Clean unused electron lint exports
  electron/services/monitoring/types.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🛠️ [fix] Align package publication checks
  package.json
Due: vite-build-check, package-scripts-check

🚜 [refactor] Reuse monitor store helpers
  src/stores/sites/useSiteOperations.ts
  src/test/stores/sites/useSiteOperations.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Remove stale monitor operations facade
  src/stores/sites/utils/monitorOperations.ts
  src/test/fuzzing/monitor-operations.fuzz.test.ts
  src/test/monitorOperations.test.ts
  src/test/stores/sites/utils/monitorOperations.fast-check-comprehensive.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Remove unused generic download helper
  src/stores/sites/utils/fileDownload.ts
  src/test/additional-uncovered-lines.test.ts
  src/test/stores/sites/utils/fileDownload.fast-check-comprehensive.test.ts
  src/test/utils/fileDownload.test.ts
  src/utils/downloads/browserFileDownload.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Internalize confirm dialog store
  src/stores/ui/useConfirmDialogStore.ts
  src/test/components/common/ConfirmDialog.test.tsx
  src/test/stores/ui/useConfirmDialogStore.test.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Trim monitor validation exports
  src/test/utils/monitorValidation.error-handling.test.ts
  src/test/utils/monitorValidation.test.ts
  src/utils/monitorValidation.ts
  src/utils/monitorValidation/monitorValidationInternals.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Trim monitor UI helper API
  src/test/function-coverage-boost.test.ts
  src/test/utils/monitorUiHelpers.branch-coverage.test.ts
  src/test/utils/monitorUiHelpers.comprehensive.test.ts
  src/test/utils/monitorUiHelpers.test.ts
  src/utils/monitorUiHelpers.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Internalize monitor type loading
  src/test/utils/monitorTypeHelper.test.ts
  src/utils/monitorTypeHelper.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Remove alert coordinator test exports
  src/components/Alerts/alertCoordinator.ts
  src/test/components/Alerts/StatusAlertToast.test.tsx
  src/test/components/Alerts/alertCoordinator.test.ts
Due: typescript-check, vite-build-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

