Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$


🧪 [test] Exercise real SiteCard theme primitives
  src/test/components/Dashboard/SiteCard/SiteCard.comprehensive.test.tsx
Due: typescript-check, vite-build-check

🧪 [test] Type SiteCard fuzz contracts
  src/test/components/Dashboard/SiteCard/SiteCard.input-fuzzing.test.tsx
  src/test/components/SiteCardHistory.states.test.tsx
Due: typescript-check, vite-build-check

🧪 [test] Type monitoring service fixtures
  electron/services/monitoring/MonitorScheduler.ts
  electron/test/services/monitoring/HttpMonitor.active-counter.test.ts
  electron/test/services/monitoring/MonitorScheduler.backoff-regression.test.ts
  electron/test/services/monitoring/MonitorScheduler.comprehensive.test.ts
  electron/test/services/monitoring/MonitorScheduler.test.ts
  electron/test/services/monitoring/OperationTimeoutManager.comprehensive.test.ts
  electron/test/services/monitoring/PortMonitor.configuration.test.ts
  electron/test/utils/monitorSchedulerEventRecorder.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Restore strict aggregate type gates
  shared/test/utils/environment.property.fuzz.test.ts
  shared/test/utils/objectSafety.test.ts
  shared/types.ts
  shared/utils/environment.ts
  src/test/components/Dashboard/SiteCard/SiteCard.input-fuzzing.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Remove vulnerable legacy Remark validator
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

🛠️ [fix] Type renderer event listener cleanup
  electron/test/preload.api-edge-cases.test.ts
  scripts/generate-ipc-artifacts.mts
  shared/types/eventsBridge.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type Electron test fixtures
  electron/test/constants.comprehensive.test.ts
  electron/test/main.cli-lifecycle.test.ts
  electron/test/managers/validators/SiteValidator.comprehensive.test.ts
  electron/test/services/ServiceContainer.mocked.test.ts
  electron/test/services/cloud/CloudSyncScheduler.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/utils/databaseBackup.comprehensive.test.ts
  electron/test/services/ipc/diagnosticsHandlers.test.ts
  electron/test/services/monitoring/utils/pingErrorHandling.test.ts
  electron/test/services/monitoring/utils/portRetry.test.ts
  electron/test/utils/logger.comprehensive.test.ts
  electron/test/utils/utils.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type database service fixtures
  electron/test/services/database/DatabaseService.lifecycle-transactions.test.ts
  electron/test/services/database/MonitorRepository.comprehensive.test.ts
  electron/test/services/database/utils/dynamicSchema.regex.test.ts
  electron/test/services/database/utils/historyManipulation.test.ts
  electron/test/services/database/utils/historyQuery.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type monitoring and cache fixtures
  electron/test/managers/MonitorManager.test.ts
  electron/test/services/monitoring/PingMonitor.test.ts
  electron/test/utils/cache/StandardizedCache.comprehensive.test.ts
  electron/test/utils/cache/StandardizedCache.test.ts
  electron/test/utils/database/SiteRepositoryService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type IPC and import fuzz boundaries
  electron/test/fuzzing/import-export.fuzz.test.ts
  electron/test/services/ipc/standardization.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type SQLite query fixtures
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/utils/typedQueries.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type updater and status service fixtures
  electron/test/services/monitoring/MonitorStatusUpdateService.comprehensive.test.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type interval logging harness
  electron/test/managers/MonitorManager.interval-logging.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type DatabaseManager legacy harnesses
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/managers/DatabaseManager.edge-cases.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type WindowService Electron mocks
  electron/test/services/window/WindowService.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type database persistence harnesses
  electron/test/fuzzing/database-operations.fuzz.test.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
  electron/test/utils/database/SiteWriterService.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type DatabaseManager core harness
  electron/test/managers/DatabaseManager.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type monitoring lifecycle harnesses
  electron/test/EnhancedMonitorChecker.comprehensive.test.ts
  electron/test/managers/MonitorManager.comprehensive.test.ts
  electron/test/services/monitoring/EnhancedMonitorChecker.lifecycle.test.ts
  electron/test/services/monitoring/HttpMonitor.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type event bus clone harness
  electron/test/events/TypedEventBus.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type Electron main process mocks
  electron/test/main.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type application lifecycle harness
  electron/test/services/application/ApplicationService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type database operation harnesses
  electron/test/managers/DatabaseManager.operations.test.ts
  electron/test/services/database/SettingsRepository.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type backend validation fuzzing
  electron/test/fuzzing/backend-validation.fuzz.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type monitoring validation harnesses
  electron/test/managers/validators/MonitorValidator.comprehensive.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type IPC service harnesses
  electron/test/services/ipc/IpcService.comprehensive.test.ts
  electron/test/strictTests/IpcService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type database command fixtures
  electron/test/services/commands/DatabaseCommands.test.ts
  electron/test/services/database/SettingsRepository.operations.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type event bus fuzz harness
  electron/test/fuzzing/event-bus.fuzz.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type database foundation fixtures
  electron/test/managers/DatabaseManager.foundation.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/utils/database/DataBackupService.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type site management harnesses
  electron/test/managers/ConfigurationManager.test.ts
  electron/test/managers/SiteManager.comprehensive.test.ts
  electron/test/managers/SiteManager.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type orchestration container harnesses
  electron/test/UptimeOrchestrator.test.ts
  electron/test/services/ServiceContainer.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type IPC handler fixtures
  electron/test/services/ipc/IpcService.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Type HTTP status edge cases
  electron/test/services/monitoring/utils/httpStatusUtils.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Avoid secret scanner fixture match
  shared/test/utils/environment.property.fuzz.test.ts
Due: typescript-check

🎨 [style] Apply shared Prettier formatting
  .prettierignore
  electron/test/eventTypes.test.ts
  electron/test/services/monitoring/HttpMonitor.httpbin.test.ts
  electron/test/services/monitoring/PortMonitor.configuration.test.ts
  electron/test/services/monitoring/utils/portErrorHandling.comprehensive.test.ts
  electron/test/setup.ts
  shared/test/fuzzing/abortUtils.signals.fuzz.test.ts
  shared/test/setup.ts
  shared/test/types/database-additional.test.ts
  shared/test/utils/abortUtils.behavior.test.ts
  shared/test/utils/safeConversions.property.fuzz.test.ts
  shared/test/utils/siteSnapshots.comprehensive.test.ts
  shared/test/validation/schemas.validation-results.test.ts
  shared/test/validation/testHelpers.ts
  src/components/SiteDetails/tabs/SettingsTab.utils.ts
  src/test/abortUtils.behavior.test.ts
  src/test/components/AddSiteForm/BaseFormField.behavior.test.tsx
  src/test/components/Header/Header.status-counts.test.tsx
  src/test/components/SiteDetails/SiteDetailsHeader.actions.test.tsx
  src/test/components/SiteDetails/tabs/SettingsTab.intervals.test.tsx
  src/test/components/shared/SettingItem.test.tsx
  src/test/dom-setup.ts
  src/test/global-setup.ts
  src/test/hooks/site/useSiteDetails.behavior.test.ts
  src/test/ipc/ipc.comprehensive-fuzzing.test.ts
  src/test/mock-setup.ts
  src/test/setup.ts
  src/test/stores/error/ErrorBoundary.comprehensive.test.tsx
  src/test/utils/monitorTitleFormatters.property.test.ts
  src/test/vitest-context-setup.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🧹 [chore] Model dynamic tooling dependencies in Knip
  config/tools/knip.config.ts
Due: typescript-check

🛠️ [fix] Restore Storybook public API boundaries
  src/stores/ui/useConfirmDialogStore.ts
  src/test/stores/ui/useConfirmDialogStore.test.ts
  storybook/stories/ConfirmDialog.stories.tsx
  storybook/stories/OverviewTab.stories.tsx
  storybook/stories/setup/monitorTypeMocks.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Harden import and URL safety boundaries
  shared/test/utils/urlSafety.test.ts
  shared/test/validation/importExportSchemas.test.ts
  shared/utils/urlSafety.ts
  shared/validation/importExportSchemas.ts
Due: typescript-check

🚦 [fix] Enforce HTTP rate limiter queue deadlines
  electron/services/monitoring/utils/httpRateLimiter.ts
  shared/test/utils/httpRateLimiter.abort.test.ts
  shared/utils/httpRateLimiter.ts
Due: typescript-check, typescript-check-electron

🛑 [fix] Await cleanup before application quit
  electron/main.ts
  electron/test/main.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

♿ [fix] Synchronize renderer preferences and tab order
  src/App.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/test/App.shell-behavior.test.tsx
  src/test/components/SiteDetails/SiteDetailsNavigation.comprehensive.test.tsx
Due: typescript-check, vite-build-check
