Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

typescript-check:
  name: 🔍 typescript · Type check all files
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false
  require_serial: true

typescript-check-electron:
  name: 🔍 electron · Type check electron files
  entry: npx tsc
  language: node
  args:
  - --project
  - tsconfig.electron.json
  - --noEmit
  pass_filenames: false
  require_serial: true

vite-build-check:
  name: ⚡ vite · Validate build configuration
  entry: npx vite
  language: node
  args:
  - build
  - --mode
  - development
  - --emptyOutDir
  - 'false'
  pass_filenames: false
  require_serial: true

package-scripts-check:
  name: 📦 npm · Validate package.json scripts
  entry: node
  language: node
  args:
  - -e
  - const pkg = require('./package.json'); console.log('✅ Package.json is valid')
  pass_filenames: false

🛠️ [fix] Bound diagnostics IPC channel verification
  electron/services/ipc/validators/system.ts
  electron/services/ipc/validators/utils/commonValidators.ts
  electron/test/validators.complete.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Use exclusive copy for backup temp files
  electron/services/database/DataBackupService.ts
  electron/test/utils/database/DataBackupService.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Gate update installation on downloaded state
  electron/services/updater/AutoUpdaterService.ts
  electron/test/services/updater/AutoUpdaterService.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Normalize clipboard IPC validation
  electron/services/ipc/validators/utils/commonValidators.ts
  electron/test/validators.complete.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Sanitize IPC error metadata
  electron/services/ipc/utils.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Zeroize cloud passphrase keys on failure
  electron/services/cloud/CloudService.encryptionOperations.ts
  electron/test/services/cloud/CloudService.encryptionOperations.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Validate outbound sync artifacts
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Validate persisted update status
  src/stores/updates/useUpdatesStore.ts
  src/test/useUpdatesStore.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Surface filesystem cloud IO failures
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/test/services/cloud/FilesystemCloudStorageProvider.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Surface backup destination lstat failures
  electron/services/database/DataBackupService.ts
  electron/test/utils/database/DataBackupService.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Surface cloud connection probe failures
  electron/services/cloud/internal/CloudStatusBuilders.ts
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/test/services/cloud/FilesystemCloudStorageProvider.test.ts
  electron/test/services/cloud/internal/CloudStatusBuilders.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Surface cloud token resolution failures
  electron/services/cloud/internal/resolveCloudProviderOrNull.ts
  electron/test/services/cloud/internal/resolveCloudProviderOrNull.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Normalize settings history limits
  src/stores/settings/state.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Sanitize persisted UI state merges
  src/stores/ui/useUiStore.ts
  src/test/stores/ui/useUiStore.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Validate cloud service IPC payloads
  src/services/CloudService.ts
  src/test/services/CloudService.comprehensive.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Validate site service primitive responses
  src/services/SiteService.ts
  src/test/stores/sites/SiteService.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Validate monitoring service IPC responses
  src/services/MonitoringService.ts
  src/test/services/MonitoringService.edge-cases.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Normalize update progress state
  src/stores/updates/useUpdatesStore.ts
  src/test/useUpdatesStore.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Sanitize lifecycle telemetry counts
  src/stores/sites/utils/statusUpdatePayload.ts
  src/test/stores/sites/utils/statusUpdatePayload.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Calculate analytics downtime chronologically
  src/hooks/site/useSiteAnalytics.ts
  src/test/useSiteAnalytics.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Filter malformed site stats history
  src/hooks/site/useSiteStats.ts
  src/test/useSiteStatsEdgeCases.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Reject future relative timestamps
  src/test/utils/time.property.test.ts
  src/test/utils/time.test.ts
  src/utils/time.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Validate retry attempt formatting
  src/test/utils/time.property.test.ts
  src/test/utils/time.test.ts
  src/utils/time.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Normalize interval labels
  src/test/utils/time.property.test.ts
  src/test/utils/time.test.ts
  src/utils/time.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Normalize status identifiers
  src/test/utils/status.property.test.ts
  src/test/utils/status.test.ts
  src/utils/status.ts
Due: typescript-check, vite-build-check

🧪 [test] Cover degraded status utilities
  src/test/utils/status.property.test.ts
  src/test/utils/status.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Preserve unavailable checks in analytics
  src/hooks/site/useSiteAnalytics.ts
  src/test/useSiteAnalytics.test.ts
Due: typescript-check, vite-build-check

⚡ [perf] Reuse degraded HTTP status codes
  electron/test/services/monitoring/utils/httpStatusUtils.test.ts
  shared/utils/httpStatusUtils.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Require complete uptime numeric values
  src/test/utils/monitoring/dataValidation.test.ts
  src/utils/monitoring/dataValidation.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Replace numeric validation regex
  shared/test/validation/validatorUtils.test.ts
  shared/validation/validatorUtils.ts
Due: typescript-check

🛠️ [fix] Reject coerced monitor config integers
  electron/services/monitoring/createMonitorConfig.ts
  electron/test/services/monitoring/createMonitorConfig.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Reject coerced history timestamps
  shared/test/types/database.test.ts
  shared/types/database.ts
Due: typescript-check

🛠️ [fix] Align history mapper numeric parsing
  electron/services/database/utils/mappers/historyMapper.ts
  electron/test/services/database/utils/historyMapper.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Reject coerced history limit selections
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.comprehensive.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Reject coerced add-site numeric input
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/DynamicField.tsx
  src/components/AddSiteForm/utils/valueNormalization.ts
  src/test/components/AddSiteForm/AddSiteForm.enhanced.test.tsx
  src/test/components/AddSiteForm/valueNormalization.test.ts
  src/test/strictTests/DynamicField.critical.test.tsx
Due: typescript-check, vite-build-check

🛠️ [fix] Deduplicate select option values
  src/components/AddSiteForm/SelectField.tsx
  src/test/components/AddSiteForm/AddSiteForm.enhanced.test.tsx
  src/test/components/AddSiteForm/FormFields.comprehensive.test.tsx
  src/test/utils/monitorTypeHelper.test.ts
  src/utils/monitorTypeHelper.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Reject coerced sync op ids
  electron/services/sync/SyncEngine.ts
  electron/test/services/sync/SyncEngine.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Reject non-decimal history response times
  electron/services/database/utils/queries/typedQueries.ts
  electron/test/services/database/utils/typedQueries.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Reject malformed Dropbox retry delays
  electron/services/cloud/providers/dropbox/dropboxRetry.ts
  electron/test/services/cloud/providers/dropbox/dropboxRetry.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Reject coerced cloud timestamp settings
  electron/services/cloud/internal/cloudServiceSettings.ts
  electron/test/services/cloud/internal/cloudServiceSettings.test.ts
Due: typescript-check, typescript-check-electron

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

