Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

typescript-check:
  name: 🔍 typescript · Type check all files
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false
  require_serial: true

typescript-check-electron:
  name: 🔍 electron · Type check electron files
  entry: npx tsc
  language: node
  args:
  - --project
  - tsconfig.electron.json
  - --noEmit
  pass_filenames: false
  require_serial: true

vite-build-check:
  name: ⚡ vite · Validate build configuration
  entry: npx vite
  language: node
  args:
  - build
  - --mode
  - development
  - --emptyOutDir
  - 'false'
  pass_filenames: false
  require_serial: true

package-scripts-check:
  name: 📦 npm · Validate package.json scripts
  entry: node
  language: node
  args:
  - -e
  - const pkg = require('./package.json'); console.log('✅ Package.json is valid')
  pass_filenames: false

🔧 [build] Prepare Uptime Watcher 23.9.0
  CHANGELOG.md
  README.md
  electron/constants.ts
  package-lock.json
  package.json
  sonar-project.properties
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧪 [test] Finish Sonar test parameterization
  electron/test/validators.complete.test.ts
  shared/test/utils/siteStatus.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

👷 [ci] Restore unsigned desktop releases
  .github/workflows/Build.yml
  CHANGELOG.md
  docs/Architecture/ADRs/ADR_027_AUTO_UPDATE_STRATEGY_AND_RELEASE_CHANNELS.md
  docs/Architecture/ADRs/ADR_031_PACKAGING_SIGNING_AND_NOTARIZATION_POLICY.md
  electron-builder.config.ts
Due: typescript-check

🛠️ [fix] Bound release note publication
  .github/workflows/Build.yml
  CHANGELOG.md
Due: none

🛠️ [fix] Repair release changelog generation
  CHANGELOG.md
  config/tools/cliff.toml
Due: none

🛠️ [fix] Deduplicate VirusTotal submissions
  .github/workflows/VirusTotal.yml
  CHANGELOG.md
Due: none

🛠️ [fix] Make VirusTotal scans idempotent
  .github/workflows/VirusTotal.yml
  CHANGELOG.md
Due: none

🛠️ [fix] Bound automated release changelogs
  .github/workflows/Build.yml
  CHANGELOG.md
  config/tools/cliff.toml
  config/tools/knip.config.ts
  package-lock.json
  package.json
Due: typescript-check, vite-build-check, package-scripts-check

📝 [docs] Add SignPath application policies
  CODE_SIGNING_POLICY.md
  PRIVACY.md
  README.md
Due: none

🔧 [build] Migrate shared package configs
  .gitleaksignore
  .ncurc.json
  CONTRIBUTING.md
  README.md
  SECURITY.md
  config/linting/plugins/uptime-watcher/package.json
  docs/Guides/DEVELOPER_QUICK_START.md
  docs/Guides/ENVIRONMENT_SETUP.md
  docs/docusaurus/README.md
  docs/docusaurus/package.json
  electron/services/cloud/providers/cloudProviderErrors.ts
  electron/services/window/WindowSessionSecurity.ts
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/test/components/Header/Header.status-counts.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  storybook/setup/electron-api-mock.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🔧 [ci] Secure ESLint plugin mirroring
  .github/workflows/mirror-eslint-plugin.yml
Due: none

👷 [ci] (release) Guard git-cliff note generation
  .cspell.json
  .github/actionlint.yaml
  .github/workflows/Build.yml
  config/linting/plugins/uptime-watcher/package.json
  docs/InteractiveCharts/engineering-tooling.md
  docs/docusaurus/package.json
  package.json
  scripts/lint-actionlint.mjs
Due: vite-build-check, package-scripts-check

👷 [ci] (labeler) Use supported pull request matchers
  .github/labeler.yml
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

