Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

typescript-check:
  name: 🔍 typescript · Type check all files
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false
  require_serial: true

typescript-check-electron:
  name: 🔍 electron · Type check electron files
  entry: npx tsc
  language: node
  args:
  - --project
  - tsconfig.electron.json
  - --noEmit
  pass_filenames: false
  require_serial: true

vite-build-check:
  name: ⚡ vite · Validate build configuration
  entry: npx vite
  language: node
  args:
  - build
  - --mode
  - development
  - --emptyOutDir
  - 'false'
  pass_filenames: false
  require_serial: true

package-scripts-check:
  name: 📦 npm · Validate package.json scripts
  entry: node
  language: node
  args:
  - -e
  - const pkg = require('./package.json'); console.log('✅ Package.json is valid')
  pass_filenames: false

🧹 [chore] Remove redundant frontend timeout export
  docs/Guides/CONSISTENCY_GUIDE.md
  src/constants.ts
  src/test/constants.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Keep backup validation message internal
  src/test/utils/serializedBackupResult.test.ts
  src/utils/downloads/serializedBackupResult.ts
Due: typescript-check, vite-build-check

🧹 [chore] Keep toast queue limit internal
  src/stores/alerts/useAlertStore.ts
  src/test/stores/alerts/useAlertStore.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Remove unused chart config wrapper
  src/services/chartConfig.ts
  src/test/chartConfig.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Keep concrete themes internal
  src/test/App.comprehensive.test.tsx
  src/test/ThemeManager.test.ts
  src/test/themes.test.ts
  src/theme/themes.ts
Due: typescript-check, vite-build-check

🧹 [chore] Remove redundant status color hook
  src/test/components/SiteDetails/SiteDetails.comprehensive.test.tsx
  src/test/components/SiteDetails/tabs/SettingsTab.arithmetic-mutations.test.tsx
  src/test/components/SiteDetails/tabs/SettingsTab.test.tsx
  src/test/setup.ts
  src/test/theme/useTheme.basic.test.ts
  src/test/theme/useTheme.complete-coverage.test.ts
  src/test/theme/useTheme.comprehensive.test.ts
  src/test/theme/useTheme.unmocked.test.ts
  src/test/theme/useTheme.working.test.ts
  src/theme/useTheme.ts
Due: typescript-check, vite-build-check

🧹 [chore] Keep monitor type initial state internal
  src/stores/monitor/state.ts
  src/test/contracts/sharedContractsConsistency.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Keep UI table widths internal
  src/stores/ui/useUiStore.ts
  src/test/components/Header/Header.assignment-operator.test.tsx
  src/test/components/Header/Header.test.tsx
  src/test/hooks/useSelectedSite.comprehensive.test.ts
  src/test/stores/ui/useUiStore.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Keep settings hydration timer internal
  src/stores/settings/hydration.ts
  src/test/stores/settings/useSettingsStore.coverage.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Keep renderer env helpers internal
  src/test/utils/environment.property.test.ts
  src/utils/environment.ts
Due: typescript-check, vite-build-check

🧹 [chore] Trim icon utility exports
  src/test/utils/icons.test.ts
  src/utils/icons.ts
Due: typescript-check, vite-build-check

🧹 [chore] Trim status utility exports
  docs/Guides/TYPE_FEST_PATTERNS.md
  src/test/status.test.ts
  src/test/theme/components.additional-coverage.test.tsx
  src/test/theme/components.comprehensive.test.tsx
  src/test/utils/status.property.test.ts
  src/test/utils/status.test.ts
  src/utils/status.ts
Due: typescript-check, vite-build-check

🧹 [chore] Keep IPC helper factory internal
  src/services/utils/createIpcServiceHelpers.ts
  src/test/services/StateSyncService.comprehensive.test.ts
  src/test/services/utils/createIpcServiceHelpers.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Trim legacy time formatter export
  src/test/utils/time.property.test.ts
  src/test/utils/time.test.ts
  src/utils/time.ts
Due: typescript-check, vite-build-check

🧹 [chore] Trim unused hostname validation helper
  src/test/utils/monitoring/dataValidation.edge-coverage.test.ts
  src/test/utils/monitoring/dataValidation.test.ts
  src/test/utils/validation.comprehensive-fuzzing.test.ts
  src/utils/monitoring/dataValidation.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Remove mutable title suffix registry
  src/test/utils/monitorTitleFormatters.property.test.ts
  src/test/utils/monitorTitleFormatters.test.ts
  src/utils/monitorTitleFormatters.ts
  tests/strictTests/src/utils/monitorTitleFormatters.strict.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Trim unused fallback defaults
  src/test/utils/fallbacks.property.test.ts
  src/test/utils/fallbacks.test.ts
  src/utils/fallbacks.ts
Due: typescript-check, vite-build-check

🧹 [chore] Keep fallback helper internals private
  docs/Architecture/ADRs/ADR_003_ERROR_HANDLING_STRATEGY.md
  docs/Guides/ERROR_HANDLING_GUIDE.md
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/edge-cases-100-coverage.test.ts
  src/test/utils/fallbacks.property.test.ts
  src/test/utils/fallbacks.test.ts
  src/utils/fallbacks.ts
  tests/strictTests/src/utils/fallbacks.property.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Trim unused timeout helpers
  shared/validation/monitorSchemas.common.ts
  src/constants.ts
  src/test/constants.test.ts
  src/test/utils/timeoutUtils.property.test.ts
  src/test/utils/timeoutUtils.test.ts
  src/utils/timeoutUtils.ts
Due: typescript-check, vite-build-check

🧹 [chore] Trim stale analytics helpers
  src/hooks/site/useSiteAnalytics.ts
  src/test/useSiteAnalytics.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Trim unused monitor form guard
  src/test/utils/monitorValidation.error-handling.test.ts
  src/utils/monitorValidation.ts
Due: typescript-check, vite-build-check

🧹 [chore] Ratchet unused export scripts
  package.json
Due: vite-build-check, package-scripts-check

🧹 [chore] Hide internal Electron constants
  electron/services/cloud/providers/cloudBackupListing.ts
  electron/services/cloud/providers/dropbox/DropboxAuthFlow.ts
  electron/services/cloud/providers/oauthStoredTokens.ts
  electron/services/monitoring/shared/httpMonitorJsonUtils.ts
  electron/services/notifications/NotificationService.ts
  electron/services/sync/snapshotKeyUtils.ts
  electron/test/services/cloud/providers/cloudBackupListing.test.ts
  electron/test/services/cloud/providers/dropbox/DropboxAuthFlow.test.ts
  electron/test/services/cloud/providers/oauthStoredTokens.test.ts
  electron/test/services/monitoring/ServerHeartbeatMonitor.test.ts
  electron/test/services/monitoring/shared/httpMonitorJsonUtils.test.ts
  electron/test/services/notifications/NotificationService.test.ts
  electron/test/services/sync/snapshotKeyUtils.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide HTTP monitor error internals
  electron/services/monitoring/utils/errorHandling.ts
  electron/test/high-impact-coverage.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide HTTP monitor string helper
  electron/services/monitoring/shared/httpMonitorStringUtils.ts
  electron/test/services/monitoring/shared/httpMonitorStringUtils.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide sync provider key guard
  electron/services/sync/providerKeyValidation.ts
  electron/test/services/sync/providerKeyValidation.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide path comparison helper
  electron/services/window/utils/pathGuards.ts
  electron/test/services/window/utils/pathGuards.test.ts
  package.json
  tests/strictTests/electron/services/window/utils/pathGuards.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Remove duplicate metadata guard export
  electron/utils/eventMetadataForwarding.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Trim monitor helper exports
  docs/docusaurus/typedoc.config.json
  docs/docusaurus/typedoc.local.config.json
  electron/services/monitoring/shared/monitorServiceHelpers.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide database command context guard
  electron/services/commands/databaseCommandContext.ts
  electron/test/services/commands/databaseCommandContext.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Remove unused history limit getter
  electron/services/database/historyLimitManager.ts
  electron/test/utils/database/historyLimitManager.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide database lock recovery helpers
  electron/services/database/utils/maintenance/databaseLockRecovery.ts
  electron/test/services/database/utils/databaseLockRecovery.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Remove sync validation wrapper export
  electron/services/sync/syncEngineUtils.ts
  electron/test/services/sync/syncEngineUtils.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🛠️ [fix] Wrap site deletion failures consistently
  electron/services/database/siteDeletion.ts
  electron/test/utils/database/siteDeletion.coverage.test.ts
  package.json
  tests/strictTests/electron/utils/database/siteDeletion.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide vacuum snapshot helper
  electron/services/database/dataBackupService/snapshot.ts
  electron/test/utils/database/DataBackupService.test.ts
  package.json
  tests/strictTests/electron/services/database/dataBackupService/snapshot.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide monitoring all error class
  electron/managers/monitorManager/toggleMonitoringAllOperation.ts
  electron/test/strictTests/monitorManager.operations.100percent.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide unused database command surface
  electron/services/commands/DatabaseCommands.ts
  electron/test/services/commands/DatabaseCommands.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide diagnostics handler test helper
  electron/services/ipc/handlers/diagnosticsHandlers.ts
  electron/test/services/ipc/diagnosticsHandlers.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide scheduler jitter helper
  electron/services/monitoring/MonitorSchedulerPolicy.ts
  electron/test/services/monitoring/MonitorSchedulerPolicy.test.ts
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Hide single ping check helper
  electron/services/monitoring/utils/pingRetry.ts
  electron/test/services/monitoring/utils/pingRetry.test.ts
  package.json
  tests/strictTests/electron/services/monitoring/utils/pingRetry.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

