Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

typescript-check:
  name: 🔍 typescript · Type check all files
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false
  require_serial: true

typescript-check-electron:
  name: 🔍 electron · Type check electron files
  entry: npx tsc
  language: node
  args:
  - --project
  - tsconfig.electron.json
  - --noEmit
  pass_filenames: false
  require_serial: true

vite-build-check:
  name: ⚡ vite · Validate build configuration
  entry: npx vite
  language: node
  args:
  - build
  - --mode
  - development
  - --emptyOutDir
  - 'false'
  pass_filenames: false
  require_serial: true

package-scripts-check:
  name: 📦 npm · Validate package.json scripts
  entry: node
  language: node
  args:
  - -e
  - const pkg = require('./package.json'); console.log('✅ Package.json is valid')
  pass_filenames: false

🔧 [build] Enhance Dropbox and Google Drive integration with schema validation
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
  electron/services/cloud/providers/dropbox/dropboxSdkSchemas.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveAuthFlow.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveTokenManager.ts
  electron/services/cloud/providers/googleDrive/googleDriveApiSchemas.ts
  electron/services/cloud/providers/googleDrive/googleDriveTokenSchemas.ts
Due: typescript-check, typescript-check-electron

🔧 [build] Refactor Dropbox and Google Drive error handling and parsing
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/services/cloud/providers/dropbox/dropboxErrorSchemas.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/services/cloud/providers/googleDrive/fetchGoogleAccountLabel.ts
  electron/services/cloud/providers/googleDrive/googleDriveErrorSchemas.ts
  electron/services/cloud/providers/googleDrive/googleOpenIdSchemas.ts
Due: typescript-check, typescript-check-electron

🔧 [build] Update Dropbox and Google Drive cloud storage providers
  electron/services/cloud/providers/cloudProviderErrors.ts
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
Due: typescript-check, typescript-check-electron

🔧 [build] Enhance cloud provider error handling and validation
  docs/Guides/CLOUD_PROVIDER_IMPLEMENTATION_GUIDE.md
  electron/services/cloud/CloudService.ts
  electron/services/cloud/providers/BaseCloudStorageProvider.ts
  electron/services/cloud/providers/EncryptedSyncCloudStorageProvider.ts
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/services/cloud/providers/cloudProviderErrors.ts
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
Due: typescript-check, typescript-check-electron

🔧 [build] Enhance error handling in cloud storage providers
  electron/test/services/cloud/FilesystemCloudStorageProvider.test.ts
  electron/test/services/cloud/providers/EncryptedSyncCloudStorageProvider.test.ts
Due: typescript-check, typescript-check-electron

🔧 [build] Enhance error handling and validation in database queries and Dropbox authentication
  electron/services/cloud/providers/dropbox/DropboxAuthFlow.ts
  electron/services/database/utils/queries/historyQuery.ts
  electron/services/database/utils/queries/typedQueries.ts
  electron/test/services/cloud/oauth/pkce.test.ts
Due: typescript-check, typescript-check-electron

🔧 [build] Optimize build process and improve path handling
  .github/workflows/Build.yml
  shared/utils/pathSeparators.ts
  shared/validation/filesystemBaseDirectoryValidation.ts
  src/components/SiteDetails/ScreenshotThumbnail.tsx
Due: typescript-check, vite-build-check

🔧 [build] Refactor media query handling and improve error management
  electron/services/database/utils/mappers/monitorMapper.ts
  electron/services/ipc/handlers/siteHandlers.ts
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/test/services/database/DatabaseService.simple.test.ts
  shared/constants/history.ts
  shared/utils/jsonSafety.ts
  shared/validation/monitorSchemas.ts
  src/App.tsx
  src/components/Layout/AppSidebar/AppSidebar.tsx
  src/constants/layout.ts
  src/hooks/usePrefersReducedMotion.ts
  src/services/EventsService.ts
  src/services/SettingsService.ts
  src/stores/sites/utils/fileDownload.ts
  src/test/services/EventsService.comprehensive.test.ts
  src/test/stores/sites/utils/fileDownload.fast-check-comprehensive.test.ts
  src/test/utils/fileDownload.test.ts
  src/theme/utils/systemTheme.ts
  src/utils/mediaQueries.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🔧 [build] Refactor OAuth token management and validation
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveTokenManager.ts
  electron/services/cloud/providers/oauthStoredTokens.ts
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/DynamicMonitorFields.tsx
  src/components/AddSiteForm/Submit.tsx
  src/components/SiteDetails/useAddSiteForm.ts
  src/test/components/AddSiteForm.test.tsx
  src/test/components/AddSiteForm/AddSiteForm.enhanced.test.tsx
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/strictTests/AddSiteForm.behavioral-coverage.test.tsx
  src/utils/monitorValidation.ts
  src/utils/monitorValidationFields.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🎨 [style] Improve code formatting for better readability
  electron/services/database/DataBackupService.ts
  electron/services/ipc/handlers/utils/createSingleFlight.ts
  electron/test/services/ipc/createSingleFlight.test.ts
  shared/test/utils/urlSafety.test.ts
Due: typescript-check, typescript-check-electron

🔧 [refactor] Improve error handling and redirect safety in HTTP client
  electron/main.ts
  electron/services/database/DataBackupService.ts
  electron/services/monitoring/utils/errorHandling.ts
  electron/services/monitoring/utils/httpClient.ts
  electron/test/services/monitoring/utils/errorHandling.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
Due: typescript-check, typescript-check-electron

🔧 [refactor] Enhance AddSiteForm and FormField components with improved helper text display
  electron/services/events/RendererEventBridge.ts
  index.html
  src/components/AddSiteForm/AddSiteForm.tsx
  src/components/AddSiteForm/FormField.tsx
  src/test/components/Settings/Settings.test.tsx
  src/test/comprehensive-100-percent-coverage.test.tsx
  src/test/strictTests/AddSiteForm.behavioral-coverage.test.tsx
  vite.config.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🔧 [build] Update dependencies in package.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

🛠️ [fix] Refactor Electron API mocking across test files
  electron/preload/domains/eventsApi.ts
  electron/services/database/DataBackupService.ts
  electron/services/ipc/handlers/diagnosticsHandlers.ts
  electron/test/services/cloud/providers/cloudBackupIo.test.ts
  shared/types/componentProps.ts
  shared/utils/singleFlight.ts
  src/test/ScreenshotThumbnail.coverage.test.tsx
  src/test/additional-uncovered-lines.test.ts
  src/test/frontend-functions-coverage-target.test.tsx
  src/test/frontend-functions-coverage.test.tsx
  src/test/hooks/useMonitorFields.test.ts
  src/test/stores/aliases.test.ts
  src/test/stores/monitor/useMonitorTypesStore.100percent.test.ts
  src/test/stores/monitor/useMonitorTypesStore.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.branches.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.targeted.test.ts
  src/test/stores/sites/MonitoringService.siteLevel.test.ts
  src/test/stores/sites/MonitoringService.test.ts
  src/test/stores/sites/SiteService.test.ts
  src/test/stores/sites/ipc-response-handling.regression.test.ts
  src/test/stores/sites/useSiteMonitoring.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.final-coverage.test.ts
  src/test/stores/sites/useSiteSync.line-coverage.test.ts
  src/test/stores/sites/useSitesStore-complete-coverage.test.ts
  src/test/stores/sites/useSitesStore.input-fuzzing.test.ts
  src/test/stores/sites/utils/operationHelpers.test.ts
  src/test/theme/useTheme.working.test.ts
  src/test/useSettingsStore.test.ts
  src/test/utils/electronApiMock.ts
  src/test/utils/monitorUiHelpers.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🧹 [chore] Update package.json and vite.config.ts to remove googleapis dependency
  config/tools/knip.config.ts
  electron-builder.config.ts
  electron/services/cloud/CloudService.ts
  electron/services/cloud/internal/cloudProviderDeps.ts
  electron/services/cloud/internal/resolveCloudProviderOrNull.ts
  electron/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.ts
  electron/services/cloud/providers/googleDrive/googleDriveHttpClient.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveCloudStorageProvider.test.ts
  package-lock.json
  package.json
  vite.config.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🚜 [refactor] Streamline IPC protocol and state sync events
  docs/Architecture/ADRs/ADR_005_IPC_COMMUNICATION_PROTOCOL.md
  docs/Architecture/README.md
  docs/Architecture/Stores/sites.md
  docs/Architecture/Templates/IPC_HANDLER_TEMPLATE.md
  docs/Guides/API_DOCUMENTATION.md
  electron/preload/core/bridgeFactory.ts
  electron/preload/domains/stateSyncApi.ts
  electron/services/ipc/handlers/monitorTypeHandlers.ts
  electron/services/ipc/types.ts
  electron/services/ipc/utils.ts
  electron/services/ipc/validators/shared.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  electron/test/services/ipc/IpcService.test.ts
  electron/test/services/ipc/types.test.ts
  electron/test/services/ipc/utils.comprehensive.test.ts
  shared/types/ipc.ts
  shared/types/preload.ts
  src/services/SiteService.ts
  src/services/StateSyncService.ts
  src/stores/sites/useSiteSync.ts
  src/test/mock-setup.ts
  src/test/services/StateSyncService.comprehensive.test.ts
  src/test/stores/settings/useSettingsStore.comprehensive.test.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/test/stores/sites/useSitesStore.critical.test.ts
  src/types/ipc.ts
Due: typescript-check, typescript-check-electron, vite-build-check

✨ [feat] Add sqlite backup IPC and update tooling
  docs/Architecture/generated/IPC_CHANNEL_INVENTORY.md
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

🔧 [build] Update dependencies in package.json and package-lock.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  electron/test/patterns/console-remediation.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🛠️ [fix] Refine store cleanup and bump dependencies
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
  playwright/tests/app-launch.e2e.playwright.test.ts
  src/stores/updates/useUpdatesStore.ts
  tests/strictTests/electron/services/shell/openExternalUtils.test.ts
  tests/strictTests/src/hooks/ui/usePromptDialog.test.ts
  tests/strictTests/src/services/AppNotificationService.test.ts
  tests/strictTests/src/stores/updates/useUpdatesStore.test.ts
  vitest.electron.config.ts
Due: typescript-check, vite-build-check, package-scripts-check

🛠️ [fix] Harden data integrity, backoff logic, and logging safety
  config/tools/knip.config.ts
  electron/services/cloud/CloudSyncScheduler.ts
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/services/database/DataBackupService.ts
  electron/services/database/SiteRepositoryService.ts
  electron/services/database/databaseInitializer.ts
  electron/services/database/utils/backup/databaseBackup.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/services/monitoring/utils/errorHandling.ts
  electron/test/services/cloud/CloudSyncScheduler.test.ts
  electron/test/services/cloud/providers/dropbox/DropboxCloudStorageProvider.test.ts
  electron/test/services/monitoring/HttpMonitor.comprehensive.test.ts
  electron/test/services/monitoring/MonitorScheduler.backoff-regression.test.ts
  electron/test/services/monitoring/MonitorScheduler.comprehensive.test.ts
  electron/test/services/monitoring/shared/httpMonitorCore.safeUrlLogging.test.ts
  electron/test/services/monitoring/utils/errorHandling.safeUrlLogging.test.ts
  electron/test/utils/database/DataBackupService.test.ts
  package.json
  shared/types/componentProps.ts
  shared/types/ipc.ts
  shared/types/preload.ts
  shared/utils/ipcPayloadBudgets.ts
  src/components/Settings/Settings.css
  src/components/Settings/Settings.tsx
  src/components/Settings/cloud/CloudSection.tsx
  src/components/Settings/cloud/CloudSyncMaintenanceControl.tsx
  src/components/Settings/cloud/SyncMaintenancePanel.tsx
  src/components/SiteDetails/SiteDetails.tsx
  src/components/SiteDetails/SiteDetailsNavigation.tsx
  src/components/common/Modal/Modal.tsx
  src/services/DataService.ts
  src/test/components/Settings/cloud/SyncMaintenancePanel.test.tsx
  src/test/components/SiteDetails/SiteDetailsNavigation.comprehensive.test.tsx
  src/test/services/DataService.ipcBudgets.test.ts
  src/theme/components/ThemedButton.tsx
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🔧 [build] Update dependencies in package.json
  assets/.wasm-version
  assets/node-sqlite3-wasm.wasm
  eslint.config.mjs
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

🔧 [build] Update dependencies in package.json
  eslint.config.mjs
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

🔧 [build] Update dependencies in package.json and package-lock.json
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

🔧 [build] Update tools list in BeastMode agent for enhanced functionality - Added 'todo' tool to the existing list for improved task management
  .github/agents/BeastMode.agent.md
Due: none

✨ [feat] Enhances sync security and data integrity
  electron/services/cloud/CloudSyncScheduler.ts
  electron/services/cloud/providers/googleDrive/fetchGoogleAccountLabel.ts
  electron/services/database/DataBackupService.ts
  electron/services/database/DataImportExportService.ts
  electron/test/preload/domains/stateSyncApi.comprehensive.test.ts
  electron/test/services/cloud/CloudSyncScheduler.test.ts
  electron/test/services/cloud/providers/googleDrive/fetchGoogleAccountLabel.test.ts
  electron/test/utils/database/DataBackupService.test.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
  shared/constants/backup.ts
  shared/utils/ipcPayloadBudgets.ts
  src/stores/sites/useSiteSync.ts
  src/test/stores/sites/useSiteSync.comprehensive.test.ts
  src/theme/useTheme.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🔧 [build] Harden IPC bridge & optimize UI stores
  electron/preload/core/bridgeFactory.ts
  electron/preload/domains/cloudApi.ts
  electron/preload/domains/dataApi.ts
  electron/preload/domains/monitorTypesApi.ts
  electron/preload/domains/monitoringApi.ts
  electron/preload/domains/settingsApi.ts
  electron/preload/domains/sitesApi.ts
  electron/preload/domains/systemApi.ts
  electron/services/ipc/validators/shared.ts
  electron/test/preload.missing-branches.test.ts
  electron/test/preload.test.ts
  electron/test/preload/domains/cloudApi.comprehensive.test.ts
  electron/test/preload/domains/monitoringApi.comprehensive.test.ts
  electron/test/validators.complete.test.ts
  shared/test/types/cloudBackupMigration.test.ts
  shared/test/validation/cloudBackupSchemas.test.ts
  shared/test/validation/cloudSchemas.test.ts
  shared/types.ts
  shared/types/cloud.ts
  shared/types/cloudBackupMigration.ts
  shared/types/validation.ts
  shared/validation/cloudBackupSchemas.ts
  shared/validation/cloudSchemas.ts
  shared/validation/guards.ts
  shared/validation/statusUpdateSchemas.ts
  src/App.tsx
  src/hooks/site/useSiteDetails.ts
  src/stores/sites/useSiteSync.ts
  src/stores/updates/useUpdatesStore.ts
  src/test/useUpdatesStore.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🛠️ [fix] Enhance IPC safety and testing stability
  .vscode/tasks.json
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  electron/main.ts
  electron/preload/core/bridgeFactory.ts
  electron/services/cloud/internal/cloudProviderDeps.ts
  electron/services/cloud/internal/resolveCloudProviderOrNull.ts
  electron/test/preload/core/bridgeFactory.comprehensive.test.ts
  eslint.config.mjs
  flatpak-build.yml
  package-lock.json
  package.json
  playwright.config.ts
  playwright/tests/ui-header-settings.ui.playwright.test.ts
  playwright/tests/ui-site-card-actions.ui.playwright.test.ts
  playwright/tests/ui-site-details.ui.playwright.test.ts
  playwright/utils/ui-helpers.ts
  shared/validation/statusUpdateSchemas.ts
  src/components/Alerts/StatusAlertToaster.css
  src/components/common/Modal/Modal.tsx
  src/stores/sites/useSiteMonitoring.ts
  src/stores/sites/utils/statusUpdateSnapshot.ts
  storybook/main.ts
  storybook/preview.ts
  storybook/shims/storybook-actions.ts
  storybook/shims/storybook-test.ts
  storybook/stories/Settings.stories.tsx
  storybook/viteSharedConfig.ts
  storybook/vitest.setup.ts
  vitest.shims.d.ts
  vitest.storybook.config.ts
Due: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

🧹 [chore] Update dependencies and gitignore
  .gitignore
  docs/docusaurus/package-lock.json
  docs/docusaurus/package.json
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

🛠️ [fix] Enhance UI interaction and build tooling
  eslint.config.mjs
  flatpak-build.yml
  shared/validation/statusUpdateSchemas.ts
  src/components/Alerts/StatusAlertToaster.css
  storybook/preview.ts
  storybook/shims/electronLogRenderer.stub.ts
  storybook/vitest.setup.ts
  vitest.storybook.config.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Improves validation and scheduling
  electron/preload/domains/monitoringApi.ts
  electron/services/cloud/CloudSyncScheduler.ts
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/services/database/HistoryRepository.ts
  electron/services/database/MonitorRepository.updateUtils.ts
  electron/services/database/utils/maintenance/historyManipulation.ts
  electron/services/ipc/IpcService.ts
  electron/services/monitoring/MonitorScheduler.ts
  electron/services/monitoring/utils/portRetry.ts
  electron/services/notifications/NotificationService.ts
  electron/services/updater/AutoUpdaterService.ts
  shared/utils/errorHandling.ts
  shared/validation/monitoringSummarySchemas.ts
  src/services/utils/cleanupHandlers.ts
  src/services/utils/electronBridgeReadiness.ts
  src/stores/sites/useSiteSync.ts
  src/utils/monitorTypeHelper.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🧹 [chore] Improves lint config and deps
  eslint.config.mjs
  package-lock.json
  package.json
Due: vite-build-check, package-scripts-check

🧹 [chore] Adds lint plugin typings
  eslint.config.mjs
  jsconfig.json
  types/eslint-plugins.d.ts
Due: none

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

