Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$


🧪 [test] Align logging and error contract tests
  shared/utils/loggingContext.ts
  src/test/edge-cases-100-coverage.test.ts
  src/test/ipc/ipc.comprehensive-fuzzing.test.ts
  src/test/stores/error/useErrorStore.input-fuzzing.test.ts
  src/test/utils/errorHandling.comprehensive.test.ts
  src/test/utils/time.property.test.ts
  tests/strictTests/src/utils/monitorIdentifiers.test.ts
Due: typescript-check, vite-build-check

🧹 [chore] Drop stale Taplo Prettier ignore
  .prettierignore
Due: none

🧹 [chore] Make git cleanup scripts cross-platform
  package.json
  scripts/delete-merged-branches.mjs
Due: vite-build-check, package-scripts-check

🧹 [chore] Clarify CSS lint suppression reasons
  src/components/Header/Header.css
  src/components/SiteDetails/styles/header.css
  src/components/SiteDetails/styles/history.css
  src/theme/styles/components/cards.css
  src/theme/styles/components/foundation.css
  src/theme/styles/components/icons.css
  src/theme/styles/components/layout.css
  src/theme/styles/components/overlays.css
  src/theme/styles/components/status.css
  src/theme/styles/components/utilities.css
Due: vite-build-check

🚜 [refactor] Centralize app ref structural type
  src/app/bootstrap/appBootstrap.ts
  src/app/debug/debugStoreSubscriptions.ts
  src/app/sidebar/sidebarMediaQueryListener.ts
  src/app/types.ts
Due: typescript-check, vite-build-check

🧪 [test] Quiet App test bootstrap warnings
  src/test/App.additional-coverage.test.tsx
  src/test/App.comprehensive.test.tsx
Due: typescript-check, vite-build-check

🧹 [chore] Remove script type suppressions
  scripts/analyze-coverage.mjs
  scripts/download-sqlite3-wasm.mjs
Due: none

🔧 [build] Narrow zero coverage config typing
  config/testing/vitest.zero-coverage.config.ts
Due: typescript-check

🛠️ [fix] Log cloud token revocation failures
  electron/services/cloud/CloudService.providerOperations.ts
  electron/test/services/cloud/CloudService.providerOperations.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Log database restore rollback failures
  electron/services/database/DataBackupService.ts
  electron/services/database/dataBackupService/replaceDatabaseFile.ts
  electron/test/services/database/dataBackupService/replaceDatabaseFile.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Keep fallback secrets current
  electron/services/cloud/secrets/SecretStore.ts
  electron/test/services/cloud/secrets/SafeStorageSecretStore.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Preserve backup write rollback files
  electron/services/database/DataBackupService.ts
  electron/services/database/dataBackupService/writeFileWithinDirectory.ts
  electron/test/services/database/dataBackupService/writeFileWithinDirectory.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Surface orphaned backup cleanup failures
  electron/services/cloud/providers/cloudBackupIo.ts
  electron/test/services/cloud/providers/cloudBackupIo.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Report fallback secret delete failures
  electron/services/cloud/secrets/SecretStore.ts
  electron/test/services/cloud/secrets/SafeStorageSecretStore.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Restore HTTP monitor body responses
  electron/services/monitoring/shared/httpMonitorCore.ts
  electron/test/services/monitoring/HttpJsonMonitor.test.ts
  electron/test/services/monitoring/HttpKeywordMonitor.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Surface backup save rollback failures
  electron/services/database/DataBackupService.ts
  electron/test/utils/database/DataBackupService.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Surface filesystem upload rollback failures
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/test/services/cloud/FilesystemCloudStorageProvider.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Log backup temp cleanup failures
  electron/services/database/DataBackupService.ts
  electron/test/utils/database/DataBackupService.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Surface database rollback failures
  electron/services/database/DatabaseService.ts
  electron/test/services/database/DatabaseService.simple.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden backup result filename schemas
  shared/test/validation/dataSchemas.test.ts
  shared/validation/dataSchemas.ts
Due: typescript-check

🛠️ [fix] Clear Dropbox tokens after revoke
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
  electron/test/services/cloud/providers/dropbox/DropboxTokenManager.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Randomize database restore staging paths
  electron/services/database/dataBackupService/replaceDatabaseFile.ts
  electron/test/services/database/dataBackupService/replaceDatabaseFile.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Log invalid encryption key cleanup failures
  electron/services/cloud/internal/derivedEncryptionKeyState.ts
  electron/test/services/cloud/internal/derivedEncryptionKeyState.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Require exact sync op key ranges
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Log sync cleanup delete failures
  electron/services/sync/SyncEngine.ts
  electron/test/services/sync/SyncEngine.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Preserve undefined sync map results
  electron/services/sync/syncEngineUtils.ts
  electron/test/services/sync/syncEngineUtils.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Ignore invalid monitor timeout signals
  electron/services/monitoring/shared/abortSignalUtils.ts
  electron/test/services/monitoring/shared/abortSignalUtils.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Log undecryptable secret cleanup failures
  electron/services/cloud/secrets/SecretStore.ts
  electron/test/services/cloud/secrets/SafeStorageSecretStore.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Bound cloud backup metadata sidecars
  electron/services/cloud/providers/CloudBackupMetadataFile.ts
  electron/services/cloud/providers/cloudBackupListing.ts
  electron/test/services/cloud/providers/CloudBackupMetadataFile.test.ts
  electron/test/services/cloud/providers/cloudBackupListing.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid monitor path accessor execution
  electron/services/monitoring/shared/monitorPathTraversal.ts
  electron/test/services/monitoring/shared/monitorPathTraversal.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden forwarded event metadata reads
  electron/services/ServiceContainerEventForwarder.ts
  electron/test/services/ServiceContainer.working.test.ts
  electron/utils/eventMetadataForwarding.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor reads during object inspection
  electron/events/middleware.ts
  electron/test/middleware.test.ts
  shared/test/utils/objectIntrospection.test.ts
  shared/utils/objectIntrospection.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor reads during error serialization
  shared/test/utils/errorSerialization.test.ts
  shared/utils/errorSerialization.ts
Due: typescript-check

🛠️ [fix] Avoid accessor reads during log normalization
  shared/test/utils/loggingContext.test.ts
  shared/utils/loggingContext.ts
Due: typescript-check

🛠️ [fix] Avoid accessor reads in safe object helpers
  shared/test/utils/objectSafety.test.ts
  shared/utils/objectSafety.ts
Due: typescript-check

🛠️ [fix] Avoid accessor reads in logger error causes
  shared/test/strictTests/loggerCommon-complete-coverage.test.ts
  shared/utils/logger/common.ts
Due: typescript-check

🛠️ [fix] Avoid accessor reads in external error causes
  electron/services/shell/validatedExternalOpen.ts
  src/stores/ui/useUiStore.ts
  src/test/stores/ui/useUIStore.input-fuzzing.test.ts
  tests/strictTests/electron/services/shell/validatedExternalOpen.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🛠️ [fix] Avoid accessor reads in preload payload previews
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Avoid accessor reads in user-facing errors
  shared/test/utils/userFacingErrors.test.ts
  shared/utils/userFacingErrors.ts
Due: typescript-check

🛠️ [fix] Avoid accessor reads in service validation
  src/services/utils/validation.ts
  src/test/services/utils/validation.test.ts
Due: typescript-check, vite-build-check
