Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$


🧪 [test] Retire renderer utility test scaffolding
  src/test/App.status-update-logging.test.tsx
  src/test/mock-test.test.tsx
  src/test/utils/environment.basic.test.ts
  src/test/utils/typeGuards.basic.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Replace copied Settings invalid-key tests
  src/test/Settings.invalid-key-logging.test.tsx
  src/test/Settings.invalid-key.test.tsx
  src/test/strictTests/settings/settingsHooks.behavior.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Remove synthetic Settings coverage tests
  src/test/components/Settings.comprehensive.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Rename App shell behavior suite
  src/test/App.shell-behavior.test.tsx
Due: typescript-check, vite-build-check

🧪 [test] Rename log template behavior suite
  src/test/logTemplates.behavior.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Rename abort utility behavior suite
  src/test/abortUtils.behavior.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Remove duplicate useTheme smoke coverage
  src/test/theme/useTheme.basic.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Rename mocked useTheme behavior suite
  src/test/theme/useTheme.mocked-behavior.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Clean property test runtime casts
  src/test/utils/monitorTitleFormatters.property.test.ts
  src/test/utils/timeoutUtils.property.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Clean generated test headers
  electron/test/eventTypes.test.ts
  electron/test/events/TypedEventBus.test.ts
  electron/test/utils.test.ts
  shared/test/validatorUtils.property.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Normalize Electron test headers
  electron/test/constants.comprehensive.test.ts
  electron/test/electronUtils.test.ts
  electron/test/managers/MonitorManager.test.ts
  electron/test/managers/SiteManager.test.ts
  electron/test/services/database/HistoryRepository.test.ts
  electron/test/services/database/MonitorRepository.test.ts
  electron/test/services/database/SettingsRepository.test.ts
  electron/test/services/database/SiteRepository.test.ts
  electron/test/services/factories/DatabaseServiceFactory.test.ts
  electron/test/services/ipc/types.test.ts
  electron/test/services/ipc/validatorComposition.test.ts
  electron/test/services/monitoring/HttpMonitor.httpbin.test.ts
  electron/test/services/monitoring/utils/httpStatusUtils.test.ts
  electron/test/services/monitoring/utils/portChecker.test.ts
  electron/test/services/monitoring/utils/portErrorHandling.comprehensive.test.ts
  electron/test/services/monitoring/utils/portRetry.test.ts
  electron/test/utils/correlation.test.ts
  electron/test/utils/database/DataBackupService.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Remove electron utils app casts
  electron/test/electronUtils.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Remove validation utility casts
  electron/test/validationUtils.test.ts
Due: typescript-check, typescript-check-electron

🧪 [test] Remove monitor selector event casts
  src/test/components/Dashboard/SiteCard/SiteCardHeader.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCompactCard.test.tsx
Due: typescript-check, vite-build-check

🧪 [test] Use typed help text monitor values
  src/test/hooks/useDynamicHelpText.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Remove monitoring URL casts
  src/test/utils/monitoring/dataValidation.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Accept null response times
  src/test/utils/time.property.test.ts
  src/test/utils/time.test.ts
  src/utils/time.ts
Due: typescript-check, vite-build-check

🧪 [test] Remove shared type guard casts
  shared/test/types.main-functions.test.ts
Due: typescript-check

🧪 [test] Remove shared type test casts
  shared/test/types.comprehensive.test.ts
  shared/test/types.test.ts
Due: typescript-check

🧪 [test] Type shared monitor fixtures
  shared/test/types.comprehensive.test.ts
  shared/test/types.test.ts
Due: typescript-check

🧪 [test] Type shared main monitor fixtures
  shared/test/types.main-functions.test.ts
Due: typescript-check

🛠️ [fix] Accept unknown row property input
  shared/test/types/database-additional.test.ts
  shared/test/types/validation.comprehensive.test.ts
  shared/types/database.ts
Due: typescript-check

🧪 [test] Type shared utility edge fixtures
  shared/test/fuzzing/stringConversion.edge-cases.fuzz.test.ts
  shared/test/fuzzing/stringConversion.fuzz.test.ts
  shared/test/utils/errorCatalog.comprehensive.test.ts
  shared/test/utils/stringConversion.comprehensive.test.ts
  shared/test/utils/stringConversion.property.test.ts
Due: typescript-check

🧪 [test] Type shared fast-check monitor inputs
  shared/test/types.fast-check-comprehensive.test.ts
Due: typescript-check

🧪 [test] Type validation helper overrides
  shared/test/validation/schemas.test.ts
  shared/test/validation/testHelpers.comprehensive.test.ts
  shared/test/validation/testHelpers.ts
Due: typescript-check

🧪 [test] Type object safety assertions
  shared/test/utils/objectSafety.comprehensive.test.ts
  shared/test/utils/objectSafety.test.ts
Due: typescript-check

🧪 [test] Type site snapshot invalid fixtures
  shared/test/utils/siteSnapshots.comprehensive.test.ts
Due: typescript-check

🧪 [test] Avoid cache config mutation casts
  shared/test/constants/cacheConfig.fuzz.test.ts
Due: typescript-check

🧪 [test] Type type-helper fuzz validator
  shared/test/fuzzing/typeHelpers.fuzz.test.ts
Due: typescript-check

🧪 [test] Type site status fuzz invalid inputs
  shared/test/fuzzing/siteStatus.fuzz.test.ts
Due: typescript-check

🧪 [test] Type cache key prefix filtering
  shared/test/utils/cacheKeys.fuzz.test.ts
Due: typescript-check

🧹 [chore] Remove stale shared test reporter comments
  shared/test/setup.ts
Due: typescript-check

🧪 [test] Tighten shared error utility tests
  shared/test/fuzzing/errorCatalog.fuzz.test.ts
  shared/test/utils/environment.property.fuzz.test.ts
  shared/test/utils/errorHandling.comprehensive.test.ts
  shared/test/utils/errorHandling.test.ts
Due: typescript-check

🧪 [test] Consolidate shared error fuzz coverage
  shared/test/fuzzing/errorFuzzing.test.ts
  shared/test/fuzzing/errorHandling.fuzz.test.ts
Due: typescript-check

🧹 [chore] Remove stale test reporter scaffolding
  electron/test/setup.ts
  src/test/dom-setup.ts
  src/test/global-setup.ts
  src/test/mock-setup.ts
  src/test/setup.ts
  src/test/vitest-context-setup.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🧪 [test] Type the frontend logger fixture
  src/test/logger.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Tighten renderer IPC fuzz validation
  src/test/ipc/ipc.comprehensive-fuzzing.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Remove misplaced renderer event bus suites
  docs/Architecture/TYPING_AUDIT_HISTORY.md
  src/test/events/event-system.comprehensive-fuzzing.test.ts
  src/test/events/events.comprehensive-fuzzing.test.ts
Due: typescript-check, vite-build-check

🧪 [test] Type site card presentation mocks
  src/test/SiteCardMetrics.test.tsx
  src/test/SiteCardStatus.test.tsx
Due: typescript-check, vite-build-check

🧪 [test] Type dashboard site card fixtures
  src/test/components/Dashboard/SiteCard/SiteCardHeader.test.tsx
  src/test/components/Dashboard/SiteCard/SiteCompactCard.test.tsx
Due: typescript-check, vite-build-check
