Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

typescript-check:
  name: 🔍 typescript · Type check all files
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false
  require_serial: true

typescript-check-electron:
  name: 🔍 electron · Type check electron files
  entry: npx tsc
  language: node
  args:
  - --project
  - tsconfig.electron.json
  - --noEmit
  pass_filenames: false
  require_serial: true

vite-build-check:
  name: ⚡ vite · Validate build configuration
  entry: npx vite
  language: node
  args:
  - build
  - --mode
  - development
  - --emptyOutDir
  - 'false'
  pass_filenames: false
  require_serial: true

package-scripts-check:
  name: 📦 npm · Validate package.json scripts
  entry: node
  language: node
  args:
  - -e
  - const pkg = require('./package.json'); console.log('✅ Package.json is valid')
  pass_filenames: false

🛠️ [fix] Normalize Dropbox token expiry descriptor-safely
  electron/services/cloud/providers/dropbox/DropboxTokenManager.ts
  electron/test/services/cloud/providers/dropbox/DropboxTokenManager.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Clone normalized monitor dates safely
  src/stores/sites/utils/monitorOperations.normalize.ts
  src/test/monitorOperations.test.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Avoid prototype string conversion for primitives
  electron/events/middleware.ts
  electron/test/events/middleware.test.ts
  shared/test/utils/stringConversion.comprehensive.test.ts
  shared/utils/stringConversion.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Normalize abort primitive reasons safely
  shared/test/utils/abortUtils.function-coverage.test.ts
  shared/utils/abortUtils.ts
Due: typescript-check

🛠️ [fix] Export database primitives descriptor-safely
  electron/services/database/DataImportExportService.ts
  electron/test/utils/database/DataImportExportService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Preview preload bigint values safely
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Summarize state sync symbol keys safely
  src/services/StateSyncService.ts
  src/test/services/StateSyncService.comprehensive.test.ts
Due: typescript-check, vite-build-check

🚜 [refactor] Remove redundant theme key coercion
  src/theme/ThemeManager.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Serialize logging URLs with captured prototypes
  shared/test/utils/loggingContext.test.ts
  shared/utils/loggingContext.ts
Due: typescript-check

🛠️ [fix] Persist history limits without prototype stringification
  electron/services/database/historyLimitManager.ts
  electron/test/utils/database/historyLimitManager.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Keep DNS ANY parsing tolerant
  electron/services/monitoring/utils/dnsRecordParsing.ts
  electron/test/services/monitoring/dnsRecordParsing.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Stabilize JSON byte budget primitives
  shared/test/utils/jsonByteBudget.test.ts
  shared/utils/jsonByteBudget.ts
Due: typescript-check

🛠️ [fix] Stabilize preload preview primitives
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Stabilize preload collection sizes
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Stabilize preload collection iteration
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Stabilize preload binary preview sizes
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Stabilize JSON byte budget view sizes
  shared/test/utils/jsonByteBudget.test.ts
  shared/utils/jsonByteBudget.ts
Due: typescript-check

🛠️ [fix] Stabilize native Date helpers
  shared/test/utils/nativeDate.test.ts
  shared/utils/nativeDate.ts
Due: typescript-check

🛠️ [fix] Harden ArrayBuffer IPC validation
  shared/test/utils/nativeArrayBuffer.test.ts
  shared/test/validation/dataSchemas.test.ts
  shared/utils/ipcPayloadBudgets.ts
  shared/utils/nativeArrayBuffer.ts
  shared/validation/dataSchemas.ts
Due: typescript-check

🛠️ [fix] Stabilize backup byte validation
  src/test/utils/serializedBackupResult.test.ts
  src/utils/downloads/serializedBackupResult.ts
Due: typescript-check, vite-build-check

🛠️ [fix] Stabilize ArrayBuffer log summaries
  shared/test/utils/loggingContext.test.ts
  shared/utils/loggingContext.ts
Due: typescript-check

🛠️ [fix] Stabilize collection log summaries
  shared/test/utils/loggingContext.test.ts
  shared/utils/loggingContext.ts
Due: typescript-check

🛠️ [fix] Harden native Date guard receivers
  shared/test/strictTests/typeGuards-complete-coverage.test.ts
  shared/test/utils/nativeDate.test.ts
  shared/utils/nativeDate.ts
Due: typescript-check

🛠️ [fix] Keep omitted object copies enumerable
  shared/test/utils/objectSafety.comprehensive.test.ts
  shared/test/utils/objectSafety.test.ts
  shared/utils/objectSafety.ts
Due: typescript-check

🛠️ [fix] Reject non-record sync dictionaries
  shared/test/validation/ownDataRecordSchema.test.ts
  shared/validation/ownDataRecordSchema.ts
Due: typescript-check

🛠️ [fix] Harden sync manifest device maps
  shared/test/types/cloudSyncManifest.test.ts
  shared/types/cloudSyncManifest.ts
Due: typescript-check

🛠️ [fix] Harden import export settings maps
  shared/test/validation/importExportSchemas.test.ts
  shared/validation/importExportSchemas.ts
Due: typescript-check

🛠️ [fix] Harden validation result metadata
  shared/test/validation/dataSchemas.test.ts
  shared/validation/dataSchemas.ts
Due: typescript-check

🛠️ [fix] Align validation metadata guards
  shared/test/types/validation.test.ts
  shared/types/validation.ts
Due: typescript-check

🛠️ [fix] Sanitize IPC record parameters
  electron/services/ipc/validators/utils/recordValidation.ts
  electron/test/services/ipc/validators/recordValidation.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Reject exotic preload event records
  electron/preload/utils/eventsGuardHelpers.ts
  electron/test/preload/domains/eventsApi.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden diagnostics report normalization
  electron/services/ipc/handlers/diagnosticsHandlers.ts
  electron/test/services/ipc/diagnosticsHandlers.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Sanitize notification IPC payloads
  electron/services/ipc/validators/utils/notificationValidation.ts
  electron/test/services/ipc/validators/notificationValidation.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Centralize plain IPC record checks
  electron/preload/utils/eventsGuardHelpers.ts
  electron/services/ipc/validators/utils/recordValidation.ts
  shared/test/types/ipc.test.ts
  shared/test/utils/ipcResponse.test.ts
  shared/test/utils/typeHelpers.test.ts
  shared/types/ipc.ts
  shared/utils/ipcResponse.ts
  shared/utils/typeHelpers.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden monitor type IPC payload handling
  electron/services/ipc/handlers/monitorTypeHandlers.ts
  electron/test/services/ipc/monitorTypeHandlers.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden HTTP client dynamic property reads
  electron/services/monitoring/utils/httpClient.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Harden Dropbox retry header reads
  electron/services/cloud/providers/dropbox/dropboxRetry.ts
  electron/test/services/cloud/providers/dropbox/dropboxRetry.test.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Clear aggregate lint gate regressions
  electron/services/ipc/handlers/monitorTypeHandlers.ts
  electron/test/services/cloud/providers/dropbox/dropboxRetry.test.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
  shared/utils/loggingContext.ts
  shared/utils/objectCreation.ts
  shared/utils/objectSafety.ts
Due: typescript-check, typescript-check-electron

🧹 [chore] Privatize IPC record validation helper
  electron/services/ipc/validators/utils/recordValidation.ts
Due: typescript-check, typescript-check-electron

🛠️ [fix] Stabilize log redaction test gates
  electron/test/services/monitoring/utils/pingErrorHandling.test.ts
  shared/test/strictTests/loggerCommon-complete-coverage.test.ts
  shared/test/utils/loggingContext.test.ts
  shared/test/utils/safeConversions.property.test.ts
  shared/test/utils/stringConversion-complete-coverage.test.ts
  shared/utils/loggingContext.ts
  src/services/logger.ts
  src/test/ThemeManager.test.ts
  src/test/components/SiteDetails/SiteDetails.comprehensive.test.tsx
  src/test/dom-setup.ts
  src/test/hooks/useMonitorTypes.test.ts
  src/test/hooks/useThemeStyles.test.ts
  src/test/logger.test.ts
  src/test/setup.ts
  src/test/theme/ThemeManager.comprehensive.test.ts
  src/test/theme/useTheme.complete-coverage.test.ts
  src/test/theme/useTheme.unmocked.test.ts
  src/test/useThemeStyles.comprehensive.test.ts
  src/test/utils/jsonSafety.advanced-fuzzing.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

