Repository Nick2bad4u/Uptime-Watcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, typescript-check-electron, vite-build-check, package-scripts-check

typescript-check:
  name: 🔍 typescript · Type check all files
  entry: npx tsc
  language: node
  args:
  - --noEmit
  pass_filenames: false
  require_serial: true

typescript-check-electron:
  name: 🔍 electron · Type check electron files
  entry: npx tsc
  language: node
  args:
  - --project
  - tsconfig.electron.json
  - --noEmit
  pass_filenames: false
  require_serial: true

vite-build-check:
  name: ⚡ vite · Validate build configuration
  entry: npx vite
  language: node
  args:
  - build
  - --mode
  - development
  - --emptyOutDir
  - 'false'
  pass_filenames: false
  require_serial: true

package-scripts-check:
  name: 📦 npm · Validate package.json scripts
  entry: node
  language: node
  args:
  - -e
  - const pkg = require('./package.json'); console.log('✅ Package.json is valid')
  pass_filenames: false

🛡️ [fix] Validate history limit selects
  src/components/Settings/useSettingsController.tsx
  src/components/SiteDetails/tabs/HistoryTab.tsx
  src/test/components/Settings/Settings.test.tsx
  src/test/components/SiteDetails/tabs/HistoryTab.comprehensive.test.tsx
Due: typescript-check, vite-build-check

🛡️ [fix] Sanitize analytics history records
  src/hooks/site/useSiteAnalytics.ts
  src/test/useSiteAnalytics.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Bound snapshot last checked dates
  shared/test/utils/siteSnapshots.comprehensive.test.ts
  shared/utils/siteSnapshots.ts
Due: typescript-check

🛡️ [fix] Validate SQLite restore payloads
  electron/services/ipc/validators/shared.ts
  shared/constants/backup.ts
  shared/test/validation/dataSchemas.test.ts
  shared/validation/dataSchemas.ts
  src/services/DataService.ts
  src/test/services/DataService.ipcBudgets.test.ts
Due: typescript-check, typescript-check-electron, vite-build-check

🛡️ [fix] Bound cloud sync operation uploads
  electron/services/sync/ProviderCloudSyncTransport.ts
  electron/test/services/sync/ProviderCloudSyncTransport.limits.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Decode cloud backup metadata strictly
  electron/services/cloud/providers/CloudBackupMetadataFile.ts
  electron/test/services/cloud/providers/CloudBackupMetadataFile.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Reject malformed monitor path indices
  electron/services/monitoring/shared/monitorPathTraversal.ts
  electron/test/services/monitoring/shared/monitorPathTraversal.test.ts
Due: typescript-check, typescript-check-electron

✅ [test] Preserve HTTP monitor helper exports
  electron/test/services/monitoring/HttpHeaderMonitor.test.ts
  electron/test/services/monitoring/HttpJsonMonitor.test.ts
  electron/test/services/monitoring/HttpKeywordMonitor.test.ts
  electron/test/services/monitoring/HttpLatencyMonitor.test.ts
  electron/test/services/monitoring/HttpStatusMonitor.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Validate stored secret base64
  electron/services/cloud/secrets/SecretStore.ts
  electron/test/services/cloud/secrets/SafeStorageSecretStore.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Refuse symlinked lock recovery dirs
  electron/services/database/utils/maintenance/databaseLockRecovery.ts
  electron/test/services/database/utils/databaseLockRecovery.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Enforce SQLite backup extensions
  electron/services/ipc/internal/sqliteBackupPath.ts
  electron/test/services/ipc/internal/sqliteBackupPath.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Sanitize backup download filenames
  src/stores/sites/utils/fileDownload.ts
  src/test/utils/fileDownload.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Bound HTTP monitor env tunables
  electron/services/monitoring/utils/httpClient.ts
  electron/test/services/monitoring/utils/httpClient.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Bound OAuth callback error details
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/test/services/cloud/oauth/LoopbackOAuthServer.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Bound stored OAuth token JSON
  electron/services/cloud/providers/oauthStoredTokens.ts
  electron/test/services/cloud/providers/oauthStoredTokens.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Bound Google OAuth error details
  electron/services/cloud/providers/googleDrive/googleDriveOAuthTokenRequest.ts
  electron/test/services/cloud/providers/googleDrive/GoogleDriveTokenManager.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Bound Dropbox error summaries
  electron/services/cloud/providers/dropbox/dropboxErrorSchemas.ts
  electron/test/services/cloud/providers/dropbox/DropboxCloudStorageProvider.test.ts
Due: typescript-check, typescript-check-electron

♻️ [refactor] Centralize user-facing error detail sanitizing
  electron/services/cloud/oauth/LoopbackOAuthServer.ts
  electron/services/cloud/providers/dropbox/dropboxErrorSchemas.ts
  electron/services/cloud/providers/googleDrive/googleDriveOAuthTokenRequest.ts
  shared/test/utils/userFacingErrors.test.ts
  shared/utils/userFacingErrors.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Sanitize Dropbox fallback errors
  electron/services/cloud/providers/dropbox/DropboxCloudStorageProvider.ts
  electron/test/services/cloud/providers/dropbox/DropboxCloudStorageProvider.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Sanitize error fallback details
  src/components/error/DefaultErrorFallback.tsx
  src/test/components/error/DefaultErrorFallback.comprehensive.test.tsx
Due: typescript-check, vite-build-check

🛡️ [fix] Sanitize cloud status errors
  electron/services/cloud/internal/CloudStatusBuilders.ts
  electron/test/services/cloud/internal/CloudStatusBuilders.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Sanitize cloud maintenance failures
  electron/services/cloud/migrations/backupMigration.ts
  electron/services/cloud/migrations/backupMigrationHelpers.ts
  electron/services/cloud/migrations/syncReset.ts
  electron/test/services/cloud/migrations/backupMigration.test.ts
  electron/test/services/cloud/migrations/backupMigrationHelpers.test.ts
  electron/test/services/cloud/migrations/syncReset.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Sanitize update error state
  src/stores/updates/useUpdatesStore.ts
  src/test/useUpdatesStore.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Sanitize status subscription errors
  src/stores/sites/utils/statusUpdateSubscriptionSummary.ts
  src/test/stores/sites/utils/statusUpdateSubscriptionSummary.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Sanitize central error store messages
  src/stores/error/useErrorStore.ts
  src/test/stores/error/useErrorStore.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Sanitize toast detail messages
  src/stores/alerts/useAlertStore.ts
  src/test/stores/alerts/useAlertStore.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Sanitize cloud notification bodies
  src/stores/cloud/utils/cloudStoreNotifications.ts
  src/test/stores/cloud/cloudStoreNotifications.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Sanitize OS notification text
  electron/services/notifications/NotificationService.ts
  electron/test/services/notifications/NotificationService.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Sanitize site loading failures
  electron/managers/DatabaseManager.ts
  electron/services/database/SiteRepositoryService.ts
  electron/test/managers/DatabaseManager.comprehensive.test.ts
  electron/test/utils/database/SiteRepositoryService.comprehensive.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Harden backup save destinations
  electron/services/database/DataBackupService.ts
  electron/test/utils/database/DataBackupService.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Harden filesystem cloud uploads
  electron/services/cloud/providers/FilesystemCloudStorageProvider.ts
  electron/test/services/cloud/FilesystemCloudStorageProvider.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Sanitize persisted cloud errors
  electron/services/cloud/internal/CloudStatusBuilders.ts
  electron/services/cloud/internal/cloudServiceSettings.ts
  electron/test/services/cloud/internal/CloudStatusBuilders.test.ts
  electron/test/services/cloud/internal/cloudServiceSettings.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Bound preload diagnostics fields
  electron/services/ipc/diagnosticsLimits.ts
  electron/services/ipc/handlers/diagnosticsHandlers.ts
  electron/services/ipc/validators/shared.ts
  electron/services/ipc/validators/utils/guardReportValidation.ts
  electron/test/services/ipc/diagnosticsHandlers.test.ts
  electron/test/services/ipc/validators/guardReportValidation.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Sanitize renderer validation diagnostics
  src/services/utils/validation.ts
  src/test/services/utils/validation.test.ts
Due: typescript-check, vite-build-check

🛡️ [fix] Sanitize serialized error metadata
  shared/test/utils/errorSerialization.test.ts
  shared/utils/errorSerialization.ts
Due: typescript-check

🛡️ [fix] Sanitize preload payload previews
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Redact preload map preview values
  electron/preload/utils/preloadLogger.ts
  electron/test/preload/utils/preloadLogger.test.ts
Due: typescript-check, typescript-check-electron

🛡️ [fix] Sanitize shared error conversion
  shared/test/fuzzing/errorHandling.fuzz.test.ts
  shared/test/strictTests/errorHandling-complete-coverage.test.ts
  shared/utils/errorHandling.ts
Due: typescript-check

🛡️ [fix] Sanitize fallback console error logs
  shared/test/fuzzing/errorHandling.fuzz.test.ts
  shared/test/strictTests/errorHandling-complete-coverage.test.ts
  shared/test/utils/errorHandling.comprehensive.test.ts
  shared/utils/errorHandling.ts
Due: typescript-check

🛡️ [fix] Sanitize cloud diagnostics output
  src/components/Settings/cloud/SyncMaintenancePanel.utils.ts
  src/test/components/Settings/cloud/SyncMaintenancePanel.test.tsx
Due: typescript-check, vite-build-check

Path conditions:
  typescript-check: any of: \.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  typescript-check-electron: any of: ^electron/.*\.(ts|tsx)$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  vite-build-check: any of: ^(src/|vite\.config\.|tsconfig\.json|package\.json), but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

  package-scripts-check: any of: ^package\.json$, but not: (?x)^(
    node_modules/.*|        # Dependencies
    dist/.*|               # Build output (Vite)
    dist-electron/.*|      # Electron build output
    coverage/.*|           # Test coverage reports
    \.git/.*|              # Git internals
    .*\.min\.(js|css)$|    # Minified files
    .*\.(map|d\.ts)$|      # Source maps and type definitions
    .*\.wasm$|             # WebAssembly files
    .*\.snap$|             # Jest snapshots
    .*\.log$|              # Log files
    release/.*|            # Release artifacts
    html/.*|               # Generated HTML
    docs/.*\.md$|          # Documentation files (handled separately)
    \.vscode/.*|           # VS Code settings
    \.cache/.*|            # Various cache directories
    .*/cache/.*|           # Any cache subdirectories
)$

